.icons-here .icons {background:url(images/inviter-icons.jpg) 0 0 no-repeat;}
.icons-here .icons, .icons-here {height:80px; width:80px;}
.icons-here {margin: 0 auto;}
.icons-here .abv {background-position:left top;}
.icons-here .aol {background-position:-80px top;}
.icons-here .apropo {background-position:-160px top;}
.icons-here .atlas {background-position:-240px top;}
.icons-here .aussiemail  {background-position:-320px top;}
.icons-here .azet {background-position:-400px top;} 
.icons-here .badoo {background-position:-480px top;}

.icons-here .bebo {background-position:left -80px;}
.icons-here .bigstring {background-position:-80px -80px;}
.icons-here .bookcrossing {background-position:-160px -80px;}
.icons-here .bordermail {background-position:-240px -80px;}
.icons-here .brazencareerist {background-position:-320px -80px;}
.icons-here .canoe {background-position:-400px -80px;}
.icons-here .care2 {background-position:-480px -80px;}

.icons-here .clevergo {background-position:left -160px;}
.icons-here .cyworld {background-position:-80px -160px;}
.icons-here .doramail {background-position:-160px -160px;} 
.icons-here .eons {background-position:-240px -160px;}
.icons-here .evite {background-position:-320px -160px;}
.icons-here .facebook {background-position:-400px -160px;}
.icons-here .faces {background-position:-480px -160px;}

.icons-here .famiva {background-position:left -240px;}
.icons-here .fastmail {background-position:-80px -240px;}
.icons-here .fdcareer {background-position:-160px -240px;}
.icons-here .flickr {background-position:-240px -240px;}
.icons-here .flingr {background-position:-320px -240px;}
.icons-here .flixster {background-position:-400px -240px;}
.icons-here .fm5 {background-position:-480px -240px;}

.icons-here .freemail {background-position:left -320px;}
.icons-here .friendfeed {background-position:-80px -320px;}
.icons-here .friendster {background-position:-160px -320px;}
.icons-here .gawab {background-position:-240px -320px;}
.icons-here .gmail {background-position:-320px -320px;}
.icons-here .gmx_net {background-position:-400px -320px;}
.icons-here .graffiti {background-position:-480px -320px;}

.icons-here .hi5 {background-position:left -400px;}
.icons-here .hotmail {background-position:-80px -400px;}
.icons-here .hushmail {background-position:-160px -400px;}
.icons-here .hyves {background-position:-240px -400px;}
.icons-here .inbox {background-position:-320px -400px;}
.icons-here .india {background-position:-400px -400px;}
.icons-here .indiatimes {background-position:-480px -400px;}

.icons-here .inet {background-position:left -480px;}
.icons-here .interia {background-position:-80px -480px;}
.icons-here .katamail {background-position:-160px -480px;}
.icons-here .kids {background-position:-240px -480px;}
.icons-here .kincafe {background-position:-320px -480px;}
.icons-here .konnects {background-position:-400px -480px;}
.icons-here .koolro {background-position:-480px -480px;}

.icons-here .lastfm {background-position:left -560px;}
.icons-here .libero {background-position:-80px -560px;}
.icons-here .linkedin {background-position:-160px -560px;}
.icons-here .livejournal {background-position:-240px -560px;}
.icons-here .lovento {background-position:-320px -560px;}
.icons-here .lycos {background-position:-400px -560px;}
.icons-here .mail2world {background-position:-480px -560px;}

.icons-here .mail_com {background-position:left -640px;}
.icons-here .mail_in {background-position:-80px -640px;}
.icons-here .mail_ru {background-position:-160px -640px;}
.icons-here .meinvz {background-position:-240px -640px;}
.icons-here .meta {background-position:-320px -640px;}
.icons-here .mevio {background-position:-400px -640px;}
.icons-here .motortopia {background-position:-480px -640px;}

.icons-here .msn {background-position:left -720px;}
.icons-here .multiply {background-position:-80px -720px;}
.icons-here .mycatspace {background-position:-160px -720px;}
.icons-here .mydogspace {background-position:-240px -720px;}
.icons-here .mynet {background-position:-320px -720px;}
.icons-here .myspace {background-position:-400px -720px;}
.icons-here .netaddress {background-position:-480px -720px;}

.icons-here .netlog {background-position:left -800px;}
.icons-here .ning {background-position:-80px -800px;}
.icons-here .nz11 {background-position:-160px -800px;}
.icons-here .o2 {background-position:-240px -800px;}
.icons-here .operamail {background-position:-320px -800px;}
.icons-here .orkut {background-position:-400px -800px;}
.icons-here .perfspot {background-position:-480px -800px;}

.icons-here .plaxo {background-position:left -880px;}
.icons-here .plazes {background-position:-80px -880px;}
.icons-here .plurk {background-position:-160px -880px;}
.icons-here .pochta {background-position:-240px -880px;}
.icons-here .popstarmail {background-position:-320px -880px;}
.icons-here .rambler {background-position:-400px -880px;}
.icons-here .rediff {background-position:-480px -880px;}

.icons-here .sapo {background-position:left -960px;}
.icons-here .skyrock {background-position:-80px -960px;}
.icons-here .tagged {background-position:-160px -960px;}
.icons-here .techemail {background-position:-240px -960px;}
.icons-here .terra {background-position:-320px -960px;}
.icons-here .twitter {background-position:-400px -960px;}
.icons-here .uk2 {background-position:-480px -960px;}

.icons-here .vimeo {background-position:left -1040px;}
.icons-here .virgilio {background-position:-80px -1040px;}
.icons-here .vkontakte {background-position:-160px -1040px;}
.icons-here .walla {background-position:-240px -1040px;}
.icons-here .web_de {background-position:-320px -1040px;}
.icons-here .wpl {background-position:-400px -1040px;}
.icons-here .xanga {background-position:-480px -1040px;}

.icons-here .xing {background-position:left -1120px;}
.icons-here .xuqa {background-position:-80px -1120px;}
.icons-here .yahoo {background-position:-160px -1120px;}
.icons-here .yandex {background-position:-240px -1120px;}
.icons-here .youtube {background-position:-320px -1120px;}
.icons-here .zapak {background-position:-400px -1120px;}

