
<?php
$_discountOffer = $this->getAttribute($this->getCategory()->getDiscountOffer());
//$_discountOffer = $this->getAttribute('clothing_discount_offer');
$_stylistPicks = $this->getAttribute($this->getCategory()->getStylistPicks());
//$_stylistPicks = $this->getAttribute('clothing_stylist_picks');
?>
<?php ?>

<div class="itemMenu level1">
    <a class="itemMenuName level1" href="javascript:void(0)">
        <span><?php echo $this->__('Discount & Offers')?></span>
    </a>
    <div class="itemSubMenu level1">
        <div class="itemMenu level2">
            <?php if ($_discountOffer): ?>
            <?php foreach ($_discountOffer->getSource()->getAllOptions() as $_option): ?>
            <a class="itemMenuName level2" href="<?php echo $this->getCategory()->getUrl() . '?' . $_discountOffer->getAttributeCode() . '=' . $_option['value']?>"><span><?php echo $this->__($_option['label'])?></span></a>
            <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>

    <a class="itemMenuName level1" href="javascript:void(0)">
        <span><?php echo $this->__('Stylist Picks')?></span>
    </a>
    <div class="itemSubMenu level1">
        <div class="itemMenu level2">
             <?php if ($_stylistPicks): ?>
            <?php foreach ($_stylistPicks->getSource()->getAllOptions() as $_option): ?>
            <a class="itemMenuName level2" href="<?php echo $this->getCategory()->getUrl() . '?' . $_stylistPicks->getAttributeCode() . '=' . $_option['value']?>"><span><?php echo $this->__($_option['label'])?></span></a>
            <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
