<?php $currentCategory = Mage::registry('current_category'); ?>
<?php $subCategory = array(); ?>
<div class="menu-featured-container">
    <div class="sub-menu-first">
        <ul>
            <?php foreach($currentCategory->getChildrenCategories() as $subCates): ?>
                <li><a class="mn-<?php echo $subCates->getId() ?>" href="javascript:void(0);" onclick="showProduct(<?php echo $subCates->getId(); ?>);showSubMenu(<?php echo $subCates->getId(); ?>);" ><?php echo $subCates->getName(); ?></a></li>
                <?php array_push($subCategory, $subCates) ?>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="sub-menu-second">
        <ul class="mnu-list">
        <?php foreach($subCategory as $_subCate): ?>
            <li>
                <div class="specified-sub-menu" id="menu-<?php echo $_subCate->getId(); ?>">
                <?php
                    $_colour_area = $this->getColourArea($_subCate->getId());
                    if($_colour_area == "" || $_colour_area == null) $_colour_area = "FFFFFF";

                    $_text_font = $this->getTextFont($_subCate->getId());
                    if($_text_font == "" || $_text_font == null) $_text_font = "Arial";

                    $_text_background = $this->getTextBackground($_subCate->getId());
                    if($_text_background == "" || $_text_background == null) $_text_background = "FFFFFF";

                    $_text_colour = $this->getTextColour($_subCate->getId());
                    if($_text_colour == "" || $_text_colour == null) $_text_colour = "000000";

                    $_image_width = $this->getImageWidth($_subCate->getId());
                    if($_image_width == "" || $_image_width == null) $_image_width = "90";

                    $_image_height = $this->getImageHeight($_subCate->getId());
                    if($_image_height == "" || $_image_height == null) $_image_height = "160";

                ?>
                <style>
                    #menu-<?php echo $_subCate->getId() ?> .sub-menu-third {
                        font-family: <?php echo $_text_font ?>;
                        color: #<?php echo $_text_colour ?>;
                        background-color: #<?php echo $_text_background; ?>
                    }

                    #menu-<?php echo $_subCate->getId() ?> .sub-menu-third p {
                        background-color: #<?php echo $_colour_area ?>;
                    }
                </style>
                <?php foreach($_subCate->getChildrenCategories() as $_subCate_lv2): ?>
                    <div class="sub-menu-third">
                        <p><a href="#f-product-<?php echo $_subCate_lv2->getId() ?>"><?php echo $_subCate_lv2->getName() ?></a></p>
                        <ul>
                            <?php
                            //fashion_jewellery_style
                            //$attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product', 'fashion_jewellery_style');
                            $attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product', str_replace('-', '_', $_subCate_lv2->getUrlKey()) . '_style');
                            if ($attribute->usesSource()) {
                                $options = $attribute->getSource()->getAllOptions(false);

                                foreach($options as $_subCate_lv3): ?>
                                    <li><a href="<?php echo Mage::getBaseUrl(). $currentCategory->getUrlKey().'/'. $_subCate->getUrlKey().'/'. $_subCate_lv2->getUrlKey().'?'.str_replace('-', '_', $_subCate_lv2->getUrlKey()) . '_style'.'='. $_subCate_lv3['value']; ?>"><?php echo $_subCate_lv3['label'] ?></a></li>
                                <?php endforeach;
                            }
                            ?>
                        </ul>
                        <img width=<?php echo $_image_width ?> height=<?php echo $_image_height ?> src="<?php echo Mage::getModel('catalog/category')->load($_subCate_lv2->getId())->getImageUrl()?>" /> <!-- category image -->
                    </div>
                <?php endforeach; ?>
                </div>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
</div>

<script type="text/javascript">
    jQuery('.specified-sub-menu').hide();
    jQuery('.sub-menu-second ul.mnu-list li:first .specified-sub-menu').show();

    function showSubMenu(cateId) {
        var id_name = "#menu-" + cateId;
        jQuery('.specified-sub-menu').hide();
        jQuery(id_name).show();
    }
</script>