
<?php
$_navigationAttr = $this->getAttribute($this->getCategory()->getStyleAttribute());
?>

    <div class="itemMenu level2">
        <?php if ($_navigationAttr): ?>
        <?php foreach ($_navigationAttr->getSource()->getAllOptions() as $_option): ?>
            <a class="itemMenuName level2" href="<?php echo $this->getCategory()->getUrl() . '?' . $_navigationAttr->getAttributeCode() . '=' . $_option['value']?>"><span><?php echo $this->__($_option['label'])?></span></a>
        <?php endforeach; ?>
        <?php endif; ?>
    </div>
