<?php $categoryCollection = $this->getSpecialOfferCategory();
$cat = $this->getRequest()->getParam('cat', 0);
$offerCategories = Mage::helper('catalog/category')->getStoreCategories();
?>

<div class="special-offer-menu">
    <div class="parent-menu">
        <ul>
            <?php foreach($offerCategories as $parentCategory): ?>
                <?php
                $cat = $cat <= 0 ? $parentCategory->getId() : $cat;
                ?>
                    <li>
                        <a <?php echo $cat == $parentCategory->getId() ? 'style="color: #ee3088;"' : '' ?> id="menu-<?php echo $parentCategory->getId() ?>" class="" href="<?php echo Mage::getBaseUrl() . 'special_offer' . '?cat='. $parentCategory->getId(); ?>" ><?php echo $parentCategory->getName() ?></a>
                    </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="child-menu">
        <ul>
        <?php foreach($categoryCollection as $data): ?>
            <?php $parentCategory = $data[0]; $childCategories = $data[1];
            if($parentCategory->getId() == $cat) {?>
            <li id="child-<?php echo $parentCategory->getId() ?>" class="child-cate-list">
                <ul>
                <?php foreach($childCategories as $childCategory): ?>
                    <li>
                        <a href="#special-sub-<?php echo $childCategory->getUrlKey() ?>"><?php echo $childCategory->getName() ?></a>
                    </li>
                <?php endforeach; ?>
                </ul>
            </li>
            <?php } ?>
        <?php endforeach; ?>
        </ul>
    </div>
</div>

<script type="text/javascript">
    jQuery('.child-cate-list').hide();
    jQuery('.child-menu ul li:first').show();

    /*jQuery('.parent-menu a').click(function() {
        jQuery('.parent-menu a').removeClass('active');
        jQuery(this).addClass('active');
    });
*/
    function showChildCates(id) {
        idCatName = "#child-" + id;
        jQuery('.child-cate-list').hide();
        jQuery(idCatName).show();
    }

    function showProduct(id) {
        idProName = "#list-" + id;
        jQuery('.product-review').hide();
        jQuery(idProName).show();
    }


</script>