<?php
$menuData = Mage::helper('custommenu')->getMenuData();
extract($menuData);

// ---
$txtLoading = $this->__('Loading...');
$txtMenu = $this->__('Menu');
$xRtl = $_rtl ? ' rtl' : '';
$menuContent = Mage::helper('custommenu')->getMenuContent();
$_action = $this->getRequest()->getActionName();
$_controller = $this->getRequest()->getControllerName();
$_router = $this->getRequest()->getRouteName();

$_homeClass = '';
if ($_router == 'cms' && $_controller == 'index' && $_action == 'index') {
    $_homeClass = 'act';
}

$_arrivalClass = '';
$_offer = 'act';


?>
<div class="nav-container" id="wp-nav-container">
<div id="custommenu" class="<?php echo $xRtl ?>" style="display:none;">
<?php
$homeLinkUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
if ($_showHomeLink) {
    ?>
    <div class="menu">
        <div class="parentMenu home <?php echo $_homeClass; ?>">
            <a href="<?php echo $homeLinkUrl ?>">
                <span><?php echo $this->__('Home'); ?></span>
            </a>
        </div>
    </div>

<?php
}
?>
<?php
$arrivalId = Mage::getStoreConfig('homepage/header/new_arrival_menu_id');
$arrivalCat = Mage::getModel('catalog/category')->load($arrivalId);
$isActive = '';
if (Mage::app()->getFrontController()->getAction()->getFullActionName() == 'sm_filter_index_index' || in_array($arrivalId, $this->getCurrentCategory()->getPathIds())) {
    $isActive = 'act';
};

?>
<!--Show New Arrivals//////////////////////////////////////////////////////////////-->
<div id="menu_arrivals" class="menu <?php echo $isActive ?>"
     onmouseover="wpShowMenuPopup(this, event, 'popup_arrivals');"
     onmouseout="wpHideMenuPopup(this, event, 'popup_arrivals', 'menu_arrivals')">
    <div class="parentMenu menu1">
        <a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'new_arrival')) ?>" rel="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'new_arrival')) ?>">
            <span><?php echo $this->__('New Arrivals'); ?></span>
        </a>
    </div>
</div>
<!--//////////End Show New Arrivals//////////////////////////////////////////////////////////////-->




<?php
echo($menuContent['topMenu']);

?>
<!--Show The look//////////////////////////////////////////////////////////////-->
<div id="menu_thelook" class="menu <?php echo $isActive ?>">
    <div class="parentMenu menu1">
        <a href="<?php echo Mage::getBaseUrl().'shop-the-look' ?>" rel="<?php echo Mage::getBaseUrl().'shop-the-look' ?>">
            <span><?php echo $this->__('The look'); ?></span>
        </a>
    </div>
</div>
<!--//////////End The look//////////////////////////////////////////////////////////////-->
<?php
$offerId = Mage::getStoreConfig('homepage/header/special_offer_menu_id');
$offerLink = "/special_offer";
//if ($offerId) {
//    $offerLink = Mage::getModel('catalog/category')->load($offerId)->getUrl();
//}
?>
<div id="menu_offers" class="menu  <?php echo $_offer; ?>"
     onmouseover="wpShowMenuPopup(this, event, 'popup_offers');"
     onmouseout="wpHideMenuPopup(this, event, 'popup_offers', 'menu_offers')">
    <div class="parentMenu menu1">
        <a href="<?php echo $offerLink ?>" rel="<?php echo $offerLink ?>">
            <span><?php echo $this->__('Special Offers'); ?></span>
        </a>
    </div>
</div>
<div class="clearBoth"></div>
<?php
echo $menuContent['popupMenu'];
?>
<div id="popup_arrivals" class="wp-custom-menu-popup"
     onmouseout="wpHideMenuPopup(this, event, 'popup_arrivals', 'menu_arrivals')"
     onmouseover="wpPopupOver(this, event, 'popup_arrivals', 'menu_arrivals')"
     style="top: 40px; left: 0px; z-index: 10000; display: none;">
    <div class="popup_arrivals_content">
        <div class="left-column">
            <div class="column first odd">

                <label><?php echo $this->__('New in & Almost gone') ?></label>
                <ul class="first">
                        <li>
                            <a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'new_arrival')) ?>">
                                <?php echo $this->__('NEW ARRIVALS')?>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'back_in_stock')) ?>">
                                <?php echo $this->__('BACK IN STOCK')?>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'coming_soon')) ?>">
                                <?php echo $this->__('COMING SOON')?>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'top_rate')) ?>">
                                <?php echo $this->__('TOP RATED')?>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'almost_gone')) ?>">
                                <?php echo $this->__('ALMOST GONE')?>
                            </a>
                        </li>
                </ul>

                <label><?php echo $this->__('Style of the month') ?></label>
                <ul>
                    <?php
                    $rootCategory = Mage::app()->getStore()->getRootCategoryId();
                    $topCategories = Mage::getModel('catalog/category')->getCategories($rootCategory);
                    foreach ($topCategories as $_category) {
                        $topCategory = Mage::getModel('catalog/category')->load($_category->getId());
                        ?>
                        <li class="top-category-new-arrival" cate_id="<?php echo $topCategory->getId() ?>">
                            <a href="<?php echo $topCategory->getURL() ?>"
                               onmouseover="showImageCate('<?php echo $topCategory->getId() ?>')">
                                <?php echo $topCategory->getName(); ?>
                            </a>

                        </li>
                    <?php
                    }
                    ?>
                </ul>
            </div>
        </div>
        <div class="right-column">
            <div id="cate-pop">

                <?php foreach ($arrivalCategories as $arrival) { ?>
                    <div
                        class="cate-popup category-popup-<?php echo $arrival->getId() ?> new-arrival-popup-<?php echo $arrival->getId() ?>"
                        style="display: none"
                        onmouseover="showImageCate('<?php echo $arrival->getId() ?>')"
                        onmouseout="showFirstCatImg()">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homepage_arrivals_' . $arrival->getId())->toHtml(); ?>
                    </div>
                <?php } ?>
                <?php if ($topCategories->count()): ?>
                    <?php
                    foreach ($topCategories as $topCategory) {
                        ?>
                        <div class="cate-popup category-popup-<?php echo $topCategory->getId() ?>"
                             style="display: none;"
                             onmouseover="showImageCate('<?php echo $topCategory->getId() ?>')"
                             onmouseout="showFirstCatImg()">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('new_arrival_style_' . $topCategory->getId())->toHtml(); ?>
                        </div>
                    <?php
                    }
                    ?>
                <?php endif; ?>
            </div>

        </div>
        <div class="clearBoth"></div>
        <div
            class="after-memu"><?php echo $this->getChildHtml('homepage_after_menu') ?></div>
    </div>
</div>

<?php
$themeHelper = Mage::helper('cavabien_theme');

?>
<div id="popup_offers" class="wp-custom-menu-popup"
     onmouseout="wpHideMenuPopup(this, event, 'popup_offers', 'menu_offers')"
     onmouseover="wpPopupOver(this, event, 'popup_offers', 'menu_offers')"
     style="top: 40px; left: 0px; z-index: 10000; display: none;">
    <div class="popup_offers_content">
        <div class="left-column">
            <div class="column first odd">
                <label><?php echo $this->__('Mega Sale') ?></label>
                <ul>
                    <?php

                    $offerCategories = Mage::helper('catalog/category')->getStoreCategories();
                    $offerArray = array();
                    foreach ($offerCategories as $offerCategory) {
                        ?>
                        <li>
                            <a <?php echo $this->getRequest()->getParam('cat', 0) == $offerCategory->getId() ? 'style="color: #ee3088;"' : '' ?> href="<?php echo Mage::getBaseUrl() . 'special_offer' . '?cat='. $offerCategory->getId(); ?>"
                               onmouseover="showImageCateOffer('<?php echo $offerCategory->getId() ?>')" >
                                <?php echo $offerCategory->getName(); ?>
                                <?php $offerArray[] = $offerCategory->getId(); ?>
                            </a>
                        </li>
                    <?php
                    }
                    ?>
                </ul>
            </div>
        </div>
        <div class="right-column">
            <div id="cate-pop-offer">
                <?php //echo $this->getChildHtml('homepage_offers') ?>
                <?php foreach ($offerArray as $offerId) { ?>
                    <div id="<?php echo 'homepage_offers_' . $offerId ?>" style="display: none"
                         class="cate-popup category-popup-offer-<?php echo $offerId ?>"
                         onmouseover="showImageCateOffer('<?php echo $offerId ?>')"  
                         onblur="showFirstCatOfferImg()">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homepage_offers_' . $offerId)->toHtml(); ?>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="clearBoth"></div>
        <div
            class="after-memu"><?php echo $this->getChildHtml('homepage_after_menu_offers') ?></div>

    </div>

</div>
<!--//////////End Show Special Offers//////////////////////////////////////////////////////////////-->


</div>
<div id="custommenu-mobile" class="<?php echo $xRtl ?>" style="display:none;">
    <div id="menu-button" onclick="wpMenuButtonToggle()">
        <a href="javascript:void(0);">
            <i class="fa fa-bars fa-fw"></i><span>Navigation</span>
        </a>
    </div>
    <div id="menu-content" style="display:none;">
        <div id="menu-mobile-loading" class="menu-mobile level0">
            <div class="parentMenu">
                <a href="javascript:;">
                    <span>Loading</span>
                </a>
            </div>
        </div>
        <div class="clearBoth"></div>
    </div>
</div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var CUSTOMMENU_POPUP_WIDTH = <?php echo $_popupWidth; ?>;
    var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo $_popupTopOffset; ?>;
    var CUSTOMMENU_POPUP_DELAY_BEFORE_DISPLAYING = <?php echo $_popupDelayBeforeDisplaying; ?>;
    var CUSTOMMENU_POPUP_DELAY_BEFORE_HIDING = <?php echo $_popupDelayBeforeHiding; ?>;
    var CUSTOMMENU_RTL_MODE = <?php echo $_rtl; ?>;
    var wpCustommenuTimerShow = {};
    var wpCustommenuTimerHide = {};
    var wpActiveMenu = null;
    var wpMobileMenuEnabled = <?php echo $_mobileMenuEnabled; ?>;
    var wpMenuAjaxUrl = '<?php echo $_menuAjaxUrl; ?>';
    var wpMoblieMenuAjaxUrl = '<?php echo $_moblieMenuAjaxUrl; ?>';
    var wpPopupMenuContent = '';//Base64.decode('
     var wpMobileMenuContent = '';
    <?php if (Mage::getStoreConfig('custom_menu/general/ajax_load_content')) : ?>
    wpCustomMenuMobileToggle();
    Event.observe(window, 'resize', function () {
        wpCustomMenuMobileToggle();
    });
    <?php endif; ?>
    //]]>
</script>

<?php $mobileMenuContent = Mage::helper('custommenu')->getMobileMenuContent(); ?>
<script type="text/javascript">
    //<![CDATA[
    wpMobileMenuContent = '';//Base64.decode('
     wpCustomMenuMobileToggle();
    Event.observe(window, 'resize', function () {
        wpCustomMenuMobileToggle();
    });
    //]]>
</script>
<script type="text/javascript">
    jQuery("#cate-pop .cate-popup").eq(0).show();
    jQuery("#cate-pop-offer .cate-popup").eq(0).show();

    function showImageCate(id) {
        jQuery("#cate-pop .cate-popup").hide();
        jQuery("#cate-pop").find(".category-popup-" + id).show();
    }

    function showFirstCatImg() {
        jQuery("#cate-pop .cate-popup").hide();
        jQuery("#cate-pop .cate-popup").eq(0).show();
    }

    function showImageCateOffer(id) {
        jQuery("#cate-pop-offer .cate-popup").hide();
        jQuery("#cate-pop-offer").find(".category-popup-offer-" + id).show();
    }

    function showFirstCatOfferImg() {
        jQuery("#cate-pop-offer .cate-popup").hide();
        jQuery("#cate-pop-offer.cate-popup").eq(0).show();
    }

</script>