<!-- template for multipledeals review -->
<?php
//echo '<pre/>';print_r($productReview);die;
?>

<?php
$customer = Mage::getSingleton('customer/session')->getCustomer();
$birth_date = $customer['customer_birth_date'];
$birth_month = $customer['customer_birth_month'];
$birth_year = $customer['customer_birth_year'];
$height_ft = $customer['customer_height_ft'];
$height_inches = $customer['customer_height_inches'];
$bust = $customer['customer_bust'];
$waist = $customer['customer_waist'];
$hips = $customer['customer_hips'];
$bra_size_band = $customer['customer_bra_size_band'];
$bra_size_cup = $customer['customer_bra_size_cup'];
$shoe_size = $customer['customer_shoe_size'];
$shoe_width = $customer['customer_shoe_width'];
$dress_size = $customer['customer_dress_size'];
?>

<div id="popup-review" class="popup-review">
<div class="form-add">
<h2><?php echo $this->__('Write Your Review') ?></h2>
<?php if ($this->getAllowWriteReviewFlag()): ?>
<!--    <form action="--><?php //echo $this->getAction() ?><!--" method="post" id="review-form" enctype="multipart/form-data">-->
    <form action="<?php echo MAGE::getBaseUrl() ?>review/product/post/id/<?php echo $productReview->getId(); ?>" method="post" id="review-form" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey'); ?>
    <div class="head">
        <div class="review-form-top">
            <div class="sm-left">
                <?php echo $this->getChildHtml('form_fields_before')?>
                <img src="<?php echo $this->helper('catalog/image')->init($productReview, 'image')->resize(90,145)?>" />
            </div>

            <div class="sm-right">
                <h3><?php echo $this->escapeHtml($productReview->getName()) ?> <span><?php echo $this->__('Style: %s', $productReview->getSku()) ?></span></h3>
                <p><?php echo $this->__('Rather than wait for that seriously sexy slip dress to come along and take our breath  decided to make our own. This little heartbreaker has a classic slip dress silhouette with plunging neckline. Wear it with combat boots and a moto jacket to cause serious trouble.') ?></p>
            </div>
        </div>
    </div>

    <div class="sm-content">
    <div class="rating-form">
        <div class="user-info">
            <div class="sm-field field-col-12">
                <label for="summary_field" class="required"><?php echo $this->__('Answer:') ?></label>
                <div class="input-box">
                    <span class="start-desc"><em>*</em> <?php echo $this->__('Required fields') ?></span>
                    <input type="text" name="title" id="summary_field" class="input-text required-entry" value="<?php echo $this->escapeHtml($data->getTitle()) ?>" />
                    <span class="guidelines"><a href="#" onclick="return false;"><?php echo $this->__('View full Rateing & Review Guidelines') ?></a></span>
                </div>
            </div>

            <div class="sm-field field-col-6 left">
                <label for="nickname_field" class="required"><?php echo $this->__('Nickname:') ?><em>*</em></label>
                <div class="input-box">
                    <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="<?php echo $this->escapeHtml($data->getNickname()) ?>" />
                </div>
            </div>

            <div class="sm-field field-col-6 left">
                <label for="email_field" class="required"><?php echo $this->__('Email:') ?><em>*</em></label>
                <div class="input-box">
                    <input type="text" name="email" id="email_field" class="input-text required-entry validate-email" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" />
                </div>
            </div>
        </div>

        <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
            <span id="input-message-box"></span>
            <div class="wrap-sm-data-table">
                <table id="product-review-table" class="sm-data-table">
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />

                    <tbody>
                    <?php foreach ($this->getRatings() as $_rating): ?>
                        <tr>
                            <th>
                                <?php
                                if($_rating->getRatingCode()=='Price'){
                                    echo 'Rate this item Style:';
                                }else if($_rating->getRatingCode()=='Value'){
                                    echo 'Rate this item Comfort & Fitting:';
                                }else if($_rating->getRatingCode()=='Quality'){
                                    echo 'Rate this item Value & Quality:';
                                }
                                $i=1;
                                ?>
                            </th>
                            <?php foreach ($_rating->getOptions() as $_option): ?>
                                <td class="value">
                                    <input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" class="radio" />
                                    <label>
                                        <?php
                                        if($i==1&&$_rating->getRatingCode()=='Price'){
                                            echo 'Did Not Like It';
                                        }else if($i==1&&$_rating->getRatingCode()=='Value'){
                                            echo 'Did Not Like It';
                                        }else if($i==1&&$_rating->getRatingCode()=='Quality'){
                                            echo 'Did Not Like It';
                                        }else if($i==2&&$_rating->getRatingCode()=='Price'){
                                            echo 'Not My Style';
                                        }else if($i==2&&$_rating->getRatingCode()=='Value'){
                                            echo 'Not My Style';
                                        }else if($i==2&&$_rating->getRatingCode()=='Quality'){
                                            echo 'Not My Style';
                                        }else if($i==3&&$_rating->getRatingCode()=='Price'){
                                            echo 'Just Ok';
                                        }else if($i==3&&$_rating->getRatingCode()=='Value'){
                                            echo 'Just Ok';
                                        }else if($i==3&&$_rating->getRatingCode()=='Quality'){
                                            echo 'Just Ok';
                                        }else if($i==4&&$_rating->getRatingCode()=='Price'){
                                            echo 'Like It';
                                        }else if($i==4&&$_rating->getRatingCode()=='Value'){
                                            echo 'Like It';
                                        }else if($i==4&&$_rating->getRatingCode()=='Quality'){
                                            echo 'Like It';
                                        }else if($i==5&&$_rating->getRatingCode()=='Price'){
                                            echo 'Love It';
                                        }else if($i==5&&$_rating->getRatingCode()=='Value'){
                                            echo 'Love It';
                                        }else if($i==5&&$_rating->getRatingCode()=='Quality'){
                                            echo 'Love It';
                                        }
                                        $i++;
                                        ?>
                                    </label>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                <script type="text/javascript">decorateTable('product-review-table')</script>
            </div>
        <?php endif; ?>
    </div>

    <div class="your-review">
        <div class="sm-field field-col-12">
            <label for="review_field" class="required"><?php echo $this->__('Your Review:') ?></label>
            <div class="input-box">
                <textarea name="detail" id="review_field" class="required-entry"><?php echo $this->escapeHtml($data->getDetail()) ?></textarea>
                <p><?php echo $this->__('Please avoid using any inappropriate language, personal information') ?> <span><a href="#" onclick="return false;"><?php echo $this->__('View reviews guidelines') ?></a></span></p>
            </div>
        </div>

        <div class="sm-field field-col-12">
            <label><?php echo $this->__('Upload photo (Optional):')?></label>
            <div class="input-box">
                <input type="file" name="image" />
                <p><?php echo $this->__('You may upload a maximum of 2  photos; 5MB max size per image')?></p>
                <span><a href="#" onclick="return false;"><?php echo $this->__('View photo guideline.')?></a></span>
            </div>
        </div>
    </div>

    <div class="review-about-you">
        <div class="title">
            <h4><?php echo $this->__('About you')?></h4>
        </div>

        <div class="sm-field field-col-12">
            <div class="sm-field-size">
                <label><?php echo $this->__('Item Size (Optional):')?></label>
                <?php
                $attribute = Mage::getModel('eav/config')->getAttribute('catalog_product', 'size');
                ?>
                <div class="img-size-review-form">
                    <?php
                    foreach ($attribute->getSource()->getAllOptions(true) as $option) {
                        if($option['value']!=''){
                            ?>
                            <img opt="<?php echo $option['value'];?>" src="<?php echo Mage::getBaseUrl('media').'amconf/images/'.$option['value'].'.jpg';?>" />
                        <?php
                        }
                    }
                    ?>
                </div>
                <select id="select-size-review-form" name="item_size" hidden="hidden">
                    <?php
                    foreach ($attribute->getSource()->getAllOptions(true) as $option) {
                        ?>
                        <option value="<?php echo $option['value'];?>"><?php echo $option['label'];?></option>
                    <?php
                    }
                    ?>
                </select>
            </div>

            <div class="sm-field-age">
                <label><?php echo $this->__('Age')?></label>
                <input type="text" name="age" />
            </div>
        </div>

        <div class="sm-field field-col-12">
            <label><?php echo $this->__('Your Measurements:')?></label>
            <div class="wrap-input-field">
                <div class="input-field">
                    <span><?php echo $this->__('Height')?></span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_height_ft');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="height-input" name="height" title="<?php echo $this->__('Height ft'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $height_ft) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_height_inches');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_height_inches" name="height_inches" title="<?php echo $this->__('Height inchs'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $height_inches) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="input-field">
                    <span><?php echo $this->__('Bra')?></span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_bra_size_band');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="bra-input" name="bra" title="<?php echo $this->__('Bra Size band'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $bra_size_band) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_bra_size_cup');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_bra_size_cup" name="bra_size_cup" title="<?php echo $this->__('Bra Size cup'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $bra_size_cup) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="input-field">
                    <span><?php echo $this->__('Shoe')?></span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_shoe_size');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_shoe_size" name="shoe" title="<?php echo $this->__('Shoe size'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $shoe_size) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>

                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_shoe_width');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_shoe_width" name="shoe_width" title="<?php echo $this->__('Shoe width'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $shoe_width) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="clear-both"></div>

                <div class="input-field">
                    <span><?php echo $this->__('Bust')?></span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_bust');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_bust" name="bust" title="<?php echo $this->__('Bust'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $bust) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="input-field">
                    <span><?php echo $this->__('Waist')?></span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_waist');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="waist-input" name="waist" title="<?php echo $this->__('Waist'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $waist) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="input-field">
                    <span><?php echo $this->__('Hip')?></span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_hips');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="hip-input" name="hip" title="<?php echo $this->__('Hips'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $hips) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="input-field">
                    <span><?php echo $this->__('Dress')?></span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_dress_size');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_dress_size" name="dress" title="<?php echo $this->__('Dress Size'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $dress_size) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                </div>

                <div class="clear-both"></div>

                <p><?php echo $this->__('Note: any infomation you supply here will be saved to your profile when you submit your review')?></p>
                <span><a href="#" onclick="return false;"><?php echo $this->__('Terms of Use.')?></a></span>
            </div>
        </div>
    </div>
    </div>

    <div class="buttons-set">
        <button class="button btn-cancle" type="reset"><span><span><?php echo $this->__('Cancel')?></span></span></button>
        <button class="button btn-preview" type="button" onclick="previewReview();"><span><span><?php echo $this->__('Preview')?></span></span></button>
        <button class="button" id="submit_review" type="submit" title="<?php echo $this->__('Submit Review') ?>"><span><span><?php echo $this->__('Submit Review') ?> <i class="fa fa-caret-right"></i></span></span></button>
    </div>
    </form>

    <div class="preview-review" style="display: none">
        <div class="preview-review-inner">
            <span class="preview-cancel fancybox-close"></span>
            <h2><?php echo $this->__('Preview Review') ?></h2>
            <div class="clear-both"></div>
            <div class="preview-left">
                <div class="wrap-sm-start">
                    <label><?php echo $this->__('Overall Rating:')?></label>
                    <div class="rating-box">
                        <div class="rating" id="preview-overal"></div>
                    </div>
                </div>

                <div class="wrap-sm-size">
                    <label><?php echo $this->__('Item Size:')?> </label>
                    <span class="preview-item-size"></span>
                </div>

                <div class="preview-info">
                    <p class="preview-nickname"></p>
                    <p class="preview-time"><?php echo date("d/m/Y H:i:s", Mage::getModel('core/date')->timestamp(time())); ?></p>
                </div>

                <div class="preview-measurements">
                    <ul class="preview-measurements-detail">
                        <li class="title"><?php echo $this->__('Height:')?></li>
                        <li class="preview-height"></li>
                    </ul>
                    <ul class="preview-measurements-detail">
                        <li class="title"><?php echo $this->__('Bra:')?></li>
                        <li class="preview-bra"></li>
                    </ul>
                    <ul class="preview-measurements-detail">
                        <li class="title"><?php echo $this->__('Waist:')?></li>
                        <li class="preview-waist"></li>
                    </ul>
                    <ul class="preview-measurements-detail">
                        <li class="title"><?php echo $this->__('Hips:')?></li>
                        <li class="preview-hips"></li>
                    </ul>
                </div>
            </div>

            <div class="preview-right">
                <div class="preview-right-top">
                    <ul>
                        <li><label><?php echo $this->__('Style:')?></label>
                            <div class="rating-box">
                                <div class="rating" id="preview-style"></div>
                            </div>
                        </li>
                        <li>
                            <label><?php echo $this->__('Comfort & Fitting:')?></label>
                            <div class="rating-box">
                                <div class="rating" id="preview-fitting"></div>
                            </div>
                        </li>
                        <li><label><?php echo $this->__('Quality & Value:')?></label>
                            <div class="rating-box">
                                <div class="rating" id="preview-quality"></div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="preview-right-bottom">
                    <p class="preview-detail"></p>
                </div>
            </div>

            <div class="clear-both"></div>
            <div class="preview-button">
                <button class="button btn-cancle preview-cancel" type="button"><span><span><?php echo $this->__('Cancel')?></span></span></button>
                <button class="button btn-preview preview-cancel" type="button"><span><span><?php echo $this->__('Edit review')?></span></span></button>
                <button class="button preview-submit" type="button" title="<?php echo $this->__('Submit Review') ?>"><span><span><?php echo $this->__('Submit Review') ?> <i class="fa fa-caret-right"></i></span></span></button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //<![CDATA[
        function previewReview(){
            var overall = 0;
            var count = 0;
            jQuery('.preview-item-size').text(jQuery('#select-size-review-form option:selected').text());
            jQuery('.preview-nickname').text(jQuery('#nickname_field').val());
            jQuery('.preview-height').text(jQuery('#height-input option:selected').text()+"'"+jQuery('#customer_height_inches option:selected').text()+'"');
            jQuery('.preview-bra').text(jQuery('#bra-input option:selected').text());
            jQuery('.preview-waist').text(jQuery('#waist-input option:selected').text());
            jQuery('.preview-hips').text(jQuery('#hip-input option:selected').text());
            jQuery('.preview-detail').text(jQuery('#review_field').val());
            if(jQuery("input[name='ratings[2]']:checked").val()==6){
                jQuery('#preview-fitting').css('width','20%');
                overall+=20;
                count++;
            }else if(jQuery("input[name='ratings[2]']:checked").val()==7){
                jQuery('#preview-fitting').css('width','40%');
                overall+=40;
                count++;
            }else if(jQuery("input[name='ratings[2]']:checked").val()==8){
                jQuery('#preview-fitting').css('width','60%');
                overall+=60;
                count++;
            }else if(jQuery("input[name='ratings[2]']:checked").val()==9){
                jQuery('#preview-fitting').css('width','80%');
                overall+=80;
                count++;
            }else if(jQuery("input[name='ratings[2]']:checked").val()==10){
                jQuery('#preview-fitting').css('width','100%');
                overall+=100;
                count++;
            }

            if(jQuery("input[name='ratings[3]']:checked").val()==11){
                jQuery('#preview-style').css('width','20%');
                overall+=20;
                count++;
            }else if(jQuery("input[name='ratings[3]']:checked").val()==12){
                jQuery('#preview-style').css('width','40%');
                overall+=40;
                count++;
            }else if(jQuery("input[name='ratings[3]']:checked").val()==13){
                jQuery('#preview-style').css('width','60%');
                overall+=60;
                count++;
            }else if(jQuery("input[name='ratings[3]']:checked").val()==14){
                jQuery('#preview-style').css('width','80%');
                overall+=80;
                count++;
            }else if(jQuery("input[name='ratings[3]']:checked").val()==15){
                jQuery('#preview-style').css('width','100%');
                overall+=100;
                count++;
            }

            if(jQuery("input[name='ratings[1]']:checked").val()==1){
                jQuery('#preview-quality').css('width','20%');
                overall+=20;
                count++;
            }else if(jQuery("input[name='ratings[1]']:checked").val()==2){
                jQuery('#preview-quality').css('width','40%');
                overall+=40;
                count++;
            }else if(jQuery("input[name='ratings[1]']:checked").val()==3){
                jQuery('#preview-quality').css('width','60%');
                overall+=60;
                count++;
            }else if(jQuery("input[name='ratings[1]']:checked").val()==4){
                jQuery('#preview-quality').css('width','80%');
                overall+=80;
                count++;
            }else if(jQuery("input[name='ratings[1]']:checked").val()==5){
                jQuery('#preview-quality').css('width','100%');
                overall+=100;
                count++;
            }

            jQuery('#preview-overal').css('width',overall/count+'%');

            jQuery('.preview-review').show();
        }
        jQuery('.preview-cancel').click(function(){
            jQuery('.preview-review').hide();
        })
        jQuery('.preview-submit').click(function(){
            jQuery('#submit_review').click();
        })
        var dataForm = new VarienForm('review-form');
        Validation.addAllThese(
            [
                ['validate-rating', '<?php echo $this->__('Please select one of each of the ratings above') ?>', function(v) {
                    var trs = $('product-review-table').select('tr');
                    var inputs;
                    var error = 1;

                    for( var j=0; j < trs.length; j++ ) {
                        var tr = trs[j];
                        if( j > 0 ) {
                            inputs = tr.select('input');

                            for( i in inputs ) {
                                if( inputs[i].checked == true ) {
                                    error = 0;
                                }
                            }

                            if( error == 1 ) {
                                return false;
                            } else {
                                error = 1;
                            }
                        }
                    }
                    return true;
                }]
            ]
        );
        //]]>
    </script>
<?php else: ?>
    <p class="review-nologged" id="review-form">
        <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
    </p>
<?php endif ?>
</div>
</div><!-- end #popup-review -->
