<?php $_links = $this->getLinks(); ?>
<script type="text/javascript">
var URL = '<?php echo $this->getUrl(); ?>';
</script>
<?php if(count($_links)>0): ?>

<ul class="links"<?php if($this->getName()): ?> id="<?php echo $this->getName() ?>"<?php endif;?>>
    <?php foreach($_links as $_link): ?>
	    <?php if($_link->getLabel() != 'Log In'): ?>
        <li<?php if($_link->getIsFirst()||$_link->getIsLast()): ?> class="<?php if($_link->getIsFirst()): ?>first<?php endif; ?><?php if($_link->getIsLast()): ?> last<?php endif; ?>"<?php endif; ?> <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?><a href="<?php echo $_link->getUrl() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><?php echo $_link->getLabel() ?></a><?php echo $_link->getAfterText() ?></li>
		<?php endif; ?>
    <?php endforeach; ?>
	 <?php if(!$this->helper('customer')->isLoggedIn()) :?>
	
	 <li><a class="top-link-last" title="<?php echo $this->__('Login / Register') ?>" id="alogin" href="javascript:void(0)" ><?php echo $this->__('Login / Register') ?></a></li>
	 <?php endif; ?>
</ul>
<?php endif; ?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('quicklogin/tinybox.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('quicklogin/quicklogin.js') ?>"></script>



