<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<div class="list-title">My invites</div>
<?php if (($invitations = $this->getData('invitations')) && count($invitations) > 0) {

    ?>
    <div id="plumrocket-ajax-load-area">
        <form method="POST">
            <?php echo $this->getPagerHtml(); ?>
            <table class="data-table" id="open-invitations-table">
                <col width="1"/>
                <col width="1"/>
                <col/>
                <col width="1"/>
                <col width="1"/>
                <col width="1"/>
                <thead>
                <tr>
                    <!--                    <th><input type='checkbox' onclick='toggleAll(this)' name='toggle_all' value=''></th>-->
                    <th>&nbsp;</th>
                    <th><?php echo $this->__('Friend\'s Name') ?></th>
                    <th><?php echo $this->__('Friend\'s Email') ?></th>
                    <th><?php echo $this->__('Date sent') ?></th>
                    <th><?php echo $this->__('Status') ?></th>
                    <th> &nbsp; </th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($invitations as $invitation) {
                    $customerName = '';
                    $customer = Mage::getSingleton('customer/customer');
                    $customer = $customer->setWebsiteId(Mage::app()->getWebsite()->getId());
                    $customer = $customer->loadByEmail($invitation->getInviteeName());

                    if ($customer->getData()) {
                        $customerName = $customer->getData('firstname') . ' ' . $customer->getData('lastname');
                    } else {
                        $customerName = strstr($invitation->getInviteeName(), '@', true);
                    }
                    $stat = '';
                    switch ($invitation->getData('deactivated')) {
                        case 0:
                            $stat = 'Open';
                            break;
                        case 1:
                            $stat = 'Accepted';
                            break;
                    }
                    ?>
                    <tr>
                        <td>
                            <input style="visibility: hidden;" name='invitation[<?php echo $invitation->getId(); ?>]'
                                   value='<?php echo $invitation->getId(); ?>' type='checkbox'/>
                        </td>
                        <td width="25%"><?php echo $customerName ?></td>
                        <td width="35%"><?php echo htmlspecialchars($invitation->getInviteeName()) ?></td>
                        <td width="20%"><?php echo date('d/m/y', strtotime($invitation->getUpdatedAt())) ?></td>
                        <td width="10%"><?php echo $stat; ?></td>
                        <td width="10%"><a href="javascript:void(0)" class="del-invite remove-open-invitations"
                                           data-id="<?php echo $invitation->getId(); ?>">X</a></td>
                    </tr>
                <?php } ?>

                </tbody>
            </table>
            <?php echo $this->getPagerHtml(); ?>
            <br/>
        </form>

        <script type="text/javascript">decorateTable('open-invitations-table');</script>
        <script type='text/javascript'>
            pjQuery(document).ready(function ($) {
                $('.del-invite').click(function (e) {
                    var id = $(this).attr('data-id');
                    $(':checkbox[value="' + id + '"]').attr('checked', true);
                });
                $('.remove-open-invitations').click(function () {
                    var del = confirm("<?php echo $this->__('Are you sure you want to remove this invite?'); ?>");
                    if (del) {
                        var form = $(this).parents('form:first');
                        $.ajax({
                            url: '<?php echo $this->getUrl('invitations/index/deleteOpenInvitations') ?>',
                            type: 'POST',
                            data: form.serialize(),
                            success: function (data) {
                                $('#invitations-lists').html(data);
                                alert('<?php echo $this->__('The invite was successfully deleted!'); ?>');
                            }
                        });
                    }
                    return del;
                });
            });
        </script>


    </div>
<?php } else { ?>
    <p class="empty-list"><?php echo $this->__('You do not have any invitations yet.'); ?></p>
<?php } ?>
