<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php
$modelConfig = Mage::getModel('invitations/config');
$referralLink = $this->helper('invitations')->getRefferalLink();
$iviteeText = $this->helper('invitations')->getFilteredInviteeText();

$fbABook = Mage::getModel('invitations/addressbooks')->getByKey('facebook');
?>

<div class="clearer">
    <div id="invite-friends-holder" class="invite-friends-holder">
        <!--<div id="transactional_error" style="background-color:#FFFFFF;border:2px solid #DDDDDD;display:none;font-size:1.1em;font-weight:bold;padding:15px;position:absolute;text-align:center;width:450px;z-index:500;"></div>-->
        <div id='messages-holder' class="messages-holder" style="display:none;">
            <ul id="messages" class="messages"></ul>
        </div>

        <div class="invite-form">
            <div class="invite-left-column">
                <?php echo $this->getChildHtml('invite.left.img') ?>
            </div>
            <div class="invite-right-column">
                <form id="invite-friends-form" action="<?php echo $this->getUrl('invitations/index/send') ?>">
                    <div class="header-text">
                        <h2><?php echo $this->__('SHARE THE LOVE, RECEIVE UP TO ') ?><span>$5000</span></h2>

                        <h3><?php echo $this->__('Three simple ways to Share and Earn!'); ?></h3>
                    </div>

                    <div class="invite-email">
                        <h3><span class="nummber">1. </span> <?php echo $this->__('Send Email') ?></h3>
                        <span class="form-label"><?php echo $this->__('To:') ?>
                            (<?php echo $this->__('use commas to separate emails') ?>)</span>

                        <div class="earning">
                            <span class="earning-title"><?php echo $this->__('Potential Earnings: ') ?></span>
                            <span class="earning-value" id="earning-value">$0</span>
                        </div>

                        <div class="clear-both">
                            <input
                                placeholder="<?php echo $this->__('invitation_below_email_invite'); ?>"
                                name="contact-list" id="contact-list" class="contact-list" value=""/>

                            <div style="display:none;" id="contact-list-data"></div>
                            <a href="javascript:void(0)" class="add-contacts" onClick="pInvitations.goToStep1();">
                                <?php echo $this->__('Add Contacts from my address book') ?>
                            </a>

                            <div class="clear-both"></div>
                        </div>
                    </div>
                    <div class="invite-message">
                        <span class="form-label"><?php echo $this->__('Message ') ?>
                            <em><?php echo $this->__('(Optional)') ?></em></span>
                        <textarea name="message"
                                  id="invitation-message"
                                  class="invitation-message" <?php if (!($modelConfig->editInviteeText())) echo 'disabled="disabled"'; ?>><?php echo $iviteeText ?></textarea><br/>
                        <input id="focus-input" value="" style="position: absolute; left: -1000px;"/>

                        <div id="invitation-message-error" class="validation-advice"
                             style="display:none;"><?php echo $this->__('This is a required field.') ?></div>
                        <?php if ($modelConfig->editInviteeText()) { ?>
                            <div style="text-align:right; color: #666;" id="invitation-message-left-chars"
                                 class="invitation-message-left-chars"></div>
                        <?php } ?>
                    </div>
                    <div class="invite-button clearfix">

                        <div class="right">
                            <img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif') ?>"
                                 class="invitation-loader" style="display: none"/>
                            <button type="button" title="Send Invitation" class="button large btn-cart send-invitation">
                                <span><span><?php echo $this->__('Send Invitation') ?></span><i
                                        class="fa fa-caret-right fa-fw"></i></span></button>
                        </div>
                    </div>

                    <?php if ($modelConfig->showReferralLink()) { ?>
                        <div class="share-link">
                            <h3><span class="nummber">2. </span> <?php echo $this->__('other ways to share') ?></h3>

                            <div class="left">
                                <p class="form-label"><?php echo $this->__('Share this link with friends:') ?></p>
                                <input type="text" value="<?php echo $referralLink ?>">
                            </div>
                            <div class="sharing-tool right">

                                <?php if ($fbABook->isEnabled()) { ?>
                                    <p><?php echo $this->__('Share on Facebook'); ?></p>
                                    <a href="javascript:void(0)" class="button large invite-facebook-friends"
                                       id="share-on-fb">
                                        <span><span><?php echo $this->__('SHARE ON FACEBOOK') ?><i
                                                    class="fa fa-caret-right fa-fw"></i></span></span>
                                    </a>
                                <?php } ?>
                            </div>
                            <div class="clear"></div>
                        </div>
                    <?php } ?>

                    <div class="invite-error">
                        <div id="invitation-contacts-error" class="validation-advice"
                             style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
                        <div id="invitation-result-error" class="validation-advice"
                             style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
                    </div>
                </form>
            </div>

        </div>
        <div class="facebook-invite clearfix">
            <h3><span class="nummber">3. </span><?php echo $this->__('Facebook invite') ?></h3>

            <p><?php echo $this->__('invite friends on facebook and get 10$ when a friend makes a vip purchase'); ?></p>

            <div id="facebook-friend" class="facebook-friend"><ul></ul></div>
            <div class="facebook-button">
                <?php if ($fbABook->isEnabled()) { ?>
                    <a href="javascript:void(0)" class="button large invite-facebook-friends">
                        <span><span><?php echo $this->__('INVITE FRIENDS') ?><i
                                    class="fa fa-caret-right fa-fw"></i></span></span>
                    </a>
                <?php } ?>
            </div>
        </div>

    </div>
</div>
<div class="invite-footer">
    <?php if ($this->neadMigration()) { ?>
        <p class="neadmigration_text">
            <?php
            echo $this->__(
                'We believe you have used your email "<strong>%s</strong>" earlier to invite friends on <strong>%s</strong>. Please <a href="%s">click here</a> to send verification email and transfer all invitees to current store account.',
                $this->getCustomer()->getEmail(),
                $this->getStoreName(),
                $this->getUrl('*/promo/sendGuestVerificationEmail')
            );
            ?>
        </p>
    <?php } ?>
    <?php if ($this->getChild('invite_open')): ?>
        <div id="invitations-lists">
            <?php echo $this->getChild('invite_open')->setData('customerId', $this->getRequest()->getParam('customer')->getId())->toHtml(); ?>
        </div>
    <?php endif ?>
</div>

<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>">
            <small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>

<script type="text/javascript">
    pjQuery(document).ready(function () {
        function getTime() {
            var d = new Date();
            return d.getTime();
        }

        pjQuery('#contact-list').tagsInput({
            'defaultText': '<?php echo $this->__('Add e-mail...') ?>',
            'width': 393,
            'height': 100,
            'autosize': false,
            'email': true,
            'onRemoveTag': function (userName) {
                pInvitations.removeFromContactList(userName);
                //Calculator potential earning
                var emails = pjQuery('#contact-list').val();
                var emailArray = emails.split(',');
                if (emailArray == "") {
                    emailArray.length = 0
                }
                pjQuery('.earning-value').html("$" + emailArray.length * 10);
            },
            'onAddTag': function (connectCode) {
                pInvitations.addToContactList(connectCode);

                //Calculator potential earning
                var emails = pjQuery('#contact-list').val();
                var emailArray = emails.split(',');
                if (emailArray == "") {
                    emailArray.length = 0
                }
                pjQuery('.earning-value').html("$" + emailArray.length * 10);
            }
        });
        pjQuery('#contact-list_tagsinput').mouseleave(function () {

            var input = pjQuery('#contact-list_tag');
            if (input.hasClass('not_valid')) {
                var timeout = 600;
                setTimeout(function () {
                    var t = getTime();
                    if (t > contactListLiveaveTime + timeout) {
                        contactListLiveaveTime = t;
                        input.removeClass('not_valid').val('<?php echo $this->__('Add e-mail...') ?>').css('color', '#666666');
                        pjQuery('#focus-input').focus();
                    }
                }, timeout);
            }
        });


        pjQuery('#contact-list_tagsinput').mouseenter(function () {
            contactListLiveaveTime = getTime();
        });

    });
</script>
