<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php 
$_request = $this->getRequest();
$contacts = $this->getRequest()->getParam('contacts');
foreach ($contacts as $email => $name)
	if (!preg_match("^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$^", $email))
		unset($contacts[$email]);
?> 
<div class="in-step3 scroll-area">
<h1><?php echo $this->__('Your contacts') ?></h1>
<div style="position:static;">
<?php if (count($contacts) == 0) { ?>
	<?php echo $this->__('You do not have any contacts in your address book.') ?><br/>
	<button  type="button" class="button"  name='import' onclick="pInvitations.goToStep1();"><span><span><?php echo $this->__('Back') ?></span></span></button>
<?php } else { ?>
<form action="" method="POST" name="openinviter" >

	<div style="height:350px; overflow-y: scroll;" id="openinviter-list" >
		<table cellspacing='0' cellpadding='0' border='0' width='95%'>
			<thead>
			<tr>
				<th class="col-check"><input type='checkbox' class="toggle-all" name='toggle-all' title='Select/Deselect all' checked value=''></th>
				<th><?php echo $this->__('Name') ?></th>
				<th><?php echo $this->__('E-mail') ?></th>
			</tr>
			</thead>
			</tbody>
			<?php
			$counter = 0;
			foreach ($contacts as $email => $name) {
				$counter++;
			?>
			<tr>
				<td class="col-check" >
					<input name='check_<?php echo $counter ?>' value='<?php echo htmlspecialchars($email).':'.htmlspecialchars($name) ?>' type='checkbox' checked />
				</td>
				<td style="white-space: nowrap;"><?php
					if (ord($name{1}) == 227)
						$name = @iconv('windows-1251', 'UTF-8', $name);
					
					$utf8Nama = utf8_decode($name);
					if (strpos($utf8Nama,'?') !== 0)
						$name = $utf8Nama; 
						
					echo htmlspecialchars($name);
				?></td>
				<td style="white-space: nowrap;"><?php echo htmlspecialchars($email) ?></td>
			</tr>
			<?php } ?>
			</tbody>
		</table>
	</div>
	<input type='hidden' name='step' value='send_invites'>
	<input type='hidden' name='provider_box' value='<?php echo htmlspecialchars($_request->getParam('provider_box')) ?>'>
	<input type='hidden' name='email_box' value='<?php echo htmlspecialchars($_request->getParam('email_box')) ?>'>
	<input type='hidden' name='oi_session_id' value='<?php echo htmlspecialchars($_request->getParam('oi_session_id')) ?>'>
	<br />
	<button  type="button" class="button"  name='import' onclick="pInvitations.goToStep2('<?php echo $_request->getParam('provider_box'); ?>');"><span><span><?php echo $this->__('Back') ?></span></span></button>
	<button class="button" type="buttom" onclick="add(); return false;" name='import'><span><span><?php echo $this->__('Add Selected Contacts') ?></span></span></button>
</form>
</div>
</div>

<script type='text/javascript'>

pjQuery(document).ready(function(){
	pjQuery('#openinviter-list .toggle-all').click(function(){
		if (pjQuery(this).attr('checked'))
			pjQuery('#openinviter-list').find(':checkbox').attr('checked', 'checked');
		else
			pjQuery('#openinviter-list').find(':checkbox').removeAttr('checked');
	});
});

function add()
{
	var form = document.forms.openinviter, i = 0;
	var result = '';
	for(i = 0; i < form.length; i++)
	{
		if (form[i].type == 'checkbox' && form[i].checked && form[i].value)
		{
			var v = form[i].value.split(':');
			if (v.length < 2)
				v[1] = v[0];
				pInvitations.addToContactListPopUp(v[0], v[1], '<?php echo $_request->getParam('addressBookId') ?>');
		}
	}
	pjQuery.fancybox.close();
}
</script>
<?php } ?>
