<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php
$modelConfig = Mage::getModel('invitations/config');
$referralLink = $this->helper('invitations')->getRefferalLink();
$iviteeText = $this->helper('invitations')->getFilteredInviteeText();

$fbABook = Mage::getModel('invitations/addressbooks')->getByKey('facebook');
?>

<div class="clearer">
    <div id="invite-friends-holder" class="invite-friends-holder">
        <!--<div id="transactional_error" style="background-color:#FFFFFF;border:2px solid #DDDDDD;display:none;font-size:1.1em;font-weight:bold;padding:15px;position:absolute;text-align:center;width:450px;z-index:500;"></div>-->
        <div id='messages-holder' class="messages-holder" style="display:none;">
            <ul id="messages" class="messages"></ul>
        </div>

        <div class="invite-form">
            <div class="invite-left-column">
                <?php echo $this->getChildHtml('invite.left.img') ?>
            </div>

            <div class="invite-right-column">
                <div class="header-text">
                    <h2><?php echo $this->__('SHARE THE LOVE, RECEIVE UP TO ') ?><span><?php echo Mage::helper('core')->currency(5000, true, false); ?></span></h2>

                    <h3><?php echo $this->__('Three simple ways to Share and Earn!'); ?></h3>
                </div>
                <form id="invite-friends-form" action="<?php echo $this->getUrl('invitations/index/send') ?>">

                    <div class="invite-form-wrapper">

                            <?php
                            $customerid = Mage::helper('invitations')->getCurrentCustomerId();
                            $modelConfig		= Mage::getModel('invitations/config');
                            if (!$customerid && $modelConfig->getGuestsCanMakeInvites())  {  ?>
                        <div class="invite-email" id="div_guest_email" style="display: none">
                            <h3><span class="nummber"></span> <?php echo $this->__('Your Email') ?></h3>
                            <div class="content-invite">
                                <div class="clear-both">
                                    <input name="guest_email" id="guest_email" class="input-text" style="width: 100%;" value="admin@cava-bien.com"/>
                                    <div id="guest_email-error" class="validation-advice" style="display:none;"><?php echo $this->__('Please enter a valid email address. For example johndoe@domain.com.') ?></div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </div>
                            <?php } ?>
                    <div class="<?php echo  (!$customerid && $modelConfig->getGuestsCanMakeInvites())?'invite-send-email':'invite-email'; ?>">
                        <h3><span class="nummber">1. </span> <?php echo $this->__('Send Email') ?></h3>
                        <div class="content-invite">
                        <span class="form-label"><?php echo $this->__('To:') ?>
                            (<?php echo $this->__('use commas to separate emails') ?>)</span>

                        <div class="earning">
                            <span class="earning-title"><?php echo $this->__('Potential Earnings: ') ?></span>
                            <span class="earning-value" id="earning-value">$0</span>
                        </div>

                        <div class="clear-both">
                            <input
                                placeholder="<?php echo $this->__('invitation_below_email_invite'); ?>"
                                name="contact-list-popup" id="contact-list-popup" class="contact-list" value=""/>

                            <div style="display:none;" id="contact-list-data"></div>
                            <a href="javascript:void(0)" class="add-contacts" onClick="pInvitations.goToStep1();">
                                <?php echo $this->__('Add Contacts from my address book') ?>
                            </a>

                            <div class="clear-both"></div>
                        </div>
                            <div class="invite-error">
                                <div id="invitation-contacts-error" class="validation-advice"
                                     style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
                                <div id="invitation-result-error" class="validation-advice"
                                     style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
                            </div>
                            <div class="clear"></div>
                    </div>
                    </div>
                    <div class="invite-message content-invite">
                        <span class="form-label"><?php echo $this->__('Message ') ?>
                            <em><?php echo $this->__('(Optional)') ?></em></span>
                        <textarea name="message"
                                  id="invitation-message"
                                  class="invitation-message" <?php if (!($modelConfig->editInviteeText())) echo 'disabled="disabled"'; ?>><?php echo $iviteeText ?></textarea><br/>
                        <input id="focus-input" value="" style="position: absolute; left: -1000px;"/>

                        <div id="invitation-message-error" class="validation-advice"
                             style="display:none;"><?php echo $this->__('This is a required field.') ?></div>
                        <?php if ($modelConfig->editInviteeText()) { ?>
                            <!-- <div style="text-align:right; color: #666;" id="invitation-message-left-chars"
                                 class="invitation-message-left-chars"></div> -->
                        <?php } ?>
                    </div>
                    <div class="invite-button clearfix">

                        <div class="right content-invite">
                            <img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif') ?>"
                                 class="invitation-loader" style="display: none"/>
                            <button type="button" title="Send Invitation" class="button large btn-cart send-invitation">
                                <span><span><?php echo $this->__('Send Invitation') ?></span><i
                                        class="fa fa-caret-right fa-fw"></i></span></button>
                        </div>
                    </div>

                    <?php if ($modelConfig->showReferralLink()) { ?>
                        <div class="share-link">
                            <h3><span class="nummber">2. </span> <?php echo $this->__('other ways to share') ?></h3>
                            <div class="content-invite">
                            <div class="left">
                                <p class="form-label"><?php echo $this->__('Share this link with friends:') ?></p>
                                <input type="text" value="<?php echo $referralLink; ?>">
                            </div>

                            <div class="sharing-tool right">

                                <?php if ($fbABook->isEnabled()) { ?>
                                    <p><?php echo $this->__('Share on Facebook'); ?></p>
                                    <a href="javascript:void(0)" class="button large invite-facebook-friends"
                                       id="share-on-fb">
                                        <span><span><?php echo $this->__('SHARE ON FACEBOOK') ?><i
                                                    class="fa fa-caret-right fa-fw"></i></span></span>
                                    </a>
                                <?php } ?>
                            </div>
                        </div>
                            <div class="clear"></div>
                        </div>
                    <?php } ?>
                    </div>
                </form>
            </div>

        </div>
        <div class="facebook-invite clearfix">
            <h3><span class="nummber">3. </span><?php echo $this->__('Facebook invite') ?></h3>

            <p><?php echo $this->__('invite friends on facebook and get 10$ when a friend makes a vip purchase'); ?></p>
            <div id="facebook-friend" class="facebook-friend"><ul></ul></div>
            <div class="facebook-button">
                <?php if ($fbABook->isEnabled()) { ?>
                    <a id="invite-facebook-friends-button" href="javascript:void(0)" class="button large invite-facebook-friends">
                        <span><span><?php echo $this->__('INVITE FRIENDS') ?><i
                                    class="fa fa-caret-right fa-fw"></i></span></span>
                    </a>
                <?php } ?>
            </div>
        </div>

    </div>
</div>
<div class="invite-footer">
<?php if ($this->neadMigration()) { ?>
    <p class="neadmigration_text">
        <?php
        echo $this->__(
            'We believe you have used your email "<strong>%s</strong>" earlier to invite friends on <strong>%s</strong>. Please <a href="%s">click here</a> to send verification email and transfer all invitees to current store account.',
            $this->getCustomer()->getEmail(),
            $this->getStoreName(),
            $this->getUrl('*/promo/sendGuestVerificationEmail')
        );
        ?>
    </p>
<?php } ?>
<script type="text/javascript">
    pjQuery(document).ready(function () {
        var text_valid = pjQuery('.invitation-message').val();
        <?php if ($modelConfig->editInviteeText()) { ?>
        pjQuery('.invitation-message').keyup(function (e) {
            var tval = pjQuery(this).val(),
                tlength = tval.length,
                set = 500,
                remain = parseInt(set - tlength);

            pjQuery('.invitation-message-left-chars').html('(' + remain + ' characters left)');
            if (remain > 0) {
                text_valid = tval;
            }
            if (remain <= 0) {
                pjQuery(this).val(text_valid);
                pjQuery('.invitation-message-left-chars').html('(0 characters left)');
                return false;
            }


        }).keyup();
        <?php } ?>

        var neadmigration_text = pjQuery('.neadmigration_text');
        neadmigration_text.find('a').click(function () {
            var href = pjQuery(this).attr('href');
            pjQuery.ajax({
                type: "POST",
                cache: false,
                url: href,
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Please, check your e-mail for confirmation link.')) ?>');
                    } else {
                        neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Unable to proceed. Please, try again.')) ?>');
                    }
                },
                error: function () {
                    neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Unable to proceed. Please, try again.')) ?>');
                }
            });
            return false;
        });

        pInvitations.setData({
            'urls': {
                'step1': '<?php echo $this->getUrl('invitations/inviter/step1') ?>',
                'step2': '<?php echo $this->getUrl('invitations/inviter/step2') ?>',
                'step3': '<?php echo $this->getUrl('invitations/inviter/step3') ?>',

                'openInvitationsList': '<?php echo $this->getUrl('invitations/index/openInvitations') ?>',
                'acceptedInvitationsList': '<?php echo $this->getUrl('invitations/index/acceptedInvitations') ?>'
            },
            'errorMsg': {
                'emailOrPasswordMissing': '<?php echo $this->__('Email or password missing!') ?>',
                'connectionError': '<?php echo $this->__('Connection error please try later!') ?>'
            },
            'invitationsListAreaId': 'plumrocket-ajax-load-area',
            'popupMessages': false
        });
        pjQuery('#contact-list-popup').tagsInput({
            'defaultText': '<?php echo $this->__('Add e-mail...') ?>',
            'width': 393,
            'height': 100,
            'autosize': false,
            'email': true,
            'onRemoveTag': function (userName) {
                pInvitations.removeFromContactList(userName);
                //Calculator potential earning
                var emails = pjQuery('#contact-list-popup').val();
                var emailArray = emails.split(',');

                if (emailArray == "") {
                    emailArray.length = 0
                }
                pjQuery('.earning-value').html("$" + emailArray.length * 10);
            },
            'onAddTag': function (connectCode) {
                pInvitations.addToContactListPopUp(connectCode);

                //Calculator potential earning
                var emails = pjQuery('#contact-list-popup').val();
                var emailArray = emails.split(',');
                if (emailArray == "") {
                    emailArray.length = 0
                }
                pjQuery('.earning-value').html("$" + emailArray.length * 10);
            }
        });

        contactListLiveaveTime = getTime();
        pjQuery('#contact-list-popup_tagsinput').mouseleave(function () {

            var input = pjQuery('#contact-list-popup_tag');
            if (input.hasClass('not_valid')) {
                var timeout = 600;
                setTimeout(function () {
                    var t = getTime();
                    if (t > contactListLiveaveTime + timeout) {
                        contactListLiveaveTime = t;
                        input.removeClass('not_valid').val('<?php echo $this->__('Add e-mail...') ?>').css('color', '#666666');
                        pjQuery('#focus-input').focus();
                    }
                }, timeout);
            }
        });


        pjQuery('#contact-list-popup_tagsinput').mouseenter(function () {
            contactListLiveaveTime = getTime();
        });


        function getTime() {
            var d = new Date();
            return d.getTime();
        }

        //pjQuery('#contact-list_tagsinput').css('height','auto');
        pjQuery('.invite-friends-holder .send-invitation').click(function () {
            pInvitations.submitContactList();
        });
        pjQuery('#load-open-invitations').click(function () {
            pInvitations.getOpenInvitationsList()
        });
        pjQuery('#load-accepted-invitations').click(function () {
            pInvitations.getAcceptedInvitationsList();
        });
        pInvitations.changeInvitationsListPagerLinks(pInvitations.data.urls.openInvitationsList);
        <?php if ($fbABook->isEnabled()) { ?>
        FB.init({
            appId: '<?php echo $fbABook->getSettingByKey('application_id') ?>',
            status: true, // check login status
            channelUrl: '<?php echo $this->getUrl('channel.html') ?>',
            xfbml: true,
            cookie: true
        });
        pjQuery('#share-on-fb').click(function () {

            FB.ui({
                method: 'share',
                href: '<?php echo $referralLink ?>'
            }, function(response){
                pjQuery('.messages-holder').show();
                if (response && !response.error_code) {
                    pjQuery('.messages-holder ul').html('<li class="success-msg"><ul><li>Sharing successfully!</li></ul></li>')
                } else {
                    pjQuery('.messages-holder ul').html('<li class="error-msg"><ul><li>Sharing failed!</li></ul></li>')
                }
            });

        });
        pjQuery('#invite-facebook-friends-button').click(function () {
            var desc = pjQuery('#invitation-message').html();
            FB.ui({
                    method: 'send',
                    name: '<?php echo $this->__('Visit %s', $this->getStoreName()) ?>',
                    link: '<?php echo $referralLink ?>',
					display : 'popup' ,
                    description: desc,
                    picture: '<?php echo $this->getLogoUrl() ?>'
                },
                function (response) {
                    if (response && !response.error_code) {
                        pjQuery('.messages-holder ul').html('<li class="success-msg"><ul><li>Invite successfully!</li></ul></li>')
                    } else {
                        pjQuery('.messages-holder ul').html('<li class="error-msg"><ul><li>Invite failed!</li></ul></li>')
                    }
                    pjQuery('.messages-holder').show();

                });

        });

        FB.getLoginStatus(function (response) {
            FB.api('/me/friends', function (response) {
                if (response.data) {
                    pjQuery.each(response.data, function (index, friend) {
                        pjQuery('.facebook-friend ul').html(pjQuery('.facebook-friend ul').html() + '<li><a title="' + friend.name + '" class="friend-photo" href="http://facebook.com/' + friend.id + '" target="_blank"> <img width="50" src ="http://graph.facebook.com/' + friend.id + '/picture"/><p>' + friend.name + '</p></a></li>');
                    });
                } else {
//                    console.dir(response);
                }
            });
        });

        // Load the SDK asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
        <?php } ?>

    });
</script>

