<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php
$modelConfig = Mage::getModel('invitations/config');
$referralLink = $this->helper('invitations')->getRefferalLink();
$iviteeText = $this->helper('invitations')->getFilteredInviteeText();

$fbABook = Mage::getModel('invitations/addressbooks')->getByKey('facebook');
?>
<div class="clearer">
    <div id="invite-friends-holder" class="">
        <!--<div id="transactional_error" style="background-color:#FFFFFF;border:2px solid #DDDDDD;display:none;font-size:1.1em;font-weight:bold;padding:15px;position:absolute;text-align:center;width:450px;z-index:500;"></div>-->
        <div class="header-text">
            <?php echo $this->getChildHtml('invite.header.text') ?>
        </div>
        <div id='messages-holder' style="display:none;">
            <ul id="messages" class="messages"></ul>
        </div>

        <div class="invite-form">
            <div class="invite-left-column">
                <form id="invite-friends-form" action="<?php echo $this->getUrl('invitations/index/send') ?>">

                    <div class="facebook-invite">
                        <h3><span class="nummber">1.</span><?php echo $this->__('Facebook invite') ?></h3>

                        <?php echo $this->getChildHtml('invitation_below_facebook_title') ?>
                        <div id="facebook-friend"></div>
                        <div class="facebook-button">
                            <?php if ($fbABook->isEnabled()) { ?>
                                <a href="javascript: " class="button large invite-facebook-friends">
                                    <span><span><?php echo $this->__('INVITE FRIENDS') ?><i
                                                class="fa fa-caret-right fa-fw"></i></span></span>
                                </a>
                            <?php } ?>
                        </div>
                    </div>
                    <?php if ($modelConfig->showReferralLink()) { ?>
                        <div class="share-link">
                            <h3><span class="nummber">2.</span> <?php echo $this->__('Personal Invite Link') ?></h3>
                            <?php echo $this->getChildHtml('invitation_below_invite_link') ?>
                            <input type="text" value="<?php echo $referralLink; ?>">

                            <div class="sharing-tool">
                                <?php echo $this->getChildHtml('sharetool.style2') ?>
                            </div>
                        </div>
                    <?php } ?>

                    <div class="invite-email">
                        <h3><span class="nummber">3.</span> <?php echo $this->__('Send Email Invite') ?></h3>
                        <span class="form-label"><?php echo $this->__('To') ?>
                            (<?php echo $this->__('use commas to separate emails') ?>)</span>

                        <div class="earning">
                            <span class="earning-title"><?php echo $this->__('Potential Earnings: ') ?></span>
                            <span class="earning-value" id="earning-value">$0</span>
                        </div>

                        <div class="clear-both">
                            <input
                                placeholder="<?php echo $this->__('invitation_below_email_invite'); ?>"
                                name="contact-list" id="contact-list" value=""/>

                            <div style="display:none;" id="contact-list-data"></div>
                            <a href="javascript: " class="add-contacts" onClick="pInvitations.goToStep1();">
                                <?php echo $this->__('Add Contacts from my address book') ?>
                            </a>

                            <div class="clear-both"></div>
                        </div>
                    </div>
                    <div class="invite-message">
                        <span class="form-label"><?php echo $this->__('Message ') ?>
                            <em><?php echo $this->__('(Optional)') ?></em></span>
                        <textarea name="message"
                                  id="invitation-message" <?php if (!($modelConfig->editInviteeText())) echo 'disabled="disabled"'; ?>><?php echo $iviteeText ?></textarea><br/>
                        <input id="focus-input" value="" style="position: absolute; left: -1000px;"/>

                        <div id="invitation-message-error" class="validation-advice"
                             style="display:none;"><?php echo $this->__('This is a required field.') ?></div>
                        <?php if ($modelConfig->editInviteeText()) { ?>
                            <div style="text-align:right; color: #666;" id="invitation-message-left-chars"></div>
                        <?php } ?>
                    </div>
                    <div class="invite-button clearfix">
                        <div class="earning left">
                            <?php echo $this->getChildHtml('invitation_beside_send_invitation'); ?>
                        </div>
                        <div class="right">
                            <img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif') ?>"
                                 class="invitation-loader" style="display: none"/>
                            <button type="button" title="Send Invitation" class="button large btn-cart send-invitation">
                                <span><span><?php echo $this->__('Send Invitation') ?></span><i
                                        class="fa fa-caret-right fa-fw"></i></span></button>
                        </div>
                    </div>
                    <div class="invite-error">
                        <div id="invitation-contacts-error" class="validation-advice"
                             style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
                        <div id="invitation-result-error" class="validation-advice"
                             style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
                    </div>
                </form>
            </div>
            <div class="invite-right-column">
                <?php echo $this->getChildHtml('invite.right.text') ?>
            </div>
        </div>


    </div>
</div>
<div class="invite-footer" style="display: none">
    <?php if ($this->neadMigration()) { ?>
        <p class="neadmigration_text">
            <?php
            echo $this->__(
                'We believe you have used your email "<strong>%s</strong>" earlier to invite friends on <strong>%s</strong>. Please <a href="%s">click here</a> to send verification email and transfer all invitees to current store account.',
                $this->getCustomer()->getEmail(),
                $this->getStoreName(),
                $this->getUrl('*/promo/sendGuestVerificationEmail')
            );
            ?>
        </p>
    <?php } ?>
    <button id="load-open-invitations" type="button" title="<?php echo $this->__('Open Invitations') ?>"
            class="button in-tab active btn-cart send-invitation">
        <span><span><?php echo $this->__('Open Invitations') ?></span></span></button>
    <button id="load-accepted-invitations" type="button" title="<?php echo $this->__('Accepted Invitations') ?>"
            class="button in-tab no-active btn-cart send-invitation">
        <span><span><?php echo $this->__('Accepted Invitations') ?></span></span></button>
    <img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif') ?>"
         class="invitation-loader tabs-loader" style="display: none"/>

    <!--    <div id="invitations-lists">-->
    <!--        --><?php //echo $this->getLayout()->createBlock('invitations/open')->setData('customerId', $this->getRequest()->getParam('customer')->getId())->toHtml(); ?>
    <!--    </div>-->
</div>
<script type="text/javascript">
    pjQuery(document).ready(function () {
        var text_valid = pjQuery('#invitation-message').val();
        <?php if ($modelConfig->editInviteeText()) { ?>
        pjQuery('#invitation-message').keyup(function (e) {
            var tval = pjQuery(this).val(),
                tlength = tval.length,
                set = 500,
                remain = parseInt(set - tlength);

            pjQuery('#invitation-message-left-chars').html('(' + remain + ' characters left)');
            if (remain > 0) {
                text_valid = tval;
            }
            if (remain <= 0) {
                pjQuery(this).val(text_valid);
                pjQuery('#invitation-message-left-chars').html('(0 characters left)');
                return false;
            }


        }).keyup();
        <?php } ?>

        var neadmigration_text = pjQuery('.neadmigration_text');
        neadmigration_text.find('a').click(function () {
            var href = pjQuery(this).attr('href');
            pjQuery.ajax({
                type: "POST",
                cache: false,
                url: href,
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Please, check your e-mail for confirmation link.')) ?>');
                    } else {
                        neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Unable to proceed. Please, try again.')) ?>');
                    }
                },
                error: function () {
                    neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Unable to proceed. Please, try again.')) ?>');
                }
            });
            return false;
        });

        pInvitations.setData({
            'urls': {
                'step1': '<?php echo $this->getUrl('invitations/inviter/step1') ?>',
                'step2': '<?php echo $this->getUrl('invitations/inviter/step2') ?>',
                'step3': '<?php echo $this->getUrl('invitations/inviter/step3') ?>',

                'openInvitationsList': '<?php echo $this->getUrl('invitations/index/openInvitations') ?>',
                'acceptedInvitationsList': '<?php echo $this->getUrl('invitations/index/acceptedInvitations') ?>'
            },
            'errorMsg': {
                'emailOrPasswordMissing': '<?php echo $this->__('Email or password missing!') ?>',
                'connectionError': '<?php echo $this->__('Connection error please try later!') ?>'
            },
            'invitationsListAreaId': 'plumrocket-ajax-load-area',
            'popupMessages': false
        });
        pjQuery('#contact-list').tagsInput({
            'defaultText': '<?php echo $this->__('Add e-mail...') ?>',
            'width': 393,
            'height': 100,
            'autosize': false,
            'email': true,
            'onRemoveTag': function (userName) {
                pInvitations.removeFromContactList(userName)
            },
            'onAddTag': function (connectCode) {
                pInvitations.addToContactList(connectCode)

                //Calculator potential earning
                emails = pjQuery('#contact-list').val();
                emailArray = emails.split(',');
                //alert(emailArray.length * 10);
                pjQuery('#earning-value').html("$" + emailArray.length * 10);
            }
        });

        contactListLiveaveTime = getTime();
        pjQuery('#contact-list_tagsinput').mouseleave(function () {

            var input = pjQuery('#contact-list_tag');
            if (input.hasClass('not_valid')) {
                var timeout = 600;
                setTimeout(function () {
                    var t = getTime();
                    if (t > contactListLiveaveTime + timeout) {
                        contactListLiveaveTime = t;
                        input.removeClass('not_valid').val('<?php echo $this->__('Add e-mail...') ?>').css('color', '#666666');
                        pjQuery('#focus-input').focus();
                    }
                }, timeout);
            }
        });

        pjQuery('#contact-list_tagsinput').mouseenter(function () {
            contactListLiveaveTime = getTime();
        });


        function getTime() {
            var d = new Date();
            return d.getTime();
        }

        //pjQuery('#contact-list_tagsinput').css('height','auto');
        pjQuery('#invite-friends-holder .send-invitation').click(function () {
            pInvitations.submitContactList();
        });
        pjQuery('#load-open-invitations').click(function () {
            pInvitations.getOpenInvitationsList()
        });
        pjQuery('#load-accepted-invitations').click(function () {
            pInvitations.getAcceptedInvitationsList();
        });
        pInvitations.changeInvitationsListPagerLinks(pInvitations.data.urls.openInvitationsList);
        <?php if ($fbABook->isEnabled()) { ?>


        pjQuery('.invite-facebook-friends').click(function () {
            var desc = pjQuery('#invitation-message').html();
            FB.ui({
                method: 'send',
                name: '<?php echo $this->__('Visit %s', $this->getStoreName()) ?>',
//                link: 'http://www.cava-bien.com/most_wanted/',
                link: '<?php echo $this->getUrl('most_wanted') ?>',
                description: desc,
                picture: '<?php echo $this->getLogoUrl() ?>'
            });

        });

        FB.getLoginStatus(function (response) {
            FB.api('/me/friends', function (response) {
                if (response.data) {
                    pjQuery.each(response.data, function (index, friend) {
                        pjQuery('#facebook-friend').html(pjQuery('#facebook-friend').html() + '<a title="' + friend.name + '" class="friend-photo" href="http://facebook.com/' + friend.id + '" target="_blank"> <img width="50" src ="http://graph.facebook.com/' + friend.id + '/picture"/></a>');
                    });
                } else {
//                    console.dir(response);
                }
            });
        });

        // Load the SDK asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
        <?php } ?>

    });
</script>
