<?php $_bestseller_product = $this->getBestsellingProduct(); ?>
<div class="get-the-look best-seller-week">
    <h2>This week's Best Seller</h2>
    <div class="product-best-seller">
        <img src="<?php echo Mage::helper('catalog/image')->init($_bestseller_product, 'image')->resize(240, 360); ?>" />
        <h2 class="product-name"><a href="<?php echo $_bestseller_product->getProductUrl() ?>"
                                title="<?php echo $this->stripTags($_bestseller_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_bestseller_product, $_bestseller_product->getName(), 'name') ?></a>
    </h2>
     <div class="price-box pink">
                        <div class="our-price">
                            <span class="regular-price">
                                <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                                <span class="price"><?php echo Mage::helper('core')->currency($_bestseller_product->getFinalPrice(), true, false); ?></span>
                        </div>
                    </div>
        <?php //echo $this->getPriceHtml($_bestseller_product, true) ?>
        <div class="actions a-right">
            <button class="button large"  title="<?php echo $this->__('Shop The Best') ?>" onclick="setLocation('<?php echo $_bestseller_product->getProductUrl() ?> ')">
                <span>
                    <span>Shop the look</span>
                    <i class="fa fa-caret-right"></i>
                </span>
            </button>
        </div>
    </div>
</div>

