<?php $_code = $this->getMethodCode() ?>
<div class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">

</div>

<script type="text/javascript">
    var pensio_gateway_loaded = false;
    var pensio_gateway2_loaded = false;
    var pensio_gateway5_loaded = false;
    var pensio_iframe = ['pensio_gateway','pensio_gateway2','pensio_gateway5'];

    var payment_code = '';
    $$('input.radio').forEach(function (ele, index, array) {
        if ($(ele).checked) {
            payment_code = $(ele).value;
        }

        if ($(ele).checked & $(ele).value == 'pensio_gateway') {
            //payment_code = $(this).value;
            agreeOrder(true);
            payment.save();
            pensio_gateway_loaded = true;
            agreeOrder(false);
        }
        if ($(ele).checked & $(ele).value == 'pensio_gateway2') {
            //payment_code = $(this).value;
            agreeOrder(true);
            payment.save();
            pensio_gateway2_loaded = true;
            agreeOrder(false);
        }
        if ($(ele).checked & $(ele).value == 'pensio_gateway5') {
            //payment_code = $(this).value;
            agreeOrder(true);
            payment.save();
            pensio_gateway5_loaded = true;
            agreeOrder(false);
        }

        $(ele).observe('click', function () {
                payment_code = $(this).value;
                if ($(this).value == 'pensio_gateway' & !pensio_gateway_loaded) {
                    agreeOrder(true);
                    payment.save();
                    pensio_gateway_loaded = true;
                    agreeOrder(false);
                }
                if ($(this).value == 'pensio_gateway2' & !pensio_gateway2_loaded) {
                    agreeOrder(true);
                    payment.save();
                    pensio_gateway2_loaded = true;
                    agreeOrder(false);
                }
                if ($(this).value == 'pensio_gateway5' & !pensio_gateway5_loaded) {
                    agreeOrder(true);
                    payment.save();
                    pensio_gateway_loaded5 = true;
                    agreeOrder(false);
                }
            }
        )
    });

    Checkout.prototype.setStepResponse = function (response) {
        if (response.update_section) {
            $('checkout-' + response.update_section.name + '-load').update(response.update_section.html);
        }
        if (response.allow_sections) {
            response.allow_sections.each(function (e) {
                $('opc-' + e).addClassName('allow');
            });
        }

        if (response.duplicateBillingInfo) {
            shipping.setSameAsBilling(true);
        }

        if (response.goto_section) {
            this.gotoSection(response.goto_section);
            return true;
        }
        if (response.redirect) {
            if (pensio_iframe.indexOf(payment_code) == -1 ) {
                alert(payment_code);
                alert(pensio_iframe);
                location.href = response.redirect;
                return;
            }

            var iframe = document.createElement('iframe');
            iframe.src = response.redirect;
            iframe.style.width = '500px';
            iframe.style.height = '230px';
            iframe.name = 'pensio_form';
            var div = document.createElement('div');
            $('payment_form_' + payment_code).appendChild(iframe);

            return;
        }
        return false;
    }

    var iframe = null,
        timer = null;
    function pensio_loaded_data() {
        timer = setInterval(function () {
            try {
                try {
                    iframe = $$('iframe[name=pensio_form]')[0].contentDocument;
                }
                catch (e) {
                    try {
                        iframe = $$('iframe[name=pensio_form]')[0].contentWindow.document;
                    }
                    catch (e) {
                    }
                }
                // No content iframe return object with body empty string
                // if pensio return data, we will have two cases
                // 1. False with contentWindow of iframe is null
                // 2. Success with contentWindow (contentDocument) have body is not null
                if (iframe == null) {
                    alert('False');
                    return clearInterval(timer);
                }

                if (iframe.body == null) {
                    console.log('Body is null at ' + new Date());
                    return;
                }

                if (iframe.body.innerHTML.indexOf('Thank you for your purchase!') === -1) { // Exist data success
                    console.log('Time: ' + new Date());
                    return;
                } else {
                    $$('form[name=pensio_form]')[0].innerHTML = iframe.body.innerHTML;
                    // Find last order
                    var last_order = $$('form[name=pensio_form] div[class=col-main] a')[0].innerHTML;
                    alert('Success with last order: ' + last_order);
                }
            } catch (e) {
                alert(e);
            }

            clearInterval(timer);
        }, 100);
    }

    // Iframe on-load
    var inc = 0;
    function iframe_on_load() {
        timer = setInterval(function () {
            //console.log('Time: ' + inc);
            try {
                if(inc % 2) {
                    //console.log('Element old');
                    iframe = $$('iframe[name=pensio_form]')[0].contentDocument;
                } else {
                    //console.log('Element even');
                    iframe = $$('iframe[name=pensio_form]').contentDocument;
                }
                //console.log('Check iframe load');
            }
            catch (e) {
                try {
                    iframe = $$('iframe[name=pensio_form]')[0].contentWindow.document;
                    //console.log('Check get document of iframe');
                }
                catch (ee) {
                    //console.log('Error load iframe');
                }
            }
            /*if(inc >= 15) {// 25 seconds
                console.log('LOAD PENSIO TIMEOUT');
                clearInterval(timer);
            }*/
            inc++;
            // -----------
            console.log('Time: ' + inc);

            if (iframe == null) {
                //console.log('IFRAME NULL');
                return;
            }
            if (iframe.body == null) {
                //console.log('BODY NULL');
                return;
            }
            if(iframe.body.innerHTML == '') {
                //console.log('BODY EMPTY');
                return;
            }

            // Pensio form has been loaded
            console.log(iframe.body.innerHTML);
            clearInterval(timer);

        }, 1000);
    }

    function agreeOrder(val) {
        var val = val || false;
        if(val) {
            $('sm_payment_billing_agree').checked = true;
        } else {
            $('sm_payment_billing_agree').checked = false;
        }
    }
</script>