<?php $_code = $this->getMethodCode() ?>
<div class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">

    <input type="hidden" value="" name="pid" id="pid">
    <input type="hidden" value="payment" name="type">

    <?php //echo $this->__('You can supply your payment details securely after clicking Continue') ?>

    <ul style="" id="payment_form_ccsave" class="form-list">
        <li>
            <label for="ccsave_cc_number"><em>*</em>Credit Card Number</label>

            <div class="input-box">
                <input type="text" value="" class="input-text"
                       title="Credit Card Number" name="cardnum" id="creditCardNumberInput"
                       autocomplete="off">
            </div>
        </li>
        <li>
            <label for="ccsave_expiration"><em>*</em>Expiration Date</label>

            <div class="input-box">
                <div class="v-fix">
                    <select class="month" name="emonth"
                            id="emonth" autocomplete="off">
                        <option selected="selected" value="">Month</option>
                        <option value="01">01 - January</option>
                        <option value="02">02 - February</option>
                        <option value="03">03 - March</option>
                        <option value="04">04 - April</option>
                        <option value="05">05 - May</option>
                        <option value="06">06 - June</option>
                        <option value="07">07 - July</option>
                        <option value="08">08 - August</option>
                        <option value="09">09 - September</option>
                        <option value="10">10 - October</option>
                        <option value="11">11 - November</option>
                        <option value="12">12 - December</option>
                    </select>
                </div>
                <div class="v-fix">
                    <select class="year" name="eyear" id="eyear"
                            autocomplete="off">
                        <option selected="selected" value="">Year</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                </div>
            </div>
        </li>
        <li>
            <label for="ccsave_expiration">CVC/CVV2</label>

            <div class="input-box">
                <input type="text" value="" style="width: 80px;" class="input-text"
                       title="Credit Card Number" name="cvc" id="cvcInput"
                       autocomplete="off">
            </div>
        </li>
        <li>
            <input type="button" id="submit_form" value="Submit" disabled="true">
        </li>
    </ul>
</div>

<script type="text/javascript">
    $$('input.radio').forEach(function (ele, index, array) {
        if ($(ele).checked & $(ele).value == 'pensio_gateway') {
            payment.save();
        }

        $(ele).observe('click', function () {
                if ($(this).value == 'pensio_gateway') {
                    payment.save();
                }
            }
        )
    });
    Checkout.prototype.setStepResponse = function(response){
        if (response.update_section) {
            $('checkout-'+response.update_section.name+'-load').update(response.update_section.html);
        }
        if (response.allow_sections) {
            response.allow_sections.each(function(e){
                $('opc-'+e).addClassName('allow');
            });
        }

        if(response.duplicateBillingInfo)
        {
            shipping.setSameAsBilling(true);
        }

        if (response.goto_section) {
            this.gotoSection(response.goto_section);
            return true;
        }
        if (response.redirect) {
            // location.href = response.redirect;
            // https://testgateway.pensio.com/eCommerce/API/requestForm?pid=42f2d29d-36be-4f7a-a2d4-17855bef394f
            var pid = response.redirect.split('?')[1].split('=')[1];
            $('pid').value = pid;
            $('co-payment-form').action = 'https://testgateway.pensio.com/eCommerce/API/reservationOfFixedAmount?pid=' + pid;
            $('co-payment-form').method = 'POST';

            // Enable submit form
            $('submit_form').observe('click', function() {
                $('co-payment-form').getInputs().forEach(function(ele, index) {
                    console.log($(ele).name + ': ' + $(ele).value);
                });
                if(confirm('Post cart?'))
                    $('co-payment-form').submit();
            });

            return true;
        }
        return false;
    }
</script>