
<form id="co-payment-option-form" action="">
    <div class="sm-step3-payment">
        <?php echo $this->getChildHtml('payment')?>
    </div>
    <div class="buttons-set" id="payment-option-buttons-container-wrap">
        <div class="input-box">
            <input type="checkbox" name="sm_payment_billing_agree" id="sm_payment_billing_agree" />
            <label for="sm_payment_agree">
                <?php echo $this->__('By placing your order, you agree to Cava Bien ') ?>
                <a href="#"><?php echo $this->__('Privacy')?></a>
                <?php echo $this->__(' and ') ?>
                <a href="#"><?php echo $this->__('Conditions')?></a>
            </label>
        </div>
        <div class="buttons-set" id="payment-option-buttons-container">
            <span class="please-wait" id="payment-option-please-wait" style="display:none;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
            </span>
            <button type="button" class="button" id="payment-billing-save" onclick="payment.save()"><span><span><?php echo $this->__('Complete Order') ?></span></span></button>
        </div>
    </div>

    <div class="sm-step3-end">
        <div class="step3-end end-left">
            <p><?php echo $this->__('*Grand Total price includes the delivery cost (if applicable)')?></p>
            <p><?php echo $this->__('*Grand Total price excludes any custom duty (if applicable)')?></p>
        </div>
        <div class="step3-end end-right">
            <img src="<?php echo $this->getSkinUrl('images/norton-secured.jpg');?>" alt="Norton Secured" title="Norton Secured"/>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var payment = new PaymentOption('co-payment-option-form', "<?php echo $this->getUrl('checkout/onepage/savePaymentOption') ?>");
        var review = new Review('<?php echo $this->getUrl('checkout/onepage/saveOrder', array('form_key' => Mage::getSingleton('core/session')->getFormKey())) ?>', '<?php echo $this->getUrl('checkout/onepage/success') ?>', $('checkout-agreements'));
        //]]>
    </script>
</form>