
    <h3><?php echo $this->__('Exclusive Offer') ?></h3>
    <div class="form-list">
        <form name="newsletter" id="newsletter" action="<?php echo $this->getFormActionUrl() ?>" method="post" >
            <p>Sign up to our emails, to receive our offers and style news.</p>
            <ul class="form-list">
                <li>
                    <label for="email_address" class="required"><?php echo $this->__('Email: ') ?></label>
                    <div class="input-box" >
                        <input type="text" name="email" id="email_address" value="" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                    </div>
                </li>
                <li class="order-no">
                    <label for="phone_number" class="required"><?php echo $this->__('Mobile No: ') ?></label>
                    <div class="input-box">
                        <input type="text" name="phone_number" id="phone_number" value="" title="" class="input-text required-entry" />
                    </div>
                    <button type="submit" class="button" title="<?php echo $this->__('Newsletter') ?>" name="newsletter" id="newsletter"><span><span><?php echo $this->__('SUBMIT') ?><i class="fa fa-caret-right fa-fw"></i></span></span></button>
                </li>
            </ul>
        </form>
        <div id="loading-details" class="loading-details" style="display:none">
            <div id="loading-mask" >
                <p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('trackorder/images/ajax-loader-tr.gif') ?>" alt="<?php echo Mage::helper('adminhtml')->__('Loading...') ?>"/><br/><?php echo $this->__('Please wait...') ?></p>
            </div>
        </div>
        <p>Or Sign In into Your account, then Click Order Status to view the status of a current order and your order history.</p>
    </div>



    <div id="oderinfo" class="order-info-message"></div>



    <script type="text/javascript">
        var validateForm = new VarienForm('newsletter', true);
    </script>
    <script type="text/javascript">

        function sendAjax(frmId,url){
            if (!validateForm.validator.validate()) {
                return;
            }
            var data = $(frmId).serialize(this);
            $("loading-details").show();
            new Ajax.Updater(
                {
                    success:"oderinfo"
                },
                url,
                {
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json){
                        $("loading-details").hide();
                        return false;
                    },
                    onLoading:function(request, json){},
                    parameters:data
                }
            );
            return false;
        }

    </script>

 
