<div id="contact_us_main_column">
    <div id="contact_us_header">
        <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
        <div class="page-title">
            <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
        </div>
    </div><!-- end #contact_us_header -->
    <div  class="left left-contact">
        <div class="head">
             <?php echo $this->__('Please contact us at(646)214-XXXX or as a message below.</br>Customer Service is available 24 hours a day, 7 days a week. Please allow 1 business day for responses to emails'); ?>
        </div>
        <div id="contact_us_form">
            <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
                <div class="fieldset">
                    <ul class="form-list">
                        <li class="fields">
                            <div class="field">
                                <label for="name" class="required">*<?php echo Mage::helper('contacts')->__('Topic') ?><span class="right" style="padding-right:11px;"><img class="v-middle" src="<?php echo $this->getSkinUrl('images/small-help.png'); ?>"></span></label>
                                <div class="input-box">
                                    <?php echo Mage::getModel('cms/block')->load('contact_us_topic')->getContent();?>
                                </div>
                                <div class="validation-advice" id="validate_contact_us_select_msg" style="display: none;"><?php echo $this->__('You not select option');?></div>
                                <input type="hidden" id="contact_us_hidden_option_select" name="select_contact_us" />
                            </div>
                            <div class="field">
                                <label for="name" class="required">*<?php echo Mage::helper('contacts')->__('Name') ?></label>
                                <div class="input-box">
                                    <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="email" class="required">*<?php echo Mage::helper('contacts')->__('Email address') ?></label>
                                <div class="input-box">
                                    <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <label for="telephone"><?php echo Mage::helper('contacts')->__('*Phone') ?></label>
                            <div class="input-box">
                                <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text" />
                            </div>
                        </li>
                        <li class="wide">
                            <label for="comment" class="required">*<?php echo Mage::helper('contacts')->__('Message') ?></label>
                            <div class="input-box">
                                <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                            </div>
                        </li>
                        <li class="control"><span class="left"> <input type="checkbox" checked="checked" name="newsletter_contact"> <?php echo $this->__('Join the newsletter'); ?></span>
                            <span class="right">
                                 <input type="text" name="hideit" id="hideit" value="" style="display:none" />
                                <button type="submit" id="contact_us_submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Send Message') ?></span></span></button>
                            </span>
                        </li>
                    </ul>
                </div>
            </form>
        </div><!-- end #contact_us_form -->
        <div id="contact_us_our_location">
            <?php echo Mage::getModel('cms/block')->load('contact_us_our_location')->getContent();?>
        </div><!-- end #contact_us_our_location -->

    </div>
    <div class="right right-contact">
        <div id="contact_us_image_right">
            <?php echo Mage::getModel('cms/block')->load('contact_us_image_right')->getContent();?>
        </div><!-- end #contact_us_image_right -->
    </div>
    <div class="clear"></div>
    <div id="contact_us_footer">
        <div class="bottom-banner a-center">
            <img src="<?php echo $this->getSkinUrl('images/bottombanner.png');?>"/>
        </div>
    </div><!-- end #contact_us_footer -->
</div><!-- end #contact_us_main_column -->
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
    jQuery(document).ready(function(){
        jQuery('#contact_us_submit').click(function(){
            if(!jQuery('#select_contact_us').val()){
                jQuery('#validate_contact_us_select_msg').show();
            }
            var textOptionSeclect = jQuery('#select_contact_us option:selected').text();
            jQuery('#contact_us_hidden_option_select').val(textOptionSeclect);
        })

        jQuery('#select_contact_us').change(function(){
            jQuery('#validate_contact_us_select_msg').hide();
        })
    })

    </script>
