<div class="buttons-set">
    <p class="back-link"><a href="javascript: history.go(-1)"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
<?php
$customer = Mage::getSingleton('customer/session')->getCustomer();
$firstname = $customer['firstname'];
$lastname = $customer['lastname'];
$memberId = $customer->getId();
$dob = $customer['dob'];
$userSince = $customer['created_at'];
$height_ft = $customer['customer_height_ft'];
$height_inches = $customer['customer_height_inches'];
$bust = $customer['customer_bust'];
$waist = $customer['customer_waist'];
$hips = $customer['customer_hips'];
$bra_size_band = $customer['customer_bra_size_band'];
$bra_size_cup = $customer['customer_bra_size_cup'];
$shoe_size = $customer['customer_shoe_size'];
$shoe_width = $customer['customer_shoe_width'];
$dress_size = $customer['customer_dress_size'];
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<!--<form action="--><?php //echo $this->getUrl('customer/account/editPost') ?><!--" method="post" id="form-validate" autocomplete="off" enctype="multipart/form-data" >-->
<div class="dashboard-block">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('my_account_dashboard')->toHtml(); ?>
</div>
<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" enctype="multipart/form-data" >
<div class="col2-set">
     <div class="box none-border">
        <div class="box-title" style="margin-bottom:6px;">
            <h3><?php echo $this->__('My Profile') ?></h3>
        </div>
    <p>
            <p><?php echo $this->__('Below is your profile with') ?>
            <a href="<?php echo MAGE::getBaseUrl(); ?>"><?php echo $this->__('www.cava-bien.com');?></a>
            <?php echo $this->__('.To edit your personal information, simple click on') ?>
            <a href="<?php echo MAGE::getBaseUrl(); ?>customer/account/edit"><?php echo $this->__('Change Personal Info');?></a>
            <?php echo $this->__('or') ?>
            <a href="<?php echo MAGE::getBaseUrl(); ?>customer/account/edit"><?php echo $this->__('Change Size Info');?></a>
            <?php echo $this->__(', make changed and then click on the SUBMIT button below.') ?>

      </p>
<div class="box-content">
  <div class="col-1">
    <div class="box" style="min-height: 285px;">
                <h4><?php echo $this->__('My personal Info') ?></h4>
        <?php echo $this->getBlockHtml('formkey')?>
         <address>
                <table width="100%">
                    <tbody>
                        <tr class="name"><td width="25%"><b><?php echo $this->__('Name:');?></b></td>
                            <td> <input type="text" id="firstname" name="firstname" value="<?php echo $firstname; ?>" /><input type="text" id="lastname" name="lastname" value="<?php echo $lastname; ?>" /></td>
                            <td rowspan="7" style="vertical-align: top; text-align: center;">   <!-- avatar -->
                              <label for="avatar"><b><?php echo $this->__('Avatar') ?></b></label><br/>
                              <div class="input-box">
                                  <input name="avatar" id="avatar" class="input-text" type="file" />
                              </div>

                              <label for="avatar">
                                  <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA). 'customer/'.$customer['avatar']; ?>" width="100" height="100" id="imagePreview"/>
                              </label>
                              <p class="a-center">Upload a profile photo in (JPG, PNG, BMP).<br/>You can always change it later.</p>
                              <!-- end .avatar -->
                        </td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Member ID:');?></b></td>
                            <td> <?php echo $memberId;?></td>
                        </tr>
                        <tr class="email"><td width="25%"><b><?php echo $this->__('Email:');?></b></td>
                            <td><input type="text" name="email" id="email" value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text required-entry validate-email" /></td>
                        </tr>
                        <tr>
                            <td width="25%"><b><?php echo $this->__('Date Of Birth:');?></b></td>
                            <td><?php echo $this->getLayout()->createBlock('customer/widget_dob')->setTemplate('customer/form/dob.phtml')->toHtml(); ?></td>
                        </tr>

                        <tr class="gender"><td width="25%"><b><?php echo $this->__('Gender:');?></b></td>
                            <td>
                                 <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
            <?php if ($_gender->isEnabled()): ?>
                <?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?>
            <?php endif ?>
                            </td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('User Since:');?></b></td>
                            <td><?php echo date('F Y', strtotime($userSince)); ?></td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Password:');?></b></td>
                            <td><?php echo "********"; ?></td>
                        </tr>
                        <tr><td width="25%"> <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo $this->__('Change Password') ?>"<?php if($this->getCustomer()->getChangePassword()==1): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="change_password"><?php echo $this->__('Change Password') ?></label></b></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                </address> 
                <div class="fieldset" style="display:none; margin-top:10px;">
        <h4><?php echo $this->__('Change Password') ?></h4>
        <ul class="form-list">
            <li>
                <label style="display:block; float:none;" for="current_password" class="required"><em>*</em><?php echo $this->__('Current Password') ?></label>
                <div class="input-box">
                    <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                    <input type="text" class="input-text no-display" name="dummy" id="dummy" />
                    <input type="password" title="<?php echo $this->__('Current Password') ?>" class="input-text" name="current_password" id="current_password" />
                </div>
            </li>
            <li class="fields">
                <div class="field">
                    <label for="password" class="required"><em>*</em><?php echo $this->__('New Password') ?></label>
                    <div class="input-box">
                        <input type="password" title="<?php echo $this->__('New Password') ?>" class="input-text validate-password" name="password" id="password" />
                    </div>
                </div>
                <div class="field">
                    <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>
                    <div class="input-box">
                        <input type="password" title="<?php echo $this->__('Confirm New Password') ?>" class="input-text validate-cpassword" name="confirmation" id="confirmation" />
                    </div>
                </div>
            </li>
        </ul>
    </div> 
       <div class="clear-both a-right">
          <button class="button silver"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><span><?php echo $this->__('Cancel') ?></span></a></button>
           <button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Submit') ?>&nbsp;<i class="fa fa-caret-right"></i></span></span></button>
      </div>
    </div>
   

  </div><!-- end .col-1 -->

  <!-- custom attributes -->
   <div class="col-2">
        <div class="box" style="min-height: 285px;" >
        <h4><?php echo $this->__('My Measurement Info ') ?></h4>
       <table width="100%">
                    <tbody>
                        <tr><td width="25%"><b><?php echo $this->__('Height:');?></b></td>
                            <td>  <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_height_ft');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_height_ft" name="customer_height_ft" title="<?php echo $this->__('Height ft'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $height_ft) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                    <span>cm</span>
                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_height_inches');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_height_inches" name="customer_height_inches" title="<?php echo $this->__('Height inchs'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $height_inches) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select><span>inch</span>
                    </td>
                            <td rowspan="7">&nbsp;</td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Bust:');?></b></td>
                            <td> <?php
                        $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_bust');
                        $options = $attribute->getSource()->getAllOptions();
                        ?>
                        <select id="customer_bust" name="customer_bust" title="<?php echo $this->__('Bust'); ?>">
                            <?php foreach ($options as $option):?>
                                <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $bust) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                            <?php endforeach;?>
                        </select>
                    </td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Waist:');?></b></td>
                            <td> <?php
                        $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_waist');
                        $options = $attribute->getSource()->getAllOptions();
                        ?>
                        <select id="customer_waist" name="customer_waist" title="<?php echo $this->__('Waist'); ?>">
                            <?php foreach ($options as $option):?>
                                <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $waist) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                            <?php endforeach;?>
                        </select>
                        </td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Hips:');?></b></td>
                            <td><?php
                        $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_hips');
                        $options = $attribute->getSource()->getAllOptions();
                        ?>
                        <select id="customer_hips" name="customer_hips" title="<?php echo $this->__('Hips'); ?>">
                            <?php foreach ($options as $option):?>
                                <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $hips) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                            <?php endforeach;?>
                        </select>
                            </td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Bra Size:');?></b></td>
                            <td>
                                 <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_bra_size_band');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_bra_size_band" name="customer_bra_size_band" title="<?php echo $this->__('Bra Size band'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $bra_size_band) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>

                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_bra_size_cup');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_bra_size_cup" name="customer_bra_size_cup" title="<?php echo $this->__('Bra Size cup'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $bra_size_cup) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                            </td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Shoe Size:');?></b></td>
                            <td><?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_shoe_size');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_shoe_size" name="customer_shoe_size" title="<?php echo $this->__('Shoe size'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $shoe_size) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>

                    <?php
                    $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_shoe_width');
                    $options = $attribute->getSource()->getAllOptions();
                    ?>
                    <select id="customer_shoe_width" name="customer_shoe_width" title="<?php echo $this->__('Shoe width'); ?>">
                        <?php foreach ($options as $option):?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $shoe_width) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                        <?php endforeach;?>
                    </select>
                            </td>
                        </tr>
                        <tr><td width="25%"><b><?php echo $this->__('Dress Size:');?></b></td>
                            <td><?php
                        $attribute = Mage::getModel('eav/config')->getAttribute('customer','customer_dress_size');
                        $options = $attribute->getSource()->getAllOptions();
                        ?>
                        <select id="customer_dress_size" name="customer_dress_size" title="<?php echo $this->__('Dress Size'); ?>">
                            <?php foreach ($options as $option):?>
                                <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $dress_size) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                            <?php endforeach;?>
                        </select>
                            </td>
                        </tr>
                    </tbody>
                </table>         


    <!-- custom attributes -->
    <!-- button -->
    <div class="clear-both a-right">
        
        <button class="button silver"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><?php echo $this->__('Cancel') ?></a></button>
        <button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Submit') ?>&nbsp;<i class="fa fa-caret-right"></i></span></span></button>
    </div>

    </div></div><!-- end .col-2 -->
   </div><!-- end .box-content -->
</div>
  </div><!-- end .col2-set -->
</form>

<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    function setPasswordForm(arg){
        if(arg){
            $('current_password').up(3).show();
            $('current_password').addClassName('required-entry');
            $('password').addClassName('required-entry');
            $('confirmation').addClassName('required-entry');

        }else{
            $('current_password').up(3).hide();
            $('current_password').removeClassName('required-entry');
            $('password').removeClassName('required-entry');
            $('confirmation').removeClassName('required-entry');
        }
    }

    <?php if($this->getCustomer()->getChangePassword()): ?>
    setPasswordForm(true);
    <?php endif; ?>
    //]]>

    jQuery("#avatar").hide();

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                jQuery('#imagePreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    jQuery("#avatar").on("change", function() {
             readURL(this);
        });

    jQuery(document).ready(function(){
        jQuery('a[href*="customer/account/"]').parent().addClass('current');
    })

</script>
