<?php
$controllerName = $this->getRequest()->getControllerName();
$actionName = $this->getRequest()->getActionName();
$moduleName = $this->getRequest()->getModuleName();
?>
<ul class="product-tabs">
    <li <?php if (($moduleName == 'customer' && $controllerName == 'account') || ($moduleName == 'quicklogin' && $controllerName == 'account')): ?> class="active" <?php endif; ?>>
        <a
            href="<?php echo Mage::getUrl('customer/account/index'); ?>"><?php echo $this->__('My Profile') ?></a></li>
    <li <?php if ($moduleName == 'customer' && $controllerName == 'address'): ?> class="active" <?php endif; ?>><a

            href="<?php echo Mage::getUrl('customer/address/index'); ?>"><?php echo $this->__('Billing & shipping') ?></a></li>

    <li <?php if ($moduleName == 'sales' && $controllerName == 'order'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('sales/order/history'); ?>"><?php echo $this->__('Order history') ?></a></li>
    <li <?php if ($moduleName == 'review' && $controllerName == 'customer'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('review/customer'); ?>"><?php echo $this->__('My reviews') ?></a></li>
</ul>

<?php
$amount = $this->getBalance();
$points = $this->getRewardPoints();
?>

<div class="tabs-content info">
    <ul>
        <li><span class="upper"><?php echo $this->__('Credit: '); ?> </span><strong
                class="pink"><?php echo $this->__('%s', Mage::helper('core')->currency($amount, true, false)); ?></strong>
        </li>
        <li><span class="upper"><?php echo $this->__('Reward points: '); ?></span><strong
                class="pink"><?php echo $this->__('%s', $points); ?></strong></li>
        <li><span><a
                    href="<?php echo Mage::getUrl('rewardpoints/'); ?>"><?php echo $this->__('Redeem points') ?></a></span>
        </li>
        <li><span><a href="<?php echo Mage::getUrl('invitations/'); ?>"><?php echo $this->__('Invite friends') ?></a></span></li>
        <li><span><a
                    href="<?php echo Mage::getUrl('cavabien/myaccount/loveit'); ?>"><?php echo $this->__('My loved list') ?></a></span>
        </li>
    </ul>
</div>