<?php
$controllerName = $this->getRequest()->getControllerName();
$actionName = $this->getRequest()->getActionName();
$moduleName = $this->getRequest()->getModuleName();
?>
<ul class="product-tabs">
    <li <?php if ($moduleName == 'cavabien' && $controllerName == 'myaccount'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('cavabien/myaccount/loveit'); ?>"><?php echo $this->__('My Loved list') ?></a></li>
    <li <?php if ($moduleName == 'index' && $controllerName == 'address'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('rewardpoints/index'); ?>"><?php echo $this->__('My Notifications') ?></a></li>
    <li <?php if ($moduleName == 'creditcard' && $controllerName == 'mycards'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('creditcard/mycards'); ?>"><?php echo $this->__('My Credit Card') ?></a></li>
    <li <?php if ($moduleName == 'tag' && $controllerName == 'customer'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('tag/customer'); ?>"><?php echo $this->__('My Tags') ?></a></li>
</ul>

<?php
$amount = $this->getBalance();
$points = $this->getRewardPoints();
?>

<div class="tabs-content info">
    <ul>
        <li><span class="upper"><?php echo $this->__('Credit: '); ?> </span><strong
                class="pink"><?php echo $this->__('%s', Mage::helper('core')->currency($amount, true, false)); ?></strong>
        </li>
        <li><span class="upper"><?php echo $this->__('Reward points: '); ?></span><strong
                class="pink"><?php echo $this->__('%s', $points); ?></strong></li>
        <li><span><a
                    href="<?php echo Mage::getUrl('rewardpoints/'); ?>"><?php echo $this->__('Redeem points') ?></a></span>
        </li>
        <li><span><a href="<?php echo Mage::getUrl('invitations/'); ?>"><?php echo $this->__('Invite friends') ?></a></span></li>
        <li><span><a
                    href="<?php echo Mage::getUrl('cavabien/myaccount/loveit'); ?>"><?php echo $this->__('My loved list') ?></a></span>
        </li>
    </ul>
</div>