<?php
$controllerName = $this->getRequest()->getControllerName();
$moduleName = $this->getRequest()->getModuleName();
$actionName = $this->getRequest()->getActionName();

?>
<ul class="product-tabs q">
    <li<?php if ($moduleName == 'rewardpoints' && $controllerName == 'index'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('rewardpoints/'); ?>"><?php echo $this->__('Reward points') ?></a></li>
    <li<?php if ($moduleName == 'invitations' && $controllerName == 'index'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('invitations/'); ?>"><?php echo $this->__('My Invitation') ?></a></li>
    <li<?php if ($moduleName == 'wishlist' && $controllerName == 'index'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('wishlist/'); ?>"><?php echo $this->__('My Wishlist') ?></a></li>
    <li<?php if ($moduleName == 'storecredit' && $controllerName == 'info'): ?> class="active" <?php endif; ?>><a
            href="<?php echo Mage::getUrl('storecredit/info'); ?>"><?php echo $this->__('Gift Certificate') ?></a></li>
</ul>
<?php
$amount = $this->getBalance();
$points = $this->getRewardPoints();
?>
<div class="tabs-content info">
    <ul>
        <li><span class="upper"><?php echo $this->__('Credit: '); ?> </span><strong
                class="pink"><?php echo $this->__('%s', Mage::helper('core')->currency($amount, true, false)); ?></strong>
        </li>
        <li><span class="upper"><?php echo $this->__('Reward points: '); ?></span><strong
                class="pink"><?php echo $this->__('%s', $points); ?></strong></li>
        <li><span><a
                    href="<?php echo Mage::getUrl('rewardpoints/'); ?>"><?php echo $this->__('Redeem points') ?></a></span>
        </li>
        <li><span><a href="<?php echo Mage::getUrl('invitations/'); ?>"><?php echo $this->__('Invite friends') ?></a></span></li>
        <li><span><a
                    href="<?php echo Mage::getUrl('cavabien/myaccount/loveit'); ?>"><?php echo $this->__('My loved list') ?></a></span>
        </li>
    </ul>
</div>