<div class="collateral-box" id="qacontent">
	<div class="collateral-box" id="product-q-a">
		<?php $entries = $this->getEntries(); ?>
		<?php if(!$entries->getSize()): ?>
        <p class="sm-qa-desc"><?php echo $this->__('Ask a question or share your thoughts about this item with other shoppers in the community.') ?></p>
        <h5 class="qa-popup"><i class="fa fa-angle-double-right"></i> <a href="#question-form-popup" id="add-question"><span><?php echo $this->__('Be the first to ask a question!') ?></span></a></h5>
        <div class="assistance">
            <span class="title"><?php echo $this->__('Need immediate assistance?');?></span>
            <span><a href="#" class="chat-with-us"><?php echo $this->__('Chat with us');?></a></span>
        </div>
		<?php else: ?>
		<div class="list-qa">
		<ul id="productqa-questionlist">
			<?php foreach($entries as $entry): ?>
			<li class="question-entry">
            <div class="main-question">
            <div class="sm-preview-inner">
				<div class="entry-comment">
                    <span class="text-icon"><?php echo $this->__('Q')?></span>
                    <span class="time"><?php echo Mage::helper('core')->formatDate($entry->getCreatedOn(), 'long', false); ?></span>
                    <p id="main<?php echo $entry->getProductqaId();?>" class="title-question-item"><?php echo $this->htmlEscape($entry->getMainQuestion()); ?></p>
                    <div class="qa-media">
                        <?php if($entry->getPhoto()!=null):?>
                        <?php $images = explode(' ',$entry->getPhoto());?>
                        <?php foreach($images as $image):?>
                        <?php
                            // actual path of image
                            $imageUrl = Mage::getBaseDir('media').DS.'productqa'.DS.$image;
                            // path of the resized image to be saved
                            // here, the resized image is saved in media/resized folder
                            $imageResized = Mage::getBaseDir('media').DS."productqa".DS."resized".DS.$image;
                            $directory = dirname($imageResized);

                            if (!file_exists($directory) || !is_dir($directory)) {
                                if (!@mkdir($directory, 0777, true))
                                return null;
                            }
                            // resize image only if the image file exists and the resized image file doesn't exist
                            // the image is resized proportionally with the width/height 135px
                            if (!file_exists($imageResized)&&file_exists($imageUrl)) :
                            $imageObj = new Varien_Image($imageUrl);
                            $imageObj->constrainOnly(TRUE);
                            $imageObj->keepAspectRatio(TRUE);
                            $imageObj->keepTransparency(TRUE);
                            $imageObj->keepFrame(FALSE);
                            $imageObj->resize(50, 56);
                            $imageObj->save($imageResized);
                            endif;
                        ?>
                        <img src="<?php echo Mage::getBaseUrl('media').'productqa/resized/'.$image;?>" />
                        <?php endforeach;?>
                        <?php endif;?>
                        <?php if($entry->getVideo()!=null):?>
                        <?php $videoId = substr(strstr($entry->getVideo(),'?'),3);?>
                        <iframe width="280" height="210" src="//www.youtube.com/embed/<?php echo $videoId;?>" frameborder="0" allowfullscreen></iframe>
                        <p class="video-caption"><?php echo $entry->getVideoCaption();?></p>
                        <?php endif;?>
                    </div>
                    <div class="details-question-item">
                        <p id="detail<?php echo $entry->getProductqaId();?>" class="detail"><?php echo $this->htmlEscape($entry->getQuestion()); ?></p>
                        <div class="clear-both"></div>
                        <span class="name"><span id="nickname<?php echo $entry->getProductqaId();?>" class="nickname"><?php echo $entry->getName(); ?></span></span>
                        <span class="city"><span id="city<?php echo $entry->getProductqaId();?>" class="city"><?php if($entry->getCity()!=null){echo '[ '.$entry->getCity().' ]';} ?></span></span>
                    </div>
				</div>
                <div class="bottom-question-item">
                    <a href="#answer-form-popup" class="answer-question" parent="<?php echo $entry->getProductqaId();?>"><?php echo $this->__('Answer this Question') ?></a>

                    <div class="addthis-container">
                        <span><?php echo $this->__('Share With Friends')?></span>
                        <div class="addthis_toolbox addthis_default_style">
                            <a class="addthis_button_facebook addthis_button_preferred_2" title="<?php echo $this->__('Share on facebook') ?>" href="#"><span class="at16nc at300bs at15nc at15t_facebook at16t_facebook"><span class="at_a11y"><?php echo $this->__('Share on facebook') ?></span></span></a>
                            <a class="addthis_button_pinterest addthis_button_preferred_4" title="<?php echo $this->__('Share on pinterest') ?>" href="#"><span class="at16nc at300bs at15nc at15t_pinterest at16t_pinterest"><span class="at_a11y"><?php echo $this->__('Share on pinterest') ?></span></span></a>
                            <a class="addthis_button_twitter addthis_button_preferred_3" target="_blank" title="<?php echo $this->__('Share on twitter') ?>" href="#"><span class="at16nc at300bs at15nc at15t_twitter at16t_twitter"><span class="at_a11y"><?php echo $this->__('Share on twitter') ?></span></span></a>
                            <div class="atclear"></div>
                        </div>
                    </div>
				<?php $numHelpfull =  Mage::getModel('pws_productqa/productqa')->load($entry->getProductqaId())->getHelpfull();?>
				<?php $noHelpfull =  Mage::getModel('pws_productqa/productqa')->load($entry->getProductqaId())->getNoHelpfull();?>
                    <div class="wrap-qahelpfull"><span class="number-qahelpfull<?php echo $entry->getProductqaId()?>"><?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?></span> <?php echo $this->__('Person found this helpful.')?></div>
                    <div class="vote-qahelpfull">
                        <span class="title"><?php echo $this->__('Good question?')?></span>
				<img style="display: none" id="ajax-qa-helpful<?php echo $entry->getProductqaId()?>" src="<?php echo $this->getSkinUrl('images/bx_loader.gif');?>" />
				<?php
					$visitorData = Mage::getSingleton('core/session')->getVisitorData();
					$colectionQahelpfull1 =  Mage::getModel('pws_productqa/productqahelpfull')->getCollection()
					->addFieldToFilter('productqa_id', array('eq' => $entry->getProductqaId()))
					->addFieldToFilter('customer_id', array('null'=>true))
					->addFieldToFilter('is_new_visitor', array('eq' => $visitorData['visitor_id']));
					if(isset($visitorData['customer_id'])&&$visitorData['customer_id']!=null){
						$colectionQahelpfull2 =  Mage::getModel('pws_productqa/productqahelpfull')->getCollection()
						->addFieldToFilter('productqa_id', array('eq' => $entry->getProductqaId()))
						->addFieldToFilter('customer_id', array('eq' => $visitorData['customer_id']));
					}
					
					if(count($colectionQahelpfull1)>0||( isset($colectionQahelpfull2)&&count($colectionQahelpfull2)>0)){
					?>
					<?php
						if(count($colectionQahelpfull1)>0){
							$colData = $colectionQahelpfull1->getData();
							$reviewStatus = $colData[0]['review_status'];
							}elseif(count($colectionQahelpfull2)>0){
							$colData = $colectionQahelpfull2->getData();
							$reviewStatus = $colData[0]['review_status'];
						}
						
					?>
                        <?php if($reviewStatus=='no'):?>
                            <a href="javascript:void(0)" class="qahelpfull-yes<?php echo $entry->getProductqaId()?>" onclick="qaHelpful('yes',<?php echo $entry->getProductqaId()?>)">Yes</a>
                            <span class="number-qahelpfull<?php echo $entry->getProductqaId()?>">(<?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?>)</span>
                            <a href="javascript:void(0)" class="qahelpfull-no<?php echo $entry->getProductqaId()?>" onclick="return false">No</a>
                            <span class="no-helpfull<?php echo $entry->getProductqaId()?>">(<?php echo $noHelpfull;?>)</span>

                            <?php elseif($reviewStatus=='yes'):?>
                            <a href="javascript:void(0)" class="qahelpfull-yes<?php echo $entry->getProductqaId()?>" onclick="return false">Yes</a>
                            <span class="number-qahelpfull<?php echo $entry->getProductqaId()?>">(<?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?>)</span>
                            <a href="javascript:void(0)" class="qahelpfull-no<?php echo $entry->getProductqaId()?>" onclick="qaHelpful('no',<?php echo $entry->getProductqaId()?>)">No</a>
                            <span class="no-helpfull<?php echo $entry->getProductqaId()?>">(<?php echo $noHelpfull;?>)</span>
                            <?php endif;?>

                        <?php }else{?>
                        <a href="javascript:void(0)" class="qahelpfull-yes<?php echo $entry->getProductqaId()?>" onclick="qaHelpful('yes',<?php echo $entry->getProductqaId()?>)">Yes</a>
                        <span class="number-qahelpfull<?php echo $entry->getProductqaId()?>">(<?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?>)</span>
                        <a href="javascript:void(0)" class="qahelpfull-no<?php echo $entry->getProductqaId()?>" onclick="qaHelpful('no',<?php echo $entry->getProductqaId()?>)">No</a>
                        <span class="no-helpfull<?php echo $entry->getProductqaId()?>">(<?php echo $noHelpfull;?>)</span>
                        <?php } ?>
                        </div>
                </div>
				 </div>
				</div>
				<?php if($entry->getProductqaId()!=null):?>
				<?php $answers = $this->getAnswers($entry->getProductqaId());?>
                <?php if (count($answers) >= 1):?>
                    <div class="main-answers">
                        <div class="toggle-answer" onclick="toggleProductAnswer(<?php echo $entry->getProductqaId();?>)">
                            <span class="toggle-text toggle-text<?php echo $entry->getProductqaId();?>"><i class="fa fa-plus"></i> <?php echo $this->__('Show Answers')?></span>
                            <span class="toggle-text toggle-text<?php echo $entry->getProductqaId();?>" style="display: none"><i class="fa fa-minus"></i> <?php echo $this->__('Hide Answers')?></span>
                            <span class="num-ans"><?php echo count($answers).' Answers';?></span>
                        </div>
				<div class="list-answer answer-of<?php echo $entry->getProductqaId();?>" style="display: none;">
					<?php foreach($answers as $answer):?>
                    <div class="sm-answer">
                        <div class="sm-answer-inner">
                            <div class="entry-answer">
                                <span class="text-icon"><?php echo $this->__('A'); ?></span>
                                <div class="details-answer-item">
                                    <p class="detail"><?php echo $this->htmlEscape($answer->getQuestion()); ?></p>
                                    <div class="clear-both"></div>
                                    <span class="name"><span class="nickname"><?php echo $answer->getName(); ?></span></span>
                                    <span class="city"><span class="city"><?php if($answer->getCity()!=null){echo '[ '.$answer->getCity().' ]';} ?></span></span>
                                    <span class="time"><span class="create-time"><?php echo Mage::helper('core')->formatDate($answer->getCreatedOn(), 'long', false); ?></span></span>
                                    <div class="clear-both"></div>
                                    <?php if($answer->getVideo()!=null):?>
                                    <?php $videoId = substr(strstr($answer->getVideo(),'?'),3);?>
                                    <div class="qa-media">
                                        <iframe width="280" height="210" src="//www.youtube.com/embed/<?php echo $videoId;?>" frameborder="0" allowfullscreen></iframe>
                                        <p class="video-caption"><?php echo $answer->getVideoCaption();?></p>
                                    </div>
                                    <?php endif;?>
                                </div>
                            </div>
                            <div class="bottom-answer-item">
                                <a href="javascript:void(0)" class="reply-answer" onclick="showReplyForm(<?php echo $answer->getProductqaId(); ?>);"><?php echo $this->__('Reply to'); ?> <?php echo $answer->getName();?></a>

                                <div class="addthis-container">
                                    <span><?php echo $this->__('Share With Friends')?></span>
                                    <div class="addthis_toolbox addthis_default_style">
                                        <a class="addthis_button_facebook addthis_button_preferred_2" title="<?php echo $this->__('Share on facebook') ?>" href="#"><span class="at16nc at300bs at15nc at15t_facebook at16t_facebook"><span class="at_a11y"><?php echo $this->__('Share on facebook') ?></span></span></a>
                                        <a class="addthis_button_pinterest addthis_button_preferred_4" title="<?php echo $this->__('Share on pinterest') ?>" href="#"><span class="at16nc at300bs at15nc at15t_pinterest at16t_pinterest"><span class="at_a11y"><?php echo $this->__('Share on pinterest') ?></span></span></a>
                                        <a class="addthis_button_twitter addthis_button_preferred_3" target="_blank" title="<?php echo $this->__('Share on twitter') ?>" href="#"><span class="at16nc at300bs at15nc at15t_twitter at16t_twitter"><span class="at_a11y"><?php echo $this->__('Share on twitter') ?></span></span></a>
                                        <div class="atclear"></div>
                                    </div>
                                </div>

                                <?php $numHelpfull =  Mage::getModel('pws_productqa/productqa')->load($answer->getProductqaId())->getHelpfull();?>
                                <?php $noHelpfull =  Mage::getModel('pws_productqa/productqa')->load($answer->getProductqaId())->getNoHelpfull();?>
                                <div class="wrap-qahelpfull"><span class="number-qahelpfull<?php echo $answer->getProductqaId()?>"><?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?></span> <?php echo $this->__('Person found this helpful.')?></div>
                                <div class="vote-qahelpfull">
                                    <span class="title"><?php echo $this->__('Good question?')?></span>
                                    <img style="display: none" id="ajax-qa-helpful<?php echo $answer->getProductqaId()?>" src="<?php echo $this->getSkinUrl('images/bx_loader.gif');?>" />
                                    <?php
                                    $visitorData = Mage::getSingleton('core/session')->getVisitorData();
                                    $colectionQahelpfull1 =  Mage::getModel('pws_productqa/productqahelpfull')->getCollection()
                                        ->addFieldToFilter('productqa_id', array('eq' => $answer->getProductqaId()))
                                        ->addFieldToFilter('customer_id', array('null'=>true))
                                        ->addFieldToFilter('is_new_visitor', array('eq' => $visitorData['visitor_id']));
                                    if(isset($visitorData['customer_id'])&&$visitorData['customer_id']!=null){
                                        $colectionQahelpfull2 =  Mage::getModel('pws_productqa/productqahelpfull')->getCollection()
                                            ->addFieldToFilter('productqa_id', array('eq' => $answer->getProductqaId()))
                                            ->addFieldToFilter('customer_id', array('eq' => $visitorData['customer_id']));
                                    }

                                    if(count($colectionQahelpfull1)>0||( isset($colectionQahelpfull2)&&count($colectionQahelpfull2)>0)){ ?>
                                        <?php if(count($colectionQahelpfull1)>0){
                                            $colData = $colectionQahelpfull1->getData();
                                            $reviewStatus = $colData[0]['review_status'];
                                        } elseif(count($colectionQahelpfull2)>0){
                                            $colData = $colectionQahelpfull2->getData();
                                            $reviewStatus = $colData[0]['review_status'];
                                        }
                                        ?>

                                        <?php if($reviewStatus=='no'):?>
                                            <a href="javascript:void(0)" class="qahelpfull-yes<?php echo $answer->getProductqaId()?>" onclick="qaHelpful('yes',<?php echo $answer->getProductqaId()?>)"><?php echo $this->__('Yes'); ?></a>
                                            <span class="number-qahelpfull<?php echo $answer->getProductqaId()?>">(<?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?>)</span>

                                            <a href="javascript:void(0)" class="qahelpfull-no<?php echo $answer->getProductqaId()?>" onclick="return false"><?php echo $this->__('No'); ?></a>
                                            <span class="no-helpfull<?php echo $answer->getProductqaId()?>">(<?php echo $noHelpfull;?>)</span>
                                            <?php elseif($reviewStatus=='yes'):?>
                                            <a href="javascript:void(0)" class="qahelpfull-yes<?php echo $answer->getProductqaId()?>" onclick="return false"><?php echo $this->__('Yes'); ?></a>
                                            <span class="number-qahelpfull<?php echo $answer->getProductqaId()?>">(<?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?>)</span>

                                            <a href="javascript:void(0)" class="qahelpfull-no<?php echo $answer->getProductqaId()?>" onclick="qaHelpful('no',<?php echo $answer->getProductqaId()?>)"><?php echo $this->__('No'); ?></a>
                                            <span class="no-helpfull<?php echo $answer->getProductqaId()?>">(<?php echo $noHelpfull;?>)</span>
                                            <?php endif;?>
                                        <?php }else{?>
                                        <a href="javascript:void(0)" class="qahelpfull-yes<?php echo $answer->getProductqaId()?>" onclick="qaHelpful('yes',<?php echo $answer->getProductqaId()?>)"><?php echo $this->__('Yes'); ?></a>
                                        <span class="number-qahelpfull<?php echo $answer->getProductqaId()?>">(<?php if($numHelpfull==null){echo '0';}else{echo $numHelpfull;}?>)</span>

                                        <a href="javascript:void(0)" class="qahelpfull-no<?php echo $answer->getProductqaId()?>" onclick="qaHelpful('no',<?php echo $answer->getProductqaId()?>)"><?php echo $this->__('No'); ?></a>
                                        <span class="no-helpfull<?php echo $answer->getProductqaId()?>">(<?php echo $noHelpfull;?>)</span>
                                        <?php } ?>
                                </div>
                            </div>
                            <div class="wrap-reply-answer">
                                <div class="form-reply-answer">
                                    <form id="form-reply<?php echo $answer->getProductqaId()?>" action="<?php echo Mage::getUrl('productqa/index/addQuestion'); ?>" class="form-replyqa<?php echo $answer->getProductqaId();?>" method="post" style="display: none">
                                        <input type="text" hidden="hidden" id="email-reply-hidden<?php echo $answer->getProductqaId()?>" name="email" placeholder="Email">
                                        <input type="text" hidden="hidden" id="firstname-reply-hidden<?php echo $answer->getProductqaId()?>" name="firstname" placeholder="First name">
                                        <input type="text" hidden="hidden" id="lastname-reply-hidden<?php echo $answer->getProductqaId()?>" name="lastname" placeholder="Last name">
                                        <input type="text" hidden="hidden" id="name-reply-hidden<?php echo $answer->getProductqaId()?>" name="name" placeholder="Nickname">
                                        <input type="hidden" name="parentqa_id" value="<?php echo $answer->getProductqaId();?>">
                                        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                                        <input type="hidden" name="product_id" value="<?php echo Mage::registry('product')->getId(); ?>" />
                                        <input type="hidden" name="store_id" value="<?php echo Mage::app()->getStore(true)->getStoreId(); ?>" />
                                        <input hidden="hidden" type="checkbox" id="check-term-reply<?php echo $answer->getProductqaId()?>">

                                        <textarea name="question" id="question" title="<?php echo Mage::helper('pws_productqa')->__('More Detail') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                                        <div class="form-reply-answer-bottom">
                                            <span><?php echo $this->__('Do not include HTML, links, references to other stores, pricing, or contact info.')?></span>

                                            <div class="action">
                                                <span onclick="hideReplyForm(<?php echo $answer->getProductqaId();?>)">Cancel</span>
                                                <button onclick="checkTerm(<?php echo $answer->getProductqaId()?>);" type="submit" title="<?php echo Mage::helper('pws_productqa')->__('Submit') ?>" class="button form-button"><span><span><?php echo Mage::helper('pws_productqa')->__('Submit') ?> <i class="fa fa-caret-right"></i></span></span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="reply-about-you" id="reply-about-you<?php echo $answer->getProductqaId()?>" style="display: none">
                                    <span class="fancybox-close" id="cancel-reply-about-you<?php echo $answer->getProductqaId()?>"></span>
                                    <form id="reply-about-you-form<?php echo $answer->getProductqaId()?>">
                                        <div class="reply-head">
                                            <h2><?php echo $this->__('About you')?></h2>
                                        </div>

                                        <div class="reply-form">
                                            <div class="sm-field field-col-12">
                                                <input type="text" id="email-reply<?php echo $answer->getProductqaId()?>" placeholder="Email" class="input-text validate-email">
                                            </div>

                                            <div class="sm-field field-col-6 left">
                                                <input type="text" id="firstname-reply<?php echo $answer->getProductqaId()?>" placeholder="First name">
                                            </div>

                                            <div class="sm-field field-col-6 right">
                                                <input type="text" id="lastname-reply<?php echo $answer->getProductqaId()?>" placeholder="Last name">
                                            </div>

                                            <div class="sm-field field-col-12">
                                                <input type="text" id="name-reply<?php echo $answer->getProductqaId()?>" placeholder="Nickname">
                                            </div>

                                            <div class="reply-bottom sm-field field-col-12">
                                                <input type="checkbox" id="check-term-about-reply<?php echo $answer->getProductqaId()?>">
                                                <label><?php echo $this->__('I have read and accepted the Terms of Use for posting.*')?></label>
                                                <a class="button" onclick="checkTermReply(<?php echo $answer->getProductqaId()?>)"><span><span><?php echo $this->__('Submit')?> <i class="fa fa-caret-right"></i></span></span></a>
                                            </div>
                                            <script type="text/javascript">
                                                jQuery('#check-term-about-reply<?php echo $answer->getProductqaId()?>').click(function(){
                                                    jQuery('#check-term-reply<?php echo $answer->getProductqaId()?>').click();
                                                })
                                            </script>
                                    </form>
                                    <script type="text/javascript">
                                        var dataForm = new VarienForm('reply-about-you-form<?php echo $answer->getProductqaId()?>', true);
                                    </script>
                                </div>
                            </div>
                            <?php $replys = $this->getAnswers($answer->getProductqaId());?>
                            <ul class="reply-answer">
                                <?php foreach($replys as $reply):?>
                                <li>
                                    <span class="reply-name"><?php echo $reply->getName().':';?></span>
                                    <span class="reply-text"><?php echo $reply->getQuestion().' ';?></span>
                                    <span class="rely-time"><?php echo Mage::helper('core')->formatDate($reply->getCreatedOn(), 'long', false); ?></span>
                                </li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                        </div>
                    </div>
					<?php endforeach; ?>
				</div>
                    </div>
                    <?php endif;?>
				<?php endif;?>
			</li>
			<?php endforeach; ?>
		</ul>
        </div>
					<?php endif; ?>
					<br />
					<!--        --><?php //echo $this->getChildHtml('questionForm'); ?>
					<!--        --><?php //echo $this->getChildHtml('answerForm'); ?>
					</div>
					</div>
					<script type="text/javascript">
					//<![CDATA[
					jQuery('.answer-question').each(function(){
					var e = jQuery(this);
					e.click(function(){
					var parentQuestion = e.attr('parent');
					jQuery('#answerForm').toggle();
					jQuery('.preview-answer-mainquestion').text(jQuery('#main'+parentQuestion).text());
					jQuery('.preview-nickname-question').text(jQuery('#nickname'+parentQuestion).text());
					jQuery('.preview-city-question').text(jQuery('#city'+parentQuestion).text());
					jQuery('input#hidden-parent').val(e.attr('parent'));
					})
					});
					jQuery('ul#productqa-questionlist').easyPaginate({
					step:10
					})
					//]]>
					</script>
					
					
										