<?php
	if($this->getFilterReview()!=''){
    $_items = $this->getFilterReview();
		}else{
    $_items = $this->getReviewsCollection()->getItems();
	}
?>
<?php if(Mage::getSingleton('core/session')->getReviewSuccess()):?>
<div class="review-success">
    <p><?php echo $this->__('Thank you! You have successfully submitted feedback for this review.');?></p>
</div>
<script type="text/javascript">
    jQuery(window).bind("load",function(){
        jQuery(document).mouseup(function (e)
        {
            var container = jQuery(".review-success");

            if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                container.hide();
            }
        });
    })
</script>
<?php Mage::getSingleton('core/session')->unsReviewSuccess();endif;?>
<?php if (count($_items)):?>
<div class="summary-review">
	<div class="summary-review-inner">
		<?php
			$productView = $this->getLayout()->createBlock('catalog/product_view');
			echo $productView->getReviewsSummaryHtml($this->getProduct(), 'custom', true);
			echo $this->getLayout()->createBlock('rating/entity_detailed')->setTemplate('rating/detailed.phtml')->toHtml();
		?>
	</div>
</div>

<div class="review-filter">
	<div class="review-filter-inner">
		<select id="filter_review">
			<option value="0"><?php echo $this->__('Choose a sort order') ?></option>
			<option value="1"><?php echo $this->__('Staff reviews') ?></option>
			<option value="2"><?php echo $this->__('Top contributors') ?></option>
			<option value="3"><?php echo $this->__('Newest') ?></option>
			<option value="4"><?php echo $this->__('Oldest') ?></option>
			<option value="5"><?php echo $this->__('Highest rating') ?></option>
			<option value="6"><?php echo $this->__('Lowest rating') ?></option>
			<option value="7"><?php echo $this->__('Most helpfull') ?></option>
			<option value="8"><?php echo $this->__('Least helpfull') ?></option>
			<option value="9"><?php echo $this->__('Longest') ?></option>
			<option value="10"><?php echo $this->__('Shortest') ?></option>
		</select>
		<img style="display: none" id="ajax-review-filter" src="<?php echo $this->getSkinUrl('images/bx_loader.gif');?>" />
	</div>
</div>
<?php endif; ?>

<div class="wrap-box-reviews">
	<div class="box-collateral box-reviews<?php if (count($_items)):?> has-reviews<?php endif; ?>" id="customer-reviews">
		<?php if (count($_items)):?>
		<ul id="mt">
			<?php foreach ($_items as $_review):?>
			<li class="items-reviews">				
				<div class="review-list-left equal-height-left<?php echo $_review->getReviewId()?>">
					<?php $_votes = $_review->getRatingVotes(); ?>
					<?php if (count($_votes)): ?>
					<?php $i = 0;$s = 0;?>
					<?php foreach ($_votes as $_vote): ?>
					<?php $i++;?>
					<?php $s+=(float)($_vote->getPercent()); ?>
					<?php endforeach; ?>
					<div class="wrap-sm-start">
						<div class="rating-box">
							<div class="rating" id="over-rating<?php echo $_review->getReviewId()?>" style="width:<?php echo $s/$i;?>%"></div>
						</div>
					</div>
					<?php endif; ?>
					
					<div class="wrap-sm-size">
						<label><?php echo $this->__('Item Size:') ?></label> <span class="list-review-item-size"><?php echo Mage::getModel('catalog/product')->getResource()->getAttribute("size")->getSource()->getOptionText($_review->getItemSize());?></span>
					</div>
					
					<div class="preview-info">
						<p class="list-review-nickname"><?php echo $this->escapeHtml($_review->getNickname());?></p>
						<p class="list-review-time"><?php echo date('d/m/Y H:iA',Mage::getModel('core/date')->timestamp(strtotime($_review->getCreatedAt())));?></p>
					</div>
					
					<div class="list-review-measurements">
						<ul class="list-review-measurements-detail">
							<li class="title"><?php echo $this->__('Height:') ?></li>
							<li class="list-review-height"><?php echo $_review->getHeight();?></li>
						</ul>
						<ul class="list-review-measurements-detail">
							<li class="title"><?php echo $this->__('Bra:') ?></li>
							<li class="list-review-bra"><?php echo $_review->getBra();?></li>
						</ul>
						<ul class="list-review-measurements-detail">
							<li class="title"><?php echo $this->__('Waist:') ?></li>
							<li class="list-review-waist"><?php echo $_review->getWaist();?></li>
						</ul>
						<ul class="list-review-measurements-detail">
							<li class="title"><?php echo $this->__('Hips:') ?></li>
							<li class="list-review-hips"><?php echo $_review->getHip();?></li>
						</ul>
					</div>
				</div>
				
				<div class="review-list-right equal-height-right<?php echo $_review->getReviewId()?>">
					<div class="review-list-rating">
						<div class="review-list-right-top">
							<?php $_votes = $_review->getRatingVotes(); ?>
							<?php if (count($_votes)): ?>
							<ul>
								<?php foreach ($_votes as $_vote): ?>
								<li>
									<h5>
									<?php if($_vote->getRatingCode()=='Price'){
										echo $this->__('Fitting');
									}else if($_vote->getRatingCode()=='Value'){
										echo $this->__('Style');
									}else if($_vote->getRatingCode()=='Quality'){
										echo $this->__('Quality');
									}?>	
									</h5>
									<div class="rating-box">
										<div class="rating" style="width:<?php echo $_vote->getPercent() ?>%;"></div>
									</div>
								</li>
								<?php endforeach; ?>
							</ul>
							<?php endif; ?>
						</div>
						
						<div class="review-list-right-desc">
							<?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
						</div>
						
						<?php if(isset($_review['image'])&&$_review['image']!=''):?>
						<div class="review-list-right-img">
							<?php
								// actual path of image
								$imageUrl = Mage::getBaseDir('media').DS.'review'.DS.$_review['image'];
								// path of the resized image to be saved
								// here, the resized image is saved in media/resized folder
								$imageResized = Mage::getBaseDir('media').DS."review".DS."resized".DS.$_review['image'];
								$directory = dirname($imageResized);
								
								if (!file_exists($directory) || !is_dir($directory)) {
									if (!@mkdir($directory, 0777, true))
									return null;
								}
								// resize image only if the image file exists and the resized image file doesn't exist
								// the image is resized proportionally with the width/height 135px
								if (!file_exists($imageResized)&&file_exists($imageUrl)) :
								$imageObj = new Varien_Image($imageUrl);
								$imageObj->constrainOnly(TRUE);
								$imageObj->keepAspectRatio(TRUE);
								$imageObj->keepTransparency(TRUE);
								$imageObj->keepFrame(FALSE);
								$imageObj->resize(123, 147);
								$imageObj->save($imageResized);
								endif;
								
							?>
							<img src="<?php echo Mage::getBaseUrl('media').'review/resized/'.$_review['image']?>" />
						</div>
						<?php endif;?>
					</div>
					
					<div class="review-detail-bottom">
						<div class="wrap-helpfull">
							<?php $numHelpfull =  Mage::getModel('review/review')->load($_review->getReviewId())->getHelpfull();?>
                            <?php $numNoHelpfull =  Mage::getModel('review/review')->load($_review->getReviewId())->getNoHelpfull();?>
							<span class="helpfull-title"><span class="number-helpfull<?php echo $_review->getReviewId()?>"><?php echo $numHelpfull;?></span> <?php echo $this->__('people found this helpful.') ?></span>
							<div class="helpfull-choose">
								<span class="helpfull-label"><?php echo $this->__('Was this review helpful?') ?></span>
								<img style="display: none" id="ajax-review-helpful<?php echo $_review->getReviewId()?>" src="<?php echo $this->getSkinUrl('images/bx_loader.gif');?>" />
								<?php
									$visitorData = Mage::getSingleton('core/session')->getVisitorData();
									$colectionReviewhelpfull1 =  Mage::getModel('cavabien_cavabienreview/reviewhelpfull')->getCollection()
									->addFieldToFilter('review_id', array('eq' => $_review->getReviewId()))
									->addFieldToFilter('customer_id', array('null'=>true))
									->addFieldToFilter('is_new_visitor', array('eq' => $visitorData['visitor_id']));
									if(isset($visitorData['customer_id'])&&$visitorData['customer_id']!=null){
										$colectionReviewhelpfull2 =  Mage::getModel('cavabien_cavabienreview/reviewhelpfull')->getCollection()
										->addFieldToFilter('review_id', array('eq' => $_review->getReviewId()))
										->addFieldToFilter('customer_id', array('eq' => $visitorData['customer_id']));
									}
									
									if(count($colectionReviewhelpfull1)>0||( isset($colectionReviewhelpfull2)&&count($colectionReviewhelpfull2)>0)){
									?>
									<?php
										if(count($colectionReviewhelpfull1)>0){
											$colData = $colectionReviewhelpfull1->getData();
											$reviewStatus = $colData[0]['review_status'];
											}elseif(count($colectionReviewhelpfull2)>0){
											$colData = $colectionReviewhelpfull2->getData();
											$reviewStatus = $colData[0]['review_status'];
										}
										
									?>
									<?php if($reviewStatus=='no'):?>
									<a href="javascript:void(0)" class="helpfull-yes<?php echo $_review->getReviewId()?>" onclick="reviewHelpful('yes',<?php echo $_review->getReviewId()?>)">Yes</a>
                                     (<span class="number-helpfull<?php echo $_review->getReviewId()?>"><?php echo $numHelpfull;?></span>)
									<a href="javascript:void(0)" class="helpfull-no<?php echo $_review->getReviewId()?>" onclick="return false;">No</a>
                                            (<span class="number-nohelpfull<?php echo $_review->getReviewId()?>"><?php echo $numNoHelpfull;?></span>)
									<?php elseif($reviewStatus=='yes'):?>
									<a href="javascript:void(0)" class="helpfull-yes<?php echo $_review->getReviewId()?>" onclick="return false;">Yes</a>
                                            (<span class="number-helpfull<?php echo $_review->getReviewId()?>"><?php echo $numHelpfull;?></span>)
									<a href="javascript:void(0)" class="helpfull-no<?php echo $_review->getReviewId()?>" onclick="reviewHelpful('no',<?php echo $_review->getReviewId()?>)">No</a>
                                            (<span class="number-nohelpfull<?php echo $_review->getReviewId()?>"><?php echo $numNoHelpfull;?></span>)
									<?php endif;?>
									<?php }else{ ?>
									<a href="javascript:void(0)" class="helpfull-yes<?php echo $_review->getReviewId()?>" onclick="reviewHelpful('yes',<?php echo $_review->getReviewId()?>)">Yes</a>
                                        (<span class="number-helpfull<?php echo $_review->getReviewId()?>"><?php echo $numHelpfull;?></span>)
									<a href="javascript:void(0)" class="helpfull-no<?php echo $_review->getReviewId()?>" onclick="reviewHelpful('no',<?php echo $_review->getReviewId()?>)">No</a>
                                        (<span class="number-nohelpfull<?php echo $_review->getReviewId()?>"><?php echo $numNoHelpfull;?></span>)
								<?php } ?>
                                <p class="helpfull-success<?php echo $_review->getReviewId()?>" style="display: none"><?php echo $this->__('Thank you! You have successfully submitted feedback for this review.');?></p>
                                <script type="text/javascript">
                                    jQuery(document).mouseup(function (e)
                                    {
                                        var container = jQuery(".helpfull-success<?php echo $_review->getReviewId()?>");

                                        if (!container.is(e.target) // if the target of the click isn't the container...
                                                && container.has(e.target).length === 0) // ... nor a descendant of the container
                                        {
                                            container.hide();
                                        }
                                    });
                                </script>
							</div>
						</div>
						
						<div class="wrap-share">
							<span><?php echo $this->__('Share & Earn up to 1000$') ?></span>
							<div class="addthis-container">
								<div class="addthis_toolbox addthis_default_style">
									<a class="addthis_button_email addthis_button_preferred_1" title="<?php echo $this->__('Share on email') ?>" href="#"><span class="at16nc at300bs at15nc at15t_email at16t_email"><span class="at_a11y"><?php echo $this->__('Share on email') ?></span></span></a>
									<a class="addthis_button_facebook addthis_button_preferred_2" title="<?php echo $this->__('Share on facebook') ?>" href="#"><span class="at16nc at300bs at15nc at15t_facebook at16t_facebook"><span class="at_a11y"><?php echo $this->__('Share on facebook') ?></span></span></a>
									<a class="addthis_button_pinterest addthis_button_preferred_4" title="<?php echo $this->__('Share on pinterest') ?>" href="#"><span class="at16nc at300bs at15nc at15t_pinterest at16t_pinterest"><span class="at_a11y"><?php echo $this->__('Share on pinterest') ?></span></span></a>
									<a class="addthis_button_twitter addthis_button_preferred_3" target="_blank" title="<?php echo $this->__('Share on twitter') ?>" href="#"><span class="at16nc at300bs at15nc at15t_twitter at16t_twitter"><span class="at_a11y"><?php echo $this->__('Share on twitter') ?></span></span></a>
									<div class="atclear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
						var equalleft = jQuery('.equal-height-left<?php echo $_review->getReviewId()?>').height();
						var equalright = jQuery('.equal-height-right<?php echo $_review->getReviewId()?>').height();
						var h = (equalleft>equalright)?equalleft:equalright;
						jQuery('.equal-height-left<?php echo $_review->getReviewId()?>').height(h);
						jQuery('.equal-height-right<?php echo $_review->getReviewId()?>').height(h);
				</script>
			</li>
			<?php endforeach; ?>
		</ul>
		<a class="show-review-popup" href="#popup-review"><?php echo $this->__('Submit Rating') ?></a>
		<?php else:?>
		<div class="review-empty">
			<h5><?php echo $this->__('Be the first to write a review!')?></h5>
			<div class="sm-link-popup">
				<p>
					<strong><?php echo $this->__('Do you own this item?')?></strong>
					<?php echo $this->__('Write a review for a chance to enter a $500 Gift Card! ')?><span class="show-official-rules"><?php echo $this->__('Official Rules apply')?></span>
				</p>
				
				<div class="official-rules sm-popup arrow-top-center" style="display: none">
					<div class="sm-popup-inner">
						<h3 class="sm-popup-title"><?php echo $this->__('Promotion official rules');?></h3>
						<div class="sm-popup-content">
							<p><?php echo $this->__("In addition to the terms set forth in the &ldquo;Terms of Use&rdquo; governing use of Cava Bien's websites, the following Terms and Conditions for Sharing Content addtionally govern your use of Cava Bien's websites.");?></p>
							<p><?php echo $this->__('Please review these terms and conditions often, as we reserve the right to change the terms and conditions at any time without notice. PLEASE READ THE FOLLOWING DISCLAIMERS, TERMS AND SITE (&ldquo;Site&rdquo;). By accessing and using the Site, you acknowledge and agree to abide by the following terms of use. These terms and conditions are applicable to all Cava Bien websites, whether a sponsored site, managed through a third party vendor or hosted by a third party.');?></p>
							<p><?php echo $this->__('User Profile Information');?></p>
							<p><?php echo $this->__('Cava Bien will require that you set up a user profile in order to use certain portions of this Site such as when you register for a shopping account and participate in services including Wishlist, Product Reviewss, and Cava Bien Social. You will need to provide a password, username or other infomation such as your name and e-mail address. You agree and represent that all the infomation provided by you is accurate and up-to-date.');?></p>
							<p><?php echo $this->__('Privacy');?></p>
						</div>
					</div>
				</div>
			</div>
			<h5 class="review-popup"><i class="fa fa-angle-double-right"></i> <a class="show-review-popup" href="#popup-review"><span><?php echo $this->__('Be the first to write a review!')?></span></a></h5>
			<p>
				<strong><?php echo $this->__('Want to be informed?')?></strong>
				<?php echo $this->__('Receive an email with the first review of this item')?>
			</p>
			<div class="sm-link-popup">
				<h5 class="notify-review-popup"> <a href="javascript:void(0)" id="notify-review">
					<i class="fa fa-angle-double-right"></i> <?php echo $this->__('Notify me on review')?></a>
				</h5>
				<script type="text/javascript">
						jQuery('.show-official-rules').click(function(){
								jQuery('.official-rules').toggle();
						})
				</script>
				<div class="review-notify sm-popup" style="display:none">
					<div class="sm-popup-inner">
						<h3 class="sm-popup-title"><?php echo $this->__('Notify me on review')?></h3>
						<div class="sm-popup-content">
							<p><?php echo $this->__('Text') ?></p>
							<form id="review-notify-form" method="POST" action="<?php echo Mage::getUrl('notify/index/reviewNotify');?>">
								<div class="row wrap-name">
									<label><?php echo $this->__('Name') ?></label>
									<input name="cus-name" type="text">
								</div>
								<div class="row wrap-mail">
									<label><?php echo $this->__('Email') ?></label>
									<input name="cus-email" type="text" class="input-text validate-email">
								</div>
								<input type="hidden" name="productId" value="<?php echo $this->getProduct()->getId();?>">
								<input type="hidden" name="product_url" value="<?php echo Mage::helper('core/url')->getCurrentUrl();?>" />
								<button class="button btn-action" title="Submit" type="submit">
									<span><span><?php echo $this->__('Notify me') ?></span></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php endif;?>
	</div>

	<script type="text/javascript">
		var dataForm = new VarienForm('review-notify-form', true);
		function reviewHelpful(status,id){
			jQuery.ajax({
				url: "<?php echo Mage::getUrl('cavabien/index/reviewHelpfull') ?>",
				type: "POST",
				data: {id: id, status: status },
				dataType: "json",
				beforeSend: function(){
					jQuery('#ajax-review-helpful'+id).show();
				},
				success: function(data) {
					jQuery('#ajax-review-helpful'+id).hide();
					if (data.success == true) {
                        if(data.newHelpfull!==''){
                            jQuery('.number-helpfull'+id).text(data.newHelpfull);
                        }
                        if(data.newNoHelpfull !== ''){
                            jQuery('.number-nohelpfull'+id).text(data.newNoHelpfull);
                        }
						if(data.answer=='yes'){
							jQuery('.helpfull-yes'+id).attr('onclick','return false;');
							jQuery('.helpfull-no'+id).attr('onclick',"reviewHelpful('no',"+id+")");
							}else if(data.answer=='no'){
							jQuery('.helpfull-no'+id).attr('onclick','return false;');
							jQuery('.helpfull-yes'+id).attr('onclick',"reviewHelpful('yes',"+id+")");
						}
                        jQuery('.helpfull-success'+id).show();
					}
				}
			});
		}
		jQuery('#filter_review').change(function(){
			jQuery.ajax({
				url: "<?php echo Mage::getUrl('cavabien/index/filterReview') ?>",
				type: "POST",
				data: {val: jQuery(this).val(),productId: <?php echo $this->getProduct()->getId();?>},
				dataType: "json",
				beforeSend: function(){
					jQuery('#ajax-review-filter').show();
				},
				success: function(data) {
					jQuery('#ajax-review-filter').hide();
					if (data.success == true) {
						jQuery('#customer-reviews').replaceWith(data.afterfilter);
					}
				},
				error: function(e){
					jQuery('#ajax-review-filter').hide();
				}
			});
		})
		jQuery('ul#mt').easyPaginate({
			step:10
		})
		jQuery(document).ready(function(){
			jQuery('#notify-review').click(function(){
				jQuery('.review-notify').toggle();
			})
			jQuery('#checkbox-daily-deal').click(function(){
				var chk = '';
				if(jQuery(this).is(':checked')){
					chk = 'checked';
					}else{
					chk = 'uncheck';
				}
				
				jQuery.ajax({
					url: "<?php echo Mage::getUrl('cavabien/index/reviewSubscribe') ?>",
					type: "POST",
					data: {check: chk},
					dataType: "json",
					beforeSend: function(){
						jQuery('#imgDailydeal').show();
					},
					success: function(data) {
						jQuery('#imgDailydeal').hide();
						if (data.success == true) {
							if(data.guest==true){
								jQuery('.subscribe-review').show();
							}
							if(data.customerSubscribe==true){
								alert('Your subscription has been confirmed.');
								}else if(data.customerSubscribe==false){
								alert('You have been unsubscribed.');
							}
						}
					},
					error: function(e){
						jQuery('#imgDailydeal').hide();
					}
				});
			})
		})
	</script>

	<div id="popup-review" class="popup-review" style="display: none">
		<?php echo $this->getLayout()->createBlock('review/form')->toHtml();	?>
	</div>

	<?php if (count($_items)):?>
	<div class="daily-deal">
		<?php
			$customerEmail = Mage::getSingleton('customer/session')->getCustomer()->getEmail();
			$isSubscribe = false;
			if(isset($customerEmail)&&$customerEmail!=null){
				$subscriber = Mage::getModel('newsletter/subscriber')->loadByEmail($customerEmail);
				if($subscriber->getId())
				{
					$isSubscribe = true;
				}
			}
		?>
		<input type="checkbox" id="checkbox-daily-deal" <?php if($isSubscribe==true){echo "checked='checked'";} ?>>
		<label><?php echo $this->__('Daily Deals: Sign me up for deal of the day email') ?></label>
	</div>
	<img style="display: none" id="imgDailydeal" class="imgLoading" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif');?>" />
	<div class="subscribe-review" style="display: none">
		<?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/newsletterreview.phtml')->toHtml();?>
	</div>
	<?php endif;?>
</div>