img {
  max-width: 100%;
}

.tablet-user,
.mobile-user {
  display: none;
}

@media screen and (max-width: 1024px) {
  .desktop-user {
    display: none;
  }
  .tablet-user {
    display: block;
  }
}