.page-print {
  background: #fff;
  padding: 25px 30px;
  text-align: left;
}

.page-empty {
  background: #fff;
  padding: 20px;
  text-align: left;
}

.page-popup {
  background: #fff;
  padding: 25px 30px;
  text-align: left;
}

.main-container {
  width: 1310px;
  margin: 0 auto;
}

.main {
}

/* Base Columns */
.col-left {
  float: left;
  width: 215px;
  background-color: #f8f8f8;
}

.col-main {
  float: left;
  width: 1077px;
}

.col-right {
  float: right;
  width: 215px;
}

/* 1 Column Layout */
.col1-layout .col-main {
  float: none;
  width: auto;
}

/* 2 Columns Layout */
.col2-left-layout {
  margin-bottom: 70px;
}

.col2-left-layout .col-main {
  float: right;
}

.col2-right-layout .col-main {
}

/* 3 Columns Layout */
.col3-layout .col-main {
  width: 475px;
  margin-left: 17px;
}

.col3-layout .col-wrapper {
  float: left;
  width: 687px;
}

.col3-layout .col-wrapper .col-main {
  float: right;
}

/* Content Columns */
.col2-set .col-1 {
  float: left;
  width: 49%;
  @include box-sizing(border-box);
}

.col2-set .col-2 {
  float: right;
  width: 49%;
  @include box-sizing(border-box);
}

.col2-set .col-narrow {
  width: 32%;
}

.col2-set .col-wide {
  width: 65%;
}

.col3-set .col-1 {
  float: left;
  width: 32%;
}

.col3-set .col-2 {
  float: left;
  width: 32%;
  margin-left: 2%;
}

.col3-set .col-3 {
  float: right;
  width: 32%;
}

.col4-set .col-1 {
  float: left;
  width: 23.5%;
}

.col4-set .col-2 {
  float: left;
  width: 23.5%;
  margin: 0 2%;
}

.col4-set .col-3 {
  float: left;
  width: 23.5%;
}

.col4-set .col-4 {
  float: right;
  width: 23.5%;
}



@media screen and (max-width: 1024px) {
  .main-container {
    width: 940px;
  }
  .col2-left-layout .col-main {
    width: 715px;
  }
}

@media screen and (max-width: 959px) {
  .main-container {
    width: 748px;
  }
  .col2-left-layout .col-main {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    width: 420px;
  }
  .col2-set { margin: 0; }
  .col2-set .col-1,
  .col2-set .col-2,
  .col2-set .col-narrow,
  .col2-set .col-wide {
    @include box-sizing(border-box);
    width: 100%;
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 440px) {
  .main-container {
    width: 300px;
  }
}