* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
.data-table a {
  color: $black;
}
a:hover {
  text-decoration: none;
}

:focus {
  outline: 0;
}

/* Forms */
form {
  display: inline;
}

fieldset {
  border: 0;
}

legend {
  display: none;
}

/* Table */
table {
  border: 0;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
}

caption, th, td {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

/* Content */
p {
  margin: 0 0 10px;
}

strong {
  font-weight: bold;
}

address {
  font-style: normal;
  line-height: 1.35;
}

cite {
  font-style: normal;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after {
  content: '';
}

small, big {
  font-size: 1em;
}

/* Lists */
ul, ol {
  list-style: none;
}
.clear {clear: both}
