// Media Queries

$base-width: 1310px;
$tablet-landscape-width: 960px;
$tablet-portrait-width: 768px;
$mobile-landscape-width: 480px;
$mobile-portrait-width: 320px;

@mixin desktop {
  @media only screen and (min-width: $base-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $base-width - 1) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width: $tablet-portrait-width) and (max-width: $tablet-landscape-width - 1) {
    @content;
  }
}

@mixin mobi {
  @media only screen and (max-width: $tablet-portrait-width - 1) {
    @content;
  }
}

@mixin mobi-landscape {
  @media only screen and (min-width: $mobile-landscape-width) and (max-width: $tablet-portrait-width - 1) {
    @content;
  }
}

// Retina Display

@mixin retina-display {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin background-image-retina($imagePath, $file, $type, $width, $height, $repeat) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    & {
      background-image: url('../' + $imagePath + '/' + $file + '@2x.' + $type) !important;
      -webkit-background-size: $width $height !important;
      -moz-background-size: $width $height !important;
      -o-background-size: $width $height !important;
      background-size: $width $height !important;
      background-repeat: $repeat;
    }
  }
}

// Cava Bien Box

@mixin cava-box($border-color: $border-1, $radius: 3px, $background: $white) {
  border: 1px solid $border-color;
  @include border-radius($radius);
  background-color: $background;
}

// Cava Bien Triangle
// @param width           :  px, em
// @param height          :  px, em
// @param direction       :  up, down, left, right
// @param color           :  hex, rgb

@mixin arrow($width: 12px, $height: 8px, $direction: up, $color: white) {
  width: 0;
  height: 0;
  @if $direction == right {
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    border-left: $width solid $color;
  }
  @if $direction == left {
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    border-right: $width solid $color;
  }
  @if $direction == up {
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
    border-bottom: $height solid $color;
  }
  @if $direction == down {
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
    border-top: $height solid $color;
  }
}

// Set color for placeholder text
@mixin placeholder-color($color: black) {
  ::-webkit-input-placeholder {
     color: $color;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $color;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $color;  
  }

  :-ms-input-placeholder {  
     color: $color;  
  }
}