body {
  font-family: $PTsans;
  font-size: 12px;line-height: 1.5em;
  color: $black;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $PTserif;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
  margin: 0 0 5px;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
}


h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
}


@media screen and (max-width: 959px) {
  h1,
  h2,
  h3 {
    font-size: 14px;
  }
}
