// Text Colors
$pink:          #ee3088;
$blue:          #1976bb;
$blackBlue:     #293859;
$black:         #000;
$grey-1:        #646464;
$grey-2: 		#f3f3f3;
$grey-3:        #f8f8f8;
$white:         #ffffff;

// Border colors

$border-2: #dddddd;
$border-1: #cccccc;

// Background color
$grey-bg:       #f3f3f3;

// Link colors
$grey-link:     #656364;
$blue-link:     #1976bb;

// Fonts Family
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);

$Arial:     Arial, sans-serif, Helvetica, Verdana;
$PTsans:		    'PT Sans', sans-serif, Arial, Helvetica, Verdana;
$PTserif:			'PT Serif', serif, Arial, Helvetica, Verdana;
$TimeNewRoman:        'Times New Roman', Serif, Helvetica, Verdana;

