<?php
$catID = $this->getRequest()->getParam('cat', -1);
$categoryCollection = $this->getSpecialOfferCategory($catID);
?>


<div class="top-container">
    <a class="back-link" title="Back" onclick="window.history.back()" href="javascript:void(0);">
        <span>«</span>
        back
    </a>
</div>

<div class="special-header">
    <div class="special-banner">
        <?php echo $this->getChildHtml('special.offer.banner') ?>
    </div>
    <?php echo $this->getChildHtml('special.menu') ?>
</div>

<div class="special-left">
    <?php echo $this->getChildHtml('shop.stylist.pick') ?>
    <?php echo $this->getChildHtml('style.of.month') ?>
    <?php echo $this->getChildHtml('best.of.week') ?>
</div>

<div class="special-product-list special-right">
    <ul>
        <?php
        $attributes = array();

        foreach($categoryCollection as $data): ?>
        <?php $parentCategory = $data[0]; $childCategories = $data[1]; ?>
        <li id="list-<?php echo $parentCategory->getId() ?>" class="product-review">
            <div class="special-products">
            <?php foreach($childCategories as $childCategory):
                $attributeAll = Mage::getSingleton('eav/config')->getAttribute('catalog_product', $parentCategory->getUrlKey().'_discount_offer');
                if ($attributeAll->usesSource()) {
                    foreach ($attributeAll->getSource()->getAllOptions(false) as $option) {
                        if (isset($option['value']))
                            $attributes[] = $option['value'];
                    }
                }
                unset($attributeAll);
                ?>
                <div class="list-title" id="special-sub-<?php echo $childCategory->getUrlKey() ?>">
                    <p><?php echo $childCategory->getName() ?></p>
                    <a href="<?php echo $childCategory->getUrl(). '?'.$parentCategory->getUrlKey().'_discount_offer='. ($attributes ? implode(',', $attributes) : '') ?>">Shop More <?php echo $childCategory->getName() ?>&nbsp;<i class="fa fa-caret-right"></i></a>
                </div>
                <?php $_productCollection = $this->getProductByOtherCategory($childCategory->getUrlKey(), 'special'); ?>
                <ul class="products-grid enlarge">
                    <?php $count = 0;
                    $_customData['image'] =  array('width' => 200, 'height' => 250);
                    ?>
                    <?php foreach($_productCollection as $_product): ?>
                        <?php $count++; ?>
                        <?php if($count <= 4): ?>
                              <li class="item<?php if ($count == 1): ?> first<?php elseif ($count == 4): ?> last<?php endif; ?>">
            <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/item.phtml')->setProduct($_product)->setCustomData($_customData)->toHtml()?>
                </li>

                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
        <?php endforeach; ?>
        </div>
        </li>
    <?php endforeach; ?>
    </ul>
</div>

<?php echo $this->getChildHtml('featurePromotion'); ?>


<script type="text/javascript">

    jQuery('.breadcrumbs').append(jQuery('.top-container'));

    jQuery('.product-review').hide();
    jQuery('.special-product-list ul li:first').show();

    function showProduct(id) {
        idProName = "#list-" + id;
        jQuery('.product-review').hide();
        jQuery(idProName).show();
    }

</script>

<script type="text/javascript">

    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 600,
        height: 510,
        autoSize: true,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'

    });
</script>