<?php $categories = $this->getMainCategories(); ?>
<?php $customerId = Mage::getSingleton('customer/session')->getId(); ?>
<?php $categoryIds = $this->getMainCategoriesIds(); $_columnCount = 4; ?>
<?php $currentCategory = $this->getCurrentCategory(); $is_child = false; ?>
<?php if (!$currentCategory): ?>
    <?php $currentCategory = $this->getCurrentSubCategory(); ?>
    <?php if ($currentCategory): ?>
        <?php $currentParentCategory = $currentCategory->getParentCategory();
        $is_child = true; ?>
    <?php endif; ?>
<?php endif; ?>
<?php if (!$currentCategory): ?>
    <?php foreach ($categoryIds as $cateId) {
        $currentCategory = Mage::getModel('catalog/category')->load($cateId);
        break;
    }
    ?>
<?php endif; ?>

<div id="best-seller-container">
<div class="best-seller-header">
    <div class="top-container">
        <div class="title">
            <img src="<?php echo $this->getSkinUrl('images/best-seller-title.jpg'); ?>"/>
        </div>
        <a class="back-link" title="Back" onclick="window.history.back()" href="javascript:void(0);">
            <span>«</span>
            back
        </a>
    </div>
</div>
<div class="best-seller-product">
    <div class="product-info">
        <div class="product-cate-best">
            <?php $bestSellerByCate = $this->getBestsellerByCategory($currentCategory->getId(), 6); ?>
            <?php if ($bestSellerByCate): ?>
                <ul class="list-best-seller-pro">
                    <?php $count = 0; ?>
                    <?php foreach ($bestSellerByCate as $product): ?>
                        <?php $product = Mage::getModel('catalog/product')->load($product->getId()); ?>
                        <li class="product-bestseller-<?php echo $product->getId(); ?> pro-best" style="display: none">
                            <div class="top-info">
                                <?php if ($is_child): ?>
                                    <h3><?php echo $currentParentCategory->getName(); ?></h3>
                                <?php else: ?>
                                    <h3><?php echo $currentCategory->getName(); ?></h3>
                                <?php endif; ?>
                              <div class="social-share right">
                                <div class="left">
                                    <p class="above">Get $10 credits</p>
                                    <p class="beneath">Shared this deal</p>
                                </div>
                                <div class="social-button right">
                                    <div class="addthis_toolbox addthis_default_style addthis_16x16_style" addthis:url="<?php echo $product->getProductUrl(); ?>" addthis:title="<?php echo $product->getName(); ?>">
                                        <a class="addthis_button_facebook"></a>
                                        <a class="addthis_button_twitter"></a>
                                        <a class="addthis_button_pinterest_share"></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="product-top cleafix">
                                <div class="image">
                                    <img
                                        src="<?php echo Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(180, 270); ?>"/>
                                    <span class="order-position"><?php $count++; echo $count; ?></span>
                                    <?php $orderedQty = $this->getOrderedQuantity($product->getId()); ?>
                                    <span class="order-qty"><?php echo $orderedQty; ?>
                                        <?php if(intval($orderedQty) > 1): ?>orders<?php else: ?>order<?php endif; ?></span>
                                </div>
                                <div class="product-info">
                                    <h2 class="product-name"><?php echo $product->getName(); ?></h2>
                                    <?php echo $this->getReviewsSummaryHtml($product, 'bestseller', true) ?>
                                    <div class="product-description">
                                        <div class="destext">
                                            <?php echo $product->getShortDescription(); ?>
                                        </div>
                                        <a href="<?php echo $product->getProductUrl(); ?>"
                                           class="product-link"><?php echo $this->__('See more details'); ?></a>
                                    </div>
                                    <div class="product-attribute">
                                        <?php if ($product->getTypeId() == 'configurable'): ?>
                                            <?php $unique_num = intval($id) + 1111; ?>
                                            <?php $_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel'); ?>
                                            <div
                                                id="sm-cat-conf-<?php echo $unique_num ?><?php echo $product->getId() ?>-color"
                                                class="enlarge-item enlarge-color-real"></div>
                                            <div
                                                id="sm-cat-conf-<?php echo $unique_num ?><?php echo $product->getId() ?>-default-color"
                                                class="enlarge-item-color"></div>
                                            <script type="text/javascript">
                                                var spConfig_<?php echo $product->getId()?>_<?php echo $unique_num?> = new smProduct.Config(<?php echo $_smBlock->setProduct($product)->getJsonConfig() ?>, <?php echo $product->getId()?>, '<?php echo $unique_num?>');
                                                document.observe("dom:loaded", spConfig_<?php echo $product->getId()?>_<?php echo $unique_num?>.run.bind(spConfig_<?php echo $product->getId()?>_<?php echo $unique_num?>));
                                            </script>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <div class="product-for-cart">

                                    <div class="special-price">
                                        <?php
                                        $currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                                        $discountPrice = Mage::helper('core')->currency($product->getFinalPrice(), true, false);
                                                 
                                        if($product->getPrice() - $product->getFinalPrice() > 0){
                                            $discountPrice = str_replace($currency_symbol, '<span><span class="currency-symbol">' . $currency_symbol . '</span>'.'<span class="discount-status">Only</span></span>', $discountPrice);
                                        }   else {
                                          $discountPrice = str_replace($currency_symbol, '<span class="currency-symbol">' . $currency_symbol . '</span>', $discountPrice);   
                                        }
                                        
                                        $arr_split = explode(".", $discountPrice);
                                        
                                               $arr_split_tmp = explode("</span>", $arr_split[0]);
                                           if($product->getPrice() - $product->getFinalPrice() > 0){                                                          
                                    $arr_split[0] = str_replace($arr_split_tmp[3], '<span class="price-default">'.$arr_split_tmp[3].'</span>', $arr_split[0]);
                                               
                                                 } else {
                                                    $arr_split[0] = str_replace($arr_split_tmp[1], '<span class="price-default">'.$arr_split_tmp[1].'</span>', $arr_split[0]);
                                                 }
                                        $discountPrice = $arr_split[0]."<span>." . $arr_split[1] . "</span>";
                                        echo $discountPrice;
                                        ?>
                                    </div>
                                    <?php //echo $this->getPriceHtml($product, true, '-deal') ?>
                                    <div class="price-value">
                                        <span class="title"><?php echo $this->__('Value') ?></span>
                    <span class="value">
                        <?php
                        echo $nomalPrice = Mage::helper('core')->currency($product->getPrice(), true, false);
                        ?></span>
                                    </div>
                                    <div class="price-discount">
                                        <span class="title"><?php echo $this->__('Discount') ?></span>
                    <span class="value">
                        <?php
                        $discountValue = (($product->getPrice() - $product->getFinalPrice()) / $product->getPrice()) * 100;
                        echo ceil($discountValue);
                        ?>%</span>
                                    </div>
                                    <div class="price-you-save">
                                        <span class="title"><?php echo $this->__('You save') ?></span>
                    <span
                        class="value"><?php echo Mage::helper('core')->currency(($product->getPrice() - $product->getFinalPrice()), true, false); ?></span>
                                    </div>

                                    <div class="add-to-cart">
                                        <div class="buy-as-gift">
<!--                                            <button type="button" title="--><?php //echo $this->__('Buy as a gift') ?><!--"-->
<!--                                                    class="button large btn-gift silver">-->
<!--                                                <span><span>--><?php //echo $this->__('Buy as a Gift') ?><!--</span></span>-->
<!--                                            </button>-->
                                            <a class="button large btn-gift silver various fancybox.ajax button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$product->getId())) ?>"><span><?php echo $this->__('Buy as a Gift') ?></span></a>
                                        </div>
                                        <?php if ($product->isSaleable()): ?>
                                            <!--
                                            <button type="button" title="<?php echo $this->__('Check out') ?>"
                                                    class="button large btn-cart"
                                                    onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')">
                                                <span><span><?php echo $this->__('Check Out') ?></span></span></button>
                                                -->
                                            <a class="various fancybox.ajax button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$product->getId())) ?>"><span><?php echo $this->__('Check Out') ?></span>&nbsp;&nbsp; <i class="fa fa-caret-right"></i></a>
                                        <?php else: ?>
                                            <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
                                                    onclick="setLocation('<?php echo $product->getProductUrl() ?>')">
                                                <span><span><?php echo $this->__('Pre-Order Now') ?></span></span>
                                            </button>
                                        <?php endif; ?>

                                    </div>
                                </div>

                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
    </div>
    <div class="category-best-seller">
        <?php $bestSellerByCate = $this->getBestsellerByCategory($currentCategory->getId(), 6); ?>
        <?php if ($bestSellerByCate): ?>
            <ul class="list-best-seller-category">
                <?php foreach ($bestSellerByCate as $product): ?>
                    <li class="list-specified-best">
                        <div class="small-arrow"><span><span></span></span></div>
                        <a href="javascript:void(0)" class="a-best"
                           onclick="showBestsellerProduct(<?php echo $product->getId(); ?>)">
                            <img
                                src="<?php echo Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(180, 95); ?>"/>
                        </a>
                        <!--     <p>Ordered: <?php // echo $this->getOrderedQuantity($product->getId()); ?></p> -->
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <p>No Products</p>
        <?php endif; ?>
    </div>
</div>

<div class="best-seller-product-list">
    <div class="special-products bestseller-products ">
        <ul class="list-cate-best">
            <?php if ($is_child): ?>
                <?php foreach ($currentParentCategory->getChildrenCategories() as $subCategory): ?>
                    <?php $count = 0;
                    $subCategory = Mage::getModel('catalog/category')->load($subCategory->getId()) ?>
                    <li>
                        <div class="list-title">
                            <p id="best_<?php echo $subCategory->getId() ?>"><?php echo $subCategory->getName() ?></p>
                            <a href="<?php echo $subCategory->getUrl() ?>?dir=desc&order=bestsellers">Shop
                                more <?php echo $subCategory->getName() ?>&nbsp;<i class="fa fa-caret-right"></i></a>
                        </div>
                        <?php $bestSellerBySubCate = $this->getBestsellerByCategory($subCategory->getId(), 4) ?>
                        <ul class="products-grid enlarge">
                            <?php foreach ($bestSellerBySubCate as $product): ?>
                                <?php $product = Mage::getModel('catalog/product')->load($product->getId()); ?>
                                <li class="item">
                                    <span class="order-position">
                                        <span class="order-count"><?php $count++; echo $count; ?></span>
                                        <?php $orderedQty = $this->getOrderedQuantity($product->getId()); ?>
                                        <span class="order-qty"><?php echo $orderedQty; ?>
                                            <?php if(intval($orderedQty) > 1): ?>orders<?php else: ?>order<?php endif; ?></span>
                                    </span>
                                    <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/item.phtml')->setProduct($product)->setSmArea($subCategory->getId())->toHtml()?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                <?php endforeach; ?>
            <?php else: ?>
                <?php foreach ($currentCategory->getChildrenCategories() as $subCategory): ?>
                    <?php $count = 0;
                    $subCategory = Mage::getModel('catalog/category')->load($subCategory->getId()) ?>
                    <li>
                        <div class="list-title">
                            <p id="best_<?php echo $subCategory->getId() ?>"><?php echo $subCategory->getName() ?></p>
                            <a href="<?php echo $subCategory->getUrl() ?>?dir=desc&order=bestsellers">Shop
                                more <?php echo $subCategory->getName() ?>&nbsp;<i class="fa fa-caret-right"></i></a>
                        </div>
                        <?php $bestSellerBySubCate = $this->getBestsellerByCategory($subCategory->getId(), 4) ?>
                        <ul class="products-grid enlarge">
                            <?php foreach ($bestSellerBySubCate as $product): ?>
                                <?php $product = Mage::getModel('catalog/product')->load($product->getId()); ?>
                                <li class="item">
                                    <span class="order-position">
                                        <span class="order-count"><?php $count++; echo $count; ?></span>
                                    <span class="order-qty"><?php echo $this->getOrderedQuantity($product->getId()); ?>
                                        orders</span></span>
                                    <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/item.phtml')->setProduct($product)->setSmArea($subCategory->getId())->toHtml()?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>


</div>
</div>

<script type="text/javascript">
    jQuery('.category-best-seller ul.list-best-container li:first').show();
    jQuery('.best-seller-product-list ul.list-cate-best-container li:first').show();
    jQuery('.product-cate-best li:first').show();
    jQuery('.list-best-seller-pro li:first').show();

    jQuery('.list-specified-best:first-child').addClass('active');
    jQuery('.a-best').click(function () {
        jQuery('.list-specified-best').removeClass('active');
        jQuery(this).parent().addClass('active');
    });

    function showBestsellerProduct(productId) {
        jQuery('.pro-best').hide();
        jQuery('.product-bestseller-' + productId).show();
    }

    // jQuery('.enlarge-item').hide();
    // jQuery(".products-grid .item").mouseover(function () {
    //     jQuery(this).find('.enlarge-item').show();
    //     jQuery(this).find('.enlarge-item-color').hide();
    // }).mouseout(function () {
    //         jQuery(this).find('.enlarge-item').hide();
    //         jQuery(this).find('.enlarge-item-color').show();
    //     });

    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 890,
        height: 650,
        autoSize: true,
        padding: 0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        afterLoad: function () {
            // Po.st Toolbar async load
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://i.po.st/share/script/post-widget.js#publisherKey=4m61ebkl1abg0uc5kkfd';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);

            if (typeof post_init == 'function') {
                window.post_init();
                console.log('init me');
                //setInterval(function(){  window.post_init(); console.log('post_init');  },1000);
                setTimeout(function () {
                        window.post_init();
                    },
                    1000
                );
            }

        },
        afterShow: function () {
            FB.XFBML.parse();
        }
    });

</script>