<?php
$countryDelivery=$this->getHtmlCountry();
$country_current=$this->getCountryId();
?>

<div class="delivery-select" id="delivery_country_main">
    <span class="delivery-selected" id="delivery_checked"></span>
    <ul class="delivery-ul overlay-deactive" id="ul_delivery_option">
        <?php
        foreach($countryDelivery as $key=>$val)
        {
            if(trim($val['value'])==$country_current){
                ?>
                <script type="text/javascript">
                    //<![CDATA[
                    var countryChoose='<?php echo trim($val['value'])?>'
                    //]]>
                </script>
            <?php
            }
            ?>
            <li class="country <?php if(trim($val['value'])==$country_current) echo 'is_checked'?>" id="delivery_value_<?php echo $val['value']?>" onmouseout="deliveryMouser('<?php echo trim($val['value'])?>')" onmouseover="deliveryHover('<?php echo trim($val['value'])?>');" onclick="changeDelivery('<?php echo trim($val['value'])?>','<?php echo trim($val['label'])?>')" >
                <a class="flag-icon <?php echo strtolower($val['value'])?>"><?php echo trim($val['label'])?></a>
            </li>
        <?php
        }

        ?>
    </ul>
</div>
<div id="delivery-method-please-wait" style="display:none;float: right;margin-right: 268px;margin-top: 4px;">
    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading...') ?>" title="<?php echo $this->__('Loading...') ?>" class="v-middle" /> <?php echo $this->__('Loading...') ?>
</div>
<script type="text/javascript">
    var xxx = null;
    var shipcountry = null;
    jQuery(document).ready(function($){
         if($('#use_for_shipping_no').is(':checked')) {
             var countryShip = $('option:selected','#shipping\\:country_id ').text();
             var countryShipCode = $('#shipping\\:country_id').val();
             $('#delivery_checked').text(countryShip);
             $('#delivery-destination').text(countryShip);
             $.ajax({
                 url : "<?php echo $this->getUrl("checkout/onepage/")?>getDelivery",
                 type: "POST",
                 data : "countryId="+countryShipCode,
                 success: function(data)
                 {
                     xxx = JSON.parse(data).result;
                     $("#delivery_option").html(xxx);

                 }

             });

         }
         if($('#use_for_shipping_yes').is(':checked')){
             var countryShip = $('option:selected','#billing\\:country_id').text();
             var countryShipCode = $('#billing\\:country_id').val();
             $('#delivery_checked').text(countryShip);
             $('#delivery-destination').text(countryShip);
             $.ajax({
                 url : "<?php echo $this->getUrl("checkout/onepage/")?>getDelivery",
                 type: "POST",
                 data : "countryId="+countryShipCode,
                 success: function(data)
                 {
                     xxx = JSON.parse(data).result;
                     $("#delivery_option").html(xxx);

                 }

             });
         }



        $(document.body).on('change','#billing\\:country_id',function(){
            var country_c = $(this).val();
            var country_n =  $('option:selected', this).text();
            shipcountry = country_c;
            $('#delivery_checked').text(country_n);
            $('#delivery-destination').text(country_n);
            $.ajax({
                url : "<?php echo $this->getUrl("checkout/onepage/")?>getDelivery",
                type: "POST",
                data : "countryId="+country_c,
                success: function(data)
                {
                    xxx = JSON.parse(data).result;
                    $("#delivery_option").html(xxx);

                }

            });


        });
        $(document.body).on('change','#shipping\\:country_id',function(){
            var country_c = $(this).val();
            var country_n =  $('option:selected', this).text();
            shipcountry = country_c;
            $('#delivery_checked').text(country_n);
            $('#delivery-destination').text(country_n);
            $.ajax({
                url : "<?php echo $this->getUrl("checkout/onepage/")?>getDelivery",
                type: "POST",
                data : "countryId="+country_c,
                success: function(data)
                {
                    xxx = JSON.parse(data).result;
                    $("#delivery_option").html(xxx);

                }

            });


        })

    })
    //<![CDATA[
    var flag=0;
    $$('.is_checked').each(function(val) {
        $(val).addClassName('delivery-hover');
        $('delivery_checked').update(val.innerHTML);
    });
    $('delivery_checked').observe('click',function()
    {
        if(flag==0){
            $('ul_delivery_option').addClassName(
                'overlay-active'
            );
            $('ul_delivery_option').removeClassName(
                'overlay-deactive'
            );
            flag=1;
        }else{
            $('ul_delivery_option').removeClassName(
                'overlay-active'
            );
            $('ul_delivery_option').addClassName(
                'overlay-deactive'
            );
            flag=0;
        }
        var isCheckId='delivery_value_'+countryChoose;
        $(isCheckId).removeClassName('is_checked');

    });
    function changeDelivery(country_code,country_name){
        countryChoose=country_code;
        var countryShipp  = '';
        if($('use_for_shipping_no')){
            if($('use_for_shipping_no').checked) {
                countryShipp =document.getElementById('shipping:country_id').value;
            } else {
                countryShipp =document.getElementById('billing:country_id').value;
            }
        }
        var errMsg='You have just changed the destination country, please recheck it because the new country do not support the shipping method that you select in the previous step (Shopping Basket).';
        if(countryShipp!=''){
            if(countryChoose != countryShipp) {
                alert(errMsg);
                document.getElementById("link-step-delivery_detail").getElementsByTagName("h2")[0].click();
            }
        }

        //delivery.getNewDelivery(Request_url);
        $('delivery_checked').update(country_name);
        $('ul_delivery_option').removeClassName(
            'overlay-active'
        );
        $('ul_delivery_option').addClassName(
            'overlay-deactive'
        );
        var cid='delivery_value_'+country_code;
        var isCheckId='delivery_value_'+country_code;
        $(isCheckId).removeClassName('is_checked');
        $(cid).addClassName('is_checked');
        flag=0;
        country_current = country_code;
    }
    function deliveryHover(country_id){
        var c_id='delivery_value_'+country_id;
        $(c_id).addClassName('delivery-hover');
    }
    function deliveryMouser(country_id){
        var ct_id='delivery_value_'+country_id;
        $(ct_id).removeClassName('delivery-hover');
        $$('.is_checked').each(function(val) {
            $(val).addClassName('delivery-hover');
        });
    }
    var Request_url = '<?php echo $this->getUrl("checkout/onepage/")?>getDelivery';
    var country_current=countryChoose;
    var delivery = new Sm_Delivery();
    //]]>
</script>