<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th class="first th-delivery"><?php echo $this->__('Delivery Speed') ?></th>
		<th class="th-arrival">
            <?php echo $this->__('Arrival Estimates') ?> <i id="help-estimates" class="fa fa-question-circle"></i>

            <div id="help-estimates-tooltip" class="pink-question-tooltip" style="display:none;">
                <div class="cava-popup">
                    <div class="small-arrow top-direction">
	                    <span>
	                    	<span></span>
	                    </span>
                    </div>
                    <div>
                        <h3><?php echo $this->__('Arrival Estimates')?></h3>
                        <p><?php echo $this->__('All expedited (ASAP and Express) orders must be r by 10 a.m EST to ship that day. If received after 10 orders will ship the following business day, Tuesda (excluding holidays), as FedEx does not deliver exp orders on weekends.')?></p>
                    </div>
                </div>
            </div>
            <script type="text/javascript"> 
            		showHideTooltip('help-estimates','help-estimates-tooltip');	
            </script>
        </th>
		<th class="last th-delivery"><?php echo $this->__('Delivery Charge') ?></th>
	</tr>
	<?php
		$arrayData=$this->getDelivery();
		if(!is_null($arrayData))
		{
			foreach($arrayData as $key=>$value){
			?>
			<?php
				if(trim($this->escapeHtml($value['delivery_desc'])!='Not Available')||trim($this->escapeHtml($value['price'])!='Not Available'))
				{?>
				<tr>
					<td class="first delivery">
            <input name="shipping_method" type="radio" value="matrixrate_matrixrate_<?php echo $this->escapeHtml($value['pk']) ?>" id="s_method_matrixrate_matrixrate_<?php echo $this->escapeHtml($value['pk']);?>" class="radio" <?php if ($value['delivery_type'] === 'Collect + Stores'): ?> choose-store="false"<?php endif;?>/>
            <label for="s_method_matrixrate_matrixrate_<?php echo $this->escapeHtml($value['pk'])?>">
							<?php
								echo $this->escapeHtml($value['delivery_type']);
							?>
						</label>
					</td>
					<td class="arrival">
            <?php
							if ($value['delivery_type'] === 'Collect + Stores'){ ?>
							<input type="text" placeholder="City or Postal Code" name="desc_matrixrate_matrixrate_<?php echo $value['pk']; ?>" id="delivery_date_id<?php echo $value['pk']; ?>" />
							<button type="button" id="btn_id<?php echo $value['pk']; ?>" onclick="order.getStore('delivery_date_id<?php echo $value['pk']; ?>')" ><?php echo $this->__('Select')?></button>
							<div id="sm-store_list" sm-store-button="btn_id<?php echo $value['pk']; ?>" sm-store-text="delivery_date_id<?php echo $value['pk']; ?>" sm-store-method="s_method_matrixrate_matrixrate_<?php echo $this->escapeHtml($value['pk']);?>"></div>
							<?php
								}elseif($value['delivery_desc']==''){
							?>
							<input type="text" name="desc_matrixrate_matrixrate_<?php echo $value['pk']; ?>" id="delivery_date_id<?php echo $value['pk']; ?>" />
							<button type="button"  id="btn_id<?php echo $value['pk']; ?>" ><i class="fa fa-calendar"></i></button>
							<script type="text/javascript">
								Calendar.setup({
									//<![CDATA[
									inputField : "delivery_date_id<?php echo $value['pk']; ?>",
									ifFormat : '%m/%e/%Y',
									button : "btn_id<?php echo $value['pk']; ?>",
									showsTime: false,
									align : "Bl",
									singleClick : true
								});
								Calendar.setup({
									//<![CDATA[
									inputField : "delivery_date_id<?php echo $value['pk']; ?>",
									ifFormat : '%m/%e/%Y',
									button : "delivery_date_id<?php echo $value['pk']; ?>",
									showsTime: false,
									align : "Bl",
									singleClick : true
								});
								//]]>
							</script>
							<?php
							}else
							{
                echo $value['delivery_desc'];
							?>
							<input type="hidden" name="desc_matrixrate_matrixrate_<?php echo $value['pk']; ?>"value="<?php echo $value['delivery_desc'];?>" />
							<?php
							}
						?>
					</td>
					<td class="last">
            <?php
							$price = Mage::helper('matrixrate')->convertRate($value['price']);
							echo $price != 0 ? Mage::helper('checkout')->formatPrice($price) : 'Free';
						?>
					</td>
				</tr>
				<?php
				}
			?>
			<?php
			}
		}
	?>
</table>


