<?php
$blockCountry=Mage::getBlockSingleton('directory/data');
?>
<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<h2><?php echo $this->__('DELIVERY OPTIONS...') ?></h2>
<form id="co-shipping-method-form" action="">
    <div id="checkout-shipping-method-load">
        <div class="shipping-form">
            <ul class="form-list">
                <li>
                    <label for="destination"><?php echo $this->__('SHIPPING DESTINATION: ') ?></label>
                    <?php echo $blockCountry->getCountryHtmlSelect($this->getEstimateCountryId()) ?>
                </li>
                <?php
                ?>
            </ul>
            <div id="delivery_option">
                <?php
                //echo $this->getChildHtml('delivery.option');
                ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var shippingMethod = new ShippingMethod('co-shipping-method-form', "<?php echo $this->getUrl('checkout/onepage/saveShippingMethod') ?>");
        //]]>
    </script>
    <div class="buttons-set" id="shipping-method-buttons-container">
        <button type="button" class="button" onclick="shippingMethod.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span id="shipping-method-please-wait" class="please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var url='<?php echo $this->getUrl("delivery/index/")?>getDelivery';
    var delivery = new Sm_Delivery(url);
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    var checkout = new Checkout(accordion,{
            progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
            review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
            saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
            failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
    //]]>
</script>