<!--@subject Willkommen, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Guten Tag {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">herzlich Willkommen bei {{var store.getFrontendName()}}. Um sich bei Ihrem nächsten Besuch in unserem Shop anzumelden, klicken Sie einfach auf <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Anmelden</a> oder <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mein Benutzerkonto</a> im oberen Bereich jeder Seite und geben Sie Ihre E-Mail Adresse sowie Ihr Passwort ein.</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Nach erfolgreichem Login auf unserer Seite haben Sie die folgenden Möglichkeiten:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Schnellerer Bezahlvorgang beim nächsten Einkauf</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Den Status laufender Bestellungen einsehen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Bestellverlauf einsehen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verwalten Ihrer Kundendaten</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Ihr Passwort ändern</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verschiedene Adressen für den Versand an Familienmitglieder und Freunde sowie Rechnungsadressen speichern</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Falls Sie Fragen oder Anregungen haben, kontaktieren Sie uns bitte wahlweise per E-Mail
                                <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                                oder auch gerne per Telefon unter der Rufnummer {{config path='general/store_information/phone'}}.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Vielen Dank! <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
