{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Autorisation: Status zu {{htmlescape var=$status}} geändert @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Guten Tag {{htmlescape var=$userName}}<br /><br />
die Autorisation für <b>{{htmlescape var=$applicationName}}</b> wurde vom Administrationsteam auf <b>{{htmlescape var=$status}}</b> geändert.<br /><br />
