<?php
$columns = $this->getColumns();
?>
<table class="data-table" id="wishlist-table">
    <thead>
    <tr>
        <th>
            <input type="checkbox" name="checkall">
        </th>
        <?php foreach ($columns as $column): ?>
            <th><?php echo $column->getTitle(); ?></th>
        <?php endforeach; ?>

    </tr>
    </thead>
    <tbody>
    <?php if (count($this->getItems())): ?>
        <?php foreach ($this->getItems() as $item): ?>
            <tr id="item_<?php echo $item->getId(); ?>">
                <td><input type="checkbox" name="wishlist[]"></td>
                <?php foreach ($columns as $column): ?>
                    <td><?php $column->setItem($item);
                        echo $column->toHtml($item); ?></td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach ?>
    <?php else: ?>
        <td colspan="<?php echo count($columns); ?>"
            class="wishlist-empty"><?php echo $this->__('This Wishlist has no Items'); ?></td>
    <?php endif; ?>
    </tbody>
</table>
<?php foreach ($columns as $column): ?>
    <?php echo $column->getAdditionalHtml(); ?>
<?php endforeach; ?>
<script type="text/javascript">
    //<![CDATA[
    decorateTable('wishlist-table');

    <?php foreach ($columns as $column): ?>
    <?php echo $column->getJs();?>
    <?php endforeach; ?>
    //]]>
</script>
<script>

    pjQuery(document).ready(function ($) {
        $(':checkbox[name="checkall"]').click(function () {
            if ($(':checkbox[name="checkall"]').is(':checked'))
                $(':checkbox[name="wishlist[]"]').each(function () {
                    this.checked = true;
                });
            else
                $(':checkbox[name="wishlist[]"]').each(function () {
                    this.checked = false;
                });
        })
    })
    function confirmRemoveWishlistItem() {
        return confirm('<?php echo $this->__('Are you sure you want to remove this product from your wishlist?')?>');
    }
    function UnloveItem(customerId, proid, unlove) {
        var del = confirm("<?php echo $this->__('Are you sure you want to unloved this?'); ?>");
        if (del) {
            jQuery.ajax({
                url: "<?php echo Mage::getUrl('loveit/index/ajaxUnLoveit') ?>",
                type: "POST",
                data: {customerId: customerId, productId: proid },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        if (data.number == 0) {
                            jQuery(unlove).closest('tr').find('div.love-it').empty();
                        } else {
                            jQuery(unlove).closest('tr').find('div.love-it').html('<span>' + (data.number) + '<?php echo $this->__(' people love this!'); ?></span>');
                        }
                        jQuery(unlove).closest('p').find('a.loveit').show();
                        jQuery(unlove).hide();
                    }
                }
            });
        }
        return del;
    }

    function LoveItem(customerId, proid, love) {
        jQuery.ajax({
            url: "<?php echo Mage::getUrl('loveit/index/ajaxSaveLoveit') ?>",
            type: "POST",
            data: {customerId: customerId, productId: proid },
            dataType: "json",
            beforeSend: function () {
                jQuery('#imgloveit').show();
            },
            success: function (data) {
                if (data.success) {
                    jQuery(love).closest('tr').find('div.love-it').html('<span>' + (data.number) + '<?php echo $this->__(' people love this!'); ?></span>');
                    jQuery(love).closest('p').find('a.un-love').show();
                    jQuery(love).hide();
                }
            }
        });
    }

</script>