<?php
$currentCategory = Mage::registry('current_category');
$_productCollection = null;
$count = 0;
$count_small = 0;
$count_large = 0;
?>
<div class="top-featured-products">
    <div class="left">
        <?php echo $this->getChildHtml('sneak_product_list') ?>
    </div>
    <div class="right deal-small">
        <?php echo $this->getChildHtml('deal.of.day') ?>
    </div>
    <div class="clear"></div>
</div>
<?php echo $this->getChildHtml('sub.menu.featured') ?>

<div class="featured-product-container">
    <ul>
        <?php foreach($currentCategory->getChildrenCategories() as $_subCate): ?>
        <li>
            <div class="specified-menu" id="list-<?php echo $_subCate->getId() ?>">
                <?php foreach($_subCate->getChildrenCategories() as $_subCate_lv2): ?>
                <div class="featured-product-list">
                    <?php $_productCollection = $this->getProductByOtherCategory($_subCate_lv2->getUrlKey()) ?>
                    <div class="list-title">
                        <p><a id="f-product-<?php echo $_subCate_lv2->getId() ?>"><?php echo $_subCate_lv2->getName() ?></a></p>
                        <a href="<?php echo Mage::getBaseUrl(). $currentCategory->getUrlKey().'/'. $_subCate->getUrlKey().'/'. $_subCate_lv2->getUrlKey()  //echo $this->getLink($_subCate_lv2->getId()) ?>">Shop more <?php echo $_subCate_lv2->getName() ?>&nbsp;<i class="fa fa-caret-right"></i></a>
                    </div>
                    <div class="list-product">
                        <?php
                        $_array_large_frame = array();
                        $_array_small_frame = array();
                        ?>
                        <?php foreach($_productCollection as $_product) : ?>
                        <?php
                        $frame = $this->getFrame($_product->getId());
                        if($frame == 1) array_push($_array_large_frame, $_product);
                        if($frame == 2) array_push($_array_small_frame, $_product);
                        ?>
                    <?php endforeach; ?>

                    <?php $count_large = 0;?>
                    <?php foreach($_array_large_frame as $lkey =>  $_large_product): ?>
                    <div class="block-3featured <?php if($count_large==0):?>first<?php else:?>last <?php endif;?>">
                        <?php $count_large++; ?>
                        <?php if($count_large <= 2) :?>
                        <div class="large-product left">
                            <a href="<?php echo $_large_product->getProductUrl() ?>">
                                <img src="<?php echo Mage::helper('catalog/image')->init($_large_product, 'thumbnail')->resize(376,428); ?>" />
                            </a>
                            <div class="clear">
                                <div class="a-left">
                                    <p class="product-subtitle"><?php echo $this->getProductSubtitle($_large_product->getId()) ?></p>
                                    <a href="<?php echo $_large_product->getProductUrl() ?>"><p class="product-name"><?php echo $_large_product->getName() ?></p></a>
                                </div>
                                <div class="a-right">
                                    <?php // echo $this->getPriceHtml($_large_product, true) ?>
                                    <div class="price-box">
                                <?php
                                if ($_large_product->getPrice() != $_large_product->getFinalPrice()) {
                                    ?>
                                    <div class="retail">
                                        <span class="retail-price"><?php echo $this->__('Retail:') ?>
                                            <span class="price"><?php echo Mage::helper('core')->currency($_large_product->getPrice(), true, false); ?></span>
                                        </div>
                                        <?php
                                    }
                                    ?>
                                    <div class="our-price">
                                        <span class="regular-price">
                                            <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                                            <span class="price"><?php echo Mage::helper('core')->currency($_large_product->getFinalPrice(), true, false); ?></span>
                                        </div>
                                    </div>
                                    <button type="button" title="<?php echo $this->__('Shop Now') ?>" class="button" onclick="setLocation('<?php echo $_large_product->getProductUrl() ?> ')"><span><?php echo $this->__('Shop Now') ?></span></button>
                                </div>
                            </div>
                        </div>
                        <?php  $count_small = 0; ?><div class="twosmall-products">
                        <?php foreach($_array_small_frame as $key => $_small_product): ?>
                        <?php $count_small++; ?>
                        <?php if($count_small <= 2): ?>

                        <div class="small-product">
                            <a href="<?php echo $_small_product->getProductUrl() ?>" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_small_product, 'thumbnail')->resize(150,143); ?>"/></a>
                            <a href="<?php echo $_small_product->getProductUrl() ?>"><p class="product-name"><?php echo $_small_product->getName() ?></p></a>

                            <div class="price-box">
                                <?php
                                if ($_small_product->getPrice() != $_small_product->getFinalPrice()) {
                                    ?>
                                    <div class="retail">
                                        <span class="retail-price"><?php echo $this->__('Retail:') ?>
                                            <span class="price"><?php echo Mage::helper('core')->currency($_small_product->getPrice(), true, false); ?></span>
                                        </div>
                                        <?php
                                    }
                                    ?>
                                    <div class="our-price">
                                        <span class="regular-price">
                                            <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                                            <span class="price"><?php echo Mage::helper('core')->currency($_small_product->getFinalPrice(), true, false); ?></span>
                                        </div>
                                    </div>

                                    <?php //echo $this->getPriceHtml($_small_product, true) ?>
                                    <button type="button" title="<?php echo $this->__('Shop Now') ?>" class="button" onclick="setLocation('<?php echo $_small_product->getProductUrl() ?> ')"><span><?php echo $this->__('Shop Now') ?></span></button>
                                </div>

                                <?php unset($_array_small_frame[$key])?>
                            <?php else: ?>
                            <?php break; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
                <?php unset($_array_large_frame[$lkey]) ?>
            <?php endif; ?>
        </div>
        <?php if($count_large >= 2) break; ?>
    <?php endforeach;?>

</div>
<?php $_productCollection = null ?>
</div>
<?php endforeach; ?>
</div>
</li>
<?php endforeach; ?>
</ul>
</div>

<?php echo $this->getChildHtml('featurePromotion'); ?>

<script type="text/javascript">
jQuery('.specified-menu').hide();
jQuery('.featured-product-container ul li:first .specified-menu').show();

function showProduct(cateId) {
    var id_name = "#list-" + cateId;
    jQuery('.specified-menu').hide();
    jQuery(id_name).show();
}
</script>
