<?php
$_product = $this->getProduct();
$_image = $this->getCustomData('image');
$_image['width']=120; $_image['height'] = 180;
$productStatus = Mage::helper('amconf')->getProductStatus($_product);
?>
<div class="item-wrapper-num<?php echo $_product->getId(); ?>">
<div class="item-wrapper enlarge-fake <?php if ($_product->getVideo() != null) echo ' video-play' ?>" id="num<?php echo $_product->getId(); ?>">
    <div class="bl-image">
        <?php if ($_product->getVideo() != null) { ?>
            <video id="video1-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>" class="video_<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>" preload="none"
                   style="display: none; background-color: white !important;"
                   poster="<?php echo Mage::getBaseUrl('media') . 'white-bg.png'; ?>">

            </video>
        <?php
        }
        ?>
        <a href="<?php echo $_product->getProductUrl() ?>"
           title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
           data-product-id="<?php echo $_product->getId() ?>" class="product-image <?php if ($_product->getVideo() != null) echo ' a-image-'.$this->getSmArea().$_product->getId() ?>">
            <img id="image-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?> "
                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_image['width'], $_image['height']); ?>"

                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
        </a>
    </div>
    <div class="product-info">
        <div class="enlarge-color">
            <?php if ($_product->getTypeId() == 'configurable'): ?>
                <?php $_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel'); ?>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-default-color"
                     class="enlarge-item-color"></div>
            <?php endif; ?>
        </div>
        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"
                                    title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a>
        </h2>

        <p class="description"><?php if ($_product->getSubtitle()): ?>
                <span class="product-subtitle"><?php echo $_product->getSubtitle(); ?></span>
            <?php endif; ?></p>

        <div class="product-stt-price">
            <div class="price-box">
                <?php
                if ($_product->getPrice() != $_product->getFinalPrice()) {
                    ?>
                    <div class="retail">
                                <span class="retail-price"><?php echo $this->__('Retail:') ?>
                                    <span
                                        class="price"><?php echo Mage::helper('core')->currency($_product->getPrice(), true, false); ?></span>
                    </div>
                <?php
                }
                ?>
                <div class="our-price">
                            <span class="regular-price">
                                <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                                <span
                                    class="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(), true, false); ?></span>
                </div>
            </div>
            <div class="product-status left">
                <?php
                if ($productStatus && is_array($productStatus)) :
                    foreach ($productStatus as $k => $status): ?>
                        <?php if (is_array($status)): ?>
                            <div class="<?php echo $status['status'] ?>">
                                <?php echo $status['label'];

                                if ($status['status'] == 'coming_soon') {
                                    echo '<br />' . date("m-d-Y", strtotime($_product->getComingSoonFrom()));
                                }
                                ?>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
            </div>
            <?php // echo $this->getPriceHtml($_product, true) ?>
            <div class="actions right">
                <?php if ($_product->isSaleable()): ?>
                    <?php if ($_product->getTypeId() != 'configurable'): ?>
                        <button type="button"
                                title="<?php echo isset($productStatus['button_label']) ? $productStatus['button_label'] : '' ?>"
                                class="button btn-cart"
                                onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                            <span><span><?php echo isset($productStatus['button_label']) ? $productStatus['button_label'] : '' ?></span></span>
                        </button>
                    <?php else: ?>
                        <button type="button"
                                title="<?php echo isset($productStatus['button_label']) ? $productStatus['button_label'] : '' ?>"
                                class="button btn-cart"
                                onclick="spConfig_<?php echo $_product->getId() ?>_<?php echo $this->getSmArea() ?>.addToCart('<?php echo $_smBlock->getSubmitUrl($_product) ?>', '<?php echo Mage::getUrl("checkout/cart") ?>')">
                            <span><span><?php echo isset($productStatus['button_label']) ? $productStatus['button_label'] : '' ?></span></span>
                        </button>
                    <?php endif; ?>
                <?php else: ?>
                    <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
                            onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                        <span><span><?php echo $this->__('Pre-Order Now') ?></span></span>
                    </button>
                <?php endif; ?>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>
<?php
$_image['width'] = 133; $_image['height'] = 200;
?>
<div class="item-wrapper enlarge-real" id="real-num<?php echo $_product->getId(); ?>">
    <div class="bl-image">

        <a href="<?php echo $_product->getProductUrl() ?>"
           id="a-image-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>"
           title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
           data-product-id="<?php echo $_product->getId() ?>" class="product-image <?php if ($_product->getVideo() != null) echo ' a-image-'.$this->getSmArea().$_product->getId() ?>">
            <img id="image-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>"
                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_image['width'], $_image['height']); ?>"

                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
        </a>

        <a class="various fancybox.ajax button pro-quick-view enlarge-item"
           href="<?php echo $this->getUrl('ajax/index/quickview', array('product_id' => $_product->getId())) ?>">QUICK
            VIEW</a>

        <?php if ($_product->getVideo() != null): ?>
            <div class="video-player">
                <a class="video"
                   onclick="show_style_video('<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>', '<?php echo Mage::getBaseUrl('media') . 'blfa_files/' . $_product->getVideo(); ?>')"
                   id="play-video-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>"
                   title="<?php echo $this->__('Play video') ?>" href="javascript:void(0)"><span
                        class="video-player-icon">&nbsp;</span><?php echo $this->__('PLAY VIDEO') ?></a>
            </div>
            <video class="video_<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>" id="video-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>" preload="none"
                   style="display: none; background-color: white !important;"
                   poster="<?php echo Mage::getBaseUrl('media') . 'white-bg.png'; ?>">

            </video>

        <?php endif; ?>
    </div>
    <div class="product-info">
        <div class="enlarge-color">
            <?php if ($_product->getTypeId() == 'configurable'): ?>
                <?php $_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel'); ?>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-color"
                     class="enlarge-item enlarge-color-real"></div>
                <script type="text/javascript">
                    var spConfig_<?php echo $_product->getId()?>_<?php echo $this->getSmArea()?> = new smProduct.Config(<?php echo $_smBlock->setProduct($_product)->getJsonConfig() ?>, <?php echo $_product->getId()?>, '<?php echo $this->getSmArea()?>');
                    document.observe("dom:loaded", spConfig_<?php echo $_product->getId()?>_<?php echo $this->getSmArea()?>.run.bind(spConfig_<?php echo $_product->getId()?>_<?php echo $this->getSmArea()?>));
                </script>
            <?php endif; ?>
        </div>
        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"
                                    title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a>
        </h2>

        <p class="description"><?php if ($_product->getSubtitle()): ?>
                <span class="product-subtitle"><?php echo $_product->getSubtitle(); ?></span>
            <?php endif; ?></p>
        <?php if ($_product->getTypeId() == 'configurable'): ?>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-size"
                 class="enlarge-item enlarge-size"></div>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-bag-size"
                 class="enlarge-item enlarge-size"></div>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-bra-size"
                 class="enlarge-item enlarge-size"></div>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-clothing-size"
                 class="enlarge-item enlarge-size"></div>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-intimate-size"
                 class="enlarge-item enlarge-size"></div>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-accessories-size"
                 class="enlarge-item enlarge-size"></div>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-ring-size"
                 class="enlarge-item enlarge-size"></div>
            <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $_product->getId() ?>-shoes-size"
                 class="enlarge-item enlarge-size"></div>
        <?php endif; ?>
        <div class="product-stt-price">
            <div class="price-box">
                <?php
                if ($_product->getPrice() != $_product->getFinalPrice()) {
                    ?>
                    <div class="retail">
                                <span class="retail-price"><?php echo $this->__('Retail:') ?>
                                    <span
                                        class="price"><?php echo Mage::helper('core')->currency($_product->getPrice(), true, false); ?></span>
                    </div>
                <?php
                }
                ?>
                <div class="our-price">
                            <span class="regular-price">
                                <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                                <span
                                    class="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(), true, false); ?></span>
                </div>
            </div>
            <div class="product-status left">
                <?php foreach ($productStatus as $k => $status): ?>
                    <?php if (is_array($status)): ?>
                        <div class="<?php echo $status['status'] ?>">
                            <?php echo $status['label'];
                            if ($status['status'] == 'coming_soon') {
                                echo '<br />' . date("m-d-Y", strtotime($_product->getComingSoonFrom()));
                            }?>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
            </div>
            <?php // echo $this->getPriceHtml($_product, true) ?>
            <div class="actions right">
                <?php if ($_product->isSaleable()): ?>
                    <?php if ($_product->getTypeId() != 'configurable'): ?>
                        <button type="button" title="<?php echo $productStatus['button_label'] ?>"
                                class="button btn-cart"
                                onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                            <span><span><?php echo $productStatus['button_label'] ?></span></span></button>
                    <?php else: ?>
                        <button type="button" title="<?php echo $productStatus['button_label'] ?>"
                                class="button btn-cart"
                                onclick="spConfig_<?php echo $_product->getId() ?>_<?php echo $this->getSmArea() ?>.addToCart('<?php echo $_smBlock->getSubmitUrl($_product) ?>', '<?php echo Mage::getUrl("checkout/cart") ?>')">
                            <span><span><?php echo $productStatus['button_label'] ?></span></span>
                        </button>
                    <?php endif; ?>
                <?php else: ?>
                    <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
                            onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                        <span><span><?php echo $this->__('Pre-Order Now') ?></span></span>
                    </button>
                <?php endif; ?>
            </div>
            <div class="clear"></div>
        </div>
        <div class="share">

            <?php
            //GET SESSION DATA
            Mage::getSingleton('core/session', array('name' => 'frontend'));
            $session = Mage::getSingleton('customer/session', array('name' => 'frontend'));
            $cusId = $session->getCustomer()->getId();

            ?>

            <?php ?>


            <div class="left cava-love-it" id="love-it-<?php echo $_product->getId() ?>">
                <?php
                $loveIt = $_product->getLoveIt();

                if ($session->isLoggedIn()) {

                    ?>
                    <span class="left">
                    <a <?php if ($cusId && Mage::helper('cavabien_loveit')->isLoveitExist($_product->getId(), $cusId)){ ?>style="display: block; cursor: pointer;"
                       <?php }else{ ?>style="display: none"<?php } ?> class="loved-it"
                       onclick="unLoveIt('<?php echo $_product->getId() ?>')" <?php echo $login; ?>><?php echo $this->__('Loved it') ?></a>
                    <a <?php if ($cusId && Mage::helper('cavabien_loveit')->isLoveitExist($_product->getId(), $cusId)){ ?>style="display: none;cursor: pointer;"
                       <?php }else{ ?>style="display: block"<?php } ?> class="love-it"
                       onclick="loveIt('<?php echo $_product->getId() ?>')" <?php echo $login; ?>><?php echo $this->__('Love It') ?></a>
                </span>
                <?php }else{?>
                    <span class="left">
                        <a  style="display: block; cursor: pointer;" class="love-it"  onclick="show_login()"><?php echo $this->__('Love it') ?></a>
                    </span>

                <?php }?>
                <span class="left">
                    <span class="love-it-count"><?php echo (int)$loveIt ?></span>
                    <div class="pluginCountButtonNub"><s></s><i></i></div>
                    </span>
                <img style="display: none" id="imgloveit-<?php echo $_product->getId() ?>"
                     src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                     alt="<?php echo $this->__('Loading next step...') ?>"
                     title="<?php echo $this->__('Loading next step...') ?>" class="v-middle"/>
            </div>

            <div class="social-share right">
                <a href="//www.pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()) ?>&media=<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_image['width'], $_image['height']); ?>&description=Next%20stop%3A%20Pinterest"
                   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red"><img
                        src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png"/></a>

                <!--                <div class="fb-like">-->
                <!--                    <iframe src="//www.facebook.com/plugins/like.php?href=--><?php //echo $_product->getProductUrl() ?><!--&width&layout=button&action=like&show_faces=true&share=false&height=80&appId=1473961846178159&locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>-->
                <!--                </div>-->
                <div class="facebook-like-button-round" style="width: 76px; height: 20px; overflow: hidden;">
                    <div class="fb-like" data-href="<?php echo $_product->getProductUrl();  ?>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>
                <p class="update-face" style="display: none">Updating Facebook Like ...</p>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        <?php if (!$productStatus['review_star']): ?>
        if (jQuery('.item-wrapper-num<?php echo $_product->getId() ?> .ratings .rating-box')) {
            jQuery('.item-wrapper-num<?php echo $_product->getId();?> .ratings .rating-box').hide();
        }
        <?php endif;?>
        <?php if (!$productStatus['review_number']): ?>
        if (jQuery('.item-wrapper-num<?php echo $_product->getId() ?> .ratings .amount')) {
            jQuery('.item-wrapper-num<?php echo $_product->getId();?> .ratings .amount').hide();
        }
        <?php endif;?>
    })
</script>
