
<div id="co-delivery-detail-div" action="">
    <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div class="sm-step2-login">
        <?php echo $this->getChildHtml('delivery_login')?>
    </div>
    <?php endif; ?>

    <div class="sm-step2-shipping-address">
        <form id="co-delivery-detail-form" >
            <?php echo $this->getChildHtml('billing')?>
        </form>
    </div>

    <div class="buttons-set" id="sm-step2_total">
        <?php echo $this->getChildHtml('sm_detail_total')?>
    </div>

    <div class="sm-step2-end">
        <span><?php echo $this->__('Payment Methods:')?></span>
        <img src="<?php echo $this->getSkinUrl('images/payment-methods.jpg')?>" title="Payment Methods" alt="Payment Methods" />
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var deliveryDetail = new DeliveryDetail('co-delivery-detail-form', "<?php echo $this->getUrl('checkout/onepage/saveDeliveryDetail') ?>");
        //]]>
    </script>
</div>