<form id="co-delivery-option-form" action="">
    <div id="sm-step1_shipping_method">
        <div class="shipping-method-top">
            <ul class="form-list">
                <li>
                    <label for="destination"><?php echo $this->__('SHIPPING DESTINATION: ') ?></label>
                    <?php echo $this->getChildHtml('country_op')?>
                </li>
                <?php
                ?>
            </ul>
        </div>
        <div class="desc">
            <p>
                <span>Choose a shipping speed:</span>
                Shipping Infomation to
                <span id="delivery-destination"></span>
            </p>
        </div>
        <div class="clear"></div>
        <div id="delivery_option">
            <?php echo $this->getChildHtml('delivery_op')?>
        </div>
    </div>

    <div id="sm-step1_discount">
        <?php if (!$this->getQuote()->isVirtual()): ?>
        <?php echo $this->helper('giftmessage/message')->getInline('onepage_checkout', $this->getQuote(), $this->getDontDisplayContainer()) ?>
        <?php endif; ?>
        <div class="sm-gif-cart">
            <?php echo $this->getChildHtml('sm_delivery_gift_card')?>
            <?php echo $this->getChildHtml('sm_delivery_promo_code')?>
        </div>
        <div class="clear">
    </div>

    <div id="sm-step1_promotions">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sm_checkout_promotions')->toHtml(); ?>
    </div>

    <div id="sm-step1_total">
        <?php echo $this->getChildHtml('sm_delivery_total')?>
    </div>

    <div class="buttons-set" id="delivery-option-buttons-container">
        <span id="delivery-option-please-wait" class="please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
        <button type="button" class="button" onclick="deliveryOption.save()"><span><span><?php echo $this->__('Continue checkout') ?></span></span></button>
    </div>
    <div class="step2-total-paypal">
        <img src="<?php echo $this->getSkinUrl('images/paypal-available.jpg')?>" alt="Paypal available in checkout" title="Paypal available in checkout" />
        <span><?php echo $this->__('available in checkout')?></span>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var deliveryOption = new DeliveryOption('co-delivery-option-form', "<?php echo $this->getUrl('checkout/onepage/saveDeliveryOption') ?>");
        //]]>
    </script>
</form>
