#amasty_store
{
    border: none;
    height: 1700px; /* fallback */
    width: 100%;
}

.amasty-store-tab
{
    position: relative;
}

.amasty-store-tab span:after
{
    top: 0;
    right: 3px;
    position: absolute;
    content: " ";
    display: block;
    background: url(../../../images/ambase/shop.png) no-repeat;
    width: 55px;
    height: 23px;
}
