<?php
$_product    = clone($this->getProduct());
$_blockId = $this->getBlockId();
$productId = $_product->getId().$_blockId;
$_product->setId($productId);
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());

$_config = $this->getPriceJsonConfig();
$_config = Mage::helper('core')->jsonDecode($_config);
if (isset ($_config['productId'])) {
    $_config['productId'] = $productId;
}
$_config = Mage::helper('core')->jsonEncode($_config);
$_spConfig = $this->getJsonConfig();
$_spConfig = Mage::helper('core')->jsonDecode($_spConfig);
if (isset ($_spConfig['productId'])) {
    $_spConfig['productId'] = $productId;
}
$_spConfig = Mage::helper('core')->jsonEncode($_spConfig);
?>
<?php if (count($_attributes)):?>
    <?php foreach($_attributes as $_attribute): ?>
        <div class="<?php echo strtolower($_attribute->getLabel()); ?>-option-container">
            <label class="required attribute-<?php echo strtolower($_attribute->getLabel()); ?>-title" id="label-<?php echo $_attribute->getAttributeId() ?>-<?php echo $_product->getId() ?>"><?php echo $_attribute->getLabel() ?></label>
            <div class="input-box">
                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>-<?php echo $_product->getId() ?>" class="required-entry super-attribute-select-<?php echo $_product->getId() ?> attribute-conf">
                    <option><?php echo $this->__('Choose an Option...') ?></option>
                </select>
                <?php if($_attribute->getLabel() == "Size"): ?>
                    <a id="size_chart_link" class="size-chart-link-popup" href="javascript:void(0);" style="display: none;">Size Chart</a>
                <?php endif; ?>
            </div>
            <div id="requared-attribute<?php echo $_attribute->getAttributeId() ?>-<?php echo $_product->getId() ?>"></div>
        </div>
    <?php endforeach; ?>
    <script type="text/javascript">
        var spConfig = new Product.Config(<?php echo $_spConfig ?>);
        optionsPrice['<?php echo $_product->getId(); ?>'] = new Product.OptionsPrice(<?php echo $_config ;?>);
    </script>
<?php endif;?>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.product-shop .amconf-image-container').click(function(){
            jQuery('#size_chart_link').show();
        });

        jQuery('#size_chart_link').click(function(){
            jQuery('#size-chart-popup').show();
        });
    });

</script>

