<?php $_most_loved_product = $this->getMostLovedProduct(); ?>
<div class="style-of-month-view get-the-look">
    <h2>Style of the Month</h2>
    <?php if($_most_loved_product != null): ?>
    <a href="<?php echo $_most_loved_product->getProductUrl() ?>">
        <img src="<?php echo Mage::helper('catalog/image')->init($_most_loved_product, 'image')->resize(266, 474 ); ?>" />
    </a>
    <div class="style-info">
        <?php // echo $_most_loved_product->getName(); ?>
        <div class="actions">
            <button class="button"  title="<?php echo $this->__('Shop The Look') ?>" onclick="setLocation('<?php echo $_most_loved_product->getProductUrl() ?> ')">
                <span>
                    <span>Shop the look</span>
                    <i class="fa fa-caret-right"></i>
                </span>
            </button>
            <button class="button btn-gift silver" title="Buy as a gift" type="button">
                <span>
                    <span>Buy as a Gift</span>
                </span>
            </button>
        </div>
    </div>
    <?php endif; ?>
</div>