
<div id="co-billing-form">
    <div class="title">
        <h3 class="left"><?php echo $this->__("Billing Card Name & Address")?></h3>
        <div class="right">
            <input id="billing:same_as_shipping" class="checkbox" type="checkbox" onclick="payment.setSameAsShipping(this.checked)" title="Use Shipping Address" value="1" name="billing[same_as_shipping]">
            <label for="billing:same_as_shipping"><?php echo $this->__('Same as Shipping Address') ?></label>
        </div>
    </div>
    <div class="clear"></div>
    <ul class="form-list">
        <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
        <?php endif; ?>
        <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
            <fieldset>
                <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
                <ul>
                    <li class="fields fields-option">
                        <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->setFieldParams('onchange="payment.setSameAsShipping(false)"')->toHtml() ?>
                    </li>
                    <li class="fields">
                        <div class="fields fields-company">
<!--                            <label for="billing:company">--><?php //echo $this->__('Company') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" id="billing:company" placeholder="<?php echo $this->__('Company Name (optional)') ?>" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>"  onchange="payment.setSameAsShipping(false);" />
                            </div>
                        </div>
                    </li>
                    <?php if(!$this->isCustomerLoggedIn()): ?>
                    <li class="fields">
                        <div class="field">
<!--                            <label for="billing:email" class="required"><em>*</em>--><?php //echo $this->__('Email Address') ?><!--</label>-->
                            <div class="input-box">
                                <input type="hidden" name="billing[email]" placeholder="<?php echo $this->__('Email Address') ?>" id="billing:email" placeholder="<?php echo $this->__('Email Address') ?>" value="" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                            </div>
                        </div>
                    </li>
                     <?php endif; ?>
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                    <li class="wide">
<!--                        <label for="billing:street1" class="required"><em>*</em>--><?php //echo $this->__('Address') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address') ?>" placeholder="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" onchange="payment.setSameAsShipping(false);" />
                        </div>
                    </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                    <li class="wide">
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" placeholder="<?php echo $this->__('Street Address 2 (optional)') ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" onchange="payment.setSameAsShipping(false);" />
                        </div>
                    </li>
                    <?php endfor; ?>
                    <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                    <li class="wide">
                        <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
                        <div class="input-box">
                            <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                        </div>
                    </li>
                    <?php endif; ?>
                    <li class="fields">
    <!--                            <label for="billing:city" class="required"><em>*</em>--><?php //echo $this->__('City') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('City') ?>" placeholder="<?php echo $this->__('Town/ City') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="billing:city" onchange="payment.setSameAsShipping(false);" />
                        </div>
                        
                    </li>
                    <li class="fields">
                        <div class="field field-country">
                            <!--                            <label for="billing:region_id" class="required"><em>*</em>--><?php //echo $this->__('State/Province') ?><!--</label>-->
                            <div class="input-box input-box">
                                <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('County (opt.)') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="billing:region" placeholder="<?php echo $this->__('County (opt.)') ?>" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                            </div>
                        </div>
                        <div class="field field-code">
<!--                            <label for="billing:postcode" class="required"><em>*</em>--><?php //echo $this->__('Zip/Postal Code') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" placeholder="<?php echo $this->__('Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" onchange="payment.setSameAsShipping(false);" />
                            </div>
                        </div>
                        <div class="field field-billing">
<!--                            <label for="billing:country_id" class="required"><em>*</em>--><?php //echo $this->__('Country') ?><!--</label>-->
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('billing') ?>
                            </div>
                        </div>
                    </li>

                    <li class="fields">
                        <div class="field1">
                            <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                            <div class="input-box">
                                <input type="text" name="billing[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
                            </div>
                        </div>
                        <div class="field1 right">
                            <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                            <div class="input-box">
                                <input type="text" name="billing[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="billing:fax" />
                            </div>
                        </div>
                    </li>
                    <?php if(!$this->isCustomerLoggedIn()): ?>
                    <li>
                        <div class="input-box-box">
                            <input type="hidden" placeholder="Password" name="billing[customer_password]" id="billing:customer_password" class="input-text" />
                            <input type="hidden" placeholder="Re-Enter Password" name="billing[confirm_password]" id="billing:confirm_password" class="input-text" />
                        </div>
                    </li>
                    <?php endif;?>
                </ul>
            </fieldset>
        </li>
        <li id="sm-billing-confirm">
            <input type="checkbox" name="sm_billing_confirm" id="sm_billing_confirm" />
           
            <label for="sm_billing_confirm"><?php echo $this->__('I confirm that the billing information and the names as it appears of the debit/credit card is correct.') ?></label>
        </li>
    </ul>

</div>
<script type="text/javascript">
    //<![CDATA[
    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    //]]>
</script>
