<div id="quicklogin">
    <div class="quickbg">

        <span class="login_required"><?php echo $this->__('*Required'); ?></span>
        <?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <?php echo $this->getChildHtml('customer_form_login_popup') ?>
        <?php echo $this->getChildHtml('customer_form_register_popup') ?>

    </div>

</div>
 <div class="bottom-banner a-center">
        <img src="<?php echo $this->getSkinUrl('images/bottombanner.png');?>"/>
    </div>

