<div id="quicklogin">
    <div class="quickbg nopopup">


        <?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <fieldset class="col2-set login-page">

            <div class="col-1 registered-users">
                <form action="#" method="post" id="login-form-3" name="login-form-3" class="frm-login-3">
                    <div class="content">
                        <h3><?php echo $this->__('Already a member?') ?></h3>

                        <p class="a-center">
                            <span><?php echo $this->__('Enter your email address and password') ?></span></p>
                        <ul class="form-list">
                            <li>
                                <label class="required" for="email"><?php echo $this->__('Email Address') ?> </label><br/>

                                <div class="input-box">
                                    <input name="login[username]"
                                           value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email"
                                           type="text" class="input-text required-entry"
                                           title="<?php echo $this->__('Email Address') ?>"/>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="pass"><?php echo $this->__('Password') ?></label><br/>

                                <div class="input-box">
                                    <input name="login[password]" type="password"
                                           class="input-text required-entry validate-password" id="pass"
                                           title="<?php echo $this->__('Password') ?>"/>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="buttons-set">
                        <div class="fpasscheck">

                            <span><a style="cursor: pointer" onclick="showForgotSection('fpass', this)"><?php echo $this->__('FORGOT PASSWORD?') ?></a></span>
                            <span><input type="checkbox" name="remember" value="1"
                                    /><?php echo $this->__('Remember me') ?></span>
                        </div>
                        <img src="<?php echo $this->getSkinUrl('images/loading.gif') ?>"
                             class="signup-loader tabs-loader" style="display: none; float: right;"/>
                        <button class="button large action-btn" type="button" name="send3" id="send3"
                                onclick="loginAjax3();"><span><span><?php echo $this->__('Sign In') ?>&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span></span></button>

                    </div>
                </form>
                <div style="display:none" id="fpass">
                    <form class="for-pass-3" id="forgot-form-3" method="post"
                          action="<?php echo $this->getUrl('customer/account/ajaxForgotPassword/') ?>">
                        <p class="a-center"><span><?php echo $this->__('Please enter your email to get the password') ?></span></p>
                        <ul class="form-list">
                            <li>
                                <label class="required" for="email"><em></em><?php echo $this->__('Email Address') ?>
                                </label>

                                <div class="input-box">
                                    <input type="text" title="Email Address"
                                           class="input-text required-entry validate-email" id="forgot_email" value=""
                                           name="forgotemail">
                                </div>
                            </li>

                        </ul>
                        <div style="border:0px;" class="col-2 registered-users">
                            <div class="buttons-set">
                                <img src="<?php echo $this->getSkinUrl('images/loading.gif') ?>"
                                     class="signup-loader tabs-loader" style="display: none; float: right;"/>
                                <button type="button" id="send3" name="send3" class="button large action-btn"
                                        onclick="return forgetpass2();"><span><?php echo $this->__('Submit') ?></span>
                                </button>
                                <p style="display:none;" id="loading"></p>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="or-bg"></div>
                <div class="social-login">
                    <?php echo $this->getChildHtml("social_login_button"); ?>
                </div>
            </div>
            <div class="col-2 new-users">
                <form action="#" method="post" id="regis-form-3" class="frm-regis-3">
                    <div class="content">
                        <h3>
                            <?php echo $this->__('Not a member yet?') ?>
                            <a class="signup-text"><?php echo $this->__('SIGN UP NOW!') ?></a>
                        </h3>

                        <p class="a-center">
                            <span><?php echo $this->__('Enter your email address and password') ?></span></p>
                        <ul class="form-list">
                            <li>
                                <input id="firstname" type="hidden" title="First Name" value="" name="firstname"/>
                            </li>
                            <li>
                                <input id="lastname" type="hidden" title="Last Name" value="" name="lastname"/>
                            </li>
                            <li>
                                <label for="pass"><?php echo $this->__('Email Address') ?> <span
                                        class="required"></span></label><br/>
                                <div class="input-box">
                                    <input id="email_address" class="input-text validate-email required-entry"
                                           type="text" title="Email Address" value="" name="email"/>
                                </div>
                            </li>

                            <li>
                                <label for="pass"><?php echo $this->__('Choose a Password') ?> <span
                                        class="required"></span></label><br/>
                                <div class="input-box">
                                    <input id="password" class="input-text required-entry validate-password"
                                           type="password" title="Password" name="password"/>
                                </div>
                            </li>

                            <li>

                                <input id="confirmation" type="hidden" title="Password" name="confirmation"/>
                            </li>
                            <li class="control">

                                <p>By clicking Sign Up you agree to <a class="term-link" href="#">terms of use</a>
                                    and <a href="#" class="privacy-link"> privacy policy</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="input-box" style="display: none" >
                        <select class="validate-select" title="Gender" name="gender" id="gender">
                            <option value=""></option>
                            <option value="1" selected="selected" >Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                    <div class="buttons-set">
                        <img src="<?php echo $this->getSkinUrl('images/loading.gif') ?>"
                             class="signup-loader tabs-loader" style="display: none; float: right;"/>
                        <button id="create-account" type="button" class="button large action-btn"
                                onclick="return registerAjax3();">
                            <span><?php echo $this->__('Sign Up') ?>&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span></button>
                    </div>
                </form>
                <div class="or-bg"></div>
                <div class="social-login">
                    <?php echo $this->getChildHtml("social_login_button"); ?>
                </div>
            </div>

        </fieldset>

    </div>
    <div class="popup-footer">
       <p><img src="<?php echo $this->getSkinUrl('images/login-footer.png') ?>" alt="Earn 3% Rewards on every purchase"/></p>

    </div>

</div>



<script type="text/javascript">
    //< ![CDATA[
    //var customForm = new VarienForm('login-form-3');
    //]]>
</script>