<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php
	$addressBook = $this->getAddressBook();
	if (!($action = $addressBook->getAction())){ 
		$action = 'pInvitations.goToStep2(\''.$addressBook->getId().'\');';
	}
?>

<li class="col"><a href="javascript: " onclick="<?php echo $action ?>" class="icons <?php echo $addressBook->getKey(); ?>" title="<?php echo $addressBook->getName(); ?>"><span class="serv-name"><?php echo $addressBook->getName(); ?></span></a></li>

<script type="text/javascript">
	pInvitations.yahooConnect = function()
	{
		pInvitations.providerConnect({
			url 	: "<?php echo $this->getUrl('invitations/inviter/yahooStep1') ?>",
			name	: "Yahoo",
			params	: "width=700,height=300,resizable=yes,scrollbars=yes,status=yes"
		}, "<?php echo $addressBook->getId() ?>");
	}
</script>
