/*--SIDE MENU--*/
ul.tabs a.pensio-section, 
ul.tabs a.pensio-section:hover {
    background: url("images/tabs_span_bg.gif") repeat-x scroll 0 100% transparent;
    border-bottom: medium none;
    padding: 0.5em 0.5em 0.28em 1.5em;
}
	ul.tabs a.pensio-section span, 
	ul.tabs a.pensio-section:hover span { 
		background: url(images/pensio.png) no-repeat 0 0; 
		height:0px; 
		overflow:hidden; 
		padding:14px 0 0; 
		width:58px; 
	}
	
/*--SETTINGS--*/
.pensio-selection {
	border-collapse: collapse;
	width: 100%;	
}
	.pensio-selection th {
    	font-size: 13px;
    	padding: 5px 0;
    	text-align: left;
    	vertical-align: middle;
	}
		.pensio-selection .pensio-selection-info {
    		text-align: right;
		}
	.pensio-selection td {
    	background: none repeat scroll 0 0 #F2F2F2;
    	border-bottom: 5px solid #FFFFFF;
    	padding: 5px;
    	vertical-align: top;
	}
		.pensio-selection .pensio-selection-info {
    		text-align: right;
		}