@CHARSET "UTF-8";

div.PensioMultiformContainer .FormTypeButton {
	float:none;
	position:relative;
	margin-top: 10px;
	background-color:#eeeeee;
	z-index: 100;
}

div.PensioMultiformContainer form {
	position:relative ;
	top:-1px;
}
