@CHARSET "UTF-8";

div.PensioMultiformContainer {
	position: relative;
}

div.PensioMultiformContainer .FormTypeButton {
	position: relative;
	top: 0px;
	margin-left: 10px;
	background-color: #ffffff;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 0px;
	z-index: 50;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	font-size: 14px;
	height: 22px;
	padding-left: 10px;
	padding-right: 10px;
}

div.PensioMultiformContainer .FormTypeButton.Selected {
	background-color: #eeeeee;
	z-index: 100;
}

div.PensioMultiformContainer form {
	display: block;
	z-index: 75;
	position: absolute;
	top: 21px;
	background-color: #eeeeee;
	width: 90%;
	padding: 20px;
	margin: 0px;
	border: 1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

div.accountTermsAndConditionsBoxBackground {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
}

div.accountTermsAndConditionsBox {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -270px;
	padding: 2px;
	background-color: #aaa;
	width: 500px;
	height: 540px;
}

div.accountTermsAndConditions {
	width: 500px;
	height: 500px;
	background-color: #fff;
	overflow: auto;
}

div.accountTermsAndConditionButtons {
	width: 496px;
	height: 46px;
	padding-top: 10px;
}