@CHARSET "UTF-8";

div.PensioMultiformContainer {
	position: relative;
}

div.PensioMultiformContainer .FormTypeButton {
	position: relative;
	top: 0px;
	margin-left: 10px;
	z-index: 50;
	padding-left: 20px;
	padding-right: 20px;
	height: 24px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.35;
	border: 1px solid #A3AEB3;
	background: none repeat scroll 0 0 #EEEEEE;
	color: #5E8AB4;
}

div.PensioMultiformContainer .FormTypeButton.Selected {
	background: none repeat scroll 0 0 #D0DCE1;
	top: -2px;
}

div.PensioMultiformContainer form {
	display: block;
	z-index: 75;
	position: absolute;
	top: 21px;
	width: 90%;
	min-height: 150px;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #EEEEEE;
	border-color: -moz-use-text-color #A3AEB3 #A3AEB3;
	border: 1px solid #A3AEB3;
	margin: 0 0 6px;
	padding: 8px 13px;
}

div.accountTermsAndConditionsBoxBackground {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
}

div.accountTermsAndConditionsBox {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -270px;
	padding: 2px;
	background-color: #aaa;
	width: 500px;
	height: 540px;
}

div.accountTermsAndConditions {
	width: 500px;
	height: 500px;
	background-color: #fff;
	overflow: auto;
}

div.accountTermsAndConditionButtons {
	text-align: center;
	width: 496px;
	height: 46px;
	padding-top: 10px;
}