<?php
/**
 * Created by PhpStorm.
 * User: Administrator PC
 * Date: 9/18/14
 * Time: 10:06 AM
 */
$order = Mage::getModel('sales/order')->load(2);
//var_dump($order->getPayment()->getData());

Mage::log('Pensio checkout page', null, 'checkout_success.log');
?>
    <script type="text/javascript">
        if (top != self) {
            top.location.href = document.location;
        }
    </script>
    <h1>Payment success</h1>
<?php
if ($this->getOrderId()) {
    if ($this->getCanViewOrder()) {
        ?>
        <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
    <?php
    }
}?>