<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php
	$modelConfig	= $this->getConfig();
	$referralLink	= $this->helper('invitations')->getRefferalLink();
	$iviteeText = $this->helper('invitations')->getFilteredInviteeText();
	
	$fbABook = Mage::getModel('invitations/addressbooks')->getByKey('facebook');
	
	$customer = $this->getRequest()->getParam('customer');
	
	$promoPage		= $modelConfig->getPromoPage();
	
	$isGuestInvite	= $this->isGuestInvite();
	$canInvite		= $this->canInvite();
?>
<div class="invitations-index-index">
<div id="invite-friends-holder" class="col-main" style="background:url(<?php if ($promoPage['bg_image']) echo $promoPage['bg_image']; else echo $this->getSkinUrl('images/plumrocket/invitations/invite-bg.jpg'); ?>);">
	
	<div id="invite-design" class="clearfix cf">
		<div class="left-side">
			<?php if ($promoPage['title'] ) { ?>
				<div class="title"><div><?php echo $promoPage['title'] ?></div></div>
			<?php } ?>
			<?php if ($promoPage['description'] ) { ?>
				<div class="description"><div><?php echo $promoPage['description'] ?></div></div>
			<?php } ?>
		</div>
		<div class="right-side">
			<div class="over"></div>
			<div id='messages-holder' style="display:none;">
				<div id="messages" style="width:600px;"></div>
			</div>
			<?php if (($rewardsConfig = Mage::getModel('rewards/config')) && ($inviteePoints = $rewardsConfig->getInviteCredit())) { ?>
				<?php //$currencySymbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>
				<div class="page-head">
					<?php echo $this->__( 'Invite friends you get %1$s points when they get their first order', ($inviteePoints) ) ?>
				</div>
			<?php } ?>
			<div class="block">
				<h3><?php echo $this->__('Invite via email') ?></h3>
				<form id="invite-friends-form" action="<?php echo $this->getUrl('invitations/index/send') ?>">
					<table>
						
						<tr>
							<td>
								<input name="contact-list" id="contact-list" value="" />
								<div style="display:none;" id="contact-list-data"></div>
								<div id="invitation-contacts-error" class="validation-advice" style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
								<div id="invitation-result-error" class="validation-advice" style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
							</td>
						</tr>
						<tr>
							<td>
								<textarea style="width:278px; height:80px;"  rows="10" name="message" id="invitation-message" <?php if (!($modelConfig->editInviteeText())) echo 'readonly="readonly"'; ?>><?php echo $iviteeText ?></textarea><br/>
								<input id="focus-input" value="" style="position: absolute; left: -10000px;"/>
								<div id="invitation-message-error" class="validation-advice" style="display:none;"><?php echo $this->__('This is a required field.') ?></div>
								<?php if ($modelConfig->editInviteeText()) { ?>
									<div style="text-align:right; color: #666;" id="invitation-message-left-chars"></div>
								<?php } ?>
							</td>
						</tr>
						<tr>
							<td style="text-align:right;">
								<button type="button" title="<?php echo $this->__('Address book') ?>" class="button" <?php if ($canInvite)	{ ?>onclick="pInvitations.goToStep1();"<?php } ?>><span><span><?php echo $this->__('Address book') ?></span></span></button>
								<button type="button" title="<?php echo $this->__('Send Invitation') ?>" class="button <?php if ($canInvite)	{ ?>send-invitation<?php } ?>"><span><span><?php echo $this->__('Send Invitation') ?></span></span></button>
								<?php /*<img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif')?>" class="invitation-loader" />*/ ?>
							</td>
						</tr>
					</table>
				</form>
			</div>
			
			<?php if ($fbABook->isEnabled()) { ?>
					<a href="javascript: " class="invite-facebook-friends" id="fb2">
						<b><?php echo $this->__('INVITE YOUR FACEBOOK FRIENDS') ?></b>
					</a>
			<?php } ?>
			
			<?php if ($modelConfig->showReferralLink()) { ?>
			<div class="block ">
				<h3><?php echo $this->__('Share your invitation link') ?></h3>
				<div class="account-box ad-account-info box">
					<div class="referral-link">
                    	<input id="invitelink_text" readonly="readonly" type="text" onclick="this.select();" value="<?php echo $referralLink;?>">
					</div>
				</div>
				<div style="padding:10px 0 0 0px; position: relative;" class="clearfix cf">
					<div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $referralLink;?>" addthis:title="<?php echo $this->__('I just joined this store, here is an invite so you can join too.') ?>">
						<a class="addthis_button_facebook" title="Share on Facebook">
                        	<img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/fb-share.jpg');?>" alt="" />
                        </a>
                        <a class="addthis_button_twitter" title="Tweet This">
                        	<img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/tw-share.jpg');?>" alt="" />
                        </a>
					</div>
					<?php if ($canInvite) { ?>
					<script type="text/javascript">
						var addthis_config = {
						 ui_language			: "en",
						 data_track_clickback	: false,
						 data_track_addressbar	: false
						}
					</script>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
					<?php } ?>
				</div>
				
			</div>
			<?php } ?>
		</div>
	</div>
</div>
	<?php if ($customer)	 { ?>
	<div style="padding:10px;">
		<h2><?php echo $this->__('My Invitations') ?></h2>

		<button id="load-open-invitations" type="button" title="<?php echo $this->__('Open Invitations') ?>" class="button in-tab active btn-cart send-invitation"><span><span><?php echo $this->__('Open Invitations') ?></span></span></button>
		<button id="load-accepted-invitations" type="button" title="<?php echo $this->__('Accepted Invitations') ?>" class="button in-tab no-active btn-cart send-invitation"><span><span><?php echo $this->__('Accepted Invitations') ?></span></span></button>
		<img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif')?>" class="invitation-loader tabs-loader"/>

		<div id="invitations-lists">
			<?php  echo $this->getLayout()->createBlock('invitations/open')->setData('customerId', $this->getRequest()->getParam('customer')->getId())->toHtml(); ?>
		</div>
	</div>
	<?php } ?>
</div>

<div style="display:none">
	<div id="login-notification">
		<h3><?php echo $this->__('Please login to invite friends.') ?></h3>
		<button  style="width: 100px;" type="button" title="<?php echo $this->__('Go to login') ?>" class="button in-tab btn-cart" onclick="window.location='<?php echo $this->helper('customer')->getLoginUrl(); ?>';">
			<span><span><?php echo $this->__('Login') ?></span></span>
		</button>
		
	</div>	
</div>

<script type="text/javascript">
	pjQuery(document).ready(function(){
	
		<?php if (!$canInvite)	 { ?>
			if(typeof window.closePopupLogin == 'function') {
				closePopupLogin();
			}
			pjQuery('.right-side .over').height(pjQuery('.right-side').outerHeight()+30);
			pjQuery('.right-side .over, .right-side button, .right-side a').click(function(){
				if(typeof window.showPopupLogin == 'function') {
					return showPopupLogin();
				} else {
					pjQuery.fancybox({
						'href': '#login-notification',
						'titleShow': false,
						'speedIn': 600,
						'speedOut': 200,
						'overlayShow': true
					});
				}
			});
		<?php } ?>
		
		<?php if ($modelConfig->editInviteeText()) { ?>
		pjQuery('#invitation-message').keyup(function(e) {
			var tval = pjQuery(this).val(),
				tlength = tval.length,
				set = 500,
				remain = parseInt(set - tlength);
			pjQuery('#invitation-message-left-chars').html('('+remain+' characters left)');
			if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
				pjQuery(this).val((tval).substring(0, tlength - 1))
			}
		}).keyup();
		<?php } ?>
	
		pInvitations.setData({
			'urls' : {
				'step1'			: '<?php echo $this->getUrl('invitations/inviter/step1') ?>',
				'step2'			: '<?php echo $this->getUrl('invitations/inviter/step2') ?>',
				'step3'			: '<?php echo $this->getUrl('invitations/inviter/step3') ?>',

				'openInvitationsList'		: '<?php echo $this->getUrl('invitations/index/openInvitations') ?>',
				'acceptedInvitationsList'	: '<?php echo $this->getUrl('invitations/index/acceptedInvitations') ?>',
				'guestId'					: '<?php echo $this->getUrl('*/*/guestId') ?>'
			},
			'errorMsg' : {
				'emailOrPasswordMissing' : '<?php echo $this->__('Email or password missing!') ?>',
				'connectionError' : '<?php echo $this->__('Connection error please try later!') ?>'
			},
			'invitationsListAreaId' : 'plumrocket-ajax-load-area',
			'popupMessages'	: true
		});
		
		<?php if ($isGuestInvite) { ?>
			pInvitations.blockedShare = true;
		<?php } ?>
		
		pjQuery('#contact-list').tagsInput({
			'defaultText'	: '<?php echo $this->__('Add e-mail...') ?>',
			'width'			: 272,
			'height'		: 80,
			'staticHeight'	: true,
			'autosize'		: false,
			'email'			: true,
			'onRemoveTag'	: function(userName){
				pInvitations.removeFromContactList(userName)
			},
			'onAddTag'		: function(connectCode){
				pInvitations.addToContactList(connectCode);
				pjQuery('#contact-list_tagsinput').scrollTop(99999);
			}
		});
		
		contactListLiveaveTime = getTime();
		pjQuery('#contact-list_tagsinput').mouseleave(function(){
			var input = pjQuery('#contact-list_tag');
			if (input.hasClass('not_valid'))
			{
				var timeout = 600;
				setTimeout(function(){
					var t = getTime();
					if (t > contactListLiveaveTime + timeout)
					{
						contactListLiveaveTime = t;
						input.removeClass('not_valid').val('<?php echo $this->__('Add e-mail...') ?>').css('color', '#666666');
						pjQuery('#focus-input').focus();
					}
				}, timeout);			
			}
		});
		
		pjQuery('#contact-list_tagsinput').mouseenter(function(){
			contactListLiveaveTime = getTime();
		});
		
		pjQuery('#guest_email').blur(function(){
			var e	= pjQuery(this);
			var valid = pInvitations.validateSubmitContactList({'#guest_email' : false});
			if (valid){
				var id = pInvitations.getGuestId(e.val());
				if (id){
					pInvitations.unblockShare();
					pInvitations.updateReferralLink('g'+id);
					return;
				}
			}
			pInvitations.blockShare();
		})
		
		
		function getTime()
		{
			var d = new Date();
			return d.getTime();
		}
		
		pjQuery('#invite-friends-holder .send-invitation').click(function(){
			pInvitations.submitContactList();		
		});	
		pjQuery('#load-open-invitations').click(function(){
			pInvitations.getOpenInvitationsList()	
		});
		pjQuery('#load-accepted-invitations').click(function(){
			pInvitations.getAcceptedInvitationsList();	
		});
		pInvitations.changeInvitationsListPagerLinks(pInvitations.data.urls.openInvitationsList);
		
		INVITATIONS_REFERRAL_LINK = '<?php echo $referralLink ?>';
		
		<?php if ($canInvite) { ?>
			pjQuery('#invitelink_text, .addthis_toolbox img').click(function(event){
				if (pInvitations.isBlockedShare()){
					event.stopPropagation();
					return false;
				}
			});
		<?php } ?>
		
		<?php if ($canInvite && $fbABook->isEnabled()) { ?>
			pjQuery('.invite-facebook-friends').click(function(){
				
				if (pInvitations.isBlockedShare()) return false;
				
				var desc = pjQuery('#invitation-message').html();
				FB.init({appId: '<?php echo $fbABook->getSettingByKey('application_id') ?>', xfbml: true, cookie: true});
				FB.ui({
				  method: 'send',
				  name: '<?php echo $this->__('Visit %s', $this->getStoreName()) ?>',
				  link: INVITATIONS_REFERRAL_LINK,
				  description : desc,
				  picture : '<?php echo $this->getLogoUrl() ?>'
				});
			});
		<?php } ?>
	});
</script>
