<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
$other_lang = "<ul>";
?>
<?php
if (count($this->getStores()) > 1):
    foreach ($this->getStores() as $_lang):
        if ($_lang->getId() == $this->getCurrentStoreId()) {
            $sel_lang = '<span>' . $this->htmlEscape($_lang->getName()) . '</span>';
        } else {
            $other_lang .= '<li><a class="flag-icon '. $_lang->getCode() .' " href="' . $_lang->getCurrentUrl() . '">' . $this->htmlEscape($_lang->getName()) . '</a></li>';
        }
    endforeach;
    ?>
    <div class='country_list'>
        <div class="language"><!--  <span class="label">Language:</span> -->
        <?php echo $sel_lang;  ?></div>
        <div class="languages-list">
            <div class="cava-popup">
                <div class="small-arrow"><span><span></span></span></div>
                <ul>
                    <?php echo $other_lang; ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>

