<div class="buttons-set">
    <p class="back-link"><a href="javascript: history.go(-1)"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>

<div class="dashboard-block">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('my_account_dashboard')->toHtml(); ?>
</div>
<div class="col2-set">
    <div class="box none-border">
        <div class="box-title" style="margin-bottom: 6px;">
            <h3><?php echo $this->__('My Profile') ?></h3>
<!--            <a href="--><?php //echo $this->getAddressBookUrl() ?><!--">--><?php //echo $this->__('Manage Profile') ?><!--</a>-->
        </div>
    <p><?php echo $this->__('Below is your profile with') ?>
    <a href="<?php echo MAGE::getBaseUrl(); ?>"><?php echo $this->__('www.cava-bien.com');?></a>
    <?php echo $this->__('.To edit your personal information, simple click on') ?>
    <a href="<?php echo MAGE::getBaseUrl(); ?>customer/account/edit"><?php echo $this->__('Change Personal Info');?></a>
    <?php echo $this->__('or') ?>
    <a href="<?php echo MAGE::getBaseUrl(); ?>customer/account/edit"><?php echo $this->__('Change Size Info');?></a>
    <?php echo $this->__(', make changed and then click on the SUBMIT button below.') ?>
</p>

        <div class="box-content">
            <div class="col-1">
                <div class="box" style="min-height:185px">
                <h4><?php echo $this->__('My personal Info') ?>
                 <a class="right" href="<?php echo Mage::getBaseUrl();?>customer/account/edit"><?php echo $this->__('Change Person Info') ?></a></h4>
                <address>
                    <?php //echo $this->getPrimaryBillingAddressHtml() ?>
                    <?php
                    $customer = Mage::getSingleton('customer/session')->getCustomer();
                    $birthDay = date("d/m/Y", strtotime($customer['dob']));
                    ?>


                <table width="100%">
                    <tbody>
                        <tr><td width="33%"><b><?php echo $this->__('Name:');?></b></td>
                        	<td><?php echo $customer['firstname'].$customer['lastname']; ?></td>
                        	<td rowspan="7"><?php echo $this->__('Avatar :')?></br>
                        	<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA). 'customer/'.$customer['avatar']; ?>" width="100" height="100" />
                            </td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Member ID:');?></b></td>
                        	<td><?php echo $customer->getId(); ?></td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Email:');?></b></td>
                        	<td><?php echo $customer['email']; ?></td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Date of Birth:');?></b></td>
                        	<td><?php echo $birthDay;?>
                        	</td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Gender:');?></b></td>
                        	<td>
                                <?php
                                 if($customer['gender'] == 1){
                                     echo 'Male';
                                 }
                                 if($customer['gender'] == 2){
                                     echo 'Female';
                                 }
                                ?>
                            </td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('User Since:');?></b></td>
                        	<td><?php echo date('F Y', strtotime($customer['created_at'])); ?></td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Password:');?></b></td>
                        	<td><?php echo "********"; ?></td>
                       	</tr>
                    </tbody>
                </table>
                </address>
            </div>
        </div>
            <div class="col-2">
                <div class="box" style="min-height:185px">
                <h4><?php echo $this->__('My Measurement Info ') ?>  <a class="right" href="<?php echo Mage::getBaseUrl();?>customer/account/edit"><?php echo $this->__('Change Size Info') ?></a></h4>
                <address>
                	<?php
// $customer['customer_height_ft'] la option_id cua attribute customer_height_ft
$customerResource = Mage::getModel('customer/customer')->getResource();
$height_ft = $customerResource->getAttribute("customer_height_ft")->getSource()->getOptionText($customer['customer_height_ft']);
$height_inches = $customerResource->getAttribute("customer_height_inches")->getSource()->getOptionText($customer['customer_height_inches']);
$bust = $customerResource->getAttribute("customer_bust")->getSource()->getOptionText($customer['customer_bust']);
$waist = $customerResource->getAttribute("customer_waist")->getSource()->getOptionText($customer['customer_waist']);
$hips = $customerResource->getAttribute("customer_hips")->getSource()->getOptionText($customer['customer_hips']);
$bra_size_band = $customerResource->getAttribute("customer_bra_size_band")->getSource()->getOptionText($customer['customer_bra_size_band']);
$bra_size_cup = $customerResource->getAttribute("customer_bra_size_cup")->getSource()->getOptionText($customer['customer_bra_size_cup']);
$shoe_size = $customerResource->getAttribute("customer_shoe_size")->getSource()->getOptionText($customer['customer_shoe_size']);
$shoe_width = $customerResource->getAttribute("customer_shoe_width")->getSource()->getOptionText($customer['customer_shoe_width']);
$dress_size = $customerResource->getAttribute("customer_dress_size")->getSource()->getOptionText($customer['customer_dress_size']);
?>
                <table width="100%">
                    <tbody>
                        <tr><td width="33%"><b><?php echo $this->__('Height:');?></b></td>
                        	<td><?php echo $height_ft; ?></td>
                        	<td rowspan="7">&nbsp;</td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Bust:');?></b></td>
                        	<td><?php echo $bust; ?></td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Waist:');?></b></td>
                        	<td><?php echo $waist; ?></td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Hips:');?></b></td>
                        	<td><?php echo $hips;?>
                        	</td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Bra Size:');?></b></td>
                        	<td><?php echo $bra_size_band.'/'.$bra_size_cup; ?></td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Shoe Size:');?></b></td>
                        	<td><?php echo $shoe_size.'/'.$shoe_width; ?></td>
                       	</tr>
                       	<tr><td width="33%"><b><?php echo $this->__('Dress Size:');?></b></td>
                        	<td><?php echo $dress_size; ?></td>
                       	</tr>
                    </tbody>
                </table>
                </address>
            </div></div>
        </div>
    </div>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
