<div class="buttons-set">
    <p class="back-link"><a href="javascript: history.go(-1)"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
<div class="page-title">
<h1><?php echo $this->__('RESTOCK NOTIFICATION'); ?></h1>
</div>
<?php
$customer = Mage::getSingleton('customer/session')->getCustomer();
$cusId = $customer->getId();
$email_customer = $customer['email'];
$notifyModel = Mage::getModel('cavabien_notify/notify');
$notify = $notifyModel->getCollection()->addFieldToFilter('customer_email',$email_customer);
?>
<table class="data-table" id="wishlist-table">
    <thead>
    <tr>
        <th><input type="checkbox" name="checkall"></th>
        <th><!-- image --></th>
        <th><?php echo $this->__('PRODUCT DETAIL'); ?></th>
        <th><!-- sku, instock --></th>
        <th><?php echo $this->__('PRICE'); ?></th>
        <th><?php echo $this->__('ADD TO CART'); ?></th>
    </tr>
    </thead>
    <tbody>
<?php
foreach($notify as $row)
{
    $data = $row->getData();
    $product = Mage::getModel('catalog/product')->load($data['product_id']);
?>
    <tr>
        <td><input type="checkbox" name="notification[]"></td>
        <td><!-- image -->
            <a href="<?php echo $product->getProductUrl(); ?>">
                <img class="product_image" src="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(100, 150); ?>" alt="notification_image"/>
            </a>
        </td>
<td><!-- product details -->

    <h3 class="product-name">
        <a href="<?php echo $product->getProductUrl() ?>"
           title="<?php echo $this->escapeHtml($product->getName()) ?>">
        <?php echo $this->escapeHtml($product->getName()) ?></a>
    </h3>

    <div class="description std">
    <?php if ($product->getAttributeText('length')){ ?>
        <div class="inner">
            <label><?php echo $this->__('Length: '); ?></label><span><?php echo $this->escapeHtml($this->stripTags($product->getAttributeText('length'))); ?></span>
        </div>
    <?php } ?>

    <?php if ($product->getAttributeText('color')){ ?>
        <div class="inner">
            <label><?php echo $this->__('Color: '); ?></label><span><?php echo $this->escapeHtml($this->stripTags($product->getAttributeText('color'))); ?></span>
        </div>
    <?php } ?>

    <?php if ($product->getAttributeText('size')){ ?>
        <div class="inner">
            <label><?php echo $this->__('Size: '); ?></label><span><?php echo $this->escapeHtml($this->stripTags($product->getAttributeText('size'))); ?></span>
        </div>
    <?php } ?>

 <?php
    $qty = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($product->getId())->getQty();
    if ($qty < 10 && $qty > 0): ?>
            <div class="onlyleft"><?php echo $this->__('Only %s left!', $qty) ?></div>
        <?php endif ?>
    </div>
<?php
$loveIt = Mage::getModel('catalog/product')->load($product->getId())->getLoveIt();
if ($loveIt):
    ?>
    <div class="love-it">
        <span><?php echo $this->__('%s people love this!', number_format($loveIt)) ?></span>
    </div>
<?php endif; ?>

</td><!-- product details -->

<td>
    <!--  sku, instock -->
    <?php echo $product->getSku(); ?>
    <?php
    $stockItem = $product->getStockItem();
    if($stockItem->getIsInStock())
    {
         echo $this->__('in stock');
    }
    else
    {
        echo $this->__('out stock');
    }
    ?>

</td>

<td>
    <!-- price -->
    <div class="wishlist-price">
        <div class="original-price">
            <?php echo Mage::helper('core')->currency($product->getFinalPrice(), true, false); ?>
        </div>

        <?php  if ($product->getPrice() != $product->getFinalPrice()): ?>
            <div class="retail-price">
                <?php  echo Mage::helper('core')->currency($product->getPrice(), true, false);  ?>
            </div>
            <div class="off-price">
                <?php $discountValue = (($product->getPrice() - $product->getFinalPrice()) / $product->getPrice()) * 100;?>
                <?php echo ceil($discountValue) ; echo $this->__('% OFF') ?>
            </div>
        <?php endif; ?>
    </div>
</td>

<td>
<div class="cart-cell">
    <!-- is saleable ? -->
    <?php if ($product->isSaleable()): ?>
        <a href="<?php echo $this->helper('checkout/cart')->getAddUrl($product);?>" type="button" class="button btn-cart">
            <span><span><?php echo $this->__('SHOP NOW') ?></span></span>
        </a>

    <?php endif; ?>

    <p>
    <?php if ($product->isVisibleInSiteVisibility()): ?>
        <a class="link-edit" href="<?php echo $product->getProductUrl(); ?>">
            <?php echo $this->__('Edit') ?></a>
    <?php endif ?>
    <a href="<?php echo Mage::getBaseUrl(); ?>cavabien/myaccount/deletenotification/id/<?php echo $product->getId(); ?>/email/<?php echo $email_customer; ?> "
    onclick="return confirmRemoveNotifyItem();"
       title="<?php echo $this->__('Remove Item') ?>"
       class="btn-remove btn-remove2"><?php echo $this->__('Remove item'); ?></a>
    </p>

    <p>
        <?php
        $session = Mage::getSingleton('customer/session', array('name' => 'frontend'));
        if ($session->isLoggedIn() && Mage::helper('cavabien_loveit')->isLoveitExist($product->getId(), $cusId)):
            $love = 'style="display: inline-block"';
            $unlove = 'style="display: none"';
        else:
            $love = 'style="display: none"';
            $unlove = 'style="display: inline-block"';
        endif
        ?>
        <a class="un-love" href="JavaScript:void(0)" <?php echo $love ?>
           onclick="return UnloveItem(<?php echo $cusId.', '.$product->getId(); ?>, this);"><?php echo $this->__('unlove') ?></a>
        <a class="loveit" href="JavaScript:void(0)" <?php echo $unlove ?>
           onclick="LoveItem(<?php echo $cusId.', '.$product->getId(); ?>, this);"><?php echo $this->__('Love It') ?></a>
    </p>
</div>
</td>
</tr>

<?php
}// end notify instock
?>
</tbody>
</table>

<div class="page-title">
    <h1><?php echo $this->__('REVIEW NOTIFICATION'); ?></h1>
</div>

<table class="data-table" id="wishlist-table">
    <thead>
    <tr>
        <th><input type="checkbox" name="checkall"></th>
        <th><!-- image --></th>
        <th><?php echo $this->__('PRODUCT DETAIL'); ?></th>
        <th><!-- sku, instock --></th>
        <th><?php echo $this->__('PRICE'); ?></th>
        <th><?php echo $this->__('ADD TO CART'); ?></th>
    </tr>
    </thead>
    <tbody>
<?php
$notifyReview = Mage::getModel('cavabien_notify/reviewnotify');
$notifyData = $notifyModel->getCollection()->addFieldToFilter('customer_email',$email_customer);

foreach($notifyData as $rowData)
{
    $dataNotifyReview = $rowData->getData();
    $productNotifyReview = Mage::getModel('catalog/product')->load($dataNotifyReview['product_id']);
?>

    <tr>
        <td><input type="checkbox" name="notification[]"></td>
        <td><!-- image -->
            <a href="<?php echo $productNotifyReview->getProductUrl(); ?>">
                <img class="product_image" src="<?php echo Mage::helper('catalog/image')->init($productNotifyReview, 'image')->resize(100, 150); ?>" alt="notification_image"/>
            </a>
        </td>
        <td><!-- product details -->

            <h3 class="product-name">
                <a href="<?php echo $productNotifyReview->getProductUrl() ?>"
                   title="<?php echo $this->escapeHtml($productNotifyReview->getName()) ?>">
                    <?php echo $this->escapeHtml($productNotifyReview->getName()) ?></a>
            </h3>

            <div class="description std">
                <?php if ($productNotifyReview->getAttributeText('length')){ ?>
                    <div class="inner">
                        <label><?php echo $this->__('Length: '); ?></label><span><?php echo $this->escapeHtml($this->stripTags($productNotifyReview->getAttributeText('length'))); ?></span>
                    </div>
                <?php } ?>

                <?php if ($productNotifyReview->getAttributeText('color')){ ?>
                    <div class="inner">
                        <label><?php echo $this->__('Color: '); ?></label><span><?php echo $this->escapeHtml($this->stripTags($productNotifyReview->getAttributeText('color'))); ?></span>
                    </div>
                <?php } ?>

                <?php if ($productNotifyReview->getAttributeText('size')){ ?>
                    <div class="inner">
                        <label><?php echo $this->__('Size: '); ?></label><span><?php echo $this->escapeHtml($this->stripTags($productNotifyReview->getAttributeText('size'))); ?></span>
                    </div>
                <?php } ?>
                 <?php
            $qty = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($productNotifyReview->getId())->getQty();
                 if ($qty < 10 && $qty > 0): ?>
                <div class="onlyleft"><?php echo $this->__('Only %s left!', $qty) ?></div>
            <?php endif ?>
            </div>

           

            <?php
            $loveIt = Mage::getModel('catalog/product')->load($productNotifyReview->getId())->getLoveIt();
            if ($loveIt):
                ?>
                <div class="love-it">
                    <span><?php echo $this->__('%s people love this!', number_format($loveIt)) ?></span>
                </div>
            <?php endif; ?>

        </td><!-- product details -->

        <td>
            <!--  sku, instock -->
            <?php echo $productNotifyReview->getSku(); ?>
            <?php
            $stockItem = $productNotifyReview->getStockItem();
            if($stockItem->getIsInStock())
            {
                echo $this->__('in stock');
            }
            else
            {
                echo $this->__('out stock');
            }
            ?>

        </td>

        <td>
            <!-- price -->
            <div class="wishlist-price">
                <div class="original-price">
                    <?php echo Mage::helper('core')->currency($productNotifyReview->getFinalPrice(), true, false); ?>
                </div>

                <?php  if ($productNotifyReview->getPrice() != $productNotifyReview->getFinalPrice()): ?>
                    <div class="retail-price">
                        <?php  echo Mage::helper('core')->currency($productNotifyReview->getPrice(), true, false);  ?>
                    </div>
                    <div class="off-price">
                        <?php $discountValue = (($product->getPrice() - $productNotifyReview->getFinalPrice()) / $productNotifyReview->getPrice()) * 100;?>
                        <?php echo ceil($discountValue) ; echo $this->__('% OFF') ?>
                    </div>
                <?php endif; ?>
            </div>
        </td>

        <td>
            <div class="cart-cell">
                <!-- is saleable ? -->
                <?php if ($productNotifyReview->isSaleable()): ?>
                    <a href="<?php echo $this->helper('checkout/cart')->getAddUrl($productNotifyReview);?>" type="button" class="button btn-cart">
                        <span><span><?php echo $this->__('SHOP NOW') ?></span></span>
                    </a>

                <?php endif; ?>

                <p>
                    <?php if ($productNotifyReview->isVisibleInSiteVisibility()): ?>
                        <a class="link-edit" href="<?php echo $productNotifyReview->getProductUrl(); ?>">
                            <?php echo $this->__('Edit') ?></a>
                    <?php endif ?>
                    <a href="<?php echo Mage::getBaseUrl(); ?>cavabien/myaccount/deletenotification/id/<?php echo $productNotifyReview->getId(); ?>/email/<?php echo $email_customer; ?> "
                       onclick="return confirmRemoveNotifyItem();"
                       title="<?php echo $this->__('Remove Item') ?>"
                       class="btn-remove btn-remove2"><?php echo $this->__('Remove item'); ?></a>
                </p>

                <p>
                    <?php
                    $session = Mage::getSingleton('customer/session', array('name' => 'frontend'));
                    if ($session->isLoggedIn() && Mage::helper('cavabien_loveit')->isLoveitExist($productNotifyReview->getId(), $cusId)):
                        $love = 'style="display: inline-block"';
                        $unlove = 'style="display: none"';
                    else:
                        $love = 'style="display: none"';
                        $unlove = 'style="display: inline-block"';
                    endif
                    ?>
                    <a class="un-love" href="JavaScript:void(0)" <?php echo $love ?>
                       onclick="return UnloveItem(<?php echo $cusId.', '.$productNotifyReview->getId(); ?>, this);"><?php echo $this->__('unlove') ?></a>
                    <a class="loveit" href="JavaScript:void(0)" <?php echo $unlove ?>
                       onclick="LoveItem(<?php echo $cusId.', '.$productNotifyReview->getId(); ?>, this);"><?php echo $this->__('Love It') ?></a>
                </p>
            </div>
        </td>
    </tr>

<?php
}//end notify review
?>
</tbody>
</table>

<script>

    function confirmRemoveNotifyItem() {
        return confirm('<?php echo $this->__('Are you sure you want to remove this product from your Notification list?') ?>');
    }

    function UnloveItem(customerId, proid, unlove) {
        var del = confirm("Are you sure you want to unloved this?");
        if (del) {
            jQuery.ajax({
                url: "<?php echo Mage::getUrl('loveit/index/ajaxUnLoveit') ?>",
                type: "POST",
                data: {customerId: customerId, productId: proid },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        jQuery(unlove).closest('tr').find('div.love-it').html('<span>' + (data.success) + '<?php echo $this->__(' people love this!'); ?></span>');
                        jQuery(unlove).closest('p').find('a.loveit').show();
                        jQuery(unlove).hide();
                    }
                }
            });
        }
        return del;
    }

    function LoveItem(customerId, proid, love) {
        jQuery.ajax({
            url: "<?php echo Mage::getUrl('loveit/index/ajaxSaveLoveit') ?>",
            type: "POST",
            data: {customerId: customerId, productId: proid },
            dataType: "json",
            beforeSend: function () {
                jQuery('#imgloveit').show();
            },
            success: function (data) {
                if (data.success) {
                    jQuery(love).closest('tr').find('div.love-it').html('<span>' + (data.success) + '<?php echo $this->__(' people love this!'); ?></span>');
                    jQuery(love).closest('p').find('a.un-love').show();
                    jQuery(love).hide();
                }
            }
        });
    }

</script>