<?php
/**
 * @project     SocialLogin
 * @package     LitExtension_SocialLogin
 * @author      LitExtension
 * @email       litextension@gmail.com
 */
?>
<?php
$check_show_social = Mage::helper('le_sociallogin')->checkShowSociallogin();
if ($check_show_social == true && Mage::getSingleton('customer/session')->IsLoggedIn() == false):
    ?>
    <link type="text/css" rel="stylesheet" media="screen"
          href="<?php echo $this->getSkinUrl('le_sociallogin/css/style.css'); ?>"/>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('le_sociallogin/js/sociallogin.js'); ?>"></script>
    <div class="le-socialconnect-social">
        <div class="account-login">
            <div class="content" style="text-align: center;">
                <p><b><?php echo $this->__('Social Log In') ?></b></p>

                <div class="le-social-button-login">
                    <?php
                    if ($this->getButtons()):
                        ?>
                        <ul class="social-button-login-slide">
                            <?php
                            foreach ($this->getButtons() as $button) {
                                $buttonRender = trim($button->render());
                                if ($buttonRender) echo "<li>" . $buttonRender . "</li>";
                            }
                            ?>
                        </ul>
                    <?php endif; ?>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
     <div class="clear"></div>
    </div>

    <?php
    if (Mage::getSingleton('core/design_package')->getTheme('frontend') == 'iphone') {
        ?>
        <style type="text/css">
            .le-social-button-login .le-icon-social {
                float: left;
            }
        </style>
    <?php } ?>
<?php endif; ?>

<script>
    var leSocialButtonLoginSlider = jQuery("#my-test").bxSlider({
        slideWidth: 15,
        minSlides: 3,
        maxSlides: 3,
        moveSlides: 1,
        slideMargin: 12,
        pager: false
    });
</script>