<div class="account-login">
    <div class="page-title">
        <h1><?php echo $this->__('Login or Create an Account') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra') ?>

    <div class="col2-set">
        <div class="col-1 registered-users">
            <div class="content-login">
                <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
                    <?php echo $this->getBlockHtml('formkey'); ?>

                    <h2><?php echo $this->__('Registered Customers') ?></h2>
                    <ul class="form-list">
                        <li>
                            <label for="email"
                                   class="required login-label"><em>*</em><?php echo $this->__('Email Address') ?>
                            </label>

                            <div class="input-box">
                                <input type="text" name="login[username]"
                                       value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email_login"
                                       class="input-text required-entry validate-email"
                                       title="<?php echo $this->__('Email Address') ?>"/>
                            </div>
                        </li>
                     
                        <li>
                            <label for="pass" class="required login-label"><em>*</em><?php echo $this->__('Password') ?>
                            </label>
                            

                            <div class="input-box">
                                <input type="password" name="login[password]"
                                       class="input-text required-entry validate-password" id="pass"
                                       title="<?php echo $this->__('Password') ?>"/>
                            </div>
                        </li>
                           <li>
                            <label for="">&nbsp;</label>

                            <div class="fpasscheck">
                            <span class=="left"><input type="checkbox" name="remember" value="1"
                                    /><?php echo $this->__('Remember me') ?></span>
                            <span class="right"> <a href="<?php echo $this->getForgotPasswordUrl() ?>"
                                                    class="f-left"><u><?php echo $this->__('forgot Password?') ?></u></a></span>
                            </div>
                        </li>
                        <li>
                            <div class="button-right right">
                                <button type="submit" class="button" title="<?php echo $this->__('Sign In') ?>"
                                        name="send" id="send2"><span><span><?php echo $this->__('Sign In') ?>&nbsp;<i
                                                class="fa fa-caret-right"></i></span></span></button>
                            </div>
                        </li>
                    </ul>
                </form>
                <label for="">&nbsp;</label><span class="left">
                        <?php echo $this->getChildHtml('social_login_button'); ?>
                            </span>
                <script type="text/javascript">
                    //<![CDATA[
                    var dataForm_login = new VarienForm('login-form', true);
                    //]]>
                </script>
            </div>
            <!-- end .content -->
        </div>
        <!-- end .col1-->

