<?php
$dataCustomerRegister = Mage::getSingleton('core/session')->getCustomerDataSession();
//print_r($dataCustomerRegister);
$firstName = isset($dataCustomerRegister['firstname']) ? $dataCustomerRegister['firstname'] : '';
$lastname = isset($dataCustomerRegister['lastname']) ? $dataCustomerRegister['lastname'] : '';
$email = isset($dataCustomerRegister['email']) ? $dataCustomerRegister['email'] : '';
$password = isset($dataCustomerRegister['password']) ? $dataCustomerRegister['password'] : '';
$customerSecurityQuestion = isset($dataCustomerRegister['customer_security_question']) ? $dataCustomerRegister['customer_security_question'] : '';
$customerSecurityAnswer = isset($dataCustomerRegister['customer_security_answer']) ? $dataCustomerRegister['customer_security_answer'] : '';
$birthMonth = isset($dataCustomerRegister['customer_birth_month']) ? $dataCustomerRegister['customer_birth_month'] : '';
$birthDate = isset($dataCustomerRegister['customer_birth_date']) ? $dataCustomerRegister['customer_birth_date'] : '';
$birthYear = isset($dataCustomerRegister['customer_birth_year']) ? $dataCustomerRegister['customer_birth_year'] : '';
?>

<div class="col-2 new-users">
    <div class="content-register">

        <h2><?php echo $this->__('New Customers') ?></h2>

        <form action="<?php echo Mage::getBaseUrl(); ?>cavabien/index/create" method="post" id="form-validate">
            <!--  <form action="-->
            <?php //echo $this->getUrl('customer/account/editPost'); ?><!--" method="post" id="form-validate">-->

            <div class="left">
                <ul class="form-list">
                    <li>
                        <label for="firstname" class="required"><em>*</em><?php echo $this->__('First Name :') ?>
                        </label>

                        <div class="input-box">
                            <input type="text" id="firstname" name="firstname"
                                   class="input-text required-entry" <?php echo $firstName ? 'value=' . $firstName : ''; ?> />
                        </div>
                    </li>
                    <li>
                        <label for="lastname" class="required"><em>*</em><?php echo $this->__('Last Name : '); ?>
                        </label>

                        <div class="input-box">
                            <input type="text" id="lastname" name="lastname"
                                   class="input-text required-entry" <?php echo $lastname ? 'value=' . $lastname : ''; ?> />
                        </div>
                    </li>
                    <li>
                        <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>

                        <div class="input-box">
                            <input type="text" name="email" id="email"
                                   class="input-text required-entry validate-email" <?php echo $email ? 'value=' . $email : ''; ?> />
                        </div>
                    </li>
                    <li>
                        <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?>
                        </label>

                        <div class="input-box"><input type="password" name="password" id="password"
                                                      class="input-text required-entry validate-password" <?php echo $password ? 'value=' . $password : ''; ?> />
                        </div>
                    </li>
                    <li><label for="password2" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?>
                        </label>

                        <div class="input-box">
                            <input type="password" id="password2" class="input-text validate-both-passwords"
                                   placeholder="Password needs to have at least 8 characters long"/>
                        </div>
                    </li>
                    <p id="validate-status"></p>
                    <?php
                    $attributeSecurityQuestion = Mage::getResourceModel('eav/entity_attribute_collection');
                    $attributeInfoSecurityQuestion = $attributeSecurityQuestion->setCodeFilter('customer_security_question')
                        ->getFirstItem();
                    $attributeOptionsSecurityQuestion = '';
                    try {
                        $attributeOptionsSecurityQuestion = $attributeInfoSecurityQuestion->getSource()->getAllOptions(false);
                    } catch(Exception $e) {}
                    ?>
                    <li>
                        <label for="customer_security_question"
                               class="required"> <?php echo $this->__('*Security Question  ') ?></label>

                        <div class="input-box">
                            <select id="customer_security_question" class="validate-select"
                                    name="customer_security_question">
                                <?php foreach ($attributeOptionsSecurityQuestion as $option): ?>
                                    <option
                                        value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $customerSecurityQuestion) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                <?php endforeach; ?>
                            </select></div>
                    </li>
                    <li><label for="customer_security_answer" class="required">
                            <?php echo $this->__('*Answer ') ?></label>

                        <div class="input-box"><input type="text" name="customer_security_answer"
                                                      class="input-text required-entry" id="customer_security_answer"
                                                      value="<?php echo $customerSecurityAnswer; ?>"/></div>
                    </li>

                    <li class="beauty-insider">
                        <h3><?php echo $this->__("Become a beauty insider") ?></h3>

                        <p><em>Join our free rewards program for free deluxe samples, birthday
                                gifts and more.</em></p>

                        <div class="birth-date">
                            <?php echo $this->getLayout()->createBlock('customer/widget_dob')->toHtml(); ?>

                        </div>
                    </li>

                    <li class="control">
                        <div class="input-box">
                            <input type="checkbox" id="privacy_policy" name="privacy_policy" value="1"
                                   title="<?php echo $this->__('Accept the privacy policy') ?>"
                                   class="checkbox required-entry">

                            <label for="is_subscribed"><?php echo $this->__('Join and agree to') ?> (<a
                                    href="<?php echo Mage::helper('cms/page')->getPageUrl(6) ?>"><u><?php echo $this->__('Term & Condition'); ?></u></a>)</label>

                            <p><em>Join now and automatically receive Special Offers via e-mail</em></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right">
                <?php echo $this->getChildHtml('customer.sign.up.static'); ?>
            </div>
            <div class="clear"></div>
            <div class="bottom form-list">
                <?php if ($this->isNewsletterEnabled()): ?>
                    <div class="subcribe-login control">
                        <h3><?php echo $this->__('STAY-IN-THE-KNOW'); ?></h3>

                        <div class="f-left">
                            <div class="input-box">
                                <input type="checkbox" name="is_subscribed"
                                       title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1"
                                       id="is_subscribed"<?php if ($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?>
                                       class="checkbox"/>
                            </div>
                            <label
                                for="is_subscribed"><?php echo $this->__('Subscribe to Cava Bien Fashion emails') ?></label>
                            <?php /* Extensions placeholder */ ?>
                            <?php echo $this->getChildHtml('customer.form.register.newsletter') ?>
                        </div>
                        <div class="f-right">

                            <div class="button-right">
                                <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button">
                                    <span><span><?php echo $this->__('Join Now') ?>&nbsp;<i
                                                class="fa fa-caret-right"></i></span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                <?php endif ?>


            </div>

        </form>
        <?php echo $this->getChildHtml('social_login_button'); ?>
        <script type="text/javascript">
            //<![CDATA[
            var dataForm_register = new VarienForm('form-validate', true);
                    Validation.add('validate-password', 'Please enter 8 or more characters. Leading or trailing spaces will be ignored.', function(v) {
                        var pass=v.strip(); /*strip leading and trailing spaces*/
                        return !(pass.length>0 && pass.length < 8);
                    });
            //]]>

        </script>

    </div>
    <!-- end .content -->
</div><!-- end .col-2 new-users -->

</div><!-- end .col2-set -->
<div class="col2-set">
   <div class="col-1">
      <p><img src="<?php echo $this->getSkinUrl('images/login-footer-1.png') ?>" alt="Welcome back free gift awaits you"/></p>
   </div>
    <div class="col-2">
        <div class="bottom-banner a-center">
        <img src="<?php echo $this->getSkinUrl('images/bottombanner.png');?>"/>
    </div>
    </div>

</div>
</div><!-- end .account-login -->