<?php
/** @var $this Cavabien_SametimeBought_Block_List */
$currentProductId = Mage::registry('current_product')->getId();
$sametimeBoughtProducts = $this->getSametimeBoughtList(array($currentProductId));
$themHelper = Mage::helper('cavabien_theme');
$blockId = 'customer-also-bought';

/** @var $coreHelper Mage_Core_Helper_Data */
$coreHelper = Mage::helper('core');
?>

<?php if (count($sametimeBoughtProducts)): ?>
<div class="products-grid customers-also-bought">
	<div class="customers-also-bought-slider">
		<?php foreach ($sametimeBoughtProducts as $product): ?>
		<div class="item">
			<form action="<?php echo Mage::getBaseUrl() ?>checkout/cart/add" method="post" id="product_<?php echo $product->getId() ?>_addtocart_form"<?php if($product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
				<div class="no-display">
					<input type="hidden" name="product" value="<?php echo $product->getId() ?>" />
					<input type="hidden" name="qty" id="qty<?php echo $blockId ?>" maxlength="12" value="1" title="<?php echo $this->__('Quantity') ?>" class="input-text qty"/>
				</div>
				<?php echo $this->getBlockHtml('formkey') ?>
				<a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>" class="product-image">
					<img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(150) ?>" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
				</a>
				<p class="product-name">
					<a href="<?php echo $product->getProductUrl() ?>"><?php echo $this->escapeHtml($product->getName()) ?></a>
				</p>
				
				<!-- Product short description -->
				<?php $shortDesc = $product->getShortDescription(); ?>
				<?php if (!empty($shortDesc)): ?>
				<p class="description">
					<?php echo $this->escapeHtml($shortDesc); ?>
				</p>
				<?php endif; ?>
				
				<?php if ($product->isConfigurable()): ?>
					<?php echo $themHelper->getProductOptionsBlock($product, $blockId) ?>
				<?php endif; ?>
				<!-- Price box -->
				<div class="price-block">
					<?php if ($product->getMsrp()): ?>
					<p class="wrap-retail-price">
						<?php echo $this->__('Retail: '); ?>
						<span class="retail-price"><?php echo  $coreHelper->currency($product->getMsrp(),true, false) ?></span>
					</p>
					<?php endif; ?>
					<?php if ($product->getPrice()): ?>
					<p class="wrap-regular-price">
						<?php echo $this->__('Our Price: '); ?>
						<span class="regular-price"><?php echo $coreHelper->currency($product->getPrice(), true, false); ?></span>
					</p>
					<?php endif; ?>
				</div>
				
				<?php if ($product->isSaleable()): ?>
				<button type="submit" title="<?php echo $this->__('Shop Now') ?>" class="button btn-cart"><span><span><?php echo $this->__('Shop Now') ?></span></span></button>
				<?php else: ?>
				<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
				<?php endif; ?>
			</form>
		</div>
		<?php endforeach; ?>
	</div>
	<div id="pager_customer_also_bought"></div>
</div>
<?php endif; ?>
