<?php
    /** @var $this Mage_Reports_Block_Product_Viewed */
    /** @var $themHelper Cavabien_Theme_Helper_Data */
    $themHelper = Mage::helper('cavabien_theme');
?>
<?php if ($_products = $this->getRecentlyViewedProducts()): ?>
<div class="block block-list">
    <div class="block-content products-grid">
        <?php $blockId = 'recently-viewed' ?>
        <div class="recently-viewed-slider">
            <?php foreach ($_products as $_product): ?>
                <div class="item">
                    <div class="bl-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(150) ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" />
                        <a class="various fancybox.ajax button pro-quick-view" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId())) ?>">QUICK VIEW</a>
                    </div>
                    <form action="<?php echo Mage::getBaseUrl() ?>checkout/cart/add/" method="post" id="product_<?php echo $_product->getId() ?>_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                        <div class="no-display">
                            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                        </div>
                        <?php echo $this->getBlockHtml('formkey') ?>
                        <?php if ($_product->isConfigurable()): ?>
                            <?php echo $themHelper->getProductOptionsBlock($_product, $blockId) ?>
                        <?php endif; ?>
                        <p class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></p>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <?php $productStatus = Mage::helper('amconf')->getProductStatus($_product);?>
                        <input type="hidden" name="qty" id="qty<?php echo $blockId ?>" maxlength="12" value="1" title="<?php echo $this->__('Quantity') ?>" class="input-text qty"/>
                        <?php if ($_product->isSaleable()): ?>
                            <button type="submit" title="<?php echo $this->__('Shop Now') ?>" class="button btn-cart"><span><span><?php echo $this->__('Shop Now') ?></span></span></button>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <button type="submit" title="<?php echo $this->__('Pre-order Now') ?>" class="button btn-cart"><span><span><?php echo $this->__('Pre-order Now') ?></span></span></button>
                        <?php endif; ?>
                    </form>

                <!-- SonNV Comment to test-->
<!--                --><?php //echo $themHelper->getAddToCartButtonHtml($_product, $blockId) ?>
                <!-- End Comment to test-->
                    <script type="text/javascript">
                        var productAddToCartForm = new VarienForm('product_<?php echo $_product->getId() ?>_addtocart_form');
                        productAddToCartForm.submit = function(button, url) {
                            if (this.validator.validate()) {
                                var form = this.form;
                                var oldUrl = form.action;

                                if (url) {
                                    form.action = url;
                                }
                                var e = null;
                                try {
                                    this.form.submit();
                                } catch (e) {
                                }
                                this.form.action = oldUrl;
                                if (e) {
                                    throw e;
                                }

                                if (button && button != 'undefined') {
                                    button.disabled = true;
                                }
                            }
                        }.bind(productAddToCartForm);

                        productAddToCartForm.submitLight = function(button, url){
                            if(this.validator) {
                                var nv = Validation.methods;
                                delete Validation.methods['required-entry'];
                                delete Validation.methods['validate-one-required'];
                                delete Validation.methods['validate-one-required-by-name'];
                                // Remove custom datetime validators
                                for (var methodName in Validation.methods) {
                                    if (methodName.match(/^validate-datetime-.*/i)) {
                                        delete Validation.methods[methodName];
                                    }
                                }

                                if (this.validator.validate()) {
                                    if (url) {
                                        this.form.action = url;
                                    }
                                    this.form.submit();
                                }
                                Object.extend(Validation.methods, nv);
                            }
                        }.bind(productAddToCartForm);
                    </script>
                </div>
        <?php endforeach; ?>
        </div>
    </div>
</div>
<?php endif; ?>



<script type="text/javascript">
    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 600,
        height: 510,
        autoSize: true,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'
    });
</script>
