<?php
$currentProduct = Mage::registry('current_product');
$customerName = Mage::getSingleton('customer/session')->getCustomer()->getName();
$colectionStylegallery =  Mage::getModel('cavabien_stylegallery/stylegallery')->getCollection()
    ->addFieldToFilter('product_id', array('eq' => $currentProduct->getId()))
    ->addFieldToFilter('enable', array('eq' => 1));
if (count($colectionStylegallery)): ?>
<div class="products-grid style-gallery">
    <div class="style-gallery-slider">
        <?php foreach ($colectionStylegallery as $style): ?>
        <div class="item">
					<div class="item-inner">
            <div class="bl-image">
                <?php
                // actual path of image
                $imageUrl = Mage::getBaseDir('media').DS.'stylegallery'.DS.$style['image'];
                // path of the resized image to be saved
                // here, the resized image is saved in media/resized folder
                $imageResized = Mage::getBaseDir('media').DS."stylegallery".DS."resized".DS.$style['image'];
                $directory = dirname($imageResized);

                if (!file_exists($directory) || !is_dir($directory)) {
                    if (!@mkdir($directory, 0777, true))
                        return null;
                }
                // resize image only if the image file exists and the resized image file doesn't exist
                // the image is resized proportionally with the width/height 135px
                if (!file_exists($imageResized)&&file_exists($imageUrl)) :
                    $imageObj = new Varien_Image($imageUrl);
                    $imageObj->constrainOnly(TRUE);
                    $imageObj->keepAspectRatio(TRUE);
                    $imageObj->keepTransparency(TRUE);
                    $imageObj->keepFrame(FALSE);
                    $imageObj->resize(160, 200);
                    $imageObj->save($imageResized);
                endif;

                ?>
                <img src="<?php echo Mage::getBaseUrl('media').'stylegallery/resized/'.$style['image']?>" />
                <a class="various fancybox.ajax button pro-quick-view" href="<?php echo $this->getUrl('ajax/index/gallery',array('product_id'=>$currentProduct->getId(),'customer_id'=>$style['customer_id'])) ?>"><?php echo $this->__('Shop Look'); ?></a>
            </div>
            <p><?php echo Mage::getModel('customer/customer')->load($style['customer_id'])->getName();?></p>
            <div class="left cava-love-it">
                <?php
                //GET SESSION DATA
                Mage::getSingleton('core/session', array('name'=>'frontend'));
                $session = Mage::getSingleton('customer/session', array('name'=>'frontend'));
                $cusId = $session->getCustomer()->getId();
                $login = '';
                if(!$session->isLoggedIn()){
                    $login= "href='".Mage::helper('customer')->getRegisterUrl()."'";
                }
                ?>
                <?php $loveIt = $currentProduct->getLoveIt() ?>
                <?php ?>

                <a <?php if($session->isLoggedIn()&&Mage::helper('cavabien_loveit')->isLoveitExist($currentProduct->getId(), $cusId)){?>style="display: block"<?php }else{?>style="display: none"<?php }?> class="button loved-it" <?php echo $login;?>><?php echo $this->__('Loved it') ?></a>
                <a <?php if($session->isLoggedIn()&&Mage::helper('cavabien_loveit')->isLoveitExist($currentProduct->getId(), $cusId)){?>style="display: none"<?php }else{?>style="display: block"<?php }?> class="button love-it" <?php echo $login;?>><?php echo $this->__('Love It') ?></a>

                <span class="love-it-count"><?php echo (int)$loveIt ?></span>
                <img style="display: none" id="imgloveit" src="<?php echo $this->getSkinUrl('images/bx_loader.gif');?>" />
            </div>
            <div class="addthis-container">
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_email addthis_button_preferred_1" title="<?php echo $this->__('Share on email') ?>" href="#"><span class="at16nc at300bs at15nc at15t_email at16t_email"><span class="at_a11y"><?php echo $this->__('Share on email') ?></span></span></a>
                    <a class="addthis_button_facebook addthis_button_preferred_2" title="<?php echo $this->__('Share on facebook') ?>" href="#"><span class="at16nc at300bs at15nc at15t_facebook at16t_facebook"><span class="at_a11y"><?php echo $this->__('Share on facebook') ?></span></span></a>
                    <a class="addthis_button_pinterest addthis_button_preferred_4" title="<?php echo $this->__('Share on pinterest') ?>" href="#"><span class="at16nc at300bs at15nc at15t_pinterest at16t_pinterest"><span class="at_a11y"><?php echo $this->__('Share on pinterest') ?></span></span></a>
                    <a class="addthis_button_twitter addthis_button_preferred_3" target="_blank" title="<?php echo $this->__('Share on twitter') ?>" href="#"><span class="at16nc at300bs at15nc at15t_twitter at16t_twitter"><span class="at_a11y"><?php echo $this->__('Share on twitter') ?></span></span></a>

                    <div class="atclear"></div>
                </div>
            </div>
					</div>
        </div>
        <?php endforeach; ?>
    </div>
    <div id="pager_customer_also_bought"></div>
</div>
<?php endif; ?>
<script type="text/javascript">
		jQuery('.item-inner').hover(function(){
			jQuery(this).addClass('hover');
		},function(){
			jQuery(this).removeClass('hover');
		});
    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 890,
        height: 650,
        autoSize: true,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        afterLoad : function(){
            // Po.st Toolbar async load
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://i.po.st/share/script/post-widget.js#publisherKey=4m61ebkl1abg0uc5kkfd';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);

            if (typeof post_init == 'function') {
                window.post_init();
                console.log('init me');
                //setInterval(function(){  window.post_init(); console.log('post_init');  },1000);
                setTimeout(function() {
                            window.post_init();
                        },
                        1000
                );
            }

        }
    });
</script>