
@font-face {
    font-family: 'rage_italicregular';
    src: url('fonts/rage-webfont.eot');
    src: url('fonts/rage-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rage-webfont.woff') format('woff'),
         url('fonts/rage-webfont.ttf') format('truetype'),
         url('fonts/rage-webfont.svg#rage_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cambria';
    src: url('fonts/Cambria.eot');
    src: url('fonts/Cambria.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cambria.woff') format('woff'),
         url('fonts/Cambria.ttf') format('truetype'),
         url('fonts/Cambria.svg#rage_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.stylist-pick-newsletter {
    background-color: #000000;
    opacity: 0.25;
    position: fixed;
    width: 150%;
    top: 0;
    left: 0;
    height: 200%;
}

.newsletter-form {
    top: 50%;
    left: 50%; margin-left: -305px;
    background: url(bg-pop.png) no-repeat left top;
    z-index: 9999; width: 396px; color: #555; line-height: 22px; font-size: 14px;
    position: fixed;  padding: 35px 35px 42px 190px;
}
.newsletter-form h3{ color: #06b7cf; font-weight: normal; font-style: italic; font-size: 20px; margin: 0px 0px 7px; line-height: 20px; text-transform: none; }
.newsletter-form h2{ color: #555; font-size: 23px; font-weight: normal; line-height: 23px; text-transform: uppercase; margin: 0px 0px 10px; }
.newsletter-form p{ margin: 0px 0px 15px;}
.newsletter-form input[type="text"]{ border: 1px solid #ccd2d6; margin: 0px 7px 0px 0px; padding: 0px 7px; height: 28px;  font: 14px/28px "PT Sans",sans-serif,Arial,Helvetica,Verdana; width: 285px;  }
.newsletter-form input[type="text"]::-moz-placeholder{ color: #888 !important;}
.newsletter-form input[type="submit"]{ background: url(bg-button.png) no-repeat right top; border: none; padding: 1px 24px 0px 12px; height: 28px; color: #fff !important; text-transform: uppercase; font: 14px/28px "PT Sans",sans-serif,Arial,Helvetica,Verdana;}
.close-frame{ background: url(close.png) no-repeat left top; width: 15px; height: 15px; font-size: 0%; line-height: 0%; position: absolute; top: 7px !important; right: 15px !important;}
 .associate-list li.item {
    float: left;
}
.stylist-pick-container{ min-height: 902px;}
.pick-page{ border-top: 1px solid #ccc; position: relative;}
.stylist-pick-container .bx-wrapper .bx-viewport{ height: 890px !important; }
.stylist-pick-container .preview{background: url(btn-pn.png) no-repeat left top;  width: 36px; height: 59px; position: absolute; left: 75px; top: 348px; font-size: 0%; line-height: 0%;}
.stylist-pick-container .next{background: url(btn-pn.png) no-repeat right top; width: 36px; height: 59px; position: absolute; right: 88px; top: 348px; font-size: 0%; line-height: 0%;}
.stylist-pick-container .preview:hover{ background-position: left -59px;}
.stylist-pick-container .next:hover{ background-position: right -59px;}

.pick-page{ background: #ededed url(bg-them.png) no-repeat 700px  2px ; }
#tuesday-product-theme { background: #ededed url(bg-them1.png) no-repeat 750px 15px;}
.pick-page .pick-page-left{ background: url(bg-left.png) no-repeat left top; height: 900px;}
.pick-page .pick-page-right{ background: url(bg-right.png) no-repeat right top; height: 872px; padding: 28px 150px 0px 105px;}
#sunday-product-theme .pick-page-right{ background: url(bg-right-sunday.png) no-repeat right top;}
#sunday-product-theme .page-cen{ background: url(bg-page.png) no-repeat 93% 0px;}

.pick-left{ 
    float: left; 
    width: 700px; 
    position: relative; 
}

.pick-left ul.associate-list  { }
.pick-page .associate-list .item .box-action .price-box .special-price .price { color: #ee3088 !important; }
.pick-page .title-product{ color: #6d66b3; font-size: 60px; font-family: 'Cambria'; line-height: 60px; margin: 0px 85px 0px 15px; text-align: left; }
.title-product-inner{ display: inline-block;}
#monday-product-theme .pick-page .title-product{ color: #979797;}
#tuesday-product-theme .pick-page .title-product{ color: #b09380;}
#friday-product-theme .pick-page .title-product{ color: #5ba8a0;}
#wednesday-product-theme .pick-page .title-product{ color: #6d66b3;}
#saturday-product-theme .pick-page .title-product{ color: #9b6fba;}
#sunday-product-theme .pick-page .title-product{ color: #dc7f53;}
#thursday-product-theme .pick-page .title-product{ color: #99b869;}




.pick-page .title-product span{ font-size: 18px; text-align: right; line-height: 18px; display: block; margin-top: 0px;}
#sunday-product-theme .title-product{ text-align: left;}
.box-imagebig{ 
    float: right; 
    margin: 40px 0px 0px; 
    width: 345px; 
    min-height: 740px; 
    position: relative;
    z-index: 1; 
}

.box-imagebig:after {
    display: block;
    content: "";
    position: absolute;
    background: url(bg-stylisk.png) left bottom no-repeat;
    top: 32px;
    right: 0;
    width: 368px;
    height: 630px; margin: 0px;
}


.product-img{ position: absolute; top: 0px; right: 0px;  width: 345px; overflow: hidden;}
.box-imagebig .product-img { 
    width: 240px !important; 
    position: absolute; 
    right: 31px !important; 
    max-height: 360px !important; 
    z-index: 1;
    height: 360px;
    top: auto;
	bottom: 174px;
}

.box-imagebig .product-img img { width: 240px !important; max-height: 360px !important; }
.bx-wrapper img{ display: inline;}
.associate-list .item{ float: left; position: relative; width: 445px; padding: 0px 0px 0px 0px;}
.associate-list li.associate-product-1{width: 320px; padding: 0px; }
.associate-list li.associate-product-2{ width: 256px; float: right;}
.associate-list li.associate-product-3{ width: 492px; clear: both; margin: 0px 0px 10px;}
.associate-list li.associate-product-4{ width: 460px; padding-bottom: 0px; }
.associate-list li.associate-product-5{ 
    float: right;
    width: 175px;
}
.associate-list li.associate-product-6{ width: 290px; margin-top: -5px; }
.associate-list .item .narrow{ position: absolute; color: #868686; right: 0px; top: 50px; line-height: normal; }
.associate-list .associate-product-2 .narrow{ width: 135px; left: 148px; top: 60px;}
.associate-list .associate-product-1 .narrow{ padding: 0px 0px 0px 0px; width: 135px;}
.associate-list .associate-product-3 .narrow{ 
    right: auto; 
    right: 150px; top: 20px;  margin: 0px 0px 0px; width: 135px;}
.associate-list .associate-product-4 .narrow{ width: 130px; right: 0px; top: 50px;}
.associate-list .associate-product-5 .narrow{ position: relative; margin: 0px 0px 0px 0px; text-align: right; width: 135px; right: auto; top: auto; clear: both;}
.associate-list .associate-product-6 .narrow{ top: 20px; width: 130px; right: 0px;}
.associate-list .item .narrow p{ margin: 0px;}
.associate-list .item .narrow .associate-name,
.box-imagebig .associate-name{  
    margin: 0px 0px 0px;
    color: #979797; line-height: 18px; font-size: 12px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%:;
}
.box-imagebig .associate-name{ padding-right: 30px;}
#sunday-product-theme .associate-list .item .narrow .associate-name,
#sunday-product-theme .box-imagebig .associate-name{ color: #dc7f53;}
#saturday-product-theme .associate-list .item .narrow .associate-name,
#saturday-product-theme .box-imagebig .associate-name{ color: #9b6fba;}
#wednesday-product-theme .associate-list .item .narrow .associate-name,
#wednesday-product-theme .box-imagebig .associate-name{ color: #6d66b3;}
#tuesday-product-theme .associate-list .item .narrow .associate-name,
#tuesday-product-theme .box-imagebig .associate-name{ color: #b09380;}
#friday-product-theme .associate-list .item .narrow .associate-name,
#friday-product-theme .box-imagebig .associate-name{ color: #5ba8a0;}
#thursday-product-theme .associate-list .item .narrow .associate-name,
#thursday-product-theme .box-imagebig .associate-name{ color: #99b869;}



.associate-list .item .narrow .associate-description,.box-imagebig .associate-description{ color: #979797; font-size: 12px; line-height: 15px; max-height: 45px;  overflow: hidden; margin: 0px 0px 3px; }
#sunday-product-theme .associate-list .item .narrow .associate-description,#sunday-product-theme .box-imagebig .associate-description{ color: #dc7f53;}
#saturday-product-theme .associate-list .item .narrow .associate-description,#saturday-product-theme .box-imagebig .associate-description{ color: #9b6fba;}
#wednesday-product-theme .associate-list .item .narrow .associate-description, #wednesday-product-theme.box-imagebig .associate-description { color: #6d66b3;}
#tuesday-product-theme .associate-list .item .narrow .associate-description,#tuesday-product-theme .box-imagebig .associate-description{ color: #b09380;}
#friday-product-theme .associate-list .item .narrow .associate-description,#friday-product-theme .box-imagebig .associate-description{ color: #5ba8a0;}
#thursday-product-theme .associate-list .item .narrow .associate-description,#thursday-product-theme .box-imagebig .associate-description{ color: #99b869;}





.associate-list .item .box-action{ }
.associate-list .item .box-action .price-box{ color: #000; text-align: right; margin: 0px 0px 0px 0px; vertical-align: middle; line-height: 24px;}
.associate-list .item .box-action .price-label{ display: none;}
.arrow-bridge{ position: absolute; font-size: 0%; line-height: 0%;}
.associate-product-1 .arrow-bridge{ background: url(circle1-m.png) no-repeat left top; width: 65px; height: 51px; top: 10px; left: 100px; }
.associate-product-2 .arrow-bridge{ background: url(circle2-m.png) no-repeat left top; width: 65px; height: 51px; top: 10px; left: 112px;}
.associate-product-3 .arrow-bridge{ background: url(circle3-m.png) no-repeat left top; width: 52px; height: 35px; top: 10px; right: 112px;}
.associate-product-4 .arrow-bridge{ background: url(circle4-m.png) no-repeat left top; width: 55px; height: 33px; top: 66px; left: 116px;}
.associate-product-5 .arrow-bridge{ background: url(circle5-m.png) no-repeat left top; width: 35px; height: 48px; top: 181px; right: 47px;}
.associate-product-6 .arrow-bridge{ background: url(circle6-m.png) no-repeat left top; width: 65px; height: 51px; top: 58px; left: 105px;}
#thursday-product-theme .associate-product-1 .arrow-bridge{ background: url(circle1-th.png) no-repeat left top; }
#thursday-product-theme .associate-product-2 .arrow-bridge{ background: url(circle2-th.png) no-repeat left top;}
#thursday-product-theme .associate-product-3 .arrow-bridge{ background: url(circle3-th.png) no-repeat left top;}
#thursday-product-theme .associate-product-4 .arrow-bridge{ background: url(circle4-th.png) no-repeat left top;}
#thursday-product-theme .associate-product-5 .arrow-bridge{ background: url(circle5-th.png) no-repeat left top;}
#thursday-product-theme .associate-product-6 .arrow-bridge{ background: url(circle6-th.png) no-repeat left top;}

#friday-product-theme .associate-product-1 .arrow-bridge{ background: url(circle1-f.png) no-repeat left top; }
#friday-product-theme .associate-product-2 .arrow-bridge{ background: url(circle2-f.png) no-repeat left top;}
#friday-product-theme .associate-product-3 .arrow-bridge{ background: url(circle3-f.png) no-repeat left top;}
#friday-product-theme .associate-product-4 .arrow-bridge{ background: url(circle4-f.png) no-repeat left top;}
#friday-product-theme .associate-product-5 .arrow-bridge{ background: url(circle5-f.png) no-repeat left top;}
#friday-product-theme .associate-product-6 .arrow-bridge{ background: url(circle6-f.png) no-repeat left top;}

#tuesday-product-theme .associate-product-1 .arrow-bridge{ background: url(circle1-tu.png) no-repeat left top; }
#tuesday-product-theme .associate-product-2 .arrow-bridge{ background: url(circle2-tu.png) no-repeat left top;}
#tuesday-product-theme .associate-product-3 .arrow-bridge{ background: url(circle3-tu.png) no-repeat left top;}
#tuesday-product-theme .associate-product-4 .arrow-bridge{ background: url(circle4-tu.png) no-repeat left top;}
#tuesday-product-theme .associate-product-5 .arrow-bridge{ background: url(circle5-tu.png) no-repeat left top;}
#tuesday-product-theme .associate-product-6 .arrow-bridge{ background: url(circle6-tu.png) no-repeat left top;}

#wednesday-product-theme .associate-product-1 .arrow-bridge{ background: url(circle1-w.png) no-repeat left top; }
#wednesday-product-theme .associate-product-2 .arrow-bridge{ background: url(circle2-w.png) no-repeat left top;}
#wednesday-product-theme .associate-product-3 .arrow-bridge{ background: url(circle3-w.png) no-repeat left top;}
#wednesday-product-theme .associate-product-4 .arrow-bridge{ background: url(circle4-w.png) no-repeat left top;}
#wednesday-product-theme .associate-product-5 .arrow-bridge{ background: url(circle5-w.png) no-repeat left top;}
#wednesday-product-theme .associate-product-6 .arrow-bridge{ background: url(circle6-w.png) no-repeat left top;}

#saturday-product-theme .associate-product-1 .arrow-bridge{ background: url(circle1-s.png) no-repeat left top; }
#saturday-product-theme .associate-product-2 .arrow-bridge{ background: url(circle2-s.png) no-repeat left top;}
#saturday-product-theme .associate-product-3 .arrow-bridge{ background: url(circle3-s.png) no-repeat left top;}
#saturday-product-theme .associate-product-4 .arrow-bridge{ background: url(circle4-s.png) no-repeat left top;}
#saturday-product-theme .associate-product-5 .arrow-bridge{ background: url(circle5-s.png) no-repeat left top;}
#saturday-product-theme .associate-product-6 .arrow-bridge{ background: url(circle6-s.png) no-repeat left top;}

#sunday-product-theme .associate-product-1 .arrow-bridge{ background: url(circle1-su.png) no-repeat left top; }
#sunday-product-theme .associate-product-2 .arrow-bridge{ background: url(circle2-su.png) no-repeat left top;}
#sunday-product-theme .associate-product-3 .arrow-bridge{ background: url(circle3-su.png) no-repeat left top;}
#sunday-product-theme .associate-product-4 .arrow-bridge{ background: url(circle4-su.png) no-repeat left top;}
#sunday-product-theme .associate-product-5 .arrow-bridge{ background: url(circle5-su.png) no-repeat left top;}
#sunday-product-theme .associate-product-6 .arrow-bridge{ background: url(circle6-su.png) no-repeat left top;}



.box-imagebig .arrow-bridge{ background: url(circle-big-m.png) no-repeat left top; width: 74px; height: 32px; right: 300px; top: 230px; z-index: 3; }
#thursday-product-theme .box-imagebig .arrow-bridge{ background: url(circle-big-th.png) no-repeat left top;}
#friday-product-theme .box-imagebig .arrow-bridge{ background: url(circle-big-f.png) no-repeat left top;}
#tuesday-product-theme .box-imagebig .arrow-bridge{ background: url(circle-big-tu.png) no-repeat left top;}
#wednesday-product-theme .box-imagebig .arrow-bridge{ background: url(circle-big-w.png) no-repeat left top;}
#saturday-product-theme .box-imagebig .arrow-bridge{ background: url(circle-big-s.png) no-repeat left top;}
#sunday-product-theme .box-imagebig .arrow-bridge{ background: url(circle-big-su.png) no-repeat left top;}

.box-imagebig .narrow{ position: absolute; top: 245px; left: -130px; width: 130px;}

.associate-list .item .box-action .price-box .price{ color: #000; float: none !important; font-size: 12px;}
.associate-list .item .box-action .price-box .old-price{ float: none !important; display: inline; font-weight: bold;}
.associate-list .item .box-action .price-box .special-price{ float: none !important; display: inline; padding: 0px 0px 0px 5px;}
.associate-list .item .box-action .price-box .old-price span{ color: #000 !important; }
.associate-list .item .box-action .price-box .old-price .price{ color: #000 !important; text-decoration: line-through;}
.associate-list .item .box-action .action{ text-align: right;}
.associate-list .associate-product-1 .box-action{ text-align: left;}
.associate-list .associate-product-5 .box-action{ text-align: center;}
.associate-list .item .bl-image{ height: 200px; width: 133px;}
.associate-list .associate-product-1 .bl-image{ margin: 20px 0px 0px 15px;}
.associate-list .associate-product-1 .bl-image .bl-image-inner{  overflow: hidden;}
.associate-list .associate-product-2 .bl-image{ }
.associate-list .associate-product-2 .bl-image .bl-image-inner{  overflow: hidden;}
.associate-list .associate-product-3 .bl-image{  float: right; margin-top: -6px; }
.associate-list .associate-product-3 .bl-image .bl-image-inner{  overflow: hidden;}
.associate-list .associate-product-4 .bl-image{ margin: -53px 0 0 180px;  }
.associate-list .associate-product-4 .bl-image .bl-image-inner{  overflow: hidden;}
.associate-list .associate-product-5 .bl-image{ margin: -88px -3px 30px 0px; float: right;  }
.associate-list .associate-product-5 .bl-image .bl-image-inner{ overflow: hidden;}
.associate-list .associate-product-6 .bl-image{ margin: -86px 0px 0px 0px; }
.associate-list .associate-product-6 .bl-image .bl-image-inner{  overflow: hidden;}
#tuesday-product-theme .associate-list .item .narrow{ color: #877670;}
#wednesday-product-theme .associate-list .item .narrow{color: #418b7a;}
.box-imagebig .narrow .price-box .old-price .price{ }
.box-imagebig .price-bot-inner .price-box .price{ font-size: 13px;}

.associate-list img{ max-width: 100%;}
#bx-pager{ 
    background: url(tabs.png) repeat-x left bottom; 
    width: 980px;  position: relative; 
    height: 65px; margin: 0px 0 0 -490px;
    position: absolute;
    bottom: 0;
    left: 50%; 
}
#bx-pager a{ background: url(bg-tabs.png) no-repeat 0px 10px; float: left; font-weight: bold; display: inline-block; width: 135px; margin: 0px 5px 0px 0px; color: #fff; text-transform: uppercase; line-height: 21px; text-indent: 3px; padding: 44px 0px 0px; text-align: left; }
#bx-pager a.monday-pager{ margin-left: 5px;}
#bx-pager a.tuesday-pager{ background-position: -145px 10px; width: 132px;}
#bx-pager a.thursday-pager{ background-position: -291px 10px;}
#bx-pager a.wednesday-pager{ background-position: -290px 10px;}
#bx-pager a.thursday-pager{ background-position: -433px 10px;}
#bx-pager a.friday-pager{ background-position: -572px 10px; width: 133px;}
#bx-pager a.saturday-pager{ background-position: -717px 10px;}
#bx-pager a.sunday-pager{ background-position: -863px 10px; margin-right: 0px;}
#bx-pager a:hover,#bx-pager a.active{padding-top: 8px; padding-bottom: 38px; background-position: left -85px;}
#bx-pager a.tuesday-pager:hover,#bx-pager a.tuesday-pager.active{ background-position: -145px -85px;}
#bx-pager a.wednesday-pager:hover,#bx-pager a.wednesday-pager.active{ background-position: -290px -85px;}
#bx-pager a.thursday-pager:hover,#bx-pager a.thursday-pager.active{ background-position: -433px -85px;}
#bx-pager a.friday-pager:hover,#bx-pager a.friday-pager.active{ background-position: -572px -85px;}
#bx-pager a.saturday-pager:hover,#bx-pager a.saturday-pager.active{ background-position: -717px -85px; }
#bx-pager a.sunday-pager:hover,#bx-pager a.sunday-pager.active{ background-position: -863px -86px;}
.box-imagebig .price-box{ text-align: center;  color: #ee0066;}
.box-imagebig .price-box .old-price{ display: inline-block; margin-right: 5px;}
.box-imagebig .price-box .special-price{ display: inline-block;}
.box-imagebig .price-box .price{ color: #ee0066; font-size: 12px; display: inline-block; max-width: 55px; overflow: hidden; }
.box-imagebig .price-box .old-price .price{ color: #000; text-decoration: line-through; display: inline-block; font: 12px; font-weight: bold; max-width: 55px; overflow: hidden;}
.price-bot{ position: absolute; bottom: 0px; width: 100%; text-align: center;}
.price-bot-inner{ position: relative;}
.sale-off{position: absolute; left: 15%; top: 0;}
.sale-off-arrow{ background: url(arrow-pink.png) no-repeat center bottom; padding: 0px 0px 4px;}
.sale-off-inner{ background: #fa2d8e; font-size: 20px; font-weight: bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; padding: 5px; position: relative;}
.sale-off-inner sup{ font-size: 10px;}
.sale-off-inner span{ display: block; text-align: right; font-size: 10px; line-height: 10px; margin: -1px 0px 0px;}
.pick-page-right .special-price .price-label,.pick-page-right .old-price .price-label { display: none;}
.stylist-pick-backlink{ margin-top: -25px;}