<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.2
 * @since        Class available since Release 2.2
 */
?>

<?php if($this->getCollection()->getSize()): ?>
<!--<div class="toolbar">-->
    <?php if( $this->isExpanded() ): ?>
        <div class="sorter">
            <?php if( $this->isEnabledViewSwitcher() ): ?>
                <p class="view-mode">
                    <?php $_modes = $this->getModes(); ?>
                    <?php if($_modes && count($_modes)>1): ?>
                        <label><?php echo $this->__('View as') ?>:</label>
                        <?php foreach ($this->getModes() as $_code=>$_label): ?>
                            <?php if($this->isModeActive($_code)): ?>
                                <strong title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></strong>&nbsp;
                            <?php else: ?>
                                <a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo urlencode($this->getModeUrlParams($_code)) ?>" data-url="<?php echo $this->getModeUrl($_code, true) ?>" onclick="GomageNavigation.click(this);return false;" href="<?php echo $this->getModeUrl($_code, true) . urlencode($this->getModeUrlParams($_code)); ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></a>&nbsp;
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </p>
            <?php endif; ?>

            <div class="sort-by">
                <label><?php echo $this->__('Sort By') ?></label>
                <select onchange="GomageNavigation.setNavigationUrl(this.value, false, true)">
                    <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                        <?php if ($_key == 'price'): ?>
                            <?php $dir = Mage::app()->getRequest()->getParam('dir');?>
                            <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if(isset($dir) && $dir == 'asc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Price, Low To High') ?>
                            </option>
                            <option value="<?php echo $this->getOrderUrl($_key, 'desc') ?>"<?php if(isset($dir) && $dir == 'asc'): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__('Price, High To Low') ?>
                            </option>
                        <?php else: ?>
                            <option value="<?php echo $this->getOrderUrl($_key, 'desc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                                <?php echo $this->__($_order) ?>
                            </option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
            </div>
            <?php echo $this->getChildHtml('catalog.toolbar.nav') ?>
        </div>
    <?php endif; ?>

	<?php if (Mage::getStoreConfigFlag('gomage_navigation/filter_settings/showpager')): ?>
    <div class="pager">
        <p class="amount">
            <?php if($this->getLastPageNum()>1): ?>
                <?php echo $this->__('Showing %s - %s of %s items', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
            <?php else: ?>
                <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
            <?php endif; ?>
        </p>

        <div class="limiter">
            <label><?php echo $this->__('Show') ?></label>
            <select onchange="GomageNavigation.setNavigationUrl(this.value, false, true)">
            <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                <option value="<?php echo urlencode($this->getLimitUrl($_key)) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                    <?php echo $_limit ?>
                </option>
            <?php endforeach; ?>
            </select> <?php echo $this->__('per page') ?>
        </div>

        <?php echo $this->getPagerHtml() ?>

    </div>
    <?php endif; ?>
<!--</div>-->
<?php endif ?>