<?php $categories = $this->getMainCategories(); ?>
<div id="navigation-top">
    <h3 class="shop-cate">Shop Categories</h3>
    <div class="block-content">
        <?php if($categories): ?>
            <?php foreach($categories as $category): ?>
            <div class='link-sub'>
                <a href="javascript:void(0);" class="expand-link-<?php echo $category->getId(); ?> " onclick="expandSubCate(<?php echo $category->getId(); ?>)">
                    <span class="expand-icon">+</span>
                </a>
                <a href="<?php echo Mage::getUrl('*/*/*', array('cat_id' => $category->getId())) ?>">
                    <h3 class="title-category"><?php echo $category->getName(); ?></h3>
                </a>
            </div>

            <ul class="sub-categories-<?php echo $category->getId(); ?> l-navigation" style="display: none">
                <?php foreach($category->getChildren() as $sub_category): ?>
                    <li>
                        <a href="#best_<?php echo $sub_category->getId() ?>"><?php echo $sub_category->getName(); ?></a>
                    </li>
                <?php endforeach; ?>
            </ul>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>

<script type="text/javascript">
    function expandSubCate(id) {
        var classSubCate = "sub-categories-" + id;
        var classExpandLink = "expand-link-" + id;
        if(jQuery('.' + classExpandLink).hasClass('active') == true) {
            jQuery('.' + classExpandLink).removeClass('active');
            jQuery('.' + classExpandLink + ' .expand-icon').replaceWith('<span class="expand-icon">+</span>');
            jQuery('.' + classSubCate).hide("slow");
        } else {
            jQuery('.active').removeClass('active');
            jQuery('.' + classExpandLink).addClass('active');
            jQuery('.expand-icon').replaceWith('<span class="expand-icon">+</span>');
            jQuery('.' + classExpandLink + ' .expand-icon').replaceWith('<span class="expand-icon">-</span>');
            jQuery('.l-navigation').hide("slow");
            jQuery('.' + classSubCate).show("slow");
        }

        jQuery('.cate-bestseller').hide();
        jQuery('.cate-best-'+id).show();

        showBestSeller(id);
    }

    function showBestSeller(id) {
        jQuery('.list-best').hide();
        jQuery('.best-seller-list-'+id).show();
    }

    //show review popup
    function showReviewPopup(url) {
        reviewPopup = new Window ({
            className:'magento',
            url:url,
            width:940,
            height:600,
            minimizable:false,
            maximizable:false,
            showEffectOptions:{duration:0.4},
            hideEffectOptions:{duration:0.4},
            destroyOnClose: true,
            recenterAuto:false
        });
        reviewPopup.setZIndex(100000);
        reviewPopup.showCenter(true);
    }
</script>

