
<div class="discount">
    <h2><?php echo $this->__('Promotional Codes') ?></h2>
    <div class="sm-discount-form">
        <div class="input-box">
            <input class="input-text" id="coupon_code" placeholder="Enter Code" name="coupon_code" value="<?php echo $this->escapeHtml($this->getCouponCode()) ?>" />
            <button type="button" onclick="order.applyCoupon('coupon_code')" class="button" title="<?php echo $this->__('Apply') ?>" value="<?php echo $this->__('Apply') ?>"><span><span><?php echo $this->__('Apply') ?></span></span></button>
        </div>
        <a href="<?php echo Mage::getUrl('special_offer')?>" class="link" title="<?php echo $this->__('View Current Promos') ?>"><span><?php echo $this->__('View Current Promos') ?></span></a>
    </div>
</div>

