
<div class="giftcard">
    <h2><?php echo $this->__('Gift Cards') ?></h2>
    <div class="sm-discount-form">
        <div class="input-box">
            <input class="input-text" id="giftcard_code" placeholder="Enter Code" name="giftcard_code" value="" />
            <button type="button" onclick="order.applyGiftCode('giftcard_code');" class="button" value="<?php echo $this->__('Apply') ?>"><span><span><?php echo $this->__('Apply') ?></span></span></button>
        </div>
        <a href="javascript:void(0);" class="link" onclick="order.checkGiftCode('giftcard_code');" title="<?php echo $this->__('Check Gift Card status and balance') ?>"><span><?php echo $this->__('Check Gift Card status and balance') ?></span></a>
    </div>
    <div id="sm-giftcardaccount_quickcheck"></div>
</div>
