.amconf-image {
  margin-right: 0 !important;
  width: 12px;
  height: 12px;
  &:hover {
    cursor: pointer;
  }
}

.amconf-image-selected {
}

.size-option-container .required-field,
.color-option-container .required-field {
  display: none;
}

.products-grid {
  .amconf-block,
  #amconf-block {
    height: 32px !important;
  }
  .amconf-image {
    width: 10px !important;
    height: 10px !important;
  }
  .size-option-container,
  .color-option-container {
    label.required {
      display: none !important;
    }
  }
}