/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  padding: 0;
  margin: 0 auto;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-controls-auto {
  position: absolute;
  width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  line-height: 8px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d3d3d3;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  outline: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #969696;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 0px;
  background: url(../images/bx-control.png) no-repeat -26px -24px;
  &:hover {
    background: url(../images/bx-control.png) no-repeat -26px -24px;
  }
}
.bx-wrapper .bx-next {
  right: 0px;
  background: url(../images/bx-control.png) no-repeat -26px -0;
  &:hover {
    background: url(../images/bx-control.png) no-repeat -26px -0;
  }
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  outline: 0;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  z-index: 1;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  display: block;
  font-size: .85em;
  padding: 10px;
}


/* 
* Custom direction control 
* 1. arrow inside pink square 
* 2. arrow inside grey circle  
* 1. arrow inside pink square vertical 
* 2. arrow inside grey circle vartical
*/
.square-bx-control {
  .bx-wrapper .bx-prev {
    left: 0px;
    background: url(../images/bx-control.png) no-repeat -26px -75px;
    &:hover {
      background: url(../images/bx-control.png) no-repeat -26px -24px;
    }
  }
  .bx-wrapper .bx-next {
    right: 0px;
    background: url(../images/bx-control.png) no-repeat -26px -51px;
    &:hover {
      background: url(../images/bx-control.png) no-repeat -26px -0;
    }
  }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    outline: 0;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    z-index: 9999;
  }
}

.square-bx-control-v {
  .bx-wrapper .bx-prev {
    left: 50% !important;margin-left: -11px !important;top: 0 !important;background: url(../images/bx-control.png) no-repeat 0 0;
    &:hover {
      background: url(../images/bx-control.png) no-repeat 0 0;
    }
  }
  .bx-wrapper .bx-next {
    right: 50% !important;margin-right: -11px !important;top: 100% !important;background: url(../images/bx-control.png) no-repeat 0 -24px;
    &:hover {
      background: url(../images/bx-control.png) no-repeat 0 -24px;
    }
  }
}

.circle-bx-control {
  .bx-wrapper .bx-prev {
    left: 0px;
    background: url(../images/bx-control.png) no-repeat -76px -1px;
    &:hover {
      background: url(../images/bx-control.png) no-repeat -76px -58px;
    }
  }
  .bx-wrapper .bx-next {
    right: 0px;
    background: url(../images/bx-control.png) no-repeat -50px 0px;
    &:hover {
      background: url(../images/bx-control.png) no-repeat -50px -57px;
    }
  }
}

.circle-bx-control-v {

}