.ui-widget {
  font-size: 12px;
  color: $black;
}
// TABS
.ui-tabs {
  padding: 0 !important;
  &.ui-widget-content {
    background: none;
    border: 0;
  }
  .ui-widget-header {
    background: none;
    border: 0;
    .ui-state-default {
      border: 1px solid $border-1;
      border-radius: 4px 4px 0 0;
      border-bottom: 0; 
      @extend .silver-to-white-v-gradient;
      font-size: 18px; margin-right: 5px;
      a {
        color: $black;
        &:hover {
          color: $pink;
        }
      }
    }
    .ui-state-active {
      background: #fff;
      a {
        color: $pink;
      }
    }
  }
  .ui-tabs-panel {
    min-height: 300px; 
  }
}

@media screen and (max-width: 959px) {
  .ui-tabs .ui-widget-header .ui-state-default {
    font-size: 13px;
  }
}