
div.selector, div.selector span {
  -webkit-font-smoothing: antialiased;
}

div.selector {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

div.selector:focus {
  outline: 0;
}

div.selector, div.selector * {
  margin: 0;
  padding: 0;
}

div.selector {
  background: #fff;
  border: 1px solid $border-2;
  line-height: 23px;
  height: 23px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden;
}

div.selector span {
  text-overflow: ellipsis;
  background: url(../images/arr-down.png) right center no-repeat;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  height: 23px;
  line-height: 23px;
  padding-right: 20px;
  text-align: left;
}

div.selector.fixedWidth {
}

div.selector.fixedWidth span {
}

div.selector select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  position: absolute;
  height: 22px;
  top: 2px;
  left: 0px;
  width: 100%;
}
