
<?php
    $tabs = $this->getTabs();
    $arrayTabsFiltered = array();
    foreach ($tabs as $index=> $tab) {
        if($this->getChildHtml($tab['alias']) && trim($this->getChildHtml($tab['alias'])) !== '') {
            $arrayTabsFiltered[] = $tab;
        }
    }
    $currentProduct = Mage::registry('current_product');
?>

<?php if (!empty($arrayTabsFiltered)) :?>
    <div class="product-tabs-container clearfix">
        <ul class="product-tabs">
            <?php foreach ($arrayTabsFiltered as $_index => $_tab): ?>
                <li id="product_tabs_<?php echo $_tab['alias'] ?>" class="<?php echo !$_index?' first':(($_index==count($this->getTabs())-1)?' last':'')?>"><a href="#"><?php echo $_tab['title']?></a></li>
            <?php endforeach; ?>
        </ul>
        <?php foreach ($arrayTabsFiltered as $_index => $_tab): ?>
            <div class="product-tabs-content tabs-content" id="product_tabs_<?php echo $_tab['alias'] ?>_contents"><?php echo $this->getChildHtml($_tab['alias']) ?></div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>