<table id="sm-shopping-cart-table" class="data-table cart-table">
    <col width="1" />
    <col />
    <col width="1" />
    <thead>
        <tr>
            <th class="a-left"><?php echo $this->__('Product') ?></th>
            <th class="a-center"></th>
            <th class="a-right"><?php echo $this->__('Price') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->getItems() as $_item): ?>
            <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('sm-shopping-cart-table')</script>