

<?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
<?php
    $pointUsed = Mage::helper('rewardpoints/event')->getCreditPoints();
    $pointDetails = $this->getPointsInfo();
    $money = Mage::helper('checkout')->formatPrice(Mage::helper('rewardpoints/data')->convertPointsToMoneyEquivalence($pointDetails['max_use']));
    ?>
<input type="checkbox" id="sm-cart-apply-points" onclick="order.applyRewardPoints('<?php echo $pointDetails['max_use'];?>', this)" name="sm-cart-apply-points" class="input-text" <?php if ($pointUsed): ?> checked="checked" <?php endif;?>/> <label for="sm-cart-apply-points"><?php echo $this->__('Do you want to apply your <span>Loyalty Points</span> worth %s?', $money) ?></label>
<?php endif; ?>