<?php

$_totals = $this->getQuote()->getTotals();
$_saving = 0;

?>
<div class="sm-cart-subtotals">
    <div class="cart-total-left">
        <span class="total-label">
					<?php echo $this->__('Subtotal')?>
					<?php if ($this->getQuote()->getItemsCount() > 1): ?>
            <?php echo $this->__('(%s items):', $this->helper('checkout/cart')->getSummaryCount())?>
            <?php else: ?>
            <?php echo $this->__('(%s item):', $this->helper('checkout/cart')->getSummaryCount())?>
					<?php endif; ?>
				</span>
    </div>
    <div class="cart-total-right">
        <?php echo Mage::helper('checkout')->formatPrice($_totals['subtotal']->getValue())?>
    </div>
</div>


<!-- Promos Block -->
<?php if(isset($_totals['discount'])): ?>
<?php $_saving += str_replace('-', '', $_totals['discount']->getValue());?>
<div class="sm-cart-promo">
    <div class="cart-total-left">
        <span class="total-label"><?php echo $this->__('Promo code')?></span> <span><?php echo $_totals['discount']->getTitle() ?></span>
    </div>
		
    <div class="cart-total-right">
        <?php echo Mage::helper('checkout')->formatPrice($_totals['discount']->getValue())?>
    </div>
</div>
<?php endif;?>

<!-- Facebook Block -->
<?php if (Mage::getStoreConfig(SM_Checkout_Helper_Data::ENABLE_FACEBOOK_DISCOUNT, Mage::app()->getStore()->getId())): ?>
<?php
$_items = $this->getQuote()->getAllVisibleItems();
$_itemUrl = $_items[0]->getProduct()->getProductUrl();
$_itemName = $_items[0]->getProduct()->getName();
$_itemImage = $this->helper('catalog/image')->init($_items[0]->getProduct(), 'small_image');
$_itemDes = $_items[0]->getProduct()->getShortDescription();
$_saving += $this->getQuote()->getFacebookShareAmount();
?>
<div class="sm-cart-facebook">
    <div class="cart-total-left">
        <span class="total-label"><?php echo $this->__('Facebook code')?></span>
        <span><?php echo $this->__(Mage::getStoreConfig(SM_Checkout_Helper_Data::FACEBOOK_DISCOUNT_LABEL, Mage::app()->getStore()->getId()))?></span>
        <span ><?php echo $this->__('Press')?></span>
        <span class="sm-cart-share"><?php echo $this->__('Share')?></span>
        <a href="javascript:void(0)" onclick="fbShare(<?php echo "'$_itemUrl', '$_itemImage', '$_itemName', '', '$_itemDes'" ?>)">Share</a>
        <span class="fb-count"><span class="arrow">&nbsp;</span><?php echo Mage::helper('cavabien_config')->get_the_fb_like($_itemUrl, 'share_count')?></span>
    </div>
		
    <div class="cart-total-right">
        <?php if (isset($_totals['facebook'])): ?>
        <?php echo Mage::helper('checkout')->formatPrice($_totals['facebook']->getValue())?>
        <?php endif;?>
    </div>
</div>
<?php endif; ?>

<!-- J2T Block -->
<div class="sm-cart-j2t">
    <?php echo $this->getChildHtml('rewardpoint')?>
</div>

<!-- Total Block -->
<div class="sm-cart-grandtotal" id="sm-cart_total">
    <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <?php
    $pointUsed = Mage::helper('rewardpoints/event')->getCreditPoints();
    $money = Mage::helper('rewardpoints/data')->convertPointsToMoneyEquivalence($pointUsed);
    ?>
    <div class="cart-total-left">
        <h2><?php echo $this->__('Rewards: ')?></h2>
        <?php echo Mage::helper('checkout')->formatPrice($money)?>
        <span class="black-question-tooltip">
        <div class="cava-popup">
            <div class="small-arrow left-direction">
            <span>
            <span></span>
            </span>
            </div>
            <div>
                <h1><?php echo $this->__('Rewards')?></h1>
                <p><?php echo $this->__('Earn!% back on every purchase! The more you shop, the more you earn.')?></p>
                <p><?php echo $this->__('Rewards can be applied toward your future purchases.')?></p>
            </div>
        </div>
        </span>
    </div>
    <?php endif; ?>
    <div class="cart-total-center">
        <h2><?php echo $this->__('Savings: ')?></h2>
        <?php echo Mage::helper('checkout')->formatPrice($_saving)?>
        <span class="black-question-tooltip"></span>
    </div>
    <div class="cart-total-right">
        <h2><?php echo $this->__('Total')?></h2>
        <?php echo Mage::helper('checkout')->formatPrice($_totals['grand_total']->getValue())?>
    </div>
</div>

<script type="text/javascript">
    function fbShare(link, picture, name, caption, description) {
        FB.ui(
                {
                    method:'feed',
                    link:link,
                    picture:picture,
                    name:name,
                    caption:caption,
                    description:description
                },
                function (response) {
                    console.log(response);
                    if (response && !response.error_code) {
                        order.applyFacebookCode(true);
                    } else {
                        alert('Please click share button to get sale off.');
                    }
                });
    }
</script>
