<div class="sm-cart-wrapper">
	<div class="block-title">
		<h2><?php echo $this->__('Order Summary....') ?></h2>
	</div>
	
	<!-- Items Block -->
	<div class="sm-cart-items">
		<?php echo $this->getChildHtml('sm.cart.items')?>
	</div>
	
	<!-- Totals Block -->
	<div class="wrap-sm-cart-totals" id="sm-cart_totals">
		<?php echo $this->getChildHtml('sm.cart.totals')?>
	</div>
</div>