.sm-conf-selected img, .filter-align-rows ol li a img, img.amconf-image {
	border: 1px solid #cccccc;
	padding: 1px;
}
.sm-conf-main .sm-conf-attribute {
	clear: both;
	display: table;
	margin-bottom: 19px;
}
.sm-conf-main .sm-conf-attribute label {
	display: block;
	float: left;
	line-height: 35px;
	min-width: 105px;
	text-transform: uppercase;
}
.sm-conf-main .sm-conf-attribute ul {
	float: left;
	width: 200px;
	display: block;
}
.sm-conf-main .sm-conf-attribute li {
	display: inline-block;
	float: left;
	position: relative;
	text-align: center;
	margin: 2px;
}
.sm-conf-main .sm-conf-attribute li img {
	border: 1px solid #ccc;
	padding: 1px;
	font-size: 0;
	text-indent: -999em; 
	display: inline-block;
}
.sm-conf-main .image-color-hover:before {
	border-color: #e1e1e1 rgba(225, 225, 225, 0) rgba(225, 225, 225, 0);
	border-width: 7px;
	margin-left: -7px;
	border: medium solid transparent;
	content: " ";
	height: 0;
	left: 15px;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 0;
}
.sm-conf-main .image-color-hover:after {
	border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	border-width: 5px;
	margin-left: -5px;
}
.sm-conf-main .image-color-hover {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e1e1e1;
	bottom: 37px;
	left: -2px;
	min-width: 125px;
	padding: 10px;
	position: absolute;
	z-index: 10;
}
.sm-conf-main .image-color-hover img {
	height: 135px !important;
	padding: 0;
	width: 125px !important;
}
.sm-conf-main .image-color-hover .color-name {
	color: #000;
}
.sm-conf-main .image-color-hover .color-name, .image-color-hover .desc {
	display: inline-block;
	margin-top: 5px;
	text-align: left;
	width: 100%;
}
.sm-conf-main .image-color-hover .desc {
	color: #63666b;
}
#navigation-top .style-attribute-left a.reset-link {
	padding-right: 10px;
}
.narrow-by-list dt.style-attribute-left-title {
	border-bottom: 0;
}
.narrow-by-list dd.style-attribute-left > .sub-cat-title {
	margin: 0 15px;
	display: block;
	border: 1px solid #ccc;
	background: #fff;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 27px;
}
.narrow-by-list dd.style-attribute-left ol li a {
	font-size: 12px;
	padding-right: 5px;
}
.narrow-by-list dd.style-attribute-left ol li {
	float: left;
	padding-bottom: 3px;
	width: 50%;
}