
/*--[Menu STYLES]--*/
#menu{
	height: 44px;
	margin: 0px auto;
	clear: both;
	position: relative;
	margin-bottom: 5px;
}
ul.menu{
	margin: 0;
	padding: 0;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #fff;
	list-style: none;
	min-height: 41px;
	position: relative;
	display: table;
	width: 100%;
}
ul.menu a:link, ul.menu a:visited{
	color: #fff;
	text-decoration: none;
}
ul.menu li{
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
}
ul.menu > li{
	display: table-cell;
	float: none;
	text-align: center;
}

ul.menu > li > a.dir span{
	display: inline-block;
	padding-right: 20px;
	background: url(../images/arrow1.png) no-repeat right center;
}

ul.menu li:hover > a.dir {
	color: #fff;
}  
  
ul.menu li a{
	display: block;
	padding: 14px 8px 14px 9px;
	text-transform: capitalize;
}
ul.menu li a.dir{
	display: block;
	padding: 16px 0 12px 8px;
}
ul.menu li + li{
	border-left: solid 1px transparent;
}
ul.menu li a img{
	margin: -3px 0;
}
ul.menu li ul a img {
	width: 274px !important;
	height: 370px !important;
	margin-right: -10px;
	margin-top: -32px;
}
ul.menu li:hover, ul.menu li a:hover, ul.menu a:active, ul.menu li.active a{
	color: #0d749f;
}

ul.menu li a:hover{
	color: #fff;
}

ul.menu li:hover >div.dropdown, ul.menu li:hover >div.dropdown1, ul.menu li:hover >ul{
	visibility: visible;
	z-index: 99999;
}
ul.menu li div.dropdown{
	visibility: hidden;
	position: absolute;
	left: 50%;
	float: left;
	height: auto;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 2px 10px;
	font-size: 12px;
	background: #fff;
	z-index: 99999;
	min-width: 850px;
	min-height: 210px;
	border: solid 1px #eee;
	text-align: left;
	margin-left: -436px;
}
ul.menu li div.dropdown1{
	visibility: hidden;
	position: absolute;
	right: 0;
	float: left;
	height: auto;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 2px 10px;
	font-size: 12px;
	background: #fff;
	z-index: 99999;
	width: 426px!important;
	border: solid 1px #eee;
	text-align: left;
}
ul.menu li > div.pos_lft{
	left: 0!important;
}
div.drop_bo{
	width: 17%;
	float: left;
	padding-bottom: 10px;
	min-height: 410px;
}
.related_box div.drop_bo + div.drop_bo{
	width: 290px !important;
}
ul.menu ul{
	border: none;
	list-style: none;
	text-decoration: none;
	padding: 0;
	float: left;
	line-height: 14px;
	font-weight: normal;
	margin: 0px 10px;
	min-height: 165px;
}
ul.menu ul a{
	text-transform: none;
	color: #222 !important;
}
ul.menu ul li{
	height: auto;
	float: none;
}
ul.menu ul li + li{
	border: none;
	background: none;
}
ul.menu ul li a{
	padding: 6px 5px 3px 15px;
}
ul.menu ul li:hover{
	background: none;
}
ul.menu ul li a:hover{
	color: #db1c66 !important;
}
ul.menu li.dir {
	padding: 7px 0px;
}
ul.menu li:hover > a.dir {
	color: #fff;
	background: url(../images/menu.png) repeat-x 0 -47px;
}
ul.menu ul li.dir {
	background: url(../images/menu.png) repeat-x 0 -47px;
}

.dropdown .drop_bo h3{
	font-weight: bold;
	font-size: 12px;
	color: #e4256f;
	clear: both;
	float: none;
	padding: 4px 5px;
	margin-top: 6px;
}
.dropdown .drop_bo h3 a{
	color: #e4256f !important;
	background: none!important;
	margin-left: -10px !important;
}
.dropdown1 h3{
	font-weight: bold;
	font-size: 14px;
	color: #DA1C5C;
	float: left;
	padding: 6px 10px;
	margin-top: 6px;
	border-bottom: solid 1px #ccc;
	z-index: 99;
}
.dropdown1 span{
	font-size: 12px;
	color: #000!important;
	padding-top: 8px;
	z-index: 99;
}
.dropdown1 img{
	float: right;
	margin-bottom: 5px!important;
}
.dropdown1 ul{
	padding: 10px;
	width: 406px!important;
}
.free_ship{
	margin: 0;
	padding: 4px 18px;
	background: #999;
	color: #fff;
	clear: both;
	font-weight: bold;
	text-align: center!important;
	z-index: 99;
	position: relative;
}
.free_ship1{
	margin: 0;
	padding: 2px 4px;
	background: #eee;
	color: #111;
	font-size: 10px!important;
	font-weight: normal;
	text-align: center!important;
}
.free_ship h3{
	color: #fff!important;
	border-bottom: 0px!important;
	text-align: center!important;
	float: none;
	padding: 0!important;
	font-size: 13px!important;
}
.dropdown > div.free_ship, .dropdown1 > div.free_ship{
	margin: 0 -11px -4px!important;
}
.related_box{
	width: 455px;
	float: right;
	clear: right;
	padding: 2px;
	border-left: solid 1px #ccc;
}
.drop_bo.related_box{
	width: 300px;
	float: right;
	padding: 2px;
	position: absolute;
	right: 10px;
	border-left: solid 1px #ccc;
}
.related_box img{
	float: left;
	margin: 3px 4px;
	width: 274px;
	height: 370px;
}
.drop_cont{
	line-height: 14px;
}
.drop_cont h4{
	font-size: 16px;
	padding-top: 5px;
	color: #fff;
	clear: both;
}
.related_box a:hover{
	background: none!important;
}
span.arrow{
	text-align: center;
}
/* .related{
	float: right;
	width: 290px;
} */
/*ul.menu li.item1 > div.dropdown{
	left: -3px;
} 
ul.menu li.item2 > div.dropdown{
	left: -75px;
} 
ul.menu li.item3 > div.dropdown{
	left: -165px;
} 
ul.menu li.item4 > div.dropdown{
	left: -259px;
} 
ul.menu li.item5 > div.dropdown{
	left: -356px;
} 
ul.menu li.item6 > div.dropdown{
	left: -426px;
} 
ul.menu li.item7 > div.dropdown{
	right: -179px;
} 
ul.menu li.item8 > div.dropdown{
	right: -100px;
} */

.deal_week{
	font-weight: bold;
	font-size: 13px;
}
.deal_week ul li{
	background: #eee;
	width: 32%;
	float: left;
	text-align: center;
	position: relative;
}
.deal_week ul li a{
	text-decoration: none;
	color: #222;
	display: block;
	background: #eee;
	padding: 8px 6px;
}
.deal_week li + li{
	width: 33%;
}
.deal_week li + li, .advertise li + li{
	margin-left: 1%;
}
.deal_week ul li a.discount{
	color: #da1c5c!important;
}
.deal_week ul li:hover >div.dropdown_deal{
	visibility: visible;
	z-index: 99999;
}
.deal_week ul  li div.dropdown_deal{
	visibility: hidden;
	position: absolute;
	top: 30px;
	height: auto;
	margin: 0;
	padding: 0;
	z-index: 99;
}
em.top_arrow_deal{
	background: url(../images/top_arrow_deal.png) no-repeat 0 0;
	width: 23px;
	height: 12px;
	position: absolute;
	top: -12px;
	left: 15%;
}
.dropdown_deal{
	width: 680px;
	background: #fff;
	border: solid 1px #939598;
	padding: 15px;
	top: 30px;
	font: normal 11px Arial, Helvetica, sans-serif;
}
.listing_pro1{
	width: 500px;
	float: left;
}
.listing_pro1 ul{
	padding-top: 30px!important;
}
.related_box ul{
	padding-top: 0px!important;
}
.listing_pro1 ul li, .related_box ul li{
	width: 130px!important;
	float: left;
	margin: 2px 12px!important;
	padding: 0!important;
	float: left;
	background: #fff!important;
	text-align: left!important;
}
.listing_pro1 ul li img, .related_box ul li img{
	border: solid 1px #ccc;
	margin-bottom: 5px;
}
.listing_pro1 ul li a, .related_box ul li a{
	background: #fff!important;
	border: none!important;
}
.dropdown_deal >.related_box{
	width: 155px;
	float: right;
	padding: 8px 12px 0px;
	border-left: solid 1px #ccc;
}
.dropdown_deal >.related_box img{
	width: 132px!important;
	height: 70px!important;
}
.dropdown_deal >.related_box h3{
	margin-top: 5px;
	font-weight: bold;
}
.listing_pro1 ul li h4{
	font-weight: bold;
	color: #000!important;
}
.listing_pro1 ul li p{
	color: #999!important;
	font-style: italic;
}
.deal_week ul  li:first-child > div.dropdown_deal{
	left: 0;
}
.deal_week ul  li:last-child > div.dropdown_deal{
	right: 0;
}
.deal_week ul  li:last-child > div.dropdown_deal > em{
	left: 72%;
}
.freeship_line{
	background: #939598;
	padding: 10px;
	text-align: center;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	clear: both;
	z-index: 99;
	display: block;
	margin-top: 5px;
}
.freeship_line strong{
	font-size: 15px;
	margin-right: 1px;
}

