
.product-for-cart .price-value .value{ max-width: 88px; overflow: hidden;}
.product-for-cart .price-you-save .value{ max-width: 75px; overflow: hidden; margin: 0 auto;}
.deal-week-products .products-grid li.item .product-for-cart .price-value .value{ max-width: 50px; margin: 0 auto; overflow: hidden; display: block;}
.product-for-cart .price-you-save .value{ display: block; overflow: hidden; margin: 0 auto; max-width: 50px;}
.deal-week-products .products-grid li.item .product-for-cart .price-deal .value{ display: block; overflow: hidden; max-width: 70px; margin: 0 auto;}
.shop-look-products-view .shop-look-simple-product .item .product-name{ line-height: 14px;}
.ui-widget-content{ border: 1px solid #e2e2e2;}
.facebook-friend ul li{ float: left; width: 50px; margin: 0px 5px 5px 0px; }
.facebook-friend ul li img{ margin: 0px 0px 5px;}
.facebook-friend ul li p{ margin: 0px; text-transform: uppercase; font-size: 8px;}
.facebook-friend ul li a{ color: #000; line-height: 11px;}
.form-label{ float: left;}
.earning{ float: right; margin: 0px 0px 8px;}
.earning .earning-value{ color: #ee0066;}
.tagsinput{ width: 97% !important; min-height: 58px !important; color: #000; margin: 0px 0px 3px;}
a.add-contacts{ background: url(../images/icon-plush.png) no-repeat left top; line-height: 15px; float: right; color: #ee0066; padding: 0px 0px 0px 20px; }
.share-link .content-invite > div.left{ width: 248px;}
.share-link .content-invite .sharing-tool{ width: 235px; text-align: right;}
#invite-friends-holder .invite-form .invite-right-column .share-link .sharing-tool p{ text-align: left; padding-left: 5px;}
.facebook-friend ul:after{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}