
<div id="co-shipping-form">
    <div class="title">
        <?php if ($this->customerHasAddresses()): ?>
            <h2><?php echo $this->__("Customer's Addresses")?></h2>
        <?php else: ?>
            <h2><?php echo $this->__('New Customer')?></h2>

        <?php endif ?>
    </div>

    <ul class="form-list ">
    <li>
        <h3><?php echo $this->__('Billing Card Address')?></h3>
        <input type="radio" name="billing[use_for_shipping]" id="use_for_shipping_yes" value="1" checked="checked" title="<?php echo  $this->__('Ship to this address') ?>"  class="radio" />
        <label style="float: none" for="billing:use_for_shipping_yes"><?php echo  $this->__('Billing Address') ?></label>
        <input type="radio" name="billing[use_for_shipping]" id="use_for_shipping_no" value="0" title="<?php echo $this->__('Ship to different address') ?>"  class="radio" />
        <label style="float: none" for="billing:use_for_shipping_no"><?php echo $this->__('Another Address') ?></label>
    </li>
        <?php if ($this->customerHasAddresses()): ?>
            <li class="wide">
                <label for="billing-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
                <div class="input-box">
                    <?php echo $this->getAddressesHtmlSelect('billing') ?>
                </div>
            </li>
        <?php endif ?>
        <li class="form_bill_address" id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
            <fieldset>
                <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
                <ul>
                    <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
                    <?php if(!$this->isCustomerLoggedIn()): ?>

                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ; ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ;?>

                    <?php if ($_dob->isRequired || $_gender->isRequired()): ?>
                        <li class="fields">
                            <?php if ($_dob->isRequired()): ?>
                                <div class="field">
                                    <?php echo $_dob->setDate($this->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_gender->isRequired()): ?>
                                <div class="field">
                                    <?php echo $_gender->setGender($this->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif ?>
                        </li>
                    <?php endif ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <li>
                            <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                        </li>
                    <?php endif ?>
                    <?php endif ?>
<!--                    <li>-->
<!--                        <h3>--><?php //echo $this->__('Billing Card Address')?><!--</h3>-->
<!--                            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1" checked="checked" title="--><?php //echo  $this->__('Ship to this address') ?><!--" onclick="$('shipping:same_as_billing').checked = true;" class="radio" /><label for="billing:use_for_shipping_yes">--><?php //echo  $this->__('Billing Address') ?><!--</label>-->
<!--                            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0" title="--><?php //echo $this->__('Ship to different address') ?><!--" onclick="$('shipping:same_as_billing').checked = false;" class="radio" /><label for="billing:use_for_shipping_no">--><?php //echo $this->__('Another Address') ?><!--</label>-->
<!--                    </li>-->
                    <li class="fields">
                        <div class="fields">
                            <!--                            <label for="billing:company">--><?php //echo $this->__('Company') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" id="billing:company" placeholder="<?php echo $this->__('Company Name (optional)') ?>" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php //echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <?php if(!$this->isCustomerLoggedIn()): ?>
                            <!--                    <label for="billing:email" class="required"><em>*</em>--><?php //echo $this->__('Email Address') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" name="billing[email]" placeholder="<?php echo $this->__('Email Address') ?>" id="billing:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" onchange="$('billing:email').value = this.value;"/>

                            </div>
                        <?php endif; ?>
                    </li>
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                    <li class="wide">
                        <!--                        <label for="billing:street1" class="required"><em>*</em>--><?php //echo $this->__('Address') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address') ?>" placeholder="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                        </div>
                    </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="wide">
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" placeholder="<?php echo $this->__('Street Address 2 (optional)') ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php //echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                    <?php endfor; ?>
                    <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                        <li class="wide">
                            <label for="billing:vat_id"><?php echo $this->__('VAT Number'); ?></label>
                            <div class="input-box">
                                <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>" title="<?php echo $this->__('VAT Number'); ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                            </div>
                        </li>
                    <?php endif; ?>
                    <li class="fields">
                        <!--                     <label for="billing:city" class="required"><em>*</em>--><?php //echo $this->__('City') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('City') ?>" placeholder="<?php echo $this->__('Town/ City') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="billing:city" />
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field field-country">
                            <!--                            <label for="billing:region" class="required"><em>*</em>--><?php //echo $this->__('State/Province') ?><!--</label>-->
                            <div class="input-box">
                                <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('County (opt.)') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="billing:region" placeholder="<?php echo $this->__('County (opt.)') ?>" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                            </div>
                        </div>
                        <div class="field field-code">
                            <!--                            <label for="billing:postcode" class="required"><em>*</em>--><?php //echo $this->__('Zip/Postal Code') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" placeholder="<?php echo $this->__('Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                            </div>
                        </div>
                        <div class="field field-billing">
                            <!--                            <label for="billing:country_id" class="required"><em>*</em>--><?php //echo $this->__('Country') ?><!--</label>-->
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('billing') ?>
                            </div>
                        </div>
                    </li>
                    <li class="fields fields-rows">
                        <div class="field">
                            <!--                            <label for="billing:telephone" class="required"><em>*</em>--><?php //echo $this->__('Telephone') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" name="billing[telephone]" placeholder="<?php echo $this->__('Telephone') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
                            </div>
                        </div>
                        <div class="field right">
                            <!--                            <label for="billing:fax">--><?php //echo $this->__('Fax') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" name="billing[fax]" placeholder="<?php echo $this->__('Fax') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="billing:fax" />
                                <input type="hidden" name="billing[anorther_address]" value="" id="anorther_address">
                            </div>
                        </div>
                    </li>
                </ul>
            </fieldset>
        </li>
        <li id="shipping-new-address-form" class="form_shipp_address"  style="display: none">
            <fieldset>
                <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
                <ul>
                    <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->setFieldParams('onchange="shipping.setSameAsBilling(false)"')->toHtml() ?></li>
                    <li class="fields">
                        <div class="fields">
                            <label for="shipping:company"><?php echo $this->__('Company') ?></label>
                            <div class="input-box">
                                <input type="text" id="shipping:company" name="shipping[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" onchange="shipping.setSameAsBilling(false);" />
                            </div>
                        </div>
                    </li>
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                    <li class="wide">
                        <label for="shipping:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" onchange="shipping.setSameAsBilling(false);" />
                        </div>
                    </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="wide">
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="shipping[street][]" id="shipping:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" onchange="shipping.setSameAsBilling(false);" />
                            </div>
                        </li>
                    <?php endfor; ?>
                    <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                        <li class="wide">
                            <label for="billing:vat_id"><?php echo $this->__('VAT Number'); ?></label>
                            <div class="input-box">
                                <input type="text" id="shipping:vat_id" name="shipping[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>" title="<?php echo $this->__('VAT Number'); ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                            </div>
                        </li>
                    <?php endif; ?>
                    <li class="fields">
                        <div class="field">
                            <label for="shipping:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('City') ?>" name="shipping[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="shipping:city" onchange="shipping.setSameAsBilling(false);" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="shipping:region" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                            <div class="input-box">
                                <select id="shipping:region_id" name="shipping[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('shipping:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="shipping:region" name="shipping[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="shipping:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" onchange="shipping.setSameAsBilling(false);" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="shipping:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('shipping') ?>
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="shipping:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                            <div class="input-box">
                                <input type="text" name="shipping[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="shipping:telephone" onchange="shipping.setSameAsBilling(false);" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="shipping:fax"><?php echo $this->__('Fax') ?></label>
                            <div class="input-box">
                                <input type="text" name="shipping[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="shipping:fax" onchange="shipping.setSameAsBilling(false);" />
                            </div>
                        </div>
                    </li>
                    <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                        <li class="control">
                            <input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" onchange="shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></li>
                    <?php else:?>
                        <li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
                    <?php endif;?>
                </ul>
            </fieldset>
        </li>
        <li id="test">

        </li>
    </ul>

    <?php if (!$this->isCustomerLoggedIn()): ?>
        <div class="delivery-option delivery-notification">
            <div class="title">
                <h2><?php echo $this->__('Delivery Notifications')?></h2>
                <span class="pink-notification-tooltip">
                    <div class="cava-popup">
                        <div class="small-arrow right-direction">
                        <span>
                        <span></span>
                        </span>
                        </div>
                        <div>
                            <h1><?php echo $this->__('Delivery Notifications')?></h1>
                            <p><?php echo $this->__('By providing a shipping contact phone and email address, we have the ability to contact the recipient with questions about delivery.')?></p>
                            <h1><?php echo $this->__('Special note for Gift Senders')?></h1>
                            <p><?php echo $this->__('By including the recipient’s email address or mobile phone, you’re giving us permission to send them a confirmation.')?></p>
                        </div>
                    </div>
                </span>
            </div>
            <div class="input-box rows-input">
                <div class="left rows-input-box">
                    <input type="text" placeholder="Your Email Address" disabled="disabled" name="delivery_email" id="delivery_email" class="input-text delivery_notifications" />
                </div>
                <div class="right rows-input-box">
                    <input type="text" placeholder="Your Mobile Phone (optional)" disabled="disabled" name="delivery_phone" id="delivery_phone" class="input-text delivery_notifications" />
                </div>
            </div>
            <div class="input-box input-box-check">
                <input type="checkbox" name="allow_delivery_notifications" id="allow_delivery_notifications" onclick="deliveryCheckValue('allow_delivery_notifications', 'delivery_notifications'); " class="checkbox" />
                <label for="allow_delivery_notifications"><?php echo $this->__("We'll send you a free text message when the order is ready.")?></label>
            </div>

        </div>
        <div class="delivery-option delivery-new-account">
            <div class="title">
                <h2><?php echo $this->__('Become a fashion insider')?></h2>
                <span class="pink-question-tooltip">
                    <div class="cava-popup">
                        <div class="small-arrow right-direction">
                        <span>
                        <span></span>
                        </span>
                        </div>
                        <div>
                            <h1><?php echo $this->__('Create an Account')?></h1>
                            <p><?php echo $this->__('Create an account optional but required for loyalty program')?></p>
                        </div>
                    </div>
                </span>
            </div>

            <div class="input-box rows-input">
                <div class="left rows-input-box">
                    <input type="password" placeholder="Password" disabled="disabled" name="billing[customer_password]" id="billing:customer_password" class="input-text delivery-password"  onchange="$('billing:customer_password').value = this.value;"/>
                </div>
                <div class="right rows-input-box">
                    <input type="password" placeholder="Re-Enter Password right" disabled="disabled" name="billing[confirm_password]" id="billing:confirm_password" class="input-text delivery-password"  onchange="$('billing:confirm_password').value = this.value;"/>
                </div>
            </div>
            <div class="input-box input-box-check">
                <input type="checkbox" name="billing[allow_new_account]" id="allow_new_account" onclick="deliveryCheckValue('allow_new_account', 'delivery-password')" class="checkbox" />
                <label for="billing[allow_new_account]"><?php echo $this->__("Yes, sign me up for free reward points, free deluxe samples, birthday gifts, and more.")?></label>
            </div>

        </div>
    <?php endif; ?>
</div>
<script type="text/javascript">

    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
    var deliveryDetailbill = new DeliveryDetail('co-delivery-detail-form', "<?php echo $this->getUrl('checkout/onepage/saveDeliveryDetail') ?>");
    jQuery("#use_for_shipping_no" ).on( "click", function() {
        jQuery("#anorther_address").val('1');
        deliveryDetailbill.save();

    });
    jQuery("#use_for_shipping_yes" ).on( "click", function() {
        jQuery("#shipping-new-address-form").hide();
        jQuery("#billing-new-address-form").show();
    });


    //<![CDATA[

    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    function deliveryCheckValue(element, elmCheck) {
        var elmObj = $$('.' + elmCheck);

        elmObj.each(function(elm) {
            if ($(element).checked) {
                elm.removeAttribute('disabled');
                elm.classList.add('required-entry');
            } else {
                elm.setAttribute('disabled', 'disabled');
                elm.className = 'input-text ' + elmCheck;
                if ($('advice-required-entry-' + elm.id)) {
                    $('advice-required-entry-' + elm.id).remove();
                }
            }
        });
    }
    //]]>
</script>
