<form action="<?php echo $this->getPostAction() ?>" method="post" id="sm-checkout-login-form">
    <div class="title">
        <h2><?php echo $this->__('RETURNING CUSTOMER')?></h2>
    </div>
    <?php echo $this->getBlockHtml('formkey'); ?>
    <ul class="form-list">
        <li class="fields-rows">
            <div class="field">
                <label for="login-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                <div class="input-box">
                    <input type="text" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" />
                </div>          
            </div>
            <div class="field right">
                <label for="login-password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                <div class="input-box">
                    <input type="password" class="input-text required-entry" id="login-password" name="login[password]" />
                </div>
            </div>
        </li>
        <li class="fields-rows">
            <div class="field">
                <div class="sm-remmember">
                    <?php echo $this->getChildHtml('sm_checkout.remember.me')?>
                </div>
                <div class="sm-forgot-password">
                    <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="f-left"><?php echo $this->__('forgot password?') ?></a>
                </div>
            </div>
            <div class="field right">
                <span><?php echo $this->__('Social Log In')?></span>
                <div class="sm-button-login">

                    <?php if(Mage::getStoreConfig('le_sociallogin/general/showoncheckout')== 1){
                    $_social = $this->getLayout()->createBlock('le_sociallogin/button');
                    echo $_social->setTemplate('sm/checkout/onepage/delivery/detail/le_sociallogin/button.phtml')->toHtml(); } ?>
                    <button type="submit" name="delivery_login" id="delivery_login" class="button" >
                        <span><?php echo $this->__('SIGN IN')?></span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</form>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('sm-checkout-login-form', true);
    //]]>
</script>