
<div id="co-shipping-form">
    <div class="title">
        <?php if ($this->customerHasAddresses()): ?>
            <h2><?php echo $this->__("Customer's Addresses")?></h2>
        <?php else: ?>
            <h2><?php echo $this->__('New Customer')?></h2>
        <?php endif ?>
    </div>
    <ul class="form-list ">
        <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('shipping') ?>
            </div>
        </li>
        <?php endif ?>
        <li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
            <fieldset>
                <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
                <ul>
                    <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?></li>
                    <li class="fields">
                        <div class="fields">
<!--                            <label for="shipping:company">--><?php //echo $this->__('Company') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" id="shipping:company" placeholder="<?php echo $this->__('Company Name (optional)') ?>" name="shipping[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php //echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>"/>
                            </div>
                        </div>
                    </li>
                     <li>
                        <?php if(!$this->isCustomerLoggedIn()): ?>
    <!--                    <label for="shipping:email" class="required"><em>*</em>--><?php //echo $this->__('Email Address') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" name="shipping[email]" placeholder="<?php echo $this->__('Email Address') ?>" id="shipping:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" onchange="$('billing:email').value = this.value;"/>
                            </div>
                        <?php endif; ?>
                    </li>
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                    <li class="wide">
<!--                        <label for="shipping:street1" class="required"><em>*</em>--><?php //echo $this->__('Address') ?><!--</label>-->
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address') ?>" placeholder="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                        </div>
                    </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                    <li class="wide">
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" placeholder="<?php echo $this->__('Street Address 2 (optional)') ?>" name="shipping[street][]" id="shipping:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php //echo $_streetValidationClass ?>" />
                        </div>
                    </li>
                    <?php endfor; ?>
                    <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                    <li class="wide">
                        <label for="billing:vat_id"><?php echo $this->__('VAT Number'); ?></label>
                        <div class="input-box">
                            <input type="text" id="shipping:vat_id" name="shipping[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>" title="<?php echo $this->__('VAT Number'); ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                        </div>
                    </li>
                    <?php endif; ?>
                    <li class="fields">
<!--                     <label for="shipping:city" class="required"><em>*</em>--><?php //echo $this->__('City') ?><!--</label>-->
                        <div class="input-box">
                        <input type="text" title="<?php echo $this->__('City') ?>" placeholder="<?php echo $this->__('Town/ City') ?>" name="shipping[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="shipping:city" />
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field field-country">
                            <!--                            <label for="shipping:region" class="required"><em>*</em>--><?php //echo $this->__('State/Province') ?><!--</label>-->
                            <div class="input-box">
                                <select id="shipping:region_id" name="shipping[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('County (opt.)') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('shipping:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="shipping:region" placeholder="<?php echo $this->__('County (opt.)') ?>" name="shipping[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                            </div>
                        </div>
                        <div class="field field-code">
<!--                            <label for="shipping:postcode" class="required"><em>*</em>--><?php //echo $this->__('Zip/Postal Code') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" placeholder="<?php echo $this->__('Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                            </div>
                        </div>
                        <div class="field field-billing">
<!--                            <label for="shipping:country_id" class="required"><em>*</em>--><?php //echo $this->__('Country') ?><!--</label>-->
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('shipping') ?>
                            </div>
                        </div>
                    </li>
                    <li class="fields fields-rows">
                        <div class="field">
<!--                            <label for="shipping:telephone" class="required"><em>*</em>--><?php //echo $this->__('Telephone') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" name="shipping[telephone]" placeholder="<?php echo $this->__('Telephone') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="shipping:telephone" />
                            </div>
                        </div>
                        <div class="field right">
<!--                            <label for="shipping:fax">--><?php //echo $this->__('Fax') ?><!--</label>-->
                            <div class="input-box">
                                <input type="text" name="shipping[fax]" placeholder="<?php echo $this->__('Fax') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="shipping:fax" />
                            </div>
                        </div>
                    </li>
                </ul>
            </fieldset>
        </li>
        <li id="business-address">
            <div class="input-box input-box-address">
                <input type="checkbox" name="delivery_business_address" id="delivery_business_address" onclick="" class="checkbox" />
                <label for="delivery_business_address"><?php echo $this->__('This is a business address')?></label>
                <span class="pink-question-tooltip">
                    <div class="cava-popup">
                        <div class="small-arrow right-direction">
                        <span>
                        <span></span>
                        </span>
                        </div>
                        <div>
                            <p><?php echo $this->__('This helps us choose the best shipping method for you. Business shipments are normally delivered on weekdays by 5:00 p.m. local time. Residential shipments are normally delivered Monday - Saturday by 8:00 p.m. local time.')?></p>
                        </div>
                    </div>
                </span>
            </div>
        </li>
    </ul>
    <?php if (!$this->isCustomerLoggedIn()): ?>
        <div class="delivery-option delivery-notification">
            <div class="title">
                <h2><?php echo $this->__('Delivery Notifications')?></h2>
                <span class="pink-notification-tooltip">
                    <div class="cava-popup">
                        <div class="small-arrow right-direction">
                        <span>
                        <span></span>
                        </span>
                        </div>
                        <div>
                            <h1><?php echo $this->__('Delivery Notifications')?></h1>
                            <p><?php echo $this->__('By providing a shipping contact phone and email address, we have the ability to contact the recipient with questions about delivery.')?></p>
                            <h1><?php echo $this->__('Special note for Gift Senders')?></h1>
                            <p><?php echo $this->__('By including the recipient’s email address or mobile phone, you’re giving us permission to send them a confirmation.')?></p>
                        </div>
                    </div>
                </span>
            </div>
            <div class="input-box rows-input">
                <div class="left rows-input-box">
                    <input type="text" placeholder="Your Email Address" disabled="disabled" name="delivery_email" id="delivery_email" class="input-text delivery_notifications" />
                </div>
                <div class="right rows-input-box">
                    <input type="text" placeholder="Your Mobile Phone (optional)" disabled="disabled" name="delivery_phone" id="delivery_phone" class="input-text delivery_notifications" />
                </div>
            </div>
            <div class="input-box input-box-check">
                <input type="checkbox" name="allow_delivery_notifications" id="allow_delivery_notifications" onclick="deliveryCheckValue('allow_delivery_notifications', 'delivery_notifications'); " class="checkbox" />
                <label for="allow_delivery_notifications"><?php echo $this->__("We'll send you a free text message when the order is ready.")?></label>
            </div>
           
        </div>
        <div class="delivery-option delivery-new-account">
            <div class="title">
                <h2><?php echo $this->__('Become a fashion insider')?></h2>
                <span class="pink-question-tooltip">
                    <div class="cava-popup">
                        <div class="small-arrow right-direction">
                        <span>
                        <span></span>
                        </span>
                        </div>
                        <div>
                            <h1><?php echo $this->__('Create an Account')?></h1>
                            <p><?php echo $this->__('Create an account optional but required for loyalty program')?></p>
                        </div>
                    </div>
                </span>
            </div>
             
            <div class="input-box rows-input">
                <div class="left rows-input-box">
                    <input type="password" placeholder="Password" disabled="disabled" name="shipping[customer_password]" id="shipping:customer_password" class="input-text delivery-password"  onchange="$('billing:customer_password').value = this.value;"/>
                </div>
                <div class="right rows-input-box">
                     <input type="password" placeholder="Re-Enter Password right" disabled="disabled" name="shipping[confirm_password]" id="shipping:confirm_password" class="input-text delivery-password"  onchange="$('billing:confirm_password').value = this.value;"/>
                </div>
            </div>
            <div class="input-box input-box-check">
                <input type="checkbox" name="shipping[allow_new_account]" id="allow_new_account" onclick="deliveryCheckValue('allow_new_account', 'delivery-password')" class="checkbox" />
                <label for="shipping[allow_new_account]"><?php echo $this->__("Yes, sign me up for free reward points, free deluxe samples, birthday gifts, and more.")?></label>
            </div>
                
        </div>
    <?php endif; ?>
</div>
<script type="text/javascript">
    //<![CDATA[
    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
    function deliveryCheckValue(element, elmCheck) {
        var elmObj = $$('.' + elmCheck);

        elmObj.each(function(elm) {
            if ($(element).checked) {
                elm.removeAttribute('disabled');
                elm.classList.add('required-entry');
            } else {
                elm.setAttribute('disabled', 'disabled');
                elm.className = 'input-text ' + elmCheck;
                if ($('advice-required-entry-' + elm.id)) {
                    $('advice-required-entry-' + elm.id).remove();
                }
            }
        });
    }
    //]]>
</script>
