
<div class="step2-total step2-total-left">
    <div class="input-box">
        <input type="checkbox" name="accept_term_condition" id="accept_term_condition" class="checkbox" />
        <label for="accept_term_condition">
            <?php echo $this->__('*Accept CAVA BIEN FASHION Community ')?>
            <a href="#"><?php echo $this->__('Term & Conditions')?></a>
        </label>
    </div>
</div>

<div class="step2-total step2-total-right">
    <?php $_totals = $this->getQuote()->getTotals();?>
    <div class="step2-grand-total">
        <h2><?php echo $this->__('GRAND TOTAL: ')?></h2>
        <?php echo Mage::helper('checkout')->formatPrice($_totals['grand_total']->getValue())?>
    </div>
    <div class="buttons-set" id="delivery-detail-buttons-container">
        <span id="delivery-detail-please-wait" class="please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
        <button type="button" id="save_billing_shipping" class="button" onclick="deliveryDetail.save()"><span><span><?php echo $this->__('Continue Checkout') ?></span></span></button>
    </div>
   
</div>
<script type="text/javascript">
    jQuery("#use_for_shipping_no" ).on( "click", function() {
        jQuery("#anorther_address").val('0');
    });
</script>