<?php
$themeHelper = Mage::helper('cavabien_theme');

if (Mage::registry('current_category')) {
    $_categories = Mage::registry('current_category')->getPath();
    $_categoryArr = explode("/", $_categories);
    $topCategory = $_categoryArr[2];
    $giftCate = $themeHelper->getCertificateByCategoryId($topCategory);

    if ($giftCate) {
?>
        <p><a class="cert_link" href="<?php echo $giftCate->getUrl(); ?>"><?php echo strtoupper($giftCate->getName()); ?></a></p>
<?php
    }
}
?>
