<?php $currentCategory = $this->getCurrentCategory(); ?>
<?php $subcategories = $this->getSubcategories(); ?>
<div class="block shopby">
    <div class="block-title">
        <strong><span><?php echo $this->__('Shop Categories'); ?></span></strong>
    </div>
    <div class="block-content">
        <?php echo $this->getChildHtml('category_top_menu_link'); ?>

        <ul class="categories">
            <li class="active">
                <span><?php echo $currentCategory->getName(); ?></span>
                <ul>
                    <?php foreach ($subcategories as $_subcategory): ?>
                        <li><a href="<?php echo $_subcategory->getUrl(); ?>"><?php echo $_subcategory->getName(); ?></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </li>
        </ul>
    </div>
    <?php echo $this->getChildHtml('cavabien_navigation_filter'); ?>
    <?php echo $this->getChildHtml('cavabien_layer_filter_category'); ?>
    <?php echo $this->getChildHtml('cavabien_layer_view'); ?>
</div>