    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>
<?php echo $this->getChildHtml('loved.to.tags.tabs') ?>
<div class="page-title">
    <h1><?php echo $this->__('My Tags') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="tags-content">
    <div class="page-title">
        <h1><?php echo $this->__('My Tags') ?></h1>
    </div>
    <div class="tags-ct">
    <?php if($this->getTags()): ?>
        <p><?php echo $this->__('Click on a tag to view your corresponding products.') ?></p>
        <ul class="tags-list">
            <?php foreach ($this->getTags() as $_tag): ?>
                <li><a href="<?php echo $this->getUrl('tag/customer/view', array('tagId' => $_tag->getTagId())) ?>" style="font-size:<?php echo $_tag->getRatio()*70+75 ?>%;"><?php echo $this->escapeHtml($_tag->getName()) ?></a></li>
            <?php endforeach; ?>
        </ul>
    <?php else: ?>
        <p><?php echo $this->__('No Tags are set at this time.') ?></p>
    <?php endif; ?>
</div>
</div>

