<label for="<?php echo $this->getFieldId('month')?>"<?php if ($this->isRequired()) echo ' class="required"' ?>><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('<b>Birth date</b>') ?></label>
<div class="input-box customer-dob">

    <select name="nmon" id="nmon" onchange="getElementById('<?php echo $this->getFieldId('month');?>').value=this.value" style="width:90px;">
        <option value="">Month</option>
        <option value="01"<?php if($this->getMonth() == "01"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("January"); ?></option>
        <option value="02"<?php if($this->getMonth() == "02"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("February"); ?></option>
        <option value="03"<?php if($this->getMonth() == "03"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("March"); ?></option>
        <option value="04"<?php if($this->getMonth() == "04"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("April"); ?></option>
        <option value="05"<?php if($this->getMonth() == "05"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("May"); ?></option>
        <option value="06"<?php if($this->getMonth() == "06"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("June"); ?></option>
        <option value="07"<?php if($this->getMonth() == "07"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("July"); ?></option>
        <option value="08"<?php if($this->getMonth() == "08"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("August"); ?></option>
        <option value="09"<?php if($this->getMonth() == "09"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("September"); ?></option>
        <option value="10"<?php if($this->getMonth() == "10"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("October"); ?></option>
        <option value="11"<?php if($this->getMonth() == "11"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("November"); ?></option>
        <option value="12"<?php if($this->getMonth() == "12"): ?> selected="selected"<?php endif; ?>><?php echo $this->__("December"); ?></option>
    </select>

    <select name="nday" id="nday" onchange="getElementById('<?php echo $this->getFieldId('day');?>').value=this.value" style="width:80px;">
        <option value="">Day</option>
        <?php for($i=1;$i<=31;$i++) { ?>
            <option value="<?php if($i==1 || $i==2 || $i==3 || $i==4 || $i==5 || $i==6 || $i==7 || $i==8 || $i==9): echo '0'.$i; else: echo $i; endif; ?>"<?php if($i == $this->getDay()):?> selected="selected"<?php endif; ?>><?php if($i==1 || $i==2 || $i==3 || $i==4 || $i==5 || $i==6 || $i==7 || $i==8 || $i==9): echo '0'.$i; else: echo $i; endif; ?></option>
        <?php } ?>
    </select>

    <select name="nyear" id="nyear" onchange="getElementById('<?php echo $this->getFieldId('year');?>').value=this.value" style="width:80px;">
        <option value="">Year</option>
        <?php for($j=date('Y')-80;$j<=date('Y');$j++) { ?>
            <option value="<?php echo $j; ?>"<?php if($j == $this->getYear()):?> selected="selected"<?php endif; ?>><?php echo $j; ?></option>
        <?php } ?>
    </select>

    <?php
    $this->setDateInput('d',
        '<div class="dob-day">
        <input type="hidden" id="' . $this->getFieldId('day') . '" name="' . $this->getFieldName('day') . '" value="' . $this->getDay() . '" title="' . $this->__('Day') . '" class="input-text" ' . $this->getFieldParams() . '  />

    </div>'
    );
    ?>

    <?php
    $this->setDateInput('m',
        '<div class="dob-month">
        <input type="hidden" id="' . $this->getFieldId('month') . '" name="' . $this->getFieldName('month') . '" value="' . $this->getMonth()  . '" title="' . $this->__('Month')  . '" class="input-text" ' . $this->getFieldParams()  . '/>

    </div>'
    );

    $this->setDateInput('y',
        '<div class="dob-year">
        <input type="hidden" id="' . $this->getFieldId('year') . '" name="' . $this->getFieldName('year') . '" value="' . $this->getYear()  . '" title="' . $this->__('Year')  . '" class="input-text" ' . $this->getFieldParams()  . ' />
    </div>'
    );
    ?>

    <?php echo $this->getSortedDateInputs() ?>

    <div class="dob-full" style="display:none;">
        <input type="hidden" id="<?php echo $this->getFieldId('dob')?>" name="<?php echo $this->getFieldName('dob')?>" value="" class="validate-date"/>
    </div>

    <div class="validation-advice" style="display:none;">
        <?php echo $this->__('Please enter a valid date.') ?>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var customer_dob = new Varien.DOB('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php echo $this->getDateFormat() ?>');
    //]]>
</script>