<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php 
$_request = $this->getRequest();
$contacts = $this->getRequest()->getParam('contacts');
$addressBook = $this->getCurentAddressBook();

?> 
<div class="in-step3 in-step3Facebook">
	<h1><?php echo $this->__('Your Facebook contacts') ?></h1>
	<div style="position:static;">
		
<?php if (count($contacts) == 0) { 
	echo $this->__('You do not have any contacts in your address book.').'<br/>';
} else { 
	$todayInvited = $addressBook->getLastCustomerInvConnectCodes();		
?>
		<div>You can choose
		<span id="maxInvitationsPerNow">
		<?php 
			$maxInvitationsPerNow = $addressBook->getCustomerInvCountAvailable();
			echo $maxInvitationsPerNow;
		?>
		</span> 
		more friends today</div>
		<form action="" method="POST" name="openinviter" >
		<ul>
			<?php
			$counter = 0;
			foreach ($contacts as $contact) {
				$counter++;
				$allowed = empty($todayInvited[$contact['uid']]);
			?>
				<li <?php if ($allowed) echo 'class="allowed"'; else echo 'class="active"'; ?>>
					<input class="fb-checkbox" name='check_<?php echo $counter ?>' value='<?php echo $contact['uid'].':'.htmlspecialchars($contact['name']) ?>' type='checkbox' style="display:none;" />
					<img src="<?php echo $contact['pic_square'] ?>" title="<?php echo $contact['name'] ?>"/>
					<?php if ($allowed) { ?>
						<?php echo $contact['name'] ?>
					<?php } else { ?>
						<?php echo $this->__('You can\'t invite') ?><br/>
						<?php echo $contact['name'] ?><br/>
						<?php echo $this->__('Today') ?><br/>
					<?php } ?>
				</li>
			<?php } ?>
		</ul>
		</form>
		<br />
		<button type="button" class="button"  name='import' onclick="pInvitations.goToStep1();"><span><?php echo $this->__('Back') ?></span></button>
		<?php if (count($contacts) != 0) {  ?>
		<button class="button" type="buttom" onclick="add(); return false;" name='import'><span><?php echo $this->__('Add Selected Contacts') ?></span></button>
		<?php } ?>


		<script type='text/javascript'>
			var maxInvitationsPerNow = <?php echo $maxInvitationsPerNow ?>;
			
			pjQuery(document).ready(function(){
				pjQuery('.in-step3Facebook li.allowed').click(function(){
					var e = pjQuery(this).children('.fb-checkbox:first');
					if (!e.attr('checked'))
					{
						if (maxInvitationsPerNow > 0)
						{
							e.attr('checked', 'checked');
							pjQuery(this).addClass('active');
							maxInvitationsPerNow--;
						}
					}
					else
					{
						e.attr('checked', false);
						pjQuery(this).removeClass('active');
						maxInvitationsPerNow++;
					}
					pjQuery('#maxInvitationsPerNow').html(maxInvitationsPerNow);
				});
			});

			function add()
			{
				var form = document.forms.openinviter, i = 0;
				var result = '';
				for(i = 0; i < form.length; i++)
				{
					if (form[i].type == 'checkbox' && form[i].checked && form[i].value)
					{
						var v = form[i].value.split(':');
						if (v.length < 2)
							v[1] = v[0];
						pInvitations.addToContactList(v[0], v[1], '<?php echo $_request->getParam('addressBookId') ?>');		
					}
				}
				pjQuery.fancybox.close();
			}
		</script>
<?php } ?>
	</div>
</div>

