<?php
/**
 * Cavabien_Theme
 *
 * @category    Cavabien
 * @package     Cavabien_Theme
 * @copyright   Copyright (c) 2014 SmartOSC Inc. (http://www.smartosc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>

<?php
$cat = Mage::app()->getStore()->getRootCategoryId();
$category = Mage::getModel('catalog/category')->load($cat);
$categories = $category->getChildrenCategories();
$currentCategory = Mage::registry('current_category');
$_block = Mage::app()->getLayout()->createBlock('custommenu/filter');
$data = Mage::registry('sm_cat_attr');
?>
<?php if (isset($currentCategory)): ?>
    <?php foreach($categories as $item): ?>
        <?php if($item->getId() == $currentCategory->getId()): ?>
            <?php $currentSubCategories = $currentCategory->getChildrenCategories(); ?>
            <div id="sub-category-listing">
                <ul>
                <?php $i = 0; foreach($currentSubCategories as $item): ?>
                    <?php
                        if(++$i >=6){
                            break;
                        }
                    ?>
                        <li>
                            <span><a href="<?php echo $item->getUrl()?>" title="<?php echo $item->getName(); ?>"><?php echo $item->getName(); ?></a></span>
                            <?php
                            $cat = Mage::getModel("catalog/category")->load($item->getId());

                            $attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product', $cat->getData('style_attribute'));
                            if ($attribute->usesSource()) {
                                $options = $attribute->getSource()->getAllOptions(false);

                                foreach($options as $_option): ?>
                                    <a class="itemMenuName level2" href="<?php echo $item->getUrl() . '?' . $cat->getData('style_attribute') . '=' . $_option['value']?>"><?php echo $this->__($_option['label'])?></a>
                                <?php endforeach;
                            }
                            unset($attribute);unset($cat);
                            ?>

                        </li>
                <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
<script type="text/javascript">
jQuery(document).ready(function($) {
    jQuery("#sub-category-listing > ul").each(function() {
       var maxHeight = Math.max.apply(null, jQuery(this).find('li').map(function ()
        {
        return jQuery(this).height();
        }).get());
        jQuery(this).find('li').css('height', maxHeight); 
    });
    
});

</script>
