
<?php $_order = $this->getOrder(); ?>
<div class="order-success-info">
    <table>
        <thead>
            <tr>
                <td><?php echo $this->__('Shipping address')?></td>
                <td><?php echo $this->__('Billing address')?></td>
                <td><?php echo $this->__('Payment method')?></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="box-content">
                        <address><?php echo $_order->getShippingAddress()->format('html') ?></address>
                    </div>
                </td>
                <td>
                    <div class="box-content">
                        <address><?php echo $_order->getBillingAddress()->format('html') ?></address>
                    </div>
                </td>
                <td>
                    <div class="box-content">
                        <?php echo $this->getPaymentInfoHtml() ?>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<?php if(Mage::getSingleton('customer/session')->isLoggedIn()): ?>
<div class="order-success-rewardpoints">
    <?php
    $customer = Mage::getSingleton('customer/session');
    $_customerPoints = $this->getPointsCurrent();
    $collection = Mage::getResourceModel('rewardpoints/grid_collection')
        ->addFieldToFilter('order_id', $this->getOrderId())
        ->addFieldToFilter('customer_id', $customer->getId());
    $_pointEarned = $collection->getFirstItem()->getData('points_current');
    $_money = Mage::helper('checkout')->formatPrice(Mage::helper('rewardpoints/data')->convertPointsToMoneyEquivalence($_pointEarned));
    ?>
    <div class="title">
        <h1><?php echo $this->__('Reward Points')?></h1>
    </div>
    <div class="o-s-rewardpoints-info">
        <div class="o-s-rewardpoints-left">
            <p><?php echo $this->__("You have just earned <span>%s rewards points</span> worth %s", $_pointEarned, $_money)?></p>
            <p><?php echo $this->__('These points will be available for use for 30 days after your order is dispatched, so start redeeming your rewards.')?><span><a href="#"><?php echo $this->__('Learn more')?></a> </span></p>
        </div>
        <div class="o-s-rewardpoints-right">
            <div class="o-s-rewardpoints-row">
                <label><?php echo $this->__('My Reward Points')?></label>
                <span><?php echo $_customerPoints?></span>
            </div>
            <div class="o-s-rewardpoints-row">
                <label><?php echo $this->__('Points Earned Today')?></label>
                <span><?php echo $_pointEarned?></span>
            </div>
            <div class="o-s-rewardpoints-total">
                <label><?php echo $this->__('Total Rewards Points')?></label>
                <span><?php echo intval($_customerPoints) + intval($_pointEarned)?></span>
            </div>
        </div>
    </div>
</div>
<?php endif;?>

<form action="<?php echo $this->getUrl('checkout/onepage/savePoll'); ?>" id="recommendations-form" method="post">
    <div class="title">
        <h1><?php echo $this->__('Recommendations')?></h1>
    </div>
    <ul id="sm-poll-list">
        <?php for ($i = 0; $i <= 10; $i++):?>
        <li><a href="javascript:void(0)" data-poll="<?php echo $i ?>" class="sm-poll-option"><?php echo $i ?></a></li>
        <?php endfor; ?>
    </ul>
    <input type="hidden" name="sm-poll-choose" id="sm-poll-choose" value="">
    <div class="buttons-set">
        <button type="submit" class="button" title="<?php echo $this->__('Continue Shopping') ?>" ><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
    </div>
</form>

<script type="text/javascript">
    var smPoll = $$('#sm-poll-list .sm-poll-option');
    smPoll.each(function(pollOption) {
        Event.observe($(pollOption), 'click', function () {
            $$('#sm-poll-list .sm-current-vote').each(function(currentVote) {
                $(currentVote).classList.remove('sm-current-vote');
            });
            $(pollOption).classList.add('sm-current-vote');
            $('sm-poll-choose').value = $(pollOption).getAttribute('data-poll');
        });
    });
</script>