

<?php
$_order = $this->getOrder();
$_items = $_order->getItemsCollection();
?>

<div class="title">
    <h2><?php echo $this->__('RETURNING CUSTOMER')?></h2>
    <span><?php echo $this->__('Share Your Purchase with Friends')?></span>
</div>

<table id="sm-success-items-table" class="data-table items-table">
    <?php foreach ($_items as $_item): $_product = $_item->getProduct();?>
    <?php if ($_item->getParentItem()) continue; ?>
    <tr>
        <th class="a-left">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($_product->getName()) ?>" /></a>
        </th>
        <th class="a-center">
            <div class="items-name">
                <p><?php echo $this->__('I just bought: <b>%s</b> at Cava Bien Fashion!', $_product->getName())?></p>
                <a href="<?php echo Mage::getBaseUrl()?>"><?php echo $this->__('www.cava-bien.com')?></a>
            </div>
            <div class="items-info">
                <div class="items-info-left">
                    <?php if ($_options = $this->gerItemOptions($_item)):?>
                    <?php foreach ($_options as $_option) : ?>
                        <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                        <div class="items-info-item">
                            <label><?php echo $this->escapeHtml($_option['label']) ?></label>
                            <span><?php echo $this->escapeHtml($_option['value']) ?></span>
                        </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
                <div class="items-info-right">
                    <span><?php echo $this->__('Share With Friends')?></span>
                    <div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $_product->getProductUrl() ?>" addthis:title="<?php echo $_product->getName() ?>" addthis:description="<?php echo $_product->getShortDescription() ?>">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_pinterest_pinit"></a>
                    </div>
                </div>
            </div>
        </th>
    </tr>
    <?php endforeach;?>
</table>
<script type="text/javascript">decorateTable('sm-shopping-cart-table')</script>