<?php
/** @var $themHelper Cavabien_Theme_Helper_Data */
$themHelper = Mage::helper('cavabien_theme');
$currentCurrencyCode = $this->getCurrentCurrencyCode();
$currentCurrencyData = Mage::app()->getLocale()->currency($currentCurrencyCode);
?>

<div class="current-currency">
    <a href="<?php echo $this->getSwitchCurrencyUrl($currentCurrencyCode); ?>" title="<?php echo $currentCurrencyData->getName(); ?>">
        <i class="fa fa-angle-double-down fa-fw">&nbsp;&nbsp;</i><img src="<?php echo $themHelper->getCurrencyIcon($currentCurrencyCode); ?>" alt="<?php echo $currentCurrencyData->getName(); ?>"/>
        <?php //echo $currentCurrencyData->getSymbol(); ?>
    </a>
</div>

<?php $currencies = $this->getCurrencies(); ?>
<?php if (count($currencies) > 1): ?>
    <div class='currencies-list'>
        <div class="cava-popup">
            <div class="small-arrow"><span><span></span></span></div>
            <ul>
                <?php foreach ($currencies as $currencyCode => $currencyName): ?>
                    <?php $currencyData = Mage::app()->getLocale()->currency($currencyCode); ?>
                    <li>
                        <a title="<?php echo $currencyName; ?>" class="flag-icon" href="<?php echo $this->getSwitchCurrencyUrl($currencyCode) ?>">
                            <img src="<?php echo $themHelper->getCurrencyIcon($currencyCode) ?>" alt="<?php echo $currencyName; ?>"/>
                            <?php //echo $currencyData->getSymbol(); ?>
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>