<?php
$order = $this->getTrackOrder();
$data = $order->getItemsCollection()->addAttributeToSelect('*')->load();
?>
<ul class="list-order list-record">
<?php
foreach($data as $item)
{
    $_totalData =$item->getData();
    echo "<li class='col1'>".$order->getIncrementId()."</li>";
    $time = $order->getCreatedAtStoreDate()->toString(Varien_Date::DATETIME_INTERNAL_FORMAT);
    $arrTime = explode(' ',$time);
    $dateOrder = $arrTime['0'];
    echo "<li class='col2'>".$dateOrder."</li>";
    echo "<li class='col3'>".$item->getStatus()."</li>";
    echo "<li class='col4'>".$item->getName()."</li>";
    echo "<li class='col5'>".$_totalData['row_total']."</li>";
}
?>
</ul>


