<?php
if(Mage::getStoreConfig('trackorder/trackorder_general/enabled')):
    ?>
<div class="trackorder content-cms clearfix">
    <div class="bx-content pull-left ">
        <h3><?php echo $this->__('Check Order Status') ?></h3>
        <div class="form-list">
            <p class="require"><?php echo $this->__('* Required'); ?></p>
            <form name="track_order_static" id="track_order_static" action="" method="post" onsubmit="sendAjaxStatic('track_order_static','<?php  echo Mage::getUrl('*/*/track');?>'); return false;">
                <ul class="form-list">
                    <li class="email">
                        <label for="email_address" class="required"><span>*</span><?php echo $this->__(' Enter Email Address: ') ?></label>
                        <div class="input-box" >
                            <input type="text" name="email" id="email_address" value="" title="<?php echo $this->__('Email Address') ?>*" class="input-text validate-email required-entry" />
                        </div>
                    </li>
                    <li class="order-no">
                        <label for="order_id" class="required"><span>*</span><?php echo $this->__(' Order Number: ') ?></label>
                        <div class="input-box">
                            <input type="text" name="order_id" id="order_id" value="" title="" class="input-text validate-number required-entry" />
                        </div>                        
                    </li>
                    <li class="bx-btn">
                        <button type="submit" class="button" title="<?php echo $this->__('Track Order') ?>" name="track" id="track"><span><span><?php echo $this->__('Track It') ?></span></span><i class="fa fa-caret-right fa-fw"></i></button>
                    </li>
                </ul>
            </form>
            <div id="loading-details-static" class="loading-details-static" style="display:none">
                <div id="loading-mask" >
                    <p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('trackorder/images/ajax-loader-tr.gif') ?>" alt="<?php echo Mage::helper('adminhtml')->__('Loading...') ?>"/><br/><?php echo $this->__('Please wait...') ?></p>
                </div>
            </div>
        </div>

        <ul class="list-order list-title">
            <li class="col1">Order Number</li>
            <li class="col2">Date</li>
            <li class="col3">Status</li>
            <li class="col4">Items</li>
            <li class="col5">Total</li>
        </ul>

        <div id="oderinfo_static">
            <?php if ($order = $this->getTrackOrder()): ?>
            <?php $data = $order->getItemsCollection()->addAttributeToSelect('*')->load();?>
            <ul class="list-order list-record">
                <?php
                foreach($data as $item)
                {
                    $_totalData =$item->getData();
                    echo "<li class='col1'>".$order->getIncrementId()."</li>";
                    $time = $order->getCreatedAtStoreDate()->toString(Varien_Date::DATETIME_INTERNAL_FORMAT);
                    $arrTime = explode(' ',$time);
                    $dateOrder = $arrTime['0'];
                    echo "<li class='col2'>".$dateOrder."</li>";
                    echo "<li class='col3'>".$item->getStatus()."</li>";
                    echo "<li class='col4'>".$item->getName()."</li>";
                    echo "<li class='col5'>".$_totalData['row_total']."</li>";
                }
                ?>
            </ul>
            <?php else: ?>
                <?php echo $this->__('No Order Found')?>
            <?php endif; ?>
        </div>

        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_20x20_style">
            <a class="addthis_button_instagram_follow" addthis:userid="YOUR-USERNAME"></a>
            <a class="addthis_button_pinterest_share"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_tumblr"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_youtube_follow" addthis:userid="YOUR-USERNAME"></a>
            <a class="addthis_button_facebook"></a>
        </div>
        <!-- AddThis Button END -->

        <script type="text/javascript">
            var validateForm = new VarienForm('track_order_static', true);
        </script>
        <script type="text/javascript">

            function sendAjaxStatic(frmId,url){
                if (!validateForm.validator.validate()) {
                    return;
                }
                var data = $(frmId).serialize(this);
                $("loading-details-static").show();
                new Ajax.Updater(
                    {
                        success:"oderinfo_static"
                    },
                    url,
                    {
                        asynchronous:true,
                        evalScripts:false,
                        onComplete:function(request, json){
                            $("loading-details-static").hide();
                            return false;
                        },
                        onLoading:function(request, json){},
                        parameters:data
                    }
                );
                return false;
            }

        </script>
    </div>
    <div class="bx-image pull-right">
        <img src="<?php echo $this->getSkinUrl('images/catalog_request.jpg'); ?>" alt="image trackorder" />
    </div>
</div>
<?php else: ?>
    <?php
    $url = Mage::getBaseUrl();
    Mage::app()->getFrontController()->getResponse()->setRedirect($url);
    ?>
<?php endif; ?>

