<?php
    if(Mage::getStoreConfig('trackorder/trackorder_general/enabled')):
    ?>
    <h3><?php echo $this->__('Check Your Order Status Without Signing In') ?></h3>
    <p>Enter your Email, Order Number and Click <a href="#">TRACK ORDER</a></p>
    <div class="form-list" style="float:left;">
        <form name="track_order" id="track_order" action="<?php  echo Mage::getUrl('trackorder');?>" method="post" >
            <ul class="form-list">
                <li>
                    <label for="email_address" class="required"><?php echo $this->__('Email: ') ?></label>
                    <div class="input-box" >
                        <input type="text" name="email" id="email_address" value="" title="<?php echo $this->__('Email Address') ?>*" class="input-text validate-email required-entry" />
                    </div>
                </li>
                <li class="order-no">
                    <label for="order_id" class="required"><?php echo $this->__('Order No: ') ?></label>
                    <div class="input-box">
                        <input type="text" name="order_id" id="order_id" value="" title="" class="input-text validate-number required-entry" />
                    </div>
                    <button type="submit" class="button" title="<?php echo $this->__('Track Order') ?>" name="track" id="track"><span><span><?php echo $this->__('Track Order') ?></span></span></button>
                </li>
            </ul>
        </form>

        <div id="loading-details" class="loading-details" style="display:none">
            <div id="loading-mask" >
                <p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('trackorder/images/ajax-loader-tr.gif') ?>" alt="<?php echo Mage::helper('adminhtml')->__('Loading...') ?>"/><br/><?php echo $this->__('Please wait...') ?></p>
            </div>
        </div>
        <p>Or Sign In into Your account, then Click Order Status to view the status of a current order and your order history.</p>
    </div>

        <div id="oderinfo" class="order-info-message"></div>
        
    <script type="text/javascript">
        var validateForm = new VarienForm('track_order', true);
    </script>           
    <script type="text/javascript">

        function sendAjax(frmId,url){
            if (!validateForm.validator.validate()) {
                return;
            }
            var data = $(frmId).serialize(this);
            $("loading-details").show();
            new Ajax.Updater(
                {
                    success:"oderinfo"
                }, 
                url,
                {
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json){
                        $("loading-details").hide();
                        return false;
                    }, 
                    onLoading:function(request, json){},
                    parameters:data
                }
            ); 
            return false;
        }

    </script>
    <?php else: ?>
    <?php
        $url = Mage::getBaseUrl();
        Mage::app()->getFrontController()->getResponse()->setRedirect($url);
    ?>
    <?php endif; ?>
 
