<div class="cart_box">
    <span class="cart-icon"></span>
    <div class="border-fix"></div>
    <p class="cart-title">
    <a href="<?php echo $this->getUrl('checkout/cart/') ?>"><?php echo $this->__("View bag") ?>/</a><a href="<?php echo $this->getUrl('checkout/') ?>"><?php echo $this->__("Checkout") ?></a>
    </p>
    <?php $cart = Mage::getModel('checkout/cart')->getQuote()->getData();
     if (isset($cart['items_qty'])) {
        $qty = (int)$cart['items_qty'];
        //$total = $cart['grand_total'];
        $total = Mage::helper('checkout/cart')->getQuote()->getSubtotal();

     } else {
        $qty = 0;
        $total = '0.00';
    } ?>
    <?php
    $_symbol =  Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
    ?>
   <p class="subtotal">
    <span><?php echo $this->__("Item:") ?><?php echo $qty; ?></span>&nbsp;
    <span><?php echo $this->__("Total:") ?> <?php echo str_replace($_symbol,$_symbol." ",Mage::helper('checkout')->formatPrice($total)); ?></span>
    </p>
    <div class="cart-header-popup" style="display: none">
        <?php echo $this->getChildHtml('mini_cart_top') ?>
    </div>
</div>