<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.2
 * @since        Class available since Release 2.0
 */
?>

<ul id="tab_title">
    <li class="bra-tab" data-tab-content="tab1_content">A-D</li>
    <li class="bra-tab" data-tab-content="tab2_content">DD-G</li>
    <li class="bra-tab" data-tab-content="tab3_content">GG-H</li>
</ul>

<div id="tab1_content" class="tab_content">
    <?php foreach ($this->getItems() as $_item): ?>
        <ol class="cal-interface">
        <?php if (in_array(substr($_item->getLabel(),-1), array('A','B','C','D'))): ?>
            <?php
            $stock = ($this->getFilter()->getRequestVarValue() == 'stock_status');
            $data_param = urlencode(($_item->getActive() || $this->isActiveFilter($_item->getLabel())) ? $_item->getRemoveUrlParams() : $_item->getUrlParams($stock));
            ?>
            <li><a data-ajax="<?php echo ($this->ajaxEnabled()) ? 1 : 0 ;?>" data-param="<?php echo $data_param; ?>" data-url="<?php echo $_item->getCleanUrl(true); ?>" <?php if($_item->getActive() || $this->isActiveFilter($_item->getLabel())):?> class="active" <?php endif;?> onclick="GomageNavigation.click(this); return false;" href="<?php echo $_item->getCleanUrl(true) . $data_param; ?>"><?php echo $_item->getLabel() ?></a></li>
        <?php endif; ?>
        </ol>
    <?php endforeach; ?>
</div>
<div id="tab2_content" class="tab_content">
    <?php foreach ($this->getItems() as $_item): ?>
        <ol class="cal-interface">
            <?php if (in_array(substr($_item->getLabel(),-1), array('E','F','G'))): ?>
                <?php
                $stock = ($this->getFilter()->getRequestVarValue() == 'stock_status');
                $data_param = urlencode(($_item->getActive() || $this->isActiveFilter($_item->getLabel())) ? $_item->getRemoveUrlParams() : $_item->getUrlParams($stock));
                ?>
                <li><a data-ajax="<?php echo ($this->ajaxEnabled()) ? 1 : 0 ;?>" data-param="<?php echo $data_param; ?>" data-url="<?php echo $_item->getCleanUrl(true); ?>" <?php if($_item->getActive() || $this->isActiveFilter($_item->getLabel())):?> class="active" <?php endif;?> onclick="GomageNavigation.click(this); return false;" href="<?php echo $_item->getCleanUrl(true) . $data_param; ?>"><?php echo $_item->getLabel() ?></a></li>
            <?php endif; ?>
        </ol>
    <?php endforeach; ?>
</div>
<div id="tab3_content" class="tab_content">
    <?php foreach ($this->getItems() as $_item): ?>
        <ol class="cal-interface">
            <?php if (in_array(substr($_item->getLabel(),-1), array('H'))): ?>
                <?php
                $stock = ($this->getFilter()->getRequestVarValue() == 'stock_status');
                $data_param = urlencode(($_item->getActive() || $this->isActiveFilter($_item->getLabel())) ? $_item->getRemoveUrlParams() : $_item->getUrlParams($stock));
                ?>
                <li><a data-ajax="<?php echo ($this->ajaxEnabled()) ? 1 : 0 ;?>" data-param="<?php echo $data_param; ?>" data-url="<?php echo $_item->getCleanUrl(true); ?>" <?php if($_item->getActive() || $this->isActiveFilter($_item->getLabel())):?> class="active" <?php endif;?> onclick="GomageNavigation.click(this); return false;" href="<?php echo $_item->getCleanUrl(true) . $data_param; ?>"><?php echo $_item->getLabel() ?></a></li>
            <?php endif; ?>
        </ol>
    <?php endforeach; ?>
</div>

<script type="text/javascript" >
    var tabContents = jQuery('.tab_content');
    tabContents.hide();
    tabContents.eq(0).show();

    jQuery('.bra-tab').each(function(){
        jQuery(this).click(function(){
            var tabContent = jQuery(this).attr('data-tab-content');
            tabContents.hide();
            jQuery('#'+tabContent).show();
        });
    });
</script>
