<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.2
 * @since        Class available since Release 1.0
 */
?>
<?php $content_area  = $this->getContentArea(); ?>
<?php	
	$attribute = $this->getAttributeModel();
	$show_labels = $this->canShowLabels();
	
	if($image_width = $this->getImageWidth()){
		$image_width = 'width="'.$image_width.'"';
	}else{
		$image_width = '';
	}
	if($image_height = $this->getImageHeight()){
		$image_height = 'height="'.$image_height.'"';
	}else{
		$image_height = '';
	}
	
	$image_align = $this->getImageAlign();	
	
	$show_all = $content_area ? true : (bool)$this->getShowAllOptions();
	$visible_options = intval($this->getVisibleOptions());
?>
<ol class="image-align-<?php echo $image_align;?> <?php if($this->canShowCheckbox()):?>gan-list-checkbox<?php endif;?> <?php if(!$show_labels):?> no-titles <?php endif?> ">
<?php $i = 0; ?>
<?php foreach ($this->getItems() as $_item):?>
	<?php $i++; ?>
	<?php
		
		$image_url = '';
		
		if(($image = $_item->getImage())){
			
			if(file_exists(Mage::getBaseDir('media').'/option_image/'.$image)){
				
				$image_url = Mage::getBaseUrl('media').'/option_image/'.$_item->getImage();
				
			}else{
				
				$image_url = Mage::getBaseUrl('media').'/catalog/category/'.$_item->getImage();
				
			}
			
		}
		
		
		
	?>
	<?php 
	if ( $_item->getActive() && Mage::getStoreConfig('gomage_navigation/filter_settings/applied_values') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Appliedvalues::REMOVE ):
	
	else:
	?>
    <li <?php if (($visible_options && $i > $visible_options && !$show_all)|| (!$_item->getCount() && $this->getFilter()->getRequestVarValue() != 'stock_status')): ?>style="display:none;"<?php endif; ?>>
    	
    	
    	
        <?php if (( $_item->getCount() > 0 || $_item->getActive())): ?>

            <?php $data_param = urlencode($_item->getActive() ? $_item->getRemoveUrlParams() : $_item->getUrlParams(false)); ?>

	        <a data-ajax="<?php echo ($this->ajaxEnabled()) ? 1 : 0 ;?>" data-param="<?php echo $data_param; ?>" data-url="<?php echo $_item->getCleanUrl(false); ?>"  <?php if($_item->getActive()):?> class="active" <?php endif;?> title="<?php echo $_item->getLabel() ?>" onclick="GomageNavigation.click(this); return false;" href="<?php echo $_item->getCleanUrl(true) . $data_param; ?>">
	        	
	        	<?php if($image_url):?>
	        	
		    	<img <?php echo $image_width, ' ', $image_height;?> title="<?php echo $_item->getLabel() ?>" src="<?php echo $image_url;?>" alt="<?php echo $_item->getLabel() ?>" />
		    	
		    	<?php endif;?>
		    	
		    	<?php if($show_labels):?>
		    	
		    	<span class="filter-label"><?php echo $_item->getLabel() ?>
		    		<?php if ( Mage::getStoreConfigFlag('gomage_navigation/filter_settings/values_qty') == 1 ):?>
		        		(<?php echo $_item->getCount() ?>)
		        	<?php endif;?>
			    </span>   
		    	<?php endif;?>
		    
	    	</a>
	    	
        <?php else:?>
        	<?php 
        	if ( Mage::getStoreConfig('gomage_navigation/filter_settings/applied_values') != GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Appliedvalues::REMOVE ):
        	?>
	        	 
	        	
		    	<?php if($image_url):?>
	        	
		    	<img <?php echo $image_width, ' ', $image_height;?> title="<?php echo $_item->getLabel() ?>" src="<?php echo $image_url;?>" alt="<?php echo $_item->getLabel() ?>" />
		    	
		    	<?php endif;?>
		    	
		    	<?php if($show_labels):?>
		    	<span class="filter-label"><?php echo $_item->getLabel() ?></span>
		    	<?php endif;?>
		    <?php 
		    endif;?>
	    	
        <?php endif; ?>
    </li>
    <?php 
    endif;
    ?>
<?php endforeach ?>

<?php if (!$content_area && $visible_options && $i > $visible_options): ?>
	<li <?php if ($show_all): ?>style="display:none;"<?php endif; ?> >
		<a class="gan-attr-more" onclick="GomageNavigation.showAllNavigationAttribute(this, '<?php echo $this->_filter->getRequestVar(); ?>')" href="javascript:void(0)"><?php echo Mage::helper('gomage_navigation')->getMore();?></a>
	</li>
	<li <?php if (!$show_all): ?>style="display:none;"<?php endif; ?> >
		<a class="gan-attr-less" onclick="GomageNavigation.hideNavigationAttribute(this, <?php echo $visible_options; ?>, '<?php echo $this->_filter->getRequestVar(); ?>')" href="javascript:void(0)"><?php echo Mage::helper('gomage_navigation')->getLess();?></a>
	</li>
<?php endif; ?>
</ol>
