<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.2
 * @since        Class available since Release 1.0
 */
?>
<?php $content_area  = $this->getContentArea(); ?>
<?php	
	$attribute = $this->getAttributeModel();
	$show_labels = $this->canShowLabels();
	if($image_width = $this->getImageWidth()){
		$image_width = 'width="'.$image_width.'"';
	}else{
		$image_width = '';
	}
	if($image_height = $this->getImageHeight()){
		$image_height = 'height="'.$image_height.'"';
	}else{
		$image_height = '';
	}
	$image_align = $this->getImageAlign();
	$show_all = $content_area ? true : (bool)$this->getShowAllOptions();
	$visible_options = intval($this->getVisibleOptions());
?>
<?php $i = 0; ?>
<?php foreach ($this->getItems() as $_item):?>
    <?php if($i++ % 5 == 0):?>
        <ol class="image-align-<?php echo $image_align;?> <?php if($this->canShowCheckbox()):?>gan-list-checkbox<?php endif;?> <?php if(!$show_labels):?> no-titles <?php endif?> ">
    <?php endif;?>
	<?php
		$image_url = '';
		if(($image = $_item->getImage())){
			if(file_exists(Mage::getBaseDir('media').'/option_image/'.$image)){
				$image_url = Mage::getBaseUrl('media').'/option_image/'.$_item->getImage();
			}else{
				$image_url = Mage::getBaseUrl('media').'/catalog/category/'.$_item->getImage();
			}
		}
	?>
    <!--New Code -->
    <?php
    $paramName = $this->getFilter()->getRequestVarValue();
    if(Mage::app()->getRequest()->getParam($paramName) != ""){
        $valueFilter = str_replace(Mage::app()->getRequest()->getParam($paramName) . ',', '', $_item->getValue() );
    }else{
        $valueFilter = $_item->getValue();
    }
    ?>
    <li <?php if ((!$_item->getCount() && $this->getFilter()->getRequestVarValue() != 'stock_status' && $this->getFilter()->getRequestVarValue() != 'price')): ?>style="display:none;"<?php endif; ?>>
        <?php if ( ( ($_item->getActive() || $this->isActiveFilter($_item->getLabel())) && Mage::getStoreConfig('gomage_navigation/filter_settings/applied_values') != GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Appliedvalues::REMOVE)
            || !$_item->getActive() ): ?>
            <?php
            $stock = ($this->getFilter()->getRequestVarValue() == 'stock_status');
            $data_param = urlencode(($_item->getActive() || $this->isActiveFilter($_item->getLabel())) ? $_item->getRemoveUrlParams() : $_item->getUrlParams($stock));
            ?>
            <input type="checkbox" name="<?php echo $this->getFilter()->getRequestVar() ?>"  <?php if($_item->getActive() || $this->isActiveFilter($_item->getLabel())):?> checked <?php endif;?> value="<?php echo $valueFilter ?>" >
            <?php if($image_url):?>
                <img <?php echo $image_width, ' ', $image_height;?> title="<?php echo $_item->getLabel() ?>" src="<?php echo $image_url;?>" alt="<?php echo $_item->getLabel() ?>" />
            <?php endif;?>
            <?php echo $_item->getLabel() ?>
        <?php endif; ?>
        <?php if(!$_item->getActive() && !$this->isActiveFilter($_item->getLabel())):?>
            <?php if ( Mage::getStoreConfigFlag('gomage_navigation/filter_settings/values_qty') == 1 ):?>
                (<?php echo $_item->getCount() ?>)
            <?php endif;?>
        <?php endif;?>
    </li>
    <?php if($i % 5 == 0 || $i == count($this->getItems())):?>
        </ol>
    <?php endif;?>
    <!-- End New Code -->
<?php endforeach ?>
<!--<button onclick='window.location = ""'></button>-->
<script type="text/javascript">
    if (typeof updateQueryStringParameter == 'undefined') {
        updateQueryStringParameter = function(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        };
    }
    if (typeof applyFilter == 'undefined') {
        applyFilter = function(requestVar) {
            var result = [];
            jQuery('.refine-tabcontent:visible').find('li input:checked').each(function(){
                result.push(jQuery(this).val());
            });
            window.location = updateQueryStringParameter("<?php echo Mage::helper('core/url')->getCurrentUrl() ?>", requestVar, result.toString());
        }
    }
    if (typeof cancelFilter == 'undefined') {
        cancelFilter = function() {
            jQuery('.refine-tabcontent:visible').find('li input:checked').attr("checked",false);
        }
    }
</script>
<div class="bottom-refine">
    <button class="left button black" onclick="cancelFilter()"><span><span><?php echo __("Cancel")?></span></span></button>
    <button class="button right" onclick='applyFilter("<?php echo $this->getFilter()->getRequestVar() ?>")'><span><span><?php echo __("Apply") ?></span></span></button>
    <div class="clear"></div>
</div>