.footer {
  margin: 0 auto;
  width: 1310px;
}

.block-subscribe {font-family: $PTserif;
  @extend .white-to-silver-v-gradient;
  border: 1px solid $border-2;
  margin-bottom: 30px;
  padding: 8px 20px;
  strong,
  strong span,
  ul,
  form { 
    display: inline-block; 
    *display: inline; 
    *zoom: 1; 
  }    
}

.block-subscribe .left {    
  strong {
    color: $blue;
    
    font-size: 15px;
    font-weight: bold;      
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: top;
  }
  .addthis_toolbox {
    display: inline-block;
    a {margin-left: 7px;}
  }
}

.block-subscribe .right {
  strong {
    font-size: 15px;
    font-weight: bold;      
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: top;
    span {
      font-size: 12px; 
      font-weight: normal;
      line-height: 24px;        
      margin-left: 13px;
      vertical-align: top; text-transform: none;
    }

  }
 
  form {
    @include placeholder-color($pink);
    .input-box {
      width: 232px;
      display: inline-block;
    }
    .action {
      display: inline-block;
      vertical-align: top;
      .button span {font-weight: bold}
    }
    input {
      @include box-sizing(border-box);
      background: $white;
      border: 1px solid $border-1;
      color: $pink;
      font-size: 11px;
      font-size: 11px;
      height: 24px;
      padding: 5px 10px 4px 10px;
      text-transform: uppercase;
      width: 232px;
    }
  }
}

// FOOTER MAIN CONTENT
.footer-content {
  margin-bottom: 20px;
  font-size: 11px;
  > .left {
    @include cava-box($border-2,3px);
    background: #f9fafc;
    width: 419px;
    .block.facebook-giveaway {      
      .block-title {
        background-image: none; font-family: $PTserif; height: auto; line-height: normal; text-align:center;
        strong {
          color: $black;
          font-size: 22px;
          line-height: 43px;
        }
      }
      .block-content {
        background: $white;
        margin: 0 10px 10px 10px;
        padding: 10px 10px 0 10px;
        .clear-both .left {
          width: 200px;
        }
        .clear-both .right {
          width: 153px;
          .deal-price {
            .special-price {color:$pink; font-weight:bold; font-size:49px;letter-spacing: -2px; line-height:normal; margin-bottom:10px;
              span {vertical-align:top; font-size: 26px;}
              span.currency-symbol {font-size:30px;}
            }
          }
          .free {
            margin-bottom: 13px;
          }
          .price-info {
            @extend .clearfix;
            margin-bottom: 23px;
            li {
              float: left;
              text-align: center;
              width: 32%;
              border-right: 1px solid $border-2;
              line-height: 14px;
              &:last-child {
                border: none;
              }
              &.value {
                span {
                  color: $black;
                  text-decoration: line-through;
                }
              }
              span {
                color: $pink;
                font-weight: bold;
              }
            }
          }
          .buttons {
            margin-bottom: 13px;
            li {
              margin-bottom: 10px;
            }
          }
          .end-time {
            font-family: $PTserif;
            font-size: 12px;
            font-weight: bold;
          }
        }
        .clear-both {@extend .clearfix;}
        .a-center {@extend .clearfix;
          line-height: 14px;
          margin-top: 13px; font-family: $PTsans;
        }
        .actions {
          font-size: 9px;
          padding: 0 0 0 23px;
          .right { position: relative;
            .pink-arrow-right-icon {
            padding-right: 9px;
              .fa-fw {vertical-align: middle;}
            }
            .cava-popup {border:1px solid $border-2; padding:10px; font-family:$PTserif; display: none; top:-7px; left:90px; font-size:12px; width:235px;}
            &:hover .cava-popup {display: block;}
          }
          
        }
      }
    }
    @include box-sizing(border-box);
  }
  > .right {
    width: 878px;
    .site-map { color: $grey-link;
      li > h3 { font-size: 12px;}
      > li:nth-child(2) {a {text-transform: uppercase;font-size: 11px;}}
      @extend .clearfix;
      .site-map-group {
        float: left;
        width: 20%;
        .help        { background: url(../images/grey-question-icon.png)    left center no-repeat; height: 22px; line-height: 22px; padding-left: 25px; }
        .quick-links { background: url(../images/grey-arrow-right-icon.png) left center no-repeat; height: 22px; line-height: 22px; padding-left: 25px; }
        .account     { background: url(../images/grey-star-icon.png)        left center no-repeat; height: 22px; line-height: 22px; padding-left: 25px; }
        .about-us    { background: url(../images/grey-power-icon.png)       left center no-repeat; height: 22px; line-height: 22px; padding-left: 25px; }
        li {
          float: none;
          padding-left: 25px; line-height: 19px;
          a {
            text-decoration: none;
            font-size: 12px;
            text-transform: capitalize;
          }
        }
        &.uppercase li a{ text-transform: uppercase;}
      }
    }
  }
}
.footer-invite {
  @extend .clearfix;
  border: 1px solid $border-2;
  border-radius: 4px 4px 0 0;
  margin-bottom: 30px;
  position: relative;
  &:before {
    position: absolute;
    display: block;
    content: "";
    height: 43px;
    top: 0;
    @extend .white-to-silver-v-gradient;
    width: 100%;
    border-radius: 4px 4px 0 0;
    z-index: -1;
  }
  .col-1,
  .col-2,
  .col-3 {
    @include box-sizing(border-box);
    float: left;
    width: 33.333333333%;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 180px;
      position: absolute;
      right: -5px;
      top: 50%;
      margin-top: -90px;
      background: url(../images/line-shadow-v.png) center center no-repeat;
      background-size: 100% 100%;
    }
    h3 {
      text-align: center;
      line-height: 43px; margin-bottom: 0; font-size: 15px; font-family: $PTserif;
    }
    .image-top {text-align: center;height: 106px;
      img {vertical-align: middle;}
    }
    .buttons {
      height: 20px;
      line-height: 20px;
      padding: 0 14px;
      margin-bottom: 7px;
      .link {
        text-decoration: none;
        font: bold 10px/1.5em $PTserif;
        color: $pink;
        text-transform: uppercase;
      }
    }
  }
  .col-3 {
    &:after {
      display: none;
    }
    .join-the-fun {padding:16px 10px 0 23px;
      .join-the-fun-left {float: left}
      .join-the-fun-right {float: right;}
      li {color: #656364;background: url(../images/footer-social.jpg) no-repeat 0 -1px; padding-left: 28px; margin-bottom: 5px; height: 21px; line-height: 21px;
        a {font-size: 12px;
            }
      }
      li.in {background-position: 0 -28px}
      li.pi {background-position: 0 -54px}
      li.tu {background-position: 0 -80px}
      li.go {background-position: 0 -105px}
      li.yo {background-position: 0 -132px}
    }
    .buttons {padding-right: 19px; margin-top: 10px;}
  }
}

// QUICk CONTACT
.quick-contact {
  margin-bottom: 6px;
  text-align: right;
  a {
    color: $black; text-transform: uppercase;
    text-decoration: none;font-size: 12px;
  }
  a.pink-phone-icon {margin-right: 10px;
    &:after {content: "|"; padding-left: 10px; color:#656364}
  }
}

// FOOTER BOTTOM CONTENT
.footer-bottom {
  @extend .clearfix;
  border-top: 1px dashed $border-1;  
  font-size: 11px;
  padding: 12px 0px 26px 0px;
  .footer-link,
  .learn-more {
    float: left;
    line-height: 40px;color: $black;
  }
  .learn-more a{text-decoration: underline; }
  .footer-link {
    color: $grey-link;
    margin-right: 25px;
    a {
      text-decoration: none; padding:0 10px;
    }
  }

  .payment-method {
    float: right;
    span {
      display: inline-block;
      line-height: 40px;
    } 
  }
  .mobile-cleaner {
    display: none;
  }
}




@media screen and (max-width: 1024px) {
  .footer {
    width: 960px;
  }
  .block-subscribe {
    text-align: center;
  }
  .block-subscribe .left {
    display: inline-block;
    float: none !important;
    margin-bottom: 10px;
  }
  .block-subscribe .right {
    display: inline-block;
    float: none !important;
  }
  .block-subscribe .right {
    form {
      .input-box {
        width: 180px;
        input {
          width: 180px;
        }
      }
    }
  }
  .footer-content {
    > .right {
      width: 530px;
      .site-map {
        .site-map-group {
          margin-bottom: 10px;
          width: 33%;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    .learn-more {
      float: right;
    }
    .mobile-cleaner {
      clear: both;
      display: block;
    }
    .payment-method {
      float: none;
    }
  }
}

@media screen and (max-width: 959px) {
  .footer {
    width: 748px;
  }
  .footer-content {
    margin: 0 auto 50px auto;
    width: 748px;
    > .right {
      width: 310px;
      .site-map {
        .site-map-group {
          width: 50%;
        }
      }
    }
  }
  .quick-contact {
    margin: 0 auto 6px auto;    
    text-align: left;
    width: 748px;
  } 
  .footer-bottom {
    text-align: left;
    .footer-link,
    .learn-more,    
    .payment-method {
      float: none;      
      line-height: 1.5em;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .block-subscribe {
    @include box-sizing(border-box);
    width: 420px;
    margin: 0 auto 20px auto;
  }
  .footer {
    width: 100%;
  }
  .footer .block-subscribe strong {
    font-size: 12px;
  } 
  .footer-content {
    width: 419px;
  }
  .footer-content > .left {
    float: none !important;
    margin: 0 auto 20px auto;
  }
  .footer-content > .right {
    float: none !important;
    margin: 0 auto;
    width: 419px;
    .site-map {
      .site-map-group {
        width: 50%;
      }
    }
  }
  .footer-content {
    .footer-invite {
      &:before {
        background: none;
      }
      border: none;
      .col-1, .col-2, .col-3 {
        width: 100%;
        border: 1px solid $border-1;
        border-radius: 4px 4px 0 0;
        margin-bottom: 20px;
        h3 {
          border-bottom: 1px solid $border-1;
        }
      }
      .col-1:after, .col-2:after, .col-3:after {
        background: none !important;
      }
    } 
  }
  .quick-contact {
    text-align: center;
    width: 419px;
  }
  .footer-bottom {
    text-align: center;
    .footer-link {
      margin-right: 0;
    }
  } 
}

@media screen and (max-width: 440px) {
  .block-subscribe {
    width: 300px;
  }
  .footer-content {
    width: 300px;
  }
  .footer-content > .left {
    width: 300px;
    .block.facebook-giveaway .block-content > .left,
    .block.facebook-giveaway .block-content > .right {
      float: none  !important;
      margin: 0 auto;
    }
  }
  .footer-content > .left .block.facebook-giveaway .block-title strong {
    font-size: 14px;
  }
  .footer-content > .right {
    width: 300px;
  }
  .quick-contact {    
    width: 300px;
    a {
      font-size: 10px;
    }
  }
  .footer-bottom {
    .footer-link,
    .learn-more,    
    .payment-method {
      margin: 0 auto 10px auto;
      width: 300px;
    }
  }   
}

@media screen and (max-width: 320px) {
  .footer {
    width: 320px;
  }
}
#cava-popup {width:510px; padding-top: 0; top:-12px;
  h3 {font-style: italic; margin-bottom: 10px; border-bottom: 1px dotted $border-1;padding-bottom: 10px; width: 491px;}
}
.delivery-content { font-family: $PTserif; width:510px; overflow-y: auto;height: 454px;}
.enlarge-popup.enlarge .item {min-height: 0}