.header-container {
  margin-bottom: 30px;
}
.top-header-container {
  @extend .clearfix; 
  background: $grey-2;
  border-bottom: 1px solid $border-2;
  padding: 3px 0 5px 0;
}
.top-header {
  margin: 0 auto;
  width: 1310px; 
}
.language-select { padding-top: 2px;
  a         { color: $black; line-height: 22px; text-decoration: none;}
  .title    { display: inline-block; line-height: 22px; text-transform: uppercase; font-weight: bold;}
  .currency { background: #e7e8ea url(../images/language-select-arrow.png) right 0 no-repeat; border-radius: 3px; display: inline-block; line-height: 22px; padding: 0 20px 0 5px; }
  .language { background: #e7e8ea url(../images/language-select-arrow.png) right 0 no-repeat; border-radius: 3px; display: inline-block; line-height: 22px; padding: 0 20px 0 5px; }
}

// Language & currency select
.currency_list,.country_list {display: inline-block; height:27px; margin-bottom: -5px; }
.currencies-list,
.languages-list {
  display: none;
  padding-top: 16px;
  position: absolute; z-index: 105;
  .cava-popup {
    @include box-sizing(border-box);
    padding: 19px 0 0 0; left:-50px;top:6px;
    width: 365px; border-color: $border-2;
    ul {max-height: 281px;overflow-y: auto;
      @extend .clearfix;
      li {
        white-space: nowrap;
        float: left;
        margin: 0 10px 20px 15px;
        width: 85px; height: 15px;
        &:nth-child(3n) {margin-right: 0}
        a {
          text-decoration: none;
        }
      }
    }
  }
}
.languages-list {
  .cava-popup {
    width: 415px;
    .small-arrow {left:77px;}
    ul {
      li {
        width: 110px;
      }
    }
    ul li a {font-size: 11px;}
  }
}
.currency_list:hover > .currencies-list {
  display: block;
}
.country_list:hover > .languages-list {
  display: block;
}
#google_translate_element {display: inline-block;
  .goog-te-gadget {background: #e7e8ea;
    border-radius: 3px;
    display: inline-block;
    line-height: 22px;
    padding: 0 5px;
    .goog-te-gadget-simple { border:none; background: none; font-size:12px; padding:0; text-overflow: ellipsis;
      >img {display: none;}
      >span { font-family: $PTsans;
        a.goog-te-menu-value {
          > span {}
        }
      }
    }
  }
}
.goog-te-banner-frame {display: none !important;}
 body {top:0 !important;}
// SHARE & INVITE

.share-invite {
  margin-top: 4px;
  > ul > li {
    display: inline-block;
    height: 16px;
    line-height: 20px;
    vertical-align: top; padding:4px 0 0;
    > a {
      vertical-align: top;
      border-right: 1px solid $border-1;padding: 0 8px;
      @media screen and (-webkit-min-device-pixel-ratio:0) {padding:0 10px}
      font-weight: bold;
    }
    &:last-child {
      border: 0;
    }
    &.invite-friend {
      position: relative;
      &:hover {
        > .invite-popup {
          display: block !important;
        }
      }
      a { text-transform: capitalize;
      }
    }
    &.freedelivery {
      padding-left: 29px;font-family: $PTserif;
      background: url(../images/plane-icon.png) 10px center no-repeat;
      a {
        color: $pink;
        text-transform: uppercase; 
      }
    }
    &.social-share {
      a {
        text-decoration: none; border:none; padding-right: 0;
      }
      .share-popup {position: relative;
        display: inline-block; width:70px;  padding-right: 5px; z-index: 103;
        a[class*=addthis_button] {
          span {
            border-radius: 2px !important;
            overflow: hidden;
          }
        }
        div.addthis_toolbox {position: relative; z-index: 10;}
        div.atclear {display: none}
        .top-sharemore {position: absolute;right:0; top:0; z-index: 9; background: url(../images/menu-arrow.png) 34px 5px no-repeat;width: 50px;height: 24px; display: inline-block;cursor: pointer;
          .cava-popup {display: none; position: absolute; right:0px; top:22px;width:113px;padding:10px; border-color:$border-2; z-index: 999;
          .small-arrow {top:-8px; left:auto; right:6px;}
          .addthis_toolbox {color:#b4bab8;
             a {line-height: 20px; margin-bottom: 7px; font-weight: normal; display: block;
              span {padding-right: 5px;}
             }
          }
            }
        &:hover {.cava-popup {display: block;}}
        }
        .addthis_button_compact {
          padding: 0 !important;
          span {
            background: url(../images/menu-arrow.png) center center no-repeat !important;
            margin-right: 0 !important;
            }
          }
        }
        
    }
  }
}
// HEADER
.header {
  width: 1310px;
  margin: 0 auto;
  @extend .clearfix;
}
// LOGO

.header > .logo {
  margin: 0;
  float: left;
  margin: 28px 0 0 0;
  strong {
    position: absolute;
    top: -999em;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
  }
}
//QUICK ACCESS
.header .quick-access {
  float: right;
  @include box-sizing(border-box);
  @extend .white-to-silver-v-gradient;
  border-radius: 0 0 4px 4px;
  padding: 15px 7px 15px 0;
  .welcome-msg {
  padding-left: 9px;
  i {color:$pink;}
  span.welcome-name {
    &:after {content: "|"; padding-right: 5px;}
  }
  }
}
// LINKS
.header .quick-access .links {margin-bottom: 5px;
  @extend .clearfix;
  > li {
    line-height: 25px;
    height: 25px;
    float: left;
    > a {
      line-height: 10px;
      display: inline-block;
      border-right: 1px solid $border-1;
      font-size: 11px;
      text-decoration: none;
      padding:0 13px;
      color: $black; 
      &#live-chat{
        border: 0;
        padding-right: 0;
        line-height: 16px;
        padding-left: 34px;
        background: url(../images/pink-chat-icon.png) 12px 0 no-repeat; font-size: 12px;
      }
      i.fa-caret-down{background: url(../images/arrow1.png)right 0 no-repeat;  width:16px; height: 5px}
      i.fa-caret-down:before {content: "";}
    }
    &.customer-care > a {padding-left:9px;}
  }
  #customer-care-popup {
    @extend .clearfix;
    .col-1, .col-2 {
      width: 50%;
      float: left;
    }
    ul {
      margin-bottom: 4px;
      li {
        display: block;
        padding-left: 5px;
        line-height: 20px;
      }
    }
  }
  // TRACK ORDER lINK
  #trackorder,#newsletter-popup {
    right:0;left:auto;
    @extend .clearfix;
    h3 {
      background: url(../images/dashed.png) repeat-x 0 bottom;
      margin-bottom: 14px; padding-bottom: 10px;
    }
    p {
      line-height: 15px;
      margin-bottom: 18px; width:282px;
      a {color:$pink;}
    }
    .form-list {
      li {
        text-align: right;
        width: 288px;
        margin-bottom: 15px;
        label {
          text-align: left;
          width: 60px; min-width: 20px;
        }
        .input-box {
          width: 228px;
          float: left;
          clear: none;
          input {
            width: 100%;
          }
          .validation-advice {
            text-align: left;
          }
        }
      }
      li.order-no {
        .input-box {
          width: 130px;
        }
      }
    }
    #loading-details {text-align: center;}
  }
  #newsletter-popup {
    li.order-no {
        .input-box {
          width: 150px !important;
        }
      }
  }
  .qcPopup {  width: 340px;}
}
.quick-access div.welcome-msg {@extend .clearfix;
  li.qcParent{height: 25px; line-height: 25px; float:left;
    > a {line-height: 10px;
        display: inline-block;font-size: 12px;
        text-decoration: none; text-transform: capitalize;
        padding: 0 8px; color: #000;
        img {display: none;}
        }
    .qcPopup {width:194px; -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; padding:8px;font-size: 12px;}
    &.welcome-name > a {border-right: 1px solid $border-1; padding-left: 0;}
    &.welcome-name:hover a{padding-left:8px;}
    &.welcome-link > a {font-weight: bold; }
    &.welcome-link:hover {
      >a {
        img {display: inline; padding: 3px 3px 0 0;}
      }
    }
  }
} 
 .qcParent {
  position: relative; display: inline-block;
  &:hover {background-color: #fff; margin-left: -1px;
    > a {
      border: 1px solid $border-1;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;height: 23px; line-height: 23px !important;
    }
    .qcPopup {
      display: block !important;
    }
    .border-fix {
      position: absolute; background: #fff;
      top: 23px;
      left: 0px;
      height: 2px;
      width: 100%;
      border-left: 1px solid $border-1;
      border-right: 1px solid $border-1;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      z-index: 1000;
    }
  }
}
.qcPopup {
  @include box-sizing(border-box);
  position: absolute; display: none;
  z-index: 999;
  top: 24px;
  left: 0px;
  background-color: #fff;
  border: 1px solid $border-1;
  padding: 16px 28px 20px 16px; font-size: 11px;
  h3 {font-size: 11px; text-transform: uppercase; font-family: $PTserif; line-height: normal;}
  a {text-transform: capitalize;}
  button.button span {text-transform: uppercase;}
}
.header .quick-access .login {
  width: 90px; line-height: 25px; height: 25px;
  .top-link {
    text-decoration: none;
    color: $black;
    font-size: 11px;
    font-weight: bold; 
  }
}
@media  screen and (max-width: 767px) {
  #trackorder {
    width: 300px;
    left: -107px;
  }
  #trackorder .form-list li {
    width: 100% !important;
  }
  #trackorder .form-list li .input-box {
    width: 100% !important;
    float: none;
  }
  #trackorder .form-list li .input-box input {
    width: 100% !important;
  }
  #trackorder .form-list li.order-no .input-box {
    margin-bottom: 20px;
  }

  #customer-care-popup {
    width: 300px;
    padding: 10px;
    ul h3 {
      font-size: 11px;
      font-weight: bold;
    }
    ul li:hover {
      background-color: #f1f1f1;
    }
    ul li a {
      color: $black;
      font-size: 11px;
      display: block;
    }
  }
}.ui-dialog {
  border: 1px solid $border-1;
  border-radius: 4px;
}
.ui-dialog .ui-dialog-titlebar-close {
  border: 0 !important;
  background: url(../images/close.png) 0 0 no-repeat !important;
}
.invite-popup.ui-dialog-content.ui-widget-content {
  padding: 0;
  background: #fff; 
  #invite-friends-holder {
    border-bottom: 5px solid $pink;
  }
}
#quicklogin .popup-footer{background: url(../images/invite_bot.jpg) repeat-x 0 0; height: 42px; text-align: center;
  p {font-size: 24px; line-height: 42px;color:#2f2f2f;
    strong {font-weight: bolder;}
  } 
}
#invite-friends-holder {font-family: $PTserif; color: #000; min-width: 1013px;
    #messages-holder {
      padding: 10px;
      ul {
        li {
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
    .invite-form  { width:auto; @extend .clearfix; 
      .invite-left-column {
        padding:0; width:410px; float: left;
      }
      .invite-right-column { float: left; width:565px;
         h3 {margin-bottom: 0; padding-left: 7px; position: relative; font-size: 20px; font-weight: bold; text-transform: uppercase;color:#000; border:none;
          span.nummber {display: inline-block; font-size: 34px;font-weight: normal;font-style: italic;color: #323433;}
          }
        .header-text {background-color: #fff;
          h2 {border:none; text-align: center; padding: 20px 0 10px; font-weight: normal; color:#363636;
            span {color:$pink; padding-left: 10px;}
          }
          h3 {text-transform: none; text-align: center; padding-bottom: 30px; font-size: 24px;}
        }
        .invite-form-wrapper {display: block; background-color: #f6f6f6;@include box-sizing(border-box); padding: 0 10px;
          .content-invite {padding:0 30px;}
        }
        .invite-email {position: relative;
          .form-label {float:left;}
          .earning {display: inline-block;float:right;
            .earning-title {font-style: italic;}
            .earning-value  {color:$pink;}
          }
          .add-contacts {float: right; padding-left: 16px; background: url(../images/add-contact.png) no-repeat left center; color:$pink;}
          div.tagsinput {width:100% !important; @include box-sizing(border-box); min-height: 60px !important;}
          &:before {content:""; background: url(../images/how.png) no-repeat 0 0; width:78px; height: 41px; position: absolute; top:-30px; left:50%; margin-left: -39px;}
        }
        .invite-message {
          padding:10px 0px; 
          .form-label {display: block; text-transform: uppercase;
            em {text-transform: none; color:#888;}
          }
          textarea {width:100%; @include box-sizing(border-box); height: 60px; resize: none;}
        }
        .invite-button { margin-top: 7px;
          div.right {text-align: center;}
        }
        .share-link {border-top: 1px solid $border-1; margin-top: 5px; padding-bottom: 24px;
          .form-label {display: block;}
          input {width:185px; padding:5px; height: 35px; font-style: italic; color:#8f8f8f;}
            p {margin-bottom:5px;}
        }
      }
    }
    .facebook-invite  { background-color: #f6f6f6; text-align: center; margin: 30px 30px 20px;padding:10px 30px 20px 20px;
      p {font-family: $PTserif; text-transform: uppercase; margin: 5px 0 15px;}
      h3 {position: relative; font-size: 20px; font-weight: bold; text-transform: uppercase;color:#000; border:none;
          span.nummber {display: inline-block; font-size: 34px;font-weight: normal;font-style: italic;color: #323433; position: absolute; left:0; top:-10px;}
          }
    }
  }
  .invite-footer { padding:0 50px; 
    #invitations-lists {margin-top: 10px;
      .list-title {margin-bottom: 20px; background: #333; border:none; color:#fff; text-transform: uppercase; font-weight: bold;}
      .pager {display: none;}
      .data-table { border-radius: 0;border: 0;
        thead th {background: #e5e5e5; color:#000; text-transform: uppercase; border:none;}
        tr {background: #fff;
          td {border-bottom: 1px solid $border-2;
            &.last {text-align: right; padding-right: 40px;}
          }
        }
      }
    }
  }
//Login
.login {
  position: relative;
  > a.top-link { padding-left: 9px; }
  &:hover {
    #login_popup {
      display: block !important;
    }
  }
}

#login_popup {
  position: absolute;
  display: none;
  z-index: 9999;
  left: -148px;
  .small-arrow {
    left: 180px;
    span { @include arrow(12px, 8px, up, $border-1);
      span {
        @include arrow(10px, 7px, up, $white);}
    }
  }
}

#quicklogin {position: relative; width: 890px; overflow: hidden; padding:0px 25px; @include box-sizing(border-box);
  .login_required {font-family: $PTserif; position: absolute; right:24px; top:-4px;}
  .registered-users {
    .form-list { padding:0;
      li {padding-right: 36px;
        input.input-text {width: 315px;}   
      }
    }
    .le-socialconnect-social {right:121px;}
  }
  .login-page {
    font-family: $PTsans; font-size: 13px;
    @include box-sizing(border-box);
    border: 0 !important;
    width: 606px;
    margin: 0;
    .col-1, .col-2 {
      width: 50%;
      padding: 0 8px;
    }
    .col-1 {
      border-right: 1px dotted $border-1;
      padding-right: 8px;
      > form, >.or-bg {@extend .clearfix}
      #fpass,#fpass-2 {
        @extend .clearfix;
        form {
          > p.a-center {margin-top: 5px;}
          .buttons-set {width: auto;}
        }
      }
    }
    .col-2 form{
      h3 {
        a {color:$pink; float: right; text-decoration: underline; padding-right:5px;}
      }
      .form-list label {font-weight: bold;}
    }
    form {
      h3 {
        
        color: $black;
        font-size: 14px;
        line-height: 39px;
        margin-bottom: 12px;
      }
      p.a-center {

        background: url(../images/dotted.png) left center repeat-x;
        span {
          display: inline-block;
          line-height: 18px;
          background: #fff;
          padding: 0 12px;
        }
      }
      .form-list {
        li {
          margin-bottom: 0;
          margin-left: 6px; float: left;
        }
        label {
          margin-bottom: 3px;
        }
        .input-box {
          width: 271px;
          margin-bottom: 9px;
          input.input-text {
            width: 100%;
          }
        }
        p {
          a {
            color: $black; text-decoration:underline;
          }
        }
      }
      .buttons-set {
        width: 271px;
        margin: 0 0 5px 0;
        padding: 0;
        border: 0;
        button.button {
          padding: 0 18px; height: 30px; line-height: 30px;
          span {line-height: 30px;}
        }
        .fpasscheck {
          margin-bottom: 25px;
          span input[type="checkbox"] {margin-right: 3px;}
          a {float:left;padding-left: 6px;}
        }
      }
    }
    .or-bg {
      height: 30px;
      width: 100%;
      background: url(../images/or-bg.png) center center no-repeat;
    }
  }
  .bx-wrapper .bx-viewport {height: 19px !important;}
  .le-socialconnect-social p {line-height: 21px;}
}

// Social login
.le-socialconnect-social {
  h2 {
    color: black;
    font-size: 14px;
    line-height: 39px;
    margin-bottom: 12px;
    font-weight: bold;
    background: url(../images/dotted.png) left center repeat-x;
    span {
      display: inline-block;
      padding: 0 12px;
      background: #fff;
    }
  }
  p b{text-transform: capitalize;}
  .bx-wrapper .bx-controls-direction a {
    width: 6px;
    height: 14px;
    margin-top: -7px;
  }
  .bx-wrapper .bx-next {
    background: url(../images/bx-control.png) -59px -25px no-repeat;
    right: -11px;
    &:hover {
      background: url(../images/bx-control.png) -59px -40px no-repeat;
    }
  }
  .bx-wrapper .bx-prev {
    background: url(../images/bx-control.png) -51px -25px no-repeat;
    left: -11px;
    &:hover {
      background: url(../images/bx-control.png) -51px -40px no-repeat;
    }
  }
  p, .le-social-button-login, .social-login-icon {
    float: left;
    margin-bottom: 30px;}
  .le-social-button-login {
    padding: 1px 20px 0 20px;
  }
  .social-login-icon {
    height: 30px;
  }
}
.popup-footer {
  img {
    width: 100% !important;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  #login_popup {
    left: -105px;
  }
  #login_popup .small-arrow {
    left: 127px;
  }
  .login a {
    padding-left: 0;
  }
  #quicklogin .login-page {
    width: auto;
  }
  #quicklogin .login-page .col-1,
  #quicklogin .login-page .col-2 {
    float: none !important;
    width: 285px;
    border: 0;
  }
  #quicklogin .login-page form .form-list li {
    margin-left: 0;
  }
}

// Shipping & Returns
.delivery-header {position: absolute;top:-40px;
  h3 { text-transform: none;}
}
#free-delivery-box {overflow: visible; margin-top: 20px; background: #fff; padding: 0 0px 30px 20px;font-size: 12px;
  .delivery-content {width:700px;
    .ui-tabs .ui-tabs-nav {padding-left: 0px;border-bottom:1px solid $border-1;
      li{width:160px; text-align: center;
        a {font-size: 12px; float: none; display: inline-block;}
      }
    }
    .ui-tabs .ui-tabs-panel { border-top: 0; min-height:625px; font-family: $PTsans;padding: 1.4em 1em 1.4em 0em;}
  }
  .ui-widget-content {
    h2 {font-size: 15px;}
  }
}
// SEARCH FROM
.header .quick-access .sm-searbox-content {
  width: 306px;
  float: left;
  padding-left: 9px;

  .form-search {position: relative;  
    input {
      width: 125px; padding-right: 0;
      border: 1px solid $border-1; border-right:none;
      padding-left: 15px;float:left;
      background: #fff url(../images/search-icon.png) 0 0 no-repeat;font-size: 9px;
      &.loading {background: #fff url(../images/loading.gif) 2px 5px no-repeat; background-size: 13px auto; padding-left:17px;
          }
    }
    select {  max-width: 112px;min-width:96px; text-transform: uppercase;height: 24px; line-height: 24px;
      border: 1px solid $border-1;border-left:0;
       font-size: 12px;
    }
    div.selector{width:108px; padding-left: 4px;height: 22px; line-height: 22px;background: #fff url(../images/search-split.png) 0 center no-repeat; border-color:$border-1; border-left:0;
      span {font-size: 10px;height: 22px; line-height: 22px;}
    } 
    button {
      font-weight: bold;background-color: #646464; border-radius: 4px;
    }
  }
  #search_autocomplete {width:255px; position: absolute; top:23px; left:0; background: #fff; color:#a1a1a9; font-size: 12px;max-height: 500px; overflow-y:auto;
    z-index: 999;border:1px solid #7f9db9;  
    ul {padding:20px 10px;
      li { margin-bottom: 5px;
        button.button {display: none;}
        img {width: 50px; height: 70px; float: left; margin-right: 5px;}
        > a > span {padding-top:5px; }
        >span {display: block; }
      }
    }
  }
}
// CART
.header .quick-access .cart_box {
  padding-left: 34px;
  margin-top: -15px;
  padding-top: 5px; padding-right: 4px;
  width: 120px;
  float: right;
  position: relative; z-index: 102;
  .cart-icon {
    position: absolute;
    left: 10px;
    top: 9px;
  }
  > .cart-title {
    color: $pink;
    text-decoration: none;
    font-weight: bold;font-size: 14px;
  }
  > span {
    font-size: 12px;
  }

}
.header .quick-access .cart_box:hover .cart-header-popup {display: block !important;}
// View Bag
.cart_box {
  position: relative;
  p {margin-bottom: 0}
  &:hover {
    border-radius: 4px 4px 0 0;
    .border-fix {
      position: absolute;
      top: 0;
      left: -1px;
      width: 100%;
      height: 100%;
      border: 1px solid $border-1;
      border-radius: 4px 4px 0 0;
      &:after {
        content: "";
        display: block;
        height: 2px; margin-top: -1px;
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: #fff;
        z-index: 3;
      }
    }
  }
}
.cart-header-popup {
  position: absolute;
  right: -1px;
  background-color: #fff;
  border: 1px solid $border-1;
  @include box-sizing(border-box);
  width: 354px;
  padding: 13px 0;
  z-index: 2; 
  .block-cart .amount { 
      a {color:inherit;font-weight: normal;}
    }
  .block-cart .summary{ padding:0px 17px;
    .amount {border-bottom: 1px solid #999999; padding-bottom: 10px; }
  } 
  .block-cart button.button,.button.large.silver {height: 30px; line-height: 30px;
    span {line-height: 30px;text-transform: uppercase;
          font-weight: bold;
          font-size: 12px; }
  }
  .block .mini-products-list >li.item {border-top:1px solid #999; font-family: $PTsans;
    &:first-child {border-top: none}
  }
  .block .mini-products-list li.odd{background: #fff;}
  .block .block-content {
    background: none;
    #cart-sidebar { max-height: 288px; overflow-y:auto; padding-left: 17px;
      .product-details {font-size: 12px; margin-left: 92px; position: relative; min-height: 130px;
        .price-box {float:right;position: relative; top:15px;
          .product-price {text-align: right; display: block}
          .product-price-label {color:#555;}
          .product-price-orig {text-decoration: line-through;}
        }
        .item-options {margin-top: 15px;
          li {line-height: 18px;
            &.qty {position: absolute;left:10px; bottom:0; line-height: normal;}
          }
        }
        .config-button{ text-align: center; position: absolute; bottom:0; left:0; width:100%;
         
        }  
      }
    }
  }
  .mini-products-list .product-image {border:none; width:92px;margin-right: 10px;
      img {width:91px; }
  }
  .block-cart .block-bottom {
    .sub-total{ border-top:1px solid $border-1;  height:37px; line-height: 37px; margin:0 17px; margin-top: 5px;
      > span:last-child{ float: right;}
      .right span.label {font:12px $PTserif; color:#555;}
      .price {color:#ff2b8f;font-size: 15px; font-weight: bold;
        margin-left: 3px;}
      .subtotal-tooltip {position: relative; display: inline-block;background:url(../images/subtotal.png) no-repeat 0 center;width:13px; height: 13px; vertical-align: text-top; margin-left: 3px;
        .cava-popup {border-color:$border-1; padding:10px; display: none;right: 21px;top: -13px; line-height: normal; width:235px; line-height: 20px;
          p {margin-bottom: 10px;}
        }
        &:hover {.cava-popup {display: block}}
      }
    }
    .still-deal { margin:0 17px;
      button.button {background: none;
        span {font-size: 13px;
            
            color: #ef0066;
            font-style: italic;
            line-height: 17px;
            text-transform: none; font-weight: normal;}
      }
      .price {text-align: center;
              font-size: 12px;
              line-height: 15px; font-style: italic; display: block;
              }
      .still-deal-text {float:left; color:$pink; display: inline-block; 
        h3{color:$pink; font-size: 15px; line-height: 34px; margin-bottom: 0;}
      }
      .still-deal-text2 {float:right; display: inline-block;
      h3 {  font-size: 15px; line-height: 34px;margin-bottom: 0;}
      }
      .bx-wrapper {border-top:1px solid $border-1; padding:10px 0;
        .bx-controls-direction a {background: url(../images/bxslider/top-cart.jpg) no-repeat 0 0;width:8px; height: 16px; top:68px;}
        .bx-controls-direction a.bx-prev {left:-11px;
          &:hover {background-position: 0 -19px}
        }
        .bx-controls-direction a.bx-next {right:-11px; background-position: right 0;
          &:hover {background-position: -10px -19px}
        }
      }
    }
    .button-set {border-top:1px solid $border-1;border-bottom:1px solid $border-1; padding:10px 0; margin:0 17px;}
  }
  .bottom-free-ship {border-top:1px solid $border-1;  padding-top:5px;
    h3 {color:#d60200; line-height: 20px; margin-bottom: 0; font-size: 13px; }
    p {margin-bottom: 0}
  }
}
.top-menu-block {
  .cava-popup {
    @extend .square-bx-control;
    @include box-sizing(border-box);
    padding-top: 15px;
    width: 705px;
    position: absolute; z-index: 2; left:0; top:30px;
    .arrow {
      left: 133px !important;
      }
    .left-column { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
      float: left;
      width: 524px;
      border-right: 1px solid $border-1;
    .products-grid li.item {
       padding: 0 !important;
      .product-image { margin-bottom: 0px;
        img {}
      }
      p.description,
      .product-name a,
      p.price {
        font-weight: normal;
        font-size: 12px;
        text-transform: capitalize;
        line-height: 15px;
        margin: 0;
        padding: 0 10px;
      }
      .product-name {
        margin: 0; height: 22px;
        a {
          font-size: 12px; line-height: 24px;
          text-decoration: none;
           height: 24px; overflow: hidden;
        }
      }
      p.description {
        height: 18px; overflow: hidden; margin-bottom: 7px;font-style: italic; 
      }
      p.price {
        text-align: right;
        margin-bottom: 8px;
      }
      .actions {
        position: static;
        text-align: right;
        margin-bottom: 9px; overflow: hidden;
        .button {
          background: none;
          height: 17px;
          span {
            font-size: 12px;
            color: $pink;
            line-height: 17px; text-transform: none;
          }
        }
      }
    }
  }
  .right-column {-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: -1px;
    border-left: 1px solid $border-1;
    width: 180px;
    padding: 0 14px 5px;
    float: right;
    h3 {
        font-size: 13px; line-height: 15px;
        color: #ff2b8f;
        text-transform: uppercase;
        text-align: center;
      }
      .product-name {
         font-size: 12px; font-weight: bold; font-family: $PTserif;
        color: $black; text-transform: uppercase;
        text-decoration: none; display: block;
      }
      .price,.most-loved-price {
        line-height: 26px;
        font-weight: bold;
      }
      .actions {
        text-align: right;
        .button {
          text-transform: uppercase;
          span {
            font-size: 11px;
          }
        }
      }
      .shoppick {display: block; color:$pink; margin-top: 5px; text-transform: uppercase;font-size: 12px; font-family: $PTserif;
        span {padding-right: 6px;}
      }
      .availability {
        height: 24px;
        line-height: 24px;
      }
    }
    .bx-wrapper .bx-controls-direction a {top:110px;
      &.bx-next {right:-20px;}
      &.bx-prev {left:-20px;}
    }
  .bottom-free-ship {min-height: 40px; background: #999; color:#fff; font-family: $PTserif; text-align: center;
    h3 {color:#fff;font-weight: normal;line-height: 12px;padding-top: 6px;}
    p {
      margin-bottom: 0;
    }
    img {
      height: auto; width: 100%;
    }
  }
  }
}
//POP up
#deal-of-week,
#most-wanted,
#featured-product {
  position: relative; z-index: 2;
  &:hover {>a {color:$pink;}
    > .cava-popup {
      display: block !important;
    }
  }
}
// DEAL OF WEEK POPUP
#deal-of-week-popup { 
}
// MOST WANTED POPUP
#most-wanted-popup {
  .left-column {
    min-height: 255px;
    ul {
      @extend .clearfix;
      li {
        @include box-sizing(border-box);
        float: left;
        width: 173px;
        height: 75px;
        border: 1px solid $border-2;
        border-left: 0;
        border-top: 0;
        padding: 10px 0 10px 20px; text-transform: none;
        &:nth-child(3n) {border-right:0;}
        a { span {text-transform: none;width: 75px; text-overflow: ellipsis; display: inline-block; vertical-align: middle;}
          img {vertical-align: middle;}
        }        
        .product-image {
          float: left;
        }
        .category-name {
          float: left;
          display: block;
          height: 54px;
          width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 10px;
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
  .bottom-free-ship {position: relative;
    &:before {content:""; height: 8px; position: absolute;top:-8px; width:100%; background-color: #fff;left:0;}
  }
}
// FEATURED PRODUCTS
#featured-product-popup {
  right: 0; left:auto;
  .arrow {
    left: 490px !important;
  }
}
@media screen and (max-width: 1310px) {
/*   .top-header-container {
    width: 1310px;
  } */
}
@media screen and (max-width: 1024px) {
  .top-header-container {
    width: 100%;
  }
  .top-header,
  .header {
    max-width: 940px;
    width: 100%;
  }

}

@media screen and (max-width: 1024px) {
  .header .quick-access .login {
    margin: 0 auto;
  }
  .welcome-msg {
    padding: 0;
    text-align: center;
  }
  .top-header {
    .language-select,
    .share-invite {
      float: none !important;
      text-align: center;
      margin-top: 5px;
      li {
        text-align: left;
      }
    }
    .language-select .title {
      display: none;
    }
    .language-select .currency,
    .language-select .language {
      margin-bottom: 5px;
    }
  }
  .header > .logo {
    float: none;
    text-align: center;
    display: block;
  }
  .header .quick-access {
    width: 100%;
  }
  .header .quick-access .links > li {
    float: none;
  }
  .login,
  .header .quick-access .links{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    li {
      text-align: left;
    }
  }
  .header .quick-access .sm-searbox-content,
  .header .quick-access .cart_box {
    float: none;
    margin: 5px auto;
  }
}

@media screen and (max-width: 959px) {
  #currency_list,
  .country_list {
    position: relative;
  }
  .currencies-list {
    left: 0px;
    padding-top: 10px;
    .cava-popup {
      width: 300px;
    }
  }
  .languages-list {
    left: -143px;
    padding-top: 10px;
    .cava-popup {
      width: 300px;
      .small-arrow {
        left: 215px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .currencies-list {
    left: 0px;
    max-height: 200px;
    overflow-y: scroll;
  }
  .languages-list {
    right: 0px;
    max-height: 200px;
    overflow-y: scroll;
  }
}

._51mz {
  float: right !important;
}
.nav-container {
  margin: 0 auto;
  width: 1310px;
  #custommenu {
    background-color: #262223; @extend .black-v-gradient; 
    white-space: nowrap;
  }
  div.menu.active a,div.menu.act a,
  div.menu a:hover,div#menu_offers a {
    @extend .pink-v-gradient;
  }
  div#menu_offers a {color:#fff;border-radius: 0 5px 0 0; 
    span {background: url(../images/menu-arrow-active.png)right 20px no-repeat;}
  }
  .wp-custom-menu-popup {
    @include pie-clearfix();
    width: auto;
    padding: 0;
    margin-top: 0;
    .left-column {
      float: left; border-right: 1px solid $border-1;
     a.gift-certificate {position: absolute; bottom: 71px;right: 184px;padding:0; margin:0; color: $pink; text-transform: uppercase; font-weight: bold;}
    }
    .right-column {
      @include box-sizing(border-box); border-left:1px solid $border-1;
      width: 314px;
      float: right;
      margin-left: -1px;
      div.block2 {padding:0px}
      img {width: 390px; height: 422px;}
    }
  }
  div.column {
    width: 162px;
    padding: 0 25px;
  }
  a.level1:link, a.level1:visited {
    color: $pink;
    font-weight: bold;
    font-size: 12px; text-transform: uppercase;
    padding: 3px 0 3px 5px; font-family: $PTserif;
  }
  a.level2:hover {
    color: $pink !important;
  }
  a.level2:link, a.level2:visited {
    background: url(../images/arrow-right.png) left 5px no-repeat;
    background-size: 12px;
    font-size: 12px;
    padding: 3px 10px 3px 16px;
  }

  .after-memu {
    background: #999999;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 3px; font-family: $PTserif;
    h3, p {
      
      line-height: 16px;
      font-weight: bold;
      margin: 0;
      font-size: 13px;
      color: $white;
    }
  }

  #popup_offers,
  #popup_arrivals{
    .left-column {
      width: 183px;
      border: 0 !important;
      div.column {
        padding: 0 0 0 10px;
        width: 100% !important;
        label {
          font-family: $PTserif;
          font-size: 12px;
          font-weight: bold;
          line-height: 25px;
          color: $pink;
          border-bottom: 1px solid $border-1;
          display: inline-block;
          height: 25px;
          text-transform: uppercase;
          margin-bottom: 10px;
          margin-top: 7px;
        }
        ul {
          li {
            line-height: 23px;
            height: 23px;
            font-size: 12px;
            padding-left: 15px;
            background: url(../images/arrow-right.png) left 1px no-repeat;
            -webkit-background-size: 12px;
            background-size: 12px;
          }
        }
      }
    }
    .right-column {
      width: 289px; border-left:0;
      a {display: none;}
      img {width:280px; height: 374px;}
    }
    .after-memu {
      padding: 0;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav-container {
    width: 300px;
    margin-bottom: 20px;
  }
}