a:hover {color:$pink;}
/* Form Elements */
input, select, textarea, button {
  vertical-align: middle;
  @include box-sizing(border-box);
}

input[type="text"],input.input-text, select, textarea {
  background: #fff;
  border: 1px solid $border-2;
  padding: 2px;
}
input[type="checkbox"] {margin-right: 3px;}
textarea {
  padding: 10px; resize: none;
}
input[type="text"],input.input-text, select {
  height: 24px;
}
select {-webkit-appearance: none;-moz-appearance: none;appearance:none;border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;}
select option {
  padding-right: 10px;
}

select.multiselect option {
  border-bottom: 1px solid #b6b6b6;
  padding: 2px 5px;
}

select.multiselect option:last-child {
  border-bottom: 0;
}

textarea {
  overflow: auto;
}

input.radio {
  margin-right: 3px;
}

input.checkbox {
  margin-right: 3px;
}

input.qty {
  width: 2.5em !important;
}
input::-webkit-input-placeholder {
   color: #000;
}
input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

input:-ms-input-placeholder {  
   color: #000;
}
p.control input.checkbox,
p.control input.radio {
  margin-right: 6px;
}

/* Form Highlight */
input.input-text:focus, select:focus, textarea:focus {

}

/* Form lists */
.form-list li {
  margin: 0 0 8px;
}

.form-list label {
  float: left;
  position: relative;
  z-index: 0;
  line-height: 24px;
  
}

.form-list label.required em {
 /*  float: right;
  font-style: normal;
  color: #eb340a;
  position: absolute;
  top: 0;
  right: -8px; */
  padding-right: 2px;
}

.form-list .control label {
  float: none;
}

.form-list .control input.radio,
.form-list .control input.checkbox {
  margin-right: 6px;
}

.form-list .control .input-box {
  clear: none;
  display: inline;
  width: auto;
}

.form-list .input-box {
  width: 253px;display: inline-block;
}

.form-list .field {
  float: left;
  width: 275px;
}

.form-list input.input-text {
  width: 249px;
}

.form-list textarea {
  width: 249px;
  height: 10em;
}

.form-list select {
  width: 260px;
}

.form-list li.wide .input-box {
  width: 535px;
}

.form-list li.wide input.input-text {
  width: 529px;
}

.form-list li.wide textarea {
  width: 529px;
}

.form-list li.wide select {
  width: 535px;
}

.form-list li.additional-row {
  border-top: 1px solid $border-1;
  margin-top: 10px;
  padding-top: 7px;
}

.form-list li.additional-row .btn-remove {
  float: right;
  margin: 5px 0 0;
}

.form-list .input-range input.input-text {
  width: 74px;
}

.form-list-narrow li {
  margin-bottom: 0;
}

.form-list-narrow li .input-box {
  margin-bottom: 6px;
}

.form-list-narrow li.wide .input-box {
  width: 260px;
}

.form-list-narrow li.wide input.input-text,
.form-list-narrow li.wide textarea {
  width: 254px
}

.form-list-narrow li.wide select {
  width: 260px;
}

/* Customer */
.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box {
  width: auto;
}

.form-list .name-prefix {
  width: 65px;
}

.form-list .name-prefix select {
  width: 55px;
}

.form-list .name-prefix input.input-text {
  width: 49px;
}

.form-list .name-suffix {
  width: 65px;
}

.form-list .name-suffix select {
  width: 55px;
}

.form-list .name-suffix input.input-text {
  width: 49px;
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname {
  width: 140px;
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text {
  width: 124px;
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname {
  width: 205px;
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text {
  width: 189px;
}

.form-list .customer-name-prefix-suffix .name-firstname {
  width: 210px;
}

.form-list .customer-name-prefix-suffix .name-lastname {
  width: 205px;
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text {
  width: 189px;
}

.form-list .customer-name-prefix-suffix .name-firstname {
  width: 210px;
}

.form-list .customer-name-prefix-suffix .name-lastname {
  width: 205px;
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text {
  width: 189px;
}

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename .name-middlename {
  width: 210px;
}

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename .name-middlename,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname {
  width: 205px;
}

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename .name-middlename input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text {
  width: 189px;
}

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year {
  float: left;
  width: 85px;
}

.form-list .customer-dob input.input-text {
  display: block;
  width: 74px;
}

.form-list .customer-dob label {
  font-size: 10px;
  font-weight: normal;
  color: #888;
}

.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month {
  width: 60px;
}

.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text {
  width: 46px;
}

.form-list .customer-dob .dob-year {
  width: 140px;
}

.form-list .customer-dob .dob-year input.input-text {
  width: 134px;
}

.buttons-set {
  clear: both;
  margin: 4em 0 0;
  padding: 8px 0 0;
  text-align: right;
}

.buttons-set p.required {
  margin: 0 0 10px;
}

.buttons-set .back-link {
  float: left;
  margin: 0;font-weight: bold;
}

.buttons-set button.button {
  float: right;
  margin-left: 5px;
}

.buttons-set-order {
  margin: 10px 0 0;
}

.buttons-set-order .please-wait {
  padding: 12px 7px 0 0;
}

.fieldset {
  margin-bottom: 30px;
}

.fieldset .legend {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
}

/* Form Validation */
.validation-advice {
  clear: both;
  min-height: 13px;
  margin: 3px 0 0 !important;
  padding-left: 17px !important;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;
  color: #eb340a;
}

.validation-failed {
  border: 1px dashed #eb340a !important;
  background: #faebe7 !important;
}

p.required {
  font-size: 11px;
  text-align: right;
  color: $blue-link;
}

/* Expiration date and CVV number validation fix */
.v-fix {
  float: left;
}

.v-fix .validation-advice {
  display: block;
  width: 12em;
  margin-right: -12em;
  position: relative;
}



@media screen and (max-width: 767px) {
  .form-list {
    .field,
    .input-box,
    input.input-text,
    select,
    textarea,
    li.wide .input-box,
    li.wide input.input-text,
    li.wide textarea,
    li.wide select {
      width: 100%;
    }
  }
}
/* Global Messages  */
.success {
  color: #3d6611;
  font-weight: bold;
}

.error {
  color: #df280a;
  font-weight: bold;
}

.notice {
  color: #e26703;
}

.messages,
.messages ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.messages {
  width: 100%;
  overflow: hidden;
}

.messages li {
  margin: 0 0 10px !important;
}

.messages li li {
  margin: 0 0 3px !important;
  line-height: 1.7em !important;
  height: auto !important;
}

.error-msg,
.success-msg,
.note-msg,
.notice-msg {
  border-radius: 4px;
  border-style: solid !important;
  border-width: 1px !important;
  background-position: 10px 9px !important;
  background-repeat: no-repeat !important;
  min-height: 24px !important;
  padding: 8px 8px 8px 32px !important;
  font-size: 11px !important;
  font-weight: bold !important;
}

.error-msg {
  border-color: #fcac97;
  background-color: #faebe7;
  background-image: url(../images/i_msg-error.png);
  color: #df280a;
}

.success-msg {
  border-color: #a6d181;
  background-color: #eff5ea;
  background-image: url(../images/i_msg-success.png);
  color: #3d6611;
}

.note-msg,
.notice-msg {border-color: #fcfca7;background-color: #fafaec;background-image: url(../images/i_msg-note.png);color: #3d6611;}
.breadcrumbs                {  font-size: 12px; line-height: 15px; margin: 0 0 9px; }
.breadcrumbs li              { display: inline; color: black; }
.breadcrumbs li#back_previous_page a span{padding-right: 4px; font-weight: normal;}
.breadcrumbs li a            { color: black; text-decoration: none; }
.breadcrumbs li span         {}
.breadcrumbs li strong       { font-weight: bold; }
.breadcrumbs li#back_previous_page a {font-weight: bold;}

@media screen and (max-width: 959px) {
  .breadcrumbs  { display: none !important; }
}
.page-title {
  width: 100%;overflow: hidden;border-bottom: 1px solid $border-1;margin: 0 0 25px;
  h1, h2 {
    margin: 0;font-size: 20px;
  }
  .separator {
    margin: 0 3px;
  }
  .link-rss {
    float: right;margin: 7px 0 0;
  }
}

.my-account .page-title,
.title-buttons {
  text-align: right;
  margin-top: 17px;
  border-bottom: 1px dotted $border-1;
  h1, h2, h3, h4, h5, h6 { float: left; }
  h1 {
    font-size: 15px;margin: 0;line-height: 30px;
  }
  button {
    background: none;
    span {
      color: $black; text-decoration: underline; 
    }
    &:hover {
      background: none;
      span {
        color: $black;
      }
    }
  }
}

.subtitle,
.sub-title {
  clear: both;padding: 15px 0 0;font-size: 15px;font-weight: bold;margin: 0 0 6px;
}

.shadow-heading {
  font-size: 22px; line-height: 1.25em;text-transform: uppercase;text-align: center;padding-bottom: 9px;margin: 25px 0;
  background: #fff url(../images/line-shadow.png) center bottom no-repeat;
  @media screen and (max-width: 767px) {
    background: #fff url(../images/line-shadow-mobile.png) center bottom no-repeat;font-size: 18px;
  }
}
.pager,.sorter {
  @extend .white-to-silver-v-gradient;
}
.pager .limiter label {
  vertical-align: middle; margin-right: 10px;
}
.pager .limiter select {
  vertical-align: middle; min-width: 62px;
}
.pager .pages {
  float: right;
}
.pager .pages ol {
  display: inline;
}
.pager .pages li {
  display: inline;
  margin: 0 2px;
}
.pager .pages .current {}
.toolbar                       { color: $black; margin-bottom: 42px; }
.toolbar a                     { color: $black; }
.toolbar .limiter              {margin: 2px auto auto; width:178px;}
.sorter                        { padding: 6px 20px 4px 20px; border: 1px solid $border-1;border-bottom: 0; }
.sorter strong                 { font-weight: normal; }
.sorter .sort-by               { float: left; label{padding-right: 10px;} select{min-width:143px; }}
.sorter .refine-by             { float: right; }
.sorter .refine-by a           { color: $pink; text-decoration: underline; font-style: italic; }

.pager                         { text-align: center; padding: 5px 20px; border: 1px solid $border-1;}
.pager strong                  { font-weight: normal; }
.pager .amount                 { float: left; height: 28px; line-height: 28px; margin-bottom: 0;}
.pager .pages                  { float: right; margin-top: -21px; }
.pager .pages ol               { display: inline; }
.pager .pages li               { display: inline-block; }
.pager .pages li.current       { background: $pink; color: #fff;  width: 15px; height: 17px; line-height: 17px; }
.pager .pages li a             { display: block; width: 15px; height: 17px; line-height: 17px; color: $black; text-decoration: none; }
.pager .pages li a:hover       { background: $pink; color: #fff; }
.pager .pages li a.next        { width: auto; }
.pager .pages li a.next span   { margin-right: 8px; }
.pager .pages li a.next:hover  { background: none; color: $black; }
.cava-box {
  @include cava-box($border-1, 5px, $white)
}.captcha-note {
  clear: left;
  padding-top: 5px;
}

.captcha-image {
  float: left;
  display: inline;
  margin: 0;
  position: relative;
  width: 258px;
}

.captcha-image .captcha-img {
  border: 1px solid #b6b6b6;
  vertical-align: bottom;
  width: 100%;
}

.registered-users .captcha-image {
  margin: 0;
}

.captcha-reload {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
}

.captcha-reload.refreshing {
  animation: rotate 1.5s infinite linear;
  -webkit-animation: rotate 1.5s infinite linear;
  -moz-animation: rotate 1.5s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  0% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0);
  }
  0% {
    -moz-transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  0% {
    transform: rotate(-360deg);
  }
}
.product-name {
  margin: 0;
}

.product-name a {
  word-wrap: break-word; word-break: break-all; display: inline-block;
}
.data-table .product-name {
  font-size: 12px;text-transform: capitalize;
  a {
    text-decoration: none;
  }
}
/* Product Tags */
.tags-list {
  display: block;
  font-size: 13px;
  border: 1px solid #c1c4bc;
  background: #f8f7f5;
  padding: 10px;
}

.tags-list li {
  display: inline !important;
  margin: 0 4px 0 0;
}

.tags-list li a {
  color: #1b2d3b;
}

/* Advanced Search */
.advanced-search .form-list label {
  width: 160px;
  padding-right: 10px;
}

.advanced-search .form-list .input-box,
.advanced-search .form-list .input-range {
  float: left;
  clear: none;
}

.advanced-search-amount {
  margin: 0 0 10px;
}

.advanced-search-summary {
  margin: 10px 0;
  border: 1px solid #e9d7c9;
  background: #fff6f1;
  padding: 10px;
}

.advanced-search-summary ul {
  float: left;
  width: 49%;
}

.advanced-search-summary strong {
  color: #E17C24;
  padding-left: 15px;
  background: url(../images/i_search_criteria.gif) 0 3px no-repeat;
}

.advanced-search-summary p {
  clear: both;
  font-weight: bold;
  margin: 0;
}

/* CMS Home Page */
.cms-home .subtitle {
}

.cms-index-index .subtitle {
}

/* Sitemap */
.page-sitemap .links {
  text-align: right;
  margin: 0 8px -22px 0;
}

.page-sitemap .links a {
  text-decoration: none;
  position: relative;
}

.page-sitemap .links a:hover {
  text-decoration: underline;
}

.page-sitemap .sitemap {
  margin: 12px;
}

.page-sitemap .sitemap a {
  color: #1b2d3b;
}

.page-sitemap .sitemap li {
  margin: 3px 0;
}

.page-sitemap .sitemap li.level-0 {
  margin: 10px 0 0;
  font-weight: bold;
}

.page-sitemap .sitemap li.level-0 a {
  color: #1e7ec8;
}

/* RSS */
.rss-title h1 {
  background: url(../images/i_rss-big.png) 0 4px no-repeat;
  padding-left: 27px;
}

.rss-table .link-rss {
  display: block;
  line-height: 1.55;
  background-position: 0 4px;
}

.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after,
.cal-interface:after,
.col2-left-layout:after,
.category-labels:after,
.category-labels li:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
a.btn-remove-item,a.btn-edit-item {text-align: left; display: inline-block; text-indent: -99999px;height: 15px;width: 15px;float: none;}
a.btn-edit-item {padding-right:5px; background: url(../images/btn_edit_grey.png) no-repeat 0 0; }
a.btn-remove-item {background: url(../images/btn_trash_grey.png) no-repeat 0 0;}
.button {
  display: inline-block;
  min-width: 53px;
  text-decoration: none;
  background: $pink;
  border: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  padding: 0 6px;
  height: 24px;
  border: none;font-family: $PTserif; font-weight: bold;
  span {
    font-size: 11px;
    line-height: 24px;
    color: $white;
    
  }
  &.silver {
    @extend .white-to-silver-v-gradient;
    border: 1px solid $border-2;
    background: none;
    span {
      color: $black;
    }
  }
  &.black {background-color: #000;}
  &.large {
    height: 35px;
    span {
      line-height: 35px;
      font-size: 16px;
      text-transform: uppercase;
      font-family: $PTserif;
      font-weight: bold;
    }
  }
  &.invite-facebook-friends,&.invite-facebook-friends:hover {
    background:url(../images/f.png) no-repeat 10px center #4760a4; padding-left: 30px;
  }
  &.love-it {
    background: url(../images/btn-love-it.png) 0 0 no-repeat;width: 70px;height: 24px;
    text-indent: -9999px;
    padding: 0;
    &:hover {
      background: url(../images/btn-love-it.png) 0 0 no-repeat;width: 70px;height: 24px;
    }
  }
  
  &.loved-it {
    background: url(../images/btn-love-it.png) 0 0 no-repeat;width: 70px;height: 24px;
    text-indent: -9999px;
    padding: 0;
    &:hover {
      background: url(../images/btn-love-it.png) 0 0 no-repeat;width: 70px;height: 24px;
    }
  }
}
.button.btn-cart {text-transform: uppercase;}
.button:hover {
  background: $grey-1;
}

.button.silver:hover {
  @extend .silver-to-white-v-gradient;
}

/* FF Fix */
button.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* <- Safari & Google Chrome Fix */
button.button {
 // -webkit-border-fit: lines;
}

/* stop the text moving in IE button  */
button:active span,
button:focus span {
  position: relative;
  top: 0px;
  left: 0px;
}
.pink-v-gradient {
  @include background-image(linear-gradient(#ee2b7a, #dd1e61));
}

.black-v-gradient {
  @include background-image(linear-gradient(#262223, #4e4e50));
}

.pink-h-gradient {
  @include background-image(linear-gradient(left, #ee2b7a, #dd1e61));
}

.black-h-gradient {
  @include background-image(linear-gradient(left, #262223, #4e4e50));
}

.white-to-silver-v-gradient {
  background: #e8e8e8;
  @include background-image(linear-gradient(white, #e8e8e8));
}

.silver-to-white-v-gradient {
  @include background-image(linear-gradient(#e8e8e8, white));
}

.white-to-silver-h-gradient {
  @include background-image(linear-gradient(left, white, #e8e8e8));
}

.silver-to-white-h-gradient {
  @include background-image(linear-gradient(left, #e8e8e8, white));
}
.grey-chat-icon {
  background: url(../images/grey-chat-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 16px;
  padding-left: 21px;
  *display: inline;
  *zoom: 1;
}
.grey-earth-icon {
  background: url(../images/grey-earth-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 14px;
  padding-left: 21px;
  *display: inline;
  *zoom: 1;
}
.pink-chat-icon {
  background: url(../images/pink-chat-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 16px;
  padding-left: 18px;
  *display: inline;
  *zoom: 1;
}
.pink-phone-icon {
  background: url(../images/pink-phone-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 16px;
  padding-left: 25px;
  *display: inline;
  *zoom: 1;
}
.pink-heart-icon {
  background: url(../images/pink-heart-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 10px;
  padding-left: 21px;
  *display: inline;
  *zoom: 1;
}

.pink-plus-icon {
  background: url(../images/pink-plus-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 6px;
  padding-left: 9px;
  *display: inline;
  *zoom: 1;
}

.gift-icon {
  background: url(../images/gift-icon.png) left center no-repeat;
  min-height: 13px;
  padding-left: 15px;
}

.orange-arrow-right-icon {
  background: url(../images/orange-arrow-right-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 10px;
  padding-left: 5px;
  *display: inline;
  *zoom: 1;
}

.cart-icon {
  background: url(../images/bag-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 26px;
  min-width: 18px;
  *display: inline;
  *zoom: 1;
}

.plane-icon {
  background: url(../images/plane-icon.png) left center no-repeat;
  display: inline-block;
  min-height: 20px;
  padding-left: 23px;
  *display: inline;
  *zoom: 1;
}

.bag-icon,
.dress-icon,
.jewelery-icon {
  display: inline-block;
  min-height: 29px;
  padding-left: 50px;
}

.bag-icon {
  background: url(../images/catagories-icon.png) 0 0 no-repeat;
}

.dress-icon {
  background: url(../images/catagories-icon.png) 0 -29px no-repeat;
}

.jewelery-icon {
  background: url(../images/catagories-icon.png) 0 -58px no-repeat;
}

.size-chart-icon {
  background: url("../images/size-chart-icon.png") left center no-repeat;
  padding-left: 16px;
}

.grey-arrow-down-icon {
  background: url("../images/grey-arrow-down-icon.png") right center no-repeat;
  padding-right: 7px;
}

/***********************************************************
    FLAG ICONS
************************************************************/

.flag-icon {
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 18px;
  padding-left: 25px;
}
.flag-icon.usd {
  background-image: url(../images/flag/United-States-Flag.jpg);
}
.flag-icon.aud {
  background-image: url(../images/flag/Australia-Flag.jpg);
}
.flag-icon.brl {
  background-image: url(../images/flag/Brazil-Flag.jpg);
}
.flag-icon.cad {
  background-image: url(../images/flag/Canada-Flag.jpg);
}
.flag-icon.cny,
.flag-icon.cn {
  background-image: url(../images/flag/China-Flag.jpg);
}
.flag-icon.eur {
  background-image: url(../images/flag/European-Union-Flag.jpg);
}
.flag-icon.inr,
.flag-icon.id{
  background-image: url(../images/flag/India-Flag.jpg);
}
.flag-icon.rub {
  background-image: url(../images/flag/Russia-Flag.jpg);
}
.flag-icon.chf {
  background-image: url(../images/flag/Switzerland-Flag.jpg);
}
.flag-icon.ma {
  background-image: url(../images/flag/Malaysia.jpg);
}
.flag-icon.cs {
  background-image: url(../images/flag/Czech-Republic-Flag.jpg);
}
.flag-icon.da {
  background-image: url(../images/flag/Denmark.jpg);
}
.flag-icon.de {
  background-image: url(../images/flag/Germany-Flag.jpg);
}
.flag-icon.es {
  background-image: url(../images/flag/Spain-Flag.jpg);
}
.flag-icon.en {
  background-image: url(../images/flag/England-Flag.jpg);
}
.flag-icon.fr {
  background-image: url(../images/flag/France-Flag.jpg);
}
.flag-icon.it {
  background-image: url(../images/flag/Italy-Flag.jpg);
}
.flag-icon.hu {
  background-image: url(../images/flag/Hungary-Flag.jpg);
}
.flag-icon.ne {
  background-image: url(../images/flag/Netherlands-Flag.jpg);
}
.flag-icon.no {
  background-image: url(../images/flag/Norway-Flag.jpg);
}
.flag-icon.pl {
  background-image: url(../images/flag/Poland-Flag.jpg);
}
.flag-icon.po {
  background-image: url(../images/flag/Portugal-Flag.jpg);
}
.flag-icon.ru {
  background-image: url(../images/flag/Russia-Flag.jpg);
}
.flag-icon.fi {
  background-image: url(../images/flag/Finland-Flag.jpg);
}
.flag-icon.sv {
  background-image: url(../images/flag/Sweden-Flag.jpg);
}
.flag-icon.vi {
  background-image: url(../images/flag/Vietnam-Flag.jpg);
}
.flag-icon.tr {
  background-image: url(../images/flag/Turkey-Flag.jpg);
}
.flag-icon.el {
  background-image: url(../images/flag/Greece-Flag.jpg);
}
.flag-icon.th {
  background-image: url(../images/flag/Thailand-Flag.jpg);
}
.flag-icon.ja {
  background-image: url(../images/flag/Japan-Flag.jpg);
}
.flag-icon.kr {
  background-image: url(../images/flag/Korea-Flag.jpg);
}.cal-interface {
  width: 172px;
  li {
    float: left;
    border: 1px solid $border-1;
    width: 31px;
    text-align: center;
    line-height: 23px;
    margin: 0 10px 8px 0;
  }
  li.showmore {border:none; width:auto; margin: 0; line-height: normal;}
}/* Data Table */
.data-table {
  width: 100%;border: 1px solid $border-2;border-collapse: separate;border-radius: 5px;overflow: hidden;
  tr:nth-child(even) {
    background: #F6F6F6;
  }
  tr:nth-child(odd) {
    background: #fff;
  }
  td.last,
  th.last {
    border-right: 0;
    th,
    td {
      border-bottom: 0 !important;
    }
  }
  th {
    padding: 3px 8px;font-weight: bold;
  }
  td {
    padding: 8px 8px;
    .label {
      display: none;font-weight: bold;
    }
    span.nobr {
      a {text-decoration: underline;}
    }
  }
  thead th {
    font-family:$PTserif;font-weight: bold;padding: 10px 8px;color: $black;font-size: 14px;text-transform: uppercase;white-space: nowrap;vertical-align: middle;@extend .silver-to-white-v-gradient;border-bottom: 1px solid $border-1;
    &.wrap {
      white-space: normal;
    }
    a,
    a:hover {
      color: #fff;
    }
    .tax-flag {
      font-size: 11px;white-space: nowrap;
    }
  }
  tfoot {
    tr {
      background: #ffffff !important;
    }
    td {
      -webkit-box-shadow: inset 0px 4px 6px -4px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0px 4px 6px -4px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0px 4px 6px -4px rgba(0, 0, 0, 0.15);
    }
    tbody {
      th,
      td {

      }
    }
  }
}

/* Bundle products tables */
.data-table {
  tbody {
    .option-label {
      font-weight: bold;font-style: italic;
    }
    .option-value {
      padding-left: 10px;
    }
    &.odd tr {
      background: $white !important;
    }
    &.even tr {
      background: $grey-bg !important;
    }
  }
}

/* Generic Info Box */
.info-box {
  margin: 0 0 15px;
  h2 {
    font-size: 15px;
  }
}

.info-table {
  th {
    font-weight: bold;padding: 2px 15px 2px 0;
  }
  td {
    padding: 2px 0;
  }
}
/* Shopping cart total summary row expandable to details */
tr.summary-total {
  cursor: pointer;
}

tr.summary-total td {
}

tr.summary-total .summary-collapse {
  float: right;text-align: right;padding-left: 20px;background: url(../images/bkg_collapse.gif) 0 5px no-repeat;cursor: pointer;
}

tr.show-details .summary-collapse {
  background-position: 0 -52px;
}

tr.show-details td {
}

tr.summary-details td {
  font-size: 11px;
  background-color: #dae1e4;
  color: #626465;
}

tr.summary-details-first td {
  border-top: 1px solid #d2d8db;
}

tr.summary-details-excluded {
  font-style: italic;
}

/* Shopping cart tax info */
.cart-tax-info {
  display: block;
}

.cart-tax-info,
.cart-tax-info .cart-price {
  padding-right: 20px;
}

.cart-tax-total {
  display: block;padding-right: 20px;background: url(../images/bkg_collapse.gif) 100% 5px no-repeat;cursor: pointer;
}

.cart-tax-info .price,
.cart-tax-total .price {
  display: inline !important;font-weight: normal !important;
}

.cart-tax-total-expanded {
  background-position: 100% -52px;
}


@media screen and (max-width: 767px) {
  .data-table           { box-sizing: border-box; }
  .data-table,
  .data-table tbody,
  .data-table tfoot,
  .data-table tr,
  .data-table td        { display: block; }

  .data-table thead     { display: none; }
  .data-table td        { text-align: left !important; padding: 8px 20px;}
  .data-table td .label { display: block; }
}
.std {   color:#222;}
.std .subtitle {
  padding: 0;
}

.std ol.ol {
  list-style: decimal outside;
  padding-left: 1.5em;
}

.std ul.disc {
  list-style: disc outside;
  padding-left: 18px;
  margin: 0 0 10px;
}

.std dl dt {
  font-weight: bold;
}

.std dl dd {
  margin: 0 0 10px;
}

.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote {
  margin: 0 0 1em;
  padding: 0;
}

.std ul {
  list-style: disc outside;
  padding-left: 1.5em;
}

.std ol {
  list-style: decimal outside;
  padding-left: 1.5em;
}

.std ul ul {
  list-style-type: circle;
}

.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul {
  margin: .5em 0;
}

.std dt {
  font-weight: bold;
}

.std dd {
  padding: 0 0 0 1.5em;
}

.std blockquote {
  font-style: italic;
  padding: 0 0 0 1.5em;
}

.std address {
  font-style: normal;
}

.std b,
.std strong {
  font-weight: bold;
}

.std i,
.std em {
  font-style: italic;
}
.links > li {
  display: inline-block;
}

.links > li.first {
  padding-left: 0 !important;
}

.links > li.last {
  background: none !important;
  padding-right: 0 !important;
}

.link-edit {
  background: url(../images/link-edit.png) 0 0 no-repeat;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  display: inline-block;
}

.link-cart {

}

.link-reorder,
.link-vieworder {
  color: $black;
}

.link-compare {
  font-weight: bold;
}

.link-print {

}

.link-rss {
  background: url(../images/i_rss.gif) 0 2px no-repeat;
  padding-left: 18px;
  line-height: 14px;
  white-space: nowrap;
}

.btn-remove {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_trash.png) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}

.btn-previous {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_previous.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}

.btn-remove2 {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_trash.png) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}

.btn-edit {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_edit.png) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}

.cards-list dt {
  margin: 5px 0 0;
}

.cards-list .offset {
  padding: 2px 0 2px 20px;
}

.separator {
  margin: 0 3px;
}

.divider {
  clear: both;
  display: block;
  font-size: 0;
  line-height: 0;
  height: 1px;
  margin: 10px 0;
  background: url(../images/bkg_divider1.gif) 0 50% repeat-x;
  text-indent: -999em;
  overflow: hidden;
}


/* Global site notices */
.global-site-notice {
  border: 1px solid #cfcfcf;
  border-width: 0 0 1px;
  background: #ffff90;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #2f2f2f;
}

.global-site-notice .notice-inner {
  width: 860px;
  margin: 0 auto;
  padding: 12px 0 12px 80px;
  background: url(../images/i_notice.gif) 20px 25px no-repeat;
  text-align: left;
}

.global-site-notice .notice-inner p {
  margin: 0;
  border: 1px dotted #cccc73;
  padding: 10px;
}

.global-site-notice .notice-inner .actions {
  padding-top: 10px;
}

/* Cookie Notice */
.notice-cookie {
  position: fixed;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0 !important;
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; /* IE8 */
}

/* Noscript Notice */
.noscript {
}

/* Demo Notice */
.demo-notice {
  margin: 0;
  padding: 6px 10px;
  background: #d75f07;
  font-size: 12px;
  line-height: 1.15;
  border: 0;
  text-align: center;
  color: #fff;
}

.demo-notice .notice-inner {
  width: auto;
  padding: 0;
  background: none;
  text-align: center;
}

.demo-notice .notice-inner p {
  padding: 0;
  border: 0;
}.link.normal {
  text-decoration: none;
}

.link.under-line {
  text-decoration: underline;
}

.link.upper {
  text-transform: uppercase;
}
.link.with-arrow {

}

.link.black {
  color: $black;
}

.link.grey {
  color: $grey-link;
}

.link.pink {
  color: $pink;
}

.link.blue {
}
.hidden {
  display: block !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}

.nobr {
  white-space: nowrap !important;
}

.wrap {
  white-space: normal !important;
}

.a-left {
  text-align: left !important;
}

.a-center {
  text-align: center !important;
}

.a-right {
  text-align: right !important;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.f-left,
.left {
  float: left !important;
}

.f-right,
.right {
  float: right !important;
}

.f-none {
  float: none !important;
}

.f-fix {
  float: left;
  width: 100%;
}

.no-display {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-bg {
  background: none !important;
}

.ie-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.clearfix {
  @include pie-clearfix();
}
.clear-both {
  clear: both;
}
.box-sizing {
  @include box-sizing(boder-box) ;
}
.v-divide {
  display: inline-block;height: 13px;width: 1px;background: $border-1;margin-right: 8px;margin-left: 8px;
}
.upper {
  text-transform: uppercase;
}

.show-mobile {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .hidden-mobile { // not show below 767px width screen
    display: none !important;
  }
  .show-mobile {
    display: block !important;
  }
}

.pink-color   { color: $pink;   }
.blue-color   { color: $blue;   }
.black-color  { color: $black;  }
.grey-1-color { color: $grey-1; }
.grey-2-color { color: $grey-2; }

.product-tabs { font-family: $PTserif;
  @extend .clearfix;
  li {
    @extend .silver-to-white-v-gradient;float: left;border: 1px solid $border-1;padding: 8px 12px;border-radius: 4px 4px 0 0;border-bottom: 0;font-size: 14px;margin-right: 5px;
    a { text-decoration: none;text-transform: uppercase;font-weight: bold;color: $black; }
    &.active {
      background: #fff !important;margin-bottom: -1px;padding-bottom: 9px;
      a { color: $pink; }
    }
  }
}

.tabs-content {
  padding: 10px;border-top: 1px solid $border-1;
}

@media screen and (max-width: 1024px) {
  .product-tabs {
    li {
      padding: 5px;font-size: 11px;margin-right: 5px;
      &.active {
        margin-bottom: -1px; padding-bottom: 6px; }
    }
  }
}

.price-label {padding-right:3px;}
.pink {color:$pink;}
.ui-tabs-nav li a {font-family: $PTserif;}
.label {font-family: $PTserif;}
.price-box {@extend .clearfix;
  .retail,.our-price {display: inline-block;}
  .retail {color:$pink;}
  .our-price {float:right; font-weight: bold}
}
span.click {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.cava-popup { position: absolute;
  @include cava-box($border-2,3px,$white);
  .arrow {
    position: absolute;
    top: -12px;
    span {
      @include arrow(20px, 12px, up, $border-1);
      display: block;
      position: relative;
      span {
        @include arrow(18px, 11px, up, $white);
        bottom: -12px;
        left: -9px;
        position: absolute;
      }
    }
  }
  .arrow-down { left: 100px; position: absolute; bottom: -8px; }
  .arrow-down span { width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid $border-1; display: block; position: relative; }
  .arrow-down span span { width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 7px solid white; top: -8px; left: -5px; position: absolute; }
}
.small-arrow {
    left: 100px;
    position: absolute;
    top: -8px;
    span {
      @include arrow(12px, 8px, up, $border-1);
      display: block;
      position: relative;
      span {
        @include arrow(10px, 7px, up, $white);
        bottom: -8px;
        left: -5px;
        position: absolute;
      }
    }
  }
  .small-arrow.left-direction {
    left: -15px;
    position: absolute;
    top: 12px;
    span {
      @include arrow(8px, 12px, left, $border-1);
      display: block;
      position: relative;
      span {
        @include arrow(7px, 11px, left, $white);
        bottom: -5px;
        left: -3px;
        position: absolute;
      }
    }
  }
  .small-arrow.right-direction {
    left: auto;right:-13px;
    position: absolute;
    top: 12px;
    span {
      @include arrow(8px, 12px, right, $border-1);
      display: block;
      position: relative;
      span {
        @include arrow(7px, 11px, right, $white);
        bottom: -5px;
        left: -8px;
        position: absolute;
      }
    }
  }
.filter-align-rows ol li a img,img.amconf-image {border:1px solid $border-1; padding:1px;}

// Block Featured Deal
.block-featured-deal {
  @include box-sizing(border-box);
  height: 399px;
  border: 1px solid $border-2 ;
  padding: 0 10px 10px 10px ;
  background: #f9fafc;
  border-radius: 4px; overflow: hidden;
  .block-title { text-align: center;
    font-family: $PTserif ;
    background: none ;
    width: auto ;
    font-size: 22px ;
    color: $black ;
    text-transform: uppercase ;
    font-style: normal ;
    height: 38px ;
    line-height: 38px ;
    margin: 0 ;
    padding: 0 ;
  }
  /* BEGIN .block-content */
  .block-content {
    background: #fff ;
    width: auto ;
    text-align: left ;
    padding: 10px 10px 5px ;
    > .left {font-family: $PTserif;
      width: 233px;
      a span {display: block; height: 50px}
      a img {width:200px;max-height: 277px;}

    }
    .product_name {
      line-height: 36px ;
      font-size: 32px ;
      text-transform: uppercase ;
      color: #17682d ; font-family: $PTserif;
    }
    .product_image {
      display: block ;
      max-width: 100%;
      margin: 0 0 13px 0;
      float: none ;
    }
    .share {
      margin-bottom: 2px; height: auto!important;
      > span {
        font-size: 12px;
        text-transform: uppercase;
        width: 114px;
      }
      span,
      .addthis_toolbox {
        display: inline-block;
        height: 23px;
        line-height: 23px;
        vertical-align: top;
        > a {
          > span {
            background: url(../images/share-this-deal.png) 0 0 ;
            width: 24px ;
            height: 23px ;
          }
        }
        > a.addthis_button_twitter {
          > span {
            background: url(../images/share-this-deal.png) -26px 0 ;
          }
        }
        > .addthis_button_pinterest_share {
          > span {
            background: url(../images/share-this-deal.png) -53px 0 ;
          }
        }
      }
    }
    .invite-on-deal {
      span {
        display: inline-block;
        width: 120px;
        color: $pink;
        text-transform: uppercase; 
      }
      a {
        display: inline-block;
        text-transform: uppercase;
        color: #747474;
      }
    }
    > .right {
      width: 146px;padding-right: 10px;
    }
    .deal-price { 
      @include pie-clearfix();
      .special-price {
        padding: 0 ;
        margin-bottom: 10px; margin-top: 10px;
        font-size: 62px;
        line-height: 55px;
        color: $pink;
        font-weight: bold;
        white-space: nowrap;
        letter-spacing: -2px;
        span {
          font-size: 30px;
          display: inline-block;
          vertical-align: top;
          line-height: 22px; letter-spacing: -1px;
          &.currency-symbol { letter-spacing: -2px;
            font-size: 38px;
            line-height: 34px;

          }
        }
      }
      .price-value,
      .price-discount,
      .price-you-save {
        @include box-sizing(border-box);
        float: left;
        width: 33.33%;
        text-align: center;
        font-size: 11px;
        height: 28px;
        line-height: 14px;
        border-right: 1px solid $border-2;
        margin-bottom: 15px;
        .value {
          font-weight: bold; display: block; white-space: nowrap; overflow: hidden;
        }
      }
      .price-value {
        .value {
          text-decoration: line-through;
        }
      }
      .price-discount {
        .value {
          color: $pink;
        }
      }
      .price-you-save {
        border: 0;
        .value {
          color: $pink;
        }
      }
    }
    .add-to-cart {
      min-height: 86px;
      button {
        width: 146px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 8px;
        span {font-size: 16px;}
      }
      .buy-as-gift {
        button.button > span{background: url(../images/gift-button.png) no-repeat 7px center; display: block;
          span {text-transform: none;padding-left: 4px; line-height: normal; font-size: 14px; display: block; margin-top: -2px;}
        }
      }
    }
    .countdown {
      padding: 0 ;
      .countdown-text {
        font-size: 13px; margin: 7px 0 0px;
        white-space: nowrap; text-transform: capitalize;
      }
      .js-days-countdown {text-transform: uppercase;font-family: $PTserif;}
      .js-countdown,
      .js-countdown-days {
        font-size: 13px ; white-space: nowrap;
        color: $black ;
        line-height: 17px;
        font-weight: bold ;
        strong {
          font-size: 14px ; padding-left:2px;
          color: $black ;
        }
      }
    }
    .limited-quantity-label {
      font-size: 13px;
      margin: 9px 0 0px;white-space: nowrap; letter-spacing: -0.1px;
    }
    .deal-qty {
      font-size: 13px;
      height: 17px;font-family: $PTserif;
      margin: 0 0 6px; text-transform: uppercase;
    }
    .view-all-deal { margin-top: 17px;
      a {
        font-size: 12px;
        text-transform: uppercase;
        color: $pink;
        text-decoration: underline;
        line-height: 28px;
      }
    }
  }
  /* END .block-content */
}
.deal-small {/* zoom:69%; -moz-transform:  scale(0.68);-moz-transform-origin: right top; position: absolute; right:0; top:0;width:432px;right:-132px\9; */
      .block-featured-deal {height:auto; padding:0 5px 2px 5px ; margin-bottom: 0 ;
        .block-content .share > span {width: 84px; white-space: nowrap;}
      .block-title {font-size: 18px ;height: 25px ; line-height: 25px ;}
      .block-content {padding:5px 5px 0 ; 
        >.left {width:138px; margin-right: 20px;
          > a > span {height: 37px; overflow: hidden;}
          .product_name {font-size: 21px ;}
           .product_image {height:196px; width:137px; margin-bottom: 5px ;}
          .share {position: relative; height: 20px !important; margin-bottom: 0;
            span {font-size: 9px;}
            .addthis_toolbox {
              > a {padding:0 1px;
                > span {width: 15px ; height: 15px ; background-size: 51px ; background-repeat: no-repeat;
                  &.at16nc.at16t_twitter {background-position: -18px center }
                  &.at16nc.at16t_pinterest_share {background-position: -36px center }
                }
              }
            }
          }
          .invite-on-deal {
             span{font-size: 9px; width:auto;}
              a {font-size: 8px; float:right;}
          }
        }
        >.right {width:123px; padding-right: 0px;
          .deal-price {
           .special-price {font-size: 48px; line-height: 44px; margin-bottom: 3px; text-align: right;
              span {font-size: 25px; line-height: normal;
              }
              span.currency-symbol{font-size: 28px; line-height: normal; }
            }
            .price-value,.price-discount,.price-you-save {font-size: 9px; margin-bottom: 10px;
              .value {clear: both; overflow: hidden;}
            }
          }
          .add-to-cart {min-height: 0;
            button.button {width:119px; height: 25px; margin-bottom: 5px;
              span {font-size: 13px; line-height: 25px;}
            }
            .buy-as-gift button.button{margin-bottom: 0;
              > span {background-size: 9px auto;background-position: 3px center;font-size: 12px;}
            } 
          }
          .countdown {
            .countdown-text {font-size: 10px; line-height: normal; letter-spacing: 0; margin:7px 0 0px}
            .js-countdown-days {font-size: 10px ;
              strong {font-size: 10px ;}
            }
          }
         .limited-quantity-label {font-size: 9px; line-height: normal; margin-top: 4px;}
         .deal-qty {font-size: 10px; margin-bottom: 0}
         .view-all-deal{margin-top: 0px;line-height: normal;
          a {font-size: 9px; line-height: normal;}
          } 
          }
      }
    }
  }
.pluginCountButtonNub {height: 0;left: 2px;position: relative;top: -15px;width: 5px;z-index: 2;}
.pluginCountButtonNub s, .pluginCountButtonNub i {border-color: transparent #9197a3;border-style: solid;border-width: 4px 5px 4px 0;display: block;position: relative;top: 1px;}
.pluginCountButtonNub i {border-right-color: #fff;left: 2px;top: -7px;}

/* ----------Enlarge View------------- */
.enlarge {
  .owl-item .item {margin:1px;}
  .item {position: relative; min-height: 250px; text-align: center; list-style-type: none;
    .item-wrapper {padding:20px; @include box-sizing(border-box);
      &.enlarge-fake {display: block;}
      &.enlarge-real {display: none; position: absolute;z-index: 99; width:265px; height: 490px; left:-25px; top:-26px;border:1px solid $border-2; @include border-radius(4px);background: url(../images/enlarge-item.png) repeat-x 0 bottom #fff;
        .product-info {
          .enlarge-item-color {display: none;}
        }
      }
    }
    &:hover {
      /* .item-wrapper.enlarge-fake {display: none;} */
      .item-wrapper.enlarge-real {display: block;}
    }
  .bl-image {position: relative;
    .video-player { position: absolute; top:0; right:0; 
      a {display: block; font-size: 10px; text-transform: uppercase; line-height: 10px; background: url(../images/playvideo.png) no-repeat center 0; text-align: center; width:30px; height: 20px; padding-top:20px;}
    }
    video {max-width: 100%;max-height: 250px;margin-bottom: 16px;}
    .product-image {margin-bottom: 10px;}
  }
  .product-info {
    .enlarge-color { min-height: 24px; @extend .clearfix;
      img {width:16px; height: 16px; border:1px solid $border-2;}
      .enlarge-item-color {
        li {
          img { margin-right: 9px; float: left;}
        }
      }
      .enlarge-color-real {position: absolute; left:20px; top:20px;
        li { clear: both; display: block; margin-bottom: 8px;}
      }
    }
    .enlarge-size { text-align: center;
      li { display: inline-block; float: none;
        a {-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
          @include border-radius(3px); text-align: center; width:25px; height: 20px; margin-right: 9px;
          border:1px solid $border-2; display: inline-block; float: left;
          &.sm-conf-not-saleable {opacity:0.65;}
          &.sm-conf-selected {border-color:$border-1;}
        }
      }
    }
    .product-name {text-align: center; font-size: 12px; text-transform: none; margin-bottom: 0;}
    .description {text-align: center;line-height: 22px;height: 22px;margin: 0; overflow: hidden;}
    .product-stt-price {@extend .clearfix;
      .price-box {
        .retail {float: left;}
      }
      .product-status {
        .ratings {margin:0;
          .rating-box {margin-right: 5px;}
          .amount {float: left; }
        }
      }
    }
    .share { position: absolute; left:0;  bottom:25px; width:100%; padding:0 20px; @include box-sizing(border-box);
    .cava-love-it {
      .love-it {width:17px; height: 16px; background: url(../images/heart.png) no-repeat 0 0; text-indent: -99999px;}
      .love-it-count {background: white;border: 1px solid #9197a3;-webkit-border-radius: 2px;color: #6a7180;
        display: inline-block;font-size: 11px;height: auto;line-height: 18px;margin-left: 6px;
        min-width: 15px;padding: 0 3px;text-align: center;white-space: nowrap;}
    }
   .social-share {
    >a {float:left; margin-right: 8px;}
    >.fb-like > span {overflow: hidden !important;
      > iframe {overflow: hidden !important;}
      }
    p.update-face {display: none !important;}
    }    
    }
  }
  
  }
  &.enlarge-popup { 
    .item {
      .item-wrapper {border:1px solid $border-2; @include border-radius(4px);background: url(../images/enlarge-item.png) repeat-x 0 bottom #fff;
         &.enlarge-fake {display: none;}
         &.enlarge-real {display: block;}
      }
      .bl-image {
        .video-player {display: block;}
      } 
      .product-info {
        .share {height: auto; overflow: visible;}
        .enlarge-size {display: block;}
        .enlarge-color-real {display: block;}
        .enlarge-item-color {display: none;}
      }
    
    } 
  }    
}
.ui-dialog-title {
    display:none;
}
.ui-dialog-titlebar {
    background:transparent;
    border:none; position: relative;z-index: 1;
}
.ui-dialog .ui-dialog-content {margin-top: -10px;}
.bottom-banner {height: 40px; line-height: 40px; text-align: center;background: url(../images/bottombanner-bg.jpg) repeat-x 0 0;
  img {vertical-align: middle;}
}
.back-link  {font:bold 12px/15px $PTserif;}
button.btn-cart-disable {background-color: #dddddd; pointer-events:none; text-transform: uppercase;}
.ratings {
  .rating-links {display: inline-block;margin:0 0 0 5px; vertical-align: bottom; line-height: 15px;}
}
