
.block {
}

.block .block-title {
  @extend .black-v-gradient;
  text-align: left;
  text-transform: uppercase; font-size: 12px;
  padding: 0 0 0 10px; line-height: 25px; height: 25px;
}

.block .block-title strong {
  color: $white; font-family: $PTserif;
}

.block .block-title strong span {
}

.block .block-title a {
  text-decoration: none !important;
}

.block .block-subtitle {
  margin: 0;
  padding: 5px 9px;
  font-size: 1em;
  font-weight: bold;
  color: #0a263c;
}

.block .block-content {
  background: $grey-2;
}

.block .block-content li.item {
  padding: 7px 9px;
}
.block .btn-remove,
.block .btn-edit {
  float: right;
  margin: 1px 0 2px 5px;
}

.block .actions {
  
}

.block .actions a {
  float: left;
}

.block .actions button.button {
  float: right;
}

.block .empty {
  margin: 0;
  padding: 5px;
}

.block li.odd {
  background-color: #f4f3f3;
}

.block li.even {
  background-color: #fafafa;
}

/* Mini Blocks */
.block-cart,
.block-wishlist,
.block-subscribe,
.block-compare,
.block-reorder,
.block-poll,
.block-gr-search,
.block-viewed,
.block-compared,
.block-related,
.block-tags,
.block-login {
  font-size: 11px;
  line-height: 1.25;
}

/* Mini Products List */
.mini-products-list .product-image {
  float: left;
  width: 50px;
  border: 1px solid #a9a9a9;
}

.mini-products-list .product-details {
  margin-left: 60px;
}

.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small {
  word-wrap: break-word;
}

.block-cart .mini-products-list .product-details .nobr {
  white-space: normal !important;
}

/* Block: Account */
.block-account {
  border-color: $border-1; font-family: $PTserif;
}

.block-account .block-title {
  border: 0;
  padding: 3px 10px;
  border-radius: 5px 5px 0 0;
}

.block-account .block-title strong {
  font-size: 16px;
  color: #fff;
}

.block-account .block-content {
  background: $grey-bg;
  padding: 7px 10px 7px 26px;
}

.block-account .block-content li {
  padding: 6px 0;
}

.block-account .block-content li a {
  display: block;
  line-height: 17px;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
}

.block-account .block-content li a:hover {
  color: $pink;
}

.block-account .block-content li.last a {
  border-bottom: 0;
}

.block-account .block-content li.current {
  strong,a {
    color: $pink;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: normal;
  }
}

.block-account .block-content li.current.last {
  border-bottom: 0;
}

/* Block: Currency Switcher */
.block-currency {
}

.block-currency .block-title {
}

.block-currency .block-title strong {
}

.block-currency .block-content {
}

.block-currency .block-content select {
  width: 100%;
  padding: 0;
}

/* Block: Layered Navigation */
.block-layered-nav {
  border: 0;
}

.block-layered-nav .block-title {
  border: 0;
  padding: 0;
  height: 24px;
  text-indent: -999em;
  overflow: hidden;
}

.block-layered-nav .block-subtitle {
background: url(../images/title-filter.png) repeat-x 0 0;
height: 25px;
line-height: 25px;
color: #fff;
text-transform: capitalize;
text-align: center; font-family: $PTserif; text-transform: uppercase; text-align: left; padding:0 0 0 10px;

}

.block-layered-nav .block-content {
  button.button { float: right; margin-right: 10px; 
    span span {background: none !important; font-family: $PTserif; font-weight: normal;font-size: 13px;}
  }
}
.block-layered-nav dt {
}
.block-layered-nav dd {}
.block-layered-nav dd.last {
  background: none;
}
.block-layered-nav .currently li {
  background: #fff url(../images/bkg_block-layered-li.gif) 0 100% repeat-x;
  padding: 6px 24px 6px 10px;
  position: relative;
  z-index: 1;
  line-height: 1.5;
}

.block-layered-nav .currently .label {
  font-weight: bold;
  padding-left: 15px;
  background: url(../images/bkg_block-layered-label.gif) 0 4px no-repeat;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}

.block-layered-nav .currently .value {
  display: inline-block;
  vertical-align: top;
}

.block-layered-nav .currently .btn-previous,
.block-layered-nav .currently .btn-remove {
  position: absolute;
  right: 4px;
  top: 9px;
  margin: 0;
}

.block-layered-nav .currently .btn-previous {
  right: 17px;
}

.block-layered-nav .actions {
  font-size: 11px;
  padding: 4px 5px 4px 9px;
  background: #cad6e4;
  border: 1px solid #dee5e8;
  border-width: 1px 0;
  text-align: right;
}

.block-layered-nav .actions a {
  float: none;
}

/* Block: Cart */
.block-cart .block-title {
}

.block-cart .block-title strong {
}

.block-cart .summary {
  background: #fff;
  padding: 2px 8px 8px;
  margin: -1px 0 0;
  position: relative;
  z-index: 1;
}

.block-cart .amount {
  margin: 0;
}

.block-cart .amount a {
  font-weight: bold;
}

.block-cart .subtotal {
  margin: 5px 0 0;
  padding: 2px 0;
  background: #fbebd9;
  text-align: center;
}

.block-cart .subtotal .price {
  font-weight: bold;
}

.block-cart .actions {
  border-bottom: 1px solid #c2c2c2;
}

.block-cart .actions .paypal-logo {
  float: left;
  width: 100%;
  margin: 3px 0 0;
  text-align: right;
}

.block-cart .actions .paypal-logo .paypal-or {
  clear: both;
  display: block;
  padding: 0 55px 8px 0;
}

/* Block: Wishlist */
.block-wishlist .block-title strong {
}

.block-wishlist .actions {
  text-align: right;
}

.block-wishlist .actions a {
  float: none;
}

/* Block: Related */
.block-related .block-title strong {
}

.block-related input.checkbox {
  float: left;
}

.block-related .product {
  margin-left: 20px;
}

/* Block: Compare Products */
.block-compare .block-title strong {
}

.page-popup .link-print {
  background: url(../images/i_print.gif) 0 2px no-repeat;
  padding: 2px 0 2px 25px;
  font-weight: bold;
  color: #1e7ec8;
}

.compare-table {
  border: 0;
}

.compare-table thead tr.first th,
.compare-table thead tr.first td {
  border: 0;
  background: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.compare-table .btn-remove {
  float: right;
  background-image: url(../images/btn_remove2.gif);
  width: 72px;
  height: 15px;
}

.compare-table tbody th {
  background: #d9e5ee url(../images/bkg_th-v.gif) 100% 0 repeat-y;
}

.compare-table tbody th,
.compare-table tbody td {
  padding: 10px;
  border: 0;
  border-top: 1px solid $border-1;
  border-left: 1px solid $border-1;
}

.compare-table tbody td.last {
  border-right: 1px solid $border-1;
}

.compare-table tbody tr.last th,
.compare-table tbody tr.last td {
  border-bottom: 1px solid #ccc !important;
}

.compare-table tr.add-to-row td {
  background: #fffada;
  text-align: center;
}

.compare-table tr.first td {
  text-align: center;
}

.compare-table tr.first td .product-name {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 5px;
  color: #203548;
}

.compare-table tr.first td .product-name a {
  color: #203548;
}

.compare-table tr.first td .ratings {
  width: 69px;
  margin: 0 auto;
}

.compare-table tr.first td p,
.compare-table tr.add-to-row td p {
  margin: 0;
}

/* Block: Recently Viewed */
.block-viewed .block-title strong {
}

/* Block: Recently Compared */
.block-compared .block-title strong {
}

/* Block: Poll */
.block-poll .block-title strong {
}

.block-poll .block-subtitle {
  font-size: 12px;
}

.block-poll label {
  color: #777;
  font-weight: bold;
}

.block-poll input.radio {
  float: left;
  margin: 1px -18px 0 0;
}

.block-poll .label {
  display: block;
  margin-left: 18px;
}

.block-poll li {
  padding: 3px 9px;
}

.block-poll .actions {
  margin: 5px 0 0;
}

.block-poll .answer {
  font-weight: bold;
}

.block-poll .votes {
  float: right;
  margin-left: 10px;
}

/* Block: Orders and Returns */
.block-gr-search li {
  padding: 3px 9px;
}

/* Block: Tags */
.block-tags .block-title strong {
}

.block-tags .block-content .tags-list {
  background: none;
  border: 0;
  font-size: 12px;
}

.block-tags .block-content a {
  color: #1b2d3b;
}

.block-tags .actions {
  text-align: right;
}

.block-tags .actions a {
  float: none;
}

/* Block: Subscribe */

/* Block: Reorder */
.block-reorder .block-title strong {
}

.block-reorder input.checkbox {
  float: left;
  margin: 2px -20px 0 0;
}

.block-reorder .product-name {
  margin-left: 20px;
}

.block-reorder .validation-advice {
  margin: 3px 9px 7px;
}

/* Block: Banner */
.block-banner {
  border: 0;
}

.block-banner .block-content {
  padding: 0;
  text-align: center;
}

/* Block: Login */
.block-login .block-title strong {
}

.block-login .block-content {
  padding: 5px 10px;
}

.block-login label {
  font-weight: bold;
  color: #666;
}

.block-login input.input-text {
  display: block;
  width: 167px;
  margin: 3px 0;
}

.block-login .actions {
  background: none;
  padding: 0;
  margin: 3px 0 0;
}

/* Paypal */
.sidebar .paypal-logo {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.sidebar .paypal-logo a {
  float: none;
}

/* Home callout */
.sidebar .home-callout {
  padding: 0 15px;
}

.sidebar .home-callout img {
  width: 100%;
  height: auto;
}

// Sidebar category page
#navigation-top {
  >h3.title-cat-nor {font-size: 12px; border-top: 1px solid $border-1; border-bottom:1px solid $border-1; height: 25px; line-height: 25px; padding-left: 20px; text-transform: uppercase; margin:5px 0;}
  >h3.shop-cate {background: url(../images/title-filter.png) repeat-x 0 0;; height: 25px; line-height: 25px; border-top-left-radius: 5px; border-top-right-radius: 5px; color:#fff; text-transform: capitalize; text-align: center;font-size: 15px; }
  >ul {padding-left: 20px;}
  >ul>li {line-height: 23px;}
  >ul>li>a {font-family: $PTserif; font-size: 12px; text-transform: uppercase;
   text-decoration: none;
    &.active {color:$pink;}
  }
  .filter-by-supercat {position: relative;
    a.reset-link {position: absolute; top: 5px; right:5px;}
    ol {border:none;background: none;
      li a {padding-left: 0 !important;  font-size: 12px;text-transform: uppercase;background:none;
        &:hover,&.active {color:$pink;}
      }
    }
    dt#advancednavigation-filter-content-supercat-left-title {
      &:after {content: "..."; display: inline-block;overflow: visible;}
    }
  }
  .filter-align-rows {position: relative;
    a.reset-link {text-transform: none;font-weight: normal;float:right;padding-right: 20px; font-size: 11px; color: #333;}
  }
  #advancednavigation-filter-content-subcat-left a.reset-link{padding-right: 10px;}
  ol.gan-list-checkbox  {margin-left:20px;
    li {text-transform: uppercase; margin-bottom: 5px;
      a { text-transform: none;}
    }
  }
}
  a.cert_link {font-family: $PTserif;  font-weight: bold; color: #000; padding-left:20px; text-transform:uppercase; line-height: 30px; text-decoration: none;padding-bottom: 5px;}
.narrow-by-list {
  dl dt {border-top: 1px solid $border-1; border-bottom:1px solid $border-1; height: 30px; line-height: 30px; color: $black; padding-left: 17px; text-transform: uppercase; margin:5px 0 0;font-family: $PTserif;font-size: 12px; font-weight: bold;}
  dt#advancednavigation-filter-content-subcat-left-title {border-bottom:0;}
  dd { margin-bottom: 20px;
    &#advancednavigation-filter-content-subcat-left {
      >.sub-cat-title {margin: 0 15px; display: block;border:1px solid $border-1; background: #fff; padding-left: 10px;
        
        font-size: 12px;
        font-weight: bold; text-transform: uppercase; line-height: 27px;
      }
      ol li a {font-size: 12px;  padding-right: 5px;}
    }
   ol { border:1px solid $border-1; border-top:none; padding:10px 0 5px 10px;background-color: #fff;margin:0 15px; max-height: 358px; overflow-y:auto;
      li a {text-decoration: none; font-family: $PTsans;}
   }
  }
}
#block-layered-nav-left {
  #narrow-by-list-left {
    dl.gan-attribute dd#advancednavigation-filter-content-color-left ol {
      li { margin-bottom: 4px;
        a {
        img {width: 17px; height: 17px; float: left; padding:0;
          &[title="White"] {border:1px solid #e4e4e4;}
        }
        .filter-label {text-transform: uppercase; line-height: 18px; display: block;padding-left: 24px;}
        }
      }
    }
  }
}
.narrow-by-list dd{
  ol {padding-bottom: 26px; position: relative;
  li a.gan-attr-more,li a.gan-attr-less {padding:0 10px 0 0 !important; white-space: nowrap; float: right;
        position: absolute;
        right: 10px;
        bottom: 7px;
      }
    }
} 
#narrow-by-list-left.narrow-by-list {
  dl.gan-attribute {border:1px solid $border-1; margin: 20px 15px; background-color: #fff;
    dt {border:none; margin:0; border-bottom:1px solid $border-1; padding-left: 10px;
      a.clear-filter{font-weight: normal;font-size: 11px; color:#333; text-decoration: none; float:right; text-transform: none; padding-right: 10px;}
    }
    dd {margin-bottom: 0}
    dd ol {margin:0; border:none; padding-bottom: 26px;
    }
    dd ol.cal-interface {
      > a {position: absolute;left:10px; bottom:5px; background: url(../images/sizechart.png) no-repeat 0 center; padding-left:17px; text-transform: uppercase; color:#000;}
      li a {padding-left: 0 !important}
    }
    dd#advancednavigation-filter-content-price-left {
      ol li{line-height: 23px;
        a span{text-decoration: none;}
      } 
    }
    dd#advancednavigation-filter-content-designer-left {
       ol li{line-height: 23px;
        a { text-transform: uppercase;}
      } 
    }
  }
}
.col-left.sidebar > img {border:1px solid #eee; border-radius: 5px; margin-left: 6px;}
.block-viewed {border:solid 1px $border-1; margin-bottom: 20px; background: #fff;
  .bx-wrapper {padding:30px 6px;background: #fff; background: #fff;
    .bx-controls-direction a {width:27px; height: 13px; left:91px;}
    .bx-next {top:auto; bottom:8px; background: url(../images/next-vertical.png) no-repeat 0 0;}
    .bx-prev {top:20px;background: url(../images/prev-vertical.png) no-repeat 0 0;}
    .bl-image.bl-recent-item {position: relative;
      a.pro-quick-view {display: none}
      &:hover a.pro-quick-view{display: block;}
    }
    li.item {
      .price-box {margin:7px 0;overflow: hidden;clear:both;
        .regular-price {float: right; color:$pink; font-size: 12px;
          .price {color:$pink;font-weight: bold;}
        }
      }
      p.product-name{margin:5px 0; font-size: 12px;}
      .actions {float:right;}
      .product-status {float:left}
    }
  }
}
.block-viewed.block li.even,.block-viewed.block li.odd {background: none;}