<div class="measurements">
    <div class="head">
        <span class="left">Submit your question to our product advisor:</span>
		<span class="right">
			<?php $productStyle = $this->getProduct()->getProductStyle(); ?>
            <?php if (!empty($productStyle)): ?>
            <?php echo 'STYLE: '.$productStyle;?>
            <?php endif; ?>
		</span>
    </div>

    <div class="content">
        <form action="<?php echo $this->getUrl().'measurements/index/addMeasurement';?>" method="post" name="" class="measure" enctype="multipart/form-data" id="measure-form">
            <div class="col-6">
                <p><label>Name</label> <input type="text" name="name"/></p>
                <p><label>Subject</label> <input type="text" name="subj"></p>
                <input type="hidden" name="product_id" value="<?php echo $this->getProduct()->getId();?>" />
                <input type="hidden" name="product_url" value="<?php echo Mage::helper('core/url')->getCurrentUrl();?>" />
            </div>
            <div class="col-6">
                <p><label>E-mail<em>*</em></label><input type="email" name="email" class="input-text validate-email required-entry"/></p>
                <p><label>Phone </label><input type="text" name="phone" class="input-text validate-zero-or-greater"/></p>
            </div>

            <div class="col-12">
                <p><label>inquiry<em>*</em></label><textarea type="email" name="inquiry" class="input-text required-entry"/></textarea></p>
            </div>

            <div class="bottom col-12">
                <input type="file" name="file" id="attach-measurement" hidden="hidden" />
                <a id="attachfile_mesure" class="attachfile"><i class="fa fa-paperclip"></i> <span>Attach a File</span></a>
                <span></span>
                <div class="right btn-action">
                    <span>* Mandatory fields</span>
                    <input type="submit" class="button" value="Submit"/>
                    <input type="reset" class="button" value="Cancel"/>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var dataForm = new VarienForm('measure-form', true);
            //]]>
        </script>
    </div>
</div>