<?php
    /** @var $coreHelper Mage_Core_Helper_Data */
    $coreHelper = Mage::helper('core');
    $themHelper = Mage::helper('cavabien_theme');
?>
<?php $blockId = 'the-look' ?>
<?php if($this->getItems()->getSize()): ?>
    <div class="tab-the-look-container">
        <div class="tab-the-look-slider">
            <?php foreach($this->getItems() as $_item): ?>
                <div class="item">
                    <form action="<?php echo Mage::getBaseUrl() ?>checkout/cart/add" method="post" id="product_<?php echo $_item->getId() ?>_addtocart_form"<?php if($_item->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                        <div class="products-view">
                            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image">
															<img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(147) ?>" width="147" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" />
														</a>
                            <div class="product-details">
                                <div class="no-display">
                                    <input type="hidden" name="product" value="<?php echo $_item->getId() ?>" />
                                    <input type="hidden" name="qty" id="qty<?php echo $blockId ?>" maxlength="12" value="1" title="<?php echo $this->__('Quantity') ?>" class="input-text qty"/>
                                </div>
                                <?php echo $this->getBlockHtml('formkey') ?>
                                <p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a></p>
                                <?php if ($_item->isConfigurable()): ?>
                                    <?php echo $themHelper->getProductOptionsBlock($_item, $blockId) ?>
                                <?php endif; ?>
                                <p class="price-block">
                                    <?php if ($_item->getMsrp()): ?>
                                        <span class="retail-price"><?php echo $this->__('Retail: ') . $coreHelper->currency($_item->getMsrp(),true, false) ?></span>
                                    <?php endif; ?>
                                    <?php if ($_item->getPrice()): ?>
                                        <span class="our-price"><?php echo $this->__('Our Price: ') . $coreHelper->currency($_item->getPrice(), true, false)?></span>
                                    <?php endif; ?>
                                </p>

                                <?php if ($_item->isSaleable()): ?>
                                    <div class="actions">
                                        <button type="submit" title="<?php echo $this->__('Add to Bag') ?>" class="button btn-cart"><span><span><?php echo $this->__('Add to Bag') ?></span></span></button>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        var productAddToCartForm = new VarienForm('product_<?php echo $_item->getId() ?>_addtocart_form');
                        productAddToCartForm.submit = function(button, url) {
                            if (this.validator.validate()) {
                                var form = this.form;
                                var oldUrl = form.action;

                                if (url) {
                                    form.action = url;
                                }
                                var e = null;
                                try {
                                    this.form.submit();
                                } catch (e) {
                                }
                                this.form.action = oldUrl;
                                if (e) {
                                    throw e;
                                }

                                if (button && button != 'undefined') {
                                    button.disabled = true;
                                }
                            }
                        }.bind(productAddToCartForm);

                        productAddToCartForm.submitLight = function(button, url){
                            if(this.validator) {
                                var nv = Validation.methods;
                                delete Validation.methods['required-entry'];
                                delete Validation.methods['validate-one-required'];
                                delete Validation.methods['validate-one-required-by-name'];
                                // Remove custom datetime validators
                                for (var methodName in Validation.methods) {
                                    if (methodName.match(/^validate-datetime-.*/i)) {
                                        delete Validation.methods[methodName];
                                    }
                                }

                                if (this.validator.validate()) {
                                    if (url) {
                                        this.form.action = url;
                                    }
                                    this.form.submit();
                                }
                                Object.extend(Validation.methods, nv);
                            }
                        }.bind(productAddToCartForm);
                    </script>
                </div>
            <?php endforeach ?>
        </div>
    </div>
<?php endif ?>