<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php if ( ($invitations = $this->getData('invitations')) && count($invitations) > 0) { ?>
<div id="plumrocket-ajax-load-area">
<?php echo $this->getPagerHtml(); ?>
<table class="data-table" id="open-invitations-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th width="40%"><?php echo $this->__('To') ?></th>
			<th width="20%"><?php echo $this->__('Confirmed at') ?></th>
            <th><?php echo $this->__('First order') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($invitations as $invitation){ ?>
		<tr>
			<td><?php echo htmlspecialchars($invitation->getInviteeName()) ?></td>
			<td><?php echo date('m/d/y',strtotime($invitation->getConfirmedAt())) ?></td>
			<td><?php if ($invitation->getFirstOrder()) echo $this->__('YES'); else  echo $this->__('NO'); ?></td>
		</tr>
		<?php } ?>
		
    </tbody>
</table>
<?php echo $this->getPagerHtml(); ?>
<script type="text/javascript">decorateTable('open-invitations-table');</script>
</div>
<?php } else { ?>
    <p class="empty-list"><?php echo $this->__('You do not have any accepted invitations yet.'); ?></p>
<?php } ?>
