<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php if ( ($invitations = $this->getData('invitations')) && count($invitations) > 0) { ?>
    <div id="plumrocket-ajax-load-area">
        <form method="POST">
            <?php echo $this->getPagerHtml(); ?>
            <table class="data-table" id="open-invitations-table">
                <col width="1" />
                <col width="1" />
                <col />
                <col width="1" />
                <col width="1" />
                <col width="1" />
                <thead>
                <tr>
                    <th><input type='checkbox' onChange='toggleAll(this)' name='toggle_all' value=''></th>
                    <th><?php echo $this->__('To') ?></th>
                    <th><?php echo $this->__('Last Invitation sent') ?></th>
                    <th><?php echo $this->__('Number of times sent') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($invitations as $invitation){ ?>
                    <tr>
                        <td>
                            <input name='invitation[<?php echo $invitation->getId(); ?>]' value='<?php echo $invitation->getId(); ?>' type='checkbox' />
                        </td>
                        <td width="40%"><?php echo htmlspecialchars($invitation->getInviteeName()) ?></td>
                        <td><?php echo date('m/d/y',strtotime($invitation->getUpdatedAt())) ?></td>
                        <td width="20%"><?php echo htmlspecialchars($invitation->getSentCount()) ?></td>
                    </tr>
                <?php } ?>

                </tbody>
            </table>
            <?php echo $this->getPagerHtml(); ?>
            <br/>
            <button id="remove-open-invitations" type="button" title="Send Invitation" class="button btn-cart send-invitation"><span><span><?php echo $this->__('Remove Items'); ?></span></span></button>
        </form>

        <script type='text/javascript'>
            pjQuery(document).ready(function(){
                pjQuery('#remove-open-invitations').click(function(){
                    var form = pjQuery(this).parents('form:first');
                    pjQuery.ajax({
                        url : '<?php echo $this->getUrl('invitations/index/deleteOpenInvitations') ?>',
                        type : 'POST',
                        data : form.serialize(),
                        success : function(data){
                            pjQuery('#invitations-lists').html(data);
                        },
                    });
                });
            });

            function toggleAll(element)
            {
                var value = pjQuery(element).attr('checked');
                if (value != 'checked')
                    value = false;
                pjQuery(element).parents('form:first').find('input').attr('checked', value);

            }
        </script>

        <script type="text/javascript">decorateTable('open-invitations-table');</script>
    </div>
<?php } else { ?>
    <p class="empty-list"><?php echo $this->__('You do not have any invitations yet.'); ?></p>
<?php } ?>
