<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php 
	$modelConfig	= Mage::getModel('invitations/config');
	$referralLink	= $this->helper('invitations')->getRefferalLink();
	$iviteeText		= $this->helper('invitations')->getFilteredInviteeText();
	
	$fbABook = Mage::getModel('invitations/addressbooks')->getByKey('facebook');
?>
<div class="clearer">
<div id="invite-friends-holder" class="col-main cf">
	<!--<div id="transactional_error" style="background-color:#FFFFFF;border:2px solid #DDDDDD;display:none;font-size:1.1em;font-weight:bold;padding:15px;position:absolute;text-align:center;width:450px;z-index:500;"></div>-->
	<div class="page-title">
		<h1><?php echo $this->__('Invite friends') ?></h1>
	</div>
	<div id='messages-holder' style="display:none;">
		<ul id="messages" class="messages"></ul>
	</div>
	
	<?php if (($rewardsConfig = Mage::getModel('rewards/config')) && ($inviteePoints = $rewardsConfig->getInviteCredit())) { ?>
		<?php //$currencySymbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>
		<div class="page-head">
			<h4><?php echo $this->__( 'Invite friends you get %1$s points when they get their first order.', ($inviteePoints) ) ?></h4>
		</div>
	<?php } ?>

	<?php if ($modelConfig->showReferralLink()) { ?>
	<div class="account-box ad-account-info box">
		<div class=" box-recent">
			<div class="head box-title">
				<h6><?php echo $this->__('YOUR INVITATION LINK') ?></h6>
			</div>
			<p><?php echo $this->__('Share this unique-to-you link anywhere - email, tweet or update. The more you share, the more you earn!') ?> </p>
			<br><strong><?php echo $referralLink;?></strong>
		</div>
		<br>
	</div>
	<?php } ?>

	<form id="invite-friends-form" action="<?php echo $this->getUrl('invitations/index/send') ?>">
		<table>
            <?php if ($isGuestInvite)  {  ?>
                <tr>
                    <td class="form-list">
                        <div class="input-box">
                            <label for="guest_email" class="required"><em>*</em><?php echo $this->__('Your Email') ?>:</label>
                            <input name="guest_email" value="admin@cava-bien.com" id="guest_email" class="input-text " style="width: 278px;"/>
                            <div id="guest_email-error" class="validation-advice" style="display:none;"><?php echo $this->__('Please enter a valid email address. For example johndoe@domain.com.') ?></div>
                            <div id="guest_email-error" class="validation-advice" style="display:none;"><?php echo $this->__('Please enter a valid email address. For example johndoe@domain.com.') ?></div>
                        </div>
                    </td>
                </tr>
            <?php } ?>
			<tr>
				<td style="text-align:right;"><b><?php echo $this->__('To:') ?></b></td>
				<td>
					<input name="contact-list" id="contact-list" value="" />
					<div style="display:none;" id="contact-list-data"></div>
					<div class="inv-example">
						<?php echo $this->__('Enter emails. For example: first@example.com, second@example.com') ?>
					</div>
					<div id="invitation-contacts-error" class="validation-advice" style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
					<div id="invitation-result-error" class="validation-advice" style="display:none;"><?php echo $this->__('Please enter one or more valid email addresses.') ?></div>
				</td>
				<td>
					<a href="javascript: " class="add-contacts" onClick="pInvitations.goToStep1();">
						<b><?php echo $this->__('ADD CONTACTS') ?></b><br/>
						<?php echo $this->__('FROM MY ADDRESS BOOK') ?>
					</a>
					<?php if ($fbABook->isEnabled()) { ?>
					<br/><br/>
					<a href="javascript: " class="invite-facebook-friends">
						<b><?php echo $this->__('INVITE YOUR FACEBOOK FRIENDS') ?></b>
					</a>
					<?php } ?>
				</td>
			</tr>
			<tr>
				<td style="text-align:right;"><b><?php echo $this->__('Message:') ?></b></td>
				<td>
					<textarea style="width:400px;" width="300px" rows="10" name="message" id="invitation-message" <?php if (!($modelConfig->editInviteeText())) echo 'disabled="disabled"'; ?>><?php echo $iviteeText ?></textarea><br/>
					<input id="focus-input" value="" style="position: absolute; left: -1000px;"/>
					<div id="invitation-message-error" class="validation-advice" style="display:none;"><?php echo $this->__('This is a required field.') ?></div>
					<?php if ($modelConfig->editInviteeText()) { ?>
						<div style="text-align:right; color: #666;" id="invitation-message-left-chars"></div>
					<?php } ?>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align:right;">
					<br/>
					<img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif')?>" class="invitation-loader" />
					<button type="button" title="Send Invitation" class="button btn-cart send-invitation"><span><span><?php echo $this->__('Send Invitation') ?></span></span></button><br/>
				</td>
				<td></td>
			</tr>
		</table>
	</form>
</div>
</div>
<br/>
<?php if ($this->neadMigration()) { ?>
	<p class="neadmigration_text">
	<?php
		echo $this->__(
			'We believe you have used your email "<strong>%s</strong>" earlier to invite friends on <strong>%s</strong>. Please <a href="%s">click here</a> to send verification email and transfer all invitees to current store account.',
			$this->getCustomer()->getEmail(),
			$this->getStoreName(),
			$this->getUrl('*/promo/sendGuestVerificationEmail')
		);
	?>
	</p>
<?php } ?>
<br/>
<button id="load-open-invitations" type="button" title="<?php echo $this->__('Open Invitations') ?>" class="button in-tab active btn-cart send-invitation"><span><span><?php echo $this->__('Open Invitations') ?></span></span></button>
<button id="load-accepted-invitations" type="button" title="<?php echo $this->__('Accepted Invitations') ?>" class="button in-tab no-active btn-cart send-invitation"><span><span><?php echo $this->__('Accepted Invitations') ?></span></span></button>
<img src="<?php echo $this->getSkinUrl('images/plumrocket/invitations/loader.gif')?>" class="invitation-loader tabs-loader"/>

<div id="invitations-lists">
	<?php  echo $this->getLayout()->createBlock('invitations/open')->setData('customerId', $this->getRequest()->getParam('customer')->getId())->toHtml(); ?>
</div>

<script type="text/javascript">
	pjQuery(document).ready(function(){
	
		<?php if ($modelConfig->editInviteeText()) { ?>
		pjQuery('#invitation-message').keyup(function(e) {
			var tval = pjQuery(this).val(),
				tlength = tval.length,
				set = 500,
				remain = parseInt(set - tlength);
			pjQuery('#invitation-message-left-chars').html('('+remain+' characters left)');
			if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
				pjQuery(this).val((tval).substring(0, tlength - 1))
			}
		}).keyup();
		<?php } ?>
		
		var neadmigration_text = pjQuery('.neadmigration_text');
		neadmigration_text.find('a').click(function(){
			var href = pjQuery(this).attr('href');
			pjQuery.ajax({
				type	 : "POST",
				cache	 : false,
				url		 : href,
				dataType : 'json',
				success: function(data) {
					if (data.success){
						neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Please, check your e-mail for confirmation link.')) ?>');
					} else {
						neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Unable to proceed. Please, try again.')) ?>');
					}	
				},
				error: function(){
					neadmigration_text.html('<?php echo $this->jsQuoteEscape($this->__('Unable to proceed. Please, try again.')) ?>');
				}
			});
			return false;
		});
	
		pInvitations.setData({
			'urls' : {
				'step1'			: '<?php echo $this->getUrl('invitations/inviter/step1') ?>',
				'step2'			: '<?php echo $this->getUrl('invitations/inviter/step2') ?>',
				'step3'			: '<?php echo $this->getUrl('invitations/inviter/step3') ?>',
				
				'openInvitationsList'	: '<?php echo $this->getUrl('invitations/index/openInvitations') ?>',
				'acceptedInvitationsList': '<?php echo $this->getUrl('invitations/index/acceptedInvitations') ?>'
			},
			'errorMsg' : {
				'emailOrPasswordMissing' : '<?php echo $this->__('Email or password missing!') ?>',
				'connectionError' : '<?php echo $this->__('Connection error please try later!') ?>'
			},
			'invitationsListAreaId' : 'plumrocket-ajax-load-area',
			'popupMessages'	: false
		});
		pjQuery('#contact-list').tagsInput({
			'defaultText'	: '<?php echo $this->__('Add e-mail...') ?>',
			'width'			: 393,
			'height'		: 100,
			'autosize'		: false,
			'email'			: true,
			'onRemoveTag'	: function(userName){
				pInvitations.removeFromContactList(userName)
			},
			'onAddTag'		: function(connectCode){
				pInvitations.addToContactList(connectCode)
			}
		});
		
		contactListLiveaveTime = getTime();
		pjQuery('#contact-list_tagsinput').mouseleave(function(){
			var input = pjQuery('#contact-list_tag');
			if (input.hasClass('not_valid'))
			{
				var timeout = 600;
				setTimeout(function(){
					var t = getTime();
					if (t > contactListLiveaveTime + timeout)
					{
						contactListLiveaveTime = t;
						input.removeClass('not_valid').val('<?php echo $this->__('Add e-mail...') ?>').css('color', '#666666');
						pjQuery('#focus-input').focus();
					}
				}, timeout);			
			}
		});
		
		pjQuery('#contact-list_tagsinput').mouseenter(function(){
			contactListLiveaveTime = getTime();
		});
		
		
		function getTime()
		{
			var d = new Date();
			return d.getTime();
		}
		
		//pjQuery('#contact-list_tagsinput').css('height','auto');
		pjQuery('#invite-friends-holder .send-invitation').click(function(){
			pInvitations.submitContactList();		
		});	
		pjQuery('#load-open-invitations').click(function(){
			pInvitations.getOpenInvitationsList()	
		});
		pjQuery('#load-accepted-invitations').click(function(){
			pInvitations.getAcceptedInvitationsList();	
		});
		pInvitations.changeInvitationsListPagerLinks(pInvitations.data.urls.openInvitationsList);
		
		<?php if ($fbABook->isEnabled()) { ?>
			pjQuery('.invite-facebook-friends').click(function(){
				var desc = pjQuery('#invitation-message').html();
				
				FB.init({appId: '<?php echo $fbABook->getSettingByKey('application_id') ?>', xfbml: true, cookie: true});
				FB.ui({
				  method: 'send',
				  name: '<?php echo $this->__('Visit %s', $this->getStoreName()) ?>',
				  link: '<?php echo $referralLink ?>',
				  description : desc,
				  picture : '<?php echo $this->getLogoUrl() ?>'
				});
			});
		<?php } ?>
		
	});
</script>
