<div class="free-personalised-msg">
    <div class="input-box">
        <input type="text" name="recipient_name" placeholder="Recipient Name" />
        <input type="text" name="recipient_email"  placeholder="Recipient Email" />
        <label for="allow_gift_messages"><?php echo $this->__('Gift Details') ?></label>
    </div>
    <div class="input-box">
        <input type="checkbox" name="allow_gift_messages" id="allow_gift_messages" onclick="" class="checkbox" />   
    	<input type="hidden" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][type]"  value="quote" />
   		 <label for="allow_gift_messages"><?php echo $this->__('Add a free personalised message (Optional)') ?></label>
   	</div>
    <div class="input-box">
        <textarea id="gift-message-whole-message" onchange="" class="input-text validation-passed validate-messagegiff giftmessage-area" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][message]" title="<?php echo $this->__('Message') ?>" rows="5" cols="10"><?php echo $this->getEscaped($this->getMessage()->getMessage()) ?></textarea>
        <p class="max240" style="color:red;display: none"><?php echo $this->__('max 240 characters')?></p>
        <p><?php echo $this->__('240 characters max (including spaces)')?></p>
    </div>
</div>
<script type="text/javascript">

    var dataForm_shippment= new VarienForm('form-validate', true);
    Validation.add('validate-messagegiff', 'Max length 240 characters.', function(v) {
        var pass=v.strip(); /*strip leading and trailing spaces*/
        return !(pass.length >240 );
    });
</script>