<div class="dashboard-block">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('my_account_dashboard')->toHtml(); ?>
</div>

<h4><?php echo $this->__('Benefits of Reward Point for Registered Customers') ?></h4>
<p><?php echo $this->__('Once you register you will be able to earn and accrue reward points, which are then redeemable at time of purchase towards the cost of your order. Rewards are an added bonus to your shopping experience on the site and just one of the wats we thanks you for being a loyal customer.') ?></p>
<h4><?php echo $this->__('Earning Reward Points') ?></h4>
<p><?php echo $this->__('Rewards can currently be earned for the following actions:') ?></p>
<ul>
    <li><?php $this->__('Making Purchase - every time you make a purchase you warn points based on the price of products purchased and these points are added to your Reward Points balance.') ?></li>
    <li><?php $this->__('Registering on the site.') ?></li>
    <li><?php $this->__('Subscribing to a newsletter for the first time.') ?></li>
</ul>

<h4><?php echo $this->__('Managing My Reward Points') ?></h4>
<p><?php echo $this->__('You chave the ability to view and manage your points through your ') . '<a href="' . $base_url . '/cavabien/myaccount/myprofile">Customer Account.</a>' ?></p>


