<?php
//$cartLoaded = Mage::getModel('sales/order')->load(188);
//$points = Mage::helper('rewardpoints')->getPointsOnOrder($cartLoaded);
//echo $points;
$rewardPointsHelper = Mage::helper('rewardpoints');
?>
<?php
$url = Mage::helper('core/url')->getCurrentUrl();
if (basename($url) == 'rewardpoints') {
    echo '<div class="page-title">';
    echo '<h3>' . $this->__('Reward points') . '</h3>';
    echo '</div>';
}
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php
//$_points = $this->getPoints();
$_points = Mage::getModel('rewardpoints/stats')->getCollection()
    ->addClientFilter(Mage::getSingleton('customer/session')->getCustomer()->getId());
$_points->getSelect()->order('rewardpoints_account_id DESC');
?>
<?php if ($_points->getSize()): ?>
    <!--    --><?php //echo $this->getPagerHtml() ?>

    <table cellspacing="0" class="data-table" id="reward-points-table">
        <thead>
        <tr>
            <th class="a-center"><?php echo $this->__('Balance') ?></th>
            <th class="a-center"><?php echo $this->__('Amount') ?></th>
            <th class="a-center"><?php echo $this->__('Points') ?></th>
            <th class="a-center"><?php echo $this->__('Reason') ?></th>

            <!--            <th>--><?php //echo $this->__('Points used') ?><!--</th>-->
            <th><?php echo $this->__('Date') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php $_odd = '';
        $balance = 0;
        $points_money = Mage::getStoreConfig('rewardpoints/default/points_money', Mage::app()->getStore()->getId());
        foreach ($_points as $_point):
            $balance += $_point->getPoints_current();
        endforeach;
        ?>
        <?php foreach ($_points as $_point): ?>
            <tr>
                <td class="a-center"><span
                        class="label left"><?php echo $this->__('Balance') ?></span><span><?php echo $balance ?></span>
                </td>
                <td class="a-center"><span class="label left"><?php echo $this->__('Amount') ?></span><span><?php
                        //echo Mage::helper('core')->currency(round($balance/$points_money), true, false);
                        echo Mage::helper('core')->currency($rewardPointsHelper->convertPointsToMoneyEquivalence($balance), true, false);
                        ?></span></td>
                <td class="a-center"><span
                        class="label left"><?php echo $this->__('Points') ?></span><span>+<?php echo $_point->getPoints_current() ?></span>
                </td>
                <td class="a-center">
                    <span class="left label"><?php echo $this->__('Reason') ?></span>

                    <?php $typeOfPoint = $_point->getOrderId(); ?>
                    <?php if ($typeOfPoint != -90): ?>
                        <?php echo $this->getTypeOfPoint($_point); ?>
                    <?php else: ?>
                        <?php echo $this->__('Invitation to %s converted into a customer ', $_point->getInviteEmail()) ?>
                    <?php endif; ?>
                </td>

                <?php /*?><?php echo $_point->getPoints_spent() ? $this->__('yes') : $this->__('no') ?><?php */ ?>
                <!--                <td>--><?php //echo $_point->getPoints_spent() ?><!--</td>-->
                <td class="a-center clearfix">
                    <span class="left label">
                        <?php echo $this->__('Date') ?>
                    </span>

                    <span>
                        <?php if ($_point->getDate_start() != ""): ?>
                            <div class="date-start">
                                <?php echo $this->formatDate($_point->getDate_start(), 'short'); ?>
                            </div>
                        <?php endif; ?>
                        <?php if ($_point->getDate_end() != ""): ?>
                            <div>
                                <?php echo $this->__('Expires on') . " " . $this->formatDate($_point->getDate_end(), 'short'); ?>
                            </div>
                        <?php endif; ?>
                    </span>
                </td>
            </tr>
            <?php $balance -= $_point->getPoints_current() ?>
        <?php endforeach; ?>
        </tbody>
    </table>
    <!--    --><?php //echo $this->getPagerHtml() ?>
<?php else: ?>
    <p><?php echo $this->__('You don\'t have any recorded points.'); ?></p>
<?php endif ?>
