.sp-methods select.ewayrapid_saved_token {width: 180px; margin-right: 10px;}
#onestepcheckout-form #payment_form_ewayrapid_saved input.input-text:disabled,
.sp-methods input.input-text:disabled {background: rgb(235, 235, 228);} /* Default disabled color */

.sp-methods .form-list .control .input-box {margin-left: 170px;}

.form-list .help-disabled-cc {width: 290px; position: relative;}
.form-list .help-disabled-cc .tool-tip {width: 330px; top: -70px; left: 80px;}
.sp-methods .form-list { padding-left: 0px; }


.recurring-agree {float: left; margin: 0 4px 0 0; padding: 0; }
.lable-for-recurring {float: left;line-height: 14px; }
#address_prefix { width: auto; }