<?php
$stores = $this->getList();
?>
<?php if ($stores): ?>
<ul class="sm-store-list">
    <?php foreach ($stores as $store): ?>
        <li><a href="javascript:void(0)" onclick="order.deliverySetStore('<?php echo $store->getTitle(); ?>')"><?php echo $store->getTitle(); ?></a></li>
    <?php endforeach; ?>
</ul>
<?php else: ?>
    <p><?php echo $this->__('Have no store')?></p>
<?php endif; ?>