<?php
/**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.2
 * @since        Class available since Release 2.0
 */

/**@var $this Cavabien_Theme_Block_Layer_Filter_Category*/
?>

<ol class="image-align-2-columns <?php if($this->canShowCheckbox()):?>gan-list-checkbox<?php endif;?> <?php if($this->getFilterType()==GoMage_Navigation_Model_Layer::FILTER_TYPE_DEFAULT_INBLOCK):?>gan-inblock-list<?php endif;?>"
    <?php if($this->getFilterType()==GoMage_Navigation_Model_Layer::FILTER_TYPE_DEFAULT_INBLOCK
    && $this->getInblockType()==GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Type_Inblock::TYPE_FIXED):?>style="height:<?php echo $this->getInBlockHeight(); ?>px;"<?php endif;?>
    <?php if($this->getFilterType()==GoMage_Navigation_Model_Layer::FILTER_TYPE_DEFAULT_INBLOCK
    && $this->getInblockType()==GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Type_Inblock::TYPE_AUTO):?>style="max-height:<?php echo $this->getMaxInBlockHeight(); ?>px;"<?php endif;?>
    >
    <?php $_top_level = null; $i = 0;?>
    <?php foreach ($this->getItems() as $_item): ?>
        <?php $i++ ;?>
        <?php if (!$_top_level) $_top_level = $_item->getLevel(); ?>
        <li <?php if($i > 10):?>class="more-cat" style="display: none" <?php endif;?>>
            <?php $data_param = urlencode($_item->getActive() ? $_item->getRemoveUrlParams() : $_item->getUrlParams(false)); ?>
            <a data-ajax="<?php echo ($this->ajaxEnabled()) ? 1 : 0 ;?>" data-param="<?php echo $data_param; ?>" data-url="<?php echo $_item->getCleanUrl(); ?>" <?php if($_item->getActive()):?> class="active" <?php endif;?> onclick="GomageNavigation.click(this); return false;" href="<?php echo $_item->getCleanUrl(). $data_param; ?>"><?php echo $_item->getLabel() ?></a>
        </li>
    <?php endforeach ?>
    <?php if(count($this->getItems()) > 10):?>
        <li class="showmore">
            <a class="gan-attr-more" href="javascript:void(0)" onclick="showMore(this,'1')"><?php echo $this->__("View more")?></a>
        </li>
        <li class="showmore" style="display: none">
            <a class="gan-attr-less" href="javascript:void(0)" onclick="showMore(this,'0')"><?php echo $this->__("View less")?></a>
        </li>
    <?php endif;?>
</ol>
<script type="text/javascript">
    function showMore(elem,status){
        if(status == 1){
               jQuery(elem).parent().next().show();
               jQuery(elem).parent().hide();
               jQuery("#advancednavigation-filter-content-subcat-left ol li.more-cat").show();
        }else{
            jQuery(elem).parent().prev().show();
            jQuery(elem).parent().hide();
            jQuery("#advancednavigation-filter-content-subcat-left ol li.more-cat").hide();
        }
    }
</script>