/*this content for overwrite base/invitations.css please dont remove it*/
/*-----STEP 1-----*/
/*.in-step1 {width:600px; height:385px; overflow:auto;}*/
.in-step1 ul li{ float:left;  padding:3px; }
.in-step1 ul li a {display:block; height:80px; width:80px; border:1px solid #fff; text-align:center; line-height:80px; position:relative; overflow:hidden; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; text-decoration:none;}
.in-step1 ul li a span {display:block; position:absolute; width:100%; font-size:10px; left:0px; bottom:1px; line-height:11px; color:#989898;}
.in-step1 ul li a:hover {border-color:#ccc;}
.in-step1 ul li a:hover span {color:#000;}

/*-----STEP 2-----*/
.in-step2 .hld {width:300px; margin:0 auto; text-align:center; padding:0 0 20px 0;}
.in-step2 td{padding:5px; text-align:left;}
.in-step2 label {font-weight:700;}
.in-step2 input[type=text],
.in-step2 input[type=password] {width:200px;}

/*-----STEP 3-----*/
/*.in-step3{ width:100%; height:360px; overflow:auto; }*/
.in-step3 table, 
.in-step3 table td,
.in-step3 table th {border:1px solid #D9D9D9; border-width:1px 0px 0px 1px;}
.in-step3 table th {font-weight:700; background:#f7f7f7;}
.in-step3 table th,
.in-step3 table td {border-width:0px 1px 1px 0px; padding:3px;}
.in-step3 table .col-check {width:15px;}
.in-step3 table tbody tr:hover td{background:#E6F2FF;}

.in-step3Facebook ul li{width: 170px; float:left; border:1px solid black; margin:1px; cursor: pointer;}
.in-step3Facebook ul li.active{background:green;}
/*-----Icons for step 1-----*/
.icons-here .icons {background:url(../../../images/plumrocket/invitations/inviter-icons.jpg) 0 0 no-repeat;}
.icons-here .ico-hld {display:block; height:80px; width:80px; margin:0 auto; text-indent:-9999px;}

.icons-here .abv {background-position:left top;}
.icons-here .aol {background-position:-80px top;}
.icons-here .apropo {background-position:-160px top;}
.icons-here .atlas {background-position:-240px top;}
.icons-here .aussiemail  {background-position:-320px top;}
.icons-here .azet {background-position:-400px top;} 
.icons-here .badoo {background-position:-480px top;}

.icons-here .bebo {background-position:left -80px;}
.icons-here .bigstring {background-position:-80px -80px;}
.icons-here .bookcrossing {background-position:-160px -80px;}
.icons-here .bordermail {background-position:-240px -80px;}
.icons-here .brazencareerist {background-position:-320px -80px;}
.icons-here .canoe {background-position:-400px -80px;}
.icons-here .care2 {background-position:-480px -80px;}

.icons-here .clevergo {background-position:left -160px;}
.icons-here .cyworld {background-position:-80px -160px;}
.icons-here .doramail {background-position:-160px -160px;} 
.icons-here .eons {background-position:-240px -160px;}
.icons-here .evite {background-position:-320px -160px;}
.icons-here .facebook {background-position:-400px -160px;}
.icons-here .faces {background-position:-480px -160px;}

.icons-here .famiva {background-position:left -240px;}
.icons-here .fastmail {background-position:-80px -240px;}
.icons-here .fdcareer {background-position:-160px -240px;}
.icons-here .flickr {background-position:-240px -240px;}
.icons-here .flingr {background-position:-320px -240px;}
.icons-here .flixster {background-position:-400px -240px;}
.icons-here .fm5 {background-position:-480px -240px;}

.icons-here .freemail {background-position:left -320px;}
.icons-here .friendfeed {background-position:-80px -320px;}
.icons-here .friendster {background-position:-160px -320px;}
.icons-here .gawab {background-position:-240px -320px;}
.icons-here .gmail {background-position:-320px -320px;}
.icons-here .gmx_net {background-position:-400px -320px;}
.icons-here .graffiti {background-position:-480px -320px;}

.icons-here .hi5 {background-position:left -400px;}
.icons-here .hotmail {background-position:-80px -400px;}
.icons-here .hushmail {background-position:-160px -400px;}
.icons-here .hyves {background-position:-240px -400px;}
.icons-here .inbox {background-position:-320px -400px;}
.icons-here .india {background-position:-400px -400px;}
.icons-here .indiatimes {background-position:-480px -400px;}

.icons-here .inet {background-position:left -480px;}
.icons-here .interia {background-position:-80px -480px;}
.icons-here .katamail {background-position:-160px -480px;}
.icons-here .kids {background-position:-240px -480px;}
.icons-here .kincafe {background-position:-320px -480px;}
.icons-here .konnects {background-position:-400px -480px;}
.icons-here .koolro {background-position:-480px -480px;}

.icons-here .lastfm {background-position:left -560px;}
.icons-here .libero {background-position:-80px -560px;}
.icons-here .linkedin {background-position:-160px -560px;}
.icons-here .livejournal {background-position:-240px -560px;}
.icons-here .lovento {background-position:-320px -560px;}
.icons-here .lycos {background-position:-400px -560px;}
.icons-here .mail2world {background-position:-480px -560px;}

.icons-here .mail_com {background-position:left -640px;}
.icons-here .mail_in {background-position:-80px -640px;}
.icons-here .mail_ru {background-position:-160px -640px;}
.icons-here .meinvz {background-position:-240px -640px;}
.icons-here .meta {background-position:-320px -640px;}
.icons-here .mevio {background-position:-400px -640px;}
.icons-here .motortopia {background-position:-480px -640px;}

.icons-here .msn {background-position:left -720px;}
.icons-here .multiply {background-position:-80px -720px;}
.icons-here .mycatspace {background-position:-160px -720px;}
.icons-here .mydogspace {background-position:-240px -720px;}
.icons-here .mynet {background-position:-320px -720px;}
.icons-here .myspace {background-position:-400px -720px;}
.icons-here .netaddress {background-position:-480px -720px;}

.icons-here .netlog {background-position:left -800px;}
.icons-here .ning {background-position:-80px -800px;}
.icons-here .nz11 {background-position:-160px -800px;}
.icons-here .o2 {background-position:-240px -800px;}
.icons-here .operamail {background-position:-320px -800px;}
.icons-here .orkut {background-position:-400px -800px;}
.icons-here .perfspot {background-position:-480px -800px;}

.icons-here .plaxo {background-position:left -880px;}
.icons-here .plazes {background-position:-80px -880px;}
.icons-here .plurk {background-position:-160px -880px;}
.icons-here .pochta {background-position:-240px -880px;}
.icons-here .popstarmail {background-position:-320px -880px;}
.icons-here .rambler {background-position:-400px -880px;}
.icons-here .rediff {background-position:-480px -880px;}

.icons-here .sapo {background-position:left -960px;}
.icons-here .skyrock {background-position:-80px -960px;}
.icons-here .tagged {background-position:-160px -960px;}
.icons-here .techemail {background-position:-240px -960px;}
.icons-here .terra {background-position:-320px -960px;}
.icons-here .twitter {background-position:-400px -960px;}
.icons-here .uk2 {background-position:-480px -960px;}

.icons-here .vimeo {background-position:left -1040px;}
.icons-here .virgilio {background-position:-80px -1040px;}
.icons-here .vkontakte {background-position:-160px -1040px;}
.icons-here .walla {background-position:-240px -1040px;}
.icons-here .web_de {background-position:-320px -1040px;}
.icons-here .wpl {background-position:-400px -1040px;}
.icons-here .xanga {background-position:-480px -1040px;}

.icons-here .xing {background-position:left -1120px;}
.icons-here .xuqa {background-position:-80px -1120px;}
.icons-here .yahoo {background-position:-160px -1120px;}
.icons-here .yandex {background-position:-240px -1120px;}
.icons-here .youtube {background-position:-320px -1120px;}
.icons-here .zapak {background-position:-400px -1120px;}