<?php echo $this->getChildHtml('loved.to.tags.tabs'); ?>
<?php
$loveItProducts = $this->getLoveItProducts();
$themHelper = Mage::helper('cavabien_theme');
?>

<div class="page-title ">
    <h1><?php echo $this->__('My loved items') ?></h1>
</div>
<table class="data-table" id="wishlist-table">
    <?php if (count($loveItProducts) > 0): ?>
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th><?php echo $this->__('Product details') ?></th>
            <th></th>
            <th><span class="nobr"><?php echo $this->__('Price') ?></span></th>

            <th><span class="nobr"><?php echo $this->__('Add to cart') ?></span></th>

        </tr>
        </thead>
        <tbody>
        <?php foreach ($loveItProducts as $_product): ?>
            <?php
            if (count($loveItProducts) > 0) {
                $product = Mage::getModel('catalog/product')
                    ->load($_product->getProductId());
                $productStatus = Mage::helper('amconf')->getProductStatus($product);
                $hasComingSoon = false;
                foreach ($productStatus as $statusProduct): ?>
                    <?php if ($statusProduct['label'] == 'coming-soon'): ?>
                        <?php
                        $hasComingSoon = true;
                        ?>
                    <?php endif; ?>
                <?php endforeach; ?>
                <tr id="product_<?php echo $product->getId(); ?>">
                    <td><input type="checkbox" value="<?php echo $_product->getId() ?>" name="chkid[]"></td>
                    <td><a class="product-image" href="<?php echo $product->getProductUrl() ?>"
                           title="<?php echo $this->escapeHtml($product->getName()) ?>">
                            <img
                                src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(113, 113); ?>"
                                width="113" height="113" alt="<?php echo $this->escapeHtml($product->getName()) ?>"/>
                        </a></td>
                    <td>
                        <h2 class="product-name"><a
                                href="<?php echo $product->getProductUrl() ?>"><?php echo $this->escapeHtml($product->getName()) ?></a>
                        </h2>
                        <?php
                        $loveIt = Mage::getModel('catalog/product')->load($product->getId())->getLoveIt();

                        if ($loveIt):
                            ?>
                            <div>
                                <?php if ($product->isConfigurable()): ?>
                                    <?php $attributes = $product->getTypeInstance(true)->getConfigurableAttributes($product) ?>
                                    <?php if (count($attributes)): ?>

                                        <?php foreach ($attributes as $att): ?>
                                            <?php $pAtt = $att->getProductAttribute();

                                            $allProducts = $product->getTypeInstance(true)->getUsedProducts(null, $product);
                                            $frontValues = array() ?>
                                            <div
                                                class="inner"><?php echo '<label>' . $pAtt->getFrontendLabel() . ': </label>'; ?>
                                                <?php foreach ($allProducts as $p): ?>

                                                    <?php if (!$p->isSaleable()) continue; ?>
                                                    <?php $out = $p->getAttributeText($pAtt->getName()); ?>
                                                    <?php $frontValues[$out] = $out; ?>
                                                <?php endforeach ?>
                                                <span><?php echo implode(', ', $frontValues) ?></span>
                                            </div>
                                        <?php endforeach ?>
                                    <?php endif ?>
                                <?php endif ?>
                                <?php
                                if ($product->getAttributeText('length')): ?>
                                    <div class="inner">
                                        <label><?php echo $this->__('Length  '); ?> </label><span><?php echo $this->escapeHtml($this->stripTags($product->getAttributeText('length'))); ?></span>
                                    </div>
                                <?php endif ?>
                                <?php if ($product->getAttributeText('color')): ?>
                                    <div class="inner">
                                        <label><?php echo $this->__('Color  '); ?>  </label><span><?php echo $this->escapeHtml($this->stripTags($product->getAttributeText('color'))); ?></span>
                                    </div>
                                <?php endif ?>
                                <?php if ($product->getAttributeText('size')): ?>
                                    <div class="inner">
                                        <label><?php echo $this->__('Size  '); ?> </label><span><?php echo $this->escapeHtml($this->stripTags($product->getAttributeText('size'))); ?></span>
                                    </div>
                                <?php endif ?>
                            </div>

                            <?php $_quantity = intval(Mage::getModel('cataloginventory/stock_item')->loadByProduct($product)->getQty()); ?>
                            <?php if ($_quantity < 10 && $_quantity > 0): ?>
                            <div class="inner">
                                <span><?php echo $this->__('Only ');
                                    echo $_quantity;
                                    echo $this->__(" left"); ?></span>
                            </div>
                        <?php endif ?>
                            <div class="love-it">
                                <span><?php echo $this->__('%s people love this!', number_format($loveIt)) ?></span>
                            </div>
                        <?php endif; ?>
                    </td>
                    <td>

                        <?php if ($product->getIsSalable()): ?>
                            <?php if ($hasComingSoon): ?>
                                <p class="availability coming-soon">
                                    <span><?php echo $product->getSku(); ?></span><span><?php echo $this->__(' | Coming soon') ?></span>
                                </p>
                            <?php else: ?>
                                <p class="availability in-stock">
                                    <span><?php echo $product->getSku().' | '; ?></span><span><?php echo $themHelper->checkNewArrive($product) ?></span>
                                </p>
                            <?php endif; ?>
                        <?php else: ?>
                            <p class="availability out-of-stock">
                                <span><?php echo $this->escapeHtml($product->getSku()); ?></span> |
                                <span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>


                    </td>

                    <td>
                        <div class="loveit-price">
                            <?php if ($themHelper->ableToDisplaySpecialPrice($product)): ?>
                                <div class="original-price">
                                    <?php echo Mage::helper('core')->currency($product->getSpecialPrice(), true, false); ?>
                                </div>
                                <div class="retail-price">
                                    <?php echo Mage::helper('core')->currency($product->getPrice(), true, false); ?>
                                </div>
                                <div class="off-price">
                                    <?php $discountValue = (($product->getPrice() - $product->getSpecialPrice()) / $product->getPrice()) * 100; ?>
                                    <?php echo round($discountValue);
                                    echo $this->__('% OFF') ?>
                                </div>
                            <?php else: ?>
                                <div class="original-price">
                                    <?php echo Mage::helper('core')->currency($product->getFinalPrice(), true, false); ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </td>
                    <td>
                        <div class="cart-cell">
                            <div class="add-to-cart-alt">
                                <?php if ($product->isSaleable()): ?>
                                    <?php if ($hasComingSoon): ?>
                                        <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>"
                                                class="button btn-cart"
                                                onclick="setLocation('<?php echo $product->getProductUrl() ?>')">
                                            <span><span><?php echo $this->__('Pre-Order Now') ?></span></span></button>
                                    <?php else: ?>
                                        <button type="button" title="<?php echo $this->__('Shop now') ?>"
                                                onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')"
                                                class="button btn-cart">
                                            <span><span><?php echo $this->__('Shop now') ?></span></span></button>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>"
                                            class="button btn-cart"
                                            onclick="setLocation('<?php echo $product->getProductUrl() ?>')">
                                        <span><span><?php echo $this->__('Pre-Order Now') ?></span></span></button>

                                <?php endif; ?>
                            </div>

                            <?php if ($product->isVisibleInSiteVisibility()): ?>
                            <p>

                                <a class="link-edit"
                                   href="<?php echo $product->getProductUrl(); ?>"><?php echo $this->__('Edit') ?></a>
                                <?php endif ?>
                                <a onclick='UnloveItemAll(<?php echo $product->getId(); ?>)' href="javaScript:void(0)"
                                   title="<?php echo $this->__('Remove Item') ?>"
                                   class="btn-remove btn-remove2"><?php echo $this->__('Remove item'); ?>
                                </a>
                            </p>

                            <p><a onclick='UnloveItemAll(<?php echo $product->getId(); ?>)' id="un-love"
                                  href="javaScript:void(0)"><?php echo $this->__('unlove') ?></a></p>
                        </div>

                    </td>

                </tr>

            <?php } endforeach; ?>

        </tbody>
    <?php else: ?>
        <p class=""><?php echo $this->__('You have no items in your love list.') ?></p>
    <?php endif; ?>
</table>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>">
            <small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>

<script type="text/javascript">
    function confirmRemoveLoveItem() {
        return confirm('<?php echo $this->__('Are you sure you want to remove this product from your love list?') ?>');
    }
    function confirmUnloveItem() {
        return confirm('<?php echo $this->__('Are you sure you want to unlove this ?') ?>');
    }
    function UnloveItem(id) {
        <?php $customerId = Mage::getSingleton('customer/session')->getId() ? Mage::getSingleton('customer/session')->getId() : -1 ?>
        var customerId = '<?php echo $customerId ?>';
        var productId = id;

        jQuery.ajax({
            url: "<?php echo Mage::getUrl('loveit/index/ajaxUnLoveit') ?>",
            type: "POST",
            data: {customerId: customerId, productId: id },
            dataType: "json",
            success: function (data) {
                if (data.success) {
//                    alert(jQuery('#product_'+id));
//                    alert(productId);
                    jQuery('#product_' + productId).detach();

                }
            }
        })
    }

    function UnloveItemAll(id) {
        if (confirmUnloveItem()) {
            UnloveItem(id);
        }
    }

</script>