<?php
/**
 * Cavabien_Theme
 *
 * @category    Cavabien
 * @package     Theme
 * @copyright   Copyright (c) 2014 SmartOSC Inc. (http://www.smartosc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
$_product = Mage::getModel('catalog/product')->load($this->getProductId());
$_listBlock = $this->getLayout()->createBlock('catalog/product_list');
if ($_product->getId()): ?>
    <div id="hover-<?php echo $_product->getId() ?>">
        <span class="quick-view" onclick="window.open('<?php echo $_product->getProductUrl() ?>','name','height=1000,width=1500');"><?php echo $this->__('Quick View') ?></span>
        <!-- BEGIN BLOCK FACEBOOK LIKE -->
        <div class="social-block"></div>
        <!-- END BLOCK FACEBOOK LIKE -->
    </div>
<?php endif; ?>

