#custommenu {
    position: relative;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: auto;
    margin: 0 auto;
}
/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
div.menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.menu a:link, div.menu a:visited {
    display: block;
    height: 44px;
    padding-left: 20px;
    padding-right: 14px;
}
div.menu a:link span, div.menu a:visited span {
    padding-right: 15px;
    background: url(../../../images/menu-arrow.png)right 20px no-repeat;
}
div.menu a:link:hover span,div.menu.active a span,div.menu.act a span {
    background: url(../../../images/menu-arrow-active.png)right 20px no-repeat;
}
div#menu_offers {
    background: none; float: right;
}
div#menu_offers a:link, div#menu_offers a:visited {
    padding-left: 24px;
    padding-right: 18px;
}
div#menu_offers a:hover {
    border-radius: 0 5px 0 0;
}
div#menu_offers a:link span, div#menu_offers a:visited span {
    padding-right: 15px;
}

div.menu a span {
    display: block;
    height: 28px;
    padding-right: 0px;
    padding-top: 16px;
}
div.menu a span:hover {
    cursor: pointer;
}
div.wp-custom-menu-popup {
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    position: absolute;
    z-index: 100;
    display: none;
    text-align: left;
    padding: 0px 0px 10px 0px;
    border-top: 0;
    width: 100%;
    margin-top: -1px;
}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
    line-height:13px;
}
div.level1 {
    margin-bottom: 5px;
}
div.level2 {
    margin-bottom: 5px;
}
div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}
div.block2 {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
a.level1:link, a.level1:visited {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 2px;
}
a.level2:link, a.level2:visited {
    padding: 3px 10px;
    border-radius: 2px;
}
/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] div.block2 {
    display: block;
}
* html div.block2 {
    height: 1%;
}
div.block2 p {
    margin-bottom: 3px;
    line-height: 120%;
    color: #000;
    font-size: 11px;
}
div.block2 p a {
    display: inline;
}
div.block2 a img {
    opacity: .9;
    filter: alpha(opacity=90);
}
div.block2 a:hover img {
    opacity: 1;
    filter: alpha(opacity=100);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
div.block2 .brand a:hover img {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
}
div.wp-custom-menu-popup hr {
    margin: 0px 0px 10px 0px;
}
/******************************************* COLUMN WIDTH ***************************** */
div.column {
    float: left;
    width: 18%; /* for 5 columns*/
    padding: 0px 1%;
    margin: 0px 0px 0px 0px;
}
/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 0px;
}
.clearBoth {
    clear:both;
    height: 0;
    overflow: hidden;
}
div.level1 {
    margin-bottom: 0px;
}
/*BG*/
#custommenu {
}
div.wp-custom-menu-popup {
    background: #fff;
    border: 1px solid #eeeeee;
    border-top: 0;
}
div.menu a:link, div.menu a:visited {
}
div.menu a:hover {

}
div.menu a, div.wp-custom-menu-popup a {
 -webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
transition: all .1s linear;
}
div.menu .brand a, div.wp-custom-menu-popup .brand a {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    transition: all 0s linear;
}
div.menu.active a {

}
div.level3 {
    background: #fff;
}
/*FONTS*/
div.menu {
    font-size: 14px;
    background: url(../../../images/menu-border.png) right center no-repeat;
}
a.level1:link, a.level1:visited {
    text-transform: none;
    font-weight: normal;
}
a.level2:link, a.level2:visited {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
a.level3:link, a.level3:visited {
    font-size: 11px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*COLOR*/
div.menu a:link, div.menu a:visited {
    color: #fff;
}
div.menu a:hover, div.menu.active a {

}
a.level3:link, a.level3:visited {
    color: #333333;
}
a.level3:hover {
    color: #b43f74;
}
a.level2:link, a.level2:visited {
    color: #000;
}
a.level1:hover {
    /*background: #d3d3d3;*/
}
a.level2:hover {
    color: #000;
    background: #d3d3d3;
}
.block2 table.brand {
    float: left;
}
.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}
html[xmlns] #menu-button, html[xmlns] .parentMenu {
    display: block;
}
* html #menu-button, * html .parentMenu {
    height: 1%;
}
#menu-button:after, .parentMenu:after {
    /*content: ".";*/
    /*display: block;*/
    /*clear: both;*/
    /*visibility: hidden;*/
    /*line-height: 0;*/
    /*height: 0;*/
}
#custommenu-mobile {
    position:relative;
    margin: 0 auto;
    padding: 0;
    /*z-index: 999;*/
}
#menu-button {
    /*float: none;*/
    /*padding: 10px 0px 10px 0px;*/
    /*margin: 0px 0px 0px 0px;*/
    /*width: 100%;*/
    /*border-bottom: 1px solid #fff;*/
    /*text-transform: uppercase;*/
    background-color: #F1F1F1;
    padding: 0 10px;
    border-radius: 4px;
}

#menu-button .fa   { color: deeppink; font-size: 18px; margin-right: 5px; }
#menu-button a     { color: black; text-decoration: none; font-size: 18px; text-transform: capitalize; line-height: 36px;}
#menu-button:hover { background-color: deeppink; }
#menu-button:hover  .fa { color: #fff; }
#menu-button:hover  a   { color: #fff; }
#menu-button a:link, #menu-button a:visited {
    /*color: #fff;*/
    /*display: block;*/
    /*float: left;*/
    /*margin-left: 45%;*/
    /*position: relative;*/
    /*padding: 0px 10px;*/
}
#menu-button a span:after {
    /*display: block;*/
    /*position: relative;*/
    /*content: "";*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 5px solid transparent;*/
    /*border-right: 5px solid transparent;*/
    /*border-top: 4px solid #dadada;*/
    /*margin: 8px 0px 0px 5px;*/
    /*float: right;*/
    /*opacity: 0.7;*/
}
#menu-button:hover {
    cursor: pointer;
}
#menu-button:hover a:after {
    opacity: 1;
}
.menu-mobile div.column {
    float:none;
    padding:5px;
    background: #fff;
}
.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}
.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    border-radius: 2px;
    color: #000;
    font-weight: normal !important;
    text-transform: capitalize !important;
}
.menu-mobile a.level2:link, .menu-mobile a.level2:visited {
    padding: 10px 10px;
    background: none !important;
    font-weight: normal !important;
    text-transform: capitalize !important ;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    color: #555;
}
.menu-mobile a.level1:hover {
    background-color: #f1f1f1;
}
.menu-mobile .parent {
    background-color: #fff;
}
/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0px 0px;
    display: block;
    text-align: left;
    /*border-bottom: 1px solid #dadada;*/
}
.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {
    padding: 10px 0px 10px 10px;
    margin-right: 80px;
    color: #000;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.menu-mobile .parentMenu:hover {
    cursor: pointer;
}

.parentMenu {
    position: relative;
}
.parentMenu a {
    display: block;
}
#menu-button {
    cursor: pointer;
}
.menu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 80px;
    height: 38px;
    background: url(../../../images/plus.png) 65px center no-repeat;
}
#custommenu-mobile .button.open {
    background: url(../../../images/minus.png) 65px center no-repeat;
}
#custommenu-mobile .level1 .button {
    background: url(../../../images/plus12.png) 67px center no-repeat;
}
#custommenu-mobile .level1 .button.open {
    background: url(../../../images/minus12.png) 67px center no-repeat;
}
/*BG*/
#custommenu-mobile  .parentMenu:hover a:link, #custommenu-mobile  .parentMenu:hover a:visited, #custommenu-mobile  .parentMenu:hover {

}
#custommenu-mobile .level0 {
    /*background-color: #f1f1f1;*/
    margin-top: 3px;
}
#custommenu-mobile .level0:hover > .parentMenu {
    background-color: deeppink;
    border-radius: 4px;
}
#custommenu-mobile .level0:hover > .parentMenu > a { color: #fff; }
#custommenu-mobile .level0:hover > .parentMenu > .button { background: url(../../../images/white-plus.png) 65px center no-repeat; }
#custommenu-mobile .level0:hover > .parentMenu > .button.open { background: url(../../../images/white-minus.png) 65px center no-repeat; }
#custommenu-mobile .level1:hover > .parentMenu {
    background-color: #f1f1f1;
    border-radius: 4px;
}
#custommenu-mobile .level2:hover > .parentMenu {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.wp-custom-menu-submenu {
    padding: 5px 0 10px 5px;
}


@media screen and (min-width: 1025px) {
    .parentMenu.home {
        border-radius: 5px 0 0 0;
    }

    .parentMenu.home a {
        border-radius: 5px 0 0 0;
    }

    }
    div.menu .parentMenu.home a:link span, div.menu .parentMenu.home a:visited span {
        background: none;
    }
    .parentMenu.home a{
        text-indent: -9999px;
        width: 44px;
        padding: 0 !important   ;
        background: url(../../../images/home.png) 0 0 no-repeat !important;
    }
    .parentMenu.home:hover,.parentMenu.home.act  {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee2b7a), color-stop(100%, #dd1e61));
        background-image: -webkit-linear-gradient(#ee2b7a, #dd1e61);
        background-image: -moz-linear-gradient(#ee2b7a, #dd1e61);
        background-image: -o-linear-gradient(#ee2b7a, #dd1e61);
        background-image: linear-gradient(#ee2b7a, #dd1e61);

    }
    .parentMenu.home a span {
        padding: 0 !important;
    }
}