<?php
 $customer = Mage::getSingleton('customer/session')->getCustomer();
 $idShipping = $customer->getDefaultShipping();
 $idBilling = $customer->getDefaultBilling();
 $shippingAddressData = Mage::getModel('customer/address')->load($idShipping)->getData();
 $billingAddressData = Mage::getModel('customer/address')->load($idBilling)->getData();
?>

<div class="buttons-set">
    <p class="back-link"><a href="javascript: history.go(-1)"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
<div class="col2-set">
    <div class="box none-border">
        <div class="box-title">
            <h3><?php echo $this->__('Address Book') ?></h3>
            <a href="<?php echo $this->getAddressBookUrl() ?>"><?php echo $this->__('Manage Addresses') ?></a>
        </div>
        <div class="box-content">
            <div class="col-1">
                <div class="box">
                <h4><?php echo $this->__('SHipping Address') ?>  <a class="right" href="<?php echo $this->getPrimaryShippingAddressEditUrl(); ?>"><?php echo $this->__('Change Shipping Address') ?></a></h4>
                <address>

                        <table width="100%">
                            <tbody>
                                <tr><td colspan="2"><b>First Name:</b> <?php echo $shippingAddressData['firstname']; ?></td></tr>
                                <tr><td colspan="2"><b>Company:</b> <?php echo $shippingAddressData['company'];?></td></tr>
                                <tr><td colspan="2"><b>Street Address:</b> <?php echo $shippingAddressData['street'];?></td></tr>
                                <tr><td width="50%"><b>City:</b> <?php echo $shippingAddressData['city'];?></td><td><b>City/State Provice:</b> <?php echo $shippingAddressData['city'];?></td></tr>
                                <tr><td width="50%"><b>Zip/Post Code:</b> <?php echo $shippingAddressData['postcode']; ?></td><td><b>Country:</b> <?php echo $shippingAddressData['country_id'];?></td></tr>
                                <tr><td width="50%"><b>Tel:</b> <?php echo $shippingAddressData['telephone'];?></td>
                                    <td><b>Fax:</b> <?php echo $shippingAddressData['fax'];?></td></tr>
                                <tr><td><input type="checkbox" name="shipping_address" value="" checked />Make default delivery address. </td></tr>
                            </tbody>
                        </table>

                </address>
            </div>
        </div>
            <div class="col-2">
                <div class="box">
                <h4><?php echo $this->__('Billing Address') ?>  <a class="right" href="<?php echo $this->getPrimaryBillingAddressEditUrl(); ?>"><?php echo $this->__('Change Billing Address') ?></a></h4>
                <address>

                        <table width="100%">
                            <tbody>
                                <tr><td colspan="2"><b>First Name:</b> <?php echo $billingAddressData['firstname']; ?></td></tr>
                                <tr><td colspan="2"><b>Company:</b> <?php echo $billingAddressData['company'];?></td></tr>
                                <tr><td colspan="2"><b>Street Address:</b> <?php echo $billingAddressData['street'];?></td></tr>
                                <tr><td width="50%"><b>City:</b> <?php echo $billingAddressData['city'];?></td><td><b>City/State Provice:</b> <?php echo $billingAddressData['city'];?></td></tr>
                                <tr><td width="50%"><b>Zip/Post Code:</b> <?php echo $billingAddressData['postcode']; ?></td><td><b>Country:</b> <?php echo $billingAddressData['country_id'];?></td></tr>
                                <tr><td width="50%"><b>Tel:</b> <?php echo $billingAddressData['telephone'];?></td>
                                    <td><b>Fax:</b> <?php echo $billingAddressData['fax'];?></td></tr>
                                <tr><td><div style="visibility: hidden;">empty</div></td></tr>
                            </tbody>
                        </table>
                   
                </address>
            </div></div>
        </div>
    </div>
</div>
