<?php
    $url_key = 'stylist-pick';
    $_productCollection = $this->getProductByOtherCategory($url_key);
$limit = 14;
$count = 0;
?>
<div class="get-the-look shop-stylist-pick">
    <h2><?php echo $this->__('Shop Stylist Picks'); ?></h2>
    <ul class="stylist-pick-slider">
        <?php foreach($_productCollection as $_product):
            if(++$count > $limit) break;
            ?>
            <li>
                <a href="#"><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')->resize(240, 360 ); ?>" /></a>
            </li>
        <?php endforeach; ?>
    </ul>
      <div class="actions a-center">
        <p>Want new boutique picks?</p>
                    <button class="button large"  title="<?php echo $this->__('Shop The Look') ?>" onclick="setLocation('<?php echo $_product->getProductUrl() ?> ')">
                        <span>
                            <span>Shop the look</span>
                            <i class="fa fa-caret-right"></i>
                        </span>
                    </button>
                </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function (){
        jQuery('.stylist-pick-slider').bxSlider({
            slideWidth: 240 ,
            minSlides: 1,
            maxSlides: 1,
            moveSlides: 1,
            slideMargin: 10
        });
    });
</script>