<?php
/**
 * Currency switcher
 *
 * @see Mage_Directory_Block_Currency
 */
?>
<?php
$other_cur = "<ul>";
if ($this->getCurrencyCount() > 1):
    foreach ($this->getCurrencies() as $_code => $_name):
        $currency_att = Mage::app()->getLocale()->currency($_code);
        if ($_code == $this->getCurrentCurrencyCode()) {
            $sel_cur = '<span class="currency-selected flag-icon ' . strtolower($_code) . '" href="' . $this->getSwitchCurrencyUrl($_code) . '">' . '' . $_code . '&nbsp;' . $currency_att->getSymbol() . '</span>';
        } else {
            $other_cur .= '<li><a class="flag-icon ' . strtolower($_code) .  '"href="' . $this->getSwitchCurrencyUrl($_code) . '">' . $_code . '&nbsp;' . $currency_att->getSymbol() . '</a></li>';
        }
    endforeach;
    $other_cur .= "</ul>";
    ?>
    <div class='currency_list' id="currency_list">
        <div class="currency grey-arrow-down-icon">
        <?php echo $sel_cur; ?>
        </div>
        <div class="currencies-list">
            <div class="cava-popup">
                <div class="small-arrow"><span><span></span></span></div>
                <ul class="">
                    <?php echo $other_cur; ?>
                </ul>
            </div>
        </div>
    </div>

<?php endif; ?>