<?php
/**
 * Cavabien_Theme
 *
 * @category    Cavabien
 * @package     Theme
 * @copyright   Copyright (c) 2014 SmartOSC Inc. (http://www.smartosc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
$_product = Mage::getModel('catalog/product')->load($this->getProductId());
$_listBlock = $this->getLayout()->createBlock('catalog/product_list');
if ($_product->getId()): ?>
    <div id="hover-<?php echo $_product->getId() ?>" class="hover-item">
        <a href="<?php echo Mage::getModel('core/url')->getUrl('catalog/product/anotherview', array('id' => $this->getProductId())) ?>"><?php echo $this->__('Quick View') ?></span></a>
        <!-- BEGIN BLOCK FACEBOOK LIKE -->
        <div class="social-block"></div>
        <!-- END BLOCK FACEBOOK LIKE -->
    </div>
<?php endif; ?>

