<?php
    $navigationData = $this->getNavigationData();
    $products = $navigationData['products'];
?>

<a class="back-link" href="<?php echo $navigationData['current_category']->getUrl() ?>" title="<?php echo $this->__('Back to %s', $navigationData['current_category']->getName()) ?>">
    <span>&laquo;</span>
    <?php echo $this->__('back') ?>
</a>
<div class="top-products-list-container right">
    <?php if ($navigationData['previous']) :?><a class="prev-next prev" href="<?php echo $navigationData['previous'] ?>" title="<?php echo $this->__('Previous') ?>"><i class="fa fa-caret-left fa-fw"></i><?php echo $this->__('prev') ?></a><?php endif; ?>
    <ul class="top-products-list">
        <?php foreach ($products as $product): ?>
            <li class="item <?php if ($navigationData['current_product'] === $product->getId()): ?>active<?php endif; ?>">
                <a class="product-thumb" title="<?php echo $this->escapeHtml($product->getName()) ?>" href="<?php echo $product->getProductUrl() ?>">
                    <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(36,51) ?>" width="36" height="51" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
                    <div class="cava-popup" style="display: none;">
                        <div class="arrow-down"><span><span></span></span></div>
                        <p class="product-name"><?php echo $product->getName(); ?></p>
                        <p class="product-price"><?php echo $product->getPrice(); ?></p>
                    </div>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
    <?php if ($navigationData['next']) :?><a class="prev-next next" href="<?php echo $navigationData['next'] ?>" title="<?php echo $this->__('Next') ?>"><?php echo $this->__('next') ?><i class="fa fa-caret-right fa-fw"></i></a><?php endif; ?>
</div>
<div class="clear-both"></div>

<script>
    //<!CDATA[

    // Hover on product thumbnail
    jQuery('a.product-thumb').hover(function(){
        var el = jQuery(this);
        el.children('div.cava-popup').show();
    }, function(){
        var el = jQuery(this);
        el.children('div.cava-popup').hide();
    });
    //]]>
</script>