<?php $_product = $this->getProductLct();?>
<?php $themHelper = Mage::helper('cavabien_theme'); ?>
<?php $coreHelper = Mage::helper('core'); ?>
<div id="price-box-detail">
    <?php $price = $_product->getPrice(); ?>
    <?php $finalPrice = $_product->getFinalPrice(); ?>
    <?php $specialPrice = $_product->getSpecialPrice(); ?>
    <?php if(Mage::helper('multipledeals')->getDealByProduct($_product)==false):?>
    <?php if ($themHelper->ableToDisplaySpecialPrice($_product)): ?>
        <div class="sale-price-box">
            <?php $specialPrice = $_product->getSpecialPrice(); ?>
            <p><?php printf('%d', round(($price - $specialPrice) / $price * 100)) ?><small>%</small></p><span><?php echo $this->__('Off') ?></span>
            <span class="arrow-bottom">&nbsp;</span>
        </div>
        <?php endif ?>
    <?php endif ?>
    <div class="sm-wrap-price">
        <?php if(Mage::helper('multipledeals')->getDealByProduct($_product)==false):?>
        <?php if ($themHelper->ableToDisplaySpecialPrice($_product)): ?>
            <span class="special-price">
                                        <?php echo $coreHelper->currency($specialPrice, true, false) ?>
                                    </span>

            <span class="old-price">
                                        <?php echo $coreHelper->currency($price, true, false) ?>
                                    </span>
            <?php else: ?>
            <span class="regular-price">
                                        <?php echo $coreHelper->currency($price, true, false) ?>
                                    </span>
            <?php endif; ?>
        <?php else: ?>
        <span class="regular-price">
                                        <?php echo $coreHelper->currency($finalPrice, true, false) ?>
                                    </span>
        <?php endif; ?>
    </div>
</div>