<?php
$_product = $this->getProduct();
$_image = $this->getCustomData('image');
?>
<div class="bl-image">
    <a href="<?php echo $_product->getProductUrl() ?>"
       title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
       data-product-id="<?php echo $_product->getId() ?>" class="product-image">
        <img id="image-<?php echo $this->getSmArea()?><?php echo $_product->getId()?>"
            src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_image['width'], $_image['height']); ?>"
           
            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
    </a>

    <?php if($_product->getVideo()!=null):?>
    <div class="video-player">
        <a class="video" id="play-video-<?php echo $this->getSmArea()?><?php echo $_product->getId()?>" title="<?php echo $this->__('Play video') ?>" href="javascript:void(0)"><span class="video-player-icon">&nbsp;</span><?php echo $this->__('PLAY VIDEO') ?></a>
    </div>
    <video id="video-<?php echo $this->getSmArea()?><?php echo $_product->getId()?>" style="display: none">
        <source src="<?php echo Mage::getBaseUrl('media').'blfa_files/'.$_product->getVideo();?>" type="video/mp4">
    </video>
    <?php endif; ?>
</div>
<div class="product-info">
    <div class="enlarge-color">
    <?php if ($_product->getTypeId() == 'configurable'): ?>
    <?php $_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel');?>
    <div id="sm-cat-conf-<?php echo $this->getSmArea()?><?php echo $_product->getId()?>-color" class="enlarge-item enlarge-color-real"></div>
    <div id="sm-cat-conf-<?php echo $this->getSmArea()?><?php echo $_product->getId()?>-default-color" class="enlarge-item-color"></div>
    <script type="text/javascript">
        var spConfig_<?php echo $_product->getId()?>_<?php echo $this->getSmArea()?> = new smProduct.Config(<?php echo $_smBlock->setProduct($_product)->getJsonConfig() ?>, <?php echo $_product->getId()?>, '<?php echo $this->getSmArea()?>');
        document.observe("dom:loaded", spConfig_<?php echo $_product->getId()?>_<?php echo $this->getSmArea()?>.run.bind(spConfig_<?php echo $_product->getId()?>_<?php echo $this->getSmArea()?>));
    </script>
    <?php endif; ?>
</div>
    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"
                                title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a>
    </h2>
    <p class="description"><?php if ($_product->getSubtitle()): ?>
    <span class="product-subtitle"><?php echo $_product->getSubtitle(); ?></span>
    <?php endif;?></p>
    <?php if ($_product->getTypeId() == 'configurable'): ?>
    <div id="sm-cat-conf-<?php echo $this->getSmArea()?><?php echo $_product->getId()?>-size" class="enlarge-item enlarge-size"></div>
    <?php endif; ?>
    <div class="product-stt-price">
        <div class="price-box">
                        <?php
                        if ($_product->getPrice() != $_product->getFinalPrice()) {
                            ?>
                            <div class="retail">
                                <span class="retail-price"><?php echo $this->__('Retail:') ?>
                                    <span class="price"><?php echo Mage::helper('core')->currency($_product->getPrice(), true, false); ?></span>
                            </div>
                        <?php
                        }
                        ?>
                        <div class="our-price">
                            <span class="regular-price">
                                <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                                <span class="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(), true, false); ?></span>
                        </div>
                    </div>
        <div class="product-status left">
        <?php foreach($productStatus as $status): ?>
        <div class="<?php echo $status['label'] ?>">
            <?php echo $status['status'];?>
        </div>
        <?php endforeach;?>
        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
    </div>
    <?php // echo $this->getPriceHtml($_product, true) ?>
    <?php $productStatus = Mage::helper('amconf')->getProductStatus($_product);?>
    <div class="actions right">
        <?php if ($_product->isSaleable()): ?>
        <?php $hasComingSoon = false;  foreach($productStatus as $statusProduct):?>
            <?php if($statusProduct['label'] == 'coming-soon'): ?>
                <?php
                $hasComingSoon = true;
                break;
                ?>
                <?php endif;?>
            <?php endforeach;?>
        <?php if($hasComingSoon): ?>
            <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
                    onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                <span><span><?php echo $this->__('Pre-Order Now') ?></span></span></button>
            <?php else:?>
            <?php if ($_product->getTypeId() != 'configurable'): ?>
                <button type="button" title="<?php echo $this->__('Shop Now') ?>" class="button btn-cart"
                        onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                    <span><span><?php echo $this->__('Shop Now') ?></span></span></button>
                <?php else: ?>
                <button type="button" title="<?php echo $this->__('Shop Now') ?>" class="button btn-cart"
                        onclick="spConfig_<?php echo $_product->getId()?>_<?php echo $this->getSmArea()?>.addToCart('<?php echo $_smBlock->getSubmitUrl($_product)?>', '<?php echo Mage::getUrl("checkout/cart")?>')">
                    <span><span><?php echo $this->__('Shop Now') ?></span></span>
                </button>
                <?php endif; ?>
            <?php endif;?>

        <?php else: ?>
        <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
                onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
            <span><span><?php echo $this->__('Pre-Order Now') ?></span></span></button>
        <?php endif; ?>

    </div>
    <div class="clear"></div>
</div>
    <div class="share">
    
            <?php
            //GET SESSION DATA
            Mage::getSingleton('core/session', array('name' => 'frontend'));
            $session = Mage::getSingleton('customer/session', array('name' => 'frontend'));
            $cusId = $session->getCustomer()->getId();
            $login = '';
            if (!$session->isLoggedIn()) {
                $login = "href='" . Mage::helper('customer')->getRegisterUrl() . "'";
            }
            ?>
            <?php $loveIt = $_product->getLoveIt() ?>
            <?php ?>

          
                <div class="left cava-love-it" id="love-it-<?php echo $_product->getId()?>">
                    <?php $loveIt = $_product->getLoveIt() ?>
                   <span class="left">
                    <a <?php if($cusId && Mage::helper('cavabien_loveit')->isLoveitExist($_product->getId(), $cusId)){?>style="display: block"<?php }else{?>style="display: none"<?php }?> class="loved-it" onclick="unLoveIt('<?php echo $_product->getId() ?>')" <?php echo $login;?>><?php echo $this->__('Loved it') ?></a>
                    <a <?php if($cusId && Mage::helper('cavabien_loveit')->isLoveitExist($_product->getId(), $cusId)){?>style="display: none"<?php }else{?>style="display: block"<?php }?> class="love-it" onclick="loveIt('<?php echo $_product->getId() ?>')" <?php echo $login;?>><?php echo $this->__('Love It') ?></a>
                </span>
                    <span class="left">
                    <span class="love-it-count"><?php echo (int)$loveIt ?></span>
                    <div class="pluginCountButtonNub"><s></s><i></i></div>
                    </span>
                    <img style="display: none" id="imgloveit-<?php echo $_product->getId()?>" src="<?php echo $this->getSkinUrl('images/bx_loader.gif');?>" />
                </div>
         
    

        <div class="social-share right">
            <a href="//www.pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl() )?>&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
            <!-- Please call pinit.js only once per page -->
            <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
            <div class="fb-like" data-href="<?php echo $_product->getProductUrl()?>" layout="button_count"></div>
            <p class="update-face" style="display: none">Updating Facebook Like ...</p>
        </div>
    </div>
</div>