<?php if($this->getItems()->getSize()): ?>
<div class="the-look-tab-wpr">
    <ul class="products-list">
    <?php foreach($this->getItems() as $_item): ?>
        <li class="item">
            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(50) ?>" width="50" height="50" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" /></a>
            <div class="product-details">
                <p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a></p>
                <?php echo $this->getPriceHtml($_item, true, '-related') ?>
                <?php if ($_item->isSaleable()): ?>
                    <a title="<?php echo $this->__('Add to Bag') ?>" href="<?php echo $this->getAddToCartUrl($_item) ?>" ><?php echo $this->__('Add to Bag') ?></a>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
            </div>
        </li>
    <?php endforeach ?>
    </ul>
</div>
<?php endif ?>