<?php
/**
 * Cavabien_Theme
 *
 * @category    Cavabien
 * @package     Cavabien_Theme
 * @copyright   Copyright (c) 2014 SmartOSC Inc. (http://www.smartosc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** @var $this Cavabien_Theme_Block_Catalog_Product_Refine */


?>
<div class="refine-by narrow-by-list">
    <span class="refine-label">Refine by:</span>
    <div class="refine-color refine">
        <div class="refine-button" data-tab-content="dropdown_1" >All Color</div>
        <div id="dropdown_1" class="refine-tabcontent" style="display: none">
            <?php echo $this->getFilterHtml('color'); ?>
        </div>
    </div>
    <div class="refine-price refine">
        <div class="refine-button" data-tab-content="dropdown_2" >All Prices</div>
        <div id="dropdown_2" class="refine-tabcontent" style="display: none">
            <?php echo $this->getFilterHtml('price'); ?>
        </div>
    </div>
    <div class="refine-size refine">
        <div class="refine-button" data-tab-content="dropdown_3" >All Sizes</div>
        <div id="dropdown_3" class="refine-tabcontent" style="display: none">
            <?php echo $this->getFilterHtml('size'); ?>
        </div>
    </div>
    <button class="button" onclick="setLocation('<?php echo $this->getClearUrl();?>')"><span><span><?php echo Mage::helper('gomage_navigation')->getClearAll(); ?></span></span></button>
</div>
