<?php $coreHelper = Mage::helper('core'); ?>
<?php /** @var $themHelper Cavabien_Theme_Helper_Data */
	$themHelper = Mage::helper('cavabien_theme');
	$cartHelper = Mage::helper('checkout/cart');
?>
<?php $blockId = 'shop-the-look' ?>
<?php $products = $this->getItemCollection()->getItems() ?>
<?php if(count($products)): ?>
<div class="box-collateral">
	<div class="shop-the-look-container">
		<h3 class="a-center"><?php echo $this->__('Shop The Look') ?></h3>
		<div class="sm-wrap-item">
			<div class="sm-wrap-item-inner">
				<div class="products-grid shop-the-look shop-the-look-slider" id="shopthelookslider">
					<?php foreach ($products as $product): ?>
					<div class="item">
						<div class="bl-image">
							<img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(135, 105) ?>" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
							<a class="various fancybox.ajax button pro-quick-view" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$product->getId())) ?>">QUICK VIEW</a>
						</div>
                        <div id="formstl<?php echo $product->getId();?>">
						<form action="<?php echo Mage::getBaseUrl() ?>checkout/cart/add/" method="post" id="product_<?php echo $product->getId() ?>_addtocart_form"<?php if($product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
							<div class="no-display">
								<input type="hidden" name="product" value="<?php echo $product->getId() ?>" />
								<input type="hidden" name="qty" id="qty<?php echo $blockId ?>" maxlength="12" value="1" title="<?php echo $this->__('Quantity') ?>" class="input-text qty"/>
							</div>
							<?php echo $this->getBlockHtml('formkey') ?>
							<?php if ($product->isConfigurable()): ?>
							<?php echo $themHelper->getProductOptionsBlock($product, $blockId) ?>
							<?php endif; ?>
							<h2 class="product-name">
								<a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>"><?php echo $this->escapeHtml($product->getName()) ?></a>
							</h2>
							<div class="wrap-ratings">
								<?php echo $this->getReviewsSummaryHtml($product) ?>
							</div>
							<div class="price-box clearfix">
								<?php $price = $product->getPrice(); ?>
								<?php if ($themHelper->ableToDisplaySpecialPrice($product)): ?>
								<span class="old-price left">
									<span class="price"><?php echo $coreHelper->currency($price, true, false) ?></span>
								</span>
								<?php $specialPrice = $product->getSpecialPrice(); ?>
								<span class="special-price right">
									<span class="price"><?php echo $coreHelper->currency($specialPrice, true, false) ?></span>
								</span>
								<?php else: ?>
								<div class="regular-price right">
									<span class="price">
										<?php echo $coreHelper->currency($price, true, false) ?>
									</span>
								</div>
								<?php endif; ?>
							</div>
							
							<div class="actions right">
								<?php if($product->isSaleable()): ?>
								<button type="submit" title="<?php echo $this->__('Shop now') ?>" class="button btn-cart"><span><span><?php echo $this->__('Shop now') ?></span></span></button>
								<?php else: ?>
								<button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
								onclick="setLocation('<?php echo $product->getProductUrl() ?>')">
								<span><span><?php echo $this->__('Pre-Order Now') ?></span></span></button>
								<?php endif; ?>
							</div>
							<div class="clear-both"></div>
						</form>
                        </div>
						<div class="enlarge-shopthelook item-wrapper" idstl="<?php echo $product->getId();?>">
                            <div class="small-arrow right-direction"><span><span></span></span></div>
                            <?php $_customData['image'] =  array('width' => 175, 'height' => 250);?>
							<?php $smArea = 'shopthelook';?>
							<?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/itemshopthelook.phtml')->setProduct($product)->setCustomData($_customData)->setSmArea($smArea)->toHtml()?>
						</div>
					</div>
					<?php endforeach ?>
				</div>
			</div>
            <a href="#" id="slide_prev">&laquo; prev</a><a href="#" id="slide_next">next &raquo;</a>
<!--			<a onclick="return false;" href="#" id="ui-carousel-next" class="carousel-next carousel-button">--><?php //echo $this->__('Next')?><!--</a>-->
<!--			<a onclick="return false;" href="#" id="ui-carousel-prev" class="carousel-prev carousel-button">--><?php //echo $this->__('Prev')?><!--</a>-->
		</div>
	</div>
</div>
<?php endif; ?>

<script type="text/javascript">
    jQuery('.pro-quick-view').hide();
//    jQuery(".products-grid .item .bl-image").mouseover(function(){
//        jQuery(this).find('.pro-quick-view').show();
//        jQuery(this).parent().find('.enlarge-shopthelook').show();
//    })
//
//            .mouseout(function(){
//                jQuery(this).find('.pro-quick-view').hide();
//                jQuery(this).parent().find('.enlarge-shopthelook').hide();
//            });
    jQuery(".shop-the-look-slider .item")
            .mouseenter(function() {
                var enItemOffset =  jQuery(this).offset();
                var posLeftEx = enItemOffset.left - 265;
                var posTopEx = enItemOffset.top;
                if( jQuery('.enlarge-popup .item').text()==''){
                    var real =  jQuery(this).find('.enlarge-shopthelook');
                    jQuery(real).appendTo('.enlarge-popup .item');
                    jQuery('.enlarge-popup').css({
                        position: 'absolute',
                        top: posTopEx,
                        left: posLeftEx,
                        'z-index': '6666'
                    });
                    jQuery('.enlarge-popup .item .item-wrapper').css({
                        width: 265,
                        height: 490
                    });
                }
            });
	jQuery(".pro-quick-view").fancybox({
		fitToView: true,
		width: 600,
		height: 510,
		autoSize: true,
		padding:0,
		closeClick: false,
		openEffect: 'none',
		closeEffect: 'none'
	});
</script>