<?php
$strBaseUrl = Mage::getBaseUrl();
$id_current_cat = Mage::registry('cat_id');
$url_current_cat = 'multipledeals/index/page/cat/' . $id_current_cat;
$current = $strBaseUrl . 'multipledeals/index/page' . '/deals/current';
$comesoon = $strBaseUrl . 'multipledeals/index/page' . '/deals/comesoon';
$endsoon = $strBaseUrl . 'multipledeals/index/page' . '/deals/endsoon';

$catCurrentId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_current_deal_id');
$catComingId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_coming_soon_id');
$catEndingId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_endingsoon_id');

if (isset($params['deals'])) {
    $page_type = $params['deals'];
} else {
    $page_type = Mage::registry('pageTypeDeals');//default
}
if ($page_type == 'current') {
    $catId = $catCurrentId;
}
if ($page_type == 'comesoon') {
    $catId = $catComingId;
}
if ($page_type == 'endsoon') {
    $catId = $catEndingId;
}


if(in_array($id_current_cat, array($catCurrentId, $catComingId, $catEndingId))) {
    $id_current_cat = 0;
}
?>
<div class="deal-week-tabs">
    <div class="title left">
        <img src="<?php echo $this->getSkinUrl('images/deal-of-week-title.jpg'); ?>"/>
    </div>
    <ul class="product-tabs right">
        <li <?php echo $page_type == 'current' ? 'class="active"' : '' ?>><a href="<?php echo $current; ?>"><span>
                <?php echo $this->__(strtoupper(Mage::helper('multipledeals')->getCatNameById($catCurrentId)));

                ?>
                    <!--                    CURRENT'S DEALS-->
                </span></a></li>
        <li <?php echo $page_type == 'comesoon' ? 'class="active"' : '' ?>><a href="<?php echo $comesoon; ?>"><span>
                    <?php echo $this->__(strtoupper(Mage::helper('multipledeals')->getCatNameById($catComingId)));

                    ?>
                    <!--                    COMING SOON-->
                </span></a></li>
        <li <?php echo $page_type == 'endsoon' ? 'class="active"' : '' ?>><a href="<?php echo $endsoon; ?>"><span>
                    <?php echo $this->__(strtoupper(Mage::helper('multipledeals')->getCatNameById($catEndingId)));

                    ?>
                    <!--                    ENDING SOON-->
                </span></a></li>
    </ul>
    <!-- end .product-tabs -->
</div>
<div class="clear"></div>
<p class="short-title">Shop our Deal of the Day and Deeply Discounts on Weekly and limited-time deals items - Updated
    Daily.</p>

<?php
//$pageTypeDeals = Mage::registry('pageTypeDeals');
//if(isset($pageTypeDeals) && $pageTypeDeals == "current"){
//    echo $this->getLayout()->createBlock('cms/block')->setBlockId('menu_multipledeals_current')->toHtml();
//}
//if(isset($pageTypeDeals) && $pageTypeDeals == "comesoon"){
//    echo $this->getLayout()->createBlock('cms/block')->setBlockId('menu_multipledeals_comesoon')->toHtml();
//}
//if(isset($pageTypeDeals) && $pageTypeDeals == "endsoon"){
//    echo $this->getLayout()->createBlock('cms/block')->setBlockId('menu_multipledeals_endsoon')->toHtml();
//}
?>

<div id="sub-category-listing">
    <div class="menu_multipledeals_horizontal">
        <ul>
            <?php
            // get category "deal of week" id
            //$catId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_root_id');
            $catIdSubLevelOne = Mage::helper('multipledeals')->getSubCatDealsMenu($catId);
            $i = 1;
            foreach ($catIdSubLevelOne as $rowIdSubOne) {
                if($i > 5) break;
                $catNameSubOne = Mage::helper('multipledeals')->getCatNameById($rowIdSubOne);
                $id_current_cat = $id_current_cat == 0 ? $rowIdSubOne : $id_current_cat;
                ?>
                <li>
       <span <?php echo $id_current_cat==$rowIdSubOne ? 'class="active"' : '' ?>>
    <a <?php echo $id_current_cat==$rowIdSubOne ? 'class="active"' : '' ?> href="<?php echo $this->getBaseUrl() ?>multipledeals/index/page/cat/<?php echo $rowIdSubOne; ?>"
       id="menu_multipledeals_horizontal_<?php echo $i++; ?>"><?php echo $catNameSubOne; ?></a>
       </span>

                    <?php
                    $catNameSubIdLevelTwo = Mage::helper('multipledeals')->getSubCatDealsMenu($rowIdSubOne);
                    foreach ($catNameSubIdLevelTwo as $rowIdSubTwo) {
                        $catNameSubTwo = Mage::helper('multipledeals')->getCatNameById($rowIdSubTwo);
                        //$linkShopMore = Mage::helper('multipledeals')->getLinkShopMoreByCatId($rowIdSubTwo);
                        echo '<a id="horizontal_menu_' . $rowIdSubTwo . '" href="#deal-cat-' . $rowIdSubTwo . '">' . $catNameSubTwo . '</a>';
                    }// end foreach $catNameSubIdLevelTwo
                    ?>
                </li>
            <?php
            }// end foreach $catIdSubLevelOne
            ?>
            <ul>
    </div>
</div>

<script>
    jQuery(function(){
        jQuery(".pro-quick-view").fancybox({
            fitToView: true,
            width: 890,
            height: 650,
            autoSize: false,
            padding: 0,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            afterLoad: function () {
                // Po.st Toolbar async load
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'http://i.po.st/share/script/post-widget.js#publisherKey=4m61ebkl1abg0uc5kkfd';
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);

                if (typeof post_init == 'function') {
                    window.post_init();
                    console.log('init me');
                    //setInterval(function(){  window.post_init(); console.log('post_init');  },1000);
                    setTimeout(function () {
                            window.post_init();
                        },
                        1000
                    );
                }

            },
            afterShow: function () {
                FB.XFBML.parse();
            }
        });
    });

</script>
