<div class="my-account">
    <div class="buttons-set">
        <p class="back-link"><a href="javascript: history.go(-1)">
                <small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>
</div>
<div id="form_multipledeals_review" style="display: none;">
    <?php
    $product = $this->getFeaturedDeal();
    echo $this->getLayout()->createBlock('cavabien_theme/multipledeals_review_form')
        ->assign('productReview', $product)->setTemplate('multipledeals/review/form.phtml')->toHtml();
    ?>
</div>

<?php
if ($this->helper('multipledeals')->isEnabled() && $product){
?>
<div class="clear"></div>
<div class="deal-week-header">
    <div class="top-container">
        <div class="title left">
            <img src="<?php echo $this->getSkinUrl('images/deal-week-title.jpg'); ?>"/>
        </div>
        <div class="social-share right">
            <div class="left">
                <p class="above">Get $10 credits</p>

                <p class="beneath">Shared this deal</p>
            </div>
            <div class="social-button right">
                <div class="addthis_toolbox addthis_default_style addthis_16x16_style"
                     addthis:url="<?php echo $product->getProductUrl(); ?>"
                     addthis:title="<?php echo $product->getName(); ?>">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_pinterest_share"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="best-seller-product deal-of-theday">
    <div class="product-info">
        <div class="product-cate-best">
            <ul class="list-best-seller-pro">
                <li class="pro-best">
                    <div class="product-top">
                        <div class="image">
                            <a href="<?php echo $product->getProductUrl(); ?>">
                                <img class="product_image"
                                     src="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(185, 277); ?>"
                                     alt="multipledeals_image"/>
                            </a>

                            <span class="icon-daily-deal"></span>
                        </div>
                        <!-- end .deal_of_day_image -->

                        <div class="product-info">
                            <h2 class="product-name">
                                <a href="<?php echo $product->getProductUrl(); ?>">
                                    <span class="product_name"><?php echo $product->getName(); ?></span>
                                </a>
                            </h2><!-- end .product-name -->

                            <div class="deal_product_rating">
                                <?php
                                $summaryData = Mage::helper('multipledeals')->getRatingReviewDeals($product);
                                if ($summaryData['rating_summary']) {

                                    ?>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating"
                                                 style="width:<?php echo $summaryData['rating_summary']; ?>%"></div>
                                        </div>
                                    </div>
                                    <?php
                                    $numberStar = $summaryData['rating_summary'] * 5 / 100;
                                    echo $this->__('<span class="rt1">Rating ') . $numberStar . ' &nbsp; | </span>';
                                } ?>

                                <!-- review count -->
                                <span class="rt2"><?php
                                    if ($summaryData['reviews_count'] != 0) {
                                        echo $summaryData['reviews_count'];
                                        if ($summaryData['reviews_count'] == 1) {
                                            echo $this->__(' Review &nbsp; | ');
                                        }
                                        if ($summaryData['reviews_count'] > 1) {
                                            echo $this->__(' Review(s) &nbsp; | ');
                                        }
                                    }
                                    ?></span>

                                <a href="javascript:void(0)" id="link_deal_review">
                                    <?php
                                    echo $this->__('Write a review');
                                    ?>
                                </a>
                            </div>
                            <!-- end .deal_product_rating -->


                            <div class="product-description">
                                <div class="destext">
                                    <?php echo $product->getShortDescription(); ?>
                                </div>
                                <a href="<?php echo $product->getProductUrl(); ?>"
                                   class="product-link"><?php echo $this->__('See more details'); ?></a>
                            </div>

                            <div class="enlarge-color">
                                <?php if ($product->getTypeId() == 'configurable'): ?>
                                    <?php $_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel'); ?>
                                    <div id="sm-cat-conf-product_list<?php echo $product->getId() ?>-default-color"
                                         class="enlarge-item-color"></div>
                                    <script type="text/javascript">
                                        var spConfig_<?php echo $product->getId()?>_product_list = new smProduct.Config(<?php echo $_smBlock->setProduct($product)->getJsonConfig() ?>, <?php echo $product->getId()?>, 'product_list');
                                        document.observe("dom:loaded", spConfig_<?php echo $product->getId()?>_product_list.run.bind(spConfig_<?php echo $product->getId()?>_product_list));
                                    </script>
                                <?php endif; ?>
                            </div>

                            <!-- deal countdown -->
                            <div class="abs">
                                <div class="countdown">
                                    <div class="countdown-text"><?php echo $this->__('DEALS END IN') ?></div>
                                    <?php echo $this->helper('multipledeals')->getProductCountdown($product, array('width' => '170px', 'height' => '45px'), false); ?>
                                </div>

                                <div class="deal_of_the_day_limit">
                                    <?php echo $this->__('Limited Quantity Available'); ?>
                                </div>
                                <!-- end .deal_of_the_day_limit -->
                            </div>
                        </div>
                        <!-- end .product-info -->

                        <div class="product-for-cart">
                            <!-- deal price -->
                            <div class="special-price">
                                <!--<h3><?php /*echo $this->__('Only') */ ?></h3>-->
                                <?php
                                $currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                                $discountPrice = Mage::helper('core')->currency($product->getFinalPrice(), true, false);
                                $discountPriceSymbol = str_replace($currency_symbol, '<span class="currency-symbol">' . $currency_symbol . '</span>', $discountPrice);
                                $arr_split = explode(".", $discountPriceSymbol);

                                $temp_explode = explode('</span>', $arr_split[0]);

                                $arr_split[0] = str_replace($temp_explode[1], '<span class="price-default">' . $temp_explode[1] . '</span>', $arr_split[0]);
                                $discountPriceSymbolFinal = $arr_split[0] . "<span>." . $arr_split[1] . "</span>";
                                echo $discountPriceSymbolFinal;
                                ?>
                            </div>
                            <!-- end .special-price -->

                            <!-- normal price -->
                            <div class="price-value">
                                <span class="title"><?php echo $this->__('Value') ?></span>
                                    <span class="value">
                                        <?php echo $nomalPrice = Mage::helper('core')->currency($product->getPrice(), true, false); ?>
                                    </span>
                            </div>
                            <!-- end .price-value -->

                            <!-- price discount -->
                            <div class="price-discount">
                                <span class="title"><?php echo $this->__('Discount') ?></span>
                                    <span class="value">
                                        <?php
                                        $discountValue = (($product->getPrice() - $product->getFinalPrice()) / $product->getPrice()) * 100;
                                        echo round($discountValue);
                                        ?>%
                                    </span>
                            </div>

                            <!-- price you save -->
                            <div class="price-you-save">
                                <span class="title"><?php echo $this->__('You save') ?></span>
                                    <span class="value">
                                     <?php echo Mage::helper('core')->currency(($product->getPrice() - $product->getFinalPrice()), true, false); ?>
                                 </span>
                            </div>

                            <!-- add to cart -->
                            <div class="add-to-cart">
                                <div class="buy-as-gift">
                                    <button type="button" title="<?php echo $this->__('Buy as a gift') ?>"
                                            class="button large btn-gift silver"
                                    <!--onclick="setLocation('<?php /*echo $this->getAddToCartUrl($product) */ ?>')-->">
                                    <span><span><?php echo $this->__('Buy as a Gift') ?></span></span></button>
                                </div>
                                <?php if ($product->isSaleable()): ?>
                                <!--
                                    <button type="button" title="<?php echo $this->__('Check out') ?>"
                                            class="button large btn-cart"
                                            onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')">
                                        <span><span><?php echo $this->__('Check out') ?>&nbsp;&nbsp;<i
                                                    class="fa fa-caret-right"></i></span></span>
                                    </button>
                                -->
                                    <a class="various fancybox.ajax button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$product->getId())) ?>"><span><?php echo $this->__('Check out') ?>&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span></a>

                                <?php else: ?>
                                    <p class="availability out-of-stock">
                                        <span><?php echo $this->__('Out of stock') ?></span></p>

                                <?php endif; ?>
                            </div>
                        </div>
                        <!-- end .product-for-cart -->


                        <!--Limit Qty-->
                        <!--    --><?php //if ($displayQty && in_array($product->getTypeId(), $displayQtyForType)): ?>
                        <!--        <p class="limited-quantity-label">-->
                        <?php //echo $this->__('Limited Quantity Available') ?><!--</p>-->
                        <!--        <p class="deal-qty">-->
                        <?php //echo $this->__('<b>%s  left!</b>', $product->getDealQty()); ?><!-- </p>-->
                        <!--    --><?php //endif; ?>

                        <!--View all deal-->
                        <!--    <div class="view-all-deal"><a-->
                        <!--            href="--><?php //echo $this->getUrl('multipledeals/index/list'); ?><!--">-->
                        <?php //echo $this->__('View All Deals') ?><!--</a>-->
                        <!--    </div>-->
                        <?php } ?>

                    </div>
                    <!-- end .product-top -->
                </li>
                <!-- end <li> .pro-best -->
            </ul>
            <!-- end <ul> .list-best-seller-pro -->
        </div>
    </div>
    <!-- end .product-info -->
</div><!-- end .best-seller-product -->

<script>
    jQuery(document).ready(function () {
        jQuery('#link_deal_review').click(function () {
            jQuery("#form_multipledeals_review").dialog({
                maxHeight: 800,
                minWidth: 1000
            });
        })
    });

    jQuery(".deal-quick-view").fancybox({
        fitToView: true,
        width: 873,
        height: 650,
        autoSize: false,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        afterLoad : function(){
            // Po.st Toolbar async load
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://i.po.st/share/script/post-widget.js#publisherKey=4m61ebkl1abg0uc5kkfd';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);

            if (typeof post_init == 'function') {
                window.post_init();
                console.log('init me');
                //setInterval(function(){  window.post_init(); console.log('post_init');  },1000);
                setTimeout(function() {
                        window.post_init();
                    },
                    1000
                );
            }

        },
        afterShow: function() {
            FB.XFBML.parse();
        }
    });
</script>
