<style>
    .active {
        color: #ee3088;
    }
</style>
<?php

$catCurrentId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_current_deal_id');
$catComingId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_coming_soon_id');
$catEndingId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_endingsoon_id');

$params = $this->getRequest()->getParams();
if (isset($params['cat'])) {
    $cat = $params['cat'];
} else {
    $cat = Mage::registry('cat_id');//default
}

if(in_array($cat, array($catCurrentId, $catComingId, $catEndingId))) {
    $cat = 0;
}

if (isset($params['deals'])) {
    $page_type = $params['deals'];
} else {
    $page_type = Mage::registry('pageTypeDeals');//default
}


//$page_type = isset($params['deals']) ? $params['deals'] : 'current';
//$page_type = $params['deals'];
?>
<input type="hidden" id="cat_current" value="<?php echo $cat; ?>"/>
<input type="hidden" id="page_type" value="<?php echo $page_type; ?>"/>
<?php
$catIdSubLevelOne = array();
//echo $this->getLayout()->createBlock('cms/block')->setBlockId('menu_multipledeals')->toHtml();?>
<div id="navigation-top">
    <h3 class="shop-cate">
        <?php
        if ($page_type == 'current') {
            echo $this->__(Mage::helper('multipledeals')->getCatNameById($catCurrentId));
            $catIdSubLevelOne = Mage::helper('multipledeals')->getSubCatDealsMenu($catCurrentId);
        }
        if ($page_type == 'comesoon') {
            echo $this->__(Mage::helper('multipledeals')->getCatNameById($catComingId));
            $catIdSubLevelOne = Mage::helper('multipledeals')->getSubCatDealsMenu($catComingId);
        }
        if ($page_type == 'endsoon') {
            echo $this->__(Mage::helper('multipledeals')->getCatNameById($catEndingId));
            $catIdSubLevelOne = Mage::helper('multipledeals')->getSubCatDealsMenu($catEndingId);
        }

        ?>
    </h3>

    <div class="block-content">
        <?php
        // get category "deal of week" id
        /*$catId = Mage::getStoreConfig('multipledeals_cat_config/category_root_id/multipledeals_cat_root_id');
        $catIdSubLevelOne = Mage::helper('multipledeals')->getSubCatDealsMenu($catId);*/
        $i = 1;
        foreach ($catIdSubLevelOne as $rowIdSubOne) {
            $catNameSubOne = Mage::helper('multipledeals')->getCatNameById($rowIdSubOne);
            $cat = $cat == 0 ? $rowIdSubOne : $cat;
            ?>
            <h3><span class="menu_static_header_accordion">
                <span class="click_to_slide"></span>
                <span <?php echo $cat==$rowIdSubOne ? 'class="active"' : '' ?>>
                    <a href="<?php echo $this->getBaseUrl(); ?>/multipledeals/index/page/cat/<?php echo $rowIdSubOne; ?>"
                       id="menu_multipledeals_vertical_<?php echo $i++; ?>">
                        <?php echo $catNameSubOne; ?>
                    </a>
                </span>
                </span>
            </h3>
            <ul class="l-navigation" <?php echo $cat!=$rowIdSubOne ? 'style="display:none"' : '' ?>>
                <?php
                $catNameSubIdLevelTwo = Mage::helper('multipledeals')->getSubCatDealsMenu($rowIdSubOne);
                foreach ($catNameSubIdLevelTwo as $rowIdSubTwo) {
                    $catNameSubTwo = Mage::helper('multipledeals')->getCatNameById($rowIdSubTwo);
                    //$linkShopMore = Mage::helper('multipledeals')->getLinkShopMoreByCatId($rowIdSubTwo);
                    echo '<li id="vertical_menu_' . $rowIdSubTwo . '">' . '<a href="#deal-cat-' . $rowIdSubTwo . '">' . $catNameSubTwo . '</a>' . '</li>';
                }// end foreach $catNameSubIdLevelTwo
                ?>
            </ul>
        <?php
        }// end foreach $catIdSubLevelOne
        ?>
    </div>
</div>