<?php
$productCollection=$this->getDealProductCollection($loadRecent = false,$data);
//$numberDeals = count($productCollection);
//if($numberDeals == 0){
//   $displayDiv = 'style="display:none;"';
//}
?>

<!--<div class="deal-week-products" id="--><?php //echo $data; ?><!--" --><?php //echo isset($displayDiv) ? $displayDiv : ""; ?><!-- >-->
<div class="deal-week-products deal-week-products1 enlarge">
<?php
$cat_id = Mage::registry('cat_id');
$pageTypeDeals = Mage::registry('pageTypeDeals');
$catName = Mage::helper('multipledeals')->getCatNameById($data);
$linkShopMore = Mage::helper('multipledeals')->getLinkShopMoreByCatId($data);
//$catUrl = Mage::helper('multipledeals')->getUrlCatById($data);

?>

<!--<div class="list-title">-->
<!--<p>--><?php //echo $catName; ?><!--</p>-->
<!--<a href="--><?php //echo $catUrl ?><!--">Shop --><?php //echo $catName ?><!--&nbsp;<i class="fa fa-caret-right"></i></a>-->
<!--</div>-->

<div class="list-title" id="list-title-<?php echo $data; ?>">
    <p id="deal-cat-<?php echo $data ?>"><?php echo $catName; ?></p>
    <a href="<?php echo $linkShopMore; ?>">Shop <?php echo $catName ?>&nbsp;<i class="fa fa-caret-right"></i></a>
</div>

<ul class="products-grid">

<?php
if(!count($productCollection)){
    echo Mage::getStoreConfig('multipledeals/configuration/no_deal_message');
}else{
    foreach ($productCollection as $product){
        //echo '<pre/>';print_r($product);die;
        $dealQty = $product->getDeal_qty();
        $dealTimeFrom = $product->getDatetime_from();
        $dealTimeTo = $product->getDatetime_to();
        $sku = $product->getSku();
        $collection = Mage::getResourceModel('reports/product_collection')
            ->addOrderedQty($dealTimeFrom, $dealTimeTo, true)
            ->addAttributeToFilter('sku', $sku)
            ->setOrder('ordered_qty', 'desc')
            ->getFirstItem();

        $product_qty = $collection;
        $productSoldOut = (int)$product_qty->ordered_qty;
        $stockItem = $product->getStockItem();
        if($stockItem->getIsInStock()){
            $deal_status = 1; // in stock
        }else{
            $deal_status = 0; // out stock
        }
        ?>
        <li class="item">
        <div  class="item-wrapper enlarge-fake" id="num<?php echo $product->getId().$data; ?>">
            <!--<div class="enlarge-color">
                <?php /*if ($product->getTypeId() == 'configurable'): */?>
                    <?php /*$_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel'); */?>
                    <div id="sm-cat-conf-<?php /*echo $this->getSmArea() */?><?php /*echo $product->getId() */?>-default-color"
                         class="enlarge-item-color"></div>
                <?php /*endif; */?>
            </div>-->
            <div class="product-name" style="text-align: left">
                <a href="<?php echo $product->getProductUrl(); ?>"> <?php echo $product->getName(); ?></a>
            </div><!-- end .deal_product_name -->

            <?php
            $summaryData = Mage::helper('multipledeals')->getRatingReviewDeals($product);
            ?>

            <div class="deal_product_rating">
                <?php
                $summaryData = Mage::helper('multipledeals')->getRatingReviewDeals($product);
                if ($summaryData['rating_summary']) {

                    ?>
                    <div class="ratings">
                        <div class="rating-box">
                            <div class="rating" style="width:<?php echo $summaryData['rating_summary']; ?>%"></div>
                        </div>
                    </div>
                    <?php
                    $numberStar = $summaryData['rating_summary']*5/100;
                    echo '('.$numberStar.')'; } ?>

                <!-- review count -->
        <span class="rt2"><?php
            if($summaryData['reviews_count'] != 0){
                echo $summaryData['reviews_count'];
                if($summaryData['reviews_count'] == 1){
                    echo $this->__(' Review ');
                }
                if($summaryData['reviews_count'] > 1){
                    echo $this->__(' Review(s) ');
                }
            }
            ?></span>
            </div><!-- end .deal_product_rating -->

            <div class="product-image">
                <?php if ($product->getVideo() != null) { ?>
                    <video id="video1-<?php echo $this->getSmArea() ?><?php echo $product->getId().$data ?>" class="video_<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>" preload="none"
                           style="display: none; background-color: white !important;width: 200px; height: 300px"
                           poster="<?php echo Mage::getBaseUrl('media') . 'white-bg.png'; ?>">
                    </video>
                <?php
                }
                ?>
                <!-- sold out -->
                <?php if($productSoldOut >= $dealQty) { ?>
                    <div class="product_sold_out"></div>
                <?php } ?>

                <a id="a_img_<?php echo $product->getId().$data ?>" href="<?php echo $product->getProductUrl(); ?>">
                    <img class="product_image <?php if ($product->getVideo() != null) echo ' a-image-'.$this->getSmArea().$product->getId().$data ?>" src="<?php echo Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(180, 270); ?>" alt="multipledeals_image"/>
                </a>
                <!-- discount value -->
                <div class="discount">
                    <?php    $discountValue = (($product->getPrice() - $product->getFinalPrice()) / $product->getPrice()) * 100; ?>
                    <span class="value"><?php echo round($discountValue);?><span class="percent">%</span></span>
                    <span class="off"><?php echo $this->__('Off'); ?></span>
                </div>
            </div><!-- end .deal_product_image -->

            <div class="product-for-cart">

                <!-- normal price -->
                <div class="price-value">
                    <span class="title"><?php echo $this->__('Value') ?></span>
                <span class="value">
                    <?php  echo $nomalPrice = Mage::helper('core')->currency($product->getPrice(), true, false); ?>

                </span>
                </div><!-- end .price-value -->

                <!-- price you save -->
                <div class="price-you-save">
                    <span class="title"><?php echo $this->__('You save') ?></span>
                <span class="value">
                 <?php echo Mage::helper('core')->currency(($product->getPrice() - $product->getFinalPrice()), true, false); ?>
             </span>
                </div>

                <div class="price-deal">
                    <span class="title"><?php echo $this->__('Deal Price'); ?></span>
                <span class="value">
                <?php
                $currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                $discountPrice = Mage::helper('core')->currency($product->getFinalPrice(), true, false);
                $discountPriceSymbol = str_replace($currency_symbol, '<span class="currency-symbol">'.$currency_symbol.'</span>', $discountPrice);
                $arr_split = explode(".",$discountPriceSymbol);

                $temp_explode = explode('</span>', $arr_split[0]);

                $arr_split[0] = str_replace($temp_explode[1], '<span class="price-default">'.$temp_explode[1].'</span>',$arr_split[0]);
                $discountPriceSymbolFinal = $arr_split[0] . "<span>." . $arr_split[1] . "</span>";
                echo $discountPriceSymbolFinal;
                ?>
             </span>
                </div>

                <?php if($deal_status == 1 && $pageTypeDeals != 'comesoon' && $productSoldOut < $dealQty) { ?>
                    <div class="clear a-right">
                        <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart"
                                onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')">
                            <span><span><?php echo $this->__('Buy Now') ?></span></span>
                        </button>
                    </div>
                <?php } ?>

                <?php if($deal_status == 1 && $pageTypeDeals == 'comesoon') { ?>
                    <div class="clear a-right">
                        <button type="button" title="<?php echo $this->__('Coming Soon') ?>" class="button btn-cart"
                                onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')">
                            <span><span><?php echo $this->__('Coming Soon') ?></span></span>
                        </button>
                    </div>
                <?php } ?>


                <?php if($productSoldOut >= $dealQty) { ?>
                    <div class="clear a-right">
                        <button type="button" class="btn-cart-disable button">
                            <span><span><?php echo $this->__('Buy Now') ?></span></span>
                        </button>
                    </div>
                <?php } ?>

                <div class="clear bottom-item-deal">

                    <div class="left">
                        <?php
                        //echo $this->helper('multipledeals')->getProductCountdown($product);
                        // echo 'Qualiy : '.$product->getDealQty().' item(s) left';
                        ?>

                        <?php
                        echo $productSoldOut.' Sold';
                        ?>
                    </div>

                    <div class="right">

                        <?php
                        if($pageTypeDeals == 'comesoon'){
                            echo $this->__('COMES ');
                            echo $this->helper('multipledeals')->getProductCountdownComeSoon($product, array('width' => '170px', 'height' => '45px'), false);
                        } else {
                            ?>
                            <!-- deal countdown -->
                            <div class="countdown">
                                <div class="countdown-text"><?php echo $this->__('ENDS ') ?></div>
                                <?php echo $this->helper('multipledeals')->getProductCountdown($product, array('width' => '170px', 'height' => '45px'), false); ?>
                            </div>

                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
        <?php
        $_image['width']= 200; $_image['height'] = 300;
        $productStatus = Mage::helper('amconf')->getProductStatus($product);
        ?>
        <div class="item-wrapper enlarge-real" id="real-num<?php echo $product->getId().$data; ?>">
        <div class="bl-image product-image">
			<div class="enlarge-color">
                <?php if ($product->getTypeId() == 'configurable'): ?>
                    <?php $_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel'); ?>
                    <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-color"
                         class="enlarge-item enlarge-color-real"></div>
                    <script type="text/javascript">
                        var spConfig_<?php echo $product->getId()?>_<?php echo $this->getSmArea()?> = new smProduct.Config(<?php echo $_smBlock->setProduct($product)->getJsonConfig() ?>, <?php echo $product->getId()?>, '<?php echo $this->getSmArea()?>');
                        document.observe("dom:loaded", spConfig_<?php echo $product->getId()?>_<?php echo $this->getSmArea()?>.run.bind(spConfig_<?php echo $product->getId()?>_<?php echo $this->getSmArea()?>));
                    </script>
                <?php endif; ?>
            </div>
            <a href="<?php echo $product->getProductUrl() ?>"
               id="a-image-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>"
               title="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>"
               data-product-id="<?php echo $product->getId().$data ?>" class="product-image <?php if ($product->getVideo() != null) echo ' a-image-'.$this->getSmArea().$product->getId().$data ?>">
                <img id="image-<?php echo $this->getSmArea() ?><?php echo $product->getId().$data ?>"
                     src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize($_image['width'], $_image['height']); ?>"

                     alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>"/>
            </a>
            <div class="discount">
                <?php    $discountValue = (($product->getPrice() - $product->getFinalPrice()) / $product->getPrice()) * 100; ?>
                <span class="value"><?php echo round($discountValue);?><span class="percent">%</span></span>
                <span class="off"><?php echo $this->__('Off'); ?></span>
            </div>

            <a class="various fancybox.ajax button pro-quick-view enlarge-item"
               href="<?php echo $this->getUrl('ajax/index/quickview', array('product_id' => $product->getId())) ?>">QUICK
                VIEW</a>

            <?php if ($product->getVideo() != null): ?>
                <div class="video-player">
                    <a class="video"
                       onclick="show_style_video('<?php echo $this->getSmArea() ?><?php echo $product->getId().$data ?>', '<?php echo Mage::getBaseUrl('media') . 'blfa_files/' . $product->getVideo(); ?>')"
                       id="play-video-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>"
                       title="<?php echo $this->__('Play video') ?>" href="javascript:void(0)"><span
                            class="video-player-icon">&nbsp;</span><?php echo $this->__('PLAY VIDEO') ?></a>
                </div>
                <video class="video_<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>" id="video-<?php echo $this->getSmArea() ?><?php echo $product->getId().$data ?>" preload="none"
                       style="display: none; background-color: white !important;width: 200px;height: 300px;"
                       poster="<?php echo Mage::getBaseUrl('media') . 'white-bg.png'; ?>">

                </video>

            <?php endif; ?>
        </div>
        <div class="product-info">
           
            <h2 class="product-name"><a href="<?php echo $product->getProductUrl() ?>"
                                        title="<?php echo $this->stripTags($product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($product, $product->getName(), 'name') ?></a>
            </h2>
            <p class="description"><?php if ($product->getSubtitle()): ?>
                    <span class="product-subtitle"><?php echo $product->getSubtitle(); ?></span>
                <?php endif; ?></p>
            <?php if ($product->getTypeId() == 'configurable'): ?>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-size"
                     class="enlarge-item enlarge-size"></div>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-bag-size"
                     class="enlarge-item enlarge-size"></div>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-bra-size"
                     class="enlarge-item enlarge-size"></div>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-clothing-size"
                     class="enlarge-item enlarge-size"></div>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-intimate-size"
                     class="enlarge-item enlarge-size"></div>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-accessories-size"
                     class="enlarge-item enlarge-size"></div>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-ring-size"
                     class="enlarge-item enlarge-size"></div>
                <div id="sm-cat-conf-<?php echo $this->getSmArea() ?><?php echo $product->getId() ?>-shoes-size"
                     class="enlarge-item enlarge-size"></div>
            <?php endif; ?>
            <div class="product-stt-price product-for-cart">
                <div class="price-box">
					<div class="price-deal">
						<span class="value">
							<?php
							$currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
							$discountPrice = Mage::helper('core')->currency($product->getFinalPrice(), true, false);
							$discountPriceSymbol = str_replace($currency_symbol, '<span class="currency-symbol">'.$currency_symbol.'</span>', $discountPrice);
							$arr_split = explode(".",$discountPriceSymbol);

							$temp_explode = explode('</span>', $arr_split[0]);

							$arr_split[0] = str_replace($temp_explode[1], '<span class="price-default">'.$temp_explode[1].'</span>',$arr_split[0]);
							$discountPriceSymbolFinal = $arr_split[0] . "<span>." . $arr_split[1] . "</span>";
							echo $discountPriceSymbolFinal;
							?>
						 </span>
                    </div>
                    <div class="price-value">
						<span class="value">
							<?php  echo $nomalPrice = Mage::helper('core')->currency($product->getPrice(), true, false); ?>

						</span>
                    </div><!-- end .price-value -->                    
                </div>
                <div class="product-status left">
                    <?php foreach ($productStatus as $k => $status): ?>
                        <?php if (is_array($status)): ?>
                            <div class="<?php echo $status['status'] ?>">
                                <?php echo $status['label'];
                                if ($status['status'] == 'coming_soon') {
                                    echo '<br />' . date("m-d-Y", strtotime($product->getComingSoonFrom()));
                                }?>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <?php echo $this->getReviewsSummaryHtml($product, 'short') ?>
                </div>
                <?php // echo $this->getPriceHtml($product, true) ?>
                <div class="actions right">
                    <?php if ($product->isSaleable()): ?>
                        <?php if ($product->getTypeId() != 'configurable'): ?>
                            <?php if($deal_status == 1 && $pageTypeDeals != 'comesoon' && $productSoldOut < $dealQty) { ?>
                                <div class="clear a-right">
                                    <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart"
                                            onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')">
                                        <span><span><?php echo $this->__('Buy Now') ?></span></span>
                                    </button>
                                </div>
                            <?php } ?>

                            <?php if($deal_status == 1 && $pageTypeDeals == 'comesoon') { ?>
                                <div class="clear a-right">
                                    <button type="button" title="<?php echo $this->__('Coming Soon') ?>" class="button btn-cart"
                                            onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')">
                                        <span><span><?php echo $this->__('Coming Soon') ?></span></span>
                                    </button>
                                </div>
                            <?php } ?>


                            <?php if($productSoldOut >= $dealQty) { ?>
                                <div class="clear a-right">
                                    <button type="button" class="btn-cart-disable button">
                                        <span><span><?php echo $this->__('Buy Now') ?></span></span>
                                    </button>
                                </div>
                            <?php } ?>
                        <?php else: ?>
                            <?php if($productSoldOut >= $dealQty) { ?>
                                <div class="clear a-right">
                                    <button type="button" class="btn-cart-disable button">
                                        <span><span><?php echo $this->__('Buy Now') ?></span></span>
                                    </button>
                                </div>
                            <?php }else {?>
                            <button type="button" title="<?php echo $productStatus['button_label'] ?>"
                                    class="button btn-cart"
                                    onclick="spConfig_<?php echo $product->getId() ?>_<?php echo $this->getSmArea() ?>.addToCart('<?php echo $_smBlock->getSubmitUrl($product) ?>', '<?php echo Mage::getUrl("checkout/cart") ?>')">
                                <span><span><?php echo $this->__('Buy Now') ?></span></span>
                            </button>
                        <?php } endif; ?>

                    <?php endif; ?>
                </div>
                <div class="clear"></div>
            </div>
            <div class="share">

                <?php
                //GET SESSION DATA
                Mage::getSingleton('core/session', array('name' => 'frontend'));
                $session = Mage::getSingleton('customer/session', array('name' => 'frontend'));
                $cusId = $session->getCustomer()->getId();
                $login = '';
                if (!$session->isLoggedIn()) {
                    $login = "href='" . Mage::helper('customer')->getRegisterUrl() . "'";
                }
                ?>
                <?php $loveIt = $product->getLoveIt() ?>
                <?php ?>


                <div class="left cava-love-it" id="love-it-<?php echo $product->getId() ?>">
                    <?php $loveIt = $product->getLoveIt() ?>
                    <span class="left">
                    <a <?php if ($cusId && Mage::helper('cavabien_loveit')->isLoveitExist($product->getId(), $cusId)){ ?>style="display: block"
                       <?php }else{ ?>style="display: none"<?php } ?> class="loved-it"
                       onclick="unLoveIt('<?php echo $product->getId() ?>')" <?php echo $login; ?>><?php echo $this->__('Loved it') ?></a>
                    <a <?php if ($cusId && Mage::helper('cavabien_loveit')->isLoveitExist($product->getId(), $cusId)){ ?>style="display: none"
                       <?php }else{ ?>style="display: block"<?php } ?> class="love-it"
                       onclick="loveIt('<?php echo $product->getId() ?>')" <?php echo $login; ?>><?php echo $this->__('Love It') ?></a>
                </span>
                    <span class="left">
                    <span class="love-it-count"><?php echo (int)$loveIt ?></span>
                    <div class="pluginCountButtonNub"><s></s><i></i></div>
                    </span>
                    <img style="display: none" id="imgloveit-<?php echo $product->getId() ?>"
                         src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                         alt="<?php echo $this->__('Loading next step...') ?>"
                         title="<?php echo $this->__('Loading next step...') ?>" class="v-middle"/>
                </div>

                <div class="social-share right">
                    <a href="//www.pinterest.com/pin/create/button/?url=<?php echo urlencode($product->getProductUrl()) ?>&media=<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize($_image['width'], $_image['height']); ?>&description=Next%20stop%3A%20Pinterest"
                       data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red"><img
                            src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png"/></a>

                    <div class="fb-like" data-href="<?php echo $product->getProductUrl() ?>" layout="button_count"></div>
                    <p class="update-face" style="display: none">Updating Facebook Like ...</p>
                </div>
            </div>
        </div>
        </div>
        </li>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                <?php if (!$productStatus['review_star']): ?>
                if (jQuery('.item-wrapper-num<?php echo $product->getId() ?> .ratings .rating-box')) {
                    jQuery('.item-wrapper-num<?php echo $product->getId();?> .ratings .rating-box').hide();
                }
                <?php endif;?>
                <?php if (!$productStatus['review_number']): ?>
                if (jQuery('.item-wrapper-num<?php echo $product->getId() ?> .ratings .amount')) {
                    jQuery('.item-wrapper-num<?php echo $product->getId();?> .ratings .amount').hide();
                }
                <?php endif;?>
            })
        </script>

    <?php

    }
}
?>
</ul>
</div><!-- end .deal-week-products -->



<script>
    jQuery(document).ready(function () {
        jQuery('#link_deal_review').click(function () {
            jQuery("#form_multipledeals_review").dialog({
                maxHeight: 800,
                minWidth: 1000
            });
        })
    });

    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 873,
        height: 650,
        autoSize: false,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        afterLoad : function(){
            // Po.st Toolbar async load
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://i.po.st/share/script/post-widget.js#publisherKey=4m61ebkl1abg0uc5kkfd';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);

            if (typeof post_init == 'function') {
                window.post_init();
                console.log('init me');
                //setInterval(function(){  window.post_init(); console.log('post_init');  },1000);
                setTimeout(function() {
                        window.post_init();
                    },
                    1000
                );
            }

        },
        afterShow: function() {
            FB.XFBML.parse();
        }
    });
    function hoverFunc (id,id_c){
            jQuery('#'+id).css('display','none');
            jQuery('#'+id_c).css('display','block');
    };
    function unHover(id,id_c){
        jQuery('#'+id).css('display','block');
        jQuery('#'+id_c).css('display','none');
    };
    function play_video(id){
        jQuery('#'+id).css('display','none');
    }
</script>