.in-step1 ul li a {position:static;}
.in-step1 ul li a span {display:none;}

.in-step1 button,
.in-step2 button,
.in-step3 button {margin-right:3px;}

.in-step3 button span {position:static;}

.invitations-index-index .tag-ico,
#invite-friends-form .invite-facebook-friends,
.invitations-invite-index #invite-design .left-side .title>div,
.invitations-invite-index #invite-design .left-side .description>div  {display:inline; zoom:1;}
