<?php $_productCollection = $this->getProductByOtherCategory('sneak-peek-week'); ?>
<div class="sneak-peak-container stylist-pick">
    <div class="stylist-product">
    <ul class="sneak-peak-slider products-grid ">
        <?php foreach($_productCollection as $_product): ?>
            <li>
                <div class="sneak-peak-product">
                    <div class="bl-image">
                       <a href="<?php echo $_product->getProductUrl(); ?>" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')->resize(180,120); ?>" /></a>
                        <a class="various fancybox.ajax button pro-quick-view" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId())) ?>">QUICK VIEW</a>
                    </div>
                     <div class="product-info">
                        <h2 class="product-name a-right">
                          <a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName() ?></a>
                        </h2>
                        <p class="description a-right">
                            <?php echo $this->getProductSubtitle($_product->getId()); ?>
                            </p>
                        <div class="price-box a-right">
                            <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                            <?php if($_product->getTypeId() == "grouped"): ?>
                                <span><?php echo Mage::helper('core')->currency($this->getGroupedProductPrice($_product), true, false); ?></span>
                            <?php else: ?>
                                <span><?php echo Mage::helper('core')->currency($_product->getFinalPrice(), true, false); ?></span>
                            <?php endif; ?>
                        </div>
                    </div>
                    
                    <div class="actions right">
                    <button type="button" title="<?php echo $this->__('Shop Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $_product->getProductUrl(); ?>')"><span><?php echo $this->__('Shop Now') ?></span></button>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function (){
        jQuery('.sneak-peak-slider').bxSlider({
            slideWidth: 225,
            minSlides: 2,
            maxSlides: 4,
            moveSlides: 1,
            slideMargin: 20,
            pager: false
        });
    });
</script>

<script type="text/javascript">
    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 600,
        height: 510,
        autoSize: true,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'
    });
</script>

