<div class="catalog-request content-cms clearfix">
  <div class="bx-content pull-left">
    <div class="title-page">
      <h1><?php echo $this->__('REQUEST A CATALOG')?></h1>
      <img src="<?php echo $this->getSkinUrl('images/image_title_cr.jpg'); ?>" alt="image top" />
    </div>
    <p class="top-info"><b><?php echo $this->__('Plus'); ?></b><?php echo $this->__(" We'll send you an offer code for "); ?><b><?php echo $this->__('20% of and free delivery'); ?></b><?php echo $this->__(" with your catalogue, to use on your first order."); ?></p>

    <p class="text"><?php echo $this->__("Complete this form to receive a complimentary issue of our next
    Catalogue. When you "); ?><br/><?php echo $this->__('request a catalogue, you may receive mailings from our ister brands and carefully screened trusted '); ?><br/><?php echo $this->__('third party marketers.View ')?><a href="<?php echo Mage::getBaseUrl().'contacts'; ?>"><?php echo $this->__("Contact Info"); ?></a><?php echo $this->__(' and '); ?><a href="<?php echo Mage::getBaseUrl().'privacy_policy'; ?>"><?php echo $this->__("Privacy Policy"); ?></a>
    </p>

    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
    <?php 
    $formdata = Mage::registry('customrequest_data');
    if(isset($formdata) && $formdata!= null)
    {    
       $fname = $formdata['fname'];
       $suffix = $formdata['suffix'];
       $lname = $formdata['lname'];
       $company_name = $formdata['company_name'];
       $address1 = $formdata['address1'];
       $address2 = $formdata['address2'];
       $city = $formdata['city'];
       $county = $formdata['county'];
       $zip = $formdata['zip'];
       $country = $formdata['country'];
       $is_business_address = $formdata['is_business_address'];
       $email = $formdata['email'];
       $phone = $formdata['phone'];
    }
    ?>

    <form name="form" id="customrequest" class="catalog-request-frm" method="post" action="<?php echo $this->getFormAction(); ?>" onsubmit="return verify();">
                  <ul class="clearfix">
                      <li class="fields clearfix">
                          <div class="input-box bx-firstname">
                              <label class="lb-input-text" for="firstname"><?php echo $this->__('First Name'); ?><span class="required">*</span></label>
                              <input placeholder="First Name" name="fname" type="text" class="required-entry input-text" value="<?php echo(isset($fname) ? $fname : ""); ?>">
                          </div>
                           <div class="input-box bx-suffix">
                              <label class="lb-input-text" for="suffix"><?php echo $this->__('Suffix'); ?><span class="required">*</span></label>
                              <input placeholder="Suffix" name="suffix" type="text" class="required-entry input-text" value="<?php echo(isset($suffix) ? $suffix : ""); ?>">
                          </div>

                          <div class="input-box bx-lastname">
                              <label class="lb-input-text" for="lastname"><?php echo $this->__('Last Name'); ?><span class="required">*</span></label>
                              <input placeholder="Last Name" type="text" name="lname" class="required-entry input-text" value="<?php echo(isset($lname) ? $lname : ""); ?>">
                          </div>
                      </li>
                      <li class="wide">
                          <div class="input-box">
                              <label class="lb-input-text" for="company_name"><?php echo $this->__('Company Name (optional)'); ?></label>
                              <input placeholder="Company Name (optional)" type="text" name="company_name" size="50" class="input-text" value="<?php echo(isset($company_name) ? $company_name : ""); ?>">
                          </div>
                      </li>
                      <li class="wide">
                          <div class="input-box">
                              <label class="lb-input-text" for="address1"><?php echo $this->__('Street Address 1'); ?><span class="required">*</span></label>
                              <input placeholder="Street Address 1" type="text" name="address1" size="50" class="required-entry input-text" value="<?php echo(isset($address1) ? $address1 : ""); ?>">
                          </div>
                      </li>
                        <li class="wide">
                          <div class="input-box">
                              <label class="lb-input-text" for="address2"><?php echo $this->__('Street Address 2 (optional)'); ?></label>
                              <input placeholder="Street Address 2 (optional)" type="text" name="address2" size="50" class="input-text" value="<?php echo(isset($address2) ? $address2 : ""); ?>">
                          </div>
                      </li>
                      <li class="wide">
                          <div class="input-box">
                              <label class="lb-input-text" for="city"><?php echo $this->__('Town/City'); ?><span class="required">*</span></label>
                              <input placeholder="Town/City" type="text" name="city" class="required-entry input-text" value="<?php echo(isset($city) ? $city : ""); ?>">
                          </div>
                      </li>
                      <li class="fields clearfix">
                          <div class="input-box bx-country">
                              <label class="lb-input-text" for="county"><?php echo $this->__('County (optional)'); ?></label>
                              <input placeholder="County (optional)" type="text" name="county" class="input-text" value="<?php echo(isset($county) ? $county : ""); ?>">
                          </div>
                          <div class="input-box bx-zipcode">
                              <label class="lb-input-text" for="zip"><?php echo $this->__('Zip Code'); ?><span class="required">*</span></label>
                              <input placeholder="Zip Code/Postal Code" type="text" name="zip" class="required-entry validate-number input-text" value="<?php echo(isset($zip) ? $zip : ""); ?>">
                          </div>

                          <div class="input-box bx-select-country">
                              <label class="lb-input-text" for="country"><?php echo $this->__('Country'); ?><span class="required">*</span></label>
                              <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect(); ?>
                          </div> 
                      </li>
                      <li class="wide control">
                          <div class="input-box">
                              <input type="checkbox" name="is_business_address" class="checkbox" <?php echo (isset($is_business_address)?'checked="checked"':'') ?> value="1">
                              <label class="lb-checkbox" for="is_business_address"><?php echo $this->__('This is a business address'); ?></label>
                          </div>
                      </li>
                      <li class="wide">
                          <h5>Delivery Notifications</h5>
                          <span class="note">Required to send you order and shipment notification emails</span>
                          <div class="input-box">
                              <label class="lb-input-text" for="email"><?php echo $this->__('Email'); ?></label>
                              <input placeholder="Email Address" type="text" name="email" id="email" class="required-entry validate-email input-text" size="50" value="<?php echo(isset($email) ? $email : ""); ?>">
                          </div>
                      </li>
                       <li class="wide">
                          <div class="input-box">
                              <label class="lb-input-text" for="email_repeat"><?php echo $this->__('Email Repeat'); ?></label>
                              <input placeholder="Confirm Your Email Address" type="text" name="email_repeat" id="email_repeat" class="required-entry input-text validate-cemail" size="50" >
                          </div>
                      </li>
                       <li class="wide">
                          <div class="input-box">
                              <label class="lb-input-text" for="phone"><?php echo $this->__('Mobile Phone (optional)'); ?></label>
                              <input placeholder="Mobile Phone (optional)" type="text" name="phone" class="validate-number input-text" value="<?php echo(isset($phone) ? $phone : ""); ?>">
                          </div>
                      </li>
                  </ul>
            <div class="bx-btn">
              <input type="submit" name="Send" value="<?php echo $this->__('Submit'); ?>">
            </div>
    </form>

    <script type="text/javascript">

        var dataForm = new VarienForm('customrequest', true);
        //new RegionUpdater('country', 'region', 'region_id', <?php //echo $this->helper('directory')->getRegionJson() ?>);
    </script>
  </div>
  <div class="bx-image pull-right">
      <?php echo Mage::getModel('cms/block')->load('catalogrequest_image_right')->getContent();?>
  </div>
</div>
<script>
    jQuery(function () {
        jQuery("#country").uniform();
    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("input").each(function() {
            jQuery(this).data('holder',jQuery(this).attr('placeholder'));

            jQuery(this).focusin(function(){
                jQuery(this).attr('placeholder','');
            });

            jQuery(this).focusout(function(){
                jQuery(this).attr('placeholder',jQuery(this).data('holder'));
            });
        });
    });
</script>
