<?php
echo $this->__('<h2>Thank you</h3> You can expect to receive your catalog in 10-14 days.<br>
You probably have some friends that would enjoy receiving the Aerostich catalog, go ahead and send them one too. ');
?>