<?php
$block_data = $this->getBlockData();
$blocks = $block_data['block'];
$banners = $block_data['banners'];
$click_url = $this->getUrl('bannerslider/index/click');
?>

<script type="text/javascript" src="<?php echo $this->getJsUrl('magestore/bannerslider/jquery.flexslider.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/magestore/bannerslider/flexslider.css') ?>" media="all" />
<script type="text/javascript">    
    var j9 = jQuery.noConflict();
    j9(window).load(function() {
        // The slider being synced must be initialized first
        j9('#carousel-9-<?php echo $blocks['bannerslider_id'] ?>').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 210,
            itemMargin: 5,
            asNavFor: '#slider-9-<?php echo $blocks['bannerslider_id'] ?>'            
        });
   
        j9('#slider-9-<?php echo $blocks['bannerslider_id'] ?>').flexslider({
            animation: "<?php echo $blocks['animationB'];?>",
            controlNav: false,
            animationLoop: false,
            slideshow: true,
            slideshowSpeed: <?php echo $blocks['slider_speed'];?>,
            sync: "#carousel-9-<?php echo $blocks['bannerslider_id'] ?>"            
        });
    });
</script>
<div id="slider-9-<?php echo $blocks['bannerslider_id'] ?>" class="flexslider flexslider-9-<?php echo $blocks['bannerslider_id'] ?>">
   <ul class="slides"> 
    <?php foreach ($banners as $banner): ?>
            <li>
                <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>" onclick="bannerClicks('<?php echo $banner['banner_id'] ?>','<?php echo $blocks['bannerslider_id'] ?>')" style="display:block"><img alt="<?php echo $banner['image_alt'];?>" src="<?php echo $this->getBannerImage($banner['image']); ?>"/></a>
            </li>
    <?php endforeach; ?>        
    <!-- items mirrored twice, total of 12 -->
    </ul>
</div>

<div id="carousel-9-<?php echo $blocks['bannerslider_id'] ?>" class="flexslider flexslider-9-<?php echo $blocks['bannerslider_id'] ?>">
    <ul class="slides">      
    <?php foreach ($banners as $banner): ?>
            <li style="margin-right: 5px;">
                <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>" onclick="bannerClicks('<?php echo $banner['banner_id'] ?>','<?php echo $blocks['bannerslider_id'] ?>')" style="display:block"><img alt="<?php echo $banner['image_alt'];?>" src="<?php echo $this->getBannerImage($banner['image']); ?>"/></a>
            </li>
    <?php endforeach; ?>        
    <!-- items mirrored twice, total of 12 -->    
    </ul>
</div>

<script type="text/javascript">
        function bannerClicks(id_banner, id_slider){
		var click_url = '<?php echo $click_url;?>';
		banner_id = id_banner;
		new Ajax.Request(click_url,{
			method: 'post',
			parameters:{id_banner: banner_id, slider_id:id_slider},
			onFailure: '',
			onSuccess: ''
			
		});
		
	}
    </script>