<?php
/**
 * Cavabien_Theme
 *
 * @category    Cavabien
 * @package     Cavabien_Theme
 * @copyright   Copyright (c) 2014 SmartOSC Inc. (http://www.smartosc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**@var $this Cavabien_Theme_Block_Layer_Top */
?>

<?php
$pro_status = $this->getRequest()->getParam('pro_status');

?>
<div id="navigation-top">
    <h3 class="shop-cate"><?php echo $this->__('Shop Categories')?></h3>
    <ul id="top-link">
        <li><a href="<?php echo $this->getCategory()->getUrl() . ($pro_status == 'new_arrival' ? '' : '?pro_status=new_arrival') ?>" <?php echo $pro_status == 'new_arrival' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__('NEW ARRIVALS')?></a></li>
        <li><a href="<?php echo $this->getCategory()->getUrl() . ($pro_status == 'back_in_stock' ? '' : '?pro_status=back_in_stock') ?>" <?php echo $pro_status == 'back_in_stock' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__('BACK IN STOCK')?></a></li>
        <li><a href="<?php echo $this->getCategory()->getUrl() . ($pro_status == 'coming_soon' ? '' : '?pro_status=coming_soon') ?>" <?php echo $pro_status == 'coming_soon' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__('COMING SOON')?></a></li>
        <li><a href="<?php echo $this->getCategory()->getUrl() . ($pro_status == 'top_rate' ? '' : '?pro_status=top_rate') ?>" <?php echo $pro_status == 'top_rate' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__('TOP RATED')?></a></li>
        <li><a href="<?php echo $this->getCategory()->getUrl() . ($pro_status == 'almost_gone' ? '' : '?pro_status=almost_gone') ?>" <?php echo $pro_status == 'almost_gone' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__('ALMOST GONE')?></a></li>
    </ul>
    <?php if ($this->showCategoryFilter()): ?>
        <?php echo $this->getCategoryHtml(); ?>
        <?php else: ?>
            <?php if($this->getCategory()->getLevel() == 2): ?>
                <h3 class="title-cat-nor"><?php echo $this->getCategory()->getName() ?></h3>
                <ul id="sub-categories">
                <?php foreach($this->getCategory()->getChildrenCategories() as $subCategory): ?>
                    <?php if(($subCategory->getName() != Mage::getStoreConfig('homepage/header/gift-certificate-sub-category-name'))&&($subCategory->getName() != Mage::getStoreConfig('homepage/header/discount-offer-sub-category-name'))&&($subCategory->getName() != Mage::getStoreConfig('homepage/header/stylist-pick-sub-category-name'))){ ?>
                        <li><a href="<?php echo $subCategory->getUrl() ?>" <?php if($subCategory->getId() == Mage::registry('current_category')->getId()):?> class="active" <?php endif;?>><?php echo $subCategory->getName(); ?></a></li>
                    <?php } ?>
                <?php endforeach; ?>
                </ul>
            <?php elseif($this->getCategory()->getLevel() == 3): ?>
                <?php echo $this->getStyleHtml(); ?>
                <ul id="sub-categories">
                    <?php foreach($this->getCategory()->getParentCategory()->getChildrenCategories() as $subCategory): ?>
                    <?php if($subCategory->getId() == Mage::registry('current_category')->getId()) continue;?>
                        <li><a href="<?php echo $subCategory->getUrl() ?>" <?php if($subCategory->getId() == Mage::registry('current_category')->getId()):?> class="active" <?php endif;?>><?php echo $subCategory->getName(); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
    <?php endif; ?>
    <?php echo $this->getDiscountAndOfferFilterHtml(); ?>
    <?php echo $this->getStylistPickHtml(); ?>
</div>