<?php
/**
 * Cavabien_Theme
 *
 * @category    Cavabien
 * @package     Cavabien_Theme
 * @copyright   Copyright (c) 2014 SmartOSC Inc. (http://www.smartosc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**@var $this Cavabien_Theme_Block_Layer_Top */
?>

<?php
$status = $this->getRequest()->getParam('status');
$cat = $this->getRequest()->getParam('cat');

switch($status) {
    case 'new_arrival':
        $title = $this->__("SEE NEWEST IN...");
        break;
    case 'back_in_stock':
        $title = $this->__("SEE BACK BY DEMAND...");
        break;
    case 'coming_soon':
        $title = $this->__("SEE YOU SOON...");
        break;
    case 'top_rate':
        $title = $this->__("SEE RATED FASHION ...");
        break;
    case 'almost_gone':
        $title = $this->__("SEE GOING GOING...");
        break;
}

?>

<div id="navigation-top">
    <h3 class="shop-cate"><?php echo $this->__('Shop Categories')?></h3>
    <ul id="top-link">
        <li><a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'new_arrival')) ?>" <?php echo $status == 'new_arrival' ? 'style="color:#ee3088"' : '' ?> ><?php echo $this->__("NEW ARRIVALS")?></a></li>
        <li><a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'back_in_stock')) ?>" <?php echo $status == 'back_in_stock' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__("BACK IN STOCK")?></a></li>
        <li><a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'coming_soon')) ?>" <?php echo $status == 'coming_soon' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__("COMING SOON")?></a></li>
        <li><a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'top_rate')) ?>" <?php echo $status == 'top_rate' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__("TOP RATED")?></a></li>
        <li><a href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => 'almost_gone')) ?>" <?php echo $status == 'almost_gone' ? 'style="color:#ee3088"' : '' ?>><?php echo $this->__("ALMOST GONE")?></a></li>
    </ul>

    <?php
    $datas = $this->getSubCategoryFilter();
    if(strpos($datas, '<li') !== false) :
        ?>
        <div class="narrow-by-list filter-by-clothing_discount_offer filter-align-rows">
            <dl class="gan-attribute">
                <dt onclick="GomageNavigation.navigationOpenFilter('clothing_discount_offer-left');" id="advancednavigation-filter-content-clothing_discount_offer-left-title" class="filter-content-show">
                    <span class="filter-name"><?php echo $title; ?></span>
                    <?php if($cat): ?>
                        <a class="reset-link" href="<?php echo $this->getUrl('sm_filter/index/index', array('status' => $status)) ?>">Clear</a>
                    <?php endif; ?>
                </dt>
                <dd id="advancednavigation-filter-content-clothing_discount_offer-left" style="display: block;">
                    <?php echo $datas ?>
                </dd>
            </dl>
        </div>
    <?php endif; ?>
</div>