<?php
/**
 * Cavabien_Theme
 *
 * @category    Cavabien
 * @package     Cavabien_Theme
 * @copyright   Copyright (c) 2014 SmartOSC Inc. (http://www.smartosc.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

$_filter = $this->getFilter();
$filter_id = 'advancednavigation-filter-content-'.$_filter->_filter->getRequestVar();
$blockView = $this->getBlockView();
$check = $blockView->getCheck();
$note_content = trim($_filter->getPopupText());
if ( $blockView->getCheck() == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Attributelocation::CONTENT ):
    $content_area = true;
else:
    $content_area = false;
endif;

/*$_attributeCodes = Mage::getSingleton("catalog/layer")->getCurrentCategory()->getAttributeCodes();
if($_attributeCodes) {
    $_attributeCodes = explode(',', $_attributeCodes);
}*/
?>
<div class="narrow-by-list filter-by-<?php echo $_filter->_filter->getRequestVar() ?> filter-align-<?php echo Mage::getStoreConfig('gomage_navigation/general/content_filters'); ?>">
<?php if($_filter->getItemsCount()
    &&
    ($_filter->getAttributeLocation() == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Attributelocation::USE_GLOBAL
        ||
        $_filter->getAttributeLocation() == $check)): ?>
    <?php if(Mage::helper('gomage_navigation')->getFilterItemCount($_filter)):?>
        <?php if($_filter->canShowPopup()):?>
            <?php $note_content = trim($_filter->getPopupText())?>
            <?php if(strlen($note_content)):?>
                <?php
                $styles = '';
                if($content_width = $_filter->getPopupWidth()){
                    $styles .= "width:{$content_width}px;";
                }
                if($content_height = $_filter->getPopupHeight()){
                    $styles .= "height:{$content_height}px;";
                }
                ?>

                <div id="filter-<?php echo $_filter->getPopupId();?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content" class="filter-note-content"
                    <?php if ( Mage::getStoreConfig('gomage_navigation/filter/hide_help') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Style_Hidehelp::MOUSE_OUT ):?>
                        onmouseout="setTimeout('GomageNavigation.hideNavigationNote(false, false)',200);"
                    <?php endif; ?> >
                    <div class="filter-note-content-in"
                         onmouseover="GomageNavigation.mouseStatus(true);" onmouseout="GomageNavigation.mouseStatus(false);"
                        <?php if($styles):?> style="<?php echo $styles;?>" <?php endif;?>>
                        <?php if ( Mage::getStoreConfig('gomage_navigation/filter/hide_help') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Style_Hidehelp::CLOSE_BUTTON ):?>
                            <div class="gomage-help-close" onclick="GomageNavigation.hideNavigationNote(true, 'filter-<?php echo $_filter->getPopupId();?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>');">&#x2715;</div>
                        <?php endif; ?>
                        <?php echo nl2br($note_content);?>
                    </div>
                </div>
            <?php endif;?>
        <?php endif;?>
        <dl class="gan-attribute" <?php if ( $content_area && Mage::getStoreConfig('gomage_navigation/general/content_filters') == 'columns' ) : ?>style="width: <?php echo $filter_width;?>" <?php endif; ?>>
            <dt onclick="GomageNavigation.navigationOpenFilter('<?php echo $_filter->_filter->getRequestVar();?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>');"
                id="<?php echo $filter_id;?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-title"
                class="<?php echo ($_filter->canShowMinimized(Mage::helper('gomage_navigation')->getSide($check)))? "filter-content-hide" : "filter-content-show";  ?>">
                <span class="filter-name"><?php echo $this->__($this->getCustomLabel()) ?></span>

                <?php if($_filter->canShowPopup()):?>

                    <?php if(strlen($note_content)):?>

                        <?php if ( Mage::getStoreConfig('gomage_navigation/filter/show_help') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Style_Showhelp::MOUSE_OVER ):?>
                            <span class="filter-note-handle" onmouseover="GomageNavigation.showNavigationNote('filter-<?php echo $_filter->getPopupId();?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>'); GomageNavigation.mouseStatus(true);setTimeout('GomageNavigation.mouseStatus(false)',500);">?</span>
                        <?php else: ?>
                            <span class="filter-note-handle" onclick="GomageNavigation.showNavigationNote('filter-<?php echo $_filter->getPopupId();?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>')">?</span>
                        <?php endif; ?>

                    <?php endif;?>

                <?php endif;?>
                <?php if ($_filter->canShowResetFirler()): ?>
                    <?php $_filter_reset =  $blockView->getResetFirlerUrl($_filter, $_filter->ajaxEnabled()); ?>
                    <?php if ($_filter_reset): ?>
                        <a class="reset-link" href="<?php echo $_filter_reset; ?>" <?php if ($_filter->ajaxEnabled()): ?>onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($_filter_reset); ?>'); return false;"<?php endif; ?> >Clear</a>
                    <?php endif; ?>
                <?php endif; ?>
            </dt>

            <dd id="<?php echo $filter_id;?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>" <?php if($_filter->canShowMinimized(Mage::helper('gomage_navigation')->getSide($check))){?> style="display:none;" <?php } ?> >

                <?php $_filter->setData('side', Mage::helper('gomage_navigation')->getSide($check));?>
                <?php echo $_filter->getHtml() ?>
            </dd>
        </dl>
    <?php endif; ?>
<?php endif; ?>
</div>