
/*
  Video.css created by saurabh chandela
  Date-12-12-2012

*/
.video{display: none;left: 254px;position: absolute;top: 197px;z-index:100000}
 .video a{cursor: pointer;float: right;height:18px}
  #container_wrapper{float:left;clear:both;}
.video_anchor{float: left;text-align: center;width: 100%;}
.a_container{float: right;height:18px;width:100%;}
     
