/**
 * @project     SocialLogin
 * @package     LitExtension_SocialLogin
 * @author      LitExtension
 * @email       litextension@gmail.com
 */

.le-socialconnect-social{margin-top: 10px;}
div.le-socialconnect-social .col3-set .col-3 {width: 100%;}
div.le-socialconnect-social .col3-set .col-3 .content {min-height: 100px;border: 1px solid #bbb6a5; margin: 10px 0;}
div.le-socialconnect-social .col3-set .col-3 .content .le-social-button-login{;margin: 0 auto;width: 220px;padding: 10px 0;}
/*.le-social-button-login{text-align: center;}*/
.le-socialconnect-social .ico-fb{background: url('../images/facebook_icon.png') !important; background-repeat:no-repeat; width: 15px !important; height: 15px !important; padding: 0; border: none;}
.le-socialconnect-social .ico-go{background: url('../images/google_plus_icon.png') !important; background-repeat:no-repeat; width: 15px !important; height: 15px !important; padding: 0; border: none;}
.le-socialconnect-social .ico-tw{background: url('../images/twitter_icon.png') !important; background-repeat:no-repeat; width: 15px !important; height: 15px !important; padding: 0; border: none;}
.le-socialconnect-social .ico-li{background: url('../images/linkdin_icon.png') !important; background-repeat:no-repeat; width: 15px !important; height: 15px !important; padding: 0; border: none;}
.le-socialconnect-social .ico-yh{background: url('../images/yahoo_icon.png') !important; background-repeat:no-repeat; width: 15px !important; height: 15px !important; padding: 0; border: none;}
.le-social-button-login .le-icon-social{ margin-right: 5px; cursor: pointer; }
.nopopup .le-social-button-login .le-icon-social {margin-bottom: 7px;}
.button-set{border-top: 1px solid #efefef}
.button-bum{float: right; width: 100%;}
.social-button{text-align: center;margin-top: 10px;}