<?php
    $product = $this->getProduct();
    $attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
    $productAttributeOptions = $product->getTypeInstance(true)->getConfigurableAttributesAsArray($product);
?>
<?php $htmlFirstAttributeOptions = ''; ?>
<?php if ($product->isSaleable() && count($productAttributeOptions)): ?>
    <?php $firstAttribute = reset($productAttributeOptions); ?>
    <div class="option-wrapper">
        <div class="dropdown-option-item">
            <?php foreach ($productAttributeOptions as $attribute): ?>
                <select name="super_attribute[<?php echo $attribute['attribute_id'] ?>_row1]" class="addmore-save super_attribute_select_<?php echo $product->getId() ?>_row1"
                        id="attribute_<?php echo $attribute['attribute_id'] ?>_<?php echo $product->getId() ?>_row1">
                    <option><?php echo $attribute['label'] ?></option>
                    <?php if ($attribute['attribute_id'] == $firstAttribute['attribute_id']): ?>
                        <?php foreach ($firstAttribute['values'] as $value): ?>
                            <option value="<?php echo $value['value_index'] ?>"><?php echo $value['store_label'] ?></option>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
            <?php endforeach; ?>
            <div class="quantity-container">
                <span class="qty-subtract">-</span>
                <input type="text" name="qty[<?php echo $product->getId() ?>_row1]" value="1" title="<?php echo $this->__('Qty') ?>" class="input-text-qty"/>
                <span class="qty-add">+</span>
            </div>
        </div>
    </div>
    <a href="#" class="add-more-option" onclick="return false;"><i class="fa fa-plus fa-fw"></i><?php echo $this->__('Add More & Save') ?></a>
<?php endif; ?>

<script type="text/javascript">
    var addMoreConfig = new Product.Addmore(<?php echo $this->getJsonConfig() ?>);
</script>