<div class="addthis_toolbox addthis_default_style">
    <a class="addthis_button_email addthis_button_preferred_1" title="<?php echo $this->__('Share on email') ?>" href="#"><span class="at16nc at300bs at15nc at15t_email at16t_email"><span class="at_a11y"><?php echo $this->__('Share on email') ?></span></span></a>
    <a class="button_share_facebook addthis_button_facebook" title="<?php echo $this->__('Share on facebook') ?>" href="#"><span><?php echo $this->__('Share on facebook') ?></span></a>
    <a class="button_share_twitter addthis_button_twitter" id="share-twitter" title="<?php echo $this->__('Share on twitter') ?>" href="#"><span><?php echo $this->__('Share on twitter') ?></span></a>
    <a class="addthis_button_pinterest addthis_button_preferred_4" title="<?php echo $this->__('Share on pinterest') ?>" href="#"><span class="at16nc at300bs at15nc at15t_pinterest at16t_pinterest"><span class="at_a11y"><?php echo $this->__('Share on pinterest') ?></span></span></a>
    <div class="atclear"></div>
</div>

<script type="text/javascript">
    var addthis_config = {"data_track_addressbar": true, ui_use_addressbook: true, data_track_clickback: true};
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535791fe3e7962b6"></script>

<?php $customerId = Mage::getSingleton('customer/session')->getId(); ?>
<?php
$productId = Mage::registry('current_product')->getId();
$product = Mage::getModel('catalog/product')->load($productId);
?>
<script>
    function shareEventHandler() {
        var customerId = '<?php echo $customerId; ?>';
        var productId = '<?php echo $productId; ?>';
        var service;

        if (jQuery(this).hasClass('addthis_button_pinterest')) {
            service = 'pinterest';
        }
        jQuery.ajax({
            url: "<?php echo Mage::getUrl('share/index/processPoint') ?>",
            type: "POST",
            data: {customerId: customerId, service: service, productId: productId},
            dataType: "json",
            success: function (data) {
                var messageHtml = '';
                if (data.success == true) {
                    if(jQuery('.success-msg').length==0){
                        messageHtml = '<ul class="messages"><li class="success-msg"><ul><li><span>' + data.message + '</span></li></ul></li></ul>';
                    }
                } else {
                    if (data.type == 'warning') {
                        messageHtml = '<ul class="messages"><li class="notice-msg"><ul><li><span>' + data.message + '</span></li></ul></li></ul>';
                    } else {
                        messageHtml = '<ul class="messages"><li class="error-msg"><ul><li><span>' + data.message + '</span></li></ul></li></ul>';
                    }
                }

                jQuery(messageHtml).prependTo('div.col-main');
            }
        });
    }

    jQuery('.button_share_facebook').click(function(){
        var link = '<?php echo $product->getProductUrl()?>';
        var picture = '<?php echo $product->getImageUrl()?>';
        var name = '<?php echo $product->getName()?>';
        var description = Base64.decode('<?php echo base64_encode(str_replace("'","\'",htmlspecialchars($product->getDescription())));  ?>');
        fbShare1(link, picture, name, '', description);
    })

    jQuery('.button_share_twitter').click(function(){
        var url = '<?php echo $product->getProductUrl()?>';

        var des = Base64.decode('<?php echo base64_encode(str_replace("'","\'",htmlspecialchars($product->getDescription())));  ?>');
        smTweetShare1(jQuery(this).attr('id'), url, des);
    })

    // facebook share
    function fbShare1(link, picture, name, caption, description) {
        FB.ui(
                {
                    method:'feed',
                    link:link,
                    picture:picture,
                    name:name,
                    caption:caption,
                    description:description
                },
                function (response) {
                    console.log(response);
                    if (response && !response.error_code) {
                        shareEventHandler();
                    } else {
                        alert('Please click share button to get sale off.');
                    }
                });
    }

    window.twttr = (function (d,s,id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
        js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
    }(document, "script", "twitter-wjs"));

    // tweet share
//    twttr.events.bind('tweet', function (event) {
//        tweetAfterShare1(event);
//    });

    function smTweetShare1(id, url, des) {
        var tweetUrl = "https://twitter.com/intent/tweet" +
                "?url=" + encodeURIComponent(url) +
                "&text=" + encodeURIComponent(des);
        document.getElementById(id).href = tweetUrl;
    }

    function tweetAfterShare1(event) {
        if (event.target.id == 'shareLink') {
            alert('Thanks for sharing!');
            shareEventHandler();
        }
        alert('testing');
    }
</script>