<?php //$_time_fast_answer = Mage::getStoreConfig('product_page_config/fast_answer_popup/time_to_show'); ?>
<?php
//    $current_product = Mage::registry('current_product');
//    $_product = Mage::getModel('catalog/product')->load($current_product->getId());
//?>
<!--<div class="fast-answer-form" style="display: none;">-->
<!--    <a href="javascript:void(0);" class="close-form">Close</a>-->
<!--    <form name="fast-answer" id="fast-answer" action="" method="post">-->
<!--        <div class="image">-->
<!--            <img src="--><?php //echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(150) ?><!--" alt="--><?php //echo $this->escapeHtml($_product->getName()) ?><!--" />-->
<!--        </div>-->
<!--        <div class="content">-->
<!--            <h1 class="title">--><?php //echo $this->__('Get FAST answer from customer') ?><!--</h1>-->
<!--            <h1 class="title">--><?php //echo $this->__('ASK a Question') ?><!--</h1>-->
<!--            <textarea name="fast_question" id="fast_question" class="textarea f-question"-->
<!--                      placeholder="--><?php //echo $this->__('Hi, I like this dress. What size should I order?') ?><!--"></textarea>-->
<!--            <input type="submit" value="--><?php //echo $this->__('Just Ask'); ?><!--" />-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!---->
<!--<script type="text/javascript">-->
<!--    var time_fast_answer = parseInt('--><?php //echo $_time_fast_answer ?><!--');-->
<!---->
<!--    window.setInterval(function(){-->
<!--        jQuery('.fast-answer-form').show();-->
<!--    }, time_fast_answer * 60000);-->
<!---->
<!--    jQuery('.close-form').click(function(){-->
<!--        jQuery(this).parent().remove();-->
<!--    });-->
<!--</script>-->