<?php //$_time_need_advice = Mage::getStoreConfig('product_page_config/need_advice_popup/time_to_show'); ?>
<?php
//    $current_product = Mage::registry('current_product');
//    $_product = Mage::getModel('catalog/product')->load($current_product->getId());
//?>
<!--<div class="need-advice-form" style="display: none;">-->
<!--    <a href="javascript:void(0);" class="close-form">Close</a>-->
<!--    <form name="need-advice" id="need-advice" action="" method="post">-->
<!--        <form name="need-advice" id="need-advice" action="" method="post">-->
<!--            <div class="image">-->
<!--                <img src="--><?php //echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(150) ?><!--" alt="--><?php //echo $this->escapeHtml($_product->getName()) ?><!--" />-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h2 class="title">--><?php //echo $this->__('Need advice from your friends? Jusk Ask') ?><!--</h2>-->
<!--                <h1>--><?php //echo $this->__('ASK this question on:') ?><!--</h1>-->
<!--                <div class="social-checkbox">-->
<!--                    <input type="checkbox" name="social" value="facebook" /> Facebook-->
<!--                    <input type="checkbox" name="social" value="twitter" /> Twitter-->
<!--                    <input type="checkbox" name="social" value="pinterest" /> Pinterest-->
<!--                </div>-->
<!--                <textarea name="need_question" id="need_question" class="textarea f-question"-->
<!--                          placeholder="--><?php //echo $this->__('Hi, I like this dress. What size should I order?') ?><!--"></textarea>-->
<!--                <span class="comment">--><?php //echo $this->__('Click in the box to modify the question for your friends.'); ?><!--</span>-->
<!--                <input type="submit" value="--><?php //echo $this->__('Share'); ?><!--" />-->
<!--            </div>-->
<!--        </form>-->
<!--    </form>-->
<!--</div>-->
<!---->
<!--<script type="text/javascript">-->
<!--    var time_need_advice = parseInt('--><?php //echo $_time_need_advice ?><!--');-->
<!---->
<!--    window.setInterval(function(){-->
<!--        jQuery('.need-advice-form').show();-->
<!--    }, time_need_advice * 60000);-->
<!---->
<!--    jQuery('.close-form').click(function(){-->
<!--        jQuery(this).parent().remove();-->
<!--    });-->
<!--</script>-->