<div class="col2-set">
    <?php if( $this->isNewsletterEnabled() ): ?>
        <div class="col-1">
            <div class="box">
                <div class="box-title">
                    <h3><?php echo $this->__('Newsletters') ?></h3>
                    <a href="<?php echo $this->getUrl('newsletter/manage') ?>"><?php echo $this->__('Edit') ?></a>
                </div>
                <div class="box-content">
                    <p>
                        <?php if( $this->getIsSubscribed() ): ?>
                            <?php echo $this->__("You are currently subscribed to 'General Subscription'.") ?>
                        <?php else: ?>
                            <?php echo $this->__('You are currently not subscribed to any newsletter.') ?>
                        <?php endif; ?>
                    </p>
                </div>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?php echo $this->getChildHtml('customer.account.dashboard.info.extra')?>
        </div>
    <?php endif; ?>
      <div class="col-2">
        <div class="box">
            <div class="box-title">
                <h3><?php echo $this->__('Join the fun') ?></h3>
            </div>
            <div class="box-content">
                <!-- AddThis Follow BEGIN -->
                <p><?php echo $this->__('Connect to us on:') ?></p>
                  <?php
            $facebookId = Mage::getStoreConfig('homepage/social_account/facebook_id');
            $facebookId = ($facebookId=="")?"#":$facebookId;
            $twitterId = Mage::getStoreConfig('homepage/social_account/twitter_id');
            $twitterId = ($twitterId=="")?"#":$twitterId;
            $pinterestId = Mage::getStoreConfig('homepage/social_account/pinterest_id');
            $pinterestId = ($pinterestId=="")?"#":$pinterestId;
            $instargramId = Mage::getStoreConfig('homepage/social_account/instagram_id');
            $instargramId = ($instargramId=="")?"#":$instargramId;
            $googleId = Mage::getStoreConfig('homepage/social_account/google_id');
            $googleId = ($googleId=="")?"#":$googleId;
            $youtubeId = Mage::getStoreConfig('homepage/social_account/youtube_id');
            $youtubeId = ($youtubeId=="")?"#":$youtubeId;

        ?>
        <div class="addthis_toolbox">

<div class="">  <a href="http://instagram.com/<?php echo $instargramId ?>"><img src="<?php echo $this->getSkinUrl('images/in.jpg') ?>" border="0" alt="Instargram" /></a>
    <a href="http://pinterest.com/<?php echo $pinterestId ?>"><img src="<?php echo $this->getSkinUrl('images/pi.jpg') ?>" border="0" alt="Pinterest" /></a>
    <a href="http://twitter.com/<?php echo $twitterId ?>"><img src="<?php echo $this->getSkinUrl('images/tw.jpg') ?>" border="0" alt="Twitter" /></a>
    <a href="https://plus.google.com/<?php echo $googleId ?>"><img src="<?php echo $this->getSkinUrl('images/gp.jpg') ?>" border="0" alt="Google Plus" /></a>
    <a href="https://www.youtube.com/user/<?php echo $youtubeId ?>"><img src="<?php echo $this->getSkinUrl('images/yu.jpg') ?>" border="0" alt="Youtube" /></a>
<a href="http://facebook.com/<?php echo $facebookId ?>"><img src="<?php echo $this->getSkinUrl('images/fb.jpg') ?>" border="0" alt="Facebook" /></a>
    
</div></div>

            </div>
        </div>
        <?php /* Extensions placeholder */ ?>
    </div>
</div>


