
.account-login .page-title h1 {font-weight: normal;
}

.account-login .content h2 {
}

.account-login .new-users h2 {
  background-image: url(../images/i_page1.gif)
}

.account-login .registered-users h2 {
  background-image: url(../images/i_page2.gif);
}

.account-login .buttons-set {
  border-top: 0;
  margin: 0;
  padding: 8px 13px;
}

.account-create {
}
.my-account {
  position: relative; margin-top: 15px;
  > .buttons-set {
    padding: 0;
    margin: 0;
    border: 0;
    .back-link {
      position: absolute;
      top: -28px;
      right: 0;
    }
  }
  .product-tabs li {width:205px; text-align: center;@include box-sizing(border-box);}
}
.my-account .title-buttons .link-rss {
  float: none;
  margin: 0;
}

/********** < Dashboard */
.dashboard .welcome-msg {
  margin: 0 8em 1.5em 0;
}

.dashboard .welcome-msg p {
  margin: 0;
}

.col2-set {
  margin: 0 0 15px;
}

/* General Box */
.box-account {

}

.box-account .box-head {
  text-align: right;margin-top: 17px;border-bottom: 1px dotted $border-1;margin-bottom: 25px;
  h2, h3 {
    float: left;
    font-size: 15px;
    margin: 0;
    line-height: 30px;
  }
  a {text-decoration: underline;}
}

.dashboard .box {

}

.dashboard .box .box-title {

}

.dashboard .box .box-title h3,
.dashboard .box .box-title h4 {

}

/* Block: Recent Orders */
.dashboard .box-recent .box-head h2 {

}

/* Block: Account Information */
.dashboard .box-info .box-head h2 {

}

.dashboard .box-info h4 {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Block: Reviews */
.dashboard .box-reviews .box-head h2 {
  background-image: url(../images/i_ma-reviews.gif);
}

.dashboard .box-reviews .number {
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin: 3px -20px 0 0;
  padding: 2px 3px;
  background: #0a263c;
}

.dashboard .box-reviews .details {
  margin-left: 20px;
}

.dashboard .box-reviews li.item {
  margin: 0 0 7px;
}

.dashboard .box-reviews li.item.last {
  margin: 0;
}

.dashboard .box-reviews .ratings {
  margin: 7px 0 0;
}

/* Block: Tags */
.dashboard .box-tags .box-head h2 {
  background-image: url(../images/i_ma-tags.gif);
}

.dashboard .box-tags .number {
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin: 3px -20px 0 0;
  padding: 2px 3px;
  background: #0a263c;
}

.dashboard .box-tags .details {
  margin-left: 20px;
}

.dashboard .box-tags li.item {
  margin: 0 0 7px;
}

.dashboard .box-tags li.item.last {
  margin: 0;
}

.dashboard .box-tags .tags strong,
.dashboard .box-tags .tags ul,
.dashboard .box-tags .tags ul li {
  display: inline;
}

/********** Dashboard > */

/* Address Book */
.addresses-list h2 {
  font-weight: bold;
  font-size: 13px;
  color: #e26703;
  text-transform: uppercase;
}

.addresses-list h3 {
  font-weight: bold;
  font-size: 13px;
}

.addresses-list address {
  margin: 0 0 3px;
}

.addresses-list p {
  margin: 0;
}

.addresses-list a {

}

.addresses-list .link-remove {
  color: #646464;
}

.addresses-list .separator {
  margin: 0 3px;
}

.addresses-list li.item {

}

.addresses-list li.empty {
  background: none;
  border: 0;
  padding: 0;
}

.addresses-list li.empty p {
  font-weight: bold;
}

.addresses-list .addresses-additional li.item {
  background: none;
  border: 0;
  padding: 0;
}

/* Order View */
.order-info {
  background: $grey-bg;
  padding: 4px 8px;
  margin: 0 0 8px;
}

.order-info dt,
.order-info dd,
.order-info ul,
.order-info li {
  display: inline;
}

.order-info .current {
  font-weight: bold;
}

.order-info li {
  margin: 0 3px;
}

.order-date {
  margin: 10px 0;
}

.order-info-box {
  margin: 0 0 15px;
}

.order-info-box h2 {
  font-weight: bold;
  font-size: 13px;
}

.order-info-box .box-payment p {
  margin: 0 0 3px;
}

.order-info-box .box-payment th {
  font-weight: bold;
  padding-right: 7px;
}

.order-items {
  width: 100%;
  overflow-x: auto;
}

.order-items h2,
.order-items h3 {
  clear: none;
  font-size: 15px;
  padding: 0;
  margin: 0 0 5px;
}

.order-items .product-name {
  font-size: 1em !important;
  font-weight: bold !important;
}

.order-items .link-print {
}

.order-items .order-links {
  text-align: right;
}

.order-additional {
  margin: 15px 0;
}

/* Order Gift Message */
.gift-message dt strong {
  color: #666;
}

.gift-message dd {
  font-size: 13px;
  margin: 5px 0 0;
}

/* Order Comments */
.order-about dt {
  font-weight: bold;
}

.order-about dd {
  font-size: 13px;
  margin: 0 0 7px;
}

.tracking-table {
  margin: 0 0 15px;
}

.tracking-table th {
  font-weight: bold;
  white-space: nowrap;
}

.tracking-table-popup {
  width: 100%;
}

.tracking-table-popup th {
  font-weight: bold;
  white-space: nowrap;
}

.tracking-table-popup th,
.tracking-table-popup td {
  padding: 1px 8px;
}

/* Order Print Pages */
.page-print .print-head {
  margin: 0 0 15px;
}

.page-print .print-head .logo {
  float: left;
}

.page-print .print-head address {
  float: left;
  margin-left: 15px;
}

.page-print h1 {
  font-size: 16px;
  font-weight: bold;
}

.page-print h2,
.page-print h3 {
  font-size: 13px;
  font-weight: bold;
}

.page-print h2.h2 {
  font-size: 16px;
  font-weight: bold;
}

.page-print .order-date {
  background: url(../images/bkg_divider1.gif) 0 100% repeat-x;
  padding: 0 0 10px;
  margin: 0 0 10px;
}

.page-print .col2-set {
  margin: 0 0 10px;
}

/* Price Rewrites */
.page-print .gift-message-link {
  display: none;
}

.page-print .price-excl-tax,
.page-print .price-incl-tax {
  display: block;
  white-space: nowrap;
}

.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price {
  display: inline;
}

/* My Wishlist */
.my-wishlist {

  textarea {
    display: block;width: 97%;height: 109px;
  }

  .buttons-set {
    margin-top: 2em;
    button.button {
      float: none;
    }
  }
}
#wishlist-table {
  .product-image {
    display: inline-block;width: 113px;height: 113px;margin: 0 0 5px;
  }
  .product-name {
    font-size: 20px; margin-bottom: 15px;
  }
  .description {font-family: $PTserif;
    label {width:75px; display: inline-block; color:#666664;}
    .onlyleft {float: right; padding-right: 25px;margin-top: -17px;}
  }
  tr {
    background: #fff !important;
    td {
      padding: 10px;
      vertical-align: middle;
      border-bottom: 1px dashed $border-1;
      .love-it {
        display: inline-block;
        color: $blue;
        font-weight: bold;
        padding-left: 25px;
        background: url(../images/heart-love-it.png) left center no-repeat;
        line-height: 25px;
      }
      .cart-cell {
        .button {
          margin-bottom: 10px;
          span {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 11px;
          }
        }
        .btn-remove,.link-edit,
        .btn-edit {
          margin-right: 7px; vertical-align: top;
        }
        p {margin-bottom: 5px;}
        #un-love,.un-love,.loveit {text-decoration: underline; color:#1976bb;}
      }
      .off-price {color:$pink;}
      .retail-price {text-decoration: line-through;}
      .availability {color: #666664;font-family: $PTserif;
        span {font-weight: normal;}
      }
    }
  }
  tr.last, tr:last-child {
    td {
      border-bottom: 0;
    }
  }
  .add-to-links {
    white-space: nowrap;
  }
}
.my-account .page-title {
  position: relative; padding-bottom: 8px;
  line-height: 30px;
  .view-all {
    position: absolute;right: 0;color: $black;
  }
}
/* Popup Dialog Block */
.window-overlay { background:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.window-overlay { position:absolute; top:0; left:0; min-height:100%; background:#000; opacity:0.5; width:100%; z-index:990; display:none; }
.window-overlay.active { display:block; }
.popup-block { border:1px solid #cfcfcf; left:50%; top:40%; position:absolute; margin:-85px 0 0 -250px; width:500px; text-align:left; -moz-box-shadow:0 0 6px #000; -webkit-box-shadow:0 0 6px #000; box-shadow:0 0 6px #000; z-index:1000; position:fixed; display:none; }
.popup-block.active { display:block; }
.popup-block .block-title { background:url(../images/bkg_page-title.gif) repeat-x scroll 0 0 #F6F6F6; border-bottom:1px solid #CFCFCF; padding:17px 17px 10px; }
.popup-block div.btn-close { background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:19px; right:17px; height:15px; width:15px; text-indent:-9999em; cursor:pointer; }
.popup-block .block-title strong { color:#D12C01; font-size:16px; font-weight:normal; }
.popup-block .block-content { padding:17px 17px 25px; background:url(../images/bkg_block.gif) repeat-x 0 100% #fff; font-size:12px;  }
.popup-block .block-content .form-list label { width:180px; }
.popup-block .block-content .form-list .input-text { width:230px; }
.popup-block .block-content .form-list .control .input-box { margin-left:195px; }
.popup-block .block-content .form-buttons { width:auto; padding-left:188px; padding-top:10px; }
.popup-block .block-content .form-buttons .button { float:left; }
.popup-block.loading .block-content * { text-align:left; text-indent:-99999em; overflow:hidden; position:relative; margin-left:-9999em; }
.popup-block.loading .block-content:before { content:''; display:block; background:url(../images/opc-ajax-loader.gif) no-repeat 0 50%; position:absolute; z-index:99; top:50%; left:50%; line-height:16px; padding:16px; text-indent:0!important; }

#wishlists-select { background:none; padding-left:0; white-space:nowrap; float:left; max-width:220px; }
#wishlists-select strong { background:none; padding-right:0; padding-left:7px; font-weight:normal; font-size:12px; text-transform:none; }
#wishlists-select strong span { font-weight:bold; }
#wishlists-select .change { text-indent:0; width:auto; background:none; margin-left:4px; border:0; right:auto; left:100%; text-decoration:none; line-height:22px; margin-top:1px; }
#wishlists-select .change span { color:#1e75b4; text-transform:none; background:url(../images/bkg_header-panel.gif) no-repeat scroll 100% -74px transparent; padding-right:3px; }
#wishlists-select.active .change span { color:#d33911; background-position:100% -130px; }
#wishlists-select .list-container { right:auto; left:0; margin-top:4px; }
#wishlists-select .list-container ul { background:#e7e7e7; border:0; }
#wishlists-select .list-container li:first-child { border-top:0; }
#wishlists-select .list-container li { border-color:#d9d9d9; }
#wishlists-select .list-container a,
#wishlists-select .list-container span { color:#1e75b4; padding:5px 6px; /* background-position:-999em -999em; */ }
#wishlists-select .list-container li:hover a,
#wishlists-select .list-container li:hover span,
#wishlists-select .list-container li:hover { color:#d33911; }
#wishlists-select .list-container li:hover { background-position:-999em -999em;  background-color:#f8f8f8;  }
#wishlists-select .list-container li.new { color:#d33911; background-color:#d9d9d9; background-position:5px 7px; padding-left:12px; }
#wishlists-select .list-container li.new:hover { background-color:#999; background-position:5px -485px; color:#fff; }
#wishlists-select .list-container li.new:hover a,
#wishlists-select .list-container li.new:hover span { color:#fff; }

.table-caption { height: 22px; border:1px solid $border-2;margin:-1px 0 10px; @extend .white-to-silver-v-gradient; @extend .clearfix;  padding:5px 5px 8px; color:#444; }
.table-caption a { font-size:11px; text-transform:lowercase; }

/* Split Button */
.split-button { display:inline-block; z-index:1; position:relative; max-width:300px; white-space:nowrap;}
.split-button.clickable:active { left:1px; top:1px; }
.split-button { background:url(../images/bkg_btn.gif) no-repeat 0 0; height:21px; padding:0 0 0 10px; margin:0; }
.split-button.active { z-index:100; }
.split-button strong { cursor:default; font-weight:bold; text-transform:uppercase; font-size:11px; background:url(../images/bkg_btn.gif) no-repeat 100% 0; height:19px; padding:3px 30px 0 5px; margin:0; display:block; overflow-x:hidden; white-space:nowrap; text-overflow:ellipsis; }
.split-button.clickable > strong,
.split-button strong[onclick] { text-transform:uppercase; font-size:11px; color:#C73615; text-transform:uppercase; cursor:pointer; }
.split-button .change { display:inline-block; border:1px solid; border-color:transparent transparent transparent #999; background:url(../images/bkg_btn-split-change.png) 5px 50% no-repeat; text-indent:-999em; overflow:hidden; width:15px; cursor:pointer; height:11px; margin-left:8px; vertical-align:middle; }
.split-button .change { position:absolute; right:5px; top:0px; height:19px; border-left-color:$border-1; }

.split-button.light { background:none; height:auto; padding:0; }
.split-button.light.clickable:active { top:auto; left:auto; }
.split-button.light strong { display:inline-block; font-size:11px; text-transform:none; background:none; font-weight:normal; padding:0; height:auto; overflow:visible; white-space:normal; text-overflow:visible; }
.split-button.light.clickable > strong,
.split-button.light strong[onclick] { text-transform:none; text-decoration:underline; color:#999; }
.split-button.light.clickable > strong:hover,
.split-button.light strong[onclick]:hover { text-decoration:none; }
.split-button.light .change { position:static; right:auto; top:auto; height:11px; border-left-color:#999; }

.split-button.active .change,
.split-button .change:hover { background-position:-995px 50%; }
.split-button .list-container { position:absolute; display:none; right:0; top:100%; padding:0; min-width:100%; max-width:300px; float:left; }
.split-button.active .list-container { display:block; }
.split-button .list-container ul { background:#fff; border:1px solid rgba(0,0,0,0.1); position:relative; }
.split-button .list-container ul > li { white-space:nowrap; background:url(../images/bkg_btn-split-item.png) no-repeat -10000px -10000px; border:1px solid #c1c1c1; border-top-width:0; margin:0; display:block!important; margin:0!important; }
.split-button .list-container ul > li:first-child { border-top-width:1px; }
.split-button .list-container li a,
.split-button .list-container li span { display:block; line-height:1.2!important; cursor:pointer; padding:5px 18px 5px 18px; color:#999; font-size:11px; text-transform:none; text-decoration:none; text-align:left; text-overflow:ellipsis; overflow:hidden; }
.split-button .list-container li:hover a,
.split-button .list-container li:hover span,
.split-button .list-container li:hover { color:#fff; text-decoration:none; }
.split-button .list-container li:hover { background-color:#999; background-position:5px -984px; }
.split-button .list-container li.new { color:#d33911; background-color:#eee; background-position:5px 7px; }
.split-button .list-container li.new:hover { background-color:#999; background-position:5px -485px; }

/* Wishlist */

/* Multiple Wishlist */
.wishlist-management .link-edit { width:16px; padding:0; margin:0 5px; height:16px; text-indent:-999em; overflow:hidden; vertical-align:middle; }
.wishlist-management .btn-create { float:right; margin-bottom:10px; }
.wishlist-management .sub-title { float:left;  max-width:100%; }
.wishlist-management .sub-title h2 { word-wrap:break-word; }
.wishlist-management .note-msg { clear:both; margin:0 0 10px; padding:10px; border-style:solid !important; border-width:1px !important; font-size:12px !important; border-color:#fcd344; background-color:#fafaec; color:#3d6611; }
.wishlist-management .msg-private { background:url(../images/bkg_lock.png) no-repeat 10px 10px #fafaec; padding-left:30px; }
.wishlist-management .table-caption .label { font-size:12px; float:left; line-height:21px; }
#wishlists-move { float:right; margin-left:10px; }
#wishlists-copy { float:right; }


// my-orders-table
#my-orders-table {
  .item-options {
    display: none;
  }
}
/* My Tags */
.my-tag-edit {
  float: left;margin: 0 0 10px;
  .btn-remove {
    float: right;margin: 4px 0 0 5px;
  }
}

#my-tags-table {
  clear: both;
  td {
    padding: 10px;
  }
  .add-to-links {
    white-space: nowrap;
  }
}
.tags-content {@include border-radius(4px); padding: 10px 0 0px 15px; border:1px solid $border-1;
  .page-title {margin:0;}
  .tags-ct {height: 140px; overflow-y: auto; padding:10px 0;}
}

/* My Reviews */
.product-review .product-img-box {
  float: left;
  width: 140px;
}

.product-review .product-img-box .product-image {
  display: block;
  width: 125px;
  height: 125px;
}

.product-review .product-img-box .label {
  font-size: 11px;
  margin: 0 0 3px;
}

.product-review .product-img-box .ratings .rating-box {
  float: none;
  display: block;
  margin: 0 0 3px;
}

.product-review .product-details {
  margin-left: 150px;
}

.product-review .product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}

.product-review h3 {
  font-size: 12px;
  margin: 0 0 3px;
  color: #2f2f2f;
}

.product-review .ratings-table {
  margin: 0 0 10px;
}

.product-review dt {
  font-weight: bold;
}

.product-review dd {
  font-size: 13px;
  margin: 5px 0 0;
}

/* Billing Agreements */
.billing-agreements .info-box {
  margin: 15px 0;
}

.billing-agreements .form-list li select {
  float: left;
}

.billing-agreements .form-list li button.button {
  float: left;
  margin-left: 10px;
}

.billing-agreements .table-caption {
  font-weight: bold;
  font-size: 13px;
}

.my-account .tabs-content.info { font-size: 14px;padding:17px 0 6px;
  border-bottom: 1px solid $border-1;
  margin-bottom: 10px;
  li {
    display: inline;
    padding: 0 18px;
    border-right: 1px solid $border-1;
    &:last-child {
      border: 0;
    }
    span.credit-value,
    span.reward-points-value {
      color: $pink;
    }
    a {
      text-decoration: none;
      color: $pink;
      font-weight: bold;
    }
  }
}
.my-account
.box {
  border: 1px solid $border-2;
  border-radius: 5px;
  padding: 10px;
  .box-title {
    @extend .clearfix;
    text-align: right;
    border-bottom: 1px dotted $border-1;
    h1, h2, h3 {
      float: left;
      font-size: 15px;
      margin-bottom: 10px;
    }
    a {
      font-weight: normal; text-decoration: underline;
    }
  }
  p a {color:#5980bb; }
  .box-content { @extend .clearfix; min-height: 60px;
    padding: 10px 0;
    strong.label {
      display: inline-block;*display: inline;*zoom: 1;
      width: 157px;
    }
    .addthis_toolbox a{margin-right: 6px;}
    h4 a {font-size: 12px; color:#5980bb; text-transform: none; font-weight: normal; text-decoration: underline;}
  }
  &.none-border {border:none; border-radius: 0; padding:0;}
  table td {padding:3px; vertical-align: middle;
     div.selector {min-width: 32px; margin-right: 5px;}
    div.selector span {padding-right: 18px;}
  }
  .name input {width:85px; margin-right: 10px;}
  .gender label {display: none;}
  .email input {width:200px;}
  .date select { margin-right: 5px;}
}

/* Store Credit & Gift card */
.my-account .store-credit .page-title,.my-account .gift-card .page-title {
  padding-bottom: 0;
}
.store-credit {
  .info {
    font-weight: bold;height: 56px;font-size: 14px;
  }
}

.giftcardaccount {
  position: relative;
  #gc-please-wait {
    position: absolute;left: 0;top: -20px;
  }
  .fieldset{ margin-bottom: 18px;
    .form-list {
      li {margin-bottom: 0;}
      label {
        width: 230px;font-weight: bold;font-size: 14px;
      }
      .input-box {
        width: 197px;display: inline-block;*display: inline;*zoom: 1;
        .input-text {
          width: 100%;
        }
      }
      .button {
        vertical-align: top;
        &.check-gc-status {
          background: none;
          span {
            color: $black;text-transform: uppercase;text-decoration: underline;
          }
        }
      }
      .validation-advice {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  form#giftcard-form {
    .form-list {
      label {
        width: 130px;
      }
      .input-box {
        width: 120px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .my-account .tabs-content.info,
  .my-account .product-tabs,
  .dashboard-block {
    display: none;
  }

  .box {
    .box-content {
      strong.label {
        width: 100px;
      }
    }
  }

  #my-reviews-table,
  #wishlist-table, {
    tr td {
      border-bottom: 0;
    }

    tr td.last {
      border-bottom: 1px dashed $border-1;
    }

    tr.last td {
        border: 0 !important;
    }
  }

  #open-invitations-table,
  #reward-points-table {
    td {
      text-align: right !important;
    }
  }

  .storecredit-giftcard {
    .data-table {
      td {
        text-align: right !important;
      }
    }
  }
  form#giftcard-form {
    .form-list {
      label {
        width: 100%;
      }
      .input-box {
        width: 220px;
      }
    }
  }
}
.promo-title {
  color: $pink;
  margin-bottom: 20px;
  font-size: 28px;
}

.col3-promo {
  @extend .clearfix;
  border: 1px solid $border-1;
  border-radius: 4px 4px 0 0;
  margin-bottom: 30px;
  position: relative;
  &:before {
    position: absolute;
    display: block;
    content: "";
    height: 43px;
    top: 0;
    @extend .white-to-silver-v-gradient;
    width: 100%;
    border-radius: 4px 4px 0 0;
    z-index: -1;
  }
  .col-1,
  .col-2,
  .col-3 {
    @include box-sizing(border-box);
    float: left;
    width: 33.333333333%;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 17px;
      height: 211px;
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -98.5px;
      background: url(../images/line-shadow-profile.png) center center no-repeat;
      background-size: 100% 100%;
    }
    h3 {
      padding-left: 24px;
      line-height: 43px;
    }

    .buttons {
      height: 20px;
      line-height: 20px;
      padding: 0 15px;
      margin-bottom: 7px;
      .link {
        text-decoration: none;
         font-weight: bold;font-size: 12px; line-height: 20px;
        color: $pink;
        text-transform: uppercase;
      }
    }
  }
  .col-1 {
    h3 {text-align: left;}
    > div {margin-top: -34px;}
  }
  .col-3 {
    &:after {
      display: none;
    }
  }
}
.my-account .ui-tabs {margin-top: 20px;}
.myaccount-tabs.ui-tabs-nav {border-bottom: 1px solid $border-2;
  li {width: 207px;text-align: center;
    a {text-transform: uppercase;font-size: 14px;float: none !important;display: inline-block;}
  }
}
.myaccount-tabs-child {@extend .clearfix; border-bottom: 1px solid #000; margin-top: 15px; margin-bottom: 30px;
  li {margin-bottom: 8px; font-size: 14px; text-transform: uppercase; border-right:1px solid #000; padding:0 20px; height: 20px; line-height: 20px; display: inline-block; float: left;
    &:last-child {border:none;}
    a {text-transform: capitalize;}
  }
}
#my-orders-table,#my-reviews-table,#reward-points-table,#wishlist-table,#customerbalance-history {margin-bottom: 40px;
  thead, tbody { display: block; 
    td,th {width: 180px;}
  }
  tbody {display: block; max-height: 217px; overflow-y: auto;}
}
#my-reviews-table {
  tbody {height: 217px;}
  thead, tbody {
    td,th {width: 253px;}
  } 
  .ratings {margin: 0} 
}
#reward-points-table {
  thead, tbody {
    td,th {width: 200px;}
  }
} 
#wishlist-table {
  tbody {max-height: 395px;}
  thead, tbody {
    td,th {
      &:first-child {width:13px;}
      &:nth-child(3) {width:246px;}
    }
  }
}
#customerbalance-history {
  tbody {max-height: 173px; overflow-y:auto; }
  thead, tbody {
    td,th {width: 159px;}
  }
} 
.review-tooltip {position: relative; background: url(../images/review-tooltip.png) no-repeat 0 0; width: 19px; height: 15px; display: inline-block;
  &:hover {
    .cava-popup  {display: block;}
  }
  .cava-popup {width: 278px; padding:10px; display: none;left: -100px;top: 20px; z-index: 1;}
}
/*-------- My Credit card -----*/
#my-creditcards-table {font-weight: bold; width: 100%;
  tr {
    td {border-bottom: 1px dotted $border-1; padding: 20px 0;
      p {font-weight: bold;}
      a.button {line-height: 25px;  text-transform: uppercase;}
      &.last {text-align: right; padding-right: 15px;}
    }
  }
}
.credit-ct {position: relative;}
.addnewcard {margin-right: 30px; color:$pink; font-weight: bold;}
.new-credit-card {border:1px solid $border-1; @include border-radius(5px);padding:10px;
  h4.title {border-bottom: 1px dotted $border-2; line-height: 30px; margin-bottom:10px;}
  .editcart-ct {width:780px; margin-left: 15px;
    .form-list {
      label {font-weight: normal;}
      input {width:97%; height: 28px;}
    }
    .sp-methods {
      .form-list {
        .input-box {width: 512px; float: left;
          &.help-disabled-cc {width:259px;}
        }
      }
      .value_from_date {
        .input-box {
          width:50%; float: left; 
          div.selector {width: 93%;
            select {width:100%;}
          }
        }
      }
    }
    .bill-address {
      h2.legend {font-weight: normal; margin-bottom: 10px; border-bottom:1px solid $border-2; }
      label {vertical-align: middle;}
      .form-list {
        .fields {
          .input-box {width:50%; float: left;}
        }
        .wide {
          .input-box {width:100%;
            input {width:99%;}
            div.selector {width:97%; overflow: visible;
              select {width: 100%;}
            }
          }
        }
        .trible {
          .input-box {width:33%; float:left; margin-left: 2px;
            div.selector {width:92% !important; overflow: visible;
              span {width:92%!important}
              select {width: 100%;}
            }
          }
        }
      }
    }
    .buttons-set {margin-top: 15px; border-top: 1px solid $border-2;}
  }
}

/*-------- Login and Register page -----*/
.account-login {
  .col2-set {
    .col-1 {width:42%;}
    .col-2 {width:54%;}
    .col-1,.col-2 {
      h2 {border-bottom: 1px solid $border-2; margin-bottom: 15px; font-weight: normal;}
      .button-right {
      display: inline-block;
      }
      button.button {min-width:74px;
        span {text-transform: uppercase; }
      }
      p em {color: #7a7979;}
     .le-socialconnect-social {position: absolute; bottom:28px; right:172px; margin: 0; padding-right: 3px; border-right:1px solid $border-2;
          p {margin: 0;}
          .le-social-button-login {margin: 0;}
        }
    }
    .form-list label {min-width: 116px;}
    .registered-users {
      .form-list{padding-right: 80px;
        li {padding-right: 6px; @include box-sizing(border-box);
          input[type="checkbox"] {vertical-align: text-bottom;}
          .le-socialconnect-social {margin: 0;}
          .input-box {width: auto;}
          span.forgotpass {position: relative; bottom:-5px;}
        }
      }
      .content-login {position: relative;}
    } 
    .new-users {
      .content-register {position: relative; padding-bottom: 10px;}
      .left {width:371px;
        .form-list{
          label[for="customer_security_question"] {background: url(../images/small-help.png) no-repeat 98px center;}
          li.control {
            .input-box {
              p em {background: url(../images/small-help.png) no-repeat right center; padding-right: 16px;}
            }
          }
          li .input-box input {padding-left: 5px;}
          #uniform-customer_security_question.selector span {font-style: italic; color:#a6a6a6 !important; font-family: $PTserif; font-size: 10px;}
          input#password2::-webkit-input-placeholder {font-style: italic; color:#a6a6a6 !important; font-family: $PTserif; font-size: 10px;}
          input#password2::-moz-placeholder {font-style: italic; color:#a6a6a6 !important; font-family: $PTserif; font-size: 10px;}
          input#password2:-ms-input-placeholder{font-style: italic; color:#a6a6a6 !important; font-family: $PTserif; font-size: 10px;}
        }
      }
      .right {width:194px;
        ul {list-style-type: square; padding-left: 17px; margin-bottom: 118px;}
        &.popup-img {margin-top: -158px; width:auto;
          img {width:90px;}
        }
      }
      #uniform-customer_security_question {width: 237px;}
      .beauty-insider {margin-top: 50px;
        p {line-height: normal;}
        .birth-date label{min-width: 60px; }
      }

      .bottom {margin-top: 20px;
        .subcribe-login {@extend .clearfix;}
      }
      .le-socialconnect-social { right:87px; bottom:10px;
      }
    }
  }
}
.forgotpass {
  #form-validate {
    .fieldset {margin-bottom: 10px;}
    label { padding-right: 20px;}
  }
  .buttons-set {width: 450px; margin-bottom: 50px; margin-top: 0px;}
}
.edit-address {
  .fieldset {float: left; width:48%;
    .form-list {
      li {
        .field {width: 258px;
          &.name-firstname {
            input.input-text {width:240px;}
          }
          &.name-suffix {width:65px;}
          &.name-lastname {width:190px;}
        }
        &.wide input.input-text {width:513px}
        .input-box {
          div.selector {overflow: visible; height: 22px; line-height: 22px;
            span {height: 22px; line-height: 22px;}
          }
        }
      }
    }
  }
}
