
.category-title {
  border: 0;
  margin: 0;
}

.category-image {
  width: 100%;
  overflow: hidden;
  margin: 0 0 10px;
  text-align: center;
}
.navigation-top-link {
 @include background-image(linear-gradient(#e8e8e8, white));
  height: 40px; margin-bottom: 27px;
  li {display: inline-block; float: left;border-right:1px solid $border-1; height: 20px; margin-top: 10px;padding-right: 24px;
    a {padding:0 12px 0 30px; letter-spacing: 1px; font-size: 14px; color:#000; text-decoration: none; 
      i,em {vertical-align: middle;line-height: 10px;padding-left: 10px;}
    }
  &:last-child {border:none;padding-right:none; }
  }
}
.category-image img {
}

.category-description {
  margin: 0 0 10px;
}
.top-banner {margin-bottom: 23px;}
.top-banner-slide.left {width:69.5%; height: 215px;
  .bx-viewport {border:none; @include box-shadow(none); left:0; 
  }
  .bx-wrapper .bx-pager {width:auto; padding:0; height: auto; right:46px; bottom:15px; position: absolute;
     a {border-radius:0; width:24px; height: 19px; background: #fff; border:1px solid $border-1; text-indent: 0; color:$border-1; text-decoration: none; font-size: 12px; line-height: 19px;}
     a.active {background: #636264; color:#fff;}
  }
}
.top-banner-slide.right {width:30%; height: 215px; overflow: hidden;
  >a {margin-bottom: 3px; display: block;
    img {width:100%;}
  }
}
#sub-category-listing { overflow: hidden; 
  li {width:20%;float:left; @include box-sizing(border-box); padding:0 2px; border-left: 1px solid $border-1;display: inline-block; vertical-align: top; word-spacing: 0; margin-bottom: 10px; 
    >span {display: block;background: url(../images/title-filter.png) repeat-x 0 0; color:#fff; font-size: 12px; height: 25px; line-height: 25px; text-align: center;font-weight: bold; margin-bottom: 5px; font-family: $PTserif; text-transform: uppercase;}
    a {font-size: 12px; display: block;padding-left: 10px;}
  }
  li:first-child {padding-left:0;border-left:0  }
  li:last-child {padding-right:0 }
  li:nth-child(6) {padding-right:0; border-left:0  }
}
.category-products {
  .toolbar {
    .sorter .sort-by div.selector {width:152px;}
    .pager .limiter div.selector {width:69px}
  }
  .refine-by {width: 453px;
    .refine-button {height: 23px; border:1px solid $border-2; padding:0 28px 0 11px; background: url(../images/arr-down.png) no-repeat right center #fff; display: inline-block; line-height: 23px; cursor:default; margin-right: 12px;}
    .refine-tabcontent {display: inline-block; border:1px solid $border-1;  position: absolute; left:0; top:24px; background: #fff;white-space: nowrap;min-width: 138px;
      ol {padding: 10px 0; }
      li {padding:0 10px; margin-bottom: 5px;}
      li:hover {background: #1470d7;color:#fff;}
      }
    .refine {float:left; position: relative; z-index: 1;
      &.refine-color {
        .refine-tabcontent { padding-top: 5px;
          > ol {display: inline-block;vertical-align: top; width: 105px;
            &:last-child {padding-right: 7px}
            &:first-child {padding-left:7px}
            li {
              img {width:16px; height: 16px; vertical-align: middle; margin:0 5px;}
            }
          }
        }
      }
    }
    .refine-label { float:left; line-height: 25px; margin-right: 20px;}
    >button.button {float:right; background: none;
      span {background: none; color:#ff2b8f; text-decoration: underline;font-weight: bold;}
      }
    .bottom-refine {background-color: #eee; border-top:1px solid $border-1;padding:10px; white-space: nowrap;}
  }
  .products-grid {margin-bottom: 50px;
    >li.item { width:20%; float: left; border-right:1px solid $border-1;@include box-sizing(border-box); position: relative; min-height: 386px;
     .item-wrapper{
        &.enlarge-fake {padding:5px 10px;}
     } 
    }
    li.last {border-right:none;}
  }
  .toolbar .pager .limiter div.selector span{text-align: center}
}

/* View Type: Grid */
.products-grid {
  position: relative;
}

.products-grid li.item,.block-viewed li.item {
  .price-box {
    .price-label,.price {float:left;}
    .old-price { float: left;
      .price-label,.price {
      color: #dc1b5c;text-decoration:none;}
      }
    .special-price {
      float:right; font-weight: bold;
    }
  }
  .actions {
    button.button.btn-cart {float:right;}
  }
  .social {clear:both;}
}
.button.pro-quick-view {color:#fff; position: absolute; bottom:50%; left:50%;line-height: 24px;
  font-weight: bold; margin-left:-37px;margin-bottom: -12px; display: none;
  font-size: 11px;}
.bl-image { position: relative;
    &:hover .button.pro-quick-view {display: block;}
  }
.products-grid .product-image {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  img {
    display: inline-block;
  }
}

.products-grid .product-name {
  margin-bottom: 5px; font-size: 12px; line-height: 18px;
  text-transform: capitalize;
  a {
    text-decoration: underline;
  }
}
.products-grid .description {
 font-size: 13px; line-height: 22px; height: 22px;
  margin: 0;
}
.products-grid .price-box {
  margin: 0;
  line-height: 27px; overflow: hidden;
  @extend .clearfix;
  
  .retail-price {
    float: left;
    display: inline-flex;
    color: $pink;
  }
  .our-price,.regular-price {
    float: right;
    display: inline-flex;
    font-weight: bold;
  }
}
.products-grid .availability {
  line-height: 24px;
}

.toolbar-bottom {margin-top: 50px;}

/* View Type: List */
.products-list li.item {
  border-bottom: 1px solid #d9ddd3;
  padding: 12px 10px;
}

.products-list li.item.last {
  border-bottom: 0;
}

.products-list .product-image {
  float: left;
  width: 135px;
  height: 135px;
  margin: 0 0 10px;
}

.products-list .product-shop {
  margin-left: 150px;
}

.products-list .product-name {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 13px;
  color: #203548;
}

.products-list .product-name a {
  color: #203548;
}

.products-list .price-box {
  float: left;
  margin: 3px 13px 5px 0;
}

.products-list .availability {
  float: left;
  margin: 3px 0 0;
}

.products-list .desc {
  clear: both;
  padding: 6px 0 0;
  margin: 0 0 15px;
  line-height: 1.35;
}

.products-list .desc .link-learn {
  font-size: 11px;
}

.products-list .add-to-links {
  clear: both;
}

.products-list .add-to-links li {
  display: inline;
}

.products-list .add-to-links .separator {
  display: inline;
  margin: 0 2px;
}
//Quick view
.wrap-quickview {padding: 15px 0 15px 15px; border-bottom: 5px solid $pink;
  .head {
      h4 {font-weight: normal; font-size:12px; }
    }
  .main-container {
    width: 100%;
  }

  .product-view {
    border-top: 0;
    .product-essential {
      padding: 0;
    }

    .product-img-box {
      width: 440px;
      margin-right: 60px;

      .product-images {
        width: 360px ;min-height: 527px;

        .bx-viewport {
          ul {
            li {
              #wrap {
                a {
                  width: 360px;
                }
              }
            }
          }
        }
      }
      .more-views  {
        .bx-wrapper {padding: 0;}
        .bx-controls  {display: none;}
      }
    }

    .product-shop {border-bottom: 1px dotted $border-2; padding-bottom: 15px;
      margin: 0;
      width: 350px;

      .product-shop-info {
        .product-name {
          h1 {font-weight: normal; font-size: 20px; margin-bottom: 17px;}
        }
        .bottom-dotted { border: none;
          .price-box {
            .sale-price-box,.add-more-save {display: none;}
            .availability-sku {float: right; white-space: nowrap;
              .sku,.availability {display: inline-block;}
            }
          }
          .ratings-availability-sku {
            .show-review-popup ,.separator{display: none;}
          }
        }
        .product-option {
          .time-remain-wpr {display: none;}
          label {min-width: 68px;font-size: 11px;
          }
          .sm-conf-main {
            .image-color-hover {display: none !important}
          }
          .quantity-container  {
            .availability.in-stock {display: none;}
            input.qty {margin-right: -4px;}
          }
          .delivery {
            .option-label {
              &:after {content:":"}
            }
            #delivery-show-options {text-decoration: underline; color: blue; text-transform: uppercase;}
            .delivery-form {
              left: inherit;
              right: 0;
            }
          }
          .total-cost {
            .option-label {
              &:after {content:":"}
            }
            .price-box {
              .regular-price {font-size: 18px;}
              .chat-with-us {display: none;}
            }
          }
        }

        .product-options-bottom {
          p {
            display: none;
          }
          .button {
            span {font-weight: normal;font-size: 13px; font-family: $PTsans;}
          }
          .button.btn-cart {
            margin-right: 10px;
          }

          a.link-wishlist {
            margin-top: 20px; text-transform: none; 
            span {text-decoration: none;}
          }
        }
        .viewfull-qv {color:$pink; text-transform: uppercase; float: right; text-decoration: underline;}
        .button.btn-update {
          background: $pink !important;
          border: 0 !important;
          span {
            color: $white !important;
          }
        }
      }
    }
  }
}


//TOP
.top-banner.category-top  {position: relative; height: 275px;
  .left #top-pager {height: 274px;width: 290px; float:left;border-left:1px solid $border-1;border-top:1px solid $border-1;
  ul li {vertical-align: middle;height: 90px;width: 100%;
        background: #fdf4eb;
        border-bottom: 1px solid $border-1;
        a { background: url(../images/arrow_p2.png) no-repeat 98% center; display: block; height: 100%;  padding-left:15px; padding-right:35px; line-height: 15px;}
        a.active {background-image:url(../images/arrow_p3.png)}
        h3 {color: #111; text-transform: none;
             font-size: 30px;
            font-style: italic;
            padding: 5px 0 0px !important;
            margin: 0;
            }
      }
  }
  .left .bx-wrapper {margin-left: 291px;width: 471px; height: 275px;
    ul li img {height: 100%}
  }
}
/*--- Search result Page--*/
.catalogsearch-result-index{
  .narrow-by-list dl dt {margin-top: 0; border-top: 0;}
  #navigation-top > h3.shop-cate {margin-bottom: 0;}
}
.searchpage {

  .page-title { text-align: center; border-bottom: none;
    span {font-size: 11px; font-weight: bold; text-transform: none;
      .query-text {color:$pink;}
    }
  }
  .sm-searbox-content { @include border-radius(5px);
    width:590px; padding:13px 20px; background: #fafafa; margin:0 auto 30px; border:1px solid $border-2; 
    .form-search {
      p {margin-bottom: 0;font-size: 12px;
        span.category-text {padding-left: 255px}
      }
      input.input-text {width:266px; padding:0 5px; @include border-radius(3px); margin-right: 20px;}
      select {width:160px;}
      .selectBox-dropdown {background: #fff; border-left:1px solid $border-1; @include border-radius(3px);}
      div.selector {@include border-radius(3px); width:160px; margin-right: 20px;height: 24px;line-height: 24px;
        span {height: 24px;line-height: 24px;}
      }
      button.button {background: #b2b2b2; width:105px; text-align: center;margin-left: 18px;
        &:hover {background: $pink;}
      }
    }  
  }
}
