/********** < Common Checkout Styles */

/* Shipping and Payment methods */

.sp-methods {
  margin: 0 0 8px;
}
.sp-methods dt {
  margin: 13px 0 5px;
  font-weight: bold;
}
.sp-methods dd {} .sp-methods dd li {
  margin: 5px 0;
}
.sp-methods label {
  color: #000; text-transform: uppercase; font-size: 9px; font-weight: none; font-family: "Times New Roman", Times, serif;
}
.form-list label em{ color: #ff0000; font-weight: bold; padding-right: 7px; }
.sp-methods .price {
  font-weight: bold;
}
.sp-methods .form-list {
}
.sp-methods .form-list li {
  margin: 0 0 13px;
}
.sp-methods select.month {
  width: 154px;
  margin-right: 10px;
}
.sp-methods select.year {
  width: 96px;
}
.sp-methods input.cvv {
  width: 3em !important;
}
.sp-methods .checkmo-list li {
  margin: 0 0 5px;
}
.sp-methods .checkmo-list label {
  width: 135px;
  padding-right: 10px;
  text-align: right;
}

.sp-methods .checkmo-list address {
  float: left;
}
.sp-methods .centinel-logos a {
  margin-right: 3px;
}
.sp-methods .centinel-logos img {
  vertical-align: middle;
}
.sp-methods .release-amounts {
  margin: 0.5em 0;
}
.sp-methods .release-amounts button {
  float: left;
  margin: 5px 10px 0 0;
}
.please-wait {
  float: right;
}
.please-wait img {
  vertical-align: middle;
}
.cvv-what-is-this {
  font-size: 11px;
  cursor: help;
  margin-left: 10px;
}
/* Tooltip */

.tool-tip {
  border: 1px solid #7BA7C9;
  background: #EAF6FF;
  padding: 15px 20px;
  position: absolute;
  z-index: 9999;
}
.tool-tip .btn-close {
  margin: -9px -14px 0;
  text-align: right;
}
.tool-tip .btn-close a {
  display: block;
  margin: 0 0 0 auto;
  width: 15px;
  height: 15px;
  background: url(../images/btn_window_close.gif) 100% 0 no-repeat;
  text-align: left;
  text-indent: -999em;
  overflow: hidden;
}
.tool-tip .tool-tip-content {
  padding: 5px;
}
/* Gift Messages */

.gift-messages h3 {
  font-size: 12px;
  font-weight: bold;
  color: #e87403;
}
.gift-messages p.control {
  color: #8e8d8b;
}
.gift-messages-form {
  position: relative;
}
.gift-messages-form label {
  float: none !important;
  position: static !important;
}
.gift-messages-form h4 {
  font-size: 12px;
  font-weight: bold;
  color: #e87403;
}
.gift-messages-form .whole-order {
  margin: 0 0 25px;
}
.gift-messages-form .item {
  margin: 0 0 10px;
}
.gift-messages-form .item .product-img-box {
  float: left;
  width: 75px;
}
.gift-messages-form .item .product-image {
  margin: 0 0 7px;
}
.gift-messages-form .item .number {
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #8a8987;
}
.gift-messages-form .item .details {
  margin-left: 90px;
}
.gift-messages-form .item .details .product-name {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px;
}
.gift-messages-form .item .details .form-list .field {
  width: 255px;
}
.gift-messages-form .item .details .form-list .input-box {
  width: 240px;
}
.gift-messages-form .item .details .form-list input.input-text {
  width: 234px;
}
.gift-messages-form .item .details .form-list li.wide .input-box {
  width: 500px;
}
.gift-messages-form .item .details .form-list li.wide textarea {
  width: 494px;
}
.gift-message-link {
  font-size: 11px;
  background: url(../images/bkg_collapse-gm.gif) 100% 6px no-repeat;
  padding-right: 7px;
}
.gift-message-link.expanded {
  background-position: 100% -40px;
}
.gift-message-row {
  background: #f2efe9;
}
.gift-message-row .btn-close {
  float: right;
  width: 16px;
  height: 16px;
  background: url(../images/btn_gm-close.gif) 0 0 no-repeat;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
  overflow: hidden;
}
/* Checkout Agreements */

.checkout-agreements li {
  margin: 30px 0;
}
.checkout-agreements .agreement-content {
  overflow: auto;
  height: 12em;
  padding: 10px;
  background-color: #fbfaf6;
  border: 1px solid #bbb6a5;
}
.checkout-agreements .agree {
  margin: 0;
  padding: 10px 0 10px 11px;
}
.checkout-agreements .agree input.checkbox {
  margin-right: 6px;
}
.checkout-agreements .agree label {
  font-weight: bold;
  color: #666;
}
.opc .checkout-agreements {
  border: 1px solid #d9dde3;
  border-width: 0 1px;
  padding: 5px 30px;
}
.opc .checkout-agreements li {
  margin: 20px 0 0;
}
.opc .checkout-agreements .agreement-content {
  background-color: #fff;
  border-color: #e4e4e4;
  padding: 5px;
}
.opc .checkout-agreements .agree {
  padding-left: 6px;
}
/* Centinel */

.centinel {} .centinel .authentication {
  border: 1px solid $border-2;
  background: #fff;
}
.centinel .authentication iframe {
  width: 99%;
  height: 400px;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.opc .centinel {
  border: 1px solid #bbb6a5;
  border-width: 0 1px 1px;
  padding: 10px 30px;
}
/* Generic Info Set */

.info-set {
  background: #fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x;
  border: 1px solid #bbb6a5;
  margin: 0 0 25px;
  padding: 20px;
}
.info-set h2 {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px;
}
.info-set h3, .info-set h4 {
  font-size: 13px;
  font-weight: bold;
  color: #E26703;
}
.info-set h2 a, .info-set h3 a, .info-set h4 a {
  font-weight: normal;
}
.info-set h2.legend {
  margin: -20px -20px 15px;
  padding: 5px 10px;
  background: #f9f3e3;
  border-bottom: 1px solid #bbafa0;
  position: relative;
}
.info-set h3.legend {
  margin: 0 0 10px;
  color: #0a263c;
}
.info-set .divider {
  margin: 0 -20px;
  padding: 25px 0;
  position: relative;
}
.info-set .box {
  margin: 0 0 15px;
}
.info-set .box h2 {
  color: #e26703;
}
.info-set .data-table .product-name {
  font-size: 1em !important;
  font-weight: bold !important;
  color: #1e7ec8 !important;
}
.info-set .data-table .product-name a {
  font-weight: bold !important;
}
.info-set .data-table .item-options {
  margin: 5px 0 0;
}
/********** Common Checkout Styles > */

/* One Page Checkout */

.block-progress {
  border: 0;
  margin: 0;
}
.block-progress .block-title {
  background: none;
  border: 0;
  padding: 0;
  margin: 0 0 5px;
}
.block-progress .block-title strong {
  font-size: 13px;
  color: #0a263c;
}
.block-progress .block-content {
  background: none;
}
.block-progress dt {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.35;
  background: #eee;
  border: 1px solid #a3aeb3;
  margin: 0 0 6px;
  padding: 2px 8px;
  color: #999;
}
.block-progress dd {
  background: #eee;
  border: 1px solid #a3aeb3;
  border-top: 0;
  padding: 8px 13px;
  margin: 0 0 6px;
}
.block-progress dt.complete {
  margin: 0;
  background: #d0dce1;
  color: #5e8ab4;
}
.block-progress dd.complete {} .block-progress p {
  margin: 0;
}
.block-progress .cards-list dt {
  background: none;
  border: 0 none;
  color: inherit;
  font-size: 12px;
  margin: 5px 0;
  padding: 0;
}
.block-progress .cards-list dd {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.block-progress .cards-list .info-table th {
  font-weight: normal;
}
/* show/hide "change" link for progress step depend on complete status
 * should be placed in .css file */

.opc-block-progress dt.complete a, .opc-block-progress dt.complete .separator {
  display: inline;
}
.opc-block-progress dt a, .opc-block-progress dt .separator {
  display: none;
}
.opc .buttons-set {
  margin-top: 0;
  padding-top: 2em;
}
.opc .buttons-set p.required {
  margin: 0;
  padding: 0 0 10px;
}
.opc .buttons-set .back-link small {
  display: none;
}
.opc .buttons-set .back-link a {
  background: url(../images/i_arrow-top.gif) 0 50% no-repeat;
  padding-left: 16px;
}
.opc .buttons-set.disabled button.button {
  display: none;
}
.opc .buttons-set .please-wait {
  height: 21px;
  line-height: 21px;
}
.opc .ul {
  list-style: disc outside;
  padding-left: 18px;
}
.opc {
  position: relative;
}
.opc li.section {} .opc .step-title {
  border-width: 0 1px;
  border-style: solid;
  border-color: #fff #d9dde3 #d9dde3;
  background: #eee url(../images/bkg_opc-title-off.gif) 0 100% repeat-x;
  padding: 4px 8px 6px;
  text-align: right;
}
.opc .step-title .number {
  float: left;
  background: #fff;
  border: 1px solid #fff;
  padding: 0 4px;
  margin: 0 5px 0 0;
  font: bold 11px/14px arial, helvetica, sans-serif;
  color: #999;
}
.opc .step-title h2 {
  float: left;
  margin: 0;
  font: bold 13px/16px Arial, Helvetica, sans-serif;
  color: #999;
}
.opc .step-title a {
  display: none;
  float: right;
  font-size: 11px;
  line-height: 16px;
}
.opc .allow .step-title {
  background: #d0dce1;
  border: 1px solid #a3aeb3;
  border-bottom: 0;
  color: #a4b3b9;
  cursor: pointer;
}
.opc .allow .step-title .number {
  background: #dbe6eb;
  border-color: #dbe6eb;
  color: #a4b3b9;
}
.opc .allow .step-title h2 {
  color: #a4b3b9;
}
/*.opc .allow .step-title a { display:block; }*/

.opc .active .step-title {
  background: #f9f3e3;
  border: 1px solid #bbafa0;
  padding-bottom: 5px;
  color: #f18200;
  cursor: default;
}
.opc .active .step-title .number {
  background: #f18200;
  border-color: #f19900;
  color: #fff;
}
.opc .active .step-title h2 {
  color: #f18200;
}
/*.opc .active .step-title a { display:none; }*/

.opc .step {
  border: 1px solid #bbafa0;
  border-top: 0;
  background: #fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x;
  padding: 15px 30px;
  position: relative;
}
.opc .step .tool-tip {
  right: 30px;
}
#opc-login .buttons-set {
  border-top: 0;
}
#opc-login h3 {
  font-size: 13px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 2px;
  text-transform: uppercase;
}
#opc-login h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  color: #2f2f2f;
}
#opc-shipping_method .buttons-set {
  border-top: 0;
}
.opc .gift-messages-form {
  margin: 0 -30px;
  background: #f6f1eb;
  border: 1px solid #e9e4de;
  border-width: 1px 0;
  padding: 22px 24px 22px 30px;
}
.opc .gift-messages-form .inner-box {
  padding: 5px;
  height: 260px;
  overflow: auto;
}
#opc-review .step {
  border: 0;
  padding: 0;
}
#opc-review .product-name {
  font-weight: bold;
  color: #0a263c;
}
#opc-review .item-options {
  margin: 5px 0 0;
}
#opc-review .buttons-set {
  padding: 20px 30px;
  border: 1px solid #d9dde3;
  border-width: 0 1px 1px;
}
#opc-review .buttons-set p {
  margin: 0;
  line-height: 40px;
}
#opc-review .buttons-set .please-wait {
  height: 40px;
  line-height: 40px;
}
#opc-review .authentication {
  margin: 0 auto;
  width: 570px;
}
#opc-review .warning-message {
  color: #222;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px 0;
}
/* Multiple Addresses Checkout */

.checkout-progress {
  padding: 0 90px;
  margin: 0 0 20px;
}
.checkout-progress li {
  float: left;
  width: 19%;
  margin: 0 3px 0 0;
  border-top: 10px solid #999;
  padding: 2px 0 0;
  font-weight: bold;
  text-align: center;
  color: #abb5ba;
}
.checkout-progress li.active {
  border-top-color: #e96200;
  color: #e96200;
}
.multiple-checkout h2 {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px;
}
.multiple-checkout h3, .multiple-checkout h4 {
  font-size: 13px;
  font-weight: bold;
  color: #E26703;
}
.multiple-checkout h2 a, .multiple-checkout h3 a, .multiple-checkout h4 a {
  font-weight: normal;
}
.multiple-checkout .data-table .product-name {
  font-size: 1em !important;
  font-weight: bold !important;
  color: #1e7ec8 !important;
}
.multiple-checkout .data-table .product-name a {
  font-weight: bold !important;
}
.multiple-checkout .data-table .item-options {
  margin: 5px 0 0;
}
.multiple-checkout .gift-messages {
  margin: 15px 0 0;
}
.multiple-checkout .tool-tip {
  top: 50%;
  margin-top: -120px;
  right: 20px;
}
.multiple-checkout .col2-set, .multiple-checkout .col3-set {
  background: #fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x;
  border: 1px solid #bbb6a5;
  margin: 0 0 25px;
  padding: 20px;
}
.multiple-checkout .col2-set h2.legend {
  margin: -20px -20px 15px;
  padding: 5px 10px;
  background: #f9f3e3;
  border-bottom: 1px solid #bbafa0;
  position: relative;
}
.multiple-checkout .col2-set h3.legend {
  margin: 0 0 10px;
  color: #0a263c;
}
.multiple-checkout .col2-set .divider {
  margin: 0 -20px;
  padding: 25px 0;
  position: relative;
}
.multiple-checkout .box {
  margin: 0 0 15px;
}
.multiple-checkout .box h2 {
  color: #e26703;
}
.multiple-checkout .place-order .please-wait {
  float: right;
  padding: 27px 7px 0 0;
}
.multiple-checkout .place-order .grand-total {
  float: right;
  height: 71px;
  font-size: 1.5em;
  padding: 0 0 0 21px;
  background: url(../images/bkg_grand-total.gif) 0 0 no-repeat;
  overflow: hidden;
}
.multiple-checkout .place-order .grand-total .inner {
  float: left;
  height: 57px;
  padding: 14px 21px 0 0;
  background: url(../images/bkg_grand-total.gif) 100% 0 no-repeat;
}
.multiple-checkout .place-order .grand-total .inner div {
  display: inline;
}
.multiple-checkout .place-order .grand-total big {
  display: inline;
  margin-right: 12px;
}
.multiple-checkout .place-order .grand-total .price {
  color: #E26703;
}
.multiple-checkout .place-order .grand-total button.button span {
  font-size: 16px;
}
.multiple-checkout .place-order .grand-total button.button span span {
  padding: 0 45px 0 36px;
}
/* Step 1 */

.multiple-checkout .title-buttons button.button span {
  border-color: #406a83;
  background: #618499;
}
#multiship-addresses-table td {
  padding: 10px;
}
#multiship-addresses-table tfoot td {
  padding: 5px 10px;
}
#multiship-addresses-table tfoot button.button span {
  border-color: #406a83;
  background: #618499;
}
/* Step 2 */

.multiple-checkout .gift-messages-form .item .details .form-list {
  width: 100%;
  overflow: hidden;
}
.multiple-checkout .gift-messages-form .item .details .form-list li {
  margin-right: -15px;
}
.multiple-checkout .gift-messages-form .item .details .form-list .field {
  width: 230px;
}
.multiple-checkout .gift-messages-form .item .details .form-list .input-box {
  width: 215px;
}
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text {
  width: 209px;
}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box {
  width: 445px;
}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea {
  width: 439px;
}
.checkout-multishipping-shipping .box-sp-methods {
  border: 1px solid #d9d2be;
  background: #f9f3e3;
  padding: 13px;
  position: relative;
}
.checkout-multishipping-shipping .box-sp-methods .pointer {
  position: absolute;
  top: -20px;
  right: -40px;
  width: 178px;
  height: 41px;
  background: url(../images/bkg_sp-methods.gif) 0 0 no-repeat;
  overflow: hidden;
}
/* Step 3 */

.checkout-multishipping-billing .multiple-checkout {
  position: relative;
}

/*Checkout new*/
.checkout-onepage-index {
  .page-title {
    border-bottom: 0;
    margin: 0 0 13px;
    h1 {
      background: url(../images/icon-checkout-title.jpg) 0 center no-repeat;
      padding: 0 0 0 35px;
      font-size: 24px;
      font-weight: normal;
    }
  }
}

.sm-link-step {
  @extend .clearfix;
  border-top: 1px dashed $border-1;
  font-family: $PTserif;
  margin-bottom: 50px;

  ul {
    float: left;
    width: 100%;

    li {
      display: inline-block;
      width: 25%;
      float: left;
      text-transform: uppercase;
      border-bottom: 2px solid #e6e7e9;
      .step-title {
        border-left: 1px solid #e6e7e9;
        margin: 0;
        float: left;
        width: 100%;
        padding: 2px 0;

        span.number {
          float: left;
          width: 25px;
          height: 25px;
          line-height: 24px;
          background: url(../images/num-step-checkout.png) 0 0;
          border-radius: 100%;
          border: 1px solid #e6e6e6;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          margin: 0px 13px 0 10px;
        }
        h2 {
          font-size: 14px;
          margin: 0;
          line-height: 27px;
        }
      }
      &.allow {
        border-bottom: 2px solid $pink;
        .step-title {
          border-left: 0;
        }
        span.number {
          background: $pink;
          color: #fff;
          border-color: $pink;
        }
      }
    }
  }
}

.sm-checkout-bar {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  margin-bottom: 5px;

  .continue-shopping {
    float: left;

    a {
      font-weight: bold;
    }
  }

  .sm-checkout-help {
    float: right;
    text-transform: uppercase;

    .title-help {
      font-weight: bold;
      font-style: italic;
      margin: 0 7px 0 0;
    }

    .phone-help {
      border-right: 1px solid #e1e1e1;
      background: url(../images/phone-icon.png) 0 center no-repeat;
      padding: 0 10px 0 25px;
      margin: 0 5px 0 0;
    }

    .chat-help {
      border-right: 1px solid #e1e1e1;
      background: url(../images/chat-icon.png) 0 center no-repeat;
      padding: 0 10px 0 25px;
      margin: 0 5px 0 0;
    }

    .hour-help {
      background: url(../images/clock-icon.png) 0 center no-repeat;
      padding: 0 0 0 25px;

      span {
        font-weight: bold;
        font-style: italic;
      }
    }
  }
}

.checkout-onepage-index {
  .sm-checkout-left, .sm-checkout-right {
    border: 1px solid $border-1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 70px;
    .sm-checkout-inner {
      padding: 0px; 
    }

    .block-title{
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #ffffff)); 
      background-image: -webkit-linear-gradient(#e8e8e8, #ffffff); 
      background-image: -moz-linear-gradient(#e8e8e8, #ffffff); 
      background-image: -o-linear-gradient(#e8e8e8, #ffffff); 
      background-image: linear-gradient(#e8e8e8, #ffffff);
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid #999;
      padding: 9px 20px;

      h2 {
        font-size: 18px;
        margin: 0;
      }
    }

    .sm-cart-items {
      border-bottom: 1px solid $border-1;
      max-height: 630px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0 15px;
    }

    .data-table {
      border: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;

      thead {
        th {
          background-image: none;
          border-color: $border-1;
        }
      }

      tbody {
        tr {
          td {
            border-bottom: 1px dashed $border-1;
          }

          &.last {
            td {
              border-bottom: 0;
            }
          }
        }
      }

      tr:nth-child(even) { 
        background: #fff;
      }

      h2.product-name {
        font-size: 18px;
        font-weight: normal;
      }

      .sku-status {
        color: #646464;
        span {
          display: inline-block;
          line-height: 15px;
        }

        .sm-cart-status {
          border-left: 1px solid #e1e1e1;
          margin: 0 0 0 5px;
          padding: 0 0 0 5px;
        }
      }

      .sm-checkout-cart-info {
        margin-top: 10px;

        .sm-items-options {
          label {
            color: #646464;
            min-width: 75px;
            display: inline-block;
          }

          span {
            min-width: 75px;
            display: inline-block;
          }

          .sm-items-left {
            .sm-items-left-attr {
              position: relative;
            }
          }

          .sm-items-right {
            position: absolute;
            bottom: 0;
            left: 156px;

            .items-add-more {
              a {
                color: $pink;

                i {
                  font-size: 70%;
                }
              }
            }
          }

          &.has-attribute {
            .sm-items-right {
              .items-only, .items-add-more {
                display: block;
              }
            }
          }
        }

        .sm-items-edit {
          margin-top: 10px;

          a {
            border: 1px solid #888;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            color: #888;
            display: inline-block;
            line-height: 12px;
            margin: 0 5px 0 0;
            padding: 0 2px;

            i {
              font-size: 10px;
              vertical-align: top; padding: 1px 0px 0px;
            }

            &:hover, &:active, &:focus {
              border: 1px solid $pink;
              color: $pink;
            }
          }
        }
      }
    }

    .wrap-sm-cart-totals {
      padding: 0 25px;

      .cart-total-left {
        float: left;
        
      }

      .cart-total-right {
        float: right;
      }

      .total-label {
        display: inline-block;
        font-size: 14px;
        min-width: 150px;
        text-transform: uppercase;
      }

      .sm-cart-subtotals, 
      .sm-cart-promo, 
      .sm-cart-facebook {
        display: inline-block;
        width: 100%;
      }

      .sm-cart-subtotals {
        margin: 10px 0px 35px;

        .price {
          font-size: 14px;
          font-weight: bold;
        }
      }
      .sm-cart-grandtotal { display: table; width: 100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 20px 0px 50px;
        .cart-total-left,.cart-total-center,.cart-total-right{ float: none !important; vertical-align: middle; width: 24%; padding: 20px 15px 20px 0px; display: table-cell;          
         h2{ display: inline-block; font-size: 14px; color: $pink; font-weight: normal; text-transform: none; }
        }
        .black-question-tooltip{
           display: inline-block;
          background: url(../images/ques.gif) no-repeat left top; 
          vertical-align: middle; font-size: 0px; line-height: 0px;
           display: inline-block; width: 13px; height: 14px; position: relative; cursor: pointer;
           .cava-popup{
            display: none; padding: 10px; width: 235px; left: 20px; z-index: 99;
            h1{
              font-size: 15px; margin: 0px 0px 10px;
            }
           } 
          &:hover{
            .cava-popup{
              display: block;
            }
          }
        }
        .sm-tooltip{ }
        .cart-total-right{ text-align: right; width: 52%;
          h2{ color: #000; text-transform: uppercase;}
          .price{ color: $pink;}
        }
      }
      .sm-cart-promo {
        .price {
          color: $pink;
        }
      }

      .sm-cart-facebook {
        margin: 0px 0px 10px;
        span.sm-cart-share{ color: $pink; text-transform: uppercase;}
        a{  background-color: #4e69a2; display: inline-block; line-height: 20px; padding: 0px 10px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
            color: #fff; font-weight: bold; @include border-radius(2px);
            border-color: #435a8b #3c5488 #334c83; text-transform: uppercase;}
        .fb-count{ border: 1px solid #898f9d; margin-left: 6px; @include border-radius(2px); position: relative; display: inline-block; padding: 0px 8px;
          .arrow{ background: url(../images/arrow-fb.gif) no-repeat left top; width: 5px; height: 6px; left: -5px; position: absolute; top: 7px; font-size: 0px; line-height: 0px;}
        }
        .price {
          color: $pink;
        }
      }
    }
  }

  .sm-checkout-left {
    float: left;
    width: 48.4%;
  }

  .sm-checkout-right {
    float: right;
    width: 48.4%;
    #delivery_option{
      table{ width: 100%;}
    }
  }
  .sm-cart-j2t{ 
    label{ 
      padding: 0px 0px 0px 5px;
      span{ color: $pink;}
    }
  }
}
.opc{
    .active,.allow,.section{
          .step-title {
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #ffffff)); 
          background-image: -webkit-linear-gradient(#e8e8e8, #ffffff); 
          background-image: -moz-linear-gradient(#e8e8e8, #ffffff); 
          background-image: -o-linear-gradient(#e8e8e8, #ffffff); 
          background-image: linear-gradient(#e8e8e8, #ffffff);
          -moz-border-radius: 5px 5px 0 0 ;
          -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
          background-color: none !important;
          border: none;
          border-bottom: 1px solid #999;
          padding: 9px 20px;
          h2{ font-size: 18px; color: #000; line-height: 1.35; font-family: $PTserif;}
        }
      }
    .step{ padding: 15px 25px;
    background: none !important; border: none;
    #sm-step1_shipping_method{      
      .shipping-method-top
        { padding: 0px 0px 10px; margin: 0px 0px 12px; border-bottom: 1px solid #ccc;
          h2{ font-size: 15px;  }
          .form-list{
            label{float: left; min-width: 205px; font-size: 15px; font-weight: bold; line-height: 28px; }
            #delivery_country_main{
             background: #fff; float: left; min-width: 165px; font-weight: bold; border: 1px solid #cfcfcf; @include border-radius(3px); padding: 4px 10px; position: relative;             
             #delivery_checked{ background: url(../images/arrow-down.png) no-repeat right 8px; font-weight: normal; border: none; height: auto;  cursor: pointer; color: #000; display: block; line-height: 18px; font-size: 14px; padding: 0px 10px 2px 7px; }
             #ul_delivery_option{
              top: 28px; min-width: 184px; left: 0px; height: 300px; overflow-y: scroll; position: absolute; background: #fff; border: 1px solid #ccc; z-index: 99;
              > li{
                padding: 0px 10px; font-weight: normal; cursor: pointer;
              }
              &.overlay-deactive {display: none;}
              
             }
            }
          }
      }
      .sm-choose-shipping{ margin-bottom: 12px;
        strong{ font-size: 14px;}
      }
    }
    #delivery_option{
      margin: 0px 0px 30px;
      table{ border-left: 1px solid #979797;
        td,th{ padding: 10px; border-bottom: 1px solid #979797; border-right: 1px solid #979797;}
        th{background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #ffffff)); 
          background-image: -webkit-linear-gradient(#eaeaec, #ffffff); 
          background-image: -moz-linear-gradient(#eaeaec, #ffffff); 
          background-image: -o-linear-gradient(#eaeaec, #ffffff); 
          background-image: linear-gradient(#eaeaec, #ffffff); font-size: 16px; text-align: center; border-top: 1px solid #979797; 
      }
      td{
          input[type="text"] { @include border-radius(3px); width: 105px; text-indent: 5px; margin-right: 5px; }
          button{ background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7fb), color-stop(100%, #e9eaec)); 
          background-image: -webkit-linear-gradient(#f6f7fb, #e9eaec); 
          background-image: -moz-linear-gradient(#f6f7fb, #e9eaec); 
          background-image: -o-linear-gradient(#f6f7fb, #e9eaec); 
          background-image: linear-gradient(#f6f7fb, #e9eaec); border: 1px solid #c3c3c3; @include border-radius(3px); padding: 0px 10px; height: 24px; font: 12px/22px "PT Sans",sans-serif,Arial,Helvetica,Verdana;
        }
       }
      td.last{ padding-left: 50px;}
      th{
        .cava-popup{
          text-align: left;
        }
      } 
    }
  }
    .free-personalised-msg{ border-bottom: 1px dashed #cbcbcb; margin-bottom: 15px;
      .input-box{ margin: 0px 0px 7px;
        .checkbox{ display: inline-block; vertical-align: middle; }
        label{ display: inline-block; background: url(../images/bg-gif.gif) no-repeat left top; line-height: 21px; padding-left: 26px; font-weight: bold;}
        textarea{ height: 80px; border: 1px solid #dbdbdb; width: 100%; margin-bottom: 5px; padding: 5px 0px; text-indent: 10px; @include border-radius(3px);
        }
        p{ text-align: right;}
      }
    }
  }
  .sm-gif-cart 
  {
    padding: 0px 0px 10px; border-bottom: 1px dashed #ccc; overflow: hidden; margin: 0px 0px 20px;
    h2{ font-size: 14px; margin: 0px 0px 5px;}
    .giftcard{
      float: left;
    }
    .discount{
      float: right;
    }
    .giftcard,.discount{
      .sm-discount-form
      {
        input{
          border: 1px solid #dbdbdb;@include border-radius(3px);
          -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
          -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075); width: 180px; height: 25px;
          padding: 0px 0px 0px 5px; color: #888; font-size: 12px; margin-right: 10px;
        }
        .button{
          color: #131210;
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f6f8), color-stop(100%, #e8e9ed)); 
          background-image: -webkit-linear-gradient(#f5f6f8, #e8e9ed); 
          background-image: -moz-linear-gradient(#f5f6f8, #e8e9ed); 
          background-image: -o-linear-gradient(#f5f6f8, #e8e9ed); 
          background-image: linear-gradient(#f5f6f8, #e8e9ed); border: 1px solid #dcdcda;
           @include border-radius(3px); padding: 0px 10px; height: 25px; font: 12px/25px "PT Sans",sans-serif,Arial,Helvetica,Verdana;
           span{
            color: #10100e; font-weight: normal;
           }
        }
        .input-box{ margin: 0px 0px 10px;}
        a.link{
          color: #393939; text-transform: uppercase;
        }
      }
    }
    .giftcard{
      a{
        text-decoration: underline;
      }
    }
    .discount{
      a{
        background: url(../images/arrow-pink.gif) no-repeat right 5px; padding: 0px 9px 0px 0px;
      }
    }
  }
  #sm-step1_promotions{
    .sm_step1_promotions{
      background: url(../images/bg-line.gif) repeat left top; margin: 0px 0px 18px; padding: 12px 0px; text-align: center; font-size: 25px;
      color: #000100;
    }
  }
  #sm-step1_total
  {
    table{
     width: 100%;
     td{
      padding: 6px 0px 6px 30px; font-size: 14px; text-transform: uppercase;
      strong.strong-value{
        font-weight: normal; font-size: 16px; 
        .price{ color: $pink; font-weight: normal; background: url(../images/arrow-big.gif) no-repeat right 6px; padding: 0px 15px 0px 0px;}
      }
      .currency_list{
       margin: 0px 0px 0px 10px; position: relative;
       .currencies-list{
        .cava-popup{
          left: auto;
          right: -78px;
          .small-arrow{
            left: auto; right: 47px;
          }
        }
       }
      }
     
     }
     td:first-child{ text-align: right;}
     td:last-child{ width: 40%;}
    }
  } 
  #delivery-option-buttons-container,#delivery-detail-buttons-container,#payment-option-buttons-container{  padding: 0px 0px 10px;
      button.button{
        height: 34px; text-transform: uppercase;
        > span{
          background: url(../images/arrow-white.png) no-repeat right center; padding: 0px 10px 0px 0px;
           > span{ font-size: 14px;}
        }
      }     
  }
  #checkout-step-delivery_detail{
    #co-shipping-form,#co-delivery-detail-div{
      .title{
        h2{
          border-bottom: 1px solid #ccc; font-size: 18px; padding: 0px 0px 18px; margin: 0px 0px 15px;
        }
      }
      .delivery-notification,.delivery-new-account{
        .title{ margin-bottom: 10px;
          h2{
            border-bottom: none; display: inline-block; vertical-align: middle; padding: 0px; margin: 0px 0px 0px; font-size: 15px; text-transform: none;
          }
        }
      }
      .form-list
      {
        li{
          .input-box{ width: 100%;
           input{
              @include border-radius(3px);
              font-style: italic; width: 100%; text-indent: 8px;            
            }           
            input[type="checkbox"]{ width: auto; display: inline-block;}
          }
          .input-box-address{
            float: right;
            label{
              float: none; vertical-align: middle; margin: 0px 5px; display: inline-block;
            }
          }
       }
      }
     
    }
  }
  .sm-step2-shipping-address{
        .name-firstname,.field-country{
          width: 218px; margin-right: 10px;
        }
        .name-suffix,.field-code{ width: 130px; }
        .name-lastname,.field-billing{ width: 218px; float: right;}
        
        .customer-name{ 
          overflow: hidden;
        }
        .fields-rows{
          .field{ width: 49%;}
        }
        .selector{
          width: 206px !important;
           @include border-radius(3px); height: 22px; line-height: 22px; overflow: visible;
           span{ background: url(../images/arr-down-gray.png) no-repeat right center; width: auto !important; height: 22px; line-height: 22px; color: #7d7d7d;}
           .validation-advice{ padding-left: 17px; margin: 3px 0px 0px -10px;}
        }
        .input-box-address{ float: right; width: auto !important;}
        
     }
     .rows-input,.input-box-check{
      overflow: hidden; margin: 0px 0px 12px;
      .rows-input-box{ width: 49%; }
      input[type="text"],input[type="password"]{
        width: 100%;  @include border-radius(3px); text-indent: 8px;
      }
     }
  .step2-total-paypal{
    clear: both; text-align: right; margin-bottom: 35px; padding-right: 25px; padding-bottom: 10px; color: #77787a; font-size: 10px; border-bottom: 1px solid #ccc; 
  }
  #sm-step2_total,#payment-option-buttons-container-wrap{
    display: table; padding: 0px; margin: 0px 0px 10px; width: 100%;
    .step2-total,.input-box,#payment-option-buttons-container{
      display: table-cell; vertical-align: bottom;
      .step2-grand-total{
        padding-left: 50px; text-align: right;
        h2{
          margin: 0px; font-size: 15px; font-weight: normal; padding: 0px 15px 0px 0; text-transform: uppercase; display: inline-block;
        }
        .price{ color: $pink; font-size: 15px;}
      }
      .buttons-set{ padding: 12px 0px 0px;}
      a{
        text-decoration: underline;
      }
      .input-box{
        text-align: left;
      }
    }
    .step2-total-right{
      text-align: right;
    }
  }
  .sm-step2-login{
    .sm-remmember{
      float: left;
      input[type="checkbox"]{ width: auto !important;}
      .input-box{ width: auto !important; display: inline-block;}
      label{
        float: none !important;
      }
    }
    .sm-forgot-password{
      float: right;
      a{ color: #999; text-decoration: underline; font-size: 10px;}
    }
    .form-list{
      .fields-rows{
        .field{
          width: 49%;
          label{
            margin: 0px 0px 2px;
          }
        }
      }
    }
    .sm-button-login{
      float: right;
      .button{
        height: 27px; padding: 0px 18px;
        > span{
          background: url(../images/arrow-white.png) no-repeat right center; padding: 0px 10px 0px 0px;
        }
      }
    }
    .le-socialconnect-social{
      margin: 0px; float: left; 
      .account-login
      {
        .col3-set{
          .col-3{
            .content{
              .le-social-button-login{
                width: auto; padding: 0px; margin: 6px 8px 0px 0px; border-right: 1px solid #d3d3d3; height: auto; line-height: 10px;
              }
              margin: 0px; border: none; min-height: 0px;
              p{ margin: 0px; padding: 0px;}
              h2{ margin: 0px; padding: 0px;}
            }
          }
        }
      }
    }
  }
  
  .pink-question-tooltip,.pink-notification-tooltip{ position: relative; padding: 0px; vertical-align: middle; display: inline-block;  background: url(../images/question.png) no-repeat left top; width: 17px; height: 17px; 
        .cava-popup{
          display: none; right: 20px; width: 235px; padding: 10px;
            > div{
            
             h1{ font-size: 15px;}
            }
        }
        &:hover{
        .cava-popup{
          display: block;
        }
       }
      }
      .pink-notification-tooltip{
        background: url(../images/info.png) no-repeat left top;
      }
  .sm-step2-end{ 
    border-top: 1px solid #ccc; padding: 10px 0px 0px;
    img{
      vertical-align: middle; margin-left: 5px;
    }
  }
  .sm-step3-billing-address{
    .name-firstname,.field-country{ 
      float: left;
       width: 218px;margin-right: 10px; 
    }
    .title{ margin-bottom: 15px;overflow: hidden;
      h3{ font-size: 15px; text-transform: none; margin-bottom: 0px;}
    }    
    .name-suffix,.field-code{ width: 130px; }
    .name-lastname,.field-billing{ width: 218px; float: right;}
    .customer-name{ 
          overflow: hidden; }
     .fields-rows{
        .field{ width: 49%;}
      }
      .selector{
          width: 206px;
           @include border-radius(3px); height: 22px; line-height: 22px; overflow: auto;
           span{ height: 22px; line-height: 22px; color: #7d7d7d;}
           .validation-advice{ padding-left: 17px; margin: 3px 0px 0px;}
        }
    .input-box-address{ float: right; width: auto !important;}
    .input-box{
      width: 100% !important;
    }
    input.input-text{
      @include border-radius(3px);  width: 100% !important; border: 1px solid #ccc; text-indent: 8px;
    }
    .form-list{
      .field1{ width: 49%; float: left;}
      label{ float: none; color: #7d7d7d;       
      }
      #sm-billing-confirm label{ color: #2b2b2b; }
    }
    input[type="checkbox"]{ margin-right: 5px;}
  }
  #payment-option-buttons-container-wrap{ text-align: left; padding: 30px 0px; margin-bottom: 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
    .input-box{ font-size: 11px; padding-right: 10px;
      a{
        color: #0065c1; text-decoration: none;
      }
    }
    #payment-option-buttons-container{ padding-bottom: 0px !important;}
    input[type="checkbox"]{ margin-right: 5px;}
   }
   .sm-step3-end{
    display: table; width: 100%;
    .step3-end{
      display: table-cell; vertical-align: middle;
      p{
        margin: 0px; color: #858585; font-size: 10px;
      }
    }
    .end-right{
      text-align: right;
    }
   }
  #co-payment-form{
    .sp-methods
    { 
      #payment_form_ccsave{ margin: 30px 0px 0px;        
          label{ font-weight: none; float: left; color: #000;  line-height: 28px; width: 150px; }
        .input-box{ width: auto !important;
          input.input-text,select{ width: 215px; @include border-radius(3px);}
          select.month{ width: 105px;}
          select.year{ width: 65px;}
          .cvv{ width: 45px;}
        }
      } 
    }

  }


  textarea{outline: none;}
  input{ box-sizing: border-box; }
}
.order-success-right{ font-family: Arial, Helvetica, sans-serif;  }
.order-success-info{ margin: 0px 0px 25px;
  table{ width: 100%;
    td{ padding: 15px 15px 15px 0px; font-size: 10px;}
    thead
    td{ border-bottom: 1px solid #cfcfcf; padding: 5px 0; font-weight: bold; }
  }

}
.order-success-rewardpoints,#recommendations-form{
  .title{
    h1{ font-weight: none; text-transform: uppercase; font-size: 12px;font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #cfcfcf; padding: 0px 0px 8px; margin-bottom: 15px; }
  }
}
.o-s-rewardpoints-info{ overflow: hidden; font-size: 9px; color: #000;
  .o-s-rewardpoints-left{ float: left; width: 65%; line-height: 17px;
    span{ color: $pink;
      a{ color: $pink;}
    }
    p{ margin: 0px;}
  }
  .o-s-rewardpoints-right{ float: right; width: 25%; font-weight: bold; line-height: 20px;
    .o-s-rewardpoints-row,.o-s-rewardpoints-total{ overflow: hidden; text-transform: uppercase;
      label{ float: left; width: 50%;}
      span{ float: right; }
    }
    .o-s-rewardpoints-total{ color: $pink; padding: 5px 0 0; border-top: 1px solid #cfcfcf;}

  }
}
#recommendations-form{ display: block;position: relative;
  .title{
    h1{ margin: 0px;}
  }
  #sm-poll-list{
    background: #fafafa; padding: 18px 5px 45px 10px; overflow: hidden; 
    li{ float: left; color: #ababab; font-size: 9px; margin-right: 35px;}
  }
  .buttons-set{ margin: 0px; padding: 0px; position: absolute; right: 10px; bottom: 10px;}
}
.order-success-thankyou{ background: #fafafa; padding: 10px; @include border-radius(5px); border: 1px solid #919191; margin: 0px 0px 35px;
  .sub-title{ margin: 0px 0px 8px; padding: 0px;}
  p{ font-size: 9px; font-family: "Times New Roman", Times, serif; line-height: 18px; margin: 10px 0px 0px; }
}
.checkout-onepage-success .page-title{ border-bottom: none;
  h1{ margin-bottom: 15px;}
}
.checkout-onepage-success .sm-checkout-inner .title {
  h2{ float: left;}
  span{ float: right; background: url(../images/fb-icon.png) no-repeat left 1px; line-height: 21px; padding: 0px 0px 0px 30px; font-weight: bold;font-family: Arial, Helvetica, sans-serif; }
}
.checkout-onepage-success .sm-checkout-inner{ padding: 15px 25px;}
.checkout-onepage-index .sm-checkout-left .sm-checkout-inner div.title{ overflow: hidden;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #ffffff)); 
      background-image: -webkit-linear-gradient(#e8e8e8, #ffffff); 
      background-image: -moz-linear-gradient(#e8e8e8, #ffffff); 
      background-image: -o-linear-gradient(#e8e8e8, #ffffff); 
      background-image: linear-gradient(#e8e8e8, #ffffff);
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid #999;
      padding: 9px 20px;

      h2 {
        font-size: 18px;
        margin: 0;
      }
    }
.checkout-onepage-success .checkout-onepage-index .sm-checkout-inner .sm-cart-items{ padding: 0px;}
.checkout-onepage-success .checkout-onepage-index .sm-checkout-right .sm-checkout-inner { padding: 15px 25px;}
.price-percent{ color: $pink;}
input::-moz-placeholder{ opacity: 1 !important; color: #000 !important;}
.sm-step2-shipping-address,.sm-step3-billing-address{
    input::-moz-placeholder,input[placeholder]{color: #7d7d7d !important;}
  }
textarea{outline: none;}
