.feature-promotion {@extend .clearfix;
  margin-bottom: 64px;
  .shadow-heading {margin-top: 0;}
  ul {
    @extend .clearfix;
    li {
      @include box-sizing(border-box);
      float: left;
      width: 32.82442748091603%;
      margin-right: 0.7633587786259542%;
      &:last-child {
        margin-right: 0;
      }
      img {
        @include box-sizing(border-box);
        width: 100%;
        border: 1px solid $border-1;
      }
      .img   { margin-bottom: 10px; }
      .label { margin-bottom: 0; line-height: 32px; font-weight:bold;font-size: 16px; line-height: 32px; padding-left: 20px; background: url(../images/featured-promotions-label.jpg) 0 0 no-repeat; color: $pink;}
    }
  }

  @media screen and (max-width: 959px) {
    ul {
      li {
        .label { font-size: 11px; line-height: 2; }
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    ul {
      li {
        width: 100%;
        float: none;
        margin: 0 0 10px 0;
      }
    }
  }
}

.top-menu-block {
  width: 1310px;
  margin: 5px auto 30px auto;
  height: 30px;
  @extend .clearfix;
  #deal-of-week,
  #most-wanted,
  #featured-product {
    @include box-sizing(border-box);
    float: left;
    width: 32.3%;
    margin-right: 1.3%;
    background: #eeeeee;
    padding-left: 168px;
    background-image: url(../images/top-menu-bg.png);
    background-repeat: no-repeat;
    > a {
      text-decoration: none;
      font-family: $PTserif;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      
    }
  }
  #deal-of-week {
    background-position: 0 0;
    > a {
      line-height: 30px;
    }
  }
  #most-wanted {
    background-position: 0 -30px;
    > a {
      line-height: 30px;
    }
  }
  #featured-product {
    background-position: 0 -60px;
    margin-right: 0; width: 32.8%;
    > a {
      line-height: 30px;
    }
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}.main-banner {
  @extend .clearfix;
  margin-bottom: 30px;
  width: 1310px;
  margin: 0 auto;
  .banner-slide {
    @include box-sizing(border-box);
    overflow: hidden;
    float: left;
    width: 862px;
    height: 399px;
    border: 1px solid $border-1;
    border-radius: 4px;
    .flexslider {
      margin: 0;
      box-shadow: none;
      border: 0;height: 399px; z-index: 1;
      img {
        border-radius: 4px;
      }
      .flex-control-nav {
        position: absolute;
        left: 21px;
        bottom: 16px;
        width: auto;
        li {
          margin: 0 2px;
        }
        &.flex-control-paging {
          li {
            a {
              display: inline-block;
              width: 18px;
              height: 18px;
              background: url(../images/main-slider-pager.png) -22px 0 no-repeat;
              box-shadow: none;
              &:hover,
              &.flex-active {
                background: url(../images/main-slider-pager.png) 0 0 no-repeat;
              }
            }
          }
        }
      }
      .flex-direction-nav {
        display: none;
      }
    }
  }
  .deal-of-day {
    float: right;
    width: 431px;
  }

  @media screen and (max-width: 1024px) {
    width: 940px;
    .banner-slide {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 959px) {
    width: 748px;
    margin-bottom: 20px;
    .banner-slide {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      .flexslider img {
        border-radius: 0;
      }
    }
  }
  @media screen and (max-width: 767px) {
    width: 100%;

  }
}

.stylist-pick {
  position: relative;
  @extend .square-bx-control;
  .shop-more-link {
    position: absolute;
    top: 20px;
    right: 0;
    color: $pink;
    font: bold 10px/1.5em $PTserif;
    text-transform: uppercase;
    text-decoration: none;
  }
  .stylist-product {
    .owl-carousel .owl-wrapper {z-index: 1000}
    .enlarge .item {
      video {max-height: 140px;}
      .item-wrapper.enlarge-real{height: 370px;width:261px; left:0;}
    }
    .bx-wrapper{
      .products-grid {
        li {
          .product-name a {text-transform: uppercase;}
          .product-info {padding-right: 25px;
            .product-name {height: 18px; overflow: hidden;}
            .price-box {font-weight: bold;}
          }
          .actions {padding-right: 25px;}
          }
        } 
      } 
    }
  @media screen and (max-width: 1024px) {
    .shop-more-link {
      top: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    .shop-more-link {
      top: 2px;
    }
  }
}

.get-the-look {
  @extend .square-bx-control;
  @include box-sizing(border-box);
  width: 268px;
  padding: 13px 10px; 
  border: 1px solid $border-2;
  h2 {
    text-align: center;
    line-height: 17px;
    padding-bottom: 7px;
    border-bottom: 1px dashed $border-1;
    margin-bottom: 10px;    
  }
  .bx-wrapper{
    .bx-controls-direction a {top:175px; display: none;
    &.bx-prev {left:-5px}
    &.bx-next {right:-5px}
    }
    &:hover {
      .bx-controls-direction a {display: block;}
    }
  }
}
.homepage-tab { margin-bottom: 80px;
  @extend .clearfix;
  .get-the-look {
    float: left;
  }
  #homepage-product-tab {
    float: right;
    width: 1010px;
    background: url(../images/line-shadow.png) center bottom no-repeat;
    background-size: 100%;
    .ui-tabs .ui-tabs-panel {
      padding: 0 !important;
    }
    .ui-tabs-nav{ padding:0; border-bottom: 1px solid $border-2;
      li {width: 162px; text-align: center;
       a {text-transform: uppercase;font-size: 14px;float: none; display: inline-block;}
     }
    }
    .owl-item {border-right:1px solid $border-2;
      .item {min-height: 355px;position: relative;
        .item-wrapper.enlarge-real {left:-18px;}
        .amconf-images-container img {width:12px; height: 12px;}
        .product-name {text-transform: none; a{text-decoration: underline;} }
        .color-option-container > label {display: none;}
        .product-image img {margin-bottom: 10px;}
        .description {height: 18px; overflow: hidden; margin-bottom: 8px;}
        .ratings {margin:0;}
        .price-box {margin:5px 0 7px;}
      } 
    }
    .bx-wrapper {margin-bottom: 27px;
      .bx-pager {
        padding-top: 30px;padding-bottom: 16px;height: 10px;width: auto;float: right;position: static;
      }
      .bx-controls .bx-controls-direction a {top:164px;
        &.bx-prev {left:-15px;}
        &.bx-next {right:-15px;}
      }
      .bx-viewport {box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow:none;
        li {border-right:1px solid $border-1;margin-right: 20px; padding-right: 25px; min-height: 355px;position: relative; height: 380px;
          &:nth-child(4n) {border-right: none;}
          .actions .button {position: absolute;right:25px;top:391px; text-transform: uppercase;font-size: 11px;
            span {font-size: 11px;}
          }
        }
      }
    }
    .owl-carousel .owl-wrapper-outer{padding-bottom: 10px; z-index: 1000;}
    .owl-controls {width:auto; float:right; margin-top: 6px;
      .owl-buttons div {top:169px;}
    }
    .bottom-link {
      float: right;position: relative;
       padding-right: 8px;
      a {
         font-family: $PTserif; text-transform: capitalize;
       text-decoration: underline;
      }
    }
  }
  #homepage-best-selling-tab,
  #new-arrivals-tab,
  #deal-of-week-tab,
  #back-in-stock-tab {
    @extend .square-bx-control;
    padding: 26px 0px 33px 0!important;
    .bx-wrapper .bx-viewport li {text-align: center;}
  }
  @media screen and (max-width: 1024px) {
    #homepage-product-tab {
      width: 662px;
    }
  }
  @media screen and (max-width: 959px) {
    #homepage-product-tab {
      width: 470px;
    }
  }
  @media screen and (max-width: 767px) {
    #homepage-product-tab,
    .get-the-look {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.shop-the-look-container {
  .bx-wrapper .bx-controls-direction a {
    top: 30%;
  }
  .products-grid {
    .product-image { margin-bottom: 5px; }
    .product-name {
      line-height: 20px;
      a {
        text-decoration: none;
        font-weight: normal;
        text-transform: capitalize;
        font-size: 11px;
      }
    }
    .ratings { margin: 5px 0; }
    .price-box {
      .old-price {
        .price {
          color: $black !important;
        }
        margin-right: 30px;
      }
      .special-price,
      .regular-price {
        .price {
          font-weight: bold;
          margin-right: 40px;
          color: $pink;
        }
      }
    }
    .actions {
      .button {
        margin-right: 40px;
      }
    }
  }
}
.cms-home .col-main {overflow: hidden;}

// Remember Me popup
.window-overlay {
  background: url(../images/window_overlay.png) repeat;
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 990;
}

.remember-me label {
  float: none;
  margin: 0 6px;
}

.remember-me-popup {
  background: #fff;
  border: 1px solid $border-1;
  -webkit-box-shadow: 0 0 6px $border-1;
  -moz-box-shadow: 0 0 6px $border-1;
  left: 50%;
  margin: -85px 0 0 -200px;
  position: absolute;
  text-align: left;
  top: 50%;
  width: 400px;
  z-index: 1000;
  box-shadow: 0 0 6px $border-1;
}

.remember-me-popup h3 {
  background: #d9e5ee;
  border-bottom: 1px solid $border-1;
  font-size: 14px;
  padding: 5px 10px;
}

.remember-me-popup .remember-me-popup-head {
  position: relative;
}

.remember-me-popup .remember-me-popup-head .remember-me-popup-close {
  background: url(../images/btn_window_close.gif) no-repeat;
  display: block;
  height: 15px;
  position: absolute;
  right: 7px;
  text-indent: -9999em;
  top: 7px;
  width: 15px;
}

.remember-me-popup .remember-me-popup-body {
  padding: 10px;
}

.remember-me-popup .remember-me-popup-body a {
  background: #f18200;
  border: 1px solid #de5400;
  color: #fff;
  display: inline-block;
  font: bold 12px/19px Arial, Helvetica, sans-serif;
  height: 19px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

// Map popup
.cart-msrp-totals {
  color: red;
  font-size: 12px !important;
  font-weight: bold;
  margin: 10px 10px 0;
  padding: 10px;
  text-align: right;
  text-transform: uppercase;
}

.map-cart-sidebar-total {
  color: red;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  text-align: left;
  text-shadow: 0 1px 0 #fff;
}

.map-popup {
  background: #fff;
  border: 1px solid $border-1;
  -webkit-box-shadow: 0 0 6px $border-1;
  -moz-box-shadow: 0 0 6px $border-1;
  box-shadow: 0 0 6px $border-1;
  margin: 12px 0 0;
  position: absolute;
  text-align: left;
  width: 300px;
  z-index: 100;
}

.map-popup-heading {
  background: #d9e5ee;
  border-bottom: 1px solid $border-1;
  padding: 5px 30px 5px 10px;
  width: 260px;
}

.map-popup-heading h2 {
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 #f6f6f6;
  white-space: nowrap;
  word-wrap: break-word;
}

.map-popup-arrow {
  background: url(../images/map_popup_arrow.gif) no-repeat;
  height: 10px;
  left: 50%;
  position: absolute;
  top: -10px;
  width: 19px;
}

.map-popup-close {
  background: url(../images/btn_window_close.gif) no-repeat;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  display: block;
  height: 15px;
  position: absolute;
  right: 10px;
  text-indent: -9999em;
  top: 8px;
  width: 15px;
}

.map-popup-content {
  border-top: 1px solid #eee;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  width: 280px;
}

.map-popup-checkout {
  display: inline;
  float: right;
  text-align: right;
}

.map-popup-checkout span {
  display: block;
  padding-right: 30px;
}

.map-popup-checkout .paypal-logo {
  margin: 0 0 5px;
}

.map-popup-price .price-box,
.map-popup-price .price-box .special-price {
  margin: 0;
  padding: 0;
}

.map-popup-price {
  margin: 5px 0 0;
}

.map-popup-text {
  clear: right;
  margin: 0 10px;
  padding: 10px 0;
  text-align: left;
  word-wrap: break-word;
}

.map-popup-only-text {
  border-top: 1px solid $border-2;
}
@media screen and (min-width: 1025px) {
  .shop-the-look-container {
    .bx-wrapper .bx-prev {
      left: 50% !important;margin-left: -11px !important;top: 0 !important;background: url(../images/bx-control.png) no-repeat 0 0;
      &:hover {
        background: url(../images/bx-control.png) no-repeat 0 0;
      }
    }
    .bx-wrapper .bx-next {
      right: 50% !important;margin-right: -11px !important;top: 100% !important;background: url(../images/bx-control.png) no-repeat 0 -24px;
      &:hover {
        background: url(../images/bx-control.png) no-repeat 0 -24px;
      }
    }
  }
}

@media screen and (max-width: 1024) {

}