/*---------Featured Product page----------*/
.top-featured-products { margin-bottom: 10px;
	.sneak-peak-container {border:1px solid $border-1;border-radius: 4px; margin-bottom: 0; height: 232px; padding:20px 15px;
		.products-grid li {
			.product-image {margin-bottom: 10px;}
		} 
	}
}
.menu-featured-container {
	.sub-menu-first {height: 25px; line-height: 25px; background: url(../images/title-filter.png) repeat-x 0 0;color: #fff;	
		li {font-size: 14px; font-family: $PTserif; display: inline-block; padding:0 10px; margin-right: 10px;}
	}
	.sub-menu-second {@extend .clearfix;
		.mnu-list {
			> li {
				.sub-menu-third {float:left; width:16.0833333333%; margin-right: 0.7%; height: 205px;
					p {font-weight: bold; color: #fff; padding-left: 10px; height: 30px; line-height: 30px; font-family: $PTserif; font-size: 14px; margin-bottom: 5px;}
					ul {float:left; padding-left: 10px; width:90px;
						li {font-size: 11px;}
					}
					img {float:right; height: 154px; max-width: 110px;}
					&:last-child {margin-right: 0;}
					&:nth-child(7) {float: right;}
				}
			}
		}
	}
}
.list-title {border:1px solid $border-1;padding: 7px 20px;@extend .white-to-silver-v-gradient; color:#000; font-size: 15px; font-family: $PTserif;
			p {margin:0; display: inline-block; font-weight: bold;}
			a {float:right; color:$pink; font-size: 10px; text-transform: uppercase;}
		}
.featured-product-container {
	.specified-menu {
		.list-product { @extend .clearfix; margin-bottom: 20px;
			.block-3featured {width:50%; @include box-sizing(border-box); float:left;
				&.last {padding-left:15px;}
				&.first {padding-right:15px;}
				.left {padding-right: 30px;width: 376px;
					img {width:376px; height: 428px;}
					.a-left { display: inline-block; float:left;width: 265px;
						.product-name { color:#666668; font-family: $PTserif; font-size: 14px; margin-bottom: 5px;}
						.product-subtitle {font-size: 17px; font-weight: bold;}
					}
					.a-right { float:right;
						display: inline-block;
						.price-box .retail {display: block;}
					}
				}
				.twosmall-products {width:232px;
					float: right;
					.small-product {border:1px solid $border-2; border-top: 0; text-align: right; padding:10px 40px; @include box-sizing(border-box);
						.product-name{text-align: center;margin-top: 5px; font-family: $PTserif;}
						button.button {text-transform: uppercase;}
					}
				}
			}
		}
	}
}
/*---------Shop the look page----------*/
.shop-look-container {margin-bottom: 50px; margin-top: 15px;
	.back-link {margin-top: -20px;}
}
.shop-look-products-view {background: #f6f6f6; @extend .clearfix; margin-bottom: 15px;
	.shop-look-product-image { position: relative; float: left; width: 70.23%;
		>img {width: 100%;height: 1050px;}
		.actions {position: absolute; bottom:10px; right:10px;}
	}
	.shop-look-simple-product {height: 1050px; overflow-y: auto; border:1px solid $border-2; border-left:0;
		float: right; width:29.77%;  @include box-sizing(border-box); padding: 27px 35px 15px;
		.item {width:131px; float: left; @include box-sizing(border-box); height: 231px; overflow: hidden;margin-bottom: 27px;
			.bl-image {background: #fff;}
			.product-attribute {height: 11px; overflow: hidden; margin:10px 0 5px;
				.enlarge-item-color {display: none;}
				li {display: inline-block; float: left;margin-right: 5px;
					img {width:11px; height: 11px;}
				}
			}
			.product-name {height: 14px; font-weight: normal; margin-top: 5px; overflow: hidden; font-size: 11px; line-height: normal;}
			.price {font-weight: bold;}
			.bl-image {
				img {border:1px solid $border-2;width:129px; height: 129px;}
			}
			.availability {display: none;}
			.rating-ct {height: 13px; overflow: hidden;}
			.ratings {margin:0; 
			}
			div.clear {
				.price-ct {overflow: hidden; height: 15px; text-align: right; margin-bottom: 5px; margin-top: 2px;}
				.price-discount {color:$pink; width: 50%; display: inline-block;}
				.price {font-size:10px;}
			}
			
			button.button {height: 19px; line-height: 19px;
				 span {text-transform: uppercase; font-weight: normal; font-size: 9px;line-height: 19px;}
			}
			&:nth-child(2n) {float: right;}
		}
	}
}
.shop-look-product-list {margin:0 27px;
	.sp-product-slide {padding:15px 20px; background: #f6f6f6; @include box-sizing(border-box); 
		.owl-wrapper-outer {}
		.owl-item {
			li {margin-right: 30px; padding-top: 19px; padding-bottom: 4px; float: left;
				.image-view {border:2px solid #f6f6f6; float: left;
				&.active {border:2px solid #b6b0b2;position: relative;
					&:before {content:""; background: url(../images/or-arrow.png) no-repeat 0 0; width: 15px; height: 9px; position: absolute; top: -11px; left:50%; margin-left: -7px;}
					img {border:none;}
				}
				img {border:1px solid $border-2;}
					}
				}
			}
		.owl-buttons {
			div { width:14px; height: 23px;
				&.owl-next {right:-20px;background: url(../images/look-slider-next.png) no-repeat 0 0;
				}
				&.owl-prev {left:-20px; background: url(../images/look-slider-prev.png) no-repeat 0 0;
				}
			}
		}	
	}
}
/*---------Special offer page----------*/
.special-header {margin-bottom: 15px;}
.special-offer-menu {@extend .clearfix;
	.parent-menu { @extend .clearfix;background: #e6e7e9;height: 40px; line-height: 40px;
		li {float: left;padding:0 27px; font-size: 15px; font-weight: bold; border-right:1px solid $border-2;
			&:last-child {border-right:0;}
			a.active {color:$pink;}
		}
	}
	.child-menu {@extend .clearfix;
		li {
			li {
				float: left; padding-left: 28px; padding-right: 8px; background: url(../images/spec-arr-down.png) no-repeat right center; line-height: 32px; text-transform: none; font-size: 11px;
			&:last-child {background: none;}
			}
		}
	}
}
.special-left {width:268px; float: left; margin-right: 23px;
	.get-the-look { margin-bottom: 57px; min-height: 466px;
		h2 {font-size: 15px; text-transform: none;}
	}
	.style-of-month-view {position: relative;
		.actions {position: absolute; bottom: 130px; right:15px;
			button.button {display: block; margin-bottom: 8px; width:100px; text-align: center; padding:0; height: 25px;}
		 }
	}
	.best-seller-week {
		h2.product-name {font-size: 16px;border:none; padding:0; margin-top: 15px;}
		.price-box {font-size: 16px; font-weight: bold;}
	}
}
.special-right {width: 77.7%; float: left;}
.special-products {
	.products-grid { margin-bottom:10px; margin-top: 32px;
		li.item {width:25%; float: left; @include box-sizing(border-box); min-height: 435px;
			&:hover .item-wrapper {
				height: 488px;
			}
		}
	}
}
/*---------Best seller of the week----------*/
.best-seller-header {
	.top-container { @extend .clearfix;
		.title {float: left;}
		a.back-link {float:right; font-weight: bold; margin-top: 0;}
	}
}
.best-seller-product {
	.product-info {
		.top-info { margin-top: 5px; @extend .clearfix; position: relative;top:-55px;
			h3 {text-transform: none; float:left; line-height: 38px; margin-bottom: 0; font-size: 18px;}
			.social-share {float: right;
				.left {font-size: 14px; text-transform: uppercase; margin:0;width:130px; float:left;
					p {margin:0;}
					.above {color:#b1b2b3;}
					.beneath {font-style: italic; font-weight: bold;}
				}
				.social-button {float: right;width:70px;margin-top: 17px;}
			}
		}
		.product-cate-best {@extend .clearfix; border:1px solid $border-2; @include border-radius(4px); background: #f9fafc; display: block; margin-top: 45px; margin-bottom: 20px; padding:10px;
			.list-best-seller-pro { background: #fff; display: block; @extend .clearfix;
				.pro-best {
					.product-top {
						>div {width:33%; float:left; padding:0 15px; @include box-sizing(border-box);}
						.product-for-cart{width: 310px; padding: 0 10px 0 0; float: right;}
						.image {position: relative;
							.order-position {left:auto; right:80px; top:34px;}
							.order-qty {float: right; padding:15px;}
						}

						.add-to-cart {@extend .clearfix; clear: both;
							.buy-as-gift {margin-right: 9px; float:left;
								.btn-gift {float:left; width:146px;
									>span {background: url(../images/gift-button.png) no-repeat 7px center; padding-left: 30px;
										span {text-transform: none;}
									}
								}
							}
							.btn-cart {float:left; width: 145px;
								span {text-transform: uppercase;}
							}
						
						}
					}
				}
			}
		}
		.product-name {font-size: 20px; line-height: 46px;}
		.product-description {@extend .clearfix; border-top: 1px solid $border-2; padding-top:13px;
			.destext {max-height: 105px; text-overflow: ellipsis; overflow: hidden; float: left;}
			.product-link {font-size: 10px;font-family: $PTserif; text-transform: uppercase; text-decoration: underline; color:$pink; float: right;}
			li {color:#666; list-style-type: disc;margin-left: 20px; }
		}
		.product-attribute { margin-top: 25px;@extend .clearfix;
			.sm-conf-li {margin-right: 5px; float: left;}
			.sm-conf-img {width:28px; height: 25px; padding:1px; border:1px solid $border-2;}
		}
	}
	.category-best-seller {
		.list-best-seller-category {border:1px solid $border-1; @extend .clearfix; margin-bottom: 20px;
			.list-specified-best {position: relative;  float: left; width:16.667%;border-right: 1px solid $border-2;@include box-sizing(border-box);
				&:last-child {border-right:none;}
				img {height: 90px;}
				.small-arrow {left:78px; display: none;}
				&.active {
					.small-arrow {display: block;}
				}
			}
		}
	}
}
.product-for-cart { text-align: center;
	.special-price { padding:36px 0 37px;margin-bottom: 10px; margin-top: 10px;font-size: 72px; line-height: 51px; margin-bottom: 3px;color: $pink;font-weight: bold;white-space: nowrap;letter-spacing: -3px;
        span {font-size: 38px; line-height: 23px;display: inline-block;vertical-align: top; letter-spacing: -1px;
          &.currency-symbol {font-size: 42px; line-height: 36px; padding-left: 25px; letter-spacing: -3px;}
          &.discount-status {display: block; text-transform: uppercase; font-size: 16px; font-weight: bold; letter-spacing: 0; font-family: $PTserif; padding-left: 20px;}
      	}
    }
      .price-value,.price-discount,.price-you-save,.price-deal {@include box-sizing(border-box);float: left;width: 33.33%;text-align: center;font-size: 14px;border-right: 1px solid $border-2;margin-bottom: 40px; overflow: hidden;
      	.value {font-weight: bold; clear: both; display: block;font-size: 18px; line-height: normal; padding-top:10px;}
      }
      .price-value .value {text-decoration: line-through; color:#646464;}
      .price-discount .value {color: $pink;}
      .price-you-save,.price-deal {border: 0;
        .value {color: $pink;}
      }
}
.order-position {line-height: 80px; text-align: left;color:#ebebeb;font-size: 100px; font-style: italic; font-family: $Arial; position: absolute;top:-12px; left:3px;
	.order-count {float: left;}
}
.order-qty {color:#9b999d; font-size: 14px; vertical-align: top; line-height: 28px; font-style: normal;padding-left:5px;}
.bestseller-products {
	li.item {border-right:1px solid $border-2; padding-left:30px; padding-right: 30px;
		.bl-image {z-index: -1;}
		&:last-child {border-right:0;}
	}
}
#navigation-top { margin-bottom: 20px;
	.block-content {padding:0 7px;
		h3 {font-size: 14px; margin-bottom: 15px; display: inline-block;
			.expand-icon {padding:0 5px;}
			.click_to_slide {
				.deals_subtract_menu {color:$pink;}
			}
		}
	}
	.l-navigation {padding:0px 5px 10px 15px; font-family: $PTserif; line-height: 20px; text-transform: uppercase;}
}

/*---------Deal of the day----------*/

.deal-week-header { @extend .clearfix;
	.social-share {float: right;
		.left {font-size: 14px; text-transform: uppercase; margin:0;float:left;
			p {margin:0;}
			.above {color:#b1b2b3;}
			.beneath {font-style: italic; font-weight: bold;}
		}
		.social-button {float: right;width:75px;margin-top: 17px;}
	}
}
.deal-of-theday {
	.product-info .product-cate-best {margin-top: 5px;}
	.product-top {@extend .clearfix;
		.image {background: url(../images/daily-deal.png) no-repeat 229px 5px;}
		.product-info { position: relative; height: 277px;
			.countdown {font-family: $PTserif; @extend .clearfix; font-size: 15px; text-transform: uppercase; margin: 5px 0;
				.countdown-text {font-size: 12px; line-height: 21px; text-transform: uppercase;float:left; display: inline-block;}
				.countdown-container {display: inline-block;color:$pink; font-weight: bold; padding-left: 5px;}

			}
			.deal_of_the_day_limit {font-family: $PTserif; font-size: 14px;}
			.abs {position: absolute; bottom: 13px;left:15px; width:100%;}
			.deal_product_rating {margin-bottom: 7px;}
		}
	}
}
.deal_of_day_reviews {margin-bottom: 5px;}
.deal-week-tabs { @extend .clearfix;border-bottom: 1px solid $border-2; margin-bottom: 10px;
	li {width:205px; text-align: center;
		&:last-child {margin-right: 0;}
	}
}
.short-title {font-family: $PTserif; font-size: 14px; color:#646464; padding:5px 0; font-weight: bold;}
.menu_multipledeals_horizontal {@extend .clearfix; margin-bottom: 5px;}
.deal_product_rating {height: 20px;
	.ratings {display: inline-block; margin: 0 5px 0 0;width: 66px; overflow: hidden;
		.rating-box {margin-right: 3px;}
	}
	span {line-height: 25px;}
	.rt1,.rt2 { margin-right: 5px;}
}
.deal-week-products {
	.products-grid  { margin:40px 0;
		li.item {
			margin-bottom:10px;border-right:1px solid $border-2; @include box-sizing(border-box); width:25%; float:left; padding:5px 15px;
			.product-for-cart {
				 .price-value,.price-discount,.price-you-save,.price-deal {margin-bottom: 20px;
			      	.value {font-weight: normal; font-size: 14px; }
			      }
			      .price-value {
			      	.value {color:#000;}
			      }
			      .price-you-save {border-right:1px solid $border-2;}
			      .price-deal {font-weight: bold;
			      	.value {font-weight: bold; font-size: 16px;}
			      }
			}

			.product-name {font-weight: bold; font-size: 14px; text-transform: capitalize;
				a {text-decoration: none;}
			}
			.product-image {position: relative;
				.discount {position: absolute;right:-5px; top:5px; background: url(../images/discount.png); width:36px; height: 39px; color:#fff;
					.off {float: right; position: absolute; top:18px; right:4px;font-size: 8px; text-transform: uppercase; }
					.value {font-weight: bold; font-size: 24px; letter-spacing: -1px; line-height: 27px; position: relative;
						.percent {font-size: 8px; vertical-align: top; line-height: 13px; padding-right: 2px;}
					}
				}
				.product_sold_out {width:79px; height: 79px; position: absolute; background: url(../images/soldout.png) no-repeat 0 0; top:0; left:0;}
			}
			&:last-child {border-right:0;}
			.bottom-item-deal { text-transform: uppercase; font-weight: bold; margin-top: 15px;
				div {display: inline-block;}
			}
			button.button {width:100px;text-align: center; height: 31px;
				span {line-height: 31px; font-weight: bold; font-size: 12px;}
			}
		}
	}
}
/* ------- Gift Card Page ------ */
.product-gift-card .product-view {border:none;
	.stylist-pick {margin-bottom: 50px;}
}
.giftcard-banner {
	.giftcard-banner-img {
		p {width: 964px;margin: 15px auto;font-size: 15px; line-height: normal; color:#333;
			span.gift-icon { background: url(../images/gift-text.jpg) no-repeat 0 0px; padding:0; width: 31px; height: 40px;float:left; display: inline-block;}
			a {color:#1b75bc;}
		}
	}
}
.giftcard-info { @extend .checkout-onepage-index; font-family: $PTserif; font-size: 13px; @extend .clearfix;
	.pick-giftcard {@extend .sm-checkout-left; height: 693px;
		.giftcard-content {padding:15px 25px 0px; @extend .clearfix; margin-bottom: 00px;
			p {margin-bottom: 7px;}
			p a {text-decoration: underline; color:#1b75bc;}
			p.title {border-bottom: 1px solid $border-1; line-height: 30px; margin-top: 20px; font-weight: bold; margin-bottom: 15px;}
		}
	}
	.giftcard-step1 {float:left; margin-bottom: 0;
		.giftcard-feature {clear:both; float: left; margin-top: 15px;
			p.bottom {margin-top: 20px;}
		}
		.product-img-box { width:auto; margin-right: 0; margin-top: 10px;
			.product-images {width:auto; margin-left: 40px; margin-top: 10px; min-height: 200px;
				.main-images{
					img {border:1px solid $border-1;}
				}
			}
			.more-views {
				.bx-wrapper .bx-viewport {min-height: 200px; margin:10px 0;}
				li {
					a img {width:60px; height: 46px;padding:1px; border:1px solid #fff;}
					a.active img{border:1px solid #86c2de; }
				}
			}
		}
		
	}
	.giftcard-step2 {float:right; margin-bottom: 10px;
		.giftcard-form {@extend .clearfix;}
		.form-suggest {border-bottom: 1px solid $border-1; text-align: right; padding-bottom: 5px;}
		.form-list {
			li{ white-space: nowrap;
				label {float:left; margin-right: 10px; min-width: 136px; text-align: right;min-width: 118px;}
				input {width:316px;}
				textarea {width: 407px;  height: 112px;}
				span {text-align: right;}
				a {text-decoration: underline; padding-left: 5px;color:#1b75bc;}
				div {display: inline-block; vertical-align: middle; width: auto;}
				.giftcard_amount_input {
					.input-box {width:auto;
						input {width:54px;}
					}
					div.selector {width:75px; margin-right: 5px;}
				}
				div.field {clear:both; float: none; width:auto; display: block; margin-bottom: 10px;}
			}
		}
		.fieldset {margin-bottom: 7px;
			&.giftcard-form-recipient {border-bottom: 1px dotted $border-2; padding-bottom: 7px;}
			&.giftcard-form-sender {margin-bottom: 0;
				.form-list li:last-child {margin-bottom: 0;}
			}
		}
		.product-shop { width: 537px; margin-right: 0; float: none;
			.product-shop-info {
				label {float:left; margin-right: 10px; min-width: 118px !important; text-align: right;}
				.product-option .quantity-container{ margin-bottom: 10px; margin-top: 5px;
					>span {float:left;}
					input.qty {float: left; margin: 0;}
				}
				.delivery-date { margin-bottom: 20px;
					.input-box {
						span {color:#666; font-size: 12px;}
					}
				}
				.product-options-bottom {text-align: right; margin-bottom: 20px;
					button.button.btn-cart {margin-right: 10px;}
				}
			}
		}
		p.form-note {color:#666; font-size: 10px; display: block; clear: both; margin-bottom: 0;}

	}
}
