.cms-page-view .col-left{width:207px;}
.cms-page-view .top-menu-block{margin-bottom:20px;}
.cms-page-view .breadcrumbs,
.contacts-index-index .breadcrumbs{margin-bottom:18px;}

.cms-page-view .main{
	ul {
		li{
			margin:0 0 15px;
			input.input-text{
				box-sizing:border-box;
				border:1px solid $border-1;
			}
		}
	}
	.std{
		h1{
			font-weight:normal;
			font-size:22px;
			border-bottom:1px solid $border-1;
			padding:0 0 10px;
		}
	}
}

.col-left #nav_static_block{width:100%;}
/*left sidebar*/
#nav_static_block{ font-family: $PTsans;
	float:left;
	width:15.8%;
	background: #f8f8f8;
	border-radius:5px 5px 0 0;
	h2{
		background-image: linear-gradient(#222623, #444446);
		background: -moz-linear-gradient(#222623, #444446); /* FF3.6+ */
		background: -webkit-gradient(#222623, #444446); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(#222623, #444446); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(#222623, #444446); /* Opera 11.10+ */
		background: -ms-linear-gradient(#222623, #444446); /* IE10+ */
		background: linear-gradient(#222623, #444446); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222623', endColorstr='#444446',GradientType=0 ); /* IE6-9 */
		text-transform: capitalize;
		color:#fffefc;
		font-size:15px;
		line-height:28px;
		text-align: center;
		border-radius:5px 5px 0 0;
	}
	h3{
		text-transform: uppercase;
		font-size:12px;
		min-height:27px; line-height: 27px;
		font-weight:normal;
		padding-left:20px;
		margin:0;
		border-top:1px solid $border-1;
		background:url(../images/acc_open.png) 95% center no-repeat;
		box-sizing:border-box;
		cursor: pointer; 
	&.close {background-image:url(../images/acc_close.png);}
	&:hover,&.active {color:$pink;}
	}
	ul{
		padding:0;margin:0 0 5px;
		border-top:1px solid $border-1;
		li{
			list-style: none;
			margin:0 !important;
			a{
				color:#000;
				text-decoration: none;
				font-size:13px;
				line-height:19px;
				padding:4px 25px;
				display: block;
				&:hover,&.active{
					color:$pink;
				}
			}
		}
	}
	.block-top-question{
		h3{
			border:0;
			background:none;font-weight: bold;
		}
		ul{
			border-top:0;
		}
	}
}

.content{
	float:right;

}

/* quick help page*/
.quick-help{
	@extend .clearfix;
	.content{
		@extend .clearfix;
		float:left;
		width:100%;
		.accordion{
			float:left;
			width:67%;
			h1{
				border-bottom:1px solid $border-1;
				text-transform: uppercase;
				padding:0 0 10px;
				font-weight:normal;
			}
			h3{
				font-weight:normal;
				margin:15px 0;
			}
			h4{
				font-weight:normal;
				margin:15px 0;
			}
			.head_accordion{
				text-transform: none;
				padding-left:18px;	
				cursor: pointer;			
				&.close{
					background: url(../images/acc_close.png) left center no-repeat;
				}
				&.open{
					background:url(../images/acc_open.png) left center no-repeat;
				}
			}
			.accordion_content{
				padding-left:18px;
			}
			.bx-account{
				max-width:620px;
				border-top:1px solid $border-1;
				margin-top:30px;
			}
			p{
				margin:15px 0;
			}
		}
		.bx-image{
			float:left;
			width:33%;
		}
	}
}


/*catalog-request page*/
.catalog-request{
	width:1050px;
	float:right;
	.title-page{
		max-width:620px;
		padding-left:15px;
		margin-bottom:15px;
		h1{
			border-bottom:1px solid $border-1;
			font-weight:normal;
			padding:0 0 7px;
			font-size:22px;
		}
	}
	.top-info{
		font-size:14px;
	}
	.text{
		font-size:11px;
		line-height:17px;
		margin-bottom:15px;
	}
	input.input-text{
		height:35px;
		box-sizing:border-box;
		vertical-align: middle;
		padding:0 7px;
		width:100%;
		color:#000;
	}
	a{
		text-decoration: underline;
	}
	.bx-content{
		max-width:725px;
	}
	.catalog-request-frm{
		max-width:620px;
		display:block;
	}
	ul{
		width:100%;
		li{
			@extend .clearfix;
			margin:0 0 15px;
			float:left;width:100%;
			label.lb-input-text{
				display: none;
			}
			h5{
				text-transform: capitalize;
				font-size:14px;
				margin:5px 0;
			}
			.note{
				background:url(../images/info.png) left center no-repeat; padding-left:22px;
				display:block;min-height:18px;line-height:18px;font-size:11px;margin-bottom:8px;
			}
		}
		li.wide{			
			input.input-text{
				width:100%;
			}
		}
		li.fields{
			.input-box{
				float:left;
				margin-right:15px;
				&:last-child{
					margin-right:0;
				}
				&.bx-firstname{
					width:213px;
				}
				&.bx-suffix{
					width:110px;
				}
				&.bx-lastname{
					width:267px;
				}
				&.bx-country{
					width:160px;
				}
				&.bx-zipcode{
					width:160px;
				}
				&.bx-select-country{
					width:270px;
					.selector{
						max-width:100% !important;
						padding:0;
						border:0;height:35px;
						span{
							max-width:100% !important;
							width:270px !important;
							border:1px solid $border-1;
							box-sizing:border-box;
							height:35px;line-height: 35px;
							background:url(../images/select_uniform.png) right center no-repeat;
							padding-right:30px;
							padding-left:7px;
						}
						select{
							max-width:100%;
							height:35px;box-sizing:border-box;
							line-height:35px;
							vertical-align: middle;
							top:0;
							option{
								padding:2px 7px;
							}
						}
					}					
				}
			}
		}
		li.control{
			text-align:right;
			input{
				vertical-align: middle;
				margin-top:-4px;
			}
			.lb-checkbox{
				background:url(../images/question.png) right center no-repeat;padding-right:20px;
				display: inline-block;min-height:17px;font-style:italic;
			}
		}
	}
	.bx-btn{
		text-align:right;
		border-top:1px solid $border-1;
		padding:18px 0 0;
		margin:21px 0 0;
		input{
			width:102px;height:34px;line-height:34px;
			text-align:center;
			background:#ff0066 url(../images/arrow_btn.png) right center no-repeat;
			font-weight:bold;color:#fff;
			font-size:13px;
			border-radius:3px;
			border:0;
			text-transform: uppercase;
		}
	}
}

/*tracking order*/
.catalogrequest-index-index .col-left,
.trackorder-index-index .col-left{width:207px;}
.catalogrequest-index-index .breadcrumbs,
.trackorder-index-index .breadcrumbs{margin-bottom:17px;}
.trackorder{
	width:1040px;
	float:right;
	.bx-content{
		width:68.2692%;
		h3{
			font-weight:normal;
			text-transform: uppercase;
			font-size:21px;
			border-bottom:1px solid $border-1;
			padding-bottom:7px;
			margin-bottom:33px;
		}
		.form-list{
			.require{
				text-align:right;
				color:#fe0154;
				font-size:11px;
				margin:0;
			}
			#track_order_static{
				border:1px solid $border-1;
				padding:13px 10px 10px 10px;
				display:block;
				ul{
					@extend .clearfix;
					li{
						float:left;
						margin:0 0 5px;
						label{
							font-size:11px;
							line-height: 1.2em;
							span{
								color:#fe0154;
							}
						}
						&.email{
							margin-right:72px;
							.input-box{
								width:268px;
							}
						}
						&.order-no{
							margin-right:6px;
							.input-box{
								width:202px;
							}
						}
						.input-box{
							width:202px;
							box-sizing:border-box;
							.input-text{
								width:100%;height:22px;
								padding:0 7px;
							}

						}
						.button{
							width:93px;height:22px;
							border-radius:5px;
							box-sizing:border-box;
							text-align:center;
							margin-top:14px;
							@extend .clearfix;
							padding:0;
							color:#fff;
							span{
								float:left;
								width:80px;
								line-height:22px;
							}
							i{
								float:right;
								width:12px;
								line-height:22px;
							}
						}
					}
				}
			}
		}
	}
	.list-order{
		@extend .clearfix;
		&.list-title{
			background:#ededed;
			border-bottom:1px solid #2d1606;
			margin-top:4px;
		}
		li{
			float:left;
			box-sizing:border-box;
			padding:6px 5px; 
			font-size:11px;
			text-align: left;
			&.col1{
				width:13%;
			}
			&.col2{
				width:12%;
			}
			&.col3{
				width:56%;
			}
			&.col4{
				width:13%;
			}
			&.col5{
				width:6%;
			}
		}
	}
	#oderinfo_static{
		text-align:center;
		padding:20px 0 8px;
	}
	.addthis_toolbox{
		float:right;
		a{
			padding:0 0 0 10px !important;
		}
	}
	.bx-image{
		width:31.7308%;
	}
}


/*contact us*/
#contactForm{
	display:block;
}
#contact_us_main_column { 
	.left-contact {width: 585px;
		.head {border-bottom: 1px solid $border-2; margin-bottom: 20px;padding-bottom:10px;}
		#contact_us_form {width: 371px; float: left; margin-right: 24px;
			.form-list {font-family: $PTserif;
				li {
					.field {display: block; clear: both; width: 100%;margin-bottom: 10px;}
					p {margin-bottom: 0;}
					label {min-width: 118px;}
					textarea {width:368px;}
					div.selector {width: 237px;}
					&.control {margin-top: 20px;
						button.button {
							span {text-transform: uppercase;font-size: 12px;}
						}
					}
				}
			}
		}
		#contact_us_our_location {float:right;width:190px;
			li {list-style-type: square; margin-left: 15px;margin-bottom: 10px; line-height: 15px;}
		}
	}
	#contact_us_footer {margin-top: 20px;
	}
}
/*responsive for cms page*/
@media only screen and (max-width:1300px){
	.cms-page-view .col-left{width:18%;}
	.cms-page-view .col-main{width:80%;}
	.catalog-request{width:100%;}
}
