<p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>">
        <small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
<?php echo $this->getChildHtml('loved.to.tags.tabs'); ?>
<script type="text/javascript"
        src="<?php Mage::getBaseUrl() ?>.'skin/frontend/default/cavabien/js/createnewcard/eCrypt.js"></script>
<?php
$_token = $this->getCurrentToken();
$_address = $this->getCustomerAddress();

// Form Url
$formUrl = $this->getSaveUrl();
$transparent = false;
?>
<?php if ($this->getTitle()): ?>
    <div class="page-title">
        <h1><?php echo $this->getTitle() ?></h1>
    </div>
<?php endif; ?>
<div class="new-credit-card">
        <h4 class="title"><?php echo $this->__('ADD CREDIT CARD') ?></h4>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="tool-tip" id="payment-tool-tip" style="display:none;">
    <div class="btn-close"><a href="#" id="payment-tool-tip-close"
                              title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
    <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>"
                                       alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>"
                                       title="<?php echo $this->__('Card Verification Number Visual Reference') ?>"/>
    </div>
</div>
<div class="editcart-ct">
<form action="<?php echo $formUrl ?>" method="post" id="form-validate">
<?php
if ($_token->getTokenId()) {
    ?>
    <input type="hidden" name="token_id" value="<?php echo $_token->getTokenId() ?>"/>
    <input type="hidden" name="TokenCustomerID" value="<?php echo $_token->getToken() ?>"/>
<?php } ?>

<!-- Card info -->
<div class="fieldset">
<!--    --><?php //echo $this->getBlockHtml('formkey') ?>

    <div class="sp-methods">
        <ul class="form-list">

            <li>
                <div class="input-box">
                    <label for="ewayrapid_saved_cc_owner"
                           class="required"><?php echo $this->__('Name on Card') ?></label>
                    <input type="text" title="<?php echo $this->__('Name on Card') ?>"
                           class="input-text required-entry validate-length maximum-length-50"
                           id="ewayrapid_saved_cc_owner"
                           name="payment[cc_owner]" value="<?php echo $this->escapeHtml($_token->getOwner()) ?>"
                           __maxlength="50" autocomplete="off"/>
                </div>
                <div class="input-box help-disabled-cc">
                    <label for="ewayrapid_saved_cc_number"
                           class="required"><?php echo $this->__('Credit Card Number') ?></label>
                    <!--                        <input type="text" id="ewayrapid_saved_cc_number" data-eway-encrypt-name="payment[cc_number]"-->
                    <input type="text" id="ewayrapid_saved_cc_number" name="payment[cc_number]"
                           title="<?php echo $this->__('Credit Card Number') ?>"
                           class="input-text <?php if (!$this->isEdit()): ?>validate-cc-number validate-cc-type-auto<?php endif; ?>"
                           autocomplete="off"
                           <?php if ($this->isEdit()): ?>value="<?php echo substr_replace($_token->getCard(), 'XXXXXXXXXXXX', 0, -4) ?>"
                           disabled="disabled" <?php endif; ?>/>
                    <input type="hidden" id="ewayrapid_saved_cc_type" name="payment[cc_type]"
                           value="<?php echo $_token->getType() ?>"/>
                    <?php if ($this->isEdit()): ?>
                        <input type="hidden" name="EWAY_CARDNUMBER" value="444433XXXXXX1111"/>
                        <a href="#"><?php echo $this->__('Help') ?></a>
                        <div class="tool-tip" id="cc-help-tool-tip" style="display:none;">
                            <div class="btn-close"><a href="#" id="cc-help-tool-tip-close"
                                                      title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a>
                            </div>
                            <div class="tool-tip-content">To use a new credit card number, please add another card
                            </div>
                        </div>
                    <?php endif; ?>
                </div>

            </li>
            <li class="value_from_date">
                <div class="input-box">
                    <label for="ewayrapid_saved_start_month"
                           class="required"><?php echo $this->__('Expiration Month') ?></label>
                    <select id="ewayrapid_saved_expiration" name="payment[cc_exp_month]"
                            class="month validate-cc-exp required-entry" autocomplete="off">
                        <?php $_ccExpMonth = $_token->getExpMonth() ?>
                        <?php foreach ($this->getCcMonths() as $k => $v): ?>
                            <option
                                value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
                <div class="input-box">
                    <label for="ewayrapid_saved_start_month"
                           class="required"><?php echo $this->__('Expiration Year') ?></label>
                    <?php $_ccExpYear = $_token->getExpYear() ?>
                    <select id="ewayrapid_saved_expiration_yr" name="payment[cc_exp_year]"
                            class="year required-entry" autocomplete="off">
                        <?php foreach ($this->getCcYears() as $k => $v): ?>
                            <option
                                value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="fieldset bill-address">
    <h2 class="legend"><?php echo $this->__('Select an address for this card') ?></h2>
    <div>
        <input type="radio" name="new_billing_address" id="new_billing_address">
        <label for="new_billing_address" ><?php echo $this->__('Enter a new billing address') ?>
    </div>
    <ul class="form-list">
        <li class="fields">
            <div class="input-box">
                <label for="address_firstname" class="required"><?php echo $this->__('First Name') ?>
                </label>
                <input type="text" id="address_firstname" name="address[firstname]"
                       value="<?php echo $this->escapeHtml($_address->getFirstName()) ?>"
                       title="<?php echo $this->__('First Name') ?>"
                       __maxlength="50" class="input-text required-entry validate-length maximum-length-50"/>
            </div>
            <div class="input-box">
                <label for="address_lastname" class="required"><?php echo $this->__('Last Name') ?>
                </label>
                <input type="text" id="address_lastname" name="address[lastname]"
                       value="<?php echo $this->escapeHtml($_address->getLastName()) ?>"
                       title="<?php echo $this->__('Last Name') ?>" __maxlength="50"
                       class="input-text required-entry validate-length maximum-length-50"/>
            </div>
        </li>
  <li class="wide">
            <div class="input-box">
                <label for="country" class="required"><?php echo $this->__('Country') ?></label>
                <?php echo $this->getCountryHtmlSelect(strtoupper($_address->getCountry()), 'address[country_id]', 'address_country') ?>
            </div>
        </li>
        <li class="wide">
            <div class="input-box">
                <label for="address_street_1" class="required"><?php echo $this->__('Address ') ?></label>
                <input type="text" name="address[street][]" __maxlength="50"
                       value="<?php echo $this->escapeHtml($_address->getStreet1()) ?>"
                       title="<?php echo $this->__('Street Address') ?>" id="address_street_1"
                       class="input-text required-entry validate-length maximum-length-50"/>
            </div>
        </li>
        <li class="wide">
            <div class="input-box">
                <label for="address_street_2" class="required"><?php echo $this->__('Address 2(Optional)') ?></label>
                <input type="text" name="address[street][]" __maxlength="50"
                       value="<?php echo $this->escapeHtml($_address->getStreet2()) ?>"
                       title="<?php echo $this->__('Street Address') ?>" id="address_street_2"
                       class="input-text validate-length maximum-length-50"/>
            </div>
        </li>
        <li class="trible">
            <div class="input-box">
                <label for="address_city" class="required"><?php echo $this->__('City') ?></label>
                <input type="text" name="address[city]" __maxlength="50"
                       value="<?php echo $_address->getCity() ?>" title="<?php echo $this->__('City') ?>"
                       class="input-text required-entry validate-length maximum-length-50" id="address_city"/>
            </div>
            <div class="input-box">
                <label for="address_region_id"><?php echo $this->__('State/Province') ?>
                </label>
                <select id="address_region_id" name="address[region_id]"
                        title="<?php echo $this->__('State/Province') ?>" class="validate-select"
                        style="display:none;">
                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                </select>
                <script type="text/javascript">
                    //<![CDATA[
                    $('address_region_id').setAttribute('defaultValue', "<?php echo $_address->getRegionId() ?>");
                    //]]>
                </script>
                <input type="text" id="address_region" name="address[region]" __maxlength="50"
                       value="<?php echo $this->escapeHtml($_address->getState()) ?>"
                       title="<?php echo $this->__('State/Province') ?>"
                       class="input-text validate-length maximum-length-50"/>
            </div>
            <div class="input-box">
                <label for="address_zip" class="required"><?php echo $this->__('Zip/Postal Code') ?></label>
                <input type="text" name="address[postcode]"
                       value="<?php echo $this->escapeHtml($_address->getPostalCode()) ?>"
                       title="<?php echo $this->__('Zip/Postal Code') ?>" id="address_zip"
                       class="input-text validate-zip-international required-entry validate-length maximum-length-30"
                       __maxlength="30"/>
            </div>
        </li>
      
        <li class="wide">
            <div class="input-box">
                <label for="address_telephone" class="required"><?php echo $this->__('Phone') ?></label>
                <input type="text" name="address[telephone]"
                       value="<?php echo $this->escapeHtml($_address->getPhone()) ?>"
                       title="<?php echo $this->__('Phone') ?>"
                       class="input-text required-entry eway-validate-phone validate-length maximum-length-32"
                       id="address_telephone" __maxlength="32"/>
            </div>
        </li>
    </ul>
</div>
<div class="buttons-set">
    <button class="button silver" type="reset" title="<?php echo $this->__('Cancel') ?>" onclick=" return beforeSubmit(this)"><span><?php echo $this->__('Cancel'); ?></span></button>
    <button type="submit" title="<?php echo $this->__('Submit') ?>" onclick=" return beforeSubmit(this)"
            class="button"><span><?php echo $this->__('Submit'); ?></span></button>
     <span id="save-please-wait" class="please-wait" style="display:none;">
            <img class="v-middle" title="Loading..." alt="Loading..."
                 src="<?php echo Mage::getBaseUrl() . '/skin/frontend/default/default/images/opc-ajax-loader.gif'; ?>"
         <?php echo $this->__('Please waiting ...') ?>
     </span>

</div>
</form>
</div>
</div>
<?php
$controllerName = $this->getRequest()->getControllerName();
$actionName = $this->getRequest()->getActionName();
$moduleName = $this->getRequest()->getModuleName();
?>
<script type="text/javascript">
    pjQuery(document).ready(function($){
        if('<?php echo $moduleName ?>' === 'creditcard'){
            $('.last').addClass('current');
        }
    });
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('address_country', 'address_region', 'address_region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'address_zip');
    //    $('form-validate').onsubmit = function () {
    //        return (dataForm.validator && dataForm.validator.validate());
    //    }
    $$('.cvv-what-is-this').each(function (element) {
        Event.observe(element, 'click', toggleToolTip);
    });

    function toggleToolTip(event) {
        if ($('payment-tool-tip')) {
            $('payment-tool-tip').setStyle({
                top: (Event.pointerY(event) - 200) + 'px'//,
            })
            $('payment-tool-tip').toggle();
        }
        Event.stop(event);
    }
    if ($('payment-tool-tip-close')) {
        Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
    }

    $('form-validate').onsubmit = function () {
        return (dataForm.validator && dataForm.validator.validate());
    }
    <!--    var ewayPayment = new EwayPayment($('form-validate'), '--><?php //echo Mage::getSingleton('ewayrapid/config')->getEncryptionKey() ?><!--');-->

    $$('.help-disabled-cc a').each(function (element) {
        Event.observe(element, 'click', toggleToolTipCc);
    });

    function toggleToolTipCc(event) {
        if ($('cc-help-tool-tip')) {
            $('cc-help-tool-tip').toggle();
        }
        Event.stop(event);
    }
    if ($('cc-help-tool-tip-close')) {
        Event.observe($('cc-help-tool-tip-close'), 'click', toggleToolTipCc);
    }
    function beforeSubmit(obj) {
        var y = $('ewayrapid_saved_expiration_yr').value;
        var m = ($('ewayrapid_saved_expiration').value <= 9 ? '0' : '') + $('ewayrapid_saved_expiration').value;
        var cctime = new Date(y + '-' + m).getTime();
        var curTime = new Date().getTime();
        $('validate_from_date_message') != null ? $('validate_from_date_message').remove() : '';
        $('ewayrapid_saved_expiration').removeClassName('validation-failed');
        $('ewayrapid_saved_expiration_yr').removeClassName('validation-failed');
        $$('li.value_from_date')[0].removeClassName('validation-error');
        var validate = dataForm.validator.validate();

        if ($('ewayrapid_saved_expiration_yr').value != '' || $('ewayrapid_saved_expiration').value != '') {
            if (cctime - curTime <= 0) {

                $$('li.value_from_date')[0].insert({after: '<div style="" id="validate_from_date_message" ' +
                    'class="validation-advice">From Date is invalid. It must be earlier than Expiration Date.</div>'});
                $('ewayrapid_saved_start_month').addClassName('validation-failed');
                $('ewayrapid_saved_start_year').addClassName('validation-failed');
                $$('li.value_from_date')[0].addClassName('validation-error');
                return false;
                alert("nho");
            }
        }

        if (!validate) {
            return;
        }
    }


</script>

