<?php echo $this->getChildHtml('loved.to.tags.tabs'); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php
    $_tokens = Mage::helper('cavabien_createnewcard/customer')->getActiveTokenList();

    $_defaultToken = Mage::helper('cavabien_createnewcard/customer')->getDefaultToken();
    $_helper = Mage::helper('cavabien_createnewcard');
?>
    <div class="page-title a-left">
        <h1><?php echo $this->__('My Credit Cards ') ?><span style="text-transform: none;">(<?php echo count($_tokens);echo $this->__(' cards')?>)</span></h1>
    </div>
    <div class="tags-content ">
    <div class="page-title">
        <h1><?php echo $this->__('My default credit card') ?></h1>
        <span class="right"> <a href="#1" class="addnewcard" title="<?php echo $this->__('Add a new card') ?>"
                onclick="window.location='<?php echo $this->getAddCreditCardUrl() ?>';">
            <span><span><?php echo $this->__('Add a new card') ?></span></span>
        </a></span>
    </div>
    <div class="tags-ct credit-ct">
          
    <?php if($_tokens): ?>
        <table id="my-creditcards-table">
           
            <tbody>
            <?php foreach ($_tokens as $_id => $_token): ?>
                <tr>
                    <td>
                        <p><?php echo $_token->getType() ? $_helper->getCcTypeName($_token->getType()) : $this->__('Unknown');  ?></p>
                        <p><?php echo substr_replace($_token->getCard(), 'XXXXXXXXXXXX', 0, -4)  ?></p>
                        <p><?php echo $this->__('Exp: ');?><?php echo $_token->getExpMonth() . '/' . $_token->getExpYear() ?></p>
                        <a class="button silver" href="<?php echo $this->getEditUrl($_id) ?>"><?php echo $this->__('Edit Card') ?></a>
                    </td>
                    <td>
                        <span>
                            <a class="btn-remove-item" href="<?php echo $this->getDeleteUrl($_id) ?>"
                               onclick="return confirm('<?php echo $this->__('Are you sure to delete this Credit Card?') ?>');"><?php echo $this->__('Delete') ?></a>
                        </span>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <script type="text/javascript">decorateTable('my-creditcards-table');</script>
    <?php else: ?>
        <p><?php echo $this->__('You don\'t have any saved credit or debit cards at this time ')?></p>
    <?php endif ?>
</div></div>
