<?php
$cartProducts = $this->getCartProducts();
if ($cartProducts != null) {
    ?>
    <div class="cart-box-popup">
        <?php echo $cartProducts->count() ?> <?php echo $this->__('items in your') ?> <a
            href="#"><?php echo $this->__('Shopping bag.') ?></a>
    </div>

<?php
}
?>
