<?php
$facebookGiveaway = $this->getFacebookGiveaway();
if ($facebookGiveaway!=null) {
    ?>
    <div class="block facebook-giveaway">
        <div class="block-title"><strong> <span><?php echo $this->__('FACEBOOK GIVEAWAY') ?></span> </strong></div>
        <div class="block-content"><div class="clear-both">
            <div class="left"><a href="<?php echo $facebookGiveaway->getProductUrl();  ?>"><img
                    src="<?php echo $this->helper('catalog/image')->init($facebookGiveaway, 'small_image')->resize(200, 230); ?>"
                    alt=""/>
                </a>
            </div>

            <div class="right">
                <?php
                $currency_symbol =  Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                $discountValue = (($facebookGiveaway->getPrice() - $facebookGiveaway->getFinalPrice()) / $facebookGiveaway->getPrice()) * 100;
                $showPrice=Mage::helper('core')->currency($facebookGiveaway->getFinalPrice(), true, false);
                $showPrice = str_replace($currency_symbol, '<span class="currency-symbol">'.$currency_symbol.'</span>', $showPrice);
                $arr_split = explode(".",$showPrice);
                $arr_split_tmp = explode("</span>", $arr_split[0]);
                $arr_split[0] = str_replace($arr_split_tmp[1], '<span class="price-default">'.$arr_split_tmp[1].'</span>', $arr_split[0]);
                $showPrice = $arr_split[0] . "<span>." . $arr_split[1] . "</span>";   
                
                //echo $discountPrice;
                ?>
                <?php if(ceil($discountValue)==100){ ?>
                    <div class="free"><img src="<?php echo $this->getSkinUrl() ?>images/free-hh-image.png" alt=""/></div>
                <?php }else{ ?>
                    <div class="deal-price">
                        <div class="special-price">
                            <?php echo $showPrice?>
                        </div>

                    </div>
                <?php } ?>
                <ul class="price-info">
                    <li class="value">
                        <?php echo $this->__('Value') ?>
                        <span>
                            <?php echo $nomalPrice = Mage::helper('core')->currency($facebookGiveaway->getPrice(), true, false); ?>
                        </span>
                    </li>
                    <li class="discount">
                        <?php echo $this->__('Discount') ?>
                        <span>
                            <?php
//                            $discountValue = (($facebookGiveaway->getPrice() - $facebookGiveaway->getFinalPrice()) / $facebookGiveaway->getPrice()) * 100;
                            echo round($discountValue);
                            ?>%
                        </span>
                    </li>
                    <li class="you-save">
                        <?php echo $this->__('You save') ?>
                        <span>
                            <?php echo Mage::helper('core')->currency(($facebookGiveaway->getPrice() - $facebookGiveaway->getFinalPrice()), true, false); ?>
                        </span>
                    </li>
                </ul>

                <ul class="buttons">
                    <li>
                        <a  onclick="showLESocialPopup('<?php echo $this->getBaseUrl() ?>le_sociallogin/facebook/request/mainw_protocol/http/', 500, 270);" style="cursor: pointer"><img
                            src="<?php echo $this->getSkinUrl() ?>images/facebook-connect-button.png" alt=""/></a></li>
                    <li>
                        <img src="<?php echo $this->getSkinUrl() ?>images/share-the-love-button.png" border="0" alt="facebook" id="fb_share" style="cursor: pointer" />
                    </li>
                </ul>
                <?php
                    if($facebookGiveaway->getSpecialToDate()){
                ?>
                    <div class="end-time"><?php echo $this->__('Ends') ?> <?php echo date("F d, Y", strtotime($facebookGiveaway->getSpecialToDate())); ?></div>
                <?php
                    }
                ?>
            </div>
            </div>
            <div class="a-center"><?php echo $this->__('Connect and like Cava Bien Fashions on Facebook.') ?> <br/> <?php echo $this->__('You will be entered into a
                sweepstakes to win a year of free shoes!') ?>
            </div>
            <div class="actions clearfix">
                <div class="left"><a class="link normal pink upper"><?php echo $this->__('No Purchase necessary') ?></a></div>
                <div class="right"><a href="javascript:void(0)" class="link normal pink pink-arrow-right-icon" id="cava-popup-link">
                        <?php echo $this->__('Official Rules apply') ?>
                        <i class="fa fa-caret-right fa-fw"></i></a>
                        <div id="cava-popup" style="display: none;">
                            <h3><?php echo $this->__('Terms of Use for Sharing Content'); ?></h3>
                            <div class="delivery-content">
                                <?php echo $this->getChildHtml('faceboo_giveaway_rule_popup') ?>
                            </div>
                    </div>
                    <div class="facebook-like-button-round" style="width: 80px; height: 20px; clear: both; overflow: hidden;">
                        <div class="fb-like" data-href="<?php echo $facebookGiveaway->getProductUrl();  ?>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        jQuery(document).ready(function(){
            jQuery('#fb_share').click(function(){
                FB.getLoginStatus(function(response){
                    FB.ui({
                        method: 'feed',
                        name: '<?php echo $facebookGiveaway->getName();  ?>',
                        link: '<?php echo $facebookGiveaway->getProductUrl();  ?>',
                        caption: '<?php echo $facebookGiveaway->getProductUrl();  ?>',

                        description: Base64.decode('<?php echo base64_encode(str_replace("'","\'",htmlspecialchars($facebookGiveaway->getDescription())));  ?>'),

                        picture: '<?php echo  $facebookGiveaway->getImageUrl();  ?>'
                    }, function(response){});
                });
            });

        });
    </script>
<?php
}
?>