<div class="feature-promotion">
    <h2 class="feature-block-title shadow-heading"><?php echo $this->__('Featured Promotions') ?></h2>
    <ul>
        <li><?php echo $this->getChildHtml('promotion.block.1') ?></li>
        <li><?php echo $this->getChildHtml('promotion.block.2') ?></li>
        <li><?php echo $this->getChildHtml('promotion.block.3') ?></li>
    </ul>
</div>