<?php
$amasty = Mage::helper('amconf');
$themHelper = Mage::helper('cavabien_theme');
?>
<div class="homepage-tab">
<div class="get-the-look">
    <h2 class="tab-title"><i class="fa fa-bars">&nbsp;</i><?php echo $this->__('Get the look') ?></h2>
    <ul id="home-get-the-look-slider">
        <?php
        $getTheLookProducts = $this->getTheLook();
        if ($getTheLookProducts != null) {

            foreach ($getTheLookProducts as $getTheLookProduct) {
                ?>
                <li>
                    <div class="product-img">
                        <a href="<?php echo $getTheLookProduct->getProductURL() ?>"
                           title="<?php echo $getTheLookProduct->getName(); ?>">
                            <img src="<?php echo Mage::helper('catalog/image')->init($getTheLookProduct, 'image')->resize(240,360); ?>" height="360px"/>
                        </a>
                    </div>
                </li>
            <?php
            }
        }
        ?>
    </ul>
    <div class="actions a-center">
        <p>Want new boutique picks?</p>
        <button class="button large" onclick="setLocation('<?php echo $this->getUrl('shop-the-look') ?>')"><span><span><?php echo $this->__('Shop the look') ?></span>&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span></button>
    </div>
    <div class="clear"></div>
</div>


<div id="homepage-product-tab">
<ul>
    <li>
        <a id="homepage-best-selling-link" class="tab-title" href="#homepage-best-selling-tab"><?php echo $this->__('Best selling') ?></a>
    </li>
    <li>
        <a id="new-arrivals-link" href="#new-arrivals-tab" class="tab-title"><?php echo $this->__('New arrivals') ?></a>
    </li>
    <li>
        <a id="deal-of-week-link" href="#deal-of-week-tab" class="tab-title"><?php echo $this->__('Deal of the week') ?></a>
    </li>
    <li>
        <a id="back-in-stock" href="#back-in-stock-tab" class="tab-title"><?php echo $this->__('Back in stock!') ?></a>
    </li>
</ul>
<div id="homepage-best-selling-tab">
    <div id="homepage-best-selling-carousel" class="owl-carousel enlarge">
        <?php
        $bestSellingProducts = $this->bestSelling();
        $_customData['image'] =  array('width' => 200, 'height' => 250);
        if ($bestSellingProducts != null) {
            foreach ($bestSellingProducts as $bestSellingProduct) {
                ?>
                <?php $bestSellingProduct->setCustomInfo('bestselling')?>
                <div class="item">
                    <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/item.phtml')->setProduct($bestSellingProduct)->setSmArea('bestSelling')->setCustomData($_customData)->toHtml()?>
                </div>
            <?php
            }
        }
        ?>
    </div>
    <?php
    $mostWantedCategoryId = Mage::getStoreConfig('homepage/homepage_block/most_wanted_category_id');
    $category = Mage::getModel('catalog/category')->load($mostWantedCategoryId);
    ?>
    <div class="bottom-link"><a
            href="<?php echo Mage::getBaseUrl() ?>best_seller/"><?php echo $this->__('View more top sellers') ?></a></div>
</div>

<div id="new-arrivals-tab">
    <div id="new-arrivals-block-carousel" class="owl-carousel enlarge">

        <?php
        $newArrivalProducts = $this->newArrival();
        $_customData['image'] =  array('width' => 200, 'height' => 250);
        if ($newArrivalProducts != null) {
            foreach ($newArrivalProducts as $newArrivalProduct) {
                ?>
                <?php $newArrivalProduct->setCustomInfo('newarrival')?>
                <div class="item">
                    <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/item.phtml')->setProduct($newArrivalProduct)->setSmArea('newArrival')->setCustomData($_customData)->toHtml()?>
                    <div class="clear-both"></div>
                </div>
            <?php
            }
        }
        ?>
    </div>
    <?php
    $newArrivalId = Mage::getStoreConfig('homepage/homepage_block/new_arrival_id');
    $category = Mage::getModel('catalog/category')->load($newArrivalId);
    ?>
    <div class="bottom-link"><a
            href="<?php echo Mage::getBaseURL() ?>sm_filter/index/index/status/new_arrival/"><?php echo $this->__('View more new arrivals') ?></a></div>

</div>

<div id="deal-of-week-tab">

    <?php echo $this->getChildHtml('multi_deals_tab') ?>

</div>

<div id="back-in-stock-tab">

    <div id="back-in-stock-carousel" class="owl-carousel enlarge">
        <?php
        $backInStockProducts = $this->backInStock();
        $_customData['image'] =  array('width' => 200, 'height' => 250);
        if ($backInStockProducts != null) {

            foreach ($backInStockProducts as $backInStockProduct) {
                ?>
                <div class="item">
                    <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/item.phtml')->setProduct($backInStockProduct)->setSmArea('backinstock')->setCustomData($_customData)->toHtml()?>
                    <div class="clear-both"></div>
                </div>
            <?php
            }
        }
        ?>
    </div>
    <?php
    $backInStockId = Mage::getStoreConfig('homepage/homepage_block/back_in_stock_id');
    $category = Mage::getModel('catalog/category')->load($backInStockId);
    ?>
    <div class="bottom-link"><a
            href="<?php echo Mage::getBaseUrl() ?>sm_filter/index/index/status/back_in_stock/"><?php echo $this->__('View more Back in stock') ?></a>
    </div>
</div>
</div>
</div>