<div class="main-homepage">
    <!--<div class="feature-promotion-type">
        <?php /*echo $this->__('Feature promotions') */?>
    </div>-->

    <?php  echo $this->getChildHtml('stylistPick'); ?>
    <?php echo $this->getChildHtml('featurePromotion'); ?>
    <?php echo $this->getChildHtml('homepage.tabs'); ?>
</div>
<?php
$session = Mage::getSingleton('customer/session', array('name'=>'frontend'));
?>
<?php if($session->isLoggedIn()):?>
<script type="text/javascript">
    var customerId = '<?php echo $cusId ?>';
    var loveItWpr = jQuery('div.cava-love-it');
    var loveItLabel = loveItWpr.children('a.love-it');
    var lovedItLabel = loveItWpr.children('a.loved-it');
    var loveItValue = loveItWpr.children('span.love-it-count');
    function unLoveIt(id){
        jQuery.ajax({
            url: "<?php echo Mage::getUrl('loveit/index/ajaxUnLoveit') ?>",
            type: "POST",
            data: {customerId: customerId, productId: id },
            dataType: "json",
            beforeSend: function(){
                jQuery('#imgloveit-'+id).show();
            },
            success: function(data) {
                if (data.success == true) {
                    jQuery('#imgloveit-'+id).hide();
                    var countLove = jQuery("#love-it-"+id).find("span.love-it-count").text();
                    jQuery("#love-it-" + id).find("span.love-it-count").text(parseInt(countLove) - 1);
                    jQuery("#love-it-"+id).find('a.loved-it').hide();
                    jQuery("#love-it-"+id).find('a.love-it').show();
                }
            }
        });
    }
    function loveIt(id){
        jQuery.ajax({
            url: "<?php echo Mage::getUrl('loveit/index/ajaxSaveLoveit') ?>",
            type: "POST",
            data: {customerId: customerId, productId: id },
            dataType: "json",
            beforeSend: function(){
                jQuery('#imgloveit-'+id).show();
            },
            success: function(data) {
                if (data.success == true) {
                    jQuery('#imgloveit-'+id).hide();
                    var countLove = jQuery('#love-it-'+id).find("span.love-it-count").text();
                    jQuery('#love-it-'+id).find("span.love-it-count").text(parseInt(countLove) + 1);
                    jQuery('#love-it-'+id).find('a.love-it').hide();
                    jQuery('#love-it-'+id).find('a.loved-it').show();
                }
            }
        });
    }

</script>

<?php endif;?>

<script type="text/javascript">

    var page_like_or_unlike_callback = function(url, html_element) {
        jQuery('.update-face').show();
        updateFace(url);
    }
    FB.Event.subscribe('edge.create', page_like_or_unlike_callback);
    FB.Event.subscribe('edge.remove', page_like_or_unlike_callback);
    function updateFace(url){
        jQuery.ajax({
            url : "<?php echo Mage::getUrl('ajax/index/updateLikeNumber') ?>",
            data: {'linkedLike' : url},
            type: 'POST',
            success: function(response){
                jQuery('.update-face').hide();
            },
            error: function(){
                console.log('Error');
            }
        })
    }
//    jQuery(document).ready(function(){
////        jQuery('.enlarge-item').hide();
//        jQuery('.video').click(function(){
//            var id = jQuery(this).attr('id').replace('play-video-', '');
//            var myVideo = document.getElementById('video-' + id);
//            var proImage = jQuery('#image-' + id).parent();
//            proImage.hide();
//            myVideo.show();
//            if (myVideo.paused)
//                myVideo.play();
//            else
//                myVideo.pause();
//        })
//    });
    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 873,
        height: 650,
        autoSize: false,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        afterLoad : function(){
            // Po.st Toolbar async load
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://i.po.st/share/script/post-widget.js#publisherKey=4m61ebkl1abg0uc5kkfd';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);

            if (typeof post_init == 'function') {
                window.post_init();
                console.log('init me');
                //setInterval(function(){  window.post_init(); console.log('post_init');  },1000);
                setTimeout(function() {
                            window.post_init();
                        },
                        1000
                );
            }

        },
        afterShow: function() {
            FB.XFBML.parse();
        }
    });

</script>
<div id="sm-ajax-load" style="display: block;top: 0; bottom: 0; right: 0; left: 0; height: auto; width: auto; overflow-x: auto; overflow-y: scroll; position: fixed; display: none; z-index: 8010; background: url('<?php echo $this->getSkinUrl('images/fancybox_overlay.png');?>') repeat scroll 0 0 rgba(0, 0, 0, 0); "></div>