<?php
$amasty = Mage::helper('amconf');
$themHelper = Mage::helper('cavabien_theme');

?>
<?php
$_productCollection = $this->getRandomDeals();
$_helper = $this->helper('catalog/output');
$displayPastDeals = Mage::getStoreConfig('multipledeals/configuration/past_deals');
$displayPriceForType = array('simple', 'virtual', 'downloadable', 'configurable');
$displayQty = Mage::getStoreConfig('multipledeals/configuration/qty');
$displayQtyForType = array('simple', 'virtual', 'downloadable');
?>

<?php if (!count($_productCollection)): ?>
    <p class="note-msg"><?php echo Mage::getStoreConfig('multipledeals/configuration/no_deal_message') ?></p>
<?php else: ?>
    <?php // Grid Mode ?>
    <div class="owl-carousel enlarge" id="homepage-multi-deals-carousel">
        <?php $i = 0;
        $_customData['image'] =  array('width' => 200, 'height' => 250);
        foreach ($_productCollection as $_product): ?>

            <div class="item">
                <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/list/item.phtml')->setProduct($_product)->setCustomData($_customData)->toHtml()?>
                <div class="clear-both"></div>
            </div>
            <?php $i++; ?>
        <?php endforeach ?>
    </div>
    <div class="bottom-link"><a
            href="<?php echo Mage::getUrl('multipledeals/index/page/'); ?>"><?php echo $this->__('View more deal of the week') ?></a></div>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>
<?php endif; ?>
