<?php

?>
<div class="stylist-pick">
    <h2 class="stylist-title shadow-heading">
        <?php echo $this->__('Stylist picks') ?>
    </h2>
    <a  class="shop-more-link" href="<?php echo $this->getUrl('stylist-pick.html'); ?>"><?php echo $this->__('Shop more picks') ?>&nbsp;<i class="fa fa-caret-right"></i></a>

    <div class="stylist-product">
        <div class="products-grid stylist-product-carousel enlarge" id="stylist-product-carousel">
            <?php

            $stylistProducts = $this->getStylistPick();
            $_customData['image'] =  array('width' => 133, 'height' => 200);
            if ($stylistProducts != null) {
                foreach ($stylistProducts as $_product) {
                    ?>
                    <div class="item">
                        <?php echo $this->getLayout()->createBlock('cavabien_theme/catalog_product_list_item')->setTemplate('catalog/product/stylist_picks/item.phtml')->setProduct($_product)->setSmArea('stylist')->setCustomData($_customData)->toHtml()?>
                    </div>
                <?php
                }
            }
            ?>
        </div>
    </div>
</div>