<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$themHelper = Mage::helper('cavabien_theme');
?>
<?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="shop-look-container">
    <div class="top-container">
        <a class="back-link" title="Back" onclick="window.history.back()" href="javascript:void(0);">
            <span>«</span>
            back
        </a>
    </div>
    <?php foreach($_productCollection as $_product): ?>
        <?php if($_product->getTypeId() == 'grouped'): ?>
        <div id="sp-product-<?php echo $_product->getID() ?>" class="shop-look-products-view">
            <div class="shop-look-product-image">
                <img src="<?php echo  Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(910,1054); ?>" />
                <div class="actions a-center">
                    <button class="button large"  title="<?php echo $this->__('Shop The Look') ?>" onclick="setLocation('<?php echo $_product->getProductUrl() ?> ')">
                        <span>
                            <span>Shop the look</span>
                            <i class="fa fa-caret-right"></i>
                        </span>
                    </button>
                </div>
            </div>

            <?php $associatedProducts = $_product->getTypeInstance(true)->getAssociatedProducts($_product); ?>
            <div class="shop-look-simple-product products-grid">
                <ul class="clearfix">
                <?php foreach($associatedProducts as $as_product):?>
                    <li class="item">
                        <a href="<?php echo $as_product->getProductUrl(); ?>">
                            <div class="bl-image">
                                <img src="<?php echo Mage::helper('catalog/image')->init($as_product, 'thumbnail')->resize(170,185); ?>" />
                                <a class="various fancybox.ajax button pro-quick-view" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$as_product->getId())) ?>">QUICK VIEW</a>
                            </div>
                        </a>
                        <div class="product-attribute clearfix">
                            <?php if ($as_product->getTypeId() == 'configurable'): ?>
                                <?php $unique_num = $_product->getId(); ?>
                                <?php $_smBlock = $this->getLayout()->createBlock('amconf/catalog_product_view_type_configurablel'); ?>
                                <div
                                    id="sm-cat-conf-<?php echo $unique_num ?><?php echo $as_product->getId() ?>-color"
                                    class="enlarge-item enlarge-color-real"></div>
                                <div
                                    id="sm-cat-conf-<?php echo $unique_num ?><?php echo $as_product->getId() ?>-default-color"
                                    class="enlarge-item-color"></div>
                                <script type="text/javascript">
                                    var spConfig_<?php echo $as_product->getId()?>_<?php echo $unique_num?> = new smProduct.Config(<?php echo $_smBlock->setProduct($as_product)->getJsonConfig() ?>, <?php echo $as_product->getId()?>, '<?php echo $unique_num?>');
                                    document.observe("dom:loaded", spConfig_<?php echo $as_product->getId()?>_<?php echo $unique_num?>.run.bind(spConfig_<?php echo $as_product->getId()?>_<?php echo $unique_num?>));
                                </script>
                            <?php endif; ?>
                        </div>
                        <a href="<?php echo $as_product->getProductUrl(); ?>"><h2 class="product-name"><?php echo $as_product->getName() ?></h2></a>
<!--                         --><?php //$inStock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($as_product)->getIsInStock(); ?>
<!--                        --><?php //if(!$inStock): ?>
<!--                            <p class="availability out-of-stock">-->
<!--                                <span>Out of stock</span>-->
<!--                            </p>-->
<!--                        --><?php //endif; ?>
                        <?php if ($as_product->isAvailable()): ?>
                            <?php if($themHelper->isComingSoonProduct($as_product)):?>
                                <p class="availability in-stock"><span><?php  echo $this->__('Coming soon') ?></span></p>
                            <?php else: ?>
                                <p class="availability in-stock"><span><?php echo $themHelper->checkNewArrive($as_product) ?></span></p>
                            <?php endif; ?>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <div class="rating-ct"><?php echo $this->getReviewsSummaryHtml($as_product, false, true) ; ?>
                        </div>
                        <div class="clear">
                            <div class="price-ct">
                       
                        <span class="price">
                            <?php echo Mage::helper('core')->currency($as_product->getFinalPrice(), true, false); ?>
                        </span>
                         <?php if($as_product->getPrice() - $as_product->getFinalPrice() > 0): ?>
                            <span class="price-discount">
                               <?php echo Mage::helper('core')->currency($as_product->getPrice(), true, false); ?>
                            </span>
                        <?php endif; ?>
                        </div>
                        <?php if ($as_product->isAvailable()): ?>
                            <?php if($themHelper->isComingSoonProduct($as_product)):?>
                                <button type="button" title="<?php echo $this->__('Pre-order Now') ?>" class="button right" onclick="setLocation('<?php echo $as_product->getProductUrl() ?> ')"><span><?php echo $this->__('Pre-order Now') ?></span></button>
                            <?php else: ?>
                                <button type="button" title="<?php echo $this->__('Shop Now') ?>" class="button right" onclick="setLocation('<?php echo $as_product->getProductUrl() ?> ')"><span><?php echo $this->__('Shop Now') ?></span></button>
                            <?php endif; ?>
                        <?php else: ?>
                                <button type="button" title="<?php echo $this->__('Pre-order Now') ?>" class="button right" onclick="setLocation('<?php echo $as_product->getProductUrl() ?> ')"><span><?php echo $this->__('Pre-order Now') ?></span></button>
                        <?php endif; ?>
                    </div>
                    </li>
                <?php endforeach; ?>
                </ul>
            </div>
        </div>
        <?php endif; ?>
    <?php endforeach; ?>
    <div class="shop-look-product-list">
        <ul class="sp-product-slide">
            <?php foreach($_productCollection as $_product): ?>
                <?php if($_product->getTypeId() == 'grouped'): ?>
                <li>
                    <div class="product-slide-<?php echo $_product->getID() ?> image-view">
                        <input type="hidden" class="p-name" value="<?php echo $_product->getID() ?>" />
                        <img src="<?php echo  Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(142,165); ?>" />
                    </div>
                </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>

<?php echo $this->getChildHtml('featurePromotion'); ?>

<script type="text/javascript">

    function showGroupProduct()
    {
        var productID = "";
        var idName = "";
        productID = jQuery(".active .p-name").val();
        idName = "#sp-product-" + productID;
        jQuery(".shop-look-products-view").hide();
        jQuery(idName).show();
    }

    jQuery(document).ready(function() {
        jQuery(".shop-look-products-view").hide();
        jQuery("ul.sp-product-slide li:first div").addClass('active');
        showGroupProduct();
        jQuery(".image-view").click(function (){
            if(!jQuery(this).hasClass('active')) {
                jQuery('.active').removeClass('active');
                jQuery(this).addClass('active');
                showGroupProduct();
            }
        });
    });
</script>

<script type="text/javascript">
    jQuery(".pro-quick-view").fancybox({
        fitToView: true,
        width: 600,
        height: 510,
        autoSize: true,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'

    });
</script>

