<div class="col-1">
    <ul>
        <li>
            <h3>SHIPPING &amp; TRACKING</h3>
        </li>
        <li><a href="{{store direct_url=" free-shipping"}}">Shipment</a></li>
        <li><a href="{{store direct_url=" order-tracking"}}">Tracking Order</a></li>
    </ul>
    <ul>
        <li>
            <h3>SHOPPING GUIDE</h3>
        </li>
        <li><a href="{{store direct_url=" payment-method"}}">Payment Method</a></li>
        <li><a href="{{store direct_url=" how-to-order"}}">How to Order</a></li>
        <li><a href="{{store direct_url=" cancel-order"}}">Cancel Order</a></li>
        <li><a href="{{store direct_url=" faq"}}">FAQ</a></li>
        <li>&nbsp;</li>
    </ul>
    <ul>
        <li><a class="txt_blk" href="{{store direct_url=" about-us"}}">About Us</a></li>
        <li><a class="txt_blk" href="{{store direct_url=" about-cookies"}}">About Cookies</a></li>
    </ul>
</div>

<div class="col-2">
    <ul>
        <li>
            <h3>EXCHANGE &amp; REFUND</h3>
        </li>
        <li><a href="{{store direct_url=" exchange-policy"}}">Exchange Policy</a></li>
        <li><a title="Return Policy" href="return-policy">Return Policy</a></li>
    </ul>
    <ul>
        <li>
            <h3>PRODUCT HELP</h3>
        </li>
        <li><a href="{{store direct_url=" size-guide"}}">Size Guide</a></li>
    </ul>
    <ul>
        <li><a class="txt_blk" href="{{store direct_url=" terms-and-conditions"}}">Terms &amp; Conditions</a></li>
        <li><a class="txt_blk" href="{{store direct_url=" terms-of-use"}}">Terms of Use</a></li>
        <li><a class="txt_blk" href="{{store direct_url=" privacy-policy-cookie-restriction-mode"}}">Privacy Policy</a>
        </li>
    </ul>
    <ul>
        <li><a class="txt_blk" href="{{store direct_url=" about-affiliates"}}">About Affiliates</a></li>
        <li><a class="txt_blk" href="{{store direct_url=" work-with-us"}}">Carriers</a></li>
    </ul>
</div>