<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
	$displayPastDeals = Mage::getStoreConfig('multipledeals/configuration/past_deals');
	$displayPriceForType = array('simple', 'virtual', 'downloadable', 'configurable');
	$displayQty = Mage::getStoreConfig('multipledeals/configuration/qty');
	$displayQtyForType = array('simple', 'virtual', 'downloadable');
?>
<!--<div class="page-title category-title">
    <h1><?php /*echo $this->__('Active Deals') */?></h1><?php /*if ($displayPastDeals): */?>(<a href="<?php /*echo $this->getUrl('multipledeals/index/recent'); */?>"><?php /*echo $this->__('view past deals') */?></a>)<?php /*endif; */?>
</div>-->

<?php if(!count($_productCollection)):
    ?>
<p class="note-msg"><?php echo Mage::getStoreConfig('multipledeals/configuration/no_deal_message') ?></p>
<?php else: ?>
<div class="listing-type-grid catalog-listing">
    <?php // Grid Mode
    $_columnCount = 4;
    ?>
    <ul class="grid-row products-grid" id="homepage-multi-deals-carousel-1">
    <?php $i=0; foreach ($_productCollection as $_product): ?>

            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
            	<div class="item-info<?php if (!$displayQty): ?>-noqty<?php endif; ?>">
		    		<!-- deal image -->
	                <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $this->getImageLabel($_product, 'small_image') ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(140,210); ?>" width="140" height="210" alt="<?php echo $this->getImageLabel($_product, 'small_image') ?>" /></a>
		    		<!-- deal name -->
	                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName() ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                    <p class="description"><?php echo $_product->getSubtitle(); ?></p>
		    		<!-- deal price -->
					<?php if (in_array($_product->getTypeId(), $displayPriceForType)): ?>
	                    <p class="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(), true, false); ?></p>
	                <?php endif; ?>
            	</div>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>

                            <a class="various fancybox.ajax btn-cart button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId())) ?>"><span><?php echo $this->__('Add to Bag') ?></span></a>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                   
                </div>
            </li>

    <?php endforeach ?>
    </ul>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>

</div>
<?php endif; ?>
