<div class="top-menu-block">
    <div id="deal-of-week">
        <a href="<?php echo $this->getUrl('multipledeals/index/page'); ?>"><?php echo $this->__("Deals of the week") ?></a>

        <div class="cava-popup" id="deal-of-week-popup" style="display: none ">
            <div class="arrow"><span><span></span></span></div>
            <div class="left-column">
                <?php echo $this->getChildHtml('multi_deals') ?>
            </div>
            <div class="right-column">
                <?php
                $monthlyPick = $this->getMonthlyPick();
                if ($monthlyPick != null) {

                    ?>
                    <div class="monthly-pick-product">
                        <h3><?php echo $this->__('Monthly Pick'); ?></h3>
                       <a href="<?php echo $monthlyPick->getProductUrl() ?>"> <img src="<?php echo $this->helper('catalog/image')->init($monthlyPick, 'small_image')->resize(180,270); ?>"/></a>
                        <div class="actions">
                            <?php if ($monthlyPick->isSaleable()): ?>
<!--                                    <span>--><?php //echo $this->__('Our Price:'); ?><!--</span>-->
                                    <?php echo Mage::helper('core')->currency($monthlyPick->getFinalPrice(), true, false); ?>
                                <a class="various fancybox.ajax button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$monthlyPick->getId())) ?>"><span><?php echo $this->__('Buy now') ?></span></a>
                            <?php else: ?>
                                <p class="availability out-of-stock">
                                    <span><?php echo $this->__('Out of stock') ?></span>
                                </p>
                            <?php endif; ?>

                        </div>
                    </div>
                <?php
                }
                ?>
            </div>
            <div class="clear-both"></div>
            <div class="bottom-free-ship">
                <?php echo $this->getChildHtml('homepage_deal_of_the_week_bottom') ?>
            </div>
        </div>
    </div>
    <div id="most-wanted">
        <a href="<?php echo $this->getUrl('best_seller'); ?>"><?php echo $this->__("Most wanted") ?></a>

        <div class="cava-popup" id="most-wanted-popup" style="display: none">
            <div class="arrow"><span><span></span></span></div>
            <div class="left-column">
                <ul>
                    <?php
                    $mostWantedCategories = $this->getMostWanted();
                    foreach ($mostWantedCategories as $mostWantedCategory) {
                        $mostWantedProduct = $this->getBestSellerByCategory($mostWantedCategory->getId());
                        ?>
                        <li><a href="<?php echo $this->getUrl('best_seller/index/index', array('sub_cat_id' => $mostWantedCategory->getId()))  ?>">
                                    <img src="<?php echo $this->helper('catalog/image')->init($mostWantedProduct, 'small_image')->resize(47,71); ?>">

                                    <span><?php echo $mostWantedCategory->getName(); ?></span>
                                </a>

                        </li>
                    <?php
                    }
                    ?>

                </ul>
            </div>
            <div class="right-column">
                <?php
                $mostSoldProduct = $this->getMostSoldProduct();
                if ($mostSoldProduct != null) {
                    ?>
                    <div class="most-sold-product">
                        <h3><?php echo $this->__('Our best sellers'); ?></h3>
                        <img src="<?php echo $this->helper('catalog/image')->init($mostSoldProduct, 'image')->resize(180,270); ?>"/>

                        <div class="price a-right">
<!--                            <span class="price-label">--><?php //echo $this->__('Our Price:'); ?><!--</span>-->
                            <span class="price-value"><?php echo Mage::helper('core')->currency($mostSoldProduct->getFinalPrice(), true, false); ?></span>
                        </div>
                        <div class="actions a-right">
                            <?php if ($mostSoldProduct->isSaleable()): ?>
                                <!--
                                <button type="button" title="<?php echo $this->__('Buy now') ?>"
                                        class="button btn-cart"
                                        onclick="setLocation('<?php echo $this->getAddToCartUrl($mostSoldProduct) ?>')">
                                  <span><span>--><?php //echo $this->__('Buy now') ?><!--</span></span></button>
                                -->
                                    <a class="various fancybox.ajax button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$mostSoldProduct->getId())) ?>"><span><?php echo $this->__('Buy now') ?></span></a>
                            <?php else: ?>
                                <p class="availability out-of-stock">
                                    <span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                        </div>

                        <div class="clear-both"></div>
                    </div>
                <?php
                }
                ?>
            </div>
            <div class="clear-both"></div>
            <div class="bottom-free-ship">
                <?php echo $this->getChildHtml('homepage_after_menu') ?>
            </div>
        </div>
    </div>
    <div id="featured-product">
        <a href="<?php echo Mage::getBaseUrl().'featured-product.html' ?>"><?php echo $this->__("Featured products") ?></a>

        <div class="cava-popup" id="featured-product-popup" style="display: none ">
            <div class="arrow"><span><span></span></span></div>
            <div class="left-column">
                <ul class="products-grid" id="featured-product-carousel">
                    <?php
                    $featuredProducts = $this->getFeaturedProduct();
                    if ($featuredProducts != null) {
                        foreach ($featuredProducts as $featuredProduct) {
                            ?>
                            <li class="item">
                                <a class="product-image" href="<?php echo $featuredProduct->getProductUrl(); ?>"><img src="<?php echo $this->helper('catalog/image')->init($featuredProduct, 'small_image')->resize(140,210); ?>" alt="" /></a>
                                <h2 class="product-name"><a href="<?php echo $featuredProduct->getProductUrl(); ?>"><?php echo $featuredProduct->getName(); ?></a></h2>
                                <p class="description"><?php echo $featuredProduct->getSubtitle(); ?></p>
                                <p class="price"><?php echo Mage::helper('core')->currency($featuredProduct->getFinalPrice(), true, false); ?></p>
                                <div class="actions">
                                    <?php if ($featuredProduct->isSaleable()): ?>

                                        <a class="various fancybox.ajax btn-cart button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$featuredProduct->getId())) ?>"><span><?php echo $this->__('Add to Bag') ?></span></a>
                                    <?php else: ?>
                                        <p class="availability out-of-stock">
                                            <span><?php echo $this->__('Out of stock') ?></span>
                                        </p>
                                    <?php endif; ?>
                                </div>
                            </li>
                        <?php
                        }
                    }
                    ?>
                </ul>

            </div>
            <div class="right-column">
                <?php
                $mostLoved = $this->getMostLoved();

                if ($mostLoved != null) {

                    ?>
                    <div class="most-loved-product">
                        <h3><?php echo $this->__('Style of the month'); ?></h3>
                        <a class="product-image" href="<?php echo $mostLoved->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($mostLoved, 'small_image')->resize(180, 270); ?>"/></a>
                        <div class="a-right most-loved-price price">
<!--                            <span>--><?php //echo $this->__('Our Price:'); ?><!--</span>-->
                            <?php echo Mage::helper('core')->currency($mostLoved->getFinalPrice(), true, false); ?>
                        </div>
                        <div class="a-right actions">
                            <?php if ($mostLoved->isSaleable()): ?>
                                <!--<button type="button" title="<?php echo $this->__('Add to Cart') ?>"
                                        class="button btn-cart"
                                        onclick="setLocation('<?php echo $this->getAddToCartUrl($mostLoved) ?>')">
                                    <span><span><?php echo $this->__('Buy now') ?></span></span>
                                                                    </button>
                                    -->
                                    <a class="various fancybox.ajax button deal-quick-view enlarge-item" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$mostLoved->getId())) ?>"><span><?php echo $this->__('Buy now') ?></span></a>
                            <?php else: ?>
                                <p class="availability out-of-stock">
                                    <span><?php echo $this->__('Out of stock') ?></span>
                                </p>
                            <?php endif; ?>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                <?php } ?>
            </div>
            <div class="clear-both"></div>
            <div class="bottom-free-ship a-center">
                <?php echo $this->getChildHtml('homepage_after_menu') ?>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#link_deal_review').click(function () {
            jQuery("#form_multipledeals_review").dialog({
                maxHeight: 800,
                minWidth: 1000
            });
        })
    });

    jQuery(".deal-quick-view").fancybox({
        fitToView: true,
        width: 873,
        height: 650,
        autoSize: false,
        padding:0,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        afterLoad : function(){
            // Po.st Toolbar async load
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://i.po.st/share/script/post-widget.js#publisherKey=4m61ebkl1abg0uc5kkfd';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);

            if (typeof post_init == 'function') {
                window.post_init();
                console.log('init me');
                //setInterval(function(){  window.post_init(); console.log('post_init');  },1000);
                setTimeout(function() {
                        window.post_init();
                    },
                    1000
                );
            }

        },
        afterShow: function() {
            FB.XFBML.parse();
        }
    });
</script>