<?php
if (Mage::isInstalled() && Mage::getSingleton('customer/session')->isLoggedIn()) {
    ?>
<div class="welcome-msg">
    <ul>
    <li class="welcome-name qcParent">
        <a hreft="#"><?php echo $this->__('Hi ') ?>
        <strong><?php echo $this->escapeHtml(Mage::getSingleton('customer/session')->getCustomer()->getFirstname()) ?></strong><i class="fa fa-caret-down fa-fw"></i>
        </a>
        <div class="border-fix"></div>
        <div class="qcPopup">
            <a href="<?php echo $this->getURL('customer/account/logout'); ?>"><?php echo $this->__('Logout') ?></a>
        </div>
    </li>
    <li class="welcome-link qcParent">
        <a hreft="#"><img src="<?php echo $this->getSkinUrl('images/avatar.gif') ?>" />
        <?php echo $this->__('My account') ?>
        <i class="fa fa-caret-down fa-fw"></i>
        </a>
        <div class="border-fix"></div>
        <div class="welcome-popup qcPopup" style="display: none">
            <?php echo $this->getChildHtml('header_welcome_my_account_link'); ?>
        </div>
    </li>
</ul>
</div>
<?php
}
?>