<?php
    $_product    = $this->getProduct();
    $_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
    <?php foreach($_attributes as $_attribute): ?>
        <div class="<?php echo strtolower($_attribute->getLabel())?>-option-container">
            <div id="label-<?php echo $_attribute->getAttributeId() ?>-<?php echo $_product->getEntityId() ?>"><label class="required"><?php echo $_attribute->getLabel() ?></label></div>
            <div class="input-box">
                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>-<?php echo $_product->getEntityId() ?>" class="required-entry super-attribute-select-<?php echo $_product->getEntityId() ?>">
                    <option><?php echo $this->__('Choose an Option...') ?></option>
                </select>
            </div>
            <div id="requared-attribute<?php echo $_attribute->getAttributeId() ?>-<?php echo $_product->getEntityId() ?>"></div>
        </div>
    <?php endforeach; ?>
    <script type="text/javascript">
        var spConfig = new Product.Config(<?php echo $this->getJsonConfig() ?>);
    </script>
<?php endif;?>