<?php

/* @var $this Mage_Wishlist_Block_Customer_Wishlist_Item_Column_Cart */
/* @var Mage_Wishlist_Model_Item $item */
$item = $this->getItem();
$product = $item->getProduct();
$options = $this->getChild('customer.wishlist.item.options')
    ->setItem($item)
    ->getConfiguredOptions();
$session = Mage::getSingleton('customer/session', array('name' => 'frontend'));
$cusId = $session->getCustomer()->getId();
$loveIt = Mage::getModel('catalog/product')->load($product->getId())->getLoveIt();
$productStatus = Mage::helper('amconf')->getProductStatus($product);
?>
<div class="cart-cell">
    <div class="add-to-cart-alt">
        <?php if ($item->canHaveQty() && $item->getProduct()->isVisibleInSiteVisibility()): ?>
            <input type="hidden" class="input-text qty validate-not-negative-number"
                   name="qty[<?php echo $item->getId() ?>]" value="<?php echo $this->getAddToCartQty($item) * 1 ?>"/>
        <?php endif; ?>
        <?php if ($product->isSaleable()): ?>
            <?php $hasComingSoon = false;
            foreach ($productStatus as $statusProduct): ?>
                <?php if ($statusProduct['label'] == 'coming-soon'): ?>
                    <?php
                    $hasComingSoon = true;
                    ?>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($hasComingSoon): ?>
                <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
                        onclick="setLocation('<?php echo $product->getProductUrl() ?>')">
                    <span><span><?php echo $this->__('Pre-Order Now') ?></span></span></button>
            <?php else: ?>
                <button type="button" title="<?php echo $this->__('Shop now') ?>"
                        onclick="addWItemToCart(<?php echo $item->getId() ?>);" class="button btn-cart">
                    <span><span><?php echo $this->__('Shop now') ?></span></span></button>
            <?php endif; ?>
        <?php else: ?>
            <button type="button" title="<?php echo $this->__('Pre-Order Now') ?>" class="button btn-cart"
                    onclick="setLocation('<?php echo $product->getProductUrl() ?>')">
                <span><span><?php echo $this->__('Pre-Order Now') ?></span></span></button>

        <?php endif; ?>
    </div>
    <p>
        <?php if ($product->isVisibleInSiteVisibility()): ?>
            <a class="link-edit"
               href="<?php echo $this->getItemConfigureUrl($item) ?>"><?php echo $this->__('Edit') ?></a>
        <?php endif ?>
        <a href="<?php echo $this->getItemRemoveUrl($this->getItem()); ?>" onclick="return confirmRemoveWishlistItem();"
           title="<?php echo $this->__('Remove Item') ?>"
           class="btn-remove btn-remove2"><?php echo $this->__('Remove item'); ?></a></p>

    <p>
        <?php
        if ($session->isLoggedIn() && Mage::helper('cavabien_loveit')->isLoveitExist($product->getId(), $cusId)):
            $love = 'style="display: inline-block"';
            $unlove = 'style="display: none"';
        else:
            $love = 'style="display: none"';
            $unlove = 'style="display: inline-block"';
        endif
        ?>
        <a class="un-love" href="JavaScript:void(0)" <?php echo $love ?>
           onclick="return UnloveItem(<?php echo $cusId . ', ' . $product->getId(); ?>, this);"><?php echo $this->__('unlove') ?></a>
        <a class="loveit" href="JavaScript:void(0)" <?php echo $unlove ?>
           onclick="LoveItem(<?php echo $cusId . ', ' . $product->getId(); ?>, this);"><?php echo $this->__('Love It') ?></a>
    </p>
</div>