<?php

/* @var $this Mage_Wishlist_Block_Customer_Wishlist_Item_Column_Cart */
/* @var Mage_Wishlist_Model_Item $item */
$item = $this->getItem();
$product = $item->getProduct();
$themHelper = Mage::helper('cavabien_theme');
?>
<div class="wishlist-price">
    <?php if ($themHelper->ableToDisplaySpecialPrice($product)): ?>
        <div class="original-price">
            <?php echo Mage::helper('core')->currency($product->getSpecialPrice(), true, false); ?>
        </div>
        <div class="retail-price">
            <?php echo Mage::helper('core')->currency($product->getPrice(), true, false); ?>
        </div>
        <div class="off-price">
            <?php $discountValue = (($product->getPrice() - $product->getSpecialPrice()) / $product->getPrice()) * 100; ?>
            <?php echo round($discountValue);
            echo $this->__('% OFF') ?>
        </div>
    <?php else: ?>
        <div class="original-price">
            <?php echo Mage::helper('core')->currency($product->getFinalPrice(), true, false); ?>
        </div>
    <?php endif; ?>
</div>
