<?php
$item = $this->getItem();
$product = $item->getProduct();
$productStatus = Mage::helper('amconf')->getProductStatus($product);
$themHelper = Mage::helper('cavabien_theme');
?>
<div class="stock-status">
    <?php if ($product->getIsSalable()): ?>
        <?php $hasComingSoon = false;
        foreach ($productStatus as $statusProduct): ?>
            <?php if ($statusProduct['label'] == 'coming-soon'): ?>
                <?php
                $hasComingSoon = true;
                ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if ($hasComingSoon): ?>
            <p class="availability coming-soon">
                <span><?php echo $product->getSku(); ?></span><span><?php echo $this->__(' | Coming soon') ?></span></p>
        <?php else: ?>
            <p class="availability in-stock">
                <span><?php echo $product->getSku() .' | '; ?></span><span><?php echo $themHelper->checkNewArrive($product) ?></span>
            </p>
        <?php endif; ?>
    <?php else: ?>
        <p class="availability out-of-stock">
            <span><?php echo $product->getSku(); ?></span><span><?php echo $this->__(' | Out of stock') ?></span></p>
    <?php endif; ?>
</div>