<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php 
	$_request = $this->getRequest(); 
	$addressBook = Mage::registry('current_address_book');
?>
<div class="in-step2 icons-here">
<div class="hld">
<div class="ico-hld icons <?php echo $addressBook->getKey() ?>">(<?php echo $addressBook->getName() ?>)</div>
<h1>Login to (<?php echo $addressBook->getName() ?>)</h1>
<form action="<?php echo $this->getUrl('*/*/step3') ?>" method="POST" name="address-book-login-form" id="address-book-login-form">
	<table cellspacing='2' cellpadding='0' border='0'  width="100%">
		<!-- Errors -->
		<?php 
			//if ($errors = $_request->getParam('errors')) { 
				//$errors = explode('+', $errors);
		?>
		<tr>
			<td colspan='2'>
				<ul class="messages errorMsgHld" style="display:none;">
				  <li class="error-msg">
					<ul>
					  <li>
						<span class="errorMsgTextHld">
							<?php foreach($errors as $error) { ?>
								<?php echo $error ?><br/>
							<?php } ?>
						</span>
					  </li>
					</ul>
				  </li>
				</ul>
			</td>
		</tr>
		<?php // } ?>
		<!-- //Errors -->
		<tr>
			<td style="text-align:right"><label for='email_box' style="white-space:nowrap;"><?php echo $this->__('User name or Email') ?>:</label></td>
			<td><input class='thTextbox' type='text' name='email_box' id="email_box" value='<?php echo $_request->getParam('email_box') ?>'/></td>
		</tr>
		
		<tr>
			<td  style="text-align:right"><label for='password_box'><?php echo $this->__('Password') ?>:</label></td>
			<td>
				<input class='thTextbox' type='password' name='password_box' id='password_box' value='<?php echo $_request->getParam('password_box') ?>'/>
				<input type='hidden' name='provider_box' value='<?php echo $_request->getParam('provider_box') ?>'/>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button type="button" class="button back-button" name='import'><span class="holder"><span><?php echo $this->__('Back') ?></span></span></button>
				<button type="submit" class="button"  name='import'><span class="holder"><span><?php echo $this->__('Next') ?></span></span></button>
			</td>
		</tr>
	</table>
</form>
</div>
</div>

<script type="text/javascript">
	pjQuery(document).ready(function(){
		pjQuery('.in-step2 .back-button').fancybox({
			'href' 				: '<?php echo $this->getUrl('*/inviter/step1') ?>',
			'autoDimensions'	: false,
			'titleShow'			: false,
			'widht'				: 600,
			'height'			: 450	
		});
		
		var errorMsgHld		= pjQuery('.errorMsgHld');
		var errorMsgTextHld	= pjQuery('.errorMsgTextHld');
		
		pjQuery("#address-book-login-form").submit(function() {
			//errorMsgHld.hide();
			if ((pjQuery("#email_box").val().length < 1) || (pjQuery("#password_box").val().length < 1)) {
				showAccessError('<?php echo $this->__('Email or password missing!') ?>');
				pjQuery.fancybox.resize();
				return false;
			}

			pjQuery.fancybox.showActivity();

			pjQuery.ajax({
				type	: "POST",
				cache	: false,
				url		: pjQuery(this).attr('action'),
				data	: pjQuery(this).serializeArray(),
				dataType	: 'json',
				success: function(data) {
					if (data.success)
					{
						pjQuery.fancybox({
							'content'	: data.result,
							'widht'		: 610,
							'height'	: 450	
						});
					}
					else
					{
						var text = '';
						for(var i in data.result)
							text += data.result[i]+'<br/>';
						showAccessError(text);
					}	
					pjQuery.fancybox.resize();
					pjQuery.fancybox.hideActivity();
				},
				error: function(){
					showAccessError('<?php echo $this->__('Connection error please try later!') ?>');
					pjQuery.fancybox.resize();
					pjQuery.fancybox.hideActivity();
				}
			});

			return false;
		});
		
		function showAccessError(html)
		{
			errorMsgTextHld.html(html);
			errorMsgHld.show();
			
		}
			
	});
</script>
