<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Invitations
 * @copyright   Copyright (c) 2012 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?> 

<?php $addressBooks = Mage::getModel('invitations/addressbooks')->loadEnabled(); ?>
<div class="in-step1 icons-here scroll-area">
	<h1><?php echo $this->__('Where you keep your contacts?') ?></h1>
	<ul class="float:left;">
		<?php foreach($addressBooks as $addressBook) { ?>
			<?php echo $this->getItemHtml($addressBook); ?>
		<?php } ?>
	</ul>
</div>
