<div class="page-title">
    <h1><?php echo $this->__('Order Complete') ?></h1>
    <?php if ($this->getOrderId() && $this->getCanViewOrder() && $this->getCanPrintOrder()) : ?>
        <p>
            <a href="<?php echo $this->getPrintUrl() ?>" onclick="this.target='_blank'"
               class="sm-order-print"><?php echo $this->__('Print this page') ?></a>
        </p>
    <?php endif; ?>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="order-success-thankyou">
    <h2 class="sub-title"><?php echo $this->__('Thank You') ?></h2>
    <?php if ($this->getOrderId()): ?>
        <?php if ($this->getCanViewOrder()) : ?>
            <p><?php echo $this->__('You have successfully placed your order. Your order number is #%s We will email you the order confirmation with the tracking details once your order ship from our warehouse.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
        <?php else : ?>
            <p><?php echo $this->__('You have successfully placed your order. Your order number is #%s We will email you the order confirmation with the tracking details once your order ship from our warehouse.', $this->escapeHtml($this->getOrderId())) ?></p>
        <?php endif; ?>
        <?php $count = count($this->getOrder()->getAllItems()) ?>
        <?php if ($this->getOrder()->getShippingDescription()): ?>
            <?php $shippingMethod = $this->escapeHtml($this->getOrder()->getShippingDescription()) ?>
        <?php else: ?>
            <?php $shippingMethod = '' ?>
        <?php endif; ?>
        <p><?php echo $count . $this->__(' items will be delivered. Your selected delivery is ') . $shippingMethod ?></p>
    <?php endif; ?>
</div>
<div class="checkout-onepage-index">
    <div class="sm-checkout-left">
        <div class="sm-checkout-inner">
            <div class="sm-cart-items">
                <?php echo $this->getChildHtml('success_items') ?>
            </div>
        </div>
    </div>

    <div class="sm-checkout-right">
        <div class="sm-checkout-inner">
            <?php echo $this->getChildHtml('success_info') ?>
        </div>
    </div>
</div>


