<?php
/**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 4.2
 * @since        Class available since Release 1.0
 */
?>
<?php $moduleName = Mage::app()->getFrontController()->getRequest()->getModuleName(); ?>
<?php if ($this->canShowBlock()): ?>
    <?php
    $refines = array('price', 'color', 'size');
    $filter_in_content = GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Attributelocation::CONTENT;
    $gan_bcontent_hide = 'true' === $this->getRequest()->getParam('gan_bcontent_hide');
    $check = $this->getCheck();
    $this->setBlockSide($check);
    if ($check == $filter_in_content):
        $content_area = true;
    else:
        $content_area = false;
    endif;

    if ($this->canShowLayeredBlock($check)):
        if (Mage::helper('gomage_navigation')->isGooglebot()):
            ?>
            <?php
            $enterprise_class = '';
            if ($check == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Attributelocation::CONTENT
                &&
                Mage::helper('gomage_navigation')->isEnterprise()
            ):
                $enterprise_class = 'sidebar-enterprise-block-layered-nav';
            endif;

            $_attributeCodes = Mage::getSingleton("catalog/layer")->getCurrentCategory()->getAttributeCodes();
            if ($_attributeCodes && trim($_attributeCodes)) {
                $_attributeCodes = explode(',', trim($_attributeCodes));
                $_attributeCodesNew = array();
                foreach ($_attributeCodes as $value) {
                    $_attributeCodesNew[] = trim($value);
                }
                $_attributeCodes = $_attributeCodesNew;
                unset($_attributeCodesNew);
            }

            ?>
            <div id="block-layered-nav-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>"
                 class="block <?php echo $enterprise_class; ?> block-layered-nav block-layered-nav-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?> gomage-navigation-slider-type-<?php echo $this->getSliderType(); ?> gomage-navigation-icons-<?php echo $this->getIconStyle(); ?><?php if ($content_area): ?> gan-content-area<?php endif; ?>">
            <?php if (!$content_area): ?>
                <!-- <div class="block-title">
            <strong>
                <span><?php // echo $this->__('Shop By') ?></span>
            </strong>
        </div> -->
            <?php else: ?>
                <div class="">
                    <strong>
                        <span><?php echo $this->__('Refine By') ?></span>
                    </strong>
                </div>
            <?php endif; ?>
            <div class="block-content<?php if ($content_area && $gan_bcontent_hide): ?> gan-hidden<?php endif; ?>"
                 id="gan-block-content-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>"
                 <?php if ($content_area && $gan_bcontent_hide): ?>style="display:none;"<?php endif; ?> >
            <?php
            if (Mage::getStoreConfig('gomage_navigation/filter_settings/applied_values') != GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Appliedvalues::NO):
                ?>
                <?php $_filters = $this->getActiveFilters() ?>
                <?php if (!empty($_filters)): ?>
                <div class="currently">
                    <p class="block-subtitle"><?php echo $this->__('Currently Shopping by:') ?></p>
                    <ol>
                        <?php foreach ($_filters as $_filter): ?>
                            <li>
                                <span class="label"><?php echo $this->__($_filter->getName()) ?>:</span> <span
                                    class="value"><?php echo $this->stripTags($_filter->getLabel()) ?></span>
                                <?php
                                $clearLinkUrl = Mage::helper('gomage_navigation')->getClearLinkUrl($_filter);
                                if ($clearLinkUrl):
                                    ?>
                                    <a <?php if ($_filter->getAjaxEnabled() || ($_filter->getFilter()->getRequestVarValue() == 'cat')): ?> onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($clearLinkUrl); ?>'); return false;" <?php endif; ?>
                                        class="btn-remove"
                                        title="<?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>"
                                        href="<?php echo $clearLinkUrl ?>"><?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></a>
                                <?php else: ?>
                                    <a <?php if ($_filter->getAjaxEnabled() || ($_filter->getFilter()->getRequestVarValue() == 'cat')): ?> onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($this->getOptionUrl($_filter->getRemoveUrl())); ?>'); return false;" <?php endif; ?>
                                        class="btn-remove" href="<?php echo $_filter->getRemoveUrl() ?>"
                                        title="<?php echo $this->__('Remove This Item') ?>"><?php echo $this->__('Remove This Item') ?></a>
                                <?php endif; ?>
                            </li>
                        <?php endforeach; ?>
                    </ol>
                </div>
            <?php endif; ?>
            <?php endif; ?>

            <?php /** @var $this GoMage_Navigation_Block_Layer_View */
            if ($this->canShowOptions()): ?>
                <?php $_filters = $this->getFilters(); ?>
                <?php if ($moduleName == 'catalogsearch'): ?>
                    <?php foreach ($_filters as $_filter):
                        $filter_id = 'advancednavigation-filter-content-' . $_filter->_filter->getRequestVar();
                        if ($_filter->getName() != 'Category') continue;
                        ?>
                        <div id="navigation-top" class="narrow-by-list">
                            <h3 class="shop-cate">Search Results</h3>
                            <dl class="gan-attribute"
                                <?php if ($content_area && Mage::getStoreConfig('gomage_navigation/general/content_filters') == 'columns') : ?>style="width: <?php echo $filter_width; ?>" <?php endif; ?>>
                                <dt id="<?php echo $filter_id; ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-title"
                                    class="<?php echo ($_filter->canShowMinimized(Mage::helper('gomage_navigation')->getSide($check))) ? "filter-content-hide" : "filter-content-show"; ?>">
                                    <span
                                        class="filter-name"><?php echo $this->__('Refine By ') . $this->__($_filter->getName()) ?></span>
                                    <span class="filter-clear"><a
                                            href="<?php echo $this->getClearUrl(); ?>"><?php echo $this->__('Clear') ?></a></span>
                                    <?php if ($_filter->canShowPopup()): ?>

                                        <?php if (strlen($note_content)): ?>

                                            <?php if (Mage::getStoreConfig('gomage_navigation/filter/show_help') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Style_Showhelp::MOUSE_OVER): ?>
                                                <span class="filter-note-handle"
                                                      onmouseover="GomageNavigation.showNavigationNote('filter-<?php echo $_filter->getPopupId(); ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>'); GomageNavigation.mouseStatus(true);setTimeout('GomageNavigation.mouseStatus(false)',500);">?</span>
                                            <?php else: ?>
                                                <span class="filter-note-handle"
                                                      onclick="GomageNavigation.showNavigationNote('filter-<?php echo $_filter->getPopupId(); ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>')">?</span>
                                            <?php endif; ?>

                                        <?php endif; ?>

                                    <?php endif; ?>
                                    <?php if ($_filter->canShowResetFirler()): ?>
                                        <?php $_filter_reset = $this->getResetFirlerUrl($_filter, $_filter->ajaxEnabled()); ?>
                                        <?php if ($_filter_reset): ?>
                                            <a class="clear-filter" href="<?php echo $_filter_reset; ?>"
                                               <?php if ($_filter->ajaxEnabled()): ?>onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($_filter_reset); ?>'); return false;"<?php endif; ?> >Clear</a>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </dt>

                                <dd id="<?php echo $filter_id; ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>" <?php if ($_filter->canShowMinimized(Mage::helper('gomage_navigation')->getSide($check))) { ?> style="display:none;" <?php } ?> >


                                    <?php $_filter->setData('side', Mage::helper('gomage_navigation')->getSide($check)); ?>
                                    <?php $_filter->setData('content_area', $content_area); ?>
                                    <?php echo $_filter->getHtml() ?>
                                </dd>
                            </dl>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php if (!$content_area): ?>
                    <p class="block-subtitle">
                        <span><?php echo $this->__('Filter By:') ?></span>
                        <!--                <button class="button" onclick="setLocation('-->
                        <?php //echo $this->getClearUrl();?><!--')"><span><span>-->
                        <?php //echo Mage::helper('gomage_navigation')->getClearAll(); ?><!--</span></span></button>-->
                        <?php if (count($this->getActiveFilters()) > 0): ?>
                            <?php if (Mage::helper('gomage_navigation')->isGomageNavigationClearAjax()): ?>

                                <button class="button"
                                        onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($this->getClearUrl(true)); ?>'); return false;">
                                    <span><span><?php echo Mage::helper('gomage_navigation')->getClearAll(); ?></span></span>
                                </button>
                            <?php else: ?>
                                <button class="button" onclick="setLocation('<?php echo $this->getClearUrl(); ?>')">
                                    <span><span><?php echo Mage::helper('gomage_navigation')->getClearAll(); ?></span></span>
                                </button>
                            <?php endif; ?>

                        <?php endif; ?>
                    </p>
                <?php endif; ?>
                <div id="narrow-by-list-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>"
                     class="narrow-by-list filter-align-<?php echo Mage::getStoreConfig('gomage_navigation/general/content_filters'); ?>">
                    <?php $filter_width = $this->getFiltersWidth($check); ?>
                    <?php
                    $currentCategory = Mage::registry('current_category');
                    $currentLevel = null;
                    //                    $filterClothing   = array('color','size','clothing_size','price','designer');
                    //                    $filterTop        = array('color','size','clothing_size','price','designer','length','sleeve');
                    //                    $filterNewArrival = array('color','clothing_size','bra_size','shoes_size','price','designer','length','sleeve');
                    $urlCatArrId = array(
                        Mage::getStoreConfig('homepage/cat_block/new_arrival_cat'),
                        Mage::getStoreConfig('homepage/cat_block/back_in_stock_cat'),
                        Mage::getStoreConfig('homepage/cat_block/coming_soon_cat'),
                        Mage::getStoreConfig('homepage/cat_block/top_rate_cat'),
                        Mage::getStoreConfig('homepage/cat_block/almost_gone_cat'),
                    );
                    ?>

                    <?php
                    //Only Colour, Size, Price and Designer attributes should be in the FILTER BY block of the NEW ARRIVALS, BACK IN STOCK, COMING SOON, TOP RATED, ALMOST GONE pages
                    $controller = Mage::app()->getRequest()->getControllerName(); // return controller name
                    $action = Mage::app()->getRequest()->getActionName(); // return action name
                    $router = Mage::app()->getRequest()->getRouteName(); // return routes name
                    $module = Mage::app()->getRequest()->getModuleName(); // return module name
                    $smFilterBlock = array();
                    if($module == 'sm_filter' && $router == 'sm_filter' && $controller == 'index' && $action == 'index') {
                        $smFilterBlock = array('price', 'color', 'size', 'designer');
                    }
                    ?>


                    <?php foreach ($_filters as $_filter):
                        /*if (Mage::app()->getRequest()->getModuleName() == 'sm_filter') {
                            if ($_filter->getAttributeModel()
                                && !in_array($_filter->getAttributeModel()->getAttributeCode(), $filterNewArrival)
                            ) continue;
                        }*/

                        //Only Colour, Size, Price and Designer attributes should be in the FILTER BY block of the NEW ARRIVALS, BACK IN STOCK, COMING SOON, TOP RATED, ALMOST GONE pages
                        if(isset($smFilterBlock) && $smFilterBlock && $_filter->getAttributeModel() && !in_array($_filter->getAttributeModel()->getAttributeCode(), $smFilterBlock)) {
                            continue;
                        }

                        if (Mage::app()->getRequest()->getModuleName() == 'catalog') {
                            if ($_filter->getAttributeModel() && (is_array($_attributeCodes)
                                    && !in_array($_filter->getAttributeModel()->getAttributeCode(), $_attributeCodes))
                            ) continue;
                        }

                        if ($_filter->getAttributeModel() && strpos($_filter->getAttributeModel()->getAttributeCode(), "_discount_offer") !== false) {
                            continue;
                        }

                        // Remove some filter from default shop by block
                        if ($_filter->getAttributeModel() && in_array($_filter->getAttributeModel()->getAttributeCode(), array('discount_offer', 'stylist_pick', 'top_style'))) continue;
                        if ($_filter->getName() == 'Category') continue;
                        if ($content_area && !in_array($_filter->getFilter()->getAttributeModel()->getAttributeCode(), $refines)) {
                            continue;
                        }

                        $category = Mage::registry("current_category");
                        if ($category && in_array($category->getId(), explode(",", $_filter->getCategoryIdsFilter()))) {
                            continue;
                        }
                        $filter_id = 'advancednavigation-filter-content-' . $_filter->_filter->getRequestVar();
                        ?>

                        <?php if ($_filter->getItemsCount()
                        &&
                        ($_filter->getAttributeLocation() == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Filter_Attributelocation::USE_GLOBAL
                            ||
                            $_filter->getAttributeLocation() == $check)
                    ): ?>
                        <?php if (Mage::helper('gomage_navigation')->getFilterItemCount($_filter)): ?>
                            <?php if ($_filter->canShowPopup()): ?>
                                <?php $note_content = trim($_filter->getPopupText()) ?>
                                <?php if (strlen($note_content)): ?>
                                    <?php
                                    $styles = '';
                                    if ($content_width = $_filter->getPopupWidth()) {
                                        $styles .= "width:{$content_width}px;";
                                    }
                                    if ($content_height = $_filter->getPopupHeight()) {
                                        $styles .= "height:{$content_height}px;";
                                    }
                                    ?>

                                    <div
                                        id="filter-<?php echo $_filter->getPopupId(); ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content"
                                        class="filter-note-content"
                                        <?php if (Mage::getStoreConfig('gomage_navigation/filter/hide_help') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Style_Hidehelp::MOUSE_OUT): ?>
                                            onmouseout="setTimeout('GomageNavigation.hideNavigationNote(false, false)',200);"
                                        <?php endif; ?> >
                                        <div class="filter-note-content-in"
                                             onmouseover="GomageNavigation.mouseStatus(true);"
                                             onmouseout="GomageNavigation.mouseStatus(false);"
                                            <?php if ($styles): ?> style="<?php echo $styles; ?>" <?php endif; ?>>
                                            <?php if (Mage::getStoreConfig('gomage_navigation/filter/hide_help') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Style_Hidehelp::CLOSE_BUTTON): ?>
                                                <div class="gomage-help-close"
                                                     onclick="GomageNavigation.hideNavigationNote(true, 'filter-<?php echo $_filter->getPopupId(); ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>');">
                                                    &#x2715;</div>
                                            <?php endif; ?>
                                            <?php echo nl2br($note_content); ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if (!$content_area) { ?>
                                <!-- Begin Custom show attribute filter for each category-->
                                <?php
                                $flag = false;
                                if (isset($currentCategory)) {
                                    if (is_object($currentCategory)) {
                                        $currentLevel = $currentCategory->getLevel();
                                        if ($currentLevel >= 3) {
                                            //if(in_array($_filter->_filter->getRequestVar(),$filterTop)){
                                            $flag = true;
                                            //}
                                        } else if ($currentLevel == 2) {
                                            if (!in_array($currentCategory->getId(), $urlCatArrId)) {
                                                //if(in_array($_filter->_filter->getRequestVar(),$filterClothing)){
                                                $flag = true;
                                                //}
                                            } else {
                                                //if(in_array($_filter->_filter->getRequestVar(),$filterNewArrival)){
                                                $flag = true;
                                                //}
                                            }
                                        }
                                    }
                                } else {
                                    $flag = true;
                                }

                                ?>

                                <!-- Custom show attribute filter for each category  -->
                                <?php if ($flag): ?>
                                    <dl class="gan-attribute"
                                        <?php if ($content_area && Mage::getStoreConfig('gomage_navigation/general/content_filters') == 'columns') : ?>style="width: <?php echo $filter_width; ?>" <?php endif; ?>>
                                        <dt id="<?php echo $filter_id; ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-title"
                                            class="<?php echo ($_filter->canShowMinimized(Mage::helper('gomage_navigation')->getSide($check))) ? "filter-content-hide" : "filter-content-show"; ?>">
                                            <span
                                                class="filter-name"><?php echo $this->__($_filter->getName()) ?></span>

                                            <?php if ($_filter->canShowPopup()): ?>

                                                <?php if (strlen($note_content)): ?>

                                                    <?php if (Mage::getStoreConfig('gomage_navigation/filter/show_help') == GoMage_Navigation_Model_Adminhtml_System_Config_Source_Style_Showhelp::MOUSE_OVER): ?>
                                                        <span class="filter-note-handle"
                                                              onmouseover="GomageNavigation.showNavigationNote('filter-<?php echo $_filter->getPopupId(); ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>'); GomageNavigation.mouseStatus(true);setTimeout('GomageNavigation.mouseStatus(false)',500);">?</span>
                                                    <?php else: ?>
                                                        <span class="filter-note-handle"
                                                              onclick="GomageNavigation.showNavigationNote('filter-<?php echo $_filter->getPopupId(); ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-note-content', this, '<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>')">?</span>
                                                    <?php endif; ?>

                                                <?php endif; ?>

                                            <?php endif; ?>
                                            <?php if ($_filter->canShowResetFirler()): ?>
                                                <?php $_filter_reset = $this->getResetFirlerUrl($_filter, $_filter->ajaxEnabled()); ?>
                                                <?php if ($_filter_reset): ?>
                                                    <a class="clear-filter" href="<?php echo $_filter_reset; ?>"
                                                       <?php if ($_filter->ajaxEnabled()): ?>onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($_filter_reset); ?>'); return false;"<?php endif; ?> >Clear</a>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </dt>

                                        <dd id="<?php echo $filter_id; ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>" <?php if ($_filter->canShowMinimized(Mage::helper('gomage_navigation')->getSide($check))) { ?> style="display:none;" <?php } ?> >


                                            <?php $_filter->setData('side', Mage::helper('gomage_navigation')->getSide($check)); ?>
                                            <?php $_filter->setData('content_area', $content_area); ?>
                                            <?php echo $_filter->getHtml() ?>
                                        </dd>
                                    </dl>
                                <?php endif; ?>
                            <?php } else { ?>
                                <dl class="gan-attribute"
                                    <?php if ($content_area && Mage::getStoreConfig('gomage_navigation/general/content_filters') == 'columns') : ?>style="width: <?php echo $filter_width; ?>" <?php endif; ?>>
                                    <dt data-id="<?php echo $_filter->_filter->getRequestVar(); ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>"
                                        id="<?php echo $filter_id; ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>-title"
                                        class="filter-content-toggle <?php echo ($_filter->canShowMinimized(Mage::helper('gomage_navigation')->getSide($check))) ? "filter-content-hide" : "filter-content-show"; ?>">
                                        <span class="filter-name"><?php echo $this->__($_filter->getName()) ?></span>
                                    </dt>

                                    <dd id="<?php echo $filter_id; ?>-<?php echo Mage::helper('gomage_navigation')->getSide($check); ?>"
                                        style="display:none;">
                                        <?php if ($_filter->canShowResetFirler()): ?>
                                            <?php $_filter_reset = $this->getResetFirlerUrl($_filter, $_filter->ajaxEnabled()); ?>
                                            <?php if ($_filter_reset): ?>
                                                <a href="<?php echo $_filter_reset; ?>"
                                                   <?php if ($_filter->ajaxEnabled()): ?>onclick="GomageNavigation.setNavigationUrl('<?php echo urlencode($_filter_reset); ?>'); return false;"<?php endif; ?> >Reset</a>
                                            <?php endif; ?>
                                        <?php endif; ?>

                                        <?php $_filter->setData('side', Mage::helper('gomage_navigation')->getSide($check)); ?>
                                        <?php $_filter->setData('content_area', $content_area); ?>
                                        <?php echo $_filter->getHtml() ?>
                                        <button href="#" class="filter-content-cancel">Cancel</button>
                                        <button href="#">Apply</button>
                                    </dd>
                                </dl>
                            <?php } ?>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php endforeach; ?>

                    <?php if ($content_area): ?>
                        <p class="block-subtitle">
                            <button class="button" onclick="setLocation('<?php echo $this->getClearUrl(); ?>')">
                                <span><span><?php echo Mage::helper('gomage_navigation')->getClearAll(); ?></span></span>
                            </button>
                        </p>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
            </div>
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
