<?php

    $login= Mage::getStoreConfig('video/video_group/login');
    $width  = Mage::getStoreConfig('video/video_group/width');
    $height = Mage::getStoreConfig('video/video_group/height');
    $strech = Mage::getStoreConfig('video/video_group/stretch');
    $autostart = Mage::getStoreConfig('video/video_group/autostart');
    $controls = Mage::getStoreConfig('video/video_group/controls');
    $controlbar = Mage::getStoreConfig('video/video_group/controlbar');

     $autostart= $autostart == 1 ? 'true' : 'false';
     $controls= $controls == 1 ? 'true' : 'false';
     $controlbar= $controlbar == 1 ? 'over' : 'none';

     $flag=1;

 ?>

 <?php if($login): ?><?php if(!Mage::helper('customer')->isLoggedIn()): $flag=0; endif; ?><?php endif; ?>

  <?php if($flag): ?>

        <?php    $_product = $this->getProduct();?>

        <?php if( $video = $_product->getVideo() ){ ?>
        <?php
             $video_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."blfa_files/".$video;
             $swf_url   = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)."video/player.swf";
        ?>
        <div class="product_video" onmouseover="$('close_a').show();" onmouseout="$('close_a').hide()" >

        <?php if( file_exists( getcwd() .'/media/blfa_files/'. $video ) ){ ?>


        <div class="video" id="vid" <?php if($autostart=='true'): ?>style=display:block <?php endif; ?> >
            <div class="a_container"> <a href="#" onclick="stopVideo()" style="display:none" id="close_a"> <img src="<?php echo $this->getSkinUrl('images/video/close.jpg') ?>" width="18"/> </a></div>
            <div id="container" >Loading the player ...</div>
        </div>

        <?php } else { ?>
             <script> alert("video <?php echo $video ?> not found");</script>
        <?php } ?>
        </div>
        <?php } ?>
    <?php endif ;?>


 <script type="text/javascript">
    jwplayer("container").setup({
        flashplayer: "<?php echo $swf_url ?>",
        autostart: <?php  echo $autostart ?>,
        controlbar: "<?php echo $controlbar ?>",
        file: "<?php  echo $video_url ?>",
        //type: 'mp4',
        controls:<?php  echo $controls ?>,
      logo: {
                hide: true,
                position: 'top-left'

        },
                width: '<?php  echo $width ?>',
                height: '<?php  echo $height ?>',
                stretching:'<?php  echo $strech ?>',
                screencolor:'FFFFFF',
                //fallback:false,

               plugins: {
                  'viral-2': {'oncomplete':'False','onpause':'False','functions':'All'}
               },
                events: {
                onComplete: function() {document.getElementById('vid').style.display="none" ;}
                }
    });

  </script>

